<!--Page main section start-->



<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">Table</h3>
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active">Table</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->



            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Upload Table</h3>
                        </div>
                        <div class="panel-body">
                            <!--Table Wrapper Start-->
                            <div class="table-responsive ls-table">
                                <table class="table table-bordered table-bottomless" id="ls-row">
                                    <thead>
                                        <tr>
                                            <th>Label</th>
                                            <th>Upload File</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <?php foreach ($Uploads as $upload) : ?>
                                                <td><?php echo $this->escapeHtml($upload->label); ?></td>
                                                <td><?php echo $this->escapeHtml($upload->filename); ?></td>
                                                <?php $element = $this->img('../images/advertiserimage/' . $upload->filename, array('id' => 'logo', 'title' => 'Cool Company', 'width'=>100, 'height'=>20)); ?>
                                                <td><?php echo $this->formImage($element);?></td>
                                               
                                                <td>
                                                    <a href="<?php
                                                       echo $this->url('user/media', array('action' => 'edit', 'id' => $upload->id));
                                                       ?>">Edit</a> 
                                                </td>
                                                <td>
                                                    <a href="<?php
                                                       echo $this->url('user/media', array('action' => 'delete', 'id' => $upload->id));
                                                       ?>" onclick="return confirm('Are you sure?')">Delete</a>
                                                </td>
                                            </tr>

<?php endforeach; ?>

                                    </tbody>
                                </table>
                            </div>
                            <!--Table Wrapper Finish-->
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row form-box">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="ls-button-group border-bottom demo-btn">
                                <button class="btn btn-success" onclick="window.location.href = '<?php echo $this->url('user/media', array('action' => 'upload'));
?>'">Upload</button>

                            </div>

                        </div>
                    </div>
                </div>
                <!--Table Wrapper Finish-->
            </div>
        </div>
    </div>
</div>



<!--Table Wrapper Finish-->
</div>
</div>
</div>
</div>
<!-- Main Content Element  End-->

