

<?php
$title = 'Edit user';
$this->headTitle($title);
?>
<?php if ($this->error): ?>
    <p class="error">
        There were one or more issue with your submission. Please correct them as indicated below.
    </p>
<?php endif ?>
<?php
$form = $this->form;
$form->prepare();
$form->setAttribute('action', $this->url('user/usermanager', array('action' => 'process')));
$form->setAttribute('method', 'post');
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
?>
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">Sample Form</h3>
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Form Staffs</a></li>
                        <li class="active">Sample Form</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add new user</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form">
                                <div class="form-group">
                                    <label>Name</label>
                                    <?php echo $this->formRow($form->get('name')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <?php echo $this->formRow($form->get('email')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <?php echo $this->formRow($form->get('password')); ?>
                                </div>
                                <div class="form-group">
                                    <label>User Type</label>
                                    <?php echo $this->formRow($form->get('user_type')); ?>

                                </div>
                                <div class="form-group">
                                    <label>Registration Date</label>
                                    <?php echo $this->formRow($form->get('registration_date')); ?>

                                </div>

                                <div class="checkbox i-checks">
                                    <label>
                                        <input type="checkbox" name="check_out" checked="checked">
                                        <i></i> Check me out
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

