<?php  
  $front_home_asset_path = 'public/front/home/';
  $state = rand(1000000,99999999);
  $_SESSION['gstate'] = $state;
  $logged_in_email = '';
  if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
    $logged_in_email = $_SESSION['user']->email;
  }      
?>
<!DOCTYPE html>
<html lang="en">
<script>
  var site_url = "http://ownrock.com/";
</script>
<head>
<base href="http://localhost/ownrock/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="assets/ico/favicon.png">
<title>404 Page not found</title>
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="<?php echo $front_home_asset_path;?>css/main.css" rel="stylesheet">    

<link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
<link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">  
  

 <!-- Custom styles for this template -->

<link href="<?php echo $front_home_asset_path;?>css/font-awesome.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  

</head><!--/head-->

<body>
  <div class="container text-center">
    <div class="logo-404"><a href="index.html"><img src="images/home/logo.png" alt="" /></a></div>
    <div class="content-404 text-center">
      <img src="http://localhost/ownrock/public/images/404/404.png" class="img-responsive" alt=""  style="margin:100px auto"/>
      <h1><b>OPPS!</b> We Couldn’t Find this Page</h1>
      <p class="text-center">Uh... So it looks like you brock something. The page you are looking for has up and Vanished.</p>
      <h2><a href="index.html">Bring me back Home</a></h2>
    </div>
  </div>
</body>
</html>