.desSlideshow{
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.desSlideshow .switchBigPic,.desSlideshow .mm{
    display: none;
}

.texb{ font-weight:bold;line-height:40px;}