<?php $currenturi = $this->serverUrl(true); 
//echo '<pre>'; print_r($_SERVER); exit;
//echo $user_session->user_id; exit;
?>

<section class="edit-profile">
  <div class="container" style="z-index:1; position:relative;">
    <div class="row">
      <div class="col-lg-3 col-sm-5 col-xs-3">
        <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
          <a href="/user/photographer/profile/<?php echo $_SESSION['user']->user_id;?>">
           <?php
            if($photographerdata->profilepic=="")
            {?>
                <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } else {?>
            <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } ?>
            </a>
        </div>
        <?php
        if($_SESSION['user']->user_id == $photographerdata->user_id)
        {

            echo "<a href='user/photographer/editprofile' class='btn btn-success pull-left' style='margin-left:20px;'>Edit Profile</a>";
        }
        ?>
        
          
      </div>
      <div class="col-lg-5 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-left">
          <div class="detail-box-first">
            <h3><?php echo $photographerdata->name; ?></h3>
            <p class="desc-profile "><?php echo $photographerdata->tagline; ?></p>
            <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
            <p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-right">
          <div class="detail-box-first">
            <ul class="list-inline">
              <li><a data-toggle="modal" data-target="#myRateModal" href="#myRateModal" ><i class="fa fa-star"></i> 5 Rated</a></li>
             
              
              <?php 
              if($_SESSION['user']->user_id != $photographerdata->user_id)
              {
                if(!empty($_COOKIE['user']))
                {
                  if(in_array($pg_id,$_COOKIE['user']))
                  {
                    echo "<li id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                    echo "<li id = 'shortstatus' style='display:none;' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  } 
                  else 
                  {
                    echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                    echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                  } 
                }
                else 
                {
                  echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                } 
              } ?>
              
            </ul>
            <p>Rate: <?php echo $photographerdata->price; ?> INR/PNG</p>
          </div>
          <a href="<?php echo $currenturi; ?>#contact" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
        <h4 id="myModalLabel" class="modal-title">Rating & Review Here</h4>
      </div>
      <div class="modal-body">
        <div id="rate-block" class="row centered">
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                      
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="rating-form" name="logn-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Stars</label>
              <input id="input-21e" value="0" type="number" class="rating" min=0 max=5 step=1 data-size="xs" name = "ratestar">
              <p id = "starerror"></p>
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-review">Review</label>
              <textarea  name="ratereview" placeholder="Your Review Here" class="form-password form-control" id="ratereview"></textarea>
              <p id = "reviewerror"></p>
            </div>

            <div class="form-group">
              <label class="sr-only" for="form-username">Name</label>
              <input type="text" name="ratename" placeholder="Name" class="form-username form-control" id="ratename">
              <p id = "nameerror"></p>
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="rateemail" placeholder="Email" class="form-username form-control" id="rateemail">
              <p id = "emailerror"></p>
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-phone">Phone</label>
              <input type="text" name="ratephone" placeholder="Phone" class="form-password form-control" id="ratephone">
              <p id = "phoneerror"></p>
            </div>
            
            <p class="btn btn-danger btn btn-primary btn-md" onclick="javascript:validate_rating()" id="otpBtn">Send OTP </p>
            <p class="btn-success" id="otpmsg"></p>
            <p id="otperrormsg"></p>
            
            <div style ="display:none;" id = "otpsection">
              <div class="modal-footer" >
                <div class="form-group">
                  <label class="sr-only" for="form-username">OTP</label>
                  <input type="text" name="rateotp" placeholder="OTP" class="form-username form-control" id="rateotp">
                  <p id = "otperror"></p>
                </div>
              </div>
              <button type="button" class="btn btn-danger btn btn-primary btn-sm centered" onclick="javascript:validate_otp()" id="submitbtn">Submit</button>
              <button type="button" class="btn btn-success btn btn-primary btn-sm centered" onclick="javascript:resend_otp()" id="resendBtn">Resend OTP</button>
             

            </div>
          </form>
        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
function validate_rating()
{
  /*var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/; */
  $("#starerror").html("");
  $("#nameerror").html("");
  $("#emailerror").html("");
  $("#phoneerror").html("");
  $("#reviewerror").html("");

  var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
  var star = $("#input-21e").val();
  var name = $("#ratename").val();
  var email = $("#rateemail").val();
  var phone = $("#ratephone").val();
  var review = $("#ratereview").val();
  

  //alert(review);
  //alert(phone);

  if(star == 0 )
  {
   $("#starerror").html("Star Rating can't be zero");
   $("#starerror").css("color", "red");
   return false;
  }
  else if(review == '')
  {
    $("#reviewerror").html("Review cant be empty");
    $("#reviewerror").css( "color", "red");
    return false;
  }
  else if(name == "" )
  {
   $("#nameerror").html("Name can't be empty");
   $("#nameerror").css("color", "red");
   return false;
  }
  else if(email == "" )
  {

   $("#emailerror").html("Email can't be empty");
   $("#emailerror").css("color", "red");
   return false;
  }
  else if(!emailRegex.test(email))
  {
   $("#rateemail").val("");
   $("#emailerror").html("Email can't be invalid");
   $("#emailerror").css("color", "red");
   return false;
  }
  else if(phone == "")
  {
   //$("#password").focus();
   $("#phoneerror").html("Phone can't be empty");
   $("#phoneerror").css( "color", "red");
   return false;
  }
  else if(isNaN(phone))
  {
    $("#phoneerror").html("Phone can only be numeric");
    $("#phoneerror").css( "color", "red");
    return false;
  }
  else if(phone.length!=10)
  {
    $("#phoneerror").html("Phone can only be 10 digits long");
    $("#phoneerror").css( "color", "red");
    return false;
  }
  else
  {    
    
    var pg_id = "<?php echo $pg_id; ?>";
    var ajax_url= site_url+'/user/photographer/rating';
    $.ajax({
        url: ajax_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {pg_id: pg_id, star: star, review: review, name: name, email: email, phone: phone, review: review },
        
        success: function(data) { 
            if(data.response == 'success')
            {
              $("#otpBtn").hide();
              $("#ratestar").attr('readOnly','readOnly') ;
              $("#ratereview").attr('readOnly','readOnly');
              $("#ratename").attr('readOnly','readOnly') ;
              $("#rateemail").attr('readOnly','readOnly') ;
              $("#ratephone").attr('readOnly','readOnly') ;
              $("#otpmsg").html("Please Enter OTP");
              $("#otperrormsg").html(data.message);
              $("#otperrormsg").css('color','#54ba4e');
              $("#otpsection").css('display','block');
            }
            else
            {
              $("#otperrormsg").html(data.message);
              $("#otperrormsg").css('color','red');
              //alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });

  }
}
</script>

<script>
function resend_otp()
{
  //alert("hi");
  $("#otperrormsg").html('');
  var pg_id = "<?php echo $pg_id; ?>";
  var phone = $("#ratephone").val();
  var ajax_url= site_url+'/user/photographer/resendotp';
  $.ajax({
      url: ajax_url,
      data: {pg_id: pg_id, phone: phone},
      
      success: function(data) { 
          if(data.response == 'success')
          {
            //$("#otpBtn").hide();
            //$("#otpmsg").html("Please Enter OTP");
            $("#otperrormsg").html(data.message);
            $("#otperrormsg").css('color','#54ba4e');
            //$("#otpsection").css('display','block');
          }
          else
          {
            $("#otperrormsg").html(data.message);
            $("#otperrormsg").css('color','red');
            //alert('An error has occurred!');
          }
      },
      type: 'POST',
      dataType: 'json',
  });


}
</script>

<script>
function validate_otp()
{
  /*var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/; */
  
  $("#errorerror").html("");
  var otp = $("#rateotp").val();
  var phone = $("#ratephone").val();

  //alert(review);
  //alert(phone);

  if(otp == '' )
  {
    $("#otperror").html("OTP can't be empty");
    $("#otperror").css("color", "red");
   return false;
  }

  else
  {    
    var pg_id = "<?php echo $pg_id; ?>";
    var ajax_url= site_url+'/user/photographer/verifyotp';
    $.ajax({
        url: ajax_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {pg_id: pg_id, otp: otp , phone: phone},
        
        success: function(data) { 
            if(data.response == 'failed')
            {
                $("#otperror").html(data.message);
                $("#otperror").css('color','red');
            }
            else
            {
              $("#otperror").html(data.message);
              $("#otperror").css('color','#54ba4e');
              
              $("#input-21e").val('');
              $("#ratename").val('');
              $("#rateemail").val('');
              $("#ratephone").val('');
              $("#ratereview").val('');
              $("#rateotp").val('');
            }
        },
        type: 'POST',
        dataType: 'json',
    });

  }
}
</script>

