<?php $front_asset_path = '/zend/public/front/';
     $aimg_path = '/zend/public/images/advertiserimage/';
?>    
<!-- Header -->
    <header>
    <div class="container" style="padding:0px">
    <nav class="navbar navbar-default y-set-top">
        <div class="container-fluid">
          <a class="navbar-brand y-brand" href="#">OwnRock</a> 
           <div  class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a data-toggle="modal" data-target="#myModal1" href="#myModal">SIGN UP</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal">LOG IN</a></li>
            </ul>
          </div>
        
        </div>
 <!---->     </nav>
    </div>
      <div class="container text-center">
            <div class="row">
            
 
              <div class="col-lg-12"> <div class="avatar"> <img class="img-responsive" src="<?php echo $aimg_path . str_replace('_pp_','_tn150x150_',$merchant_result->profilepic);?>" alt="" width="150"> </div>
                <div class="intro-text"> <span class="name"><?php echo $merchant_result->name;?></span>
                
                  <span class="skills"><?php echo $merchant_result->profession;?></span><br />
                   <hr class="star-light">
                 
                  <span style="padding:10px;color:#000;font-size:18px;">Rate | <?php echo $merchant_result->rate?> INR</span> <span style="padding:10px;color:#000;font-size:18px;">Projects | <?php echo $total_projects;?></span> <span style="padding:10px;color:#000;font-size:18px;">Availability  | <?php echo $merchant_result->availability;?>h/week</span></div>
              </div>
            </div>
        </div>
        </div>
            <div class="location">
      <div class="tran-black"> <i class="fa fa-map-marker"></i> Mumbai </div>
      <div class="tran-black"> <i class="fa fa-phone"></i> +91-971-33233-54 </div>
      <a class="tran-black"  href="#contact"> <i class="fa fa-paper-plane"></i> Send a message </a> </div>
    <div class="down-arrow-circle">
      <div id="animated-example" class="animated bounce arrow"> <a class="down-arow" href="#portfolio"> <i class="fa fa-arrow-down"></i></a> </div>
    </div>
  </div>
    </header>
    
    <div class="for-making-menu"></div>

<nav class="navbar navbar-default ">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#page-top">Own Rock</a> </div>
      
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"> <a href="#page-top"></a> </li>
        <li class="page-scroll"> <a href="#portfolio"><i class="fa fa-th-list"></i> Portfolio</a> </li>
        <li class="page-scroll"> <a href="#about"><i class="fa fa-user"></i> About</a> </li>
        <li class="page-scroll"> <a href="#endorsement"><i class="fa fa-trophy"></i> Endorsement</a> </li>
        <li class="page-scroll"> <a href="#contact"><i class="fa fa-envelope-o"></i> Contact</a> </li>
        <!--<li class="page-scroll">
                       <a href="#"><button type="button" class="btn btn-outline"><i class="fa fa-briefcase"></i> Hire Me</button></a>
                    </li>-->
        
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12">
                                    <?php foreach($skill_result as $skey=>$sval):?>
                                        <a class="btn btn-default" href="#" role="button"><?php echo $sval['skill']?></a>
                                    <?php endforeach;?>
				</div>
			 </div>
			 <div class="row"></div>	 
                         
                         <?php 
                         $i = 2;
                         foreach($project_result as $row){ 
                             if ($i%2 == 0) { ?>
                                    <div class="row" style="margin-top:3%;">
				  <div class="col-sm-4">
				  <div class="container">
                                                        <!-- thumb navigation carousel -->
                                                    <!-- main slider carousel -->
                                                    <div class="row">
                                                        <div class="col-md-4" id="slider">
                                                                <div class="col-md-12" id="carousel-bounding-box">
                                                                    <div id="myCarousel" class="carousel slide" style="border:2px solid grey; padding:2px;">
                                                                        <!-- main slider carousel items -->
                                                                        <div class="carousel-inner">
                                                                
                                                                <?php 
                                                                $j=0;
                                                                for($k=0;$k<count($image_result[$row->project_id]);$k++) { 
                                                                    if($k == 0){
                                                                        $class = 'active ';
                                                                    }else{
                                                                        $class = '';
                                                                    }
                                                                ?>
                                                                    <div class="<?php echo $class;?>item" data-slide-number="<?php echo $j;?>">
                                                                        <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.$image_result[$row->project_id][$k]['filename'];?>" class="img-responsive">
                                                                            </div>
                                                                <?php  
                                                                    $j++;
                                                                    } 
                                                                ?>
                                                                
                                                                            </div>
                                                            <!-- main slider carousel nav controls --> <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lt;</a>
                                                            <a class="carousel-control right" href="#myCarousel" data-slide="next">&gt;</a>
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                    <!--/main slider carousel-->
                                                        <div class="col-md-4 hidden-sm hidden-xs" id="slider-thumbs">
                                                            <!-- thumb navigation carousel items -->
                                                          <ul class="list-inline" style="padding:20px;">
                                                              
                                                              <?php 
                                                                $p=0;
                                                                for($m=0;$m<count($image_result[$row->project_id]);$m++) { 
                                                                    if($m == 0){
                                                                        $class = 'selected';
                                                                    }else{
                                                                        $class = '';
                                                                    }
                                                                ?>
                                                              
                                                          <li> <a id="carousel-selector-<?php echo $m?>" class="<?php echo $class?>">
                                                            <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.$image_result[$row->project_id][$p]['thumbnail'];?>" class="img-responsive">
                                                          </a></li>
                                                          
                                                          <?php  
                                                                    $p++;
                                                                    } 
                                                                ?>
                                                          
                                                            </ul>
                                                    </div>
                                                </div>
                          </div>
                          <div class="col-sm-4">
                                <h4 class="extra" style="padding-bottom:10px;">Project Description</h4>
                                <p><span class="dropcap red"><?php echo substr($row->about,0,1);?></span><?php echo substr($row->about,1);?></p>
                          </div>
                          <div class="col-sm-4">
                                <h4 class="extra" style="padding-bottom:10px;"><?php echo $row->project_name;?></h4>
                                <div class="table-responsive">
                                  <table class="table">
              <tr>
                <td><i class="fa fa-star-o"></i></td>
                                        <td>Categories</td>
                <td>Agency, Business, Branding</td>
              </tr>
                                         <tr>
                <td><i class="fa fa-star-o"></i></td>
                                        <td>Categories</td>
                <td>Agency, Business, Branding</td>
              </tr>
              <tr>
                <td><i class="fa fa-star-o"></i></td>
                                        <td>Categories</td>
                <td>Agency, Business, Branding</td>
              </tr>
               <tr>
                <td><i class="fa fa-star-o"></i></td>
                                        <td>Categories</td>
                <td>Agency, Business, Branding</td>
              </tr>
              <tr>
                <td><i class="fa fa-star-o"></i></td>
                                        <td>Categories</td>
                <td>Agency, Business, Branding</td>
              </tr>
                                  </table>
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-lg btn-outline1"><i class="fa fa-rocket"></i> Launch Project</button></a>
                                </div>
                          </div>
                </div>
                             <?php }else { ?>
                         
                                    <div class="row" style="margin-top:2%;">

				  <div class="col-sm-4">
					<h4 class="extra" style="padding-bottom:10px;">Project Description</h4>
					<p><span class="dropcap red"><?php echo substr($row->about,0,1);?></span><?php echo substr($row->about,1);?></p>
				  </div>
				  <div class="col-sm-4">
					<h4 class="extra" style="padding-bottom:10px;"><?php echo $row->project_name;?></h4>
					<div class="table-responsive">
					  <table class="table">
                      <tr>
                      	<td><i class="fa fa-star-o"></i></td>
						<td>Categories</td>
                        <td>Agency, Business, Branding</td>
                      </tr>
						 <tr>
                      	<td><i class="fa fa-star-o"></i></td>
						<td>Categories</td>
                        <td>Agency, Business, Branding</td>
                      </tr>
                      <tr>
                      	<td><i class="fa fa-star-o"></i></td>
						<td>Categories</td>
                        <td>Agency, Business, Branding</td>
                      </tr>
                       <tr>
                      	<td><i class="fa fa-star-o"></i></td>
						<td>Categories</td>
                        <td>Agency, Business, Branding</td>
                      </tr>
                      <tr>
                      	<td><i class="fa fa-star-o"></i></td>
						<td>Categories</td>
                        <td>Agency, Business, Branding</td>
                      </tr>
					  </table>
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-default btn-lg">Launch Project</button></a>
					</div>
				  </div>
				  				  <div class="col-sm-4">
					
                                                                      
                                                                      <div class="container">
					<!-- thumb navigation carousel -->
					<!-- main slider carousel -->
						<div class="row">
							<div class="col-md-4" id="slider">
                                                                <div class="col-md-12" id="carousel-bounding-box">
                                                                        <div id="myCarousel1" class="carousel slide" style="border:2px solid grey; padding:2px;">
                                                                                <!-- main slider carousel items -->
                                                                                <div class="carousel-inner">
                                                                                        <?php 
                                                                                            //print_r($image_result[$row->project_id]);
                                                                                        
                                                                                                $r=0;
                                                                                                for($x=0;$x<count($image_result[$row->project_id]);$x++) { 
                                                                                                    if($x == 0){
                                                                                                        $class = 'active ';
                                                                                                    }else{
                                                                                                        $class = '';
                                                                                                    }
                                                                                                    
                                                                                                ?>
                                                                                                    <div class="<?php echo $class;?>item" data-slide-number="<?php echo $r;?>">
                                                                                                        <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.$image_result[$row->project_id][$x]['filename'];?>" class="img-responsive">
									</div>
                                                                                                <?php  
                                                                                                    $r++;
                                                                                                    } 
                                                                                                ?>
									</div>
                                                                                <!-- main slider carousel nav controls --> <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lt;</a>
                                                                                <a class="carousel-control right" href="#myCarousel1" data-slide="next">&gt;</a>
									</div>
									</div>
					</div>
				  </div>
                                                        <!--/main slider carousel-->
                                                            <div class="col-md-4 hidden-sm hidden-xs" id="slider-thumbs">
                                                                <!-- thumb navigation carousel items -->
                                                              <ul class="list-inline" style="padding:20px;">
                                                                  <?php 
                                                                $q=0;
                                                                for($n=0;$n<count($image_result[$row->project_id]);$n++) { 
                                                                    if($n == 0){
                                                                        $class = 'selected';
                                                                    }else{
                                                                        $class = '';
                                                                    }
                                                                ?>
                                                              
                                                          <li> <a id="carousel-selector1-<?php echo $q?>" class="<?php echo $class?>">
                                                            <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.$image_result[$row->project_id][$n]['thumbnail'];?>" class="img-responsive">
                                                          </a></li>
                                                          
                                                                <?php  
                                                                    $q++;
                                                                    } 
                                                                ?>
                                                              </ul>
			</div>
                                                                  </div>
                         
				  </div>
			</div>
                         
                         <?php } 
                            $i++;
                            }
                         ?>
		 
	</div>
    </section>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
<!--                <div class="col-lg-4 col-lg-offset-2">
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
                </div>-->
<!--                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>-->

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p><?php echo $merchant_result->longdescription; ?></p>
                </div>    

            </div>
        </div>
    </section>
<!--endorsement section-->
<section id="endorsement">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Endorsement</h2>
                    <hr class="star-primary">
                </div>
            </div>
			 <div class="row">
                             
                             <div class="col-lg-8 col-lg-offset-2 text-center">
                                     <div class="col-md-1">
					<img class="img-responsive" src="<?php echo $front_asset_path;?>img/man-icon.png" alt="">
                                     </div>
                                     <div class="col-md-5" style="width:90%;text-align: left;">
                                           <h5>Brand Dennis,Apple Inc.</h5>
                                           <blockquote style="padding:0px;border:0px;">
                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                           </blockquote>
                                     </div>
                                     <div class="col-md-1">
					<img class="img-responsive" src="<?php echo $front_asset_path;?>img/man-icon.png" alt="">
                                     </div>
                                     <div class="col-md-5" style="width:90%;text-align: left;">
                                           <h5>Brand Dennis,Apple Inc.</h5>
                                           <blockquote style="padding:0px;border:0px;">
                                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                           </blockquote>
                                     </div>
                            </div>

                        </div>
		</div>
</section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <input type="hidden" class="form-control" placeholder="Name" id="mercemail" name="mercemail" value="<?php echo $merchant_result->email;?>">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0">
                        <div class="modal-body">
                            <h2 style="text-align:center;">Project Title</h2>
                            <hr class="star-primary">
							<div class="row">
							<div class="col-lg-12 col-lg-offset-0">
							<!--corousel starts-->
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								  <!-- Indicators -->
								  <ol class="carousel-indicators">
									<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								  </ol>
								  <!-- Wrapper for slides -->
								  <div class="carousel-inner" role="listbox">
									<div class="item active">
									  <img src="<?php echo $front_asset_path;?>img/portfolio/11.png" alt="Ultino Properties">
									  <div class="carousel-caption">
									  Screenshot 1
									  </div>
									</div>
									<div class="item">
									  <img src="<?php echo $front_asset_path;?>img/portfolio/22.png" alt="S9 Financial Planners">
									  <div class="carousel-caption">
									   Screenshot 2
									  </div>
									</div>
									<div class="item">
									  <img src="<?php echo $front_asset_path;?>img/portfolio/33.png" alt="S9 Financial Planners">
									  <div class="carousel-caption">
									   Screenshot 3
									  </div>
									</div>
									<div class="item">
									  <img src="<?php echo $front_asset_path;?>img/portfolio/44.png" alt="S9 Financial Planners">
									  <div class="carousel-caption">
									  Screenshot 3
									  </div>
									</div>
								  </div>
								  <!-- Controls -->
								  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								  </a>
								  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								  </a>
							</div>
						   <!--corosel ends-->
						   </div>
						   </div>
						   <div class="row">
							<div class="col-lg-8">
							&nbsp;
							<h3>Project Description</h3>
                            <p style="text-align:justify;">UAenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
							 <p style="text-align:justify;">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</p>
							</div>
							<div class="col-lg-4">
							&nbsp;
							<h3>My Role</h3>
							 <ul>
							 <li style="font-size:20px;text-align:justify;">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  </li>
							 <li style="font-size:20px;text-align:justify;">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                            </ul>
							</div>
							</div>
							<hr />
							<div class="row">
							<div class="col-lg-4">
							<h4>Client:</h4>
							<p><a href="www.webdakaar.com">Webdakaar Digital Consultancy LLP.</a></p>
							<h4>Date:</h4>
							<p>April 2015</a></p>
							<h4>Service:</h4>
							<p>Web Development</a></p>
							</div>
							<div class="col-lg-4">
							<h4>Time to complete</h4>
							<p>3 - 7 days</p>
							<h4>Cost</h4>
							<p>Rs.5000 - Rs.10,000
							</div>
							<div class="col-lg-4">
							<h4>My Skills</h4>
							<p class="bg-success">HTML5 / CSS3</p>
							<p class="bg-success">Javascript / Jquery</p>
							<p class="bg-success">Bootstrap</p>
							<p class="bg-success">Wordpress</p>
							<p class="bg-success">PHP / Mysql</p>
							</div>
							</div>
							<hr />
							<div class="row">
							<div class="col-lg-12" style="text-align:center;margin-top:20px;">
                           <font style="font-size:24px;">Think my work is awesome? </font><br />
						   <a href="#"><button type="button" class="btn btn-default" style="background:#54ba4e;"><i class="fa fa-rocket"></i>Click here to hire me</button></a> <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></p>
                          
							</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>