.view {
height: 200px;
float: left;
overflow: hidden;
position: relative;
text-align: center;
cursor: default;
background:rgba(0,0,0,0.9);
/*text-shadow:1px 1px 1px rgba(0,0,0,0.5);*/
}
.view .mask,.view .content {
   width: 100%;
   height: auto;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}

.view::before{
    display:block;
    content:'';
	z-index:100;
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0px 0px 0px 4px rgba(0,0,0,0.2);
    box-shadow:inset 0px 0px 0px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	
}

.view h2 {
  z-index:200;
  color: #fff !important;
  text-align: center;
  position: relative;
  font-weight:bold;
  font-size:24px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 0px 0 0 0;
}
.view p {
  z-index:200;
  font-size:14px;
  position: relative;
  color: #fff !important;
  padding:10px 20px;
  text-align: center;
}
.view a{
z-index:200;
position:relative;
	}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}