@charset "utf-8";

/* CSS Document */




html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,  article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 100%;

	font: inherit;

	vertical-align: baseline;

}





/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display: block;

}

/*body {

	line-height: 1;

}
*/
ol, ul {

	list-style: none;

}

blockquote, q {

	quotes: none;

}

blockquote:before, blockquote:after, q:before, q:after {

	content: '';

	content: none;

}

table {

	border-collapse: collapse;

	border-spacing: 0;

}

@font-face {

font-family: 'swis721_cn_btroman';

src: url('../fonts/swiss721-cnbt-roman-webfont.eot');

src: url('../fonts/swiss721-cnbt-roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swiss721-cnbt-roman-webfont.woff') format('woff'), url('../fonts/swiss721-cnbt-roman-webfont.ttf') format('truetype'), url('../fonts/swiss721-cnbt-roman-webfont.svg#swis721_cn_btroman') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face {

font-family: 'SansationRegular';

src: url('../fonts/sansation.eot');

src: url('../fonts/sansation.eot') format('embedded-opentype'), url('../fonts/sansation.woff') format('woff'), url('../fonts/sansation.ttf') format('truetype'), url('../fonts/sansation.svg#SansationRegular') format('svg');

}

@font-face {

font-family: 'swis721_cn_btbold';

src: url('../fonts/swiss-721-bold_condensed-webfont.eot');

src: url('../fonts/swiss-721-bold_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swiss-721-bold_condensed-webfont.woff') format('woff'), url('../fonts/swiss-721-bold_condensed-webfont.ttf') format('truetype'), url('../fonts/swiss-721-bold_condensed-webfont.svg#swis721_cn_btbold') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face {

font-family: 'open_sansregular';

src: url('../fonts/opensans-regular-webfont.eot');

src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');

font-weight: normal;

font-style: normal;

}

body {

	color:#2a2a2a;

	font-family: 'open_sanslight';

	font-weight: normal;

	line-height: 20px;

	margin: 0;

	padding: 0;

	font-size:12px;

	background:url(../images/bg.jpg) repeat;

	font-size:14px;

}

h1 {

	font-size:30px;

	font-weight:normal;

	font-family: 'SansationRegular';

	margin-bottom:15px;

}

h2 {

	font-size:26px;

	font-weight:normal;

	font-family: 'SansationRegular';

}

h3 {

	font-size:15px;

	font-weight:normal;

	font-family: 'SansationRegular';

}

h4 {

	font-size:14px;

	font-weight:normal;

	font-family: 'SansationRegular';

}

h5 {

	font-size:12px;

	font-weight:normal;

	font-family: 'SansationRegular';

}

img {

	border:none;

}

a {

	text-decoration:none;

	color: #00459a;

}

.clear {

	clear:both;

}

:focus {

	outline:0px;

}

.container {
	position:relative;
     width:1000px;
      margin:0 auto;
	
}

.header {

	position: relative;

	background:url(../images/header_bg.png) repeat-x;

	width:100%;

	z-index:9999;

}

.header_in {

	margin: 0 auto;

	position: relative;

	width: 1024px;

	height:130px;

}

.logo {

	float: left;

	margin: 0px 0;

}

.logo h2 {

	font-size: 48px;

	font-weight: normal;

	font-family: 'swis721_cn_btroman';

	line-height: 0px;

	color: #010101;

	margin: -15px 0 0PX -80px;

}

.logo h2 a {

	text-decoration: none;

	color: #010101;

}

.top_menu {

	float:right;

	background-color:#FFF;

}

.top_menu ul li {

	float:left;

	background:url(/zend/public/css/images/devider.png) no-repeat 0 0;

}

.top_menu ul li:last-child {

	border:0px;

}

.top_menu ul li.active {

	border-right: 0px;

}

.top_menu ul li a {

	padding: 3px 15px 3px 15px;

	position: relative;

	color:#4e4e4e;

	font-size: 14PX;

	text-decoration: none;

	display: block;

	background-repeat: no-repeat;

	background-position: 15px -24px;

	text-align: center;

	height: 15px;

	position: relative;

	font-family: 'swis721_cn_btroman'; /* font-weight: bold; */

}

.top_menu ul li a:hover {

	color:#ff5b05;

}

.top_menu ul li a:hover, .top_menu ul li.active a { /* background-color:#f4f4f4; */ /* border-bottom:2px solid #49bcf1; */

}

.top_menu ul li a:hover, .top_menu ul li.active a { /* background-color:#f4f4f4; */ /* border-bottom:2px solid #49bcf1; */

}

.main_ul {

	background-color: #fff;

	border-radius: 0 0 7PX 6PX;

	border: 0px solid red;

	float: left;

	margin-right: 0px;

	padding: 9px 0;

	margin-top:5px;

}

.main_ul li {

	border-right:1px solid #4e4e4e;

}

.main_ul li:last-child {

	border:0px;

}

.second_ul {

	float:right;

}

.second_ul li {

	margin-left:20px;

}

/*.second_ul li img {

	width:87px;

	height:32px;

}*/

.second_ul li a { 

background-color: #f16162; 

color:#900; 

border-radius:5PX;

padding:5px 5px 5px 5px; 

margin-top:10px;!important}



/*.menu ul li a span { position:absolute; background:url(../images/menu_icons.png) no-repeat 0 0; width:32px; height:32px; border:0px solid red; left:36%; top:40px; }

.menu ul li a:hover{ background:#FF4F64;}*/



.top_menu ul li.shedule a {

	background-position: 15px -24px;

}

.top_menu ul li.know_doctor a {

	background-position: -108px -24px;

}

.top_menu ul li.wow_sat a {

	background-position: -227px -24px;

}

.top_menu ul li.online_consult a {

	background-position: -329px -24px;

}

.top_menu ul li.blog a {

	background-position: -464px -24px;

}

.header_top {

	border-bottom:0px solid #ccc;

}

.header_bot {

	padding: 10px 0;

	margin-top: 0px;

	background: #4e69a2; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlNjlhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjU5OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e69a2), color-stop(100%, #3b5998)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* IE10+ */

	background: linear-gradient(to bottom, #4e69a2 0%, #3b5998 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e69a2', endColorstr='#3b5998', GradientType=0 ); /* IE6-8 */

}

.search_div {

	border: 0px solid red;

	float: right;

	margin: 10px 0 0 0;

}

.search_div li {

	float:left;

	margin-right: 16px;

}

.search_div li:last-child {

	margin-right:0px;

}

.search_div select {

	background-color: #ff5900;

	color: #fff;

	padding: 5px;

	border: 0px;

	width: 190px;

	border-radius: 6PX;

	font-family: 'swis721_cn_btroman';

	font-size: 15px;

}

.search_div input[type='text'] {

	padding: 5px;

	width: 370px;

	border: 5px solid #e4e4e4;

	margin-right: 2px;

	border-radius:  6PX;

	font-family: 'swis721_cn_btroman';

	font-size: 15px;

	color: #909090;

	border-radius:20px;

-webkite-border-radius:20px;

-moz-border-radius:20px;

}

.search_div input[type='submit'] {

	background-color: #ff5900;

	border-radius: 6PX;

	font-family: 'swis721_cn_btroman';

	font-size: 15px;

	color: #fff;

	padding: 6px;

	border: 0px;

	width: 82px;

	cursor:pointer;

}



.Search_icon{

	float: right;

	background-color: #fff;

	border: 3px solid #5aa002;

	border-radius:100%;

-webkite-border-radius:100%;

-moz-border-radius:100%;

margin-left:5px;

background-image:url(../images/search.png);

background-repeat:no-repeat;

background-position:center;

text-align:center;

padding:14px;



	}

	

.Search_icon:hover{background-color: #5aa002;

background-image: url(../images/search1.png);

background-repeat:no-repeat;

background-position:center;

	

	}

/*.nav { float:right; }

.nav ul li { float:left; background:url(../images/devider.png) no-repeat 0 0; border-right: 1px solid #317ad4; }

.nav ul li:last-child { border-right: 0px; }

.nav ul li a { padding: 5px 29px 4px 23px; color: #fff; display: block; font-size: 18px; font-family: 'swis721_cn_btroman'; }*/



.banner { /* margin-top:-10px; */

	height: 297px;
/*background-color:#900;*/

}

.banner_in {

	margin: 0 auto;

	width: 1024px;

}

.img-banner {

	float: left;

	padding: 100px 0 43px 0;

}

.txt {

	float:left;

	width:50%;

	margin: 106px 0 0 40px;

}

.lower_cont {

	padding:40px 0 50px 0;

}

.left_cont {

	float: left;

	width: 60%;

}

.arti_content {

}

.arti_content h2 {

}

.arti_content p {

}

.article {

	padding: 0px 0;

	margin-bottom:40px;

}

.arti_img {

	float: left;

	margin-right: 16px;

}

.arti_content {

}

.arti_content h2 {

	margin-bottom: 10px;

	line-height: 28px;

}

.arti_content p {

}

.right_calc {

	float: right;

	width: 39%;

}

.calc {

	background-color: #e9e9e9;

}

.heading {

	padding: 14px 0px 14px 53px;

	font-size: 19px;

	background-image: url(../images/calc_heading.png);

	background-repeat: no-repeat;

	background-position: 19px 11px;

	font-family: 'swis721_cn_btroman';

	border: 0px;

	background-color: transparent;

	color: #fff;

	border: 0px solid red;

	background-color:#535353;

}

.cont_calc {

	padding: 18px;

}

.row_cal {

	margin-bottom: 26px;

}

.last {

	margin:0;

}

.left_row {

	float: left;

	width: 40%;

}

.left_row p {

}

.right_row {

	float: right;

	width: 40%;

}

.right_row input, .right_row select {

	width: 71px;

}

.send_calc {

	padding: 7px 33px;

	font-size: 19px;

	background-image: url(../images/calc_btn.png);

	background-repeat: no-repeat;

	background-position:0px 0px;

	font-family: 'open_sanslight';

	border: 0px;

	background-color: transparent;

	color: #fff;

	text-transform: uppercase;

	border: 0px solid red;

	cursor:pointer;

}

.footer {

	background-color:#2b2929;

	position:fixed;

	bottom:0px;

	width:100%;

	z-index:2000x;

}

.footer .container {

	position:relative;

}

.chat {

	position: absolute;

	right:0px;

	width: 119px;

	background-color: #49bcf1;

	color: #fff;

	text-transform: uppercase;

	padding: 10px 10px 10px 76px;

	font-size: 19px;

	border-radius: 5px 5px 0 0;

	font-family: 'swis721_cn_btroman';

	background-image: url(../images/chat.png);

	background-repeat: no-repeat;

	background-position: 10px 8px;

	top:-40px;

	cursor:pointer;

}

.top_foot {

}

.latest_news {

	background-color: #e2e2e2;

}

.news_head {

	padding: 19px 40px 19px 23px;

	background-image: url(../images/latest_events.png);

	background-repeat: no-repeat;

	background-position: 0px 0px;

	font-family: 'swis721_cn_btroman';

	border: 0px;

	background-color: transparent;

	color: #fff;

	border: 0px solid red;

	float:left;

}

.news_head h2 {

	font-size: 29px;

}

.news_head h2 {

}

.news_cont {

	float: right;

	width: 77%;

	padding: 10px 0 0 0;

}

.news_cont h2 {

}

.news_cont p {

}

.bot_foot {

}

.links {

	padding: 10px 0;

	float: left;

}

.links li {

	float: left;

}

.links li a {

	color: #6b6969;

	border-right: 1px solid #6B6979;

	padding: 0px 13px;

	line-height: 14px; 
	

}

.offer_section {

	padding: 20px 0 0 0;

	margin-bottom: 30px;

}

.offer_section h2 {

	background-image: url(../images/testi.png);

	background-repeat: no-repeat;

	background-position: 0px 4px;

	color:#545252;

	line-height: 42px;

	margin-bottom: 20px;

	padding: 10px 0 0 56px;

	position: relative;

  background-color:#fafbfd;

	padding: 10px;

	margin: 0 auto;

	width: 330px;

	top: -31px;

}

.offer_section h2.head_2 {

	width: 368px;

}

.offer_section h2.head_3 {

	width:182px;

}

.offer_section h2.head_4 {

	width: 141px;

}

.offer_section h2.head_5 {

	width:188px;

}

.offer_head {

	border-top:1px dashed #b2b2b2;

	margin-top: 10px;

	margin-bottom: -20px;

}

.offer_head h2 strong {

	color: #ff5900;
	

}

.offer_slider li {

	float:left;
	

	width:1051px!important;

}

.offer_coupan {

	float:left;

	margin:14px 0px 11px 38px;

	max-width: 200px;

	text-align: center;

	background-color: #fff;

	box-shadow: 2px 2px 0px #a6a5a5;

}




.offer_coupan_back {

	position: absolute;

	background: rgba(0, 0, 0, 0.4);

	height: 136px;

	width: 200px;

	cursor: pointer;

	visibility:hidden;

}



	
	

.offer_coupan_back a.shop_now {

	color: #fff; /* display:block; */

	padding: 5px 6px;

	background-color: #9bc300;

	width: 70px;

	position: absolute;

	top: 40%;

	left: 32%;

	font-family: 'swis721_cn_btroman';

	opacity: 1!important;

}

.offer_coupan:hover > .offer_coupan_back {

	visibility:visible;

}

.offer_coupan p {

	font-family: 'swis721_cn_btroman';

	font-size: 16px;

	padding: 4px 5px;

}

.offer_contain {

	background-color:#e7e6e6;

	border-radius: 19px 19px 19px 19px;

	padding: 5px 0px 20px 6px;

	width:100%;

	margin:0 auto;

	position:relative;

}

.offer_contain_shadow {

}

.shadow_l {

	background-image: url(../images/shadows.png);

	background-repeat: no-repeat;

	background-position: 0px 0px;

	height:480px;

	width:32px;

	position: absolute;

	top: 0;

	left: -31px;

}

.shadow_r {

	background-image: url(../images/shadows.png);

	background-repeat: no-repeat;

	background-position: -49px 0px;

	height:543px;

	width: 32px;

	position: absolute;

	top: 0;

	right: -32px;

}

.advertise {

	margin:30px 0 0 0;

}

.info_box {

	float: left;

	width: 23%;

	margin-right: 29px;

}

.info_box.info_4 {

	margin-right:0;

}

.info_box h2 {

	margin-bottom: 12px;

	text-align:center;

	padding-bottom: 90px;

}

.info_box h2 span {

	display:block;

	color:#ff5900;

	margin-bottom: 11px;

}

.info_box p {

	font-family: 'swis721_cn_btroman';

	font-size: 15px;

	color: #717171;

	text-align: justify;

	line-height: 28px;

}



.info_box.info_1 h2 {

	background-image: url(../images/info_1.png);

	background-repeat: no-repeat;

	background-position: -153px 60px;

}

.info_box.info_1 h2:hover {

	background-position: 62px 65px;

}

.info_box.info_2 h2 {

	background-image: url(../images/info_2.png);

	background-repeat: no-repeat;

	background-position: -151px 62px;

}

.info_box.info_2 h2:hover {

	background-position: 63px 62px;

}

.info_box.info_3 h2 {

	background-image: url(../images/info_3.png);

	background-repeat: no-repeat;

	background-position: -157px 60px;

}

.info_box.info_3 h2:hover {

	background-position: 57px 60px;

}

.info_box.info_4 h2 {

	background-image: url(../images/info_4.png);

	background-repeat: no-repeat;

	background-position: -153px 62px;

}

.info_box.info_4 h2:hover {

	background-position: 61px 62px;

}

.read_more {

	padding: 6px 12px 6px 0px;

	font-size: 14px;

	background-color: #ff5900;

	background-repeat: no-repeat;

	background-position: 91% 11px;

	font-family: 'SansationRegular'; /* border: 0px; */ /* background-color: transparent; */

	color: #fff;

	text-transform: uppercase; /* border: 0px solid red; */

	margin: 10px 0 0 0;

	display: block;

	text-align: center;

	width: 103px;

	background-image: url(../images/arrow-2.png);

	border-radius: 11px;

	float: right;

	margin-top: 20px;

}

.info_container {

	padding-top: 20px;

}

.about_head h2 {

	background-image: url(../images/testi.png);

	background-repeat: no-repeat;

	background-position: 0px 4px;

	color:#545252;

	line-height: 42px;

	margin-bottom: 20px;

	padding: 10px 0 0 56px;

	position: relative;

	background-color: #fff;

	padding: 10px;

	margin: 0 auto;

	width: 118px;

	top: -31px;

}

.about_head {

	border-top:1px dashed #b2b2b2;

	margin-top: 50px;

	margin-bottom: -30px;

}

.about_head h2 strong {

	color: #ff5900;

}

.about_info {

	margin-bottom: 30px;

}

.about_info p {

	font-family: 'swis721_cn_btroman';

	font-size: 15px;

	color: #717171;

	text-align: justify;

	line-height: 28px;

}

.about_img {

	float: left;

	margin-right: 20px;

}

.copy {

	float:left;

	color: #c8c8c8;

	font-family: 'swis721_cn_btroman';

	font-size: 14px;

	margin: 8px 8px 0px 10px;

}

.right_foot {

	float:right;

}

.about_cont {

}

.social {

	float: right;

	margin-left:-150px;

}

.social ul {

}

.social ul li {

	float:left;

	margin-right:5px;

}

.social ul li a {

	background-image: url(../images/social.png);

	background-repeat: no-repeat;

	background-position: 0px 0px;

	display: block;

	padding: 0;

	border: 0px solid red;

	width: 30px;

	height: 30px;

}

.social ul li a:hover {

	background-position: 0px -30px;

}

.social ul li a.twt {

	background-position: -35px 0px;

}

.social ul li a.twt:hover {

	background-position: -35px -30px;

}

.social ul li a.gplus {

	background-position: -71px 0px;

}

.social ul li a.gplus:hover {

	background-position: -71px -30px;

}

.social ul li a.in {

	background-position: -106px 0px;

}

.social ul li a.in:hover {

	background-position: -106px -30px;

}

.social ul li a.yt {

	background-position: -141px 0px;

}

.social ul li a.yt:hover {

	background-position: -141px -30px;

}

.sfiesta {

	float: right;

}

.sfiesta li {

	float:left;

	margin-left: 13px;

	margin-top: 6px;

}

.sfiesta li a {

	background-image: url(../images/arrow-3.png);

	background-repeat: no-repeat;

	background-position: 87% 10px;

	color: #c8c8c8;

	font-family: 'swis721_cn_btroman';

	padding: 5px 29px 5px 5px;

	font-size: 15px;

}

/*

Back to top button 

*/

#back-top {

	position: fixed;

	bottom: 40px;

	margin-left: 95%;

	float: right;

}

#back-top a {

	width: 108px;

	display: block;

	text-align: center;

	font: 11px/100% Arial, Helvetica, sans-serif;

	text-transform: uppercase;

	text-decoration: none;

	color: #b7b7b7;

	/* background color transition */

	-webkit-transition: 1s;

	-moz-transition: 1s;

	transition: 1s;

	border: 0px solid red;

	height: 40px;

}

#back-top a:hover {

	color: #757575;

}

/* arrow icon (span tag) */

#back-top span {

	width: 48px;

	height: 41px;

	display: block;

	margin-bottom: 7px;

	background: #ddd url(../images/up-arrow.png) no-repeat center center;

	/* rounded corners */

	-webkit-border-radius: 15px;

	-moz-border-radius: 15px;

	border-radius: 10px;

	/* background color transition */

	-webkit-transition: 1s;

	-moz-transition: 1s;

	transition: 1s;

}

#back-top a:hover span {

	background-color: #777;

}

.rslides_nav {

	position: absolute;

	display: block;

	top: 45%!important;

	margin-top: -48px;

	left: 0;

	text-indent: -9999px;

	background: url(../images/carousal-controles.png) no-repeat -48px 0;

	width: 48px;

	height: 96px;

	z-index: 10;

	opacity: .5;

}

.rslides_nav:hover {

	opacity: .9;

}

.rslides_nav:after {

	position: absolute;

	left: 0;

	top: 35px;

	height: 30px;

	width: 30px;

	content: "<<";

	color: #000;

	text-align: center;

	display: block;

transition: all .4s;

-ms-transition: all .4s;

-moz-transition: all .4s;

-webkit-transition: all .4s;

-o-transition: all .4s;

	background: url(../images/carousal-controles.png) no-repeat -108px -17px;

}

.rslides_nav.prev:after {

	background-position: -108px -17px;

}

.rslides_nav.prev:hover:after {

	background-position: -138px -17px;

}

.rslides_nav.next {

	left: auto;

	right: 0;

	background-position: 3px 0;

}

.rslides_nav.next:after {

	left: auto;

	right: 0;

	background-position: -138px -47px;

}

.rslides_nav.next:hover:after {

	background-position: -108px -47px;

}

.imgeffect {

	opacity:1.4;

	filter:alpha(opacity=100);

}

.imgeffect:hover {

	opacity:0.7;

	filter:alpha(opacity=20);

}

.Howtop_bar {

	width:100%;

	height:auto;

	float:left;

	background-color:#FFF;

	

}

.header_menubg {

	padding: 10px 0;

	margin-top: 0px;

	background: #4e69a2; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlNjlhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjU5OTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e69a2), color-stop(100%, #3b5998)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top, #4e69a2 0%, #3b5998 100%); /* IE10+ */

	background: linear-gradient(to bottom, #4e69a2 0%, #3b5998 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e69a2', endColorstr='#3b5998', GradientType=0 ); /* IE6-8 */

}



.joinbtn { 

background-color: #f16162; 

border:solid 1px #f16162;

color:#fff;

float:right;

border-radius:5px;

-webkite-border-radius:5px;

-moz-border-radius:5px;

padding:5px 20px; 

margin-top:10px;

font-family: 'swis721_cn_btroman';

font-size: 14px;

}



.joinbtn:hover {

	background-color: #fff; 

border:solid 1px #f16162;

color:#4e4e4e;

	}



.infobox{

	float: left;

	width:100%;

	height:auto;

	}

	

/*.infobox ul{ margin:0px; padding:0px;}



.infobox li{

	float:left;

width:260px;

height:250px;

margin-left:10px;

background-color:#CCC;

}*/



.imginfo_box{

float:left;

width:240px;

height: auto;

margin-left:8px;

border-right:solid 1px #CCC;

	}



.infoboximg_box{

	float:left;

width:240px;

height: auto;

}



.infoboximg_box h2 {

	margin-bottom: 12px;

	text-align:center;

	padding-bottom:10px;

	margin-top:100px;

}

.infoboximg_box h2 span {

	display:block;

	color:#ff5900;

	margin-bottom: 11px;

}



.infoboximg_box{

	background-image: url(../images/info_1.png);

	background-repeat: no-repeat;

	background-position: -153px 0px;

}

.infoboximg_box:hover {

	background-position: 62px 5px;

}





.infoboximg_box2 {

	background-image: url(../images/info_2.png);

	background-repeat: no-repeat;

	background-position: -152px 5px;

}

.infoboximg_box2 :hover {

	background-position: 40px 2px;

}







.infoboximg_box3 {

	background-image: url(../images/info_3.png);

	background-repeat: no-repeat;

	background-position: -157px 0px;

}

.infoboximg_box3:hover {

	background-position: 57px 0px;

}





.infoboximg_box4 {

	background-image: url(../images/info_4.png);

	background-repeat: no-repeat;

	background-position: -153px 2px;

}

.infoboximg_box4:hover {

	background-position: 61px 2px;

}



.newsletterbox{

	width:100%;

	height:90px;

	/*background-image:url(../images/newsletter-envelopee.jpg);

	background-repeat:no-repeat;*/
	/*background-color:#eceaea;*/
	background-color:#31446d;

	background-position:center;

	margin-top:2px;

	}



.newsletterbox_in{

	width:1000px;

	height:100px;

	margin:0 auto;

	}



.news_textbox{

	float:left;
	width:580px;
   margin:25px 0px 0px 0px;

	}

.news_textbox h2{ color:#f6f6f6; font-weight:bold;  line-height:30px; font-size:19px;}

.news_textbox span{ font-size:13px; font-family: Arial,Helvetica,sans-serif; color:#b5d6ea; margin-left:40px;}



.main_emailbox{

	float:right;

	width: auto;

	height:auto;

	margin:35px 0px 0px 0px;

	}

	

.eidbox{

	float:left;

	width:300px;

	background:#f1f1f1;

border-top: 1px solid #ccc;

border-left: 1px solid #ccc;

border-right: 1px solid #fff;

border-bottom: 1px solid #fff;

color: #656565;

font-family: Arial,Helvetica,sans-serif;

padding: 6px;

border-radius:5px;



}



.eidbox:hover{ background-color:#e5e5e5;}



.ma{ float:left; margin-top:0px; margin-right:10px;}



.sub_btn { 

background-color: #f16162; 

border:solid 1px #f16162;

color:#fff;

float:left;

border-radius:5px;

-webkite-border-radius:5px;

-moz-border-radius:5px;

padding:4px 10px; 

font-family: 'swis721_cn_btroman';

font-size: 14px;

margin-left:5px;

cursor:pointer;

}



.sub_btn:hover {

	background-color: #fff; 

border:solid 1px #f16162;

color:#4e4e4e;

	}

	

.gettext{

	float:left;

	width:100%;

	height:auto;

	line-height:60px;

	text-align:center;

	font-family: 'swis721_cn_btroman';

	font-weight: bold;

	font-size:25px;

	

	}

	

	

.PopupBox{

	width:800px;

	height:450px;

	margin:0 auto;

	background-color:#fff;

	border:solid 1px #CCC;

	border-radius:10px;

	padding:15px;

	font-family:Arial, Helvetica, sans-serif;



	}
	
	
.PopupBox1{

	width:350px;

	height:200px;

	margin:0 auto;

	background-color:#fff;

	border:solid 1px #CCC;

	border-radius:10px;

	padding:15px;

	font-family:Arial, Helvetica, sans-serif;

}
.PopupBox1 p{ padding-bottom:8px; color:#525252; }
.PopupBox1 p span{ font-weight:bold; color:#f45435;}

.pp2{width:450px;
    height:280px;
	text-align:justify;
}

.pp3{width:450px;
    height:280px;
	text-align:justify;}
	
.pp3 ul{ margin:0px; padding:0px;}	
 
.pp3 li{
	display: block;
	font-size:18px;
	font-weight:bold;
	padding:10px 35px;
	margin-bottom:5px;
	border-radius:5px;
	background: #a0ca00; /* Old browsers */
background: -moz-linear-gradient(top, #a0ca00 1%, #7d9d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a0ca00), color-stop(100%,#7d9d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0ca00 1%,#7d9d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca00', endColorstr='#7d9d00',GradientType=0 ); /* IE6-9 */
	}
	
.pp3 li a{
	text-decoration:none;
	text-align:left;
	color:#FFF;
	font-family: 'swis721_cn_btroman';
  font-size:15px;
  letter-spacing:1px;
}

.pp3 li:hover{background: #8eb106; /* Old browsers */
background: -moz-linear-gradient(top, #8eb106 0%, #76920d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb106), color-stop(100%,#76920d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8eb106 0%,#76920d 100%); /* IE10+ */
background: linear-gradient(to bottom, #8eb106 0%,#76920d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb106', endColorstr='#76920d',GradientType=0 ); /* IE6-9 */}

.left_popbox{

	float:left;

	width:380px;

	height:auto;

	border-right:solid 1px #CCC;

	

	}

	

.PopupBox h2{

font-size:25px;

line-height:27px;

color:#2066a1;

font-family:Arial, Helvetica, sans-serif;

}



.Joinlist{ 

float:left;

width:350px;

height:auto;

margin-top:10px;

}







.Joinlist ul{ margin:0px; padding:0px;}



.Joinlist li{

	float:left;

	width: auto;

	height:auto;

	font-size:14px;

	color:#444444;

	padding:12px 5px;

	list-style:url(../images/arrow1.jpg);

	margin-left:30px;



	}

	

.btn_sign{

	width:200px;

	border-radius:5px;

	padding:5px 15px;

	background-color:#e54747;

	color:#FFF;

	text-align:center;

	margin-top:20px;

	}

.btn_sign:hover{

	background: #c9403c; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NDAzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDQ3NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top, #c9403c 0%, #e44746 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9403c), color-stop(100%,#e44746)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #c9403c 0%,#e44746 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, #c9403c 0%,#e44746 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, #c9403c 0%,#e44746 100%); /* IE10+ */

background: linear-gradient(to bottom, #c9403c 0%,#e44746 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9403c', endColorstr='#e44746',GradientType=0 ); /* IE6-8 */

	}	

	

.right_formbox{

	float:left;

	width:380px;

	height:auto;

	margin-left:35px;

	}

	

.P_emailbox{

	width:268px;

	padding:6px 10px;

border: 1px solid #99b4c9;

color: #656565;

border-radius:3px;

margin-left:37px;

margin-top:10px;

background: #e7e6e5; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTZlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top, #e7e6e5 0%, #fbfbfb 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e6e5), color-stop(100%,#fbfbfb)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #e7e6e5 0%,#fbfbfb 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, #e7e6e5 0%,#fbfbfb 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, #e7e6e5 0%,#fbfbfb 100%); /* IE10+ */

background: linear-gradient(to bottom, #e7e6e5 0%,#fbfbfb 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6e5', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-8 */

}

	

.P_emailbox:focus {

	background-color:#fcfcfc; 

	border: 1px solid #e54747;

}



.forgotPassword{

font-size:14px;

color:#e54747;

font-family:Arial, Helvetica, sans-serif;

margin:0px 0px 0px 37px;

line-height:28px;

}











#header #search {

	position: absolute;

	top: 15px;

	right: 0px;

	width: 40px;

	height: 40px;

	z-index: 15;

	overflow:hidden;

	}

#header .button-search {

	position: absolute;

	right: 5px;

	top:5px;

	width: 30px;

	height: 30px;

	cursor: pointer;

	-webkit-border-radius:30px;

	-moz-border-radius: 30px;

	-khtml-border-radius: 30px;

	border-radius: 30px;

	}

.search-close {

	position:absolute;

	top:13px;

	right:13px;

	width:15px;

	height:15px;

	background:#000;

	-webkit-border-radius: 15px;

	-moz-border-radius: 15px;

	-khtml-border-radius: 15px;

	border-radius: 15px;

	cursor:pointer;

	}

#header #search .search-box {

	position:absolute;

	right:45px;

	top:0px;

	width: 430px;

	height: 40px;

	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;

	-khtml-border-radius: 20px;

	border-radius: 20px;

	background:#6ddee2;

	overflow:hidden;

	}

#header #search:hover {

	width: 475px;

	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;

	-khtml-border-radius: 20px;

	border-radius: 20px;

	}

#header #search input {

	background: #FFF;

	margin: 5px 0 0 5px;

	padding:0 15px;

	width: 388px;

	height: 30px;

	border: none;

	-webkit-border-radius:20px;

	-moz-border-radius: 20px;

	-khtml-border-radius: 20px;

	border-radius: 20px;

	}

#header #search{

	-webkit-transition: all 0.2s linear;

	-moz-transition: all 0.2s linear;

	-o-transition: all 0.2s linear;

	-ms-transition: all 0.2s linear;

	transition: all 0.2s linear;

}



.Signup_btn{

	width:50px;

	float:right;

	padding:10px 20px;

	margin-right:100px;

	color:#FFF;

	background-color:#e54747;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	-khtml-border-radius: 5px;

	border-radius: 5px;}

	

.Signup_btn:hover{ background: #c9403c; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5NDAzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDQ3NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top, #c9403c 0%, #e44746 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9403c), color-stop(100%,#e44746)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top, #c9403c 0%,#e44746 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top, #c9403c 0%,#e44746 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top, #c9403c 0%,#e44746 100%); /* IE10+ */

background: linear-gradient(to bottom, #c9403c 0%,#e44746 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9403c', endColorstr='#e44746',GradientType=0 ); /* IE6-8 */}



.PopupBox2{

	width:500px;

	height:520px;

	margin:0 auto;

	background-color:#fff;

	border:solid 1px #CCC;

	border-radius:10px;

	padding:15px;

	font-size:12px;

	font-family:Arial, Helvetica, sans-serif;



	}

	

	.in_formbox{

	float:left;

	width:100%;

	height:auto;

	margin-left:35px;

	text-align:center;

	}

	

	

.frm2{

	float:left;

	width:100%;

	height:auto;

	margin-left:35px;

	}

	

	

	


.addy{

	height:50px;

	margin:0 0 0 10px;

	width:200px;

	border-radius:5px;

 -webkit-border-radius:5px;

 -moz-border-radius:5px;

 background-color:#666666;

}



.btn_sign2{

	width:200px;

	border-radius:5px;

	padding:5px 15px;

	background-color:#66b206;

	text-align:center;

	margin-top:20px;

	border:none;

	color:#FFF;

	}

.btn_sign2:hover{

	background-color:#599b05;

	}	



.PopupBox2 h2{

font-size:25px;

line-height:27px;

color:#2066a1;

font-family:Arial, Helvetica, sans-serif;

}	





/*=====================================================  HEADER SEARCH  ==========*/



#header #search {

	position: absolute;

	top: 15px;

	right: 0px;

	width: 40px;

	height: 40px;

	z-index: 15;

	overflow:hidden;

	}

#header .button-search {

	position: absolute;

	right: 5px;

	top:5px;

	width: 30px;

	height: 30px;

	cursor: pointer;

	-webkit-border-radius:30px;

	-moz-border-radius: 30px;

	-khtml-border-radius: 30px;

	border-radius: 30px;

	}


.CASHBACK{width:400px; background-color:#3f5c9a; height:300px; float:left; background-image:url(../images/bg_banner.jpg);}

.CASHBACK h3{ 
margin:0px; 
padding:20px 0px 0px 20px;
font-family: 'swis721_cn_btroman';
font-size:20px;
color:#fff;}



.CASHBACK h2{ 
margin:0px; 
padding:18px 20px;
font-family: 'swis721_cn_btroman';
font-weight: bold;
font-size:30px;
color:#ffa71d;
text-transform:uppercase;
}

.CASHBACK h4{
	float:left;
	width:100%;
	margin:0px; 
padding:5px 20px;
font-family: 'swis721_cn_btroman';
font-size:16px;
color:#fff;
}

#slideshow { 
  position: relative; 
   width:590px;
	height:300px;
	background-color:#000;
  
}

#slideshow > div { 
    position: absolute; 
    /*top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; */
}	

#slideshow > div img {
	 width:590px;
	height:300px;
	}



.needhelp {
	font-size:14px;
	color:#fff;
	background:#ff5600;
	line-height:23px;
	height:23px;
	text-align:center;
	width:105px;
	border:2px solid #fff;
	border-bottom:0;
	box-shadow:0 0 2px #ddd;
	border-radius:3px 3px 0 0;
	position:fixed;
	top:440px;
	right:-43px;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	display:block;
	z-index:8;
-webkit-transition:background .2s ease-out 0s;
-moz-transition:background .2s ease-out 0s;
-ms-transition:background .2s ease-out 0s;
-o-transition:background .2s ease-out 0s;
transition:background .2s ease-out 0s;
border-radius:8px 8px 0px 0px;
font-family:Arial, Helvetica, sans-serif;
}
.needhelp:hover {
	background:#004382;
}


.col{position:absolute; margin:12px 710px;}

.search_input{ width:670px; padding:12px 32px; border:solid 2px #f45435; background-color:#c3c2c2; background-image:url(../images/se.jpg); background-repeat:no-repeat; background-position:left; border-radius:5px;
-webkite-border-radius:5px; float:left;
-mozborder-radius:5px; color:#000;}
.search_input:focus{ border:solid 2px #4da1e9; }






.horizontal-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0px;
}
 .horizontal-menu li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  vertical-align: baseline;
  position: relative;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}
.horizontal-menu li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.00em;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.01em;
  color: #000000;
  line-height: 2.2rem;
  font-size: 2.2rem;
  color: inherit;
  padding: 5px;
}
.horizontal-menu li a:hover {
  background: inherit;
}
.horizontal-menu.compact li {
  margin-left: 5px;
}
.horizontal-menu.compact a {
  font-weight: normal;
  font-size: 10.5pt;
  color: inherit;
}
 .horizontal-menu.compact .dropdown-toggle:after {
  bottom: 2px;
}
.horizontal-menu li:first-child {
  margin-left: 0px;
}
.horizontal-menu li:hover > .dropdown-menu[data-show="hover"] {
  display: block;
}




.search_btn{
	float:left;
background-color:#f45435;
padding:12px 10px;
border:solid 2px #f45435;
color:#FFF;
text-transform:uppercase;
cursor:pointer;
border-radius:5px;
-webkite-border-radius:5px;
-mozborder-radius:5px;
margin:0px 7.2px 0px 10px;
}

.search_btn:hover{ background-color:#004281; border:solid 2px #004281;}


.Browse_btn{ 
background-color:#8a8a8a;
padding:12px 10px;
border:solid 2px #8a8a8a;
color:#FFF;
text-transform:uppercase;
cursor:pointer;
border-radius:5px;
-webkite-border-radius:5px;
-mozborder-radius:5px;
margin-top:-1px;
}

.Browse_btn:hover{ background-color:#004281; border:solid 2px #004281;}

.joinlink { color:#FFF;}
.joinlink:hover{ color:#ff6000;}

.scroll_testimony{
	float: left;
	width:100%;
	height: auto;
	padding-bottom:15px;
	background-color:#eceaea;  
	
	}
	
	
.join_btnbox{
	width: auto;
	float:right;
	margin-top:-33px;
	}
.join_btnbox ul{ margin:0px; padding:0px;}	
.join_btnbox ul li{
	float:left;
}	
.join_btnbox ul li a{ 
float:left;
padding:8px 15px;
margin-right:5px;
color:#FFF;
border-radius:3px;
font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;

background: #a0ca00; /* Old browsers */
background: -moz-linear-gradient(top, #a0ca00 1%, #7d9d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a0ca00), color-stop(100%,#7d9d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0ca00 1%,#7d9d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca00', endColorstr='#7d9d00',GradientType=0 ); /* IE6-9 */
}

.join_btnbox ul li a:hover{background: #8eb106; /* Old browsers */
background: -moz-linear-gradient(top, #8eb106 0%, #76920d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb106), color-stop(100%,#76920d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8eb106 0%,#76920d 100%); /* IE10+ */
background: linear-gradient(to bottom, #8eb106 0%,#76920d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb106', endColorstr='#76920d',GradientType=0 ); /* IE6-9 */}


/*footer*/

#footer { width: 100%; height: auto; bottom: 0; float: left; background-color: #252525; border-top: solid 5px #333333; font-family: Arial, Helvetica, sans-serif; }
.innerfooter { width: 1024px; height: auto; margin: 0 auto; margin-top: 10px; /*	background-color:#66F;*/ }
.Overview { float: left; width:180px; height: auto; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #91959A; line-height: 16px; margin-top: 10px; margin-right: 20px; border-right: 1px solid #676767; }
.Overview h3 { margin: 0px; padding: 0px; font-family: 'swis721_cn_btroman'; font-size: 16px; color: #FFF; font-weight: normal; letter-spacing: 0.5px; line-height: 28px; }
.btm_list { float: left; width: 100%; height: auto; }
.btm_list ul { margin: 0; padding: 0px; }
.btm_list li { list-style: none; padding: 5px; font-size: 10px; }
.btm_list li a { font-family: 'swis721_cn_btroman'; font-size: 14px; color: #929292; list-style: none; text-decoration: none; }
.btm_list li a:hover { color: #fff; }
.or_colour { color: #9b9b9b; font-family: 'swis721_cn_btroman'; font-size: 14px; line-height:22px; }
.bottom_bar { width: 100%; background-color: #000; float: left; height: 25px; margin-top: 15px; font-size: 11.3px; color: #c2c2c2; line-height: 25px; font-family: 'swis721_cn_btroman'; }
.IN_bottom_bar { width: 1024px; height: auto; margin: 0 auto; text-align:center; }
.Powered { float: right; }


/*joinus page*/

.Mar20left{ margin-left:10px; }

.width_page{width:550px; height:450px;}

.jontsign_btn{ 
         width:200px;
       border-radius:5px;
        padding:8px 50px;
         color:#FFF;
       text-align:center;
        margin-top:20px;
		font-weight:bold;
		margin-left:35px;
background: #a0ca00; /* Old browsers */
background: -moz-linear-gradient(top, #a0ca00 1%, #7d9d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a0ca00), color-stop(100%,#7d9d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0ca00 1%,#7d9d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca00', endColorstr='#7d9d00',GradientType=0 ); /* IE6-9 */
}

.jontsign_btn:hover{background: #8eb106; /* Old browsers */
background: -moz-linear-gradient(top, #8eb106 0%, #76920d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb106), color-stop(100%,#76920d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8eb106 0%,#76920d 100%); /* IE10+ */
background: linear-gradient(to bottom, #8eb106 0%,#76920d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb106', endColorstr='#76920d',GradientType=0 ); /* IE6-9 */}



/*couponsbox page*/
.couponsbox{width:100%; height:auto; margin-top:25px; margin-bottom:25px;}

.left_coupons{
	float:left;
	width:690px;
	height:auto;
	}
	
.about_text{ width:100%; height:auto; float:left;}
.about_text p{ line-height:19px; font-size:22px;}
	
	
.about_text h2{
	font-size:22px;
	line-height:30px;
	border-bottom:dotted 1px #999;
	margin-bottom:15px;
	}
	


.about_text p span{ color:#474545; font-weight:bold; font-size:14px; line-height:35px;}

.about_text h4{color:#000; font-weight:bold; font-size:16px;}
	
.Coupons_box{
	float:left;
	width:100%;
	height:auto;
	background-color:#FFF;
	border:solid 1px #CCC;
	border-radius:5px;
	padding:10px 5px 20px 5px;
	margin-bottom:10px;
	}	
.Coupons_box:hover{ 
border:solid 1px #a6d007;
}
	
.offer_logo{ float:left; width:146px; height:auto;}
.offer_logo img{ width:146px; height:88px;}

.offer_textbox{float:left; width:280px; height:auto;  padding:5px;}
.offer_textbox h2 a{ font-size:16px; color:#525252; font-weight:bold; line-height:25px;}
.offer_textbox h2 a:hover{ color:#7f7f7f;}
.offer_textbox h2 span{ color:#99c100;}

.madiletext{color:#838080; font-family:Arial, Helvetica, sans-serif;  line-height:22px; margin-top:10px; margin-bottom:10px;}
.madiletext h5{ line-height:50px; margin-top:20px;}
.rr{ color:#ff2740;}

.likebox{width:98%; height:30px; margin:5px 0px 0px 10px;}

	
.offer_btnbox{ float:right; width:215px; height:auto; border-left: dashed 1px #CCC; padding:8px; text-align:center;}

.Rating{font-family:Arial, Helvetica, sans-serif;  line-height:25px; color:#838080; font-size:11px; width:200px; margin-left:10px; }
.Rating span{ color:#232323; font-weight:bold;}
.offer_btnbox h3{font-family: 'swis721_cn_btroman';  font-size:16px; color:#e44627; font-weight:bold; line-height:25px; margin-top:10px; margin-bottom:10px;}
.dashed{ border:dashed 1px #b5b5b5; width:200px; line-height:30px; margin-left:5px; margin-bottom:10px; 
font-family: 'swis721_cn_btroman'; 
border-radius:5px;
margin-top:20px;
margin-bottom:20px; 
}

.joinfree_btn{ padding:10px 10px;
                color:#FFF;
				font-size: 13px;
				text-align:center;
				border-radius:5px;
				font-family: 'swis721_cn_btroman'; 
             background: #a0ca00; /* Old browsers */
background: -moz-linear-gradient(top, #a0ca00 1%, #7d9d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a0ca00), color-stop(100%,#7d9d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0ca00 1%,#7d9d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca00', endColorstr='#7d9d00',GradientType=0 ); /* IE6-9 */
}

.joinfree_btn:hover{background: #8eb106; /* Old browsers */
background: -moz-linear-gradient(top, #8eb106 0%, #76920d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb106), color-stop(100%,#76920d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8eb106 0%,#76920d 100%); /* IE10+ */
background: linear-gradient(to bottom, #8eb106 0%,#76920d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb106', endColorstr='#76920d',GradientType=0 ); /* IE6-9 */}
	


.Right_coupons{ width:270px; height:auto; float:right; padding:0px; margin-right:10px;}

.Stepsbox{ float:left; width:100%; height:auto; background-color:#fff; padding:5px; border:solid 1px #CCC;}
.Stepsbox h3{ color:#000; font-size:14px; line-height:35px; padding-left:10px;  border-bottom:solid 1px #CCC; margin-bottom:20px;}
.Stepsbox ul{ margin:0px; padding:0px;}
.Stepsbox li{ display:block;
              width:80%;
			  height:50px;
			  font-size:12px;
			  font-family:Arial, Helvetica, sans-serif;
			  line-height:18px;
			  margin-bottom:20px;
	             }
/*end couponsbox page*/


/*innner couponsbox page*/


.IN_Coupons_box{
	float:left;
	width:99%;
	height:300px;
	background-color:#FFF;
	border:solid 1px #CCC;
	border-radius:0px;
	padding:0px;
	margin-bottom:10px;
	}	
.IN_Coupons_box:hover{ 
border:solid 1px #a6d007;
}

.IN_of{float:left; width:500px; height:auto;  padding:5px; margin-top:10px;}
.IN_of h2{ font-size:18px; color:#525252; font-weight:bold; line-height:35px;}
.IN_of p{ text-align: justify; line-height:1.5em; font-family:calibri; color:#838080;}

.inner_btnbox{ float:right; width:300px; height:300px; border-left: dashed 1px #e0dfdf;}
.topinn{ background-color:#f5f5f5; padding:30px 8px 70px 8px; }
.total_text{font-size:1.3em; margin-left:10px; font-weight:bold; color:#525252; width:150px; height:30px; line-height:30px; float:left; font-family:Arial, Helvetica, sans-serif; }
.cnt{width:100px; float:left; color:#525252; font-size:2em; height:30px;  font-weight:bold; text-align:center; font-family:Arial, Helvetica, sans-serif; }
.cnt span{font-size:0.5em; color:#a0a0a0; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}

.banner_in{ width:300px; height:200px; background-color:#039; text-align:center; color:#FFF;}

.mm_menubox{ width:100%; height:auto; float:left;}

.mm_rightlist{ width:305px; height:auto; float:right;}
.mm_rightlist ul{ margin:0px; padding:0px;}
.mm_rightlist li{ 
float:left; 
font-size:12px; 
color:#000; 
line-height:35px;
margin-left:12px;
}

.mm_rightlist li a{ color:#b3b3b3; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.mm_rightlist li a:hover{ color:#99c100;}

.mm_rightlist > ul > li.active > a {
   color:#99c100;

}

.Gap20{ margin-top:20px;}
.Gap55{ margin-top:55px;}
.Gap10{ height:10px; width:100%;}
.W_IN{width:440px;}

.Coupons_boldtext{ width:300px; margin-top:7px; color:#474747; font-size:15px; font-family:Arial, Helvetica, sans-serif; font-weight: bold; float:left; text-transform:uppercase;}
.Coupons_boldtext span{ color:#a3a3a3;}


.Rateslist{ float:left; width:100%; height:auto; background-color:#fff; padding:5px; border:solid 1px #CCC;  margin-bottom:15px;}
.Rateslist h3{ color:#000; font-size:16px; line-height:35px; padding-left:10px;  border-bottom:solid 1px #CCC; margin-bottom:20px;  text-align:center;}
.Rateslist ul{ margin:0px; padding:0px;}
.Rateslist li{ display:block;
              width:100%;
			  font-size:12px;
			  padding:10px 0px 10px; 
			  font-family:Arial, Helvetica, sans-serif;
			  line-height:18px;
			  text-align:center;
			   border-bottom:solid 1px #999;
			  
	             }
				 
.Rateslist li span{ color:#444f66; font-size:18px; font-weight:bold;}

.Amazon_right{ float:right; padding:8px 15px; font-size:14px; margin-top:10px;  }

.scroll_testimony h5{ 	font-family: 'swis721_cn_btroman'; font-size:25px; line-height:50px; color:#000; text-align:center; margin-top:10px; background-color:#d4d4d4;}

/*innner couponsbox page*/





/*page account*/

.float_left{ float:left;}
.float_right{ float:right;}

.menu_my {
float:left;
  background-color:#83a500;
  list-style: none;
  margin: 0;
 padding:7px;
  width:100%;
  height:auto;

}

.menu_my ul{ margin:0px; padding:0px;}

.menu_my li {
  font-family: 'swis721_cn_btroman';
  font-size:15px;

  margin: 0;
  padding: 0;
  list-style: none;
}
.menu_my li a {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
    
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
}
.menu_my li a:hover {
  background: #83a500;
  color: #fff;
  padding-bottom: 8px;
}

.menu_my > ul > li.active > a {
  color: #eb583c;
  font-weight:bold;
   background: #333 url("../images/ar1.png") left center no-repeat;
}








.enquiry{
	width:55%;
	float:left;
	margin-left:5px;
	
}



.enquiry h3{ font-size:22px; color:#f45435;}


.enquiry ul{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	display:block;
	padding:10px;
	border-left:1px #e0e0e0  solid;
	}

.enquiry ul li{
	list-style:none;
	float:left;
	margin:0px 0px 0px 10px;
	width:95%;
	}
.enquiry ul li span{ color:#617905; font-weight:bold; font-size:14px; font-family:Arial, Helvetica, sans-serif;}


.submit01 {
	float: left;
	cursor:pointer;
	margin-right:0px;
	font-size:13px; 
	color:#FFFFFF; 
	border:1px solid #FFF; 
	line-height:20px;
	padding:5px 20px;
	text-align:center;
background: #a0ca00; /* Old browsers */
background: -moz-linear-gradient(top, #a0ca00 1%, #7d9d00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a0ca00), color-stop(100%,#7d9d00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a0ca00 1%,#7d9d00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a0ca00 1%,#7d9d00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ca00', endColorstr='#7d9d00',GradientType=0 ); /* IE6-9 */
}

.submit01:hover {background: #8eb106; /* Old browsers */
background: -moz-linear-gradient(top, #8eb106 0%, #76920d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8eb106), color-stop(100%,#76920d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8eb106 0%,#76920d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8eb106 0%,#76920d 100%); /* IE10+ */
background: linear-gradient(to bottom, #8eb106 0%,#76920d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb106', endColorstr='#76920d',GradientType=0 ); /* IE6-9 */}

.btn_s{
	position:absolute;
	width:90px;
	height:20px;
	margin:29px 10px 10px 499px;
background-image:url(images/but_s.png);
background-repeat:no-repeat;}

.innerbox2 {
	float:left;
	border:solid 1px #ccc;
	width:98%;
	margin-bottom:10px;
    color:#999;
	padding:8px 5px 8px 5px;
	line-height:20px;	
	
	}
	
.in100{width:100%;}
	
.innerbox2:hover {
	border:solid 1px #fff;
	-moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
	}


.innerbox2:focus {
	color:#4d4d4d;
background-color:#fff;
-moz-box-shadow:0px 0px 3px #d02e2e;
    -webkit-box-shadow:0px 0px 3px #d02e2e;
    box-shadow:0px 0px 3px #d02e2e;
border:solid 1px #fff;
	}


.Enquiry_Heading3{
	font-family:Candara;
	font-style:normal; 
	font-size:20px; 
	color:#000;
	line-height:20px;
	padding-bottom:20px;
	font-weight:bold;}


.textarea2{
	float:left;
	border:solid 1px #ccc;
	width:80%;
	height:100px;
	margin-bottom:10px;
    color:#999;
	padding:10px 5px 8px 5px;
	line-height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
.textarea2:focus {
	color:#4d4d4d;
background-color:#fff;
-moz-box-shadow:0px 0px 3px #067cc0;
-webkit-box-shadow:0px 0px 3px #067cc0;
box-shadow:0px 0px 3px #067cc0;
border:solid 1px #fff;
	}
	
	
.w100{ width:100%; height:20px; float:left;s}


.min_Asked{
	float: right;
	width:230px;
	height: auto;
	}

.boxright_Asked{
	float: right;
	width:230px;
	height: auto;
	background-color:#fff;
	border:solid 5px #eeeeee;
	padding:10px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-bottom:10px;
	}
	
.boxright_Asked h2{ font-size:17px; color:#f55435; padding:8px 0px;}
	
.Questions_list{
	float:left;
	width:100%;
	height:auto;
	}
.Questions_list ul{ margin:0px; padding:0px;}
.Questions_list li{
	display:block;
	font-size:14px;
	color:#666;
	font-family:calibri;
	text-align:justify;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom: dotted 1px #666;
	}
	
.Questions_list li h3{  font-size:14px; color:#000;}	
	
/*end account*/


/*payment_settings*/

.top20{ width:100%; height:20px;}


.tab_paybox{
	float:left;
	width:410px;
	height: auto;
	}
.tab_paybox h3{ font-size:22px; color:#f45435;}

.tab_paybox h6{ font-size:20px; font-family: Arial, Helvetica, sans-serif; line-height:32px; margin-top:20px; margin-bottom:30px; border-bottom:solid 1px #c0c0c0;}

.tab_paybox p{ text-align:justify; font-family:calibri; font-size:15px; padding:8px 0px 0px 0px; }
.tab_paybox h4 { color:#df4f05; margin-top:10px;}
.tab_paybox p span{ font-weight:bold;}

.Earnings_list{
	float:left;
	width:100%;
	height:auto;
	}
.Earnings_list ul{ margin:0px; padding:0px;}
.Earnings_list li{
	float:left;
	width:auto;
	font-size:14px;
	color:#666;
	font-family:calibri;
	text-align:justify;
	margin-bottom:10px;
	padding-bottom:5px;
	text-align:left;
	}
.Earnings_list li span{ color:#000;}
	
.cc{ width:170px; text-align:left;}	



/*end payment_settings*/

.textcomplaint{ text-align:center; color:#535353; font-size:12px; font-family:calibri; padding:5px 0px 5px; border-bottom:solid 1px #cccccc;}
.com_b{ font-weight:bold; font-size:13px;}
.complaintbox{ border:solid 1px #cccccc;}

.Complaint_list{ width:100%; float:left; height:auto;}
.Complaint_list ul{ margin:0px; padding:0px;}
.Complaint_list li{  font-family:calibri; font-size:12px; color:#535353; text-align:justify;}
.arrow_Complaint{ width:10px; height:45px; float:left; padding-top:5px;}


.Tes_wight{
	float:left;
	width:60%;
	height:auto;
	}
	
	
.testi_combox{
	float:left;
	width:98%;
	height:auto;
	background-color:#FFF;
	border:solid 1px #CCC;
	border-radius:5px;
	padding:5px;
	margin:10px 0px 0px;
	font-family:calibri;
	}	
.testi_combox:hover{ 
border:solid 1px #a6d007;
}
.website_d1{ font-size:14px; color:#000; font-weight:bold; padding-top:10px; width:100%; float:right; text-align:right; margin-right:10px;}
.website_d{ color:#f45435; font-size:14px; float:right; width:100%; text-align:right; margin-right:10px;}

.radiobox{ width:100%; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; height:auto; padding:10px 0px 10px; }

.couponsbox h3{ font-size:22px; color:#f45435;}

.couponsbox p{ text-align:justify; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:5px;}

.Referf_box{ 
border-radius:5px;
 border:solid 3px #eeeeee; 
 width:100%; 
 height:auto; 
 background-color:#FFF;  
 float:left;
  font-family: 'swis721_cn_btroman';
  font-size:25px;
 color:#8cb000; 
 padding:20px 0px 20px; 
 text-align: center;
 margin:20px 0px 20px;
 }
 
.Referf_box:hover{ border:solid 3px #bacd6e; color:#f45435;}

.Invite{
	width:42%;
	float:left;
	padding:20px;
	 margin-left:20px;
	}
.Invite h2{ text-align:left; color:#f45435; font-size:18px;}

.Invitein{ border-radius:5px;
 border:solid 1px #666;
 padding:2px;
 width:400px;
 float:left;
 padding:10px;
 margin-top:10px;

 }
 
.Invite2{
	width:48.5%;
	float:left;
	padding:10px;
	}
	
.Invite2 h2{text-align:left; color:#f45435; font-size:18px;}	


.caree_box{ 
border-radius:5px;
 border:solid 3px #eeeeee; 
 width:100%; 
 height:auto; 
 background-color:#FFF;  
 float:left;
 font-family:Arial, Helvetica, sans-serif;
 font-size:12px;
 color:#333;
 padding:20px 0px 20px; 
 margin:20px 0px 20px;
 }
 
 
.InputTypeText{ width:230px; padding:5px; border:solid 1px #696969; border-radius:3px;} 

.Inputsmall{width:80px; padding:5px; border:solid 1px #696969;}
 
 .hgnin{ color:#F60; font-size:18px; padding:10px 0px 10px;}
 
.faq_box{
	float:left;
	width:100%;
	height:auto;
	}
.faq_box ul{ margin:0px; padding:0px;} 
.faq_box li{ width:198px; height:128px; float:left; margin:0px 0px 40px 13px; border:solid 1px #ccc; border-radius:5px; padding:5px; text-align:center;}
.faq_box li:hover{border:solid 1px #84a600; background-color:#f6f9ec;}
.faq_box span{ padding:5px 0px 5px; line-height:35px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}

.Browse_list{ width:100%; float:left; height:auto; margin-top:10px; border:solid 1px #ccc; padding:10px 0px 5px 8px; background-color:#3c5a98;}
.Browse_list ul{ margin:0px; padding:0px;}
.Browse_list li{ float:left; padding:3px 12px;  border-right:solid 1px #869bc7; list-style:none; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;}
.Browse_list li a{ color:#FFF;}
.Browse_list li a:hover{ color:#f45435;}


.logo_Merchants{ width:100%; float:left; height:auto;}

.With250{ width:380px; height:30px; font-size:20px; border-radius:10px;}


.list_category{ widows:100%; height:30px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif;}

.list_sub{ width:630px; padding:5px 5px; border:1px solid #333; border-radius:0px; margin-left:0px; float:left; }

.Store_name{width:50px; float:left; line-height:30px; background-color:#000; padding-left:5px; padding-right:5px; text-align:center; color:#9bc300; font-weight:bold; font-size:16px; }

.more_IN a{ color:#06C;}
.more_IN a:hover{ color:#F60;}











