<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Cashvasool</title>
        <link rel="stylesheet" type="text/css" href="/zend/public/css/css/style.css"/>
        <link href="/zend/public/css/css/megaStyle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="style.css"> 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>  
            <script type='text/javascript' src="/zend/public/css/js/jquery./zend/public/css/js"></script>
            <script type="text/javascript" src="/zend/public/css/js/plugins./zend/public/css/js"></script>
            <link rel="stylesheet" href="/zend/public/css/source/colorbox.css" />
            <script>
                $(document).ready(function () {
                    //Examples of how to assign the Colorbox event to elements
                    $(".group1").colorbox({rel: 'group1'});
                    $(".group2").colorbox({rel: 'group2', transition: "fade"});
                    $(".group3").colorbox({rel: 'group3', transition: "none", width: "75%", height: "75%"});
                    $(".group4").colorbox({rel: 'group4', slideshow: true});
                    $(".ajax").colorbox();
                    $(".youtube").colorbox({iframe: true, innerWidth: 640, innerHeight: 390});
                    $(".vimeo").colorbox({iframe: true, innerWidth: 500, innerHeight: 409});
                    $(".iframe").colorbox({iframe: true, width: "50%", height: "80%"});
                    $(".inline").colorbox({inline: true, width: "80%"});
                    $(".inline11").colorbox({inline: true, width: "30%"});
                    $(".callbacks").colorbox({
                        onOpen: function () {
                            alert('onOpen: colorbox is about to open');
                        },
                        onLoad: function () {
                            alert('onLoad: colorbox has started to load the targeted content');
                        },
                        onComplete: function () {
                            alert('onComplete: colorbox has displayed the loaded content');
                        },
                        onCleanup: function () {
                            alert('onCleanup: colorbox has begun the close process');
                        },
                        onClosed: function () {
                            alert('onClosed: colorbox has completely closed');
                        }
                    });
                    $('.non-retina').colorbox({rel: 'group5', transition: 'none'})
                    $('.retina').colorbox({rel: 'group5', transition: 'none', retinaImage: true, retinaUrl: true});

                    //Example of preserving a JavaScript event for inline calls.

                    $("#click").click(function () {
                        $('#click').css({"background-color": "#f00", "color": "#fff", "cursor": "inherit"}).text("Open this window again and this message will still be here.");
                        return false;
                    });
                });
            </script>
            <link href="/zend/public/css/css/style_banner.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="/zend/public/css/css/flexslider.css" type="text/css" media="screen" />
            <link href="/zend/public/css/css/amazon_scroller.css" rel="stylesheet" type="text/css"></link>
            <script type="text/javascript" src="/zend/public/css/js/amazon_scroller.js"></script>
            <script language="javascript" type="text/javascript">
                $(function () {
                    $("#amazon_scroller1").amazon_scroller({
                        scroller_title_show: 'enable',
                        scroller_time_interval: '4000',
                        scroller_window_background_color: "#eceaea",
                        scroller_window_padding: '2',
                        scroller_border_size: '1',
                        scroller_border_color: '#eceaea',
                        scroller_images_width: '191',
                        scroller_images_height: '88',
                        scroller_title_size: '13',
                        scroller_title_color: '#eceaea',
                        scroller_show_count: '5',
                        directory: 'images'
                    });
                });
            </script>
    </head>

    <body> 
        <header class="fw fl"> 
            <div class="header">
                <div class="header_top">
                    <div class="Howtop_bar">
                        <div class="container">
                            <div class="top_menu">
                                <ul class="main_ul">
                                    <li><a href="how_cashvasool.html">How It Works</a></li>
                                    <li><a href="refer_friend.html">Refer friend</a></li>
                                    <li><a href="all_stores.html">All stores</a></li>         
                                    <li><a href="testimonial.html">Testimonial</a></li>
                                    <li><a href="contactus.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="logo" style="margin-left:80px; margin-top:20px;">
                                <h2><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'store', 'id' => 1)); ?>"><img src="/zend/public/css/images/logo.png"  alt="logo" border="0" class="imgeffect"/></a></h2>
                            </div>
                        </div></div></div>
                <div class="clear"></div>
                <div class="container">
                    <!--PopupBox-->
                    <div style='display:none'>
                        <div class="PopupBox" id="popbox">
                            <div class="left_popbox">
                                <h2>Join India's No.1 Cashback & Coupon website</h2>
                                <div class="Joinlist">
                                    <ul>
                                        <li>Join Free in under 15 Secounds</li>
                                        <li>We pay you CASHBACK on top of Coupons,
                                            making us better than any other coupon site!</li>
                                        <li>Save money at Snapdeal, Myntra, Yebhi,
                                            Yatra & 500 more top brands</li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <a class='iframe' href="popup2.html" ><div class="btn_sign">Signup- Start Earning</div></a>
                                <br />
                                <br />
                            </div>
                            <div class="right_formbox">
                                <h2>Existing Members login</h2>
                                <p><img src="/zend/public/css/images/1.jpg" width="291" height="73" border="0" style="margin-top:10px;" /></div></p>
                            <input type="text"   value="Email" onblur="if (this.value == '') {
                                        this.value = 'Email';
                                    }" onfocus="if (this.value == 'Email') {
                                                this.value = '';
                                            }" class="P_emailbox"/>
                            <input type="text"   value="Password" onblur="if (this.value == '') {
                                        this.value = 'Password';
                                    }" onfocus="if (this.value == 'Password') {
                                                this.value = '';
                                            }" class="P_emailbox"/><br />
                            <span class="forgotPassword">Forgot Password?</span><br />
                            <input name="check" type="checkbox" value="check" style="margin-left:40px; margin-top:10px;" />Keep me signed in
                            <a href="#"><div class="Signup_btn">Sign up </div></a>

                            <div class="clear"></div>
                            <hr / style="border-left: 1px solid #c1c1c1;">

                                <div class="clear"></div>

                                <div style=" font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#039; line-height:35px;">SAVE MONEY at 500+ brands - why pay more when you can pay less?</div>
                                <img src="/zend/public/css/images/logos11.jpg" width="784" height="56"  border="0"/></div>
                    </div>
                </div>
            </div>

            <div class="header_bottom">
                <div class="header_menubg">
                    <div class="container"> 

                        <ul class="mee">
                            <li style="border:none;"><a href="#">Browse Categories</a> 
                                <div>
                                    <div class="radio_list_menu">
                                        <ul>
                                            <li><input name="radio" type="radio" value="radio" /> All offers </li>
                                            <li><input name="radio" type="radio" value="radio" /> Online offers </li>
                                        </ul>
                                    </div>
                                    <div class="mee-column">
                                        <h3>Electronics </h3>
                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">Brass Handle</a></li>
                                            <li><a href="productview.html">+All</a></li>
                                        </ul>
                                    </div>



                                    <div class="mee-column">

                                        <h3>Men</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>





                                    <div class="mee-column">

                                        <h3>Women</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>







                                    <div class="mee-column">

                                        <h3>Baby & Kids</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>



                                        </ul>

                                    </div>





                                    <div class="mee-column">

                                        <h3>Other Categories</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>



                                        </ul>

                                    </div>



                                </div>

                            </li>

                            <li><a href="#">Hot offers</a>

                                <div>

                                    <div class="mee-column">

                                        <h3>Top Cashback</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>



                                    <div class="mee-column">

                                        <h3>Top Coupon / Vouchers</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>

                                    <div class="mee-column">

                                        <h3>Top Sale Offers</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>

                                </div>         
                            </li>

                            <li><a href="#">Stores</a>

                                <div style="width:60%;">



                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>

                                            <li><a href="#">Flipkart </a></li>

                                            <li><a href="#">Snapdeal </a></li>

                                            <li><a href="#">Bigrock </a></li>

                                            <li><a href="#"> Expedia </a></li>

                                            <li><a href="#">Yatra </a></li>


                                        </ul>

                                    </div>

                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>
                                            <li><a href="#"> Junglee </a></li>

                                            <li><a href="#">Myntra </a></li>

                                            <li><a href="#"> Redbus </a></li>

                                            <li><a href="#"> Amazon </a></li>

                                            <li><a href="#">Goibibo </a></li>

                                        </ul>

                                    </div>


                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>
                                            <li><a href="#">Jabong </a></li>
                                            <li><a href="#">Godaddy </a></li>
                                            <li><a href="#"> Shopclues </a></li>
                                            <li><a href="#">Jet Airways </a></li>
                                            <li><a href="#">Fabfurnish </a></li>
                                        </ul>

                                    </div>




                                    <div class="mee-column">
                                        <!-- <h3>In Local Stores</h3>-->
                                        <ul>
                                            <li><a href="#">Zivame </a></li>
                                            <li><a href="#">Ebay </a></li>
                                            <li><a href="#">Makemytrip </a></li>
                                            <li><a href="#">Dominos </a></li>
                                            <li><a href="#">Homeshop18</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </li>

                            <div class="join_btnbox">
                                <ul>
                                    <li><a class='inline' href="#popbox">Sign in</a></li>
                                    <li><a href="joinus.html"> Join Us</a></li>
                                </ul>
                            </div>

                            <li><a href="#">Latest offers</a></li>
                            <!-- <li><a href="#">Popular Retailer</a></li>
                             <li><a href="#">Compare</a></li>-->

                        </ul>






                    </div>



                </div>

                <!-- Search-->
                <div class="container">  
                    <div style="width:100%; height:50px; margin-top:15px;"> 
                        <div style="text-align:left;">
                            <div class="col"><img src="/zend/public/css/images/c1.jpg"  border="0"/></div>
                            <input name="x" type="text" value="Search your favourite Stores or Category" onblur="if (this.value == '') {
                                        this.value = 'Search your favourite Stores or Category';
                                    }" onfocus="if (this.value == 'Search your favourite Stores or Category') {
                                                this.value = '';
                                            }" class="search_input"/> 
                            <input name="Search" type="button" value="Search" class="search_btn"/>
                            <a href="deals.html"><input name="Browse" type="button" value="Deals of the Day" class="Browse_btn"/></a>
                        </div>
                    </div>
                    <!-- end Search-->

                </div>




        </header>






        <div class="clear"></div>

        <a href="#" class="needhelp">Need Help?</a>



        <div class="container" > 
            <!--couponsbox-->
            <div class="couponsbox">
                <!--inner Coupons_box-->
                <div class="IN_Coupons_box">
                    <?php foreach ($merchanttable as $table) : ?>
                        <?php $element = $this->img('/zend/public/css/images/' . $table->logourl, array('width' => 170, 'height' => 78, 'border' => 0, 'style' => "float:left;")) ?>
                        <div class="offer_logo" style="margin-top:10px;"><?php echo $this->formImage($element); ?> </div>
                        <div class="IN_of">
                            <h2><?php echo $this->escapeHtml($table->merchantname); ?></h2>
                            <p> <?php echo $this->escapeHtml($table->description); ?><a href="#" class="more_IN">+ more...</a></p>
                            <div style="margin-top:20px;">  
                                <a href="#"><span class="joinfree_btn Amazon_right">Go to <?php echo $this->escapeHtml($table->merchantname); ?> Store and earn Cashback</span></a>  
                            </div>
                        </div>
                        <div class="inner_btnbox">
                            <div class="topinn"><span class="total_text">Total Coupons</span> <div class="cnt"> <?php echo $this->escapeHtml($table->noofcoupons); ?> <br /><span>coupons</span></div></div>
                            <div class="banner_in"> Add banner</div>
                        </div>
                    </div>
                    <!--end inner Coupons_box-->
                    <!--left_coupons-->
                    <div class="left_coupons Gap20">
                        <div class="mm_menubox">
                            <div class="Coupons_boldtext"> Coupons <span>by</span> <?php echo $this->escapeHtml($table->merchantname); ?> <span> - <?php echo $this->escapeHtml($table->noofcoupons); ?> results</span> </div>
                            <div class="mm_rightlist">
                                <?php
                                $url_order = 'ASC';  // the following lines
                                if ($order_by == 'entrydate')
                                    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
                                elseif ($order_by == 'expirydate')
                                    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
                                elseif ($order_by == 'couponid')
                                    $url_order = $order == 'ASC' ? 'DESC' : 'ASC';
                                ?>    
                                <ul>
                                    <li class="active"><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'store', 'id' => $table->merchantname, 'order_by' => 'entrydate', 'order' => $url_order)); ?>">Most Appreciated <?php if ($order_by == 'entrydate'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></li>
                                    <li><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'store', 'id' => $table->merchantname, 'order_by' => 'expirydate', 'order' => $url_order)); ?>">Expiring soon <?php if ($order_by == 'expirydate'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></li> 
                                    <li><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'store', 'id' => $table->merchantname, 'order_by' => 'couponid', 'order' => $url_order)); ?>">Popular <?php if ($order_by == 'couponid'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></li>
                                    <li><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'store', 'id' => $table->merchantname, 'order_by' => 'entrydate', 'order' => $url_order)); ?>">Newest <?php if ($order_by == 'entrydate'): ?><i class="icon-chevron-<?php echo $url_order == 'ASC' ? 'down' : 'up' ?>"></i><?php endif; ?></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>
                    <?php endforeach; ?>
                    <!--Coupons_box-->             
                    <?php foreach ($paginator as $coupons) : ?>
                        <div class="Coupons_box">
                            <div class="offer_textbox W_IN">
                                <h2><a href="#"><span>Offer</span>- <?php echo $this->escapeHtml($coupons->couponname); ?></a></h2>
                                <div class="madiletext">
                                    <span><?php echo $this->escapeHtml($coupons->longdescription); ?>  </span> 
                                </div>
                                <div class="Gap10"></div>
                                <h5><a class='inline11' href="#iframe"><img src="/zend/public/css/images/how.jpg" border="0" align="left"/>
                                        &nbsp; How to get this offer</a> 
                                    <span class="rr"> <img src="/zend/public/css/images/ex.jpg" border="0" align="absmiddle" style="margin-left:20px;"/> Expires in 4 days </span></h5>
                            </div>
                            <div class="offer_btnbox">
                                <h3><?php echo $this->escapeHtml($coupons->shortdescription); ?></h3>
                                <div class="Rating"><a href="#"><img src="/zend/public/css/images/link.jpg" border="0"align="left" class="imgeffect" /></a>
                                    <a href="#"><img src="/zend/public/css/images/link1.jpg" border="0"align="left" class="imgeffect" /></a> 
                                    Rating: <span>+152</span> (from 294 votes)</div>
                                <div class="dashed">Discount added automatically</div>
                                <a class='inline' href="#popbox"><span class="joinfree_btn">Join free or Sign-In to Get Cashback </span></a>
                                <div class="Gap10"></div>
                                <div class="Gap10"></div>
                                <div class="Gap10"></div>
                                <a class='inline' href="#popbox"><span class="joinfree_btn">Click to Redeem Offer & visit site </span></a>
                            </div>

                            <div class="clear"></div>
                            <div class="Gap10"></div>
                            <div class="likebox"><img src="/zend/public/css/images/like.jpg" border="0" /></div>

                        </div>
                    <?php endforeach; ?>
                    
 
                                             <?php
                     // add at the end of the file after the table
                                    echo $this->paginationControl(
                                            // the paginator object
                                            $this->paginator,
                                            // the scrolling style
                                            'sliding',
                                            // the partial to use to render the control
                                            'partial/paginator.phtml',
                                            // the route to link to when a user clicks a control link
                                            array(
                                        'route' => 'user/onlinemanager'
                                            )
                                    );
                                    ?>
                                          
  <!--Table Wrapper Finish-->
                                   

                    <!--end Coupons_box-->      
                </div>
                    
                <!--end left_coupons-->
                <!-- Right_coupons-->
                <div class="Right_coupons Gap55">
                    <div class="Rateslist">
                        <h3>Cashback Rates</h3>
                        <ul>
                            <li><span>12%</span> On Clothing & Footwear</li>
                            <li><span>4% </span>On Electronics</li>
                            <li><span> 4% </span>On Gift Cards</li>
                            <li><span>2.4% </span>On Hard Disk & Pen drives</li>
                            <li><span>8% </span>On Everything Else</li>
                            <li><span>Rs.0 </span>On Order By Using Gift Cards</li>
                            <li style="color:#666; font-weight:bold; font-size:15px; border:none;">Minimum Transaction Amount: Rs. 0</li>
                        </ul>
                    </div>

                    <div class="clear"></div>
                    <div class="Stepsbox">
                        <h3>Steps To Earn Cashback</h3>
                        <ul>
                            <li><img src="/zend/public/css/images/s1.jpg" hspace="6" border="0" align="left" /> Step 1<br />
                                Join & Browse Cashvasool</li>

                            <li><img src="/zend/public/css/images/s2.jpg" border="0" align="left" />Step 2<br />
                                Click-through & Shop from your favourite store</li>
                            <li><img src="/zend/public/css/images/s3.jpg" border="0" align="left" />Step 3<br />
                                Cashback gets tracked<br />
                                Within 72 hours</li>
                            <li><img src="/zend/public/css/images/s4.jpg" border="0" align="left" />Step 4<br />
                                Cashback gets Confirmed<br />
                                Between 4-12 weeks</li>
                            <li><img src="/zend/public/css/images/s5.jpg" border="0" align="left" />Step 5<br />
                                Get Paid</li>
                        </ul>
                    </div>

                </div>  
                <!-- end  Right_coupons -->

            </div>

            <!--end couponsbox-->

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
        <!-- scroll copan-->
        <div class="scroll_testimony" style="margin-bottom:10px;">   
            <div style="background-color:#eceaea; width:1024px;  margin:0 auto;">

                <h5>You might be interested in these stores as well</h5>

                <div id="amazon_scroller1" class="amazon_scroller">
                    <div class="amazon_scroller_mask">
                        <ul>


                            <li style="margin-left:-40px;">
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_1.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>

                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_2.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_3.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_4.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>

                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/images/offer_logo_5.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/images/offer_logo_6.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_7.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_8.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/zend/public/css/images/offer_logo_9.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/images/offer_logo_10.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>

                            <li>
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/images/offer_logo_11.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>

                            <li style="margin-right:60px;">
                                <div class="offer_coupan">
                                    <div class="offer_coupan_back"><a href="#" class="shop_now">Shop Now</a></div>
                                    <img src="/images/offer_logo_12.jpg" width="191" height="88" alt="logo" />
                                    <p>Up to 10% Cashback  &amp; 18 Coupons</p>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <ul class="amazon_scroller_nav">
                        <li style="margin-left:-10px;"></li>
                        <li></li>
                    </ul>
                </div>





            </div>
        </div>
        <!--end  scroll copan-->

        <div class="clear"></div>
        <!--  testimonials-->
        <div class="scroll_testimony">


            <div id="main" role="main">
                <section class="slider"  style="background-color:#eceaea; width:1024px; margin:0 auto;">
                    <div class="flexslider" >
                        <ul class="slides" >
                            <li>
                                <div style="width:470px; height:130px; float:left; margin-right:10px;">
                                    <img src="/images/t1.png" alt="" class="grid_icon"/>
                                    It is excellent concept of cash back when you shop. Especially for women it's 
                                    exciting to know that you get more in return for shopping. 
                                    Also the level of accuracy, the response time and execution is excellent,
                                    Commendable job by the team.
                                    <h2>Poonam Joshi</h2>
                                    <h3>House Wife</h3>
                                </div>

                                <div style="width:470px; float:left; height:130px; margin-right:10px;">
                                    <img src="/images/t2.png" alt="" class="grid_icon"/>
                                    This site is real and genuine.. I got cash back paid as promised.. no hassles, cheating or fraud. Join this site and start earning on your purchases.. !!! Thank you cashkaro for such a great initiative... :) :) :) :)
                                    <h2>Swapnil</h2>
                                    <h3>Web Designer</h3></div>
                            </li>

                            <li>
                                <div style="width:470px; height:130px; float:left; margin-right:10px;">
                                    <img src="/images/t3.png" alt="" class="grid_icon"/>
                                    GREAT EXPERIENCE TO SHOP & SAVE...WOW ..THREE CHEERS FOR CASHVASOOL.COM. 
                                    <h2>Rahul Roy</h2>
                                    <h3>Doctor</h3>
                                </div>

                                <div style="width:470px; float:left; height:130px; margin-right:10px;">
                                    <img src="/images/t4.png" alt="" class="grid_icon"/>
                                    Very good site ..AWESOME @@-- !!!.
                                    <h2>Anushka Aggarwal</h2>
                                    <h3>Student</h3></div>
                            </li>

                        </ul>
                    </div>
                </section>


            </div>



        </div>
        <!--end  testimonials-->





        <div class="clear"></div>



        <!--footer-->
        <div id="footer">
            <div class="innerfooter">
                <div class="Overview">
                    <h3>Cashvasool</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="faq.html">FAQ's</a></li>
                            <li><a href="whycashvasool.html">Why Cashvasool?</a></li>
                            <li><a href="cashback_options.html">Cashback Options</a></li>
                            <li><a href="sitemap.html">SiteMap</a></li>
                            <li><a href="terms.html">Terms and Conditions</a></li>
                            <li><a href="privacy_policy.html">Privacy Policy</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Overview">
                    <h3>Links</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="how_cashvasool.html">How Cashvasool Works</a></li>

                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="internship.html">Internship</a></li>
                            <li><a href="partner.html">Become our Partner</a></li>
                            <li><a href="deals.html">Deals of the Day</a></li>
                            <li><a href="hotoffers.html">Hot Offers</a></li>
                            <li><a href="blog.html">Blog </a></li>

                        </ul>
                    </div>
                </div>
                <div class="Overview">
                    <h3>My Account</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a class='inline' href="#popbox">Sign In</a></li>
                            <li><a href="joinus.html">Join us</a></li>
                            <li><a href="refer_friend.html">Refer and Earn</a></li>
                            <li><a href="missing_cashBack.html">Missing CashBack</a></li>
                            <li><a href="cashvasool_wallet">Cashvasool Wallet</a></li>
                            <li><a href="payment.html">Payment</a></li>
                        </ul>
                    </div>
                </div>

                <div class="Overview">
                    <h3>My Categories</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="all_stores.html">All Stores</a></li>
                            <li><a href="electronics.html">Electronics</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                            <li><a href="fashion.html">Fashion</a></li>
                            <li><a href="travel.html">Travel</a></li>
                            <li><a href="matrimonial.html">Matrimonial</a></li>
                        </ul>
                    </div>
                </div>

                <div class="Overview" style="border:none;">
                    <div class="social" style="float:left; margin:0px;">
                        <ul>
                            <li><a href="#" class="fb"></a></li>
                            <li><a href="#" class="twt"></a></li>
                            <li><a href="#" class="gplus"></a></li>
                            <li><a href="#" class="in"></a></li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <p>
                        <h3>Email Id</h3>
                        <span class="or_colour">support@cashvasool.com</span>
                        <span class="or_colour">care@cashvasool.com</span>
                        <span class="or_colour">info@cashvasool.com</span>

                    </p>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="IN_bottom_bar"> &copy; 2014 <span class="or_colour">Cashvasool.</span> All Rights Reserved.
                    <div class="Powered">Powered By: <a href="http://shop.fireflysolutions.in/" target="_blank"><span class="or_colour">FireFly Solutions</span> </a></div>
                </div>
            </div>
        </div>
        <!--end footer-->

        </div>

        <script defer src="/zend/public/css/js/jquery.flexslider.js"></script>

        <script type="text/javascript">
                                        $(function () {
                                            SyntaxHighlighter.all();
                                        });
                                        $(window).load(function () {
                                            $('.flexslider').flexslider({
                                                animation: "slide",
                                                start: function (slider) {
                                                    $('body').removeClass('loading');
                                                }
                                            });
                                        });
        </script>

    </body>
</html>

