/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/* Main Styles */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoCondensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
}





::selection {
	background-color: #3c3c3c;
	color: #fff;
}
html, body {
	
	width:100%;
	height:100%;
	padding:0;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	background:url(../images/message-bg.jpg) left bottom  ;
    background-repeat:no-repeat;
	background-attachment:fixed;
	 background-color:transparent;
	background-size:cover;
}

@font-face {
	font-family: 'quates';
	src: url("../font-face/quates-fonts/icons.eot");
	src: 
		url("../font-face/quates-fonts/icons.eot?#iefix") format('embedded-opentype'), 
		url("../font-face/quates-fonts/icons.woff") format('woff'), 
		url("../font-face/quates-fonts/icons.ttf") format('truetype'), 
		url("../font-face/quates-fonts/icons.svg#icons") format('svg');
	font-weight: normal;
	font-style: normal;
}
 p
{
letter-spacing:0.06em !important;
	}

a,
a:hover,
a:active,
a:focus
{
	color:#464646;
	text-decoration:none;
	outline:none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:100;
}

p{
	margin:0 0 5px;
	color:#666;
	font-weight:0;
}

.txt-justify{ text-align:justify;}
.clear{
	clear:both;
}

ol, ul{
	list-style:none;
	padding:0;
}

/* Page Animated item Styles */

.animated{
	visibility:hidden;
}

.visible{
	visibility:visible;
}

/* Page Loading */

#pageloader {
	width: 100%;
    height: 100%;
    position: fixed;
	background-color: #131313;
    z-index: 999999;
}
.loader-item {
  position: absolute;
  width: auto;
  height:height;
  margin: -25px 0 0 -25px;
  top:50%;
  left:50%;
  text-align:center;
}

.loader-item h2{
	color:#ccc;
	margin:0 auto;
	font-size:20px;
}

/* Containers */

.contain{
	width:100%;
	position:relative;
	height:auto;
}

.inner{
	width:100%;
	max-width:1150px;
	margin:0 auto;
	padding:150px 0 0 0;
	position:relative;
	z-index:2;
}

.contain-logo{
	margin:auto;
	width:64px;
	height:64px;
	background:white;
	border:1px solid #bcbcbc;
	padding:18px 0;
	text-align:center;
	position:relative;
	top:-32px;
	border-radius:100px;
}

.contain-logo i{
	font-size:30px;
	color:#bcbcbc;
	font-weight:light;
}

/* Page Headers */

.header{
	margin:auto;
	font-size:32px;
	font-weight:300;
	text-transform:capitalize;
	width:100%;
	text-align:center;
}
.header-sub-desc{
	margin: 8px auto 8px auto;
	padding:0 0 10px 0;
	font-size:16px;
	font-weight:500;
text-transform:capitalize;
	width:100%;
	max-width:860px;
	text-align:center;

	background:url(../img/center-style.png) center bottom no-repeat;
}
/*small heading*/
.heading-a,
.heading-l{
font-size:22px;
font-weight:500;
color:#333;	
}

.heading-l{
margin-bottom:0;
padding-bottom:0;
width:100%;
text-align:left;
line-height:20px;
}
.heading-l-desc{

	padding:0 0 10px 0;
	font-size:14px;
	font-weight:500;
width:100%;

background:url(../img/blog-title-b.png) left bottom no-repeat;
}
.border-theme-l{
	line-height:45px !important;
background:url(../img/blog-title-b.png) left bottom no-repeat;	
}
.page-desc{
	margin:5px auto 20px auto;
	font-size:14px;
	font-weight:400;
text-transform:capitalize;
	width:100%;
	max-width:750px;
	text-align:center;
	opacity:0.7;
}
.heading-b{
	margin:auto;
	font-size:24px;
	font-weight:350;
	text-transform:capitalize;
	width:100%;
	text-align:left;
	padding-bottom:10px;
	background:url(../img/left-border-style.png) left bottom no-repeat;
	
}
.ic-check{ margin:0; padding:0;}
.ic-check li{ float:left; width:250px; padding:8px 0;
-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;


}
.ic-check li a{}
.ic-check li a i{ padding-right:10px; color:#056ab2;}
.ic-check li a:hover{color:#056ab2; padding-left:10px;
-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;


}

.dark{
	color:#3c3c3c;
}

.white{
	color:white;
}

/* End Main Styles */

/* Home */

#home{
	width:100%;
	height:auto;
	position:relative;
}

/* Super Slides */

#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .slides-container  div,
#slides .slides-container  img{
	width:100%;
	height:100%;
}
.home-pattern{
	background: black;
	opacity:0.4;
}
.pattern:after{
	background: url(../images/pattern.png);
	width:100%;
	height:100%;
	bottom:0;
	left:0;
	position:absolute;
	z-index: 1;
 	content: "";
}

.home-pattern-style{
	background:url(../images/home-pattern.jpg) repeat;
	width:100%;
	height:100%;
}

#slides .slides-container .image1{
	background:url(../images/1.jpg) center fixed;
}

#slides .slides-container .image2{
	background:url(../images/2.jpg) center fixed;
}

#slides .slides-container .image3{
	background:url(../images/3.jpg) center fixed;
}

#slides .slides-container .image4{
	background:url(../images/4.jpg) center fixed;
}

#slides .slides-container .image5{
	background:url(../images/5.jpg) center fixed;
}

#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}

/* Super Slides Navigation */

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 45%;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
	width:74px;
	height:74px;
	background:url(../images/arrows.png);
	opacity:0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.slides-navigation a.prev {
	left: 1%;
	background-position:bottom center;
}
.slides-navigation a.next {
	right: 1%;
	background-position:top center;
}

#home:hover .slides-navigation a{
	opacity:0.3;
}

.slides-navigation a:hover{
	opacity:1 !important;
}

/* Super Slides Pager */

.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.slides-pagination a {
	border: 2px solid #222;
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	margin: 2px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
	background: #222;
}

/* Main Home Texts - With Flexslider */

.main{
	position:absolute;
	width:100%;
	top:50%;
	margin:0 auto;
	z-index:2;
	background: transparent;
	height:auto;
	min-height:300px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align:center;
}

.main ul {
	height:auto;
	min-height:160px;
	padding:0;
	margin:0 auto;
	position:relative;
}

.main ul li{
	list-style:none;
	font-size:110px;
	color:white;
	text-transform:uppercase;
	text-shadow:2px 2px 2px rgba(0,0,0,0.1);
}

.main ul li span{
	color:#f02d2d;
}

.home-slider{
	width:100%;
}

/* Home Description */

.home-desc{
	width:100%;
	max-width:670px;
	margin:35px auto;
	position:relative;
	text-align:center;
	color:white;
	font-size:20px;
	font-weight:400;
	text-transform:uppercase;
}

/* Home Get Started Button */

.home-button{
	width:170px;
	height:auto;
	padding:10px 23px;
	border:1px solid white;
	background: rgba(43,43,43,0.1);
	color:white;
	font-weight:300;
	text-transform:uppercase;
	font-size:20px;
	cursor:pointer;
	margin:35px auto;
	display:block;
	text-align:center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.home-button:hover{
	background:white;
	color:#3c3c3c;
	text-decoration:none;
}

/* Page Top (only Rev Slider Version) */

#pagetop{
	background:#232323;
	padding:12px 0;
}

.pagetop{
	padding:0;
	color:#a4a4a4;
	font-weight:300;
	line-height:1.8em;
}

.pagetop .left{
	text-align:left;
	padding:0;
}

.pagetop .right{
	text-align:right;
	padding:0;
}

.pagetop a{
	  font-family:Arial, Helvetica, sans-serif;
	color:#505050;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-left:solid 1px rgba(0,0,0,0.2);
	padding:8px 12px;
	
	font-size:14px;
	
}
.pagetop a:last-child{border-right:solid 1px rgba(0,0,0,0.3);}

.pagetop a:hover{
	color:#000;
	background-color:#e6e6e6;
}

/* Navigation */

#navigation{
	width:100%;
	border-bottom:1px solid #e2e2e2;
	position:absolute;
	z-index:9999;
	background:#fff;
	height:112px;
	box-shadow:0 1px 5px rgba(0,0,0,0.5);
}

#navigation .navigation{
	padding:0;
	height:100%;
}

.shadow{
	box-shadow:0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Logo */

.navigation .logo{
	float:left;
	position:absolute;
	z-index:999;
}

.navigation .logo a{
	width:auto;
	display:block;
	margin:20px 0 0;
}

/* Nav Menu */

.nav-menu{
	width:auto;
	float:right;
	height:82px;
	text-align:right;
}

.nav-menu ul{
	padding:0;
	margin:0;
}

.nav-menu ul li{
	height:82px;
	width:auto;
	display:block;
	float:left;
	list-style:none;
	padding:0;
	margin:0;
}

.nav-menu ul li  a{
	
	padding:32px 10px;
	display:block;
	text-transform:uppercase;
	font-size:14px;
	text-align:center;
	color:#464646;
	
}
.nav-menu ul li  a:hover
{
background-color:#056ab2;
color:#FFF;
transition:all 0.3s;
-webkit-transition:all 0.3s;
-moz-transition:all 0.3s;
-o-transition:all 0.3s ;
-ms-transition:all 0.3s;	
	
	
	
}
.nav-menu ul li a.active
{
background-color:#056ab2;
color:#FFF;

	
	
	
}

/*.nav-menu ul li:first-child a{
	padding-left:0;
}

.nav-menu ul li:last-child a{
	padding-right:0;
}*/

.nav-menu a:hover{
	color:#056ab2;
	 
}

.nav-menu a.active{
	color:#056ab2;
	
}

.main-nav > li > a:hover,
.main-nav > li > a:focus{
	background:none;
}

.main-nav li.active a{
	background-color:#056ab2;
color:#FFF;
transition:all 0.1s ease-in-out;
-webkit-transition:all 0.1s ease-in-out;
-moz-transition:all 0.1s ease-in-out;
-o-transition:all 0.1s ease-in-out;
-ms-transition:all 0.1s ease-in-out;
	
}

/* Mini Navigation For Mobile */

.mobile-drop{
	height:100%;
	width:100%;
	display:none;
}

a.mobile-menu{
	position:absolute;
	top:50%;
	font-size:21px;
	right:30px;
	left:auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mobile-drop ul.fullwidth{
	width:100%;
	position:relative;
}

.mobile-drop ul.fullwidth li{
	width:100%;
	height:auto;
	margin:0;
}

.mobile-drop ul.fullwidth li a{
	padding:10px;
	margin:0;
	height:auto;
	text-align:left;
	text-transform:uppercase;
	border-bottom:1px solid #ededed;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.mobile-drop ul.fullwidth li.active a{
	background-color:#383838;
	color:white;
}

/* Rev Slider Section */

.revslide .stext{
	text-transform:uppercase;
	font-weight:400;
	margin:0;
}

/* Slide 1 */

.revslide .p1{
	font-size:35px;
	color:#262626;
}

.revslide .h1{
	font-size:55px;
	color:#262626;
	margin:5px 0;
}
.revslide span{
	color:#e70000;
}

.revslide .h2{
	font-size:20px;
	color:#262626;
}

.revslide .h3{
	font-size:20px;
	color:#262626;
	padding:9px 0;
}

/* Slide 2 */

.revslide .h4{
	font-size:85px;
	text-align:center;
	color:white;
	padding:0;
}

.revslide .h5{
	font-size:30px;
	text-align:center;
	color:white;
	padding:0;
	font-weight:300;
}

/* Slide 3 */

.revslide .h6{
	font-size:50px;
	color:#726c64;
	padding:0;
}

.revslide .p5{
	font-size:25px;
	color:#726c64;
	padding:0;
}

.revslide .p6{
	font-size:15px;
	color:#726c64;
	padding:0;
	text-transform:none;
	font-weight:300;
}

/* Text Area */

#text-area{
	background:#3c3c3c;
}

.text-area{
	text-align:center;
	text-transform:uppercase;
	color:white;
	padding:30px 0;
}

.text-area h1{
	margin:0;
	font-size:35px;
}

.text-area h1 span{
	font-weight:500;
}

.text-area a{
	display:inline-block;
	margin:20px 7px 5px;
	padding:6px 18px;
	border:1px solid white;
	background:transparent;
	font-size:20px;
	color:white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.text-area a:hover{
	color:#3c3c3c;
	background:white;
}

/* About Section */

#about{
	background:#f5f5f5;
	padding:30px 0 0px;
	top:0;
}

#about .about-content{
	width:25%;
	height:auto;
	min-height:276px;
	background:#fff;
	float:left;
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#about .about-content .icon{
	text-align:center;
	margin:19px auto 16px;
}

#about .about-content .top{
	width:70px;
	height:70px;
	background:transparent;
	border:2px solid #464646;
	border-radius:100px;
	padding:20px 0;
	position:relative;
}

#about .about-content .top:after{
	position:absolute;
	background:transparent;
	content:'';
	left:0;
	top:0;
	width:100%;
	height:100%;
	border-radius:500px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	
}

#about .about-content .top i{
	font-size:30px;
}

#about .about-content .bottom i{
	width:31px;
	height:31px;
	padding-top:6px;
	font-size:20px;
	color:#929292;
	background:transparent;
	border:1px solid #464646;
	border-radius:100px;
}

#about .about-content .text{
	width:95%;
	text-align:center;
	margin:auto;
}

#about .about-content .content-header{
	text-transform:uppercase;
	font-size:20px;
}

#about .about-content .content-desc{
	font-size:15px;
	color:#717171;
	margin-top:10px;
	font-weight:100;
}

/* About Content Hover Styles */

#about .about-content:hover{
	background:#3c3c3c;
	color:#fff;
}

#about .about-content:hover .top{
	border:2px solid #464646;
	background:#fff;
	/*
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	*/
}

#about .about-content:hover .top:after{
	border:2px solid white;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#about .about-content:hover .top i{
	color:#464646;
}

#about .about-content:hover .content-desc{
	color:#fff;
}

#about .about-content:hover .bottom i{
	border:1px solid #fff;
	color:#fff;
}

/* Features */

#features{
	background:url(../images/i1.jpg)top center repeat-x;
	height:962x;
	margin-top:20px;
}

.f-iphone{
	width:100%;
	height:606px;
	margin:50px auto 0;
	max-width:1030px;
	background:url(../images/f-iphone.png) center center no-repeat;
}

/* Features Boxes */

.f-box{
	float:left;
	text-align:right;
	width:360px;
	position:relative;
	margin:25px 0;
	padding:0 50px 0 0;
	color:#747474;
	font-weight:300;
}

.f-box:after{
	content:'';
	width:108px;
	height:124px;
	right:-85px;
	top:35px;
	position:absolute;
}

.f-box:nth-of-type(2n){
	float:right;
	text-align:left;
	padding:0 0 0 50px;
}

.f-box:nth-of-type(2n):after{
	left:-85px;
}

.f-box:nth-of-type(2n) .f-box-logo {
	margin-left:0;
}

/* Features Box inners */

.f-box .f-box-logo{
	width:70px;
	height:70px;
	background:transparent;
	border:1px solid #666666;
	border-radius:200px;
	text-align:center;
	padding-top:21px;
	margin-left:240px;
}

.f-box .f-box-logo i{
	font-size:30px;
}

.f-box .f-box-head{
	font-size:30px;
	text-transform:uppercase;
	font-weight:300;
	margin:10px 0 0;
}

.f-box .f-box-desc{
	font-size:14px;
}

/* Features Box Strips */

.f1:after{
	background:url(../images/f1.png) no-repeat;
}

.f2:after{
	background:url(../images/f2.png) no-repeat;
}

.f3:after{
	background:url(../images/f3.png) no-repeat;
}

.f4:after{
	background:url(../images/f4.png) no-repeat;
}

/* Tabs & Skills */

#skills{
	margin-top:30px;
}

.skills{
	border-top:1px solid #bcbcbc;
}

/* Top Icon Style */

.br{
	top:-72px;
}

/* Tabs */

.tabs{
	width:58%;
	float:left;
}

/* Tabs Navigations */

.nav-tabs{
	border:none;
}

.nav-tabs li a{
	font-size:16px;
	color:#727373;
	font-weight:300;
	padding:12px 30px;
	text-transform:uppercase;
	border-radius:0;
}

.nav-tabs li.active a{
	border-top:2px solid #e70000;
}

.nav-tabs li.active a:hover{
	border-top:2px solid #e70000;
}

/* Tabs panes */

.tab-pane{
	padding:30px 0px;
	border:1px solid #eeeeee;
	font-size:15px;
	font-weight:300;
	color:#8f8f8f;
}

.tab-pane .tab-icon{
	padding:0 15px;
	float:left;
	width:28%;
}

.tab-pane .tab-desc{
	padding:0 20px;
	float:left;
	width:72%;
	text-align:justify;
}

.tab-pane .only{
	width:100%;
}

/* Progress */

.Progress-bars{
	float:right;
	width:40%;
	height:auto;
}

.Progress-bars .head{
	font-size:30px;
	color:#8f8f8f;
	text-transform:uppercase;
	font-weight:300;
}

.Progress-content{
	margin:6px 0;
	padding:18px;
	border:1px solid #ededed;
}

.progress{
	margin-bottom:8px;
}

/* Progress Texts */

.progress-texts span{
	display:block;
	padding:5px 0;
	color:#acacac;
	font-size:15px;
}

.progress-texts .progress-name{
	float:left;
	text-transform:uppercase;
}

.progress-texts .progress-value{
	float:right;
}

/* History */

#history{
	margin:60px auto 0;
	min-height:1000px;
	background:url(../images/i2.jpg) top center repeat fixed;
}

/* Timeline */

ul.timeline{
	margin:40px auto 0;
	width:100%;
	background:url(../images/timeline-bg.jpg) center center repeat-y;
	height:auto;
	position:relative;
	padding:0 0 80px;
}

/* Year icon */

.timeline .year{
	width:75px;
	height:75px;
	border:3px solid #919191;
	border-radius:300px;
	background:white;
	clear:both;
	padding:21px 0;
	text-align:center;
	font-weight:300;
	color:#3c3d3d;
	font-size:20px;
	margin:31px auto;
}

/* Notes */

.timeline .note{
	float:left;
	padding:20px;
	width:47.5%;
	background: rgba(242,242,242,0.1);
	border-radius:12px;
	margin:10px 0;
	cursor:pointer;
	position:relative;
	z-index:550;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.timeline .year + .note{
	margin-top:-20px;
}

/* Start Icon */

.timeline .start{
	width:64px;
	height:64px;
	border:3px solid #919191;
	border-radius:300px;
	background:white;
	position:absolute;
	clear:both;
	padding:19px 0;
	text-align:center;
	color:#868586;
	font-size:24px;
	bottom:0px;
	left:50%;
	margin-left:-32px;
}

/* Note inners */

.timeline .note h4{
	font-size:19px;
	color:white;
	text-transform:uppercase;
	font-weight:300;
	color:#999999;
	margin:5px 0;
}

.timeline .note p{
	font-size:14px;
	color:#767676;
	margin:8px 0;
}

.timeline .note span.date{
	font-size:14px;
	text-transform:uppercase;
	color:#a5a5a5;
	line-height:12px;
}

.timeline .note .arrow{
	color:rgba(242,242,242,0.1);
	position:absolute;
	right:-1.6%;
	left:auto;
	top:20px;
	font-size:12px;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.timeline .note:after{
	content:'';
	position:absolute;
	right:-6.8%;
	display:block;
	width:18px;
	height:18px;
	background:#343434;
	border:2px solid #d6d6d6;
	border-radius:100px;
	top:18px;
	z-index:20;
}

.timeline .note:nth-of-type(2n){
	float:right;
	clear:right;
}

.timeline .note:nth-of-type(2n):after{
	left:-6.8%;
}

.timeline .note:nth-of-type(2n) .arrow{
	left:-1.6%;
	right:auto;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* Notes Rollover */

.timeline .note:hover{
	background:#f2f2f2;
}

.timeline .note:hover h4{
	color:#707070;
}

.timeline .note:hover p{
	color:#767676;
}

.timeline .note:hover:after{
	background:#f02d2d;
	border:2px solid #f02d2d;
}

.timeline .note:hover .arrow{
	color:#f2f2f2;
}

/* Our Team */

#team{
	padding:60px 0 0;
}

.team-items{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:30px auto;
	position:relative;
}

.owl-wrapper-outer{
	text-align:center;
}

/* Our Team item */

.owl-item .item{
	height:auto;
	font-weight:300;
	margin:60px 0 0;
	padding:15px;
	cursor:pointer;
	border-bottom:4px solid #fff ;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.owl-item .item img{
	border:4px solid #f4f4f4;
}

.owl-item .item h3{
	font-size:20px;
	color:#4e4e4e;
	text-transform:uppercase;
	margin:0px;
}

.owl-item .item h4{
	font-size:16px;
	color:#a2a2a2;
	text-transform:uppercase;
	line-height:15px;
	margin:5px auto 15px;
}

.owl-item .item p{
	font-size:15px;
	color:#a2a2a2;
}

/* Our Team Socials */

.socials{
	width:100%;
	text-align:center;
}

.socials a{
	padding:6px 3px;
	text-align:center;
	color:#656565;
	font-size:17px;
	cursor:pointer;
}

/* Our Team Control Buttons */

.owl-buttons{
	position:absolute;
	top:0;
	width:80px;
	left:50%;
	margin-left:-40px;
	
}

.owl-buttons>div{
	width:35px;
	height:35px;
	background-image:url(../images/team/controls.png);
	color:black;
	cursor:pointer
}

.owl-prev{
	float:left;
	background-position:left top;
}

.owl-next{
	float:right;
	background-position:right top;
}

/* Our Team Rollovers */

.owl-prev:hover{
	background-position:left bottom;
}

.owl-next:hover{
	background-position:right bottom;
}

.owl-item .item:hover{
	background:#3c3c3c;
	border-bottom:4px solid #e70000 ;
}

.owl-item .item:hover  h3 {
	color:#e4e4e4;
}

.owl-item .item:hover  h4 {
	color:#e4e4e4;
}

.owl-item .item:hover  p {
	color:#e4e4e4;
}

.socials a i.fa-facebook:hover{
	color:#305fa5;
}

.socials a i.fa-instagram:hover{
	color:#ae997d;
}

.socials a i.fa-pinterest:hover{
	color:#cc2127;
}

.socials a i.fa-twitter:hover{
	color:#2daae2;
}

.socials a i.fa-google-plus:hover{
	color:#da2713;
}

/* Why Wisten */

#why-wisten{
	margin:50px auto 0;
	background:url(../images/i3.jpg) center fixed;
	padding:0 0 30px;
}

/* iphone image */

.w-iphone{
	float:left;
	margin:30px auto 20px;
	margin-left:-40px;
	width:49%;
}

.w-iphone img{
	width:100%;
}

/* accordion menu */

.accordion{
	float:right;
	text-align:left;
	width:49%;
	font-weight:300;
	font-size:15px;
	color:#2a2a2a;
}

.accordion .accordion-head{
	font-size:40px;
	color:#565656;
	text-transform:uppercase;
}

.accordion .accordion-head span{
	color:#f02d2d;
}

.accordion .panel{
	width:100%;
	border-bottom:1px solid #b5b5b5;
	padding:20px 0 0;
	background:transparent;
	margin-bottom:0;
}

.accordion-heading{
	width:100%;
	margin-bottom:15px;
	text-transform:uppercase;
}

.accordion-inner{
	padding:0 15px 15px;
	display:block;
}

/* Our Works */

#portfolio{
	font-weight:300;
}

.works{
	position:relative;
	height:auto;
}

/* Filter Menu */

.filter-menu{
	position:relative;
	z-index:999999;
}

.filters{
	width:100%;
	text-align:center;
	padding:0;
	margin:40px auto 35px;
}

.inline{
	font-size:0px;
}

.filters li{
	text-align:center;
	display: inline-block;
	font-size:15px;
}

.filters li a{
	padding:13px 20px;
	color:#7a7a7a;
	border:none;
	text-transform:uppercase;
	background:#e9e9e9;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.filters li a.selected{
	color:white;
	background:#3c3c3c;
	cursor:default;
}

.filters li:last-child a{
	border-top-right-radius:60px;
	border-bottom-right-radius:60px;
	padding-right:25px;
}

.filters li:first-child a{
	border-top-left-radius:60px;
	border-bottom-left-radius:60px;
	padding-left:25px;
}

.filters li:hover a{
	background:#3c3c3c;
	color:white;
}

/* Portfolio items */

.items{
	position:relative;
	height:auto;
}

.work{
	margin:9px 0;
	padding:0 9px;
	height:auto;
	color:#aaaaaa;
	cursor:pointer;
	overflow:hidden;
}

.work-inner{
	border:1px solid #ebebeb;
}

.work-img{
	width:100%;
	background:black;
	position:relative;
	overflow:hidden;
}

.work-img img{
	width:100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.work-desc{
	width:100%;
	background:white;
	margin:0;
	text-align:center;
	padding:15px 5px;
}

.work-desc h4{
	text-transform:uppercase;
	font-size:20px;
	margin:0;
}

.work-desc p{
	font-size:15px;
	margin:0;
}

.work-img .button{
	width:42px;
	height:42px;
	display:block;
	border-radius:100px;
	background:white;
	position:absolute;
	text-align:center;
	padding:11px 0 0;
	font-size:15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.work-img .button:hover{
	background:#e70000;
	color:white;
}

.work-img .zoom{
	left:37%;
	top:20%;
	opacity:0;
}

.work-img .detail{
	right:37%;
	bottom:20%;
	opacity:0;
}

.work:hover .work-img img{
	opacity:0.2;
}

.work:hover .work-img .zoom{
	top:50%;
	opacity:1;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work:hover .work-img .detail{
	bottom:50%;
	opacity:1;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	transform: translateY(50%);
}

/* isotope styles */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Services */

#services{
	margin:100px auto;
}

#services .bg{
	background:url(../images/i4.jpg) top center fixed;
}

.service-contents{
	margin:40px auto;
}

/* Service items*/

.service{
	display:block;
	float:left;
	margin:0 20px;
}

.box{
	position:relative;
	z-index:10;
}

.service a.service-logo{
	display:block;
	width:100px;
	height:100px;
	border:1px solid #494949;
	border-radius:500px;
	margin:15px auto;
	padding:42px 0;
	position:relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.box a:after{
	border:1px solid #494949;
	content:'';
	width:100px;
	height:100px;
	left:0px;
	top:0px;
	border-radius:500px;
	position:absolute;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity:0;
}

.service a.service-logo i{
	font-size:20px;
	color:#494949;
}

.service h3{
	margin:5px auto 15px;
	padding:0;
	text-transform:uppercase;
}

.service p{
	font-size:14px;
}
/* Service Control Buttons*/

.service-contents .owl-buttons{
	width:107%;
	left:0;
	top:45%;
	display:none;
}

/* Service Hovers*/

.box:hover a.service-logo{
	background:#494949;
}

.box:hover a.service-logo i{
	color:white;
}

.box:hover a:after{
	left:-1px;
	top:-1px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity:1;
}

/* Services Bottom*/

#services .bottom-bg{
	background:url(../images/ipad.png) bottom center no-repeat;
	min-height:240px;
	margin:80px auto;
}

.service-bottom-text{
	text-align:center;
	font-size:45px;
	font-weight:100;
	text-transform:uppercase;
	color:#494949;
}

.service-bottom-text span{
	/* Background Styles */
	background: rgb(46,55,63); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(46,55,63)), color-stop(100%,rgb(85,106,132))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(46,55,63) 0%,rgb(85,106,132) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(46,55,63) 0%,rgb(85,106,132) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(46,55,63) 0%,rgb(85,106,132) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(46,55,63) 0%,rgb(85,106,132) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e373f', endColorstr='#556a84',GradientType=0 ); /* IE6-8 */
	
	border-radius:12px;
	padding:5px 20px;
	position:relative;
	color:white;
}

.service-bottom-text span:after{
	position:absolute;
	content:'';
	width:170px;
	height:100px;
	top:68px;
	left:-34px;
	background:url(../images/spanbg2.png) center center no-repeat;
}

.slide-s{
	width:75%;
	margin:0 auto 30px;
}

.service-text .item{
	height:180px;
}

/* Controls */

.carousel .s-controls{
	background-image:url(../images/service-icons.png);
	width:30px;
	height:30px;
	margin:20px;
	opacity:0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.carousel a.right{
	background-position:right top;
}

.carousel a.left{
	background-position:left top;
}

.bottom-bg:hover .s-controls{
	opacity:1;
}

.carousel a.left:hover{
	background-position:left bottom;
}

.carousel a.right:hover{
	background-position:right bottom;
}

/* video */

#video{
	height:765px;
	margin:0;
	position:relative;
}

.video-logo{
	position:relative;
	z-index:5;
}

.video-pattern{
	background: url(../images/pattern.png);
	width:100%;
	height:100%;
	top:0;
	left:0;
	padding:75px 0;
	position:absolute;
	text-align:center;
}

.video-text{
	background: url(../images/video-text.png) center center no-repeat;
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	text-align:center;
	z-index:1;
}


/* Pricing Tables */

#prices{}

.packages{
	margin:40px auto;
}

.packages .package{
	border:1px solid #e1e1e1;
	height:auto;
	width:23%;
	margin:0 15px;
	float:left;
	background:url(../images/price-top-bg.jpg) top center repeat-x, white;
	text-align:center;
	cursor:default;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.first{
	margin-left:0 !important;
}

.last{
	margin-right:0 !important;
}

/* Pricing Table Header */

.package h1{
	text-align:center;
	text-transform:uppercase;
	color:white;
	font-size:25px;
	font-weight:300;
	margin:36px auto 27px;
}

/* Pricing Table Circle */

.package .circle{
	width:100px;
	height:100px;
	background:white;
	border:1px solid #e7e7e7;
	border-radius:150px;
	margin:0 auto;
	position:relative;
	z-index:1;
	text-align:center;
	color:#434343;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.package .circle:after{
	width:114px;
	height:114px;
	position:absolute;
	content:'';
	left:-8px;
	top:-8px;
	border-radius:150px;
	background:transparent;
	border:8px solid white;
	z-index:2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.package .circle h2{
	margin:2px auto 0;
	font-size:30px;
}

.package .circle h2 span{
	font-size:20px;
}

.package .circle p{
	font-weight:300;
	color:#a8a8a8;
	margin:0 auto;
}

/* Pricing Table list */

.package ol{
	text-align:center;
	margin:20px auto;
	font-weight:300;
}

.package ol li {
	display:block;
	width:100%;
	height:auto;
	padding:10px;
	text-transform:uppercase;
	font-size:18px;
	color:#8a8a8a;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
}

.package ol li span{
	font-weight:700;
}

.package ol li:nth-of-type(2n){
	background:#fbfbfb;
}

.package a.p-btn{
	display:inline-block;
	background:#3d3d3d;
	padding:8px 34px;
	color:white;
	margin:0 auto 20px;
	text-transform:uppercase;
	border:1px solid #b2b2b2;
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Table Active Styles */

.packages .active{
	background:url(../images/price-top-bg.jpg) top center repeat-x, #3d3d3d;
}

.packages .active ol li{
	color:#c5c5c5;
}

.packages .active ol li:nth-of-type(2n){
	background:#383838;
}

.packages .active .circle{
	background:#f02d2d;
	color:white;
	border:1px solid #db1d1d;
}

.packages .active .circle:after{
	border:7px solid #f02d2d;
}

.packages .active .circle p{
	color:white;
}

a.p-btn:hover{
	background:#f02d2d;
	border:1px solid #f02d2d;
}

/* Subscribe */

#subscribe{
	border-top:1px solid #f1f1f1;
}

.subscribe{
	padding:17px 0;
}

.subscribe .subs{
	position:relative;
}

.subscribe .left{
	text-align:left;
}

.subscribe .right{
	text-align:right;
	top:25px;
}

/* Left Subscribe icon */

.left a.left-icon{
	display:block;
	width:100px;
	height:100px;
	border-radius:100%;
	background:#3d3d3d;
	position:relative;
	text-align:center;
	padding:35px 0;
	float:left;
}

.left a.left-icon:after{
	content: "";
   position: absolute;
   left: 97%;
   top: 50%;
   border-left: 11px solid black;
   border-left-color: #3d3d3d; 
   border-top: 11px solid transparent;
   border-bottom: 11px solid transparent; 
   -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.left a.left-icon i{
	color:white;
	font-size:30px;
}

/* Subscribe Text */

.subs .text{
	float:left;
	margin:0 17px;
}

.subs .text h1{
	margin:20px auto 10px;
	text-transform:uppercase;
	font-size:27px;
	color:#484541;
	font-weight:400;
}

.subs .text h1 span{
	color:#e70000;
}

.subs .text p{
	font-size:15px;
	color:#484541;
	font-weight:300;
	text-transform:uppercase;
}

/* Subscribe right */

.subscribe-mail{
	outline:none;
	border:1px solid #e7e7e7;
	border-radius:8px;
	color:#d0d0d0;
	width:250px;
	padding:12px 10px;
	font-weight:300;
	font-size:15px;
	margin-right:6px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.subscribe-btn{
	outline:none;
	border:1px solid #e7e7e7;
	border-radius:8px;
	color:white;
	text-transform:uppercase;
	padding:8px 15px;
	font-weight:400;
	top:2px;
	font-size:20px;
	background:#313131;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.subscribe-mail:hover{
	border:1px solid #bcbcbc;
}

.subscribe-mail:focus{
	border:1px solid #313131;
}

.subscribe-btn:hover{
	background:#e70000;
}

.subscribe-btn:active{
	background:#313131;
}

/* Contact */

#contact{
	padding:0;
	height:auto;
	min-height:567px;
}

.contact-logo{
	position:absolute;
	z-index:22;
	left:50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.contact-logo i{
	color:#444444;
}

#map{
	top:0;
	position:absolute;
	width:100%;
	height:100%;
}

.contact{
	margin:0 auto;
	padding:0;
	
}

/* Contact Form */

.contact-form{
	width:400px;
	height:auto;
	min-height:567px;
	background:rgba(0,0,0,0.7);
	position:relative;
	top:0;
	padding:45px 50px;
	z-index:5;
	left:50%;
	-webkit-transform: translateX(-585px);
	-moz-transform: translateX(-585px);
	transform: translateX(-585px);
}

.contact-form h1{
	font-size:35px;
	text-transform:uppercase;
	color:#9c9c9c;
}

/* Form Inputs */

form#contact-us{
	min-height:400px;
}

.form{
	outline:none;
	border:1px solid #2b2b2b;
	color:#9c9c9c;
	width:100%;
	padding:14px 10px;
	font-weight:300;
	font-size:15px;
	margin:10px auto;
	background:#080808;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.textarea{
	height:100px;
	max-width:100%;
	max-height:100px;
}

.form-btn{
	outline:none;
	border:1px solid #2b2b2b;
	color:black;
	text-transform:uppercase;
	padding:8px 0;
	width:100%;
	margin:10px auto;
	text-align:center;
	font-weight:400;
	top:2px;
	font-size:20px;
	background:#313131;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.form:hover{
	border:1px solid #4e4e4e;
}

.form:focus{
	border:1px solid #e70000;
}

.form-btn:hover{
	background:#e70000;
}

.form-btn:active{
	background:#313131;
}

/* Mail Sent Message */

.mail-message{
	color:white;
	text-align:center;
	font-size:20px;
	font-weight:300;
	top:185px;
	position:relative;
}

.mail-message p.mail-head{
	color:#e70000;
	font-size:35px;
}

/* Footer */

#footer{
	background:#838383;
}

.footer{

	padding:12px 0;
	line-height:1.7em;
	
}

.footer a{
	cursor:pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Footer Links */

.footer-links{
	display:inline-block;
	border:1px solid #494949;
	border-radius:100px;
	margin:0 3px;
}

.footer-links i{
	font-size:25px;
	color:#494949;
	display:block;
	width:35px;
	height:35px;
	line-height:38px;
}

.footer-text{
	margin:10px 0 0 0;
	color:#868686;
	font-size:15px;
	font-weight:300;
}

.footer-text span{
	margin:0 5px;
}

.footer-text a{
	color:#868686;
}

.copyright{
	text-transform:uppercase;
	margin:4px 0 0;
}

.footer .footer-links:hover{
	border:1px solid white;
}

.footer a:hover{
	color:white;
}

.footer a:hover i{
	color:white;
}

/* Blog */

#blog{
	margin:30px auto;
}

/* Post */

.post{
	margin:100px 0;
	width:100%;
	position:relative;
}

.last-post{
	border-bottom:1px solid #e7e7e7;
	margin-bottom:0;
	padding-bottom:20px;
}

.post-icon{
	position:absolute;
	left:50%;
	z-index:5;
	padding:8px;
	color:##444444;
	text-transform:uppercase;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* Post Image */

.post .post-img{
	width:100%;
	background:black;
	position:relative;
}

.post-img .zoom-button{
	width:52px;
	height:52px;
	display:block;
	border-radius:100px;
	background:white;
	position:absolute;
	text-align:center;
	padding:16px 0 0;
	font-size:15px;
	opacity:0;
	top:60%;
	left:50%;
	cursor:pointer;
	z-index:6;
	color:black;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.post-img img{
	width:100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.post-img:hover img{
	opacity:0.3;
}

.post-img:hover .zoom-button{
	opacity:1;
	top:50%;
}

.post-img .zoom-button:hover{
	background:#e70000;
	color:white;
}

.post-icon p{
	margin:0;
	padding:0;
}

.post-icon p.day{
	font-size:25px;
}

.post-icon p.month{
	font-size:13px;
	line-height:0;
}

/* Post Heads and Texts */

.post-texts{
	position:relative;
	color:#6a6969;
	font-weight:300;
	margin:25px 0;
}

/* Post Header */

.post-texts .post-head{
	font-size:30px;
	text-transform:uppercase;
	margin:20px 0 10px;
}

/* Post Tags */

.post-texts .post-tags{
	margin:10px 0;
}

.post a{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.post-tags .tags{
	margin-right:15px;
	cursor:pointer;
}

.post-tags .tags i{
	margin-right:5px;
}

.post-texts .tags:hover{
	color:#e70000;
}

/* Post Messages */

.post-texts p{
	margin:10px 0;
}

/* Post Button */

.btn-post{
	color:white;
	font-weight:300;
	border-radius:6px;
	margin:5px 0;
	padding:8px 15px;
	text-transform:uppercase;
	/* Gradient Background */
	background: rgb(116,116,116); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(116,116,116)), color-stop(100%,rgb(90,90,90))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(116,116,116) 0%,rgb(90,90,90) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(116,116,116) 0%,rgb(90,90,90) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(116,116,116) 0%,rgb(90,90,90) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(116,116,116) 0%,rgb(90,90,90) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-8 */
}

.btn-post:hover{
	color:white;
	/* Gradient Background */
	background: rgb(224,36,36); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(224,36,36)), color-stop(100%,rgb(190,25,25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(224,36,36) 0%,rgb(190,25,25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(224,36,36) 0%,rgb(190,25,25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(224,36,36) 0%,rgb(190,25,25) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(224,36,36) 0%,rgb(190,25,25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02424', endColorstr='#be1919',GradientType=0 ); /* IE6-8 */

}

/* Post Slide */

.post-slide{
	height:auto;
	position:relative;
}

.post-slides .item img{
	width:100%;
}

/* Blog Pager */

.blog .right{
	float:right;
}

.pagination li.active-page a{
	background-color:#5b5b5b;
	border-color:#5b5b5b;
	color:white;
}

.post-texts .post-head{
	font-size:25px;
	margin:0;
}

/*top page position*/
.top-clear{ height:80px;
clear:both;
background-color:#0CF;}



.theme-bg-w{ background-color:#fff;}
.color-mark,
.contact_info h4{ color:#056ab2;}
.margin-null{ margin:0 !important;}
.skill .row{ margin-bottom:20px;}
.contact_info{ margin-top:10px;}
.contact_info .span3{ width:257px;}
.contact_info h4{ font-size:18px; line-height:1.7em; font-weight:500; border-bottom:solid 1px rgba(0,0,0,0.3);}
.stay-touch{ margin:20px 0; padding:0;}
.stay-touch li{ float:left;  }
.stay-touch li a{font-size:16px; padding:5px 10px; border:solid 1px #ccc;}
.stay-touch li a:hover{ background-color:#e6e6e6; color:#000;}
/*sent message home page..
.........................................................................................*/
.send-message input{height:43px !important;}
.send-message input,.custome-textarea
{  border:none !important;  
background-color:#e5e5e5 !important;
box-shadow:inset 1px 1px 1px rgba(0,0,0,1),0px 1px 0px rgba(255,255,255,0.3)!important;
-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,1),0px 1px 0px rgba(255,255,255,0.3)!important;
-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,1),0px 1px 0px rgba(255,255,255,0.3)!important;
-o-box-shadow:inset 1px 1px 1px rgba(0,0,0,1),0px 1px 0px rgba(255,255,255,0.3)!important;
-ms-box-shadow:inset 1px 1px 1px rgba(0,0,0,1),0px 1px 0px rgba(255,255,255,0.3)!important;
  }
.send-message input:focus,
 .custome-textarea:focus
{background-color:#fff !important;}
	.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-content {
    z-index: 10;
    position: absolute;
    left: 50px;
    width: 390px;
    background-color: black;
    color: #FFF;
}
/*default style...
---------------------------------------------------------------*/
.theme-txt-w{ color:#fff !important;}
/*page cover style...*/
.page-cover{ padding:20px 0;min-height:70px; background-color:#099;}
.page-cover .page-desc{ margin:0 auto;}
.portfolio-cover-img{
	
	background:url(../img/portfolio-cover-img.jpg) left top no-repeat scroll;
background-size:cover;

	}
	.blog-cover-img{
	background:url(../img/blog-cover-img.jpg)left top no-repeat;
	background-size:cover;

	}
	.career-cover-img{
	background:url(../img/career-cover-img.jpg)left top no-repeat;
	background-size:cover;

	}
.testimonial-cover-img{
	background:url(../img/testimonail-cover-img.jpg)left top no-repeat;
	background-size:cover;

	}
	
	

.contact-cover-img{
	background:url(../img/contact-cover-img.jpg)left top no-repeat;
	background-size:cover;

	}	
.portfolio-thumb .span6{ width:550px !important;}
.portfolio-thumb .view{ height:300px !important;}
.portfolio-thumb li{ margin-bottom:40px !important;}
.portfolio-thumb li:nth-child(even){
margin-right:0px !important;}
.portfolio-thumb li:nth-child(odd){
margin-right:20px !important;	}
.portfolio-type{ text-align:center;}
.portfolio-type .nav-pills > li > a{border-radius:0px; line-height:2.3em;}
.portfolio-type .nav-tabs > li > a,
.portfolio-type .nav-pills > li > a
{
	margin-right: 0px;
	
}
/* blog styel...*/

.blog-thumb-bg{
 background-color:#fff;
 border:solid 1px rgba(0,0,0,0.2);
 display:inline-block;
 padding:5px;
}
.blog-thumb-bg img:hover{opacity:0.8;}
.blog-thumb-bg h4{ 
padding:0px 0 10px 0;

background:url(../img/blog-title-b.png) left bottom no-repeat;
}
.blog-thumb-bg h4 + p{ opacity:0.7;}
.blog-thumb-date{position:absolute;
right:5px; top:137px;
text-shadow:1px 1px 2px rgba(0,0,0,0.5);
padding:5px 15px; color:#fff; 
background-color:rgba(255,255,255,0.4); 
text-align:left; 
z-index:1000;
  }
  .blog-thumb-date h2
  {
 margin-bottom:0; 
 padding-bottom:0;
  line-height:25px !important;	  
}
  .blog-thumb-date p
  {
margin:0 auto; padding-top:0;
  }
  .spacer{ width:100%; height:50px; background-color:#fff;}
  .spacer-mini{ width:100%; height:30px;}
  .img-hint .hind-block{ width:auto; height:auto; display:inline-block; padding:3px; position:absolute; top:45%; left:45%;
  z-index:1000;}
  .hind-block i{ color:#fff; text-shadow:1px 1px 2px rgba(0,0,0,0.5); padding:10px; background-color:rgba(0,0,0,0.3); opacity:0.5;}
   .hind-block i:hover{opacity:1;}
   .cat-title{ margin-top:0 !important;}
   
.cat-list,
.r-post-list,
.c-news-list
{
  margin:0; 
  padding:0;
}
.cat-list li,
.r-post-list,
.c-news-list
{ float:none;}
   .cat-list li a{  
width:100%; height:30px; display:block; padding:5px 0; 
border-bottom:solid 1px rgba(0,0,0,0.3);
margin-right:10px;

   }
.cat-list li a i{ 
margin-right:10px;
}
.cat-list li a i,.cat-list li a,
.r-post-list li a,
#related-p .carousel-control:hover,
#related-p .thumbnail:hover .rp-dec,
.c-news-list li a
{
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;	
	
}
.cat-list li a:hover{
font-size:15px;
color:#056ab2;
background-color:#e9e9e9;
padding-left:10px;	
	
}
.cat-list li a:hover,
.r-post-list li a:hover,
#related-p .thumbnail .rp-dec,
.c-news-list li a:hover
{
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}
.r-post-list li a,
.c-news-list li a
{
width:100%; min-height:30px; display:block; padding:5px 0; 
border-bottom:solid 1px rgba(0,0,0,0.3);
}
.r-post-list li a p{ margin:0; padding:0; font-size:16px; color:#056ab2;}
.r-post-list li a small{ color:#666;}
.r-post-list li a:hover{
font-size:15px;
color:#056ab2;
background-color:#e9e9e9;
padding-left:10px;
}
.c-news-list li a img{ width:80px; margin:0 10px 0 0;
border:solid 2px #056ab2;
}
.c-news-list li a h4{ color:#333; font-weight:400;}
.c-news-list li a h3,
.c-news-list li a span
{ 
font-weight: 400 !important;
margin:0;
line-height:20px; 
color:#056ab2;
  }
.c-news-list li a:hover{
background-color:#e9e9e9;
}
.c-news-list li a:hover  img{
border:solid 2px #333;
opacity:0.8;
}
/*list style...*/
@media (min-width:768px) {
#related-p .carousel-control {
  position: absolute;
  top:-55px;
width:30px;
  height: 30px;
  margin-top: -20px;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #333;
  opacity:0.8;
  right:55px;
  left:auto;
}
}
#related-p .carousel-control:hover{ 
background-color:#056ab2;
border:solid 1px #056ab2;

}
#related-p .carousel-control.right {
  right: 15px;
  left: auto;
}

#related-p .thumbnail .rp-dec{ text-align: center; font-size:16px; color:#fff;position:absolute; z-index:1000; padding:10px 0; min-height:30px; bottom:-5px; width:264px; background-color:rgba(0,0,0,0.8);opacity:0.8;}
#related-p .thumbnail:hover .rp-dec{background-color:rgba(0,0,0,0.8); opacity:0.8;  font-size:30px; padding:55px 0;}
/*cureent opportunity style here...*/
#curent_oppt .span6{ text-align:justify;}
#curent_oppt .span6 img{ width:130px; border:solid 2px #056ab2; margin:0 10px 10px 0;}
#curent_oppt .span6 h3{ margin-top:0; padding-top:0; line-height:20px; color:#056ab2; font-size:20px; font-weight:400;}
#curent_oppt .span6 h4{ color:#000; font-size:16px;}
#curent_oppt .span6:hover img{ border:solid 2px #333; opacity:0.8; }
/* testimonial style..
--------------------------------------------------------*/
#testimonial{ text-align:justify;}
#testimonial .t-thumb {
	width:200px;
	border:solid 6px rgba(0,0,0,0.2);
}
#testimonial h3{
margin-top:0;
line-height:30px;
font-weight:600;
font-size:26px;
color:#333;
}
/*blockquates  style here...*/
.qautes {
margin: 0.25em 0;
padding: 0.25em 0px 0.25em 60px;
line-height: 1.45;
position: relative;
color: #383838;
}
.qautes:before {
font-family:'quates';
display: block;
content: "\201C";
font-size:120px;
position: absolute;
left: 0px;
top: -20px;
color: #666;
}
/* services block style....*/
#services-block {
	
	
	
}
#services-block .span4{
text-align:center;
}
#services-block i{
	display:inline-block;
	padding:25px;
	background-color:rgba(0,0,0,0.2);
	border-radius:50%;
	font-size:22px;	
	text-shadow: 0 1px 2px #fff;
	-moz-text-shadow: 0 1px 2px #fff;
	-o-text-shadow: 0 1px 2px #fff;
	-ms-text-shadow: 0 1px 2px #fff;

}
#services-block h4{

 color:#000;
 font-weight:500;
}
#services-block .span4:hover i
{
background-color:#056ab2;
color:#fff;	
text-shadow:none;
	}
	
#services-block .span4:hover h4
{
color:#056ab2;	
	}
.single-thumb h4
{
font-weight:400;
font-size:20px;
margin-top:0;
}
.single-thumb p
{
letter-spacing:0.09em;
}
.single-thumb img:hover
{
	
opacity:0.7;	
	
}
.thumb-left{
margin-left:20px !important;
margin-bottom:20px !important;
}
.thumb-right{
margin-right:40px !important;
margin-bottom:20px !important;
}

/*scroll up page...
-------------------------------------------------------------------------------------------------*/
.scrollup{
	width:40px;
	height:40px;
	text-align:center;
	z-index:9999999999999999;
	
	position:fixed !important;
	background-color:#333;
	
	bottom:50px;
	right:10px;
	border-radius:4px;
	line-height:2em;
	
	 color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
 	
}
.scrollup:hover{background-color:#056ab2; color:#fff; }

