<?php $currenturi = $this->serverUrl(true); ?>

<section class="edit-profile">
  <div class="container" style="z-index:1; position:relative;">
    <div class="row">
      <div class="col-lg-3 col-sm-5 col-xs-3">
        <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
           <?php
          if($photographerdata->profilepic=="")
            {?>
                <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } else {?>
            <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } ?>
        </div>
        <?php //echo $pg_id; echo '<pre>'; print_r($_COOKIE);

            if($editable == 1)
            {?>
                <a href="user/photographer/editprofile" class="btn btn-success pull-left" style="margin-left:20px;">Edit Profile</a>
            <?php }?>
          
      </div>
      <div class="col-lg-5 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-left">
          <div class="detail-box-first">
            <h3><?php echo $_SESSION['user']->first_name;?></h3>
            <p class="desc-profile "><?php echo $photographerdata->tagline; ?></p>
            <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
            <p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-right">
          <div class="detail-box-first">
            <ul class="list-inline">
              <li><a href="javascript:void(0)"><i class="fa fa-star"></i> 5 Rated</a></li>
              
              <?php 
              if($pg_id != $_SESSION['user']->user_id)
              {
                if(!empty($_COOKIE['user']))
                {
                  if(in_array($pg_id,$_COOKIE['user']))
                  {
                    echo "<li id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                    echo "<li id = 'shortstatus' style='display:none;' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  } 
                  else 
                  {
                    echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                    echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                  } 
                }
                else 
                {
                  echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                } 
              } ?>
              
            </ul>
            <p>Rate: <?php echo $photographerdata->price; ?> INR/PNG</p>
          </div>
          <a href="<?php echo $currenturi; ?>#contact" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
        </div>
      </div>
    </div>
  </div>
</section>