<?php  
  $front_home_asset_path = '/public/front/home/';
  $state = rand(1000000,99999999);
  $_SESSION['gstate'] = $state;
  $logged_in_email = '';
  if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
    $logged_in_email = $_SESSION['user']->email;
  }    
  $request = new \Zend\Http\PhpEnvironment\Request();
  $httpHost = $request->getServer('HTTP_HOST');
?>
<!DOCTYPE html>
<html lang="en">
  <script>
	var site_url = "http://<?php echo $httpHost; ?>/";
</script>
  <head>
    <base href="<?php echo "http://".$httpHost; ?>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Ownrock | Home</title>
    <!-- Bootstrap core CSS -->
    <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
    <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">    
    
     <!-- Custom styles for this template -->
    <link href="<?php echo $front_home_asset_path;?>css/main.css" rel="stylesheet">    
	
    <link href="<?php echo $front_home_asset_path;?>css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" class="index">
  <?php include_once("analyticstracking.phtml") ?>

  <div id="fb-root"></div>
    
 <header >
  <div class="home-bg">
    <div class="container-full menuset-home">
      <div class="container" style="padding:0px">     
      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand y-brand" href="">Own Rock</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            
          <ul class="nav navbar-nav navbar-right">
            <?php if(isset($logged_in_email) && $logged_in_email != ""){ ?>		
            <li class="dropdown">
            <a href="/user/home/dashboard" class="dropdown-toggle user-loged" data-toggle="dropdown" role="button" aria-expanded="false"><?php echo $_SESSION['user']->first_name; ?> 
            <?php 
              if($httpHost=="localhost")
                $aimg_path = '/ownrock/public/images/advertiserimage/';
              else
                $aimg_path = '/public/images/advertiserimage/';
              if($_SESSION['user']->profilepic=="")
              {
                  $_SESSION['user']->profilepic='58345_pp_profile.jpg';
              }
              $img_src = $aimg_path . str_replace('_pp_','_tn120x120_',$_SESSION['user']->profilepic);
            ?>
             <img class="img-circle pull-left" src="<?php echo $img_src;?>" width="400" height="400"> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/user/home/dashboard">View Profile</a></li>
              <li><a href="/user/home/dashboard">Edit Profile</a></li>
              <li><a href="<?php echo $this->url('user/home', array('action' => 'logout'))?>">Logout</a></li>
            </ul>
		</li>
    <li>
			
		</li>
		<?php } else {?>
			<li><a data-toggle="modal" data-target="#myModal1" href="#myModal">SIGN UP</a></li>
			<li><a data-toggle="modal" data-target="#myModal" href="#myModal" onClick="$('#forgot-password').hide();$('#login-block').show();">LOG IN</a></li>
			<li style="display:none;"><a id="reset" data-toggle="modal" data-target="#myModalreset" href="#myModalreset">Reset</a></li>	

		<?php } ?>	
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>     
      </div>
    </div>
   
    <div class="container text-center y-set-top">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-text">
            <h1>Today is the day you turn your ideas into reality.</h1>
            <p>Millions of small businesses post their online jobs on Ownrock.com. Find an expert freelancer to bring your project to life!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-full set-serach">
      <div class="container y-home-form">
        <form  role="form" method="post" action="/user/search">
          <div class="form-group form-control">          
            <input type="text" class="form-control" id="searchbox" name="searchbox" placeholder=" What skill are you looking at ?" style="width:100%"; />	    
            <input type="hidden" id="search-keyword" name="keyword" class="original" style="width:100%";/>
          </div>  
          <div class="row">
            <div class="col-md-3">
              <div class="btn-group y-group">
                <input class="ff_elem form-control" type="text" name="location" value="" id="location" placeholder="Enter location"/>	    
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-group y-group">
                <button class="btn btn-default btn-lg y-lg" id="rate" value="0"type="button">All</button>
                <button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle y-lg2" type="button"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" onclick="rate(0,'All');">All</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="rate(1,'5$/hr or less');">5$/hr or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="rate(2,'10$/hr or less');">10$/hr or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="rate(3,'15$/hr or less');">15$/hr or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="rate(4,'20$/hr or less');">20$/hr or less</a></li>           
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="btn-group y-group">
                <button class="btn btn-default btn-lg y-lg" id="availability" value="0"type="button">All</button>
                <button data-toggle="dropdown" class="btn btn-default btn-lg dropdown-toggle y-lg2" type="button"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" onclick="availability(0,'All');">All</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="availability(1,'10hrs/wk or less');">10hrs/wk or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="availability(2,'20hrs/wk or less');">20hrs/wk or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="availability(3,'30hrs/wk or less');">30hrs/wk or less</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0)" onclick="availability(4,'40hrs/wk or less');">40hrs/wk or less</a></li>           
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-hg btn-red btn-home form-control" id="search-btn" name="button" type="submit" > Search <i class="fa fa-search"></i></button>
    	          <p style="margin:0 0 8px 0px;display:none" id="loader_img_reg_search">
                  <img src="/public/images/loader.gif" alt=""/>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
    
<section class="pro-section" style="padding: 38px 0px;">
  <div class="container">
    <h2 class="text-center y-h2-home">Trending Artist</h2>
    <hr class="pro-hr">
    <input type="hidden" id="offset" value="0" />
    <div id="search-response-total"></div>
    <div id="search-response">
      <div class="row marj-row">
       
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <div class="form-group">
          <span id="loadmorebtn">
            <button class="btn btn-hg btn-red btn-home form-control" id="search" name="button" type="button" onclick="loadMore();"> Load More </button>
          </span>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</section> 

    
   


<?php //echo $this->content;?>
    
<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Quick Links</h3>
          <ul class="iinks">
         <li><a href="/module/User/view/layout/about-layout.phtml">About Us</a></li>
         <li><a href="/module/User/view/layout/contact-layout.phtml">Contact Us</a></li>
         <li><a href="">Blog</a></li>
         </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li> <a href="https://www.facebook.com/ownrockprivate" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a> </li>
            <li> <a href="https://plus.google.com/u/1/110906240436819437853/about" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a> </li>
            <li> <a href="https://twitter.com/rock_own" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a> </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Us</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> Copyright &copy; OwnRock 2015 </div>
      </div>
    </div>
  </div>
</footer>    
  
	
		
	
	
	
	<!-- Modal FOR LOGIN -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  
	  
	  
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
		        <div id="login-block" class="row centered">
					<p style="margin:4px 2px 30px 0;">
						<a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
							<span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
								Log in with Facebook
						</a>
					</p>
					<p style="margin:-15px 0 10px 0;">
						<a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
							<span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
							<span class="text">Log in with Google+</span>
						</a>
					</p>
					<p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                        
					<form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            
						<div class="form-group">
							<label class="sr-only" for="form-username">Email</label>
							<input type="text" name="loginemail" placeholder="Email..." class="form-username form-control" id="loginemail">
						</div>
						<div class="form-group">
							<label class="sr-only" for="form-password">Password</label>
							<input type="password" name="loginpassword" placeholder="Password..." class="form-password form-control" id="loginpassword">
						</div>
        	<div class="form-group">
        		<div class=" col-sm-12">
        			  <div class="checkbox">
        				<label>
        				  <input type="checkbox"><font style="font-size:14px;">Remember me</font>
        				  <span style="padding:0 0 0 30px;font-size:14px;"><a href="javascript:void(0);" onClick="$('#forgot-password').show();$('#login-block').hide();">Forgot Password?</a></span>
        				</label>
        			  </div>
        		</div>
        	</div>
						<button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_login()" id="loginBtn">
							<span class="login">Log In</span>
						</button>
					</form>
				</div>
				<div id="forgot-password" class="row centered" style="display:none;">
					<span id="sent-msg" style="display:none;">Forgot password link has been sent to your email .. please check your email.</span>
					<form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
						<div class="form-group">
							<label class="sr-only" for="form-username">Email</label>
							<input type="text" name="forgetemail" placeholder="Email..." class="form-username form-control" id="forgetemail">
						</div>
						
						<button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_email();" id="forgetBtn">
							<span class="login">Send</span>
						</button>
					</form>
				</div>
		    </div>
			<div class="modal-footer">
				Don't have account ?<a data-toggle="modal" data-target="#myModal1" href="#myModal">&nbsp;Sign Up</a>
			</div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!-- Modal FOR SIGN uP -->
	<div class="modal fade" id="myModal1" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
		        <div class="row centered">
					<p style="margin:4px 2px 30px 0;">
						<a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
							<span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
								Sign Up with Facebook
						</a>
					</p>
					<p style="margin:-15px 0 10px 0;">
						<a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
							<span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
							<span class="text">Sign up with Google+</span>
						</a>
					</p>
					<p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img_reg">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
					<form role="form" action="/user/home/register" method="post" class="register-form col-sm-12" name="reg-form" id="reg-form">
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <input type="text" name="name" placeholder="Enter Name..." class="form-username form-control" id="name">
            </div>
						<div class="form-group">
							<label class="sr-only " for="form-username">Email Address</label>
                <input type="text" name="email" placeholder="Enter Email..." class="form-username form-control" id="email">
						</div>
						<div class="form-group">
							<label class="sr-only " for="form-password">Enter Password</label>
							<input type="password" name="password" placeholder="Enter Password..." class="form-password form-control" id="password">
						</div>
						<div class="form-group">
							<label class="sr-only " for="form-password">Confirm Password</label>
							<input type="password" name="confirm_password" placeholder="Confirm Password..." class="form-password form-control" id="confirm_password">
						</div>
						<div class="form-group">
							<div class="col-sm-12">
							  <div class="checkbox">
								<label>
								  <input type="checkbox" name="tnc" id="tnc"><font style="font-size:14px;">By signing up, I agree to Ownrock's Terms of Service and Privacy Policy</font>
								</label>
							  </div>
							</div>
						</div>
						<button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_register()" id="regBtn"><span class="login">Sign Up</span></button>
					</form>
				
		        </div>
				</div>
				<div class="modal-footer">
				  Already an ownrock member ?<a data-toggle="modal" data-target="#myModal" href="#myModal" data-dismiss="modal">&nbsp;Sign In</a>
				</div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

  
<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script> 

 
   
<script>

window.fbAsyncInit = function() { 
FB.init({ appId: "1426095174376131", status: true, cookie: true, xfbml: true, oauth: true});
//FB.getLoginStatus(autocheck);
};    
(function() {
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol 
    + '//connect.facebook.net/en_US/all.js';
  document.getElementById('fb-root').appendChild(e);
}());
    
 (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1582850358637370";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
    
    
    
    
    
    
    
    
    
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="<?php echo $front_home_asset_path;?>js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript --> 
 
    
    <script type="text/javascript">
        
        function validate_register()
        {
            /*var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/; */
            var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
            var name = $("#name").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var confirm_password = $("#confirm_password").val();

             if(name == "" ){
               //$("#email").attr( "border-color", "red");
               $("#name").attr("placeholder", "Name cant be empty");
               $("#name").css("border", "2px solid red");
               return false;
             }else if(email == "" ){
               //$("#email").attr( "border-color", "red");
               $("#email").attr("placeholder", "Email cant be empty");
               $("#email").css("border", "2px solid red");
               return false;
             }else if(!emailRegex.test(email)){
               $("#email").val("");
               $("#email").attr("placeholder", "Email is not valid");
               $("#email").css( "border", "2px solid red");
               return false;
             }else if(password == ""){
               //$("#password").focus();
               $("#password").attr("placeholder", "Password cant be empty");
               $("#password").css( "border", "2px solid red");
               return false;
             }else if(confirm_password == ""){
               $("#confirm_password").attr("placeholder", "Confirm password cant be empty");
               $("#confirm_password").css( "border", "2px solid red");
               return false;
             }else if(password !== confirm_password){
               $("#confirm_password").val("");
               $("#confirm_password").attr("placeholder", "Password does not match");
               $("#confirm_password").css( "border", "2px solid red");
               return false;
             }else if($('input[name=tnc]:checked').length<=0){
               alert('Please accept terms and condition');
               return false;
             //}else if($(email != '' && password != '' && confirm_password != '')){
             }else if(email != '' && password != '' && confirm_password != ''){    
                  //$("#reg-form").submit();
                  
                var reg_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'register'))?>";
                var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
                $.ajax({
                   url: reg_url,
                   error: function() {
                      $('#info').html('<p>An error has occurred</p>');
                   },
                   data: {email: email, password: password, name: name},
                   beforeSend: function() {
                        $('#loader_img_reg').show();
                        $('#regBtn').attr('disabled',true);
                   },
                   success: function(data) {
                      $('#loader_img_reg').hide();
                      $('#regBtn').removeAttr('disabled');
                          $("#email").val("");
                          $("#password").val("");
                          $("#confirm_password").val("");
                      $('#tnc').attr('checked', false);
                      if(data.response === 'failed'){
                          alert('Email already registered!');
                          $( "#email" ).focus();
                      }else{
                          alert('Registration Success ! Kindly check your email for further instructions!');
                          //window.location = success_url;
                      }
                      
                   },
                   type: 'POST',
                   dataType: 'json',
                });
                  
            }
        }
    
        function validate_login()
        {
            //var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
            var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
            var loginemail = $("#loginemail").val();
            var loginpassword = $("#loginpassword").val();

             if(loginemail == "" ){
                $("#loginemail").css("border", "2px solid red");
               return false;
             }else if(!emailRegex.test(loginemail)){
                $("#loginemail").val("");
                $("#loginemail").attr("placeholder", "Email is not valid");
                $("#loginemail").css( "border", "2px solid red");
               return false;
             }else if(loginpassword == ""){
                $("#loginpassword").attr("placeholder", "Password is required");
               $("#loginpassword").css( "border", "2px solid red");
               return false;
             }else if(loginemail != '' && loginpassword != ''){
                //$("#logn-form").submit();
                        var login_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'login'))?>";
                        var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
                        $.ajax({
                           url: login_url,
                           error: function() {
                              $('#info').html('<p>An error has occurred</p>');
                           },
                           data: {loginemail: loginemail, loginpassword: loginpassword},
                           beforeSend: function() {
                                $('#loader_img').show();
                                $('#loginBtn').attr('disabled',true);
                           },
                           success: function(data) {
                              $('#loader_img').hide();
                              $('#loginBtn').removeAttr('disabled');
                              if(data.response === 'failed'){
                                  alert('Invalid credentials ! Please try again.');
                                  $("#loginemail").val("");
                                  $("#loginpassword").val("");
                                  $( "#loginemail" ).focus();
                              }else{
                                  window.location = success_url;
                              }
                           },
                           type: 'POST',
                           dataType: 'json',
                        });
            }
        }

	
	function validate_email()
        { 
            //var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
            var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
            var forgetemail = $("#forgetemail").val();
             if(forgetemail == "" ){
                $("#forgetemail").css("border", "2px solid red");
               return false;
             }else if(!emailRegex.test(forgetemail)){
                $("#forgetemail").val("");
                $("#forgetemail").attr("placeholder", "Email is not valid");
                $("#forgetemail").css( "border", "2px solid red");
               return false;
             }else if(forgetemail != ''){
                        var forget_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'forgot'))?>";
                        $.ajax({
                           url: forget_url,
                           error: function() {
                              $('#info').html('<p>An error has occurred</p>');
                           },
                           data: {forgetemail: forgetemail},
                           beforeSend: function() {
                                $('#loader_img').show();
                                $('#forgetBtn').attr('disabled',true);
                           },
                           success: function(data) { 
                              $('#loader_img').hide();
                              $('#forgetBtn').removeAttr('disabled');
                              if(data.response === 'failed'){
                                  alert('This email does not exist on our site!');
                                  $( "#forgetemail" ).focus();
                              }else{
				  $( "#sent-msg" ).html("Please check your email! We have sent you reset password link!").show();
				 setTimeout(function(){$(".fade").click(); $("#forgetemail").val('');
				  $("#sent-msg").html('');}, 1000);
                              }
                           },
                           type: 'POST',
                           dataType: 'json',
                        });
            }
        }





/*  facebook login code*/
function FnIsFBuser(fbData) {
    var d;
    var fb_id = fbData.id;
    var fb_email = fbData.email;
    var fb_name = fbData.name;   
    jQuery.ajax({
        type: "POST",
        url: site_url + 'user/home/facebooklogin',
        async: false,
        data: 'fb_id=' + fb_id + '&fb_email=' + fb_email + '&fb_name=' + fb_name,
        success: function(data) {
            d = data;
        }
    })
    return d;
}

function FnFBRegister() {
    FB.login(function(response) {
        if (response.authResponse) {
            FB.api('/me', function(response) {
                var isFbUser = FnIsFBuser(response);
                var jObj = jQuery.parseJSON(isFbUser);
                //fillWithStatus(jObj.status, response);
            });
        }
    }, {
        scope: 'email,user_birthday'
    });
}

function fillWithStatus(s, fbdata) {  
	
	if (s == 1) {
        location.reload();
    } else if (s == 2) {
        alert("Your account is disabled by admin,Please contact admin!");
    } else {
        location.reload();
        jQuery("#email").val(fbdata.email).trigger('blur');
        jQuery("#fb_id").val(fbdata.id);
        /* jQuery("#username").val(fbdata.first_name).trigger('blur');
	   if(fbdata.gender='male'){
			jQuery('#gender option[value="0"]').attr("selected", "selected").trigger('change').trigger('blur');
		}
		if(fbdata.gender='female'){
			jQuery('#gender option[value="1"]').attr("selected", "selected").trigger('change').trigger('blur')
		}
        jQuery("#birthdate").val(fbdata.birthday).trigger('blur');*/
    }
}

function FnFBLogout() {
    FB.logout(function(response) {
        alert("logout");
    });
}

function FnFBLogin() {
    FB.login(function(response) {
        if (response.authResponse) {
            FB.api('/me', function(response) {                
		console.log(response);
		//var jObj = jQuery.parseJSON(response);
		//$("#logn-form").html("<img src='https://graph.facebook.com/459920534175993/picture?width=100'><br />"+response.name);
		//alert(response.id);		
		var isFbUser = FnIsFBuser(response);
                var jObj = jQuery.parseJSON(isFbUser);
                goWithStatus(jObj.status);
            });
        }
    }, {
        scope: 'email, user_birthday',
	return_scopes: true
    });
}

function goWithStatus(s) {	
	
	if (s == 1) {
            location.reload();
        } else if (s == 2) {
            alert("Your account is disabled by admin,Please contact admin!");
        } else if (s == 3) {
            window.location = site_url + "account-disabled";
        } else if (s == 0) {
             location.reload();
	    //email verify
            // window.location = site_url + "home/registration";
            //alert("Please verify your email!");
        } else {
           alert(s); return false;
        }
}

/* facebook login code end */
    
   
    
  function homeSearch()
  {
    $("#offset").val(0);
    var rate = $("#rate").val();
    var availability = $("#availability").val();
    var offset = $("#offset").val();
    var location = $("#location").val();
    $("#offset").val(parseInt(offset)+3); 
    var keyword = $("#search-keyword").val();
    
    var reg_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'search'))?>"; 
    $.ajax({
       url: reg_url,
       error: function() {
          alert('<p>An error has occurred</p>');
       },
       data: {keyword: keyword,location :location, rate :rate, availability :availability},
       beforeSend: function() {
      //$('#search_loader').show();
      $('#search').attr('disabled',true);
       },
       success: function(data) {
          //$('#search_loader').hide();
          $('#search').removeAttr('disabled');         
          if(data.response === 'failed'){
        alert('Some error occured!');    
          }else{    
       if(parseInt(data.total_count) <= 3){
        $("#loadmorebtn").hide();
       }else{
        $("#loadmorebtn").show();
       }     
       if(parseInt(data.total_count) >=  0){
        $("#search-response-total").html("Total "+data.total_count+" records found!");
       }
       $("#search-response").html(data.response);
          }
       },
       type: 'POST',
       dataType: 'json',
    });
  }
  function rate(sort_by,sort_by_str)
  {
    $("#rate").val(sort_by);
    $("#rate").html(sort_by_str);
  }

  function availability(sort_by,sort_by_str)
  {
    $("#availability").val(sort_by);
    $("#availability").html(sort_by_str);
  }
   

  function loadMore()
  {
	 
  	var keyword = $("#search-keyword").val();
  	var offset = $("#offset").val();
  	$("#offset").val(parseInt(offset)+3);
  	var reg_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'search'))?>";	
  	$.ajax({
  	   url: reg_url,
  	   error: function() {
  	      alert('<p>An error has occurred</p>');
  	   },
  	   data: {keyword: keyword, offset: offset},
  	  
  	   beforeSend: function() {
  		//$('#loader_img_reg_search').show();
  		$('#load_more_btn').attr('disabled',true);
  	   },
  	   success: function(data) {
  	      $('#loader_img_reg_search').hide();
  	      $('#load_more_btn').removeAttr('disabled');		     
  	      if(data.response === 'failed'){
  		  alert('Some error occured!');		 
  	      }else{	
  		 $("#search-response").append(data.response);
  		 var offset = $("#offset").val();
  		 if(offset >= data.total_count){
  			$("#loadmorebtn").hide();
  		 }
  	      }
  	   },
  	   type: 'POST',
  	   dataType: 'json',
  	});
  }
       

$(document).ready(function(){
	document.getElementById('offset').value=0;
	homeSearch();
});
    
</script>

   
<!--  City Auto Suggesstion -->
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style type="text/css">
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
	text-align:left;
	font-size:14px;
	}
.ui-autocomplete-loading { background: white url("/public/images/loader.gif") right center no-repeat; }
</style>
 
<script type="text/javascript"> 
jQuery(function () 
 {
	 jQuery("#location").autocomplete({
		source: function (request, response) {
		 jQuery.getJSON(
			"http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
			function (data) {
			 response(data);
			}
		 );
		},
		minLength: 3,
		select: function (event, ui) {
		 var selectedObj = ui.item;
		 jQuery("#location").val(selectedObj.value);		
		//getcitydetails(selectedObj.value);
		 return false;
		},
		open: function () {
		 jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
		},
		close: function () {
		 jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
		}
	 });
	 jQuery("#location").autocomplete("option", "delay", 100);
	});
</script> 
<!--  City Auto Suggesstion -->




<!-- Auto suggest -->  
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/cupertino/jquery-ui.css" rel="stylesheet">
<link href="<?php echo $front_home_asset_path;?>css/inputosaurus.css" rel="stylesheet">
<link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet">   
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="<?php echo $front_home_asset_path;?>js/inputosaurus.js"></script>
<script>		
$('#searchbox').inputosaurus({
	autoCompleteSource : [ <?php echo $skills; ?>],
	activateFinalResult : true,
	change : function(ev){
		$('#search-keyword').val(ev.target.value);
	}
});

</script>

<script type="text/javascript">
  $(document).ready(function() {
    
    $('#logn-form').keydown(function(event) {     
        if (event.keyCode == 13) {
           validate_login();
         }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    
    $('#reg-form').keydown(function(event) {     
        if (event.keyCode == 13) {
           validate_register();
         }
    });
  });
</script>
<!-- Auto suggest -->  

  </body>
</html>
