<?php  
       $front_home_asset_path = '/zend/public/front/dashboard/';
       $aimg_path = '/zend/public/images/advertiserimage/';
       $state = rand(1000000,99999999);
       $_SESSION['gstate'] = $state;
       $logged_in_email = '';
       if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
            $logged_in_email = $_SESSION['user']->email;
       }      
?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Portfolio Template 2</title>
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!-- Custom CSS -->
<link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">
<!-- Custom Fonts -->
<link rel="stylesheet" type="text/css" href="<?php echo $front_home_asset_path;?>css/main.css">
<link href="<?php echo $front_home_asset_path;?>font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<!-- Navigation --> 
<aside id="Social-Sidebar" class="Pos-Left Theme-Color Label-Curve">
  <ul>
    <!--<li><a href="user-profile.html">Dashbord</a></li>-->
            <li><a href="/zend/public/user/home/dashboard">Basic Information</a></li>
            <!--<li><a href="about-me.html">About Me</a></li>-->
            <li><a href="/zend/public/user/home/addnewproject">Add New Project</a></li>
            <li><a href="/zend/public/user/home/viewproject">View Projects</a></li>
            <li><a href="/zend/public/user/home/enquiry">Enquiries</a></li>
  </ul>
</aside>

<!-- Header -->
<header>
  <div class="container" style="padding:0px">
    <nav class="navbar navbar-default y-set-top">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"> </span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="container-fluid"> <a class="navbar-brand y-brand" href="#">Own Rock</a>
        <div  class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="user-profile.html">Dashbord</a></li>
            <li><a href="/zend/public/user/home/dashboard">Basic Information</a></li>
            <li><a href="about-me.html">About Me</a></li>
            <li><a href="/zend/public/user/home/addnewproject">Add New Project</a></li>
            <li><a href="/zend/public/user/home/viewproject">View Projects</a></li>-->
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
      <!----> </nav>
  </div>
  <div class="container text-center y-set-top">
    <div class="row">
      <div class="col-lg-12">
        <div class="avatar text-center"> <img class="img-responsive" src="<?php echo $aimg_path . str_replace('_pp_','_tn120x120_',$merchantinfo->profilepic);?>" alt="" width="150"> </div>
        <div style="margin-top: 10px;">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> <i class="fa fa-pencil-square-o"></i> View or Edit your profile Image </button>
        </div>
        <div class="intro-text"> <span class="name"><?php echo $merchantinfo->name;?></span>
          <hr class="star-light">
          <span class="skills"><?php echo $merchantinfo->profession;?> | <?php echo $merchantinfo->rate?> INR</span></span><br />
        </div>
      </div>
    </div>
  </div>
</header>

<?php echo $this->content;?>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>3481 Melrose Place<br>
            Beverly Hills, CA 90210</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a> </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Us</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
      </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/zend/public/user/home/editprofileimage" method="POST" enctype="multipart/form-data">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Your image</h4>
      </div>
      <div class="modal-body"> 
      <span class="btn btn-default btn-file y-file"> 
      Browse
        <input type="file" name="profilepic">
        </span> 
     </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    </form>    
  </div>
</div>

<!-- /.modal --> 
<!-- Bootstrap core JavaScript
<!-- jQuery --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
<!-- Bootstrap Core JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/bootstrap.min.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/custom.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/jquery.js"></script> 
<link href="<?php echo $front_home_asset_path;?>css/style.css" media="all" rel="stylesheet">




<!-- Plugin JavaScript --> 

<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 


<!-- Contact Form JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/jqBootstrapValidation.js"></script> 
 
<!-- Custom Theme JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/freelancer.js"></script>
</body>
</html>
