<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
	 <div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<h1 class="pt-main-heading"><span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?></span>, Complete your profile in easy steps :)</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-xs-12">    
		<!-- Nav tabs -->
			<ul class="nav nav-pills profile-step">
				<li class="active"><a href="javascript:void(0)"><icon class="fa fa-user"></icon> Step 1 </a> </li>
				<li><a href="javascript:void(0)" ><i class="fa fa-user"></i> Step 2</a> </li>
				<li><a href="javascript:void(0)"><i class="fa fa-user"></i> Step 3</a></li>
			</ul>
		 </div>
	</div>
	<div class="row" style="margin:25px 0;">
		<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
		?>
		  <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="user/photographer/createprofile" method="POST" name="PhotographerForm" id="PhotographerForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name" class="form-control" placeholder="Enter your name" name="name" type="text" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';"><p id = "nameerr"></p>
                </div>
            </div>
           
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Telephone No. </label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" id="phone" name="phone" />
                    <p id = "phoneerr"></p>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Address </label>
                    <textarea placeholder="Enter your address here..." class="form-control" rows="3" name="address" id="address" ></textarea>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country"  id="full_country" placeholder="Select location from dropdown" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';" />
                    <input id="location"  name="location" type="hidden">
                    <p id = "locationerr"></p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Price *</label>
                    <input id="price" class="form-control" placeholder="Price" type="text" id="price" name="price" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';"><p id = "priceerr"></p>
                </div>
            </div>
             
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Tag Line </label>
                    <input id="tagline" class="form-control" placeholder="Tag Line" type="text" id="tagline" name="tagline" >
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>About Me *</label>
                    <textarea placeholder="Describe yourself here..." class="form-control" rows="3" name="description" id="description" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';" ></textarea>
                    <span id = "textarea_error"></span><p class = "pull-right" >(Min 50 to Max 500) Text Entered :  <span id = "characters">0</span></p>
                    <p id = "descriptionerr"></p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Equipment</label>
                
                    <?php 
                        $array_Equipment = array();
                        $array_Equipment[0] = '-- Equipment --';
                        foreach($equipmentdata as $equipmentdatarow)
                        {
                            $array_Equipment[$equipmentdatarow['id']] = $equipmentdatarow['equipment'];
                        }
                    ?>
                    <select class="form-control" name="equipment" id="equipment">
                        <?php foreach($array_Equipment as $k1=>$v1){ ?>
                        <option value="<?php echo $k1;?>" <?php if($k1 == $result_project->cost) {?> selected <?php } ?>><?php echo $v1;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                <label>Product & Services</label>
                    
                    <?php 
                        $array_pands = array();
                        $array_pands[0] = '-- Product & Services --';
                        foreach($productandservicedata as $productandservicedatarow)
                        {
                            $array_pands[$productandservicedatarow['id']] = $productandservicedatarow['productandservices'];
                        }
                    ?>
                    
                    <select class="form-control" name="product_and_services" id="product_and_services">
                        <?php foreach($array_pands as $k2=>$v2){ ?>
                        <option value="<?php echo $k2;?>" <?php if($k2 == $result_project->time) {?> selected <?php } ?>><?php echo $v2;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            
            <div class="col-lg-12">                         
                <input type="button" class="btn btn-success  pull-right space-left" value="Next" onclick="valid_profile();">
                <a href = "user/photographer/createalbum" class="btn btn-success  pull-right">Skip</a>
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>
    </div>
</section>

<script>
    var length;
    if($('#description').val()=='')
    {
        length = 0;
    }
    else
    {
        string = $('#description').val();
        string = string.replace(/(^\s*)|(\s*$)/gi,"");
        string = string.replace(/[ ]{2,}/gi," ");
        string = string.replace(/\n /,"\n");
        length = string.split(' ').length;
    }
    $('#characters').html(length);
    $('#description').keyup(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        if(length>500)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("About me can't be more than 500 words long.");
        }
        $('#characters').html(length);
        
    });

    $( "#description" ).blur(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        //$('#characters').html(length);
        if(length<50)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("About me should be min 50 words long.");
        }
        else if(length>500)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("About me can't be more than 500 words long.");
        }
        else
        {
          $('#textarea_error').html("");
        }    
    });

// location autocomplete
jQuery(function () 
{
   jQuery("#full_country").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#full_country").val(selectedObj.value);
     jQuery("#location").val(selectedObj.value);    


    //getcitydetails(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#full_country").autocomplete("option", "delay", 100);
  });

</script>



