

<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $_SESSION['user']->first_name;?>, Complete your profile in easy steps :) </h3> 
        <hr />
         <?php 
            //echo '<pre>';print_r($result_merchant);exit;
            /*$percent = 0;
            $show_percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }*/
        ?>
          <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <!--<?php if($result_merchant->total_projects<6)
        {?>-->

            <form id="createalbum" class="form-horizontal" method="POST" action="/user/photographer/album" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Album Name</label>
                        <input class="form-control" placeholder="Album name goes here" name="album_name" id="album_name" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <span id = "name_error"></span>
                    </div>
                </div>
  
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Tags</label>
                        <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                            <?php foreach($result_skills as $sk=>$sv) {?>
                                <option value="<?php echo $sk;?>"><?php echo $sv['skill'];?></option>
                            <?php } ?>
                        </select>
                        <div class="row">
                            <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                                <ul class="list-inline skills-home">
                                    <?php foreach($result_skills as $sk1=>$sv1) {?>
                                        <li><a href="javascript:select(<?php echo $sk1 ?>,'<?php echo $sv1['skill'] ?>');"><?php echo $sv1['skill'] ?></a>
                                        </li>
                                    <?php } ?>
                                </ul>
                                <span id = "tags_error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Album Description</label>
                        <textarea class="form-control" rows="3" placeholder="Describe your Album here..." name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"></textarea>
                        <span id = "description_error"></span>
                    </div>
                </div>
                <div class="col-lg-12">                         
                	<a href = "user/photographer/invitefriends" class="btn btn-success">Skip</a>
                	<input type="button" class="btn btn-success" value="Next" onclick="valid_album();">
                	<!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            	</div>
                
            </form>
            <!--<?php }
            //else
            {
                //echo "<h3 class='text-center'>Sorry </h3>";
                //echo "<h3 class='text-center'>You have reached the maximum limit to add new projects </h3>";
            }?>-->
    </div>
</section>

<script type="text/javascript">
function valid_album(){ 
	var isValid = true;
    $('#name_error').html("");
    $('#skills_error').html("");
    $('#textarea_error').html("");
    $("#album_name").css('border-color', '#dce4ec');
    $("#tags_error").css('border-color', '#dce4ec');
    $("#description").css('border-color', '#dce4ec');
	if($.trim($("#album_name").val())==''){		
		$("#album_name").css('border-color', '#FF0000');
        $("#name_error").css('color', '#FF0000');
        $('#name_error').html("Please enter album name.");
		isValid = false;
	}	
	
    if($('ul.select2-choices>li').length<=1){        
        $("#s2id_e2").css('border-color', '#FF0000');
        $("#skills_error").css('color', '#FF0000');
        $('#skills_error').html("Please select atleast one skill.");
        isValid = false;
    }
	if($.trim($("#description").val())=='') {	
	//alert(parseInt($('#about').val().length));	
		$("#description").css('border-color', '#FF0000');
		$("#description_error").css('color', '#FF0000');
		$('#description_error').html("Description should not be blank.");
		isValid = false;
	}
    /*if($("#dvPreview1").html()=="" && $("#dvPreview2").html()=="" && $("#dvPreview3").html()=="" && $("#dvPreview4").html()=="" && $("#dvPreview5").html()=="")
    {
        $("#image_error").css('color', '#FF0000');
        $('#image_error').html("Select atleast one image.");
        isValid = false;
    }*/
	if(isValid==true){
		
		document.getElementById('createalbum').submit();
	}
}
</script>
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
$(function () {

    var imagePreview = "height:100px;width: 100px";
    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
    $("#fileupload1").change(function () {
        $("#dvPreview1").html("");
        if (regex.test($(this).val().toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                    $("#dvPreview1").show();
                    $("#dvPreview1").append("<img />");
                    var reader1 = new FileReader();
                    reader1.onload = function (e) {
                        $("#dvPreview1 img").attr("src", e.target.result);
                        $("#dvPreview1 img").attr("style", imagePreview);
                        }
                    reader1.readAsDataURL($(this)[0].files[0]);
                    $('#pr_1').show();
                    } else {
                    alert("This browser does not support FileReader.");
                    }
        } else {
            alert("Please upload a valid image file.");
        }
    });
    $("#fileupload2").change(function () {
        $("#dvPreview2").html("");
        if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    $("#dvPreview2").show();
                    $("#dvPreview2").append("<img />");
                    var reader2 = new FileReader();
                    reader2.onload = function (e) {
                        $("#dvPreview2 img").attr("src", e.target.result);
                        $("#dvPreview2 img").attr("style", imagePreview);
                    }
                    reader2.readAsDataURL($(this)[0].files[0]);
                    $('#pr_2').show();
            } else {
                    alert("This browser does not support FileReader.");
            }
        } else {
            alert("Please upload a valid image file.");
        }
    });
    $("#fileupload3").change(function () {
        $("#dvPreview3").html("");
        if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    $("#dvPreview3").show();
                    $("#dvPreview3").append("<img />");
                    var reader3 = new FileReader();
                    reader3.onload = function (e) {
                        $("#dvPreview3 img").attr("src", e.target.result);
                        $("#dvPreview3 img").attr("style", imagePreview);
                    }
                    reader3.readAsDataURL($(this)[0].files[0]);
                    $('#pr_3').show();
                } else {
                    alert("This browser does not support FileReader.");
                }
        } else {
            alert("Please upload a valid image file.");
        }
    });
    $("#fileupload4").change(function () {
        $("#dvPreview4").html("");
        if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    $("#dvPreview4").show();
                    $("#dvPreview4").append("<img />");
                    var reader4 = new FileReader();
                    reader4.onload = function (e) {
                        $("#dvPreview4 img").attr("src", e.target.result);
                        $("#dvPreview4 img").attr("style", imagePreview);
                    }
                    reader4.readAsDataURL($(this)[0].files[0]);
                    $('#pr_4').show();
                } else {
                    alert("This browser does not support FileReader.");
                }
        } else {
            alert("Please upload a valid image file.");
        }
    });
    $("#fileupload5").change(function () {
        $("#dvPreview5").html("");
        if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    $("#dvPreview5").show();
                    $("#dvPreview5").append("<img />");
                    var reader5 = new FileReader();
                    reader5.onload = function (e) {
                        $("#dvPreview5 img").attr("src", e.target.result);
                        $("#dvPreview5 img").attr("style", imagePreview);
                    }
                    reader5.readAsDataURL($(this)[0].files[0]);
                    $('#pr_5').show();
                } else {
                    alert("This browser does not support FileReader.");
                }
        } else {
            alert("Please upload a valid image file.");
        }
    });
});
        
</script>-->



