<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $_SESSION['user']->first_name;?>, Complete your profile in easy steps :) </h3>   
        <hr/> 

         <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
        <div class="container"> <h2 class="text-center">Invite your friends from google </h2> </div>
        <a href = "user/photographer/dashboard" class="btn btn-success">Finish</a>
</section>