<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $_SESSION['user']->first_name;?>, Complete your profile in easy steps :) </h3>  
        <hr />
        <?php 
            //echo '<pre>';print_r($result_merchant);exit;
            /*$percent = 0;
            $show_percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }*/
        ?>
          <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="user/photographer/profile" method="POST" name="PhotographerForm" id="PhotographerForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name is not editable" class="form-control" placeholder="Enter your name" name="name" type="text" value="<?php echo $_SESSION['user']->first_name;?>" readonly>
                     
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input id="email" title="Email is not editable" class="form-control" placeholder="Enter your email" type="text" value="<?php echo $_SESSION['user']->email;?>" id="email" name="email" readonly>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Occupation *</label>
                    <input id="occupation" class="form-control" placeholder="eg. Web Designer, Photographer etc" type="text" id="profession" name="occupation" value="<?php echo $result_merchant->profession;?>" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Telephone No. *</label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $result_merchant->phone;?>" id="phone" name="phone" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country" value="<?php echo $result_merchant->country;?>" id="full_country" placeholder="Select location from dropdown"/>
                    <input id="location"  name="location" type="hidden" value="<?php echo $result_merchant->country;?>">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>About Me *</label>
                    <textarea placeholder="Describe yourself here..." class="form-control" rows="3" name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"></textarea>
                </div>
            </div>
            
            <div class="col-lg-12">                         
                <a href = "user/photographer/album" class="btn btn-success">Skip</a>
                <input type="button" class="btn btn-success" value="Next" onclick="valid_profile();">
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>
