<section class="pro-section" style="padding: 38px 0px;">
  <div class="container">
    <h2 class="text-center">Enquiries</h2>
    <hr class="pro-hr">
    <table class="table table-bordered table-striped">
        <tr><th>Name</th><th>Email</th><th>Phone</th><th>Date</th></tr>
        <?php foreach($this->paginator as $row) {?>
        <tr>
            <td><?php echo $row->name;?></td><td><?php echo $row->email;?></td>
            <td><?php echo $row->phone;?></td><td><?php echo date("F j, Y",strtotime($row->startdate));?></td>
        </tr>
        <?php } ?>
        
    </table>
    <div class="text-center">
            <div class="ls-button-group demo-btn ls-table-pagination">
                <ul class="pagination ls-pagination">
                 <?php
// add at the end of the file after the table
        /*echo $this->paginationControl(
                // the paginator object
                $this->paginator,
                // the scrolling style
                'sliding',
                // the partial to use to render the control
                'partial/paginator.phtml',
                // the route to link to when a user clicks a control link
                array(
            'route' => 'home/enquiry'
                )
        );*/
        ?>
                </ul>
            </div>
        </div>
  </div>
</section>