
body.landing .content>section {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px
}
body.landing .content>section+section {
	margin-top:20px
}
[class*=" symbol-"], [class^=symbol-] {
display:inline-block;
*display:inline;
*zoom:1;
width:40px;
height:40px;
*margin-right:.3em;
line-height:30px;
vertical-align:top;
*vertical-align:middle;
background-image:url(../images/landing/symbols.png);
background-position:40px 40px;
background-repeat:no-repeat
}
.symbol-cashback {
	background-position:0 0
}
.symbol-savings {
	background-position:-40px 0
}
.symbol-creditcard {
	background-position:-120px 0
}
.symbol-crp {
	background-position:-160px 0
}
.symbol-arrow {
	width:50px;
	background-position:-200px 0
}
.symbol-shoppingmall {
	width:50px;
	height:50px;
	background-position:0 -80px
}
.symbol-travelmall {
	width:50px;
	height:50px;
	background-position:-50px -80px
}
.symbol-calculator {
	width:50px;
	height:50px;
	background-position:-100px -80px
}
.symbol-cashbackstep1 {
	width:90px;
	height:90px;
	background-position:-250px 0
}
.symbol-cashbackstep2 {
	width:90px;
	height:90px;
	background-position:-340px 0
}
.symbol-cashbackstep3 {
	width:90px;
	height:90px;
	background-position:-430px 0
}
.symbol-slide-travel {
	width:90px;
	height:90px;
	background-position:-250px -90px
}
.symbol-slide-cashback {
	width:90px;
	height:90px;
	background-position:-340px -90px
}
.symbol-slide-coupons {
	width:90px;
	height:90px;
	background-position:-430px -90px
}
body.landing .content>[id=catchphrase] {
padding:0;
border:0 none;
z-index:1
}
.cp-background {
	position:relative;
	width:1000px;
	height:490px;
	line-height:1;
	z-index:1;
*zoom:1;
	overflow:hidden
}
.cp-background .item {
	position:absolute;
	left:0;
	top:0;
	filter:alpha(opacity=0);
	-khtml-opacity:0;
	-moz-opacity:0;
	opacity:0;
	-webkit-transition:all 1.8s ease-out;
	-moz-transition:all 1.8s ease-out;
	transition:all 1.8s ease-out;
	z-index:1
}
.cp-background .item.active {
	filter:alpha(opacity=100);
	-khtml-opacity:1;
	-moz-opacity:1;
	opacity:1;
-webkit-transition:all 1.6s ease-in .2s;
-moz-transition:all 1.6s ease-in .2s;
transition:all 1.6s ease-in .2s;
	z-index:2
}
.content>section>h2.cp-heading {
	position:absolute;
	left:30px;
	top:61px;
	font-size:47px;
	font-weight:300;
	line-height:50px;
	color:#fff;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .35);
	z-index:5
}
:lang(ru) .content>section>h2.cp-heading {
font-size:33px
}
.cp-nav {
	position:absolute;
	left:0;
	top:120px;
	margin:0;
	list-style:none;
	z-index:5
}
.cp-nav a {
	position:relative;
	display:block;
	width:510px;
	height:75px;
	padding:10px 30px;
	background-color:transparent;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .35);
	color:#fff;
	z-index:2
}
.cp-nav a [class*=" symbol-"], .cp-nav a [class^=symbol-] {
float:left;
margin-right:5px
}
.cp-nav a h3 {
	margin:0 0 5px;
	font-size:18px;
	line-height:20px;
	text-transform:uppercase
}
.cp-nav a p {
	margin-bottom:0;
	font-size:14px
}
.cp-nav a:hover {
	text-decoration:none
}
.cp-nav .bg {
	position:absolute;
	left:0;
	top:0;
	display:none;
	width:570px;
	height:95px;
	background-color:#ccc;
	background-color:rgba(0, 0, 0, .35);
-webkit-transition:top .6s linear;
-moz-transition:top .6s linear;
transition:top .6s linear;
	z-index:1
}
.initialized .cp-nav .bg {
	display:block
}
.cp-action {
	position:absolute;
	left:30px;
	bottom:20px;
	margin:0;
	width:430px;
	font-size:24px;
	line-height:30px;
	z-index:5
}
[id=benefits] .bigbox, [id=benefits] .smallbox {
	position:relative;
	float:left;
	min-height:89px;
	padding:19px 19px 39px 159px;
	border:1px solid #dfdfdf;
	-webkit-box-shadow:1px 1px 4px #efefef;
	-moz-box-shadow:1px 1px 4px #efefef;
	box-shadow:1px 1px 4px #efefef
}



