/*!----------------------------------------------------------------------
 * DubLi.com Base
 *
 * @name        dubli.css
 * @author      Daniel Kulbe <dkulbe@dublicorp.com>
 * @version     3.5.0
 *
 * ----------------------------------------------------------------------
 *
 * @based-on Bootstrap v2.3.2
 *           Copyright 2012 Twitter, Inc
 *           Licensed under the Apache License v2.0
 *           http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo
 * and @fat.
 *
 * ----------------------------------------------------------------------
 * @copyright   (c) 2014, DUBLICOM Ltd. All rights reserved.
 * ---------------------------------------------------------------------- */
/*article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display:block
}
audio, canvas, video {
	display:inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
display:none
}
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
a:hover, a:active {
	outline:0
}
sub, sup {
	position:relative;
	font-size:75%;
	line-height:0;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	width:auto\9;
	height:auto;
	max-width:100%;
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic
}*/
/*#map_canvas img {
	max-width:none
}
button, input, select, textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle
}
button, input {
*overflow:visible;
	line-height:normal
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
input[type="button"], input[type="submit"], input[type="reset"], button {
	cursor:pointer;
	-webkit-appearance:button;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
input[type="file"]::-ms-browse {
cursor:pointer;
-ms-appearance:button
}
input[type="file"]::-webkit-file-upload-button {
cursor:pointer;
-webkit-appearance:button;
-webkit-box-sizing:content-box;
box-sizing:content-box
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:textfield
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance:none
}
textarea {
	overflow:auto;
	vertical-align:top;
	resize:vertical
}
html {
	height:100%
}*/
/*body {
	margin:0;
	padding:0;
	background-color:#fff;
	color:#4e4e4e;
	font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	background-image:none;
	background-repeat:no-repeat;
	background-position:50% 0;
	background-attachment:fixed;
	background-clip:padding-box
}
a {
	color:#5481d9;
	text-decoration:none
}
a:hover, a:focus {
	color:#0660b5;
	text-decoration:underline
}
h1, h2, h3, h4, h5, h6 {
	margin:10px 0;
	font-family:inherit;
	font-weight:700;
	line-height:1;
	color:inherit;
	text-rendering:optimizelegibility
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight:400;
	line-height:1;
	color:#999
}
h1 {
	margin:.67em 0;
	font-size:2em
}
h2 {
	margin:14px 0;
	font-size:19px
}
h3 {
	font-size:1.17em
}
h4 {
	margin:1.33em 0;
	font-size:1em
}
h5 {
	margin:1.67em 0;
	font-size:14px
}
h6 {
	margin:2.33em 0;
	font-size:.75em
}
h1 small {
	font-size:1.33em
}
h2 small {
	font-size:12px
}
h3 small {
	font-size:1em
}
h4 small {
	font-size:.85em
}
ul, ol {
	padding:0;
	margin:0 0 10px 25px
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom:0
}
li {
	line-height:20px
}
ol {
	list-style:decimal;
	margin:5px 0 0 20px
}
ol ol {
	list-style:lower-latin
}
dl {
	margin-bottom:20px
}
dt, dd {
	line-height:20px
}
dt {
	font-weight:700
}
dd {
	margin-left:10px
}
p {
	margin:0 0 20px
}
.lead {
	font-size:14px;
	font-weight:300
}
small {
	font-size:85%
}
strong {
	font-weight:700
}
em {
	font-style:italic
}
cite {
	font-style:normal
}
hr {
	margin:20px 0;
	border:0;
	border-top:1px dotted silver;
	border-bottom:1px solid #fff
}
abbr[title] {
	cursor:help;
	border-bottom:1px dotted #d8d8d8
}
blockquote {
	padding:0 0 0 100px;
	margin:0 0 20px;
	position:relative;
	quotes:"\201C""\201D""\2018""\2019"
}
blockquote p {
	margin-bottom:15px;
	font-size:14px;
	font-weight:300;
	line-height:23px
}
blockquote>small {
	display:block;
	line-height:20px;
	color:#999
}
blockquote small:before {
	content:'\2014 \00A0'
}
q:before, q:after {
	content:""
}
blockquote:before {
	position:absolute;
	display:table;
	left:0;
	top:30px;
	color:#ccc;
	content:open-quote;
	font-family:"Times New Roman", Times, serif;
	font-size:13em;
	line-height:.4em
}
blockquote:after {
	display:table;
	content:"";
	line-height:0;
	clear:both
}
address {
	display:block;
	margin-bottom:20px;
	font-style:normal;
	line-height:20px
}
code, pre {
	padding:0 3px 2px;
	font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size:11px;
	color:#333;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
code {
	padding:2px 4px;
	color:#d14;
	background-color:#f7f7f9;
	border:1px solid #dfdfdf
}
pre {
	display:block;
	padding:9.5px;
	margin:0 0 10px;
	font-size:11px;
	line-height:20px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:pre;
	white-space:pre-wrap;
	background-color:#f5f5f5;
	border:1px solid #d8d8d8;
	border:1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
pre code {
	padding:0;
	color:inherit;
	background-color:transparent;
	border:0
}
.fade {
	opacity:0;
-webkit-transition:opacity .15s linear;
-moz-transition:opacity .15s linear;
-o-transition:opacity .15s linear;
transition:opacity .15s linear
}
.fade.in {
	opacity:1
}
.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}*/
/*::selection {
background:#333;
color:#fff
}
::-webkit-scrollbar {
width:12px
}
::-webkit-scrollbar-track {
background:#eee;
border:thin solid #ccc;
box-shadow:inset 0 0 3px rgba(0, 0, 0, 0.1)
}
::-webkit-scrollbar-thumb {
background:#999;
border:thin solid gray
}
[class^="icon-"], [class*=" icon-"] {
display:inline-block;
*display:inline;
*zoom:1;
width:30px;
height:30px;
*margin-right:.3em;
line-height:30px;
vertical-align:top;
*vertical-align:middle;
background-image:url(../img/iconsprite.png);
background-position:30px 30px;
background-repeat:no-repeat
}
.icon-star {
	background-position:0 0
}
.icon-entertainment {
	background-position:0 -30px
}
.icon-blog {
	background-position:-30px -30px
}
.icon-toolbar {
	background-position:0 -60px
}
.icon-membership {
	background-position:-60px 0
}
.icon-upgrade {
	background-position:-60px -30px
}
.icon-account {
	background-position:-90px -30px
}
.icon-tell-a-friend {
	background-position:-120px -30px
}
.icon-logout {
	background-position:-450px 0
}
li:hover .icon-logout {
	background-position:-450px -30px
}
.icon-mall {
	background-position:-90px 0
}
.icon-travel {
	background-position:-120px 0
}
.icon-dubli-entertainment, .icon-finance-insure {
	background-position:-150px 0
}
li:hover .icon-dubli-entertainment {
	background-position:-150px -30px
}
.icon-telecom-utils {
	background-position:-180px 0
}
.icon-dubli-blog {
	background-position:-210px 0
}
li:hover .icon-dubli-blog {
	background-position:-210px -30px
}
.icon-dubli-tools {
	background-position:-240px 0
}
li:hover .icon-dubli-tools {
	background-position:-240px -30px
}
.icon-intl {
	background-position:-270px 0
}
.icon-eu {
	background-position:-360px 0
}
.icon-hu {
	background-position:-300px -90px
}
.icon-si {
	background-position:-330px -90px
}
.icon-region14, .icon-region15, .icon-region16, .icon-region17, .icon-region18, .icon-region19, .icon-region20, .icon-region21, .icon-region22, .icon-region23, .icon-region24, .icon-region25, .icon-global, .icon-ww {
	background-position:-300px 0
}
.icon-region1, .icon-region2, .icon-us {
	background-position:-330px -30px
}
.icon-region3, .icon-dk, .icon-da {
	background-position:-360px -30px
}
.icon-region4, .icon-de {
	background-position:-300px -30px
}
.icon-region5, .icon-es {
	background-position:-300px -60px
}
.icon-region6, .icon-au {
	background-position:-330px -60px
}
.icon-region7, .icon-uk, .icon-gb, .icon-en {
	background-position:-330px 0
}
.icon-region8, .icon-ca {
	background-position:-300px -120px
}
.icon-region9, .icon-it {
	background-position:-360px -120px
}
.icon-region10, .icon-at {
	background-position:-360px -90px
}
.icon-region11, .icon-ch {
	background-position:-330px -120px
}
.icon-region12, .icon-ru {
	background-position:-360px -60px
}
.icon-region13, .icon-in {
	background-position:-300px -150px
}
.icon-facebook {
	background-position:-60px -240px
}
.icon-gplus {
	background-position:-90px -240px
}
.icon-twitter {
	background-position:-120px -240px
}
.icon-totop {
	background-position:-450px -180px
}
.icon-check {
	background-position:-60px -120px
}
.icon-ok {
	background-position:-90px -120px
}
.icon-fail {
	background-position:-120px -120px
}
.icon-hyphen {
	background-position:-150px -120px
}
.icon-check-big {
	background-position:-60px -150px
}
.icon-ok-big {
	background-position:-90px -150px
}
.icon-fail-big {
	background-position:-120px -150px
}
.icon-hyphen-big {
	background-position:-150px -150px
}
.icon-confirmed {
	background-position:-60px -180px
}
.icon-pending {
	background-position:-90px -180px
}
.icon-failed {
	background-position:-120px -180px
}
.icon-giftcard-confirmed {
	background-position:-150px -180px
}
.icon-giftcard-pending {
	background-position:-180px -180px
}
.icon-giftcard-none {
	background-position:-210px -180px
}
.icon-lupe {
	background-position:0 -120px
}
.icon-add-user {
	background-position:-30px -120px
}
.icon-questionmark {
	background-position:0 -150px
}
.icon-attention {
	background-position:-30px -150px
}
.icon-calendar {
	background-position:0 -180px
}
.icon-plus {
	background-position:-30px -180px
}
.icon-search {
	background-position:0 -210px
}
.icon-featured {
	background-position:-60px -210px
}
.icon-coupons {
	background-position:-90px -210px
}
.icon-stores {
	background-position:-120px -210px
}
.icon-rss, .icon-feed {
	background-position:0 -240px
}
a:hover .icon-rss, a:hover .icon-feed {
	background-position:0 -270px
}
.icon-coupon {
	background-position:-30px -240px
}
table {
	max-width:100%;
	background-color:transparent;
	border-collapse:collapse;
	border-spacing:0
}
table td>img {
	max-width:none
}
.table {
	width:100%;
	margin-bottom:20px
}
.table th, .table td {
	padding:8px;
	line-height:20px;
	text-align:left;
	vertical-align:top;
	border-top:1px solid #d8d8d8
}
.table th {
	font-weight:600
}
.table thead th {
	vertical-align:bottom
}
.table caption+thead tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child th, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
	border-top:0
}
.table tbody+tbody {
	border-top:2px solid #d8d8d8
}
.table-condensed th, .table-condensed td {
	padding:4px 5px
}*/
/*.table-bordered {
	border:1px solid #d8d8d8;
	border-collapse:separate;
*border-collapse:collapse;
	border-left:0;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.table-bordered th, .table-bordered td {
	border-left:1px solid #d8d8d8
}
.table-bordered caption+thead tr:first-child th, .table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, .table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th, .table-bordered colgroup+tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
	border-top:0
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-topright:4px
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child {
	-webkit-border-radius:0 0 0 4px;
	-moz-border-radius:0 0 0 4px;
	border-radius:0 0 0 4px
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child, .table-bordered tfoot:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px
}
.table-bordered caption+thead tr:first-child th:first-child, .table-bordered caption+tbody tr:first-child td:first-child, .table-bordered colgroup+thead tr:first-child th:first-child, .table-bordered colgroup+tbody tr:first-child td:first-child {
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px
}
.table-bordered caption+thead tr:first-child th:last-child, .table-bordered caption+tbody tr:first-child td:last-child, .table-bordered colgroup+thead tr:first-child th:last-child, .table-bordered colgroup+tbody tr:first-child td:last-child {
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-radius-topleft:4px
}
.table-striped tbody tr.odd td, .table-striped tbody tr.odd th, .table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
background-color:#f7f7f7
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color:#fafcff;
	background-image:-moz-linear-gradient(left, #fff 0, #fafcff 60%, #fff 100%);
	background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(60%, #fafcff), color-stop(100%, #fff));
	background-image:-webkit-linear-gradient(left, #fff 0, #fafcff 60%, #fff 100%);
	background-image:-o-linear-gradient(left, #fff 0, #fafcff 60%, #fff 100%);
	background-image:-ms-linear-gradient(left, #fff 0, #fafcff 60%, #fff 100%);
	background-image:linear-gradient(to right, #fff 0, #fafcff 60%, #fff 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fffafcff', GradientType=1);
	background-repeat:repeat-y;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false)
}
.table tbody tr.success td {
	background-color:#dff0d8
}
.table tbody tr.error td {
	background-color:#f2dede
}
.table tbody tr.warning td {
	background-color:#fcf8e3
}
.table tbody tr.info td {
	background-color:#d9edf7
}
.table-hover tbody tr.success:hover td {
	background-color:#d0e9c6
}
.table-hover tbody tr.error:hover td {
	background-color:#ebcccc
}
.table-hover tbody tr.warning:hover td {
	background-color:#faf2cc
}
.table-hover tbody tr.info:hover td {
	background-color:#c4e3f3
}
form {
	margin-bottom:20px;
*zoom:1
}
form:before, form:after {
	display:table;
	content:"";
	line-height:0
}
form:after {
	clear:both
}
fieldset {
	padding:0;
	margin:0;
	border:0
}
fieldset+fieldset {
	margin-top:20px
}
.fieldset-row {
*zoom:1
}
.fieldset-row:before, .fieldset-row:after {
	display:table;
	content:"";
	line-height:0
}
.fieldset-row:after {
	clear:both
}
.fieldset-row>form, .fieldset-row>fieldset {
	float:left;
	width:355px
}
.fieldset-row>form.divider, .fieldset-row>fieldset.divider {
	width:334px;
	padding-right:20px;
	border-right:1px dotted silver
}
.fieldset-row>form+form, .fieldset-row>fieldset+fieldset {
	width:335px;
	padding-left:20px
}
.fieldset-row>fieldset+fieldset {
	margin-top:0
}
.fieldset-row>fieldset.nolegend {
	padding-top:50px
}
legend {
	display:block;
	width:100%;
	padding:0;
	font-size:18px;
	font-weight:600;
	line-height:30px;
	color:#404040;
	border:0
}
legend small {
	font-size:12px;
	color:#999
}
input, button, select, textarea {
	font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:400;
	line-height:20px
}
label {
	display:block;
	font-weight:400;
	font-size:12px;
	line-height:20px;
	margin-bottom:1px
}
label.hidden {
	display:none;
	visibility:hidden
}
span.required, label .required {
	color:red
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display:inline-block;
	height:26px;
	padding:3px 6px;
	margin-bottom:9px;
	font-size:12px;
	line-height:24px;
	color:#656565;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
input, textarea, .uneditable-input {
	width:200px
}
.fieldset-row form+form input[type="text"], .fieldset-row form+form input[type="password"], .fieldset-row form+form textarea, .fieldset-row form+form .uneditable-input, .fieldset-row .divider input[type="text"], .fieldset-row .divider input[type="password"], .fieldset-row .divider textarea, .fieldset-row .divider .uneditable-input, .fieldset-row fieldset+fieldset input[type="text"], .fieldset-row fieldset+fieldset input[type="password"], .fieldset-row fieldset+fieldset textarea, .fieldset-row fieldset+fieldset .uneditable-input {
	width:180px
}
.fieldset-row form+form select, .fieldset-row .divider select, .fieldset-row fieldset+fieldset select {
	width:195px
}
.fieldset-row h3 {
	margin-top:0;
	line-height:26px;
	margin-top:0;
	margin-bottom:20px
}
input+strong, .uneditable-input+strong, .input-replace+strong, input+em, .uneditable-input+em, .input-replace+em {
	display:inline-block;
*display:inline;
*zoom:1;
	line-height:24px;
	padding:5px 0;
	vertical-align:middle
}*/
/*textarea {
	height:auto
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color:#fff;
	border:1px solid #cecece;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
-webkit-transition:border linear .2s, box-shadow linear .2s;
-moz-transition:border linear .2s, box-shadow linear .2s;
-o-transition:border linear .2s, box-shadow linear .2s;
transition:border linear .2s, box-shadow linear .2s
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color:rgba(82, 168, 236, 0.8);
	outline:0;
	outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4)
}
input[type="radio"], input[type="checkbox"] {
	margin:4px 0 0;
	margin-top:1px \9;
*margin-top:0;
	line-height:normal;
	cursor:pointer
}
input[type="file"] {
	width:100%;
	background-color:transparent
}
input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
	width:auto
}
select, input[type="file"] {
	height:34px;
*margin-top:2px;
	line-height:32px
}
input[type="file"]::-ms-value {
-ms-appearance:button;
padding:0;
background-color:#fff;
background-image:none;
border:0 none;
box-shadow:none;
color:#8a8a8a;
float:right
}
input[type="file"]::-ms-browse {
margin-left:6px;
padding:6px 14px;
border:1px solid #2b2b2b;
border-radius:3px
}
input[type="file"]::-webkit-file-upload-button {
padding:6px 14px
}
select {
	width:215px;
	padding:6px 3px;
	background-color:#fff;
	border:1px solid #cecece
}
input[size] {
	width:auto !important;
	text-align:center
}
select[multiple], select[size] {
	height:auto
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline:thin dotted #454545;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.uneditable-input, .uneditable-textarea {
	color:#999;
	cursor:not-allowed;
	background-color:#f7f7f7;
	border-color:#cecece;
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025)
}
.uneditable-input {
	overflow:hidden;
	white-space:nowrap
}
.uneditable-textarea {
	width:auto;
	height:auto
}*/
/*.date-element {
	display:inline-block;
*display:inline;
*zoom:1;
	margin-bottom:9px
}
.date-element input, .date-element select, .date-element label, .date-element .input-prepend, .date-element .input-append {
	margin-bottom:0
}
.date-element label {
	font-size:10.5px
}
input:-moz-placeholder, textarea:-moz-placeholder {
color:#a2a2a2
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color:#a2a2a2
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#a2a2a2
}
.radio, .check {
	font-size:12px;
	font-weight:400;
	letter-spacing:normal;
	min-height:18px;
	padding-left:18px
}
.radio input[type="radio"], .check input[type="checkbox"] {
	float:left;
	margin-left:-18px
}
.controls>.radio:first-child, .controls>.check:first-child {
	padding-top:7px
}
.radio.inline, .check.inline {
	display:inline-block;
	padding-top:5px;
	margin-bottom:0;
	vertical-align:middle
}
.radio.inline+.radio.inline, .check.inline+.check.inline {
	margin-left:10px
}
.input-mini {
	width:60px !important
}
select.input-mini {
	width:75px !important
}
.input-small {
	width:90px !important
}
select.input-small {
	width:105px !important
}
.input-medium {
	width:150px !important
}
select.input-medium {
	width:165px !important
}
.input-large {
	width:210px !important
}
select.input-large {
	width:225px !important
}
.input-xlarge {
	width:270px !important
}
select.input-xlarge {
	width:285px !important
}
.input-xxlarge {
	width:530px !important
}
select.input-xxlarge {
	width:545px !important
}
.input-xxxlarge {
	width:590px !important
}
select.input-xxxlarge {
	width:605px !important
}
.input-xxxxlarge {
	width:630px !important
}
select.input-xxxxlarge {
	width:645px !important
}
select.input-high {
	height:37px
}
input, textarea, .uneditable-input {
	margin-left:0
}
input+strong, textarea+strong, select+strong, .uneditable-input+strong {
	display:inline-block;
	line-height:24px
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	cursor:not-allowed;
	background-color:#f7f7f7
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
	background-color:transparent
}
input.loading, select.loading, textarea.loading {
	background-position:97% 50% !important;
	background-repeat:no-repeat !important;
	background-image:url(../img/validating.gif) !important;
	cursor:no-drop !important
}
select.loading {
	background-position:90% 50% !important
}
.control-group.warning .help-block, .control-group.warning .help-inline, .control-group .help-block.warning {
	color:#c09853
}
.control-group.warning .check, .control-group.warning .radio, .control-group.warning input[type="text"], .control-group.warning input[type="password"], .control-group.warning input[type="datetime"], .control-group.warning input[type="datetime-local"], .control-group.warning input[type="date"], .control-group.warning input[type="month"], .control-group.warning input[type="time"], .control-group.warning input[type="week"], .control-group.warning input[type="number"], .control-group.warning input[type="email"], .control-group.warning input[type="url"], .control-group.warning input[type="search"], .control-group.warning input[type="tel"], .control-group.warning input[type="color"], .control-group.warning select, .control-group.warning textarea, input.warning, select.warning, textarea.warning {
	color:#c09853
}
.control-group.warning input[type="text"], .control-group.warning input[type="password"], .control-group.warning input[type="datetime"], .control-group.warning input[type="datetime-local"], .control-group.warning input[type="date"], .control-group.warning input[type="month"], .control-group.warning input[type="time"], .control-group.warning input[type="week"], .control-group.warning input[type="number"], .control-group.warning input[type="email"], .control-group.warning input[type="url"], .control-group.warning input[type="search"], .control-group.warning input[type="tel"], .control-group.warning input[type="color"], .control-group.warning select, .control-group.warning textarea, input.warning, select.warning, textarea.warning {
	border-color:#c09853;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.control-group.warning input[type="text"]:focus, .control-group.warning input[type="password"]:focus, .control-group.warning input[type="datetime"]:focus, .control-group.warning input[type="datetime-local"]:focus, .control-group.warning input[type="date"]:focus, .control-group.warning input[type="month"]:focus, .control-group.warning input[type="time"]:focus, .control-group.warning input[type="week"]:focus, .control-group.warning input[type="number"]:focus, .control-group.warning input[type="email"]:focus, .control-group.warning input[type="url"]:focus, .control-group.warning input[type="search"]:focus, .control-group.warning input[type="tel"]:focus, .control-group.warning input[type="color"]:focus, .control-group.warning select:focus, .control-group.warning textarea:focus, input.warning:focus, select.warning:focus, textarea.warning:focus {
	border-color:#a47e3c;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e
}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
	color:#c09853;
	background-color:#fcf8e3;
	border-color:#c09853
}
.control-group.error .help-block, .control-group.error .help-inline, .control-group .help-block.error {
	color:red
}
.control-group.error .check, .control-group.error .radio, .control-group.error input[type="text"], .control-group.error input[type="password"], .control-group.error input[type="datetime"], .control-group.error input[type="datetime-local"], .control-group.error input[type="date"], .control-group.error input[type="month"], .control-group.error input[type="time"], .control-group.error input[type="week"], .control-group.error input[type="number"], .control-group.error input[type="email"], .control-group.error input[type="url"], .control-group.error input[type="search"], .control-group.error input[type="tel"], .control-group.error input[type="color"], .control-group.error select, .control-group.error textarea, input.error, select.error, textarea.error {
	color:red
}
.control-group.error input[type="text"], .control-group.error input[type="password"], .control-group.error input[type="datetime"], .control-group.error input[type="datetime-local"], .control-group.error input[type="date"], .control-group.error input[type="month"], .control-group.error input[type="time"], .control-group.error input[type="week"], .control-group.error input[type="number"], .control-group.error input[type="email"], .control-group.error input[type="url"], .control-group.error input[type="search"], .control-group.error input[type="tel"], .control-group.error input[type="color"], .control-group.error select, .control-group.error textarea, input.error, select.error, textarea.error {
	border-color:red;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.control-group.error input[type="text"]:focus, .control-group.error input[type="password"]:focus, .control-group.error input[type="datetime"]:focus, .control-group.error input[type="datetime-local"]:focus, .control-group.error input[type="date"]:focus, .control-group.error input[type="month"]:focus, .control-group.error input[type="time"]:focus, .control-group.error input[type="week"]:focus, .control-group.error input[type="number"]:focus, .control-group.error input[type="email"]:focus, .control-group.error input[type="url"]:focus, .control-group.error input[type="search"]:focus, .control-group.error input[type="tel"]:focus, .control-group.error input[type="color"]:focus, .control-group.error select:focus, .control-group.error textarea:focus, input.error:focus, select.error:focus, textarea.error:focus {
	border-color:red;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
	color:red;
	background-color:#f2dede;
	border-color:red
}
.control-group.success .help-block, .control-group.success .help-inline, .control-group .help-block.success {
	color:#719e00
}
.control-group.success .check, .control-group.success .radio, .control-group.success input[type="text"], .control-group.success input[type="password"], .control-group.success input[type="datetime"], .control-group.success input[type="datetime-local"], .control-group.success input[type="date"], .control-group.success input[type="month"], .control-group.success input[type="time"], .control-group.success input[type="week"], .control-group.success input[type="number"], .control-group.success input[type="email"], .control-group.success input[type="url"], .control-group.success input[type="search"], .control-group.success input[type="tel"], .control-group.success input[type="color"], .control-group.success select, .control-group.success textarea, input.success, select.success, textarea.success {
	color:#719e00
}
.control-group.success input[type="text"], .control-group.success input[type="password"], .control-group.success input[type="datetime"], .control-group.success input[type="datetime-local"], .control-group.success input[type="date"], .control-group.success input[type="month"], .control-group.success input[type="time"], .control-group.success input[type="week"], .control-group.success input[type="number"], .control-group.success input[type="email"], .control-group.success input[type="url"], .control-group.success input[type="search"], .control-group.success input[type="tel"], .control-group.success input[type="color"], .control-group.success select, .control-group.success textarea, input.success, select.success, textarea.success {
	border-color:#468847;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.control-group.success input[type="text"]:focus, .control-group.success input[type="password"]:focus, .control-group.success input[type="datetime"]:focus, .control-group.success input[type="datetime-local"]:focus, .control-group.success input[type="date"]:focus, .control-group.success input[type="month"]:focus, .control-group.success input[type="time"]:focus, .control-group.success input[type="week"]:focus, .control-group.success input[type="number"]:focus, .control-group.success input[type="email"]:focus, .control-group.success input[type="url"]:focus, .control-group.success input[type="search"]:focus, .control-group.success input[type="tel"]:focus, .control-group.success input[type="color"]:focus, .control-group.success select:focus, .control-group.success textarea:focus, input.success:focus, select.success:focus, textarea.success:focus {
	border-color:#356635;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b
}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
	color:#468847;
	background-color:#dff0d8;
	border-color:#468847
}
.control-group.info .help-block, .control-group.info .help-inline, .control-group .help-block.info {
	color:#3a87ad
}
.control-group.info .check, .control-group.info .radio, .control-group.info input[type="text"], .control-group.info input[type="password"], .control-group.info input[type="datetime"], .control-group.info input[type="datetime-local"], .control-group.info input[type="date"], .control-group.info input[type="month"], .control-group.info input[type="time"], .control-group.info input[type="week"], .control-group.info input[type="number"], .control-group.info input[type="email"], .control-group.info input[type="url"], .control-group.info input[type="search"], .control-group.info input[type="tel"], .control-group.info input[type="color"], .control-group.info select, .control-group.info textarea, input.info, select.info, textarea.info {
	color:#3a87ad
}
.control-group.info input[type="text"], .control-group.info input[type="password"], .control-group.info input[type="datetime"], .control-group.info input[type="datetime-local"], .control-group.info input[type="date"], .control-group.info input[type="month"], .control-group.info input[type="time"], .control-group.info input[type="week"], .control-group.info input[type="number"], .control-group.info input[type="email"], .control-group.info input[type="url"], .control-group.info input[type="search"], .control-group.info input[type="tel"], .control-group.info input[type="color"], .control-group.info select, .control-group.info textarea, input.info, select.info, textarea.info {
	border-color:#3a87ad;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.control-group.info input[type="text"]:focus, .control-group.info input[type="password"]:focus, .control-group.info input[type="datetime"]:focus, .control-group.info input[type="datetime-local"]:focus, .control-group.info input[type="date"]:focus, .control-group.info input[type="month"]:focus, .control-group.info input[type="time"]:focus, .control-group.info input[type="week"]:focus, .control-group.info input[type="number"]:focus, .control-group.info input[type="email"]:focus, .control-group.info input[type="url"]:focus, .control-group.info input[type="search"]:focus, .control-group.info input[type="tel"]:focus, .control-group.info input[type="color"]:focus, .control-group.info select:focus, .control-group.info textarea:focus, input.info:focus, select.info:focus, textarea.info:focus {
	border-color:#2d6987;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3
}
.control-group.info .input-prepend .add-on, .control-group.info .input-append .add-on {
	color:#3a87ad;
	background-color:#d9edf7;
	border-color:#3a87ad
}
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
color:#b94a48;
border-color:#ee5f5b
}
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
border-color:#e9322d;
-webkit-box-shadow:0 0 6px #f8b9b7;
-moz-box-shadow:0 0 6px #f8b9b7;
box-shadow:0 0 6px #f8b9b7
}
input.validating, select.validating, textarea.validating {
	background-color:#efefef;
	background-image:url(../img/validating.gif);
	background-position:90% 50%;
	background-repeat:no-repeat;
	border:#FDD 1px solid;
	cursor:not-allowed
}
textarea.validating {
	background-position:90% 4px
}
.actions {
	margin-top:20px;
	text-align:right;
*zoom:1
}
.form-actions {
	margin-top:20px;
	margin-bottom:20px;
	padding:19px 20px 0;
	border-top:1px dotted silver;
*zoom:1
}
.actions:before, .actions:after, .form-actions:before, .form-actions:after {
	display:table;
	line-height:0;
	content:""
}
.actions:after, .form-actions:after {
	clear:both
}
.actions .btn+.btn, .form-actions .btn+.btn {
	margin-left:10px
}
.actions .btn-link, .form-actions .btn-link {
	padding-left:0;
	padding-right:0;
	margin-bottom:0
}
.help-block, .help-inline {
	color:#8a8a8a;
	font-weight:400
}
.help-block {
	display:block;
	margin-bottom:10px;
	font-size:12px
}
.actions>.help-block, .form-actions>.help-block {
	float:left;
	margin-bottom:0;
	line-height:26px;
	color:#898989
}
.help-inline {
	display:inline-block;
*display:inline;
	vertical-align:top;
*zoom:1
}
.range>* {
	display:inline-block;
*display:inline;
	vertical-align:top;
*zoom:1
}
.range>strong {
	line-height:24px;
	padding:3px 7px
}
.input-append, .input-prepend {
	display:inline-block;
*display:inline;
*zoom:1;
	margin-bottom:5px;
	font-size:0;
	white-space:nowrap
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
	position:relative;
	width:auto;
	margin-bottom:0;
*margin-left:0;
	font-size:12px;
	vertical-align:top;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.input-append .btn-large, .input-prepend .btn-large {
	font-size:14px
}
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
	z-index:2
}
.input-append .add-on, .input-prepend .add-on {
	display:inline-block;
	width:auto;
	height:28px;
	min-width:16px;
	padding:2px 5px;
	font-size:12px;
	font-weight:400;
	line-height:28px;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	background-color:#e3e3e3;
	border:1px solid #d8d8d8
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn {
	vertical-align:top;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.input-append .active, .input-prepend .active {
	background-color:#a9dba9;
	border-color:#46a546
}
.input-prepend .add-on, .input-prepend .btn {
	margin-right:-1px
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}
.input-prepend input:last-child, .input-prepend select:last-child, .input-prepend .uneditable-input:last-child {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}
.input-append input:first-child, .input-append select:first-child, .input-append .uneditable-input:first-child {
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}
.input-append .add-on, .input-append .btn {
	margin-left:-1px
}
.input-append .add-on:last-child, .input-append .btn:last-child {
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}
.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
	margin-right:-1px;
	-webkit-border-radius:4px 0 0 4px;
	-moz-border-radius:4px 0 0 4px;
	border-radius:4px 0 0 4px
}
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
	margin-left:-1px;
	-webkit-border-radius:0 4px 4px 0;
	-moz-border-radius:0 4px 4px 0;
	border-radius:0 4px 4px 0
}
.form-inline input, .form-horizontal input, .form-inline .password-strength, .form-horizontal .password-strength, .form-inline .date-element, .form-horizontal .date-element, .form-inline textarea, .form-horizontal textarea, .form-inline select, .form-horizontal select, .form-inline .help-inline, .form-horizontal .help-inline, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-inline .input-append, .form-horizontal .input-append {
	display:inline-block;
*display:inline;
	margin-bottom:0;
	vertical-align:middle;
*zoom:1
}
.form-inline .hide, .form-horizontal .hide {
	display:none
}
.form-inline label {
	vertical-align:middle
}
.form-inline label, .form-inline .btn-group {
	display:inline-block
}
.form-inline .input-append, .form-inline .input-prepend {
	margin-bottom:0
}
.form-inline .radio, .form-inline .check {
	padding-left:0;
	margin-bottom:0;
	vertical-align:middle
}
.form-inline .radio input[type="radio"], .form-inline .check input[type="checkbox"] {
	float:left;
	margin-right:3px;
	margin-left:0
}
.control-group+.control-group {
	margin-top:10px
}
legend+.control-group {
	margin-top:20px;
	-webkit-margin-top-collapse:separate
}
.form-horizontal .control-group {
*zoom:1
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
	display:table;
	line-height:0;
	content:""
}
.form-horizontal .control-group+.control-group {
	margin-top:20px
}
.form-horizontal .control-group:after {
	clear:both
}
.form-horizontal .control-label {
	float:left;
	width:160px;
	padding-top:5px;
	line-height:23px;
	text-align:right
}
.form-horizontal .controls {
*display:inline-block;
*padding-left:20px;
	margin-left:180px;
*margin-left:0
}
.form-horizontal .controls:first-child {
*padding-left:180px
}
.controls .form-inline {
	display:inline-block;
*display:inline;
*zoom:1;
	float:right
}
.form-horizontal .control-group .help-block {
	margin-top:5px;
	margin-bottom:0
}
.form-horizontal input+.help-block, .form-horizontal select+.help-block, .form-horizontal textarea+.help-block {
	margin-top:10px
}
.form-horizontal .form-actions {
	padding-left:180px
}
.form-horizontal .fieldset-row .control-label, .fieldset-row .form-horizontal .control-label {
	width:130px
}
.form-horizontal .fieldset-row .controls, .fieldset-row .form-horizontal .controls {
	margin-left:140px;
*margin-left:0
}
.form-horizontal .fieldset-row .controls:first-child, .fieldset-row .form-horizontal .controls:first-child {
*padding-left:140px
}
.form-horizontal .fieldset-row .form-actions, .fieldset-row .form-horizontal .form-actions {
	padding-left:140px
}
input[type="text"].input-high, input[type="password"].input-high, input[type="datetime"].input-high, input[type="datetime-local"].input-high, input[type="date"].input-high, input[type="month"].input-high, input[type="time"].input-high, input[type="week"].input-high, input[type="number"].input-high, input[type="email"].input-high, input[type="url"].input-high, input[type="search"].input-high, input[type="tel"].input-high, input[type="color"].input-high, .uneditable-input.input-high {
	padding-top:7px;
	padding-bottom:7px;
*padding-top:9px;
*padding-bottom:8px
}
input.input-block-level, select.input-block-level, textarea.input-block-level {
	width:100% !important;
	min-height:34px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.input-replace {
	display:inline-block;
*display:inline;
*zoom:1;
	font-size:14px;
	font-weight:400;
	line-height:22px;
	padding:6px 0;
	vertical-align:middle
}
form #results, form #resultsRegister {
	color:#8a8a8a
}
form #results.failure, form #resultsRegister.failure {
	color:red
}
.password-indicator {
	display:block;
	width:100%;
	height:2px;
	margin:3px 0 0;
	background-color:#cecece
}
.password-indicator .indicator {
	width:0;
	height:100%;
	background-color:red
}
.password-indicator .indicator.level1 {
	width:20%;
	background-color:#df544f
}
.password-indicator .indicator.level2 {
	width:40%;
	background-color:#f09300
}
.password-indicator .indicator.level3 {
	width:60%;
	background-color:#f3c908
}
.password-indicator .indicator.level4 {
	width:80%;
	background-color:#d5db34
}
.password-indicator .indicator.level5 {
	width:100%;
	background-color:#b0df32
}*/
/*.select {
	position:relative;
	display:inline-block;
*display:inline;
*zoom:1;
	width:215px;
	height:28px;
	background-color:#fff;
	border:solid 1px #cecece;
	font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:400;
	color:#656565;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065);
-webkit-transition:border linear .2s, box-shadow linear .2s;
-moz-transition:border linear .2s, box-shadow linear .2s;
-o-transition:border linear .2s, box-shadow linear .2s;
transition:border linear .2s, box-shadow linear .2s;
	cursor:pointer
}
.select:focus, .select.focus {
	border-color:rgba(82, 168, 236, 0.8);
	outline:0;
	outline:thin dotted \9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(6, 96, 181, 0.4)
}*/
/*.select .selector {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:185px;
	height:28px;
	overflow:hidden;
	line-height:28px;
	text-indent:6px;
	white-space:nowrap;
	outline:0
}
.select .selector:link, .select .selector:visited, .select .selector:hover {
	color:#656565;
	outline:0;
	text-decoration:none
}
.select .toggle {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:28px;
	height:28px;
	background-color:transparent;
	background-image:url(../img/iconsprite.png);
	background-repeat:no-repeat;
	outline:0
}
.select .toggle, .select .toggle:hover {
	background-position:-450px -60px
}
.select.focus .toggle, .select.focus .toggle:hover {
	background-position:-450px -90px
}
.select.disabled {
	cursor:not-allowed;
	background-color:#f7f7f7
}
.select .options {
	position:absolute;
	left:-1px;
	top:28px;
	display:none;
	width:520px;
	margin-top:3px;
	border:1px solid #a2a2a2;
	z-index:1200
}
.select.focus .options {
	display:block
}
.select.focus .options ul {
	list-style:none;
	width:260px;
	float:left;
	margin:0;
	padding:0
}
.select .options a {
	display:block;
	height:20px;
	padding:0 7px 0 10px;
	outline:0
}
.select .options a:link, .select .options a:visited {
	color:#8a8a8a;
	text-decoration:none
}
.select .options a:hover, .select .options a:focus {
	background-color:#f7f7f7;
	color:#404040
}
.select .options .disabled, .select .options .disabled:hover {
	display:block;
	padding:0 7px 0 10px;
	background-color:transparent;
	color:#8a8a8a
}
.select .options .group {
	display:block;
	padding:0 7px 0 10px;
	font-weight:600;
	color:#404040
}
.select .options .sub {
	padding-left:15px
}*/
/*.btn {
	display:inline-block;
*display:inline;
	padding:2px 14px;
	margin-bottom:0;
*margin-left:.3em;
	margin-bottom:9px;
	font-size:12px;
	line-height:20px;
*line-height:20px;
	color:#333;
	text-align:center;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align:top;
	cursor:pointer;
	background-color:#f5f5f5;
*background-color:#e6e6e6;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image:-o-linear-gradient(top, #fff, #e6e6e6);
	background-image:linear-gradient(to bottom, #fff, #e6e6e6);
	background-image:-moz-linear-gradient(top, #fff, #e6e6e6);
	background-repeat:repeat-x;
	border:1px solid #bbb;
*border:0;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color:#a2a2a2;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
*zoom:1;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color:#333;
	background-color:#e6e6e6;
*background-color:#d9d9d9
}
.btn:active, .btn.active {
	background-color:#ccc \9
}
.btn:first-child {
*margin-left:0
}
.btn:hover, .btn:focus {
	color:#333;
	text-decoration:none;
	background-color:#e6e6e6;
*background-color:#d9d9d9;
	background-position:0 -15px;
-webkit-transition:background-position .1s linear;
-moz-transition:background-position .1s linear;
-o-transition:background-position .1s linear;
transition:background-position .1s linear
}
.btn:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.btn.active, .btn:active {
	background-color:#e6e6e6;
	background-color:#d9d9d9 \9;
	background-image:none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.btn.disabled, .btn[disabled] {
	cursor:help;
	cursor:no-drop;
	background-color:#e6e6e6;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.btn-icon-only {
	height:30px;
	line-height:30px;
	padding:1px
}
.btn-large {
	padding:6px 14px;
	font-size:14px;
	font-weight:600;
	letter-spacing:.1em;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
.btn-large [class^="icon-"] {
margin-top:2px
}
.btn-small {
	padding:3px 9px;
	font-size:10px;
	line-height:18px
}
.btn-small [class^="icon-"] {
margin-top:0
}
.btn-mini {
	padding:2px 6px;
	font-size:9px;
	line-height:17px
}
.btn-wide {
	min-width:150px
}
.btn-topspace {
	margin-top:11px
}
.btn-block {
	display:block;
	width:100%;
	margin-top:3px;
	padding-right:0;
	padding-left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.btn-block+.btn-block {
	margin-top:5px
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
	width:100%
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
	color:rgba(255, 255, 255, 0.75)
}
.btn {
	border-color:#c5c5c5;
	border-color:rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25)
}
.btn-primary {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#81b128;
*background-color:#78a524;
	background-image:-moz-linear-gradient(top, #a5cf55, #78a524);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a5cf55), to(#78a524));
	background-image:-webkit-linear-gradient(top, #a5cf55, #78a524);
	background-image:-o-linear-gradient(top, #a5cf55, #78a524);
	background-image:linear-gradient(to bottom, #a5cf55, #78a524);
	background-repeat:repeat-x;
	border-color:#81a340 #81a340 #6e8c36;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa5cf55', endColorstr='#ff78a524', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color:#fff;
	background-color:#78a524;
*background-color:#688f21
}
.btn-primary:active, .btn-primary.active {
	background-color:#78a524 \9
}
.btn-warning {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#faa732;
*background-color:#f89406;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image:-webkit-linear-gradient(top, #fbb450, #f89406);
	background-image:-o-linear-gradient(top, #fbb450, #f89406);
	background-image:linear-gradient(to bottom, #fbb450, #f89406);
	background-image:-moz-linear-gradient(top, #fbb450, #f89406);
	background-repeat:repeat-x;
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	color:#fff;
	background-color:#f89406;
*background-color:#df8505
}
.btn-warning:active, .btn-warning.active {
	background-color:#c67605 \9
}
.btn-danger {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#da4f49;
*background-color:#bd362f;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:-o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image:linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-repeat:repeat-x;
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	color:#fff;
	background-color:#bd362f;
*background-color:#a9302a
}
.btn-danger:active, .btn-danger.active {
	background-color:#942a25 \9
}
.btn-success {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#5bb75b;
*background-color:#51a351;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image:-webkit-linear-gradient(top, #62c462, #51a351);
	background-image:-o-linear-gradient(top, #62c462, #51a351);
	background-image:linear-gradient(to bottom, #62c462, #51a351);
	background-image:-moz-linear-gradient(top, #62c462, #51a351);
	background-repeat:repeat-x;
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	color:#fff;
	background-color:#51a351;
*background-color:#499249
}
.btn-success:active, .btn-success.active {
	background-color:#408140 \9
}*/
/*.btn-info {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#4373a2;
*background-color:#356aa0;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#4f85bb), to(#356aa0));
	background-image:-webkit-linear-gradient(top, #4f85bb, #356aa0);
	background-image:-o-linear-gradient(top, #4f85bb, #356aa0);
	background-image:linear-gradient(to bottom, #4f85bb, #356aa0);
	background-image:-moz-linear-gradient(top, #4f85bb, #356aa0);
	background-repeat:repeat-x;
	border-color:#1968ca #1968ca #13509b;
	border-color:rgba(23, 96, 187, 0.1) rgba(23, 96, 187, 0.1) rgba(14, 61, 119, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f85bb', endColorstr='#ff356aa0', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	color:#fff;
	background-color:#356aa0;
*background-color:#254b71
}
.btn-info:active, .btn-info.active {
	background-color:#2a537e \9
}
.btn-inverse {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#363636;
*background-color:#222;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
	background-image:-webkit-linear-gradient(top, #444, #222);
	background-image:-o-linear-gradient(top, #444, #222);
	background-image:linear-gradient(to bottom, #444, #222);
	background-image:-moz-linear-gradient(top, #444, #222);
	background-repeat:repeat-x;
	border-color:#222 #222 #000;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	color:#fff;
	background-color:#222;
*background-color:#151515
}
.btn-inverse:active, .btn-inverse.active {
	background-color:#080808 \9
}
.btn:visited {
	color:#333;
	text-decoration:none
}
.btn-primary:visited, .btn-success:visited, .btn-warning:visited, .btn-danger:visited, .btn-info:visited, .btn-inverse {
	color:#fff
}
.btn-text:visited {
	color:#404040
}
.btn-link:visited {
	color:#0660b5
}
button.btn, input[type="submit"].btn {
*padding-top:3px;
*padding-bottom:3px
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
padding:0;
border:0
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
*padding-top:7px;
*padding-bottom:7px
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
*padding-top:3px;
*padding-bottom:3px
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
*padding-top:1px;
*padding-bottom:1px
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.btn-link {
	color:#5481d9;
	cursor:pointer;
	border-color:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.btn-link:hover, .btn-link:focus {
	color:#0660b5;
	text-decoration:underline;
	background-color:transparent
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
	color:#404040;
	text-decoration:none
}
.btn-text, .btn-text:active, .btn-text[disabled] {
	background-color:transparent;
	background-image:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none
}
.btn-text {
	color:#454545;
	text-shadow:none;
	cursor:default;
	border-color:transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
.btn-text:hover, .btn-text:focus {
	color:#454545;
	background-color:transparent
}
.btn-text[disabled]:hover, .btn-text[disabled]:focus {
	color:#333
}
.btn-text.btn-primary, .btn-text.btn-primary:hover, .btn-text.btn-primary:focus {
	color:#94c043
}
.btn-text.btn-warning, .btn-text.btn-warning:hover, .btn-text.btn-warning:focus {
	color:#c09853
}
.btn-text.btn-danger, .btn-text.btn-danger:hover, .btn-text.btn-danger:focus {
	color:#b94a48
}
.btn-text.btn-info, .btn-text.btn-info:hover, .btn-text.btn-info:focus {
	color:#3a87ad
}
.btn-text.btn-success, .btn-text.btn-success:hover, .btn-text.btn-success:focus {
	color:#719e00
}
.btn-text.btn-inverse, .btn-text.btn-inverse:hover, .btn-text.btn-inverse:focus {
	color:#454545
}
.btn-back {
	margin-bottom:0;
	padding:0;
	font-size:14px;
	line-height:28px
}
.btn.btn-primary.btn-loading {
	padding-right:40px !important;
	background-image:url(../img/loading-primary.gif) !important;
	background-position:93% 50% !important;
	background-repeat:no-repeat !important;
	cursor:help !important;
	cursor:no-drop !important
}
li.dropdown {
	position:relative;
*z-index:1
}
li.dropdown.open {
*z-index:2
}
li.dropdown>.dropdown-menu {
	display:none;
	visibility:hidden;
	min-width:160px;
	padding:2px 0;
	list-style:none;
	position:absolute;
	left:-10px;
	top:4px;
	float:left;
	background-color:#3e3e3e;
	background-image:-moz-linear-gradient(bottom, #3e3e3e 17%, #5f5f5f 80%);
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.17, #3e3e3e), color-stop(0.8, #5f5f5f));
	background-image:-webkit-linear-gradient(bottom, #3e3e3e 17%, #5f5f5f 80%);
	background-image:-o-linear-gradient(bottom, #3e3e3e 17%, #5f5f5f 80%);
	background-image:linear-gradient(bottom, #3e3e3e 17%, #5f5f5f 80%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f5f5f', endColorstr='#ff3e3e3e', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:1px 1px 2px rgba(50, 50, 50, 0.60);
	-moz-box-shadow:1px 1px 2px rgba(50, 50, 50, 0.60);
	box-shadow:1px 1px 2px rgba(50, 50, 50, 0.60);
	color:#fff;
	line-height:20px;
	z-index:1100
}
.dropdown-menu>li.dropdown>.dropdown-menu {
	left:100%;
	top:-4px;
	-webkit-border-radius:0 3px 3px 3px;
	-moz-border-radius:0 3px 3px 3px;
	border-radius:0 3px 3px 3px
}
.right .dropdown-menu>li.dropdown>.dropdown-menu {
	left:auto;
	right:100%;
	-webkit-border-radius:3px 0 3px 3px;
	-moz-border-radius:3px 0 3px 3px;
	border-radius:3px 0 3px 3px
}
li.dropdown.open>.dropdown-menu {
	display:block;
	visibility:visible;
	z-index:1200
}
li.dropdown .dropdown-menu>li {
	display:block
}
li.dropdown .dropdown-menu>li>a, li.dropdown .dropdown-menu>li>span {
	display:block;
	padding:0 9px;
	color:#fff;
	line-height:30px;
	white-space:nowrap
}
li.dropdown .dropdown-menu>li.header>a {
	margin-bottom:5px
}
.dropdown-menu>li.dropdown>a:after {
	position:absolute;
	top:9px;
	right:0;
	display:inline-block;
	content:"";
	line-height:0;
	width:0;
	height:0;
	border-width:6px;
	border-style:solid;
	border-color:transparent;
	border-left-color:#fff
}
li.dropdown .dropdown-menu>li>a:hover {
	background-color:#2d2d2d;
	text-decoration:none;
	color:#fff
}*/
/*ul.nav {
	list-style:none;
	margin:0;
	padding:0
}
ul.nav li {
	font-size:11px
}
ul.social li {
	line-height:25px
}
ul.social li:hover {
	text-decoration:none;
	text-indent:3px
}
ul.social [class*=" icon-"], ul.social [class^="icon-"] {
margin-top:-2px;
margin-bottom:-3px
}
ul.nav a, ul.nav a:hover, ul.nav a:focus, ul.social a, ul.social a:hover, ul.social a:focus {
	color:#8a8a8a
}
ul.social a:hover {
	text-decoration:none
}
ul.social+em {
	display:block;
	margin-top:10px;
	padding-left:5px;
	font-size:11px
}*/
/*.tabs {
	position:relative;
	margin:0;
	list-style:none;
*zoom:1;
	z-index:2
}
.tabs:before, .tabs:after {
	display:table;
	content:"";
	line-height:0
}
.tabs:after {
	clear:both
}
.tabs>li {
	float:left;
	position:relative;
	margin-bottom:-1px;
	background-color:#efefef;
	border-width:1px;
	border-style:solid;
	border-color:#dfdfdf;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0
}
.tabs>li+li {
	margin-left:3px
}
.tabs>li>a {
	display:block;
	height:20px;
	padding:6px 14px;
	min-width:40px;
	font-size:14px;
	line-height:20px;
	text-align:center;
	text-decoration:none;
	color:#999;
	overflow:hidden;
	white-space:nowrap;
	outline:0
}
.tabs>li:hover {
	border-color:#ccc #ccc #dfdfdf;
	background-color:#f5f5f5
}
.tabs>li:hover>a {
	text-decoration:none;
	color:#636363
}
.tabs>li.active, .tabs>li.active:hover {
	background-color:#fff;
	border-color:#dfdfdf #dfdfdf #fff;
	-webkit-box-shadow:1px -2px 3px #efefef;
	-moz-box-shadow:1px -2px 3px #efefef;
	box-shadow:1px -2px 3px #efefef
}
.tabs>li.active>a, .tabs>li.active:hover>a {
	color:#4e4e4e
}
.tabs>li .caret {
	display:inline-block;
*display:inline;
*zoom:1;
	width:0;
	height:0;
	margin-top:2px;
*margin-left:.3em;
	border-width:6px 4px;
	border-style:solid;
	border-color:transparent;
	border-top-color:#999;
	vertical-align:middle
}
.tabs>li:hover .caret, .tabs>li.active .caret {
	border-top-color:#636363
}
.tabs>li.dropdown:hover, .tabs>li.dropdown.active:hover {
	background-color:#5f5f5f;
	border-color:#ccc #ccc transparent
}
.tabs>li.dropdown>.dropdown-menu {
	left:-26px;
	top:100%;
	border-top:0;
	-webkit-border-radius:0 3px 3px 3px;
	-moz-border-radius:0 3px 3px 3px;
	border-radius:0 3px 3px 3px
}
.tabs>li.dropdown:hover>a {
	color:#fff
}
.tabs>li.dropdown:hover .caret {
	margin-top:-8px;
	border-top-color:transparent;
	border-bottom-color:#fff
}
.sidebar .hasTabs {
	margin-top:33px
}
.navbar {
	display:block;
	float:right;
	width:800px
}
.navbar .navbar-inner {
	display:block;
*zoom:1
}
.navbar .navbar-inner:before, .navbar .navbar-inner:after {
	display:table;
	content:"";
	line-height:0
}
.navbar .navbar-inner:after {
	clear:both
}
.navbar .navbar-inner ul {
	display:block;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
*zoom:1
}
.navbar .navbar-inner ul:before, .navbar .navbar-inner ul:after {
	display:table;
	content:"";
	line-height:0
}
.navbar .navbar-inner ul:after {
	clear:both
}
.navbar .navbar-inner>ul#user-menu, .navbar .navbar-inner>ul#help-menu {
	float:right
}
#user-menu {
	position:relative
}
.navbar .navbar-inner>ul>li {
	float:left;
	display:block;
	position:relative;
*zoom:1;
*z-index:1
}*/
/*.navbar nav.top {
	overflow:visible;
	background-color:#444;
	background-image:-moz-linear-gradient(top, #5f5f5f, #3e3e3e);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5f5f5f), to(#3e3e3e));
	background-image:-webkit-linear-gradient(top, #5f5f5f, #3e3e3e);
	background-image:-o-linear-gradient(top, #5f5f5f, #3e3e3e);
	background-image:linear-gradient(to bottom, #5f5f5f, #3e3e3e);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f5f5f', endColorstr='#ff3e3e3e', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:#6b6b6b;
	-webkit-border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;
	color:#fff;
	text-shadow:1px 1px 1px #242424
}
.navbar nav.top .navbar-inner {
	min-height:51px;
	padding:0 14px;
	border-width:1px 1px 0;
	border-style:solid;
	border-color:#fff;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	background-color:transparent;
	background-image:url(../img/nav-shine.png);
	background-position:100% 0;
	background-repeat:no-repeat
}
.navbar nav.top a, .navbar nav.top a:hover {
	color:#fff;
	text-decoration:none
}
.navbar #user-menu>li>a {
	display:block;
	font-size:12px;
	font-weight:600;
	line-height:30px;
	padding:11px 0
}
.navbar #user-menu>li>a:hover, .navbar #user-menu>li>a:focus {
	text-shadow:1px 0 20px #fff
}
.navbar nav.top li.divider {
	clear:none;
	width:3px;
	height:52px;
	margin:0 15px;
	padding:0;
	background-color:transparent;
	background-image:url(../img/nav-divider.png);
	background-position:50% 50%;
	background-repeat:no-repeat
}
.navbar nav.top .dropdown-menu {
	top:100%;
	left:0;
	margin-top:-8px
}
.navbar nav.top .dropdown-menu:before, .navbar nav.top .dropdown-menu:after {
	position:absolute;
	top:-6px;
	left:7px;
	width:0;
	height:0;
	border-width:0 6px 6px;
	border-style:solid;
	border-color:#fff transparent
}
.navbar nav.top .dropdown-menu:after {
	top:-5px;
	left:8px;
	border-width:0 5px 5px;
	border-color:#5f5f5f transparent
}
.navbar nav.top .select {
	float:left;
	margin:11px 0 0;
	background-color:#363636;
	border-color:#8a8a8a
}
.navbar nav.top .select:focus, .navbar nav.top .select.focus {
	border-color:#000;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(255, 255, 255, 0.4);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(255, 255, 255, 0.4);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(255, 255, 255, 0.4)
}
.navbar nav.top .select .selector {
	color:#fff
}
.navbar nav.top .select [class^="icon-"], .navbar nav.top .select [class*=" icon-"] {
margin:-1px 0 -1px -5px
}
.navbar nav.top .disabled [class^="icon-"], .navbar nav.top .disabled [class*=" icon-"] {
filter:alpha(opacity=50);
-khtml-opacity:.50;
-moz-opacity:.50;
opacity:.50
}
.navbar nav.top .select .toggle, .navbar nav.top .select .toggle:hover {
	background-position:-450px -120px
}
.navbar nav.top .select.focus .toggle, .navbar nav.top .select.focus .toggle:hover {
	background-position:-450px -150px
}
.navbar nav.top .select .options {
	display:none;
	margin-top:3px;
	background-color:#363636
}
.navbar nav.top .select.focus .options {
	display:block
}
.navbar nav.top .select .options li>a {
	height:28px;
	padding:0 7px 0 10px;
	font-weight:400;
	line-height:28px;
	color:#fff
}
.navbar nav.top .select .options a:hover, .navbar nav.top .select .options a:focus, .navbar nav.top .select .options a.focus {
	background-color:#222;
	text-shadow:none;
	color:#fff
}
.navbar nav.top .select .options li>.disabled, .navbar nav.top .select .options li>.disabled:hover {
	background-color:transparent;
	color:#8a8a8a
}
.navbar nav.bottom {
	display:block;
	color:#4e4e4e;
	margin-bottom:20px;
	background-color:#efefef;
	background-image:-moz-linear-gradient(top, #efefef 0, #ededed 50%, #f3f3f3 50%, #fff 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(50%, #ededed), color-stop(50%, #f3f3f3), color-stop(100%, #fff));
	background-image:-webkit-linear-gradient(top, #efefef 0, #ededed 50%, #f3f3f3 50%, #fff 100%);
	background-image:-o-linear-gradient(top, #efefef 0, #ededed 50%, #f3f3f3 50%, #fff 100%);
	background-image:linear-gradient(to bottom, #efefef 0, #ededed 50%, #f3f3f3 50%, #fff 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef', endColorstr='#ffffffff', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-color:#d8d8d8;
	border-width:0 1px 1px;
	border-style:solid;
	overflow:visible;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.065);
*zoom:1
*/
/*.navbar nav.bottom .navbar-inner {
	display:block;
	min-height:39px;
	padding:0 20px 0 10px;
	overflow:visible
}
.navbar nav.bottom a, .navbar nav.bottom a:hover {
	color:#4e4e4e;
	text-decoration:none
}
.navbar nav.bottom .navbar-inner>ul>li>a {
	display:block;
	line-height:30px;
	padding:5px 0 4px
}
.navbar nav.bottom .navbar-inner>ul>li>ul {
*zoom:1
}
.navbar nav.bottom .navbar-inner>ul>li+li {
	margin-left:12px
}*/
/*#toTop {
	position:fixed;
	right:10px;
	bottom:20px;
	display:none;
	width:30px;
	height:30px;
	background-color:#f7f7f7;
	background-color:rgba(255, 255, 255, .7);
	border:1px solid #ccc;
	line-height:30px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 0 12px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 12px rgba(0, 0, 0, 0.15);
	box-shadow:0 0 12px rgba(0, 0, 0, 0.15);
	cursor:pointer;
	z-index:1050
}
#toTop:hover {
	text-decoration:none
}
.filter {
	margin-bottom:20px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
*zoom:1
}
.filter:before, .filter:after {
	display:table;
	content:"";
	line-height:0
}
.filter:after {
	clear:both
}
.caret {
	display:inline-block;
*display:inline;
	width:0;
	height:0;
	margin-left:5px;
	vertical-align:middle;
	border-bottom:4px solid;
	border-right:4px solid;
	border-left:4px solid;
	border-color:#8a8a8a transparent;
	content:""
}
*:hover>.caret, *:focus>.caret, .current>.caret {
	border-color:#454545 transparent
}*/
/*.caret.desc {
	border-top:4px solid;
	border-bottom:0 none
}
.filter .option {
	display:block;
	float:left;
	padding:0 14px;
	border-right:1px dotted #dfdfdf;
	font-size:11px;
	line-height:28px;
	color:#8a8a8a;
	cursor:pointer
}
.filter .option:hover, .filter .option:focus, .filter .option.current {
	text-decoration:none;
	color:#454545
}
.filter form {
	float:right;
	margin-bottom:0;
	padding:4px 14px
}
.filter form label {
	display:inline-block;
*display:inline;
*zoom:1;
	margin-bottom:0;
	font-size:11px;
	color:#656565
}
.filter form select {
	height:20px;
	margin-bottom:0;
	padding:1px 2px;
	font-size:10px;
	line-height:14px
}*/
.container1{
	position:relative;
	width:1000px;
	margin:0 auto;
*zoom:1;
*z-index:1
}
/*.container:before, .container:after {
	display:table;
	content:"";
	line-height:0
}
.container:after {
	clear:both
}
.container>.content, .container>.sidebar {
	display:block;
	position:relative;
	float:left
}
.container>.content {
	width:750px
}
.container>.content.full {
	width:1000px
}
.container>.sidebar {
	width:240px;
	margin-right:10px
}
.container>.sidebar.right {
	margin-right:0;
	margin-left:10px
}
#presentation {
	position:relative;
	padding-top:20px;
	z-index:3
}
#presentation>h1 {
	position:relative;
	display:block;
	float:left;
	width:180px;
	height:100px;
	margin:0
}
#presentation>h1 a {
	position:relative;
	display:block;
	width:190px;
	height:100px;
	color:inherit;
	line-height:600px;
	overflow:hidden;
	background-color:transparent;
	background-image:url(../img/dubli_logo.png);
	background-position:50% 50%;
*background-position:50% 0;
	background-repeat:no-repeat
}
#presentation>h1 a:hover {
	text-decoration:none
}
.punchline {
	position:relative;
	display:block;
	width:1000px;
	max-height:100px;
	margin:0 auto 20px;
	text-align:right;
*z-index:1
}*/
/*.punchline h2 {
	font-size:30px;
	font-weight:300;
	text-align:left
}
.punchline h2 strong {
	font-weight:600
}
.content>article, .content>section, .sidebar>aside {
	display:block;
	position:relative;
	background-color:#fff;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
*zoom:1
}
.content>article:before, .content>article:after, .content>section:before, .content>section:after, .sidebar>aside:before, .sidebar>aside:after {
	display:table;
	content:"";
	line-height:0
}
.content>article:after, .content>section:after, .sidebar>aside:after {
	clear:both
}
.content>article, .content>section {
	padding:19px
}
.sidebar>aside {
	padding:14px
}
.sidebar>aside form {
	margin-bottom:0
}
.sidebar>aside .actions .btn {
	margin-bottom:0
}
.content>article+article, .content>section+section, .sidebar>aside+aside {
	margin-top:10px
}
.content>article>h2, .content>section>h2, .sidebar>aside>h3 {
	margin-top:0;
	line-height:30px
}
.sidebar>aside>h3 {
	font-size:16px
}
.content>.tabs+section, .content>.tabs+article {
	-webkit-border-radius:0 3px 3px 3px;
	-moz-border-radius:0 3px 3px 3px;
	border-radius:0 3px 3px 3px
}
.content>section>hr.nospace {
	margin:0
}
.content>section>hr.full {
	margin:20px -19px
}
.sidebar>aside>hr {
	margin:10px 0
}
.sidebar>aside>hr.full {
	margin:20px -14px
}
.sidebar .item {
*zoom:1
}
.sidebar .item:before, .sidebar .item:after {
	display:table;
	content:"";
	line-height:0
}
.sidebar .item:after {
	clear:both
}
.sidebar .item+.item {
	margin-top:10px
}
.sidebar .item>.col {
	display:block;
	position:relative;
	float:left
}
.sidebar .item>.col+.col {
	margin-left:10px;
	width:120px
}
#colophon {
	margin-top:50px;
	-webkit-box-shadow:0 -1px 4px rgba(0, 0, 0, .15);
	-moz-box-shadow:0 -1px 4px rgba(0, 0, 0, .15);
	box-shadow:0 -1px 4px rgba(0, 0, 0, .15);
	color:#8a8a8a
}
.logos {
	height:50px;
	line-height:50px;
	background-color:#fdfdfd;
	background-image:-moz-linear-gradient(top, #fdfdfd, #efefef);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#efefef));
	background-image:-webkit-linear-gradient(top, #fdfdfd, #efefef);
	background-image:-o-linear-gradient(top, #fdfdfd, #efefef);
	background-image:linear-gradient(to bottom, #fdfdfd, #efefef);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffefefef', GradientType=0);
filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top:1px solid #d7d7d7;
	border-bottom:5px solid #2975bc;
	text-align:center
}
.logos img {
	margin-left:25px
}
.logos img.cc {
	margin-left:3px
}
.logos img.pb {
	margin-left:0;
	margin-right:25px
}
#colophon .container {
	padding:25px 0 50px
}
#colophon .container .column {
	float:left;
	width:188px
}
#colophon .container .column+.column {
	margin-right:15px
}
#colophon .container .column h4 {
	margin:15px 0;
	font-size:14px;
	line-height:20px;
	color:#656565
}
[class^="msgbox_"], [class*="msgbox_"] {
margin:0 auto 20px;
padding:14px 19px !important;
border-width:1px;
border-style:solid
}
article[class^="msgbox_"], article[class*="msgbox_"] {
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}
[class^="msgbox_"] ul:last-child, [class*="msgbox_"] p:last-child {
margin-bottom:0
}
[class^="msgbox_"] .lead, [class*="msgbox_"] .lead {
text-align:center
}
[class^="msgbox_"] ul .lead, [class*="msgbox_"] ul .lead {
text-align:left
}
.msgbox_error {
	background-color:#fccac3 !important;
	border-color:#eb5439 !important;
	color:#951010
}
.msgbox_error a {
	color:#951010
}
.msgbox_error a:hover, .msgbox_error a:focus {
	color:#7c0000
}
.msgbox_success, .msgbox_ok {
	background-color:#effeb9 !important;
	border-color:#97c700 !important;
	color:#68704d
}
.msgbox_success a, .msgbox_ok a {
	color:#68704d
}
.msgbox_success a:hover, .msgbox_ok a:hover, .msgbox_success a:focus, .msgbox_ok a:focus {
	color:#4f5734
}
.msgbox_note {
	background-color:#ffeaa9 !important;
	border-color:#fab418 !important;
	color:#565656
}
.msgbox_note a {
	color:#565656
}
.msgbox_note a:hover, .msgbox_note a:focus {
	color:#3d3d3d
}
.msgbox_info {
	background-color:#d1e4f3 !important;
	border-color:#4e8bcc !important;
	color:#3e576a
}
.msgbox_info a {
	color:#3e576a
}
.msgbox_info a:hover, .msgbox_info a:focus {
	color:#253e51
}
.tip, .tip:hover, .tip:focus {
	cursor:help
}
.tip[data-original-title=""], .tip[data-original-title=""]:hover, .tip[data-original-title=""]:focus {
	cursor:default
}*/
/*.tooltip {
	position:absolute;
	z-index:1030;
	display:block;
	font-size:12px;
	line-height:1.4;
	opacity:0;
	filter:alpha(opacity=0);
	visibility:visible
}
.tooltip.in {
	opacity:.8;
	filter:alpha(opacity=80)
}
.tooltip.top {
	padding:5px 0;
	margin-top:-3px
}
.tooltip.right {
	padding:0 5px;
	margin-left:3px
}
.tooltip.bottom {
	padding:5px 0;
	margin-top:3px
}
.tooltip.left {
	padding:0 5px;
	margin-left:-3px
}
.tooltip-inner {
	max-width:200px;
	padding:8px;
	font-weight:400;
	color:#fff;
	text-align:center;
	text-decoration:none;
	background-color:#000;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
}
.tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}
.tooltip.top .tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-top-color:#000;
	border-width:5px 5px 0
}
.tooltip.right .tooltip-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-right-color:#000;
	border-width:5px 5px 5px 0
}
.tooltip.left .tooltip-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-left-color:#000;
	border-width:5px 0 5px 5px
}
.tooltip.bottom .tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-bottom-color:#000;
	border-width:0 5px 5px
}*/
/*.popover {
	position:absolute;
	top:0;
	left:0;
	z-index:1010;
	display:none;
	max-width:276px;
	padding:1px;
	text-align:left;
	white-space:normal;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding;
	background-clip:padding-box
}
.popover.fixed {
	position:fixed;
	left:auto !important;
	top:auto !important;
	right:30px;
	bottom:30px
}
.popover.top {
	margin-top:-10px
}
.popover.right {
	margin-left:10px
}
.popover.bottom {
	margin-top:10px
}
.popover.left {
	margin-left:-10px
}
.popover-title {
	padding:8px 14px;
	margin:0;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	background-color:#f7f7f7;
	border-bottom:1px solid #ebebeb;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0
}
.popover-title:empty {
	display:none
}
.popover-content {
	padding:9px 14px
}
.popover .arrow, .popover .arrow:after {
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}
.popover .arrow {
	border-width:11px
}
.popover .arrow:after {
	border-width:10px;
	content:""
}
.popover.top .arrow {
	bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-top-color:#999;
	border-top-color:rgba(0, 0, 0, 0.25);
	border-bottom-width:0
}
.popover.top .arrow:after {
	bottom:1px;
	margin-left:-10px;
	border-top-color:#fff;
	border-bottom-width:0
}
.popover.right .arrow {
	top:50%;
	left:-11px;
	margin-top:-11px;
	border-right-color:#999;
	border-right-color:rgba(0, 0, 0, 0.25);
	border-left-width:0
}
.popover.right .arrow:after {
	bottom:-10px;
	left:1px;
	border-right-color:#fff;
	border-left-width:0
}
.popover.bottom .arrow {
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-bottom-color:#999;
	border-bottom-color:rgba(0, 0, 0, 0.25);
	border-top-width:0
}
.popover.bottom .arrow:after {
	top:1px;
	margin-left:-10px;
	border-bottom-color:#fff;
	border-top-width:0
}
.popover.left .arrow {
	top:50%;
	right:-11px;
	margin-top:-11px;
	border-left-color:#999;
	border-left-color:rgba(0, 0, 0, 0.25);
	border-right-width:0
}
.popover.left .arrow:after {
	right:1px;
	bottom:-10px;
	border-left-color:#fff;
	border-right-width:0
}
.clearfix {
*zoom:1
}
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0
}
.clearfix:after {
	clear:both
}
.center-block {
	display:block;
	margin-right:auto;
	margin-left:auto
}
.pull-right {
	float:right !important
}
.pull-left {
	float:left !important
}
.hide {
	display:none !important
}
.show {
	display:block !important
}
.green {
	color:#719e00 !important
}
.invisible {
	visibility:hidden
}
.text-hide {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}
.hidden {
	display:none !important;
	visibility:hidden !important
}
@-ms-viewport {
width:device-width
}
.visible-print {
	display:none !important
}
@media print {
.visible-print {
	display:block !important
}
table.visible-print {
	display:table
}
tr.visible-print {
	display:table-row !important
}
th.visible-print, td.visible-print {
	display:table-cell !important
}
}
@media print {
.hidden-print {
	display:none !important
}
}*/
