<?php
$title = 'Add new skills';
$this->headTitle($title);

$form->SetAttribute('action', $this->url(NULL, array('controller' => 'project', 'action' => 'addprojectskill')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('project_id'));
?>
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <!--<h3 class="ls-top-header">Sample Form</h3>-->
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="<?php echo $this->url('user/projectmanager', array('action' => 'index'));?>">List of Projects</a></li>
                        <li class="active">Add</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add new project skill</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form">
                                
                                <div class="form-group">
                                    <label>Project Shortcut</label>
                                    <?php echo $this->formRow($form->get('project_shortcut')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Please select skill</label>
                                    <br/>
                                    <?php echo $this->formRow($form->get('skill')); ?>
                                </div> 
                                
                                <div class="form-group">
                                    <button class="btn btn-sm btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>