<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $_SESSION['user']->first_name;?>, Complete your profile in easy steps :) </h3>   
        <hr/> 
        <?php 
            //echo '<pre>';print_r($photographerdata);exit;
            $percent = 0;
            $show_percent = 0;
            if($photographerdata->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($photographerdata->total_albums>0)
            {
                $percent = $percent + (0.15 * $photographerdata->total_albums);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }
        ?>

         <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
        <div class="container"> <h3 class="text-center">your Albums</h3> </div>
        <?php echo '<pre>';print_r($photographerdata);?>
        <a href = "user/photographer/dashboard" class="btn btn-success">Finish</a>
</section>