<?php //echo $token;exit; ?>
<section class="pro-section" style="padding: 38px 0px;">
  <div class="container">
    <h2 class="text-center">Reset Password </h2>
    <hr class="pro-hr">
   
    <div class="row">
<div class="col-sm-6 col-sm-offset-3 reste">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<span id="error"></span>
<div id="resp"></div>
<form role="form" action="/public/user/home/login" method="post" class="login-form" id="reset-form" name="reset-form">
<input type="password" class="input-lg form-control" name="rpassword" id="rpassword" placeholder="New Password" autocomplete="off">

<input type="password" class="input-lg form-control" name="confirmrpassword" id="confirmrpassword" placeholder="Repeat Password" autocomplete="off">

<input type="hidden" id="token" value="<?php echo $token; ?>">

<input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." data-target="#change" value="Change Password" onclick="javascript:validate_reset()" id="resetpassBtn">
</form>
</div><!--/col-sm-6-->
</div>
  </div>
  
  
  
</section>
<script type="text/javascript">
        
      function validate_reset()
        {
            
	     $("#error").html('');
	    var rpassword = $("#rpassword").val();
	    var confirmrpassword = $("#confirmrpassword").val();
	    var token = $("#token").val();
            
	    
	    if(rpassword == ""){
               $("#rpassword").attr("placeholder", "Password is required");
               $("#rpassword").css( "border", "2px solid red");
               $("#error").html('Password is required');
	       return false;
            }else if(confirmrpassword == ""){
                $("#confirmrpassword").attr("placeholder", "Confirm Password is required");
               $("#confirmrpassword").css( "border", "2px solid red");
                $("#error").html('Confirm Password is required');
	       return false;
            }else if(confirmrpassword != rpassword){
               $("#confirmrpassword").attr("placeholder", "Password and confirm password does not match");
               $("#confirmrpassword").css( "border", "2px solid red");
                 $("#error").html('Password and confirm password does not match');
	       return false;
            }else if(confirmrpassword != '' && confirmrpassword == rpassword){
		 
		 var success_url= "<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'index'))?>";  
		 var login_url= "<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'reset'))?>";                    
		$.ajax({
		   url: login_url,
		   error: function() {
		      $('#info').html('<p>An error has occurred</p>');
		   },
		   data: {rpassword: rpassword, confirmrpassword: confirmrpassword, token: token},
		   beforeSend: function() {
			$('#loader_img').show();
			$('#resetpassBtn').attr('disabled',true);
		   },
		   success: function(data) {
		      $('#loader_img').hide();
		      $('#resetpassBtn').removeAttr('disabled');
		      if(data.response === 'failed'){
			  alert('Invalid credentials ! Please try again.');			
		      }else{
			  $("#resp").html("Password reset successfully");			  
			  setTimeout(function(){
			  window.location = success_url;
			  },1000);
		      }
		   },
		   type: 'POST',
		   dataType: 'json',
		});
            }
        }
    </script>



