<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Add project image</h2>
        <hr class="pro-hr">
        <form id="home_search" class="form-horizontal" method="POST" action="/zend/public/user/home/addprojectimage" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Project Name goes here" name="project_name" id="project_name" readonly value="<?php echo $result_project->project_name;?>">
                    <input class="form-control" name="project_id" id="project_id" value="<?php echo $result_project->project_id;?>" type="hidden">
                </div>
            </div>
            
            <?php  for($i=1;$i<6;$i++){?>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Upload Pic<?php echo $i;?></label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" name="projectpic<?php echo $i;?>" id="projectpic<?php echo $i;?>">
                        </div>
                    </div>
            <?php } ?>    

            <input type="submit" class="btn btn-success" value="Add" onclick="submitFrm()">
            <button type="button" class="btn btn-danger" onclick="history.back(-1)">Cancel</button>
        </form>
    </div>
</section>
<script type="text/javascript">
function submitFrm(){
    document.getElementById('home_search').submit();
}
</script>