<?php $front_home_asset_path = '/public/front/home/';?>
<div id="headerwrap">
<div class="container">
    <div class="row centered">
        <!-- slider starts-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="<?php echo $front_home_asset_path;?>img/one.jpg" alt="slider one" />
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="<?php echo $front_home_asset_path;?>img/two.jpg" alt="slider two" />
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="<?php echo $front_home_asset_path;?>img/zero.jpg" alt="slider two" />
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- search box-->
            <div class="search-box">
                <div class="container">
                    <div class="row">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="What Skills Are You Looking For?" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        Search
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search box ends-->
        </div>

        <!-- slider ends-->
    </div><!-- row -->
</div><!-- container -->
</div><!-- headerwrap -->