<?php $front_home_asset_path = '/public/front/dashboard/'; ?>
<section class="edit-profile">
	<div class="container" style="z-index:1; position:relative;">
		<div class="row">
			<div class="col-lg-3 col-sm-5 col-xs-3">
				<div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
					 <?php
					if($photographerdata->profilepic=="")
					  {?>
					      <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
					  <?php } else {?>
					  <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
					  <?php } ?>
				</div>
				<?php //echo $pg_id; echo '<pre>'; print_r($_COOKIE);

		        if($editable == 1)
		        {?>
		            <a href="user/photographer/editprofile" class="btn btn-success pull-left" style="margin-left:20px;">Edit Profile</a>
		        <?php }?>
					
			</div>
			<div class="col-lg-5 col-sm-3 col-xs-12">
				<div class="profile-detail-box pull-left">
					<div class="detail-box-first">
						<h3><?php echo $_SESSION['user']->first_name;?></h3>
						<p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
						<p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-3 col-xs-12">
				<div class="profile-detail-box pull-right">
					<div class="detail-box-first">
						<ul class="list-inline">
							<li><a href="javascript:void(0)"><i class="fa fa-star"></i> 5 Rated</a></li>
							
							<?php 
							if($pg_id != $_SESSION['user']->user_id)
							{
								if(!empty($_COOKIE['user']))
								{
									if(in_array($pg_id,$_COOKIE['user']))
									{
										echo "<li id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
										echo "<li id = 'shortstatus' style='display:none;' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
									} 
									else 
									{
										echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
										echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
									} 
								}
								else 
								{
									echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
									echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
								} 
							} ?>
							
						</ul>
						<p>Rate: <?php echo $photographerdata->price; ?> INR/PNG</p>
					</div>
					<a href="#contact" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
		<div class="row" style="margin:25px 0;">
			<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
			?>

			<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
		</div>
    <div class="container"> <h3 class="text-center">your Albums</h3> </div>
</section>

<div class="for-making-menu"></div>

<nav class="navbar navbar-default navbar-static-top" style="padding:0px;">
  	<div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header page-scroll">
      		<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button"> 
	      		<span class="sr-only">Toggle navigation</span> 
	      		<span class="icon-bar"></span> 
	      		<span class="icon-bar"></span>
	      		<span class="icon-bar"></span> 
      		</button>
      		<a href="#page-top" class="navbar-brand">Own Rock</a> 
      	</div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      		<ul class="nav navbar-nav navbar-right">
		        <li class="hidden"> <a href="#page-top"></a> </li>
		        <li class="page-scroll active"> <a href="#albums"><i class="fa fa-th-list"></i> Album</a> </li>
		        <li class="page-scroll"> <a href="#album-about-us"><i class="fa fa-user"></i> About Me</a> </li>
		        <li class="page-scroll"> <a href="#reviews"><i class="fa fa-star"></i> Reviews me</a> </li>
		        <li class="page-scroll"> <a href="#contact"><i class="fa fa-envelope-o"></i> Contact</a> </li>
      		</ul>
    	</div>
    <!-- /.navbar-collapse --> 
  	</div>
  <!-- /.container-fluid --> 
</nav>
<section id="albums" class="section-block ">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<?php 
				if($editable == 1)
				{?>
				    <a href="user/photographer/addalbum" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus space-right"></i>Add Album</a>
				<?php 
				}?>
			</div>
		</div>
	</div>
</section>
<section class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<h3 class="txt-center albums-heading">Albums</h3>
			 </div>
		 </div>
		<div class="row">
			<div class="col-lg-12 tag-list">
			<div id = "info"></div>
      <p style="margin:0 0 8px 0px;display:none"  class = "txt-center">
        <img id="loader" src="/public/images/loader.gif" alt=""/>
      </p>
      <a role="button" href="javascript:void(0)" onclick = "filteralbum(0);" class="btn btn-default">All</a>
			<?php
				foreach($album_Tags as $row)
				{ //echo '<pre>'; print_r($row); exit;
				?>
					<a role="button" href="javascript:void(0)" onclick = "filteralbum(<?php echo $row['tag_id']; ?>);" class="btn btn-default"><?php echo $row['tag']; ?></a>
				<?php }?>
			</div>
		</div>
	</div>
 </section>
<section class="albums-block">
	<div class="container">
		<div class="row" id = "filterdata">
			<?php 
			foreach($albumsdata as $albumsdata_row)
			{ 
				if(!empty($albumsdata_row['image']))
					{
					$default_img_path = $album_image_path . str_replace("_pp_","_tn120x120_",$albumsdata_row['image'][0]['thumbname']);
					$album_img_count = count($albumsdata_row['image']);
					if($album_img_count >= 3)
					{
						?>
						<div class="col-lg-4 col-sm-6 col-xs-12">
							<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>" class="thumbnail album-thumb">
								<div class="splite-album">
									<div class="splite-lg">
										<img src="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$albumsdata_row['image'][0]['thumbname']);?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$albumsdata_row['image'][1]['thumbname']);?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$albumsdata_row['image'][2]['thumbname']);?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
								</div>
								<div class="album-info">
									<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
									<P class="album-detail">Item Subheading</P>
								</div>
							</a>
						</div><?php 
					}
					else
					{?>
						<div class="col-lg-4 col-sm-6 col-xs-12">
							<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>" class="thumbnail album-thumb">
								<div class="splite-album">
									<div class="splite-lg">
										<img src="<?php echo $default_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $default_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $default_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
								</div>
								<div class="album-info">
									<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
									<P class="album-detail">Item Subheading</P>
								</div>
							</a>
						</div><?php 
					}
				}
				else
				{?>
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>" class="thumbnail album-thumb">
							<div class="splite-album">
								<div class="splite-lg">
									<img src="public/front/dashboard/img/images.png"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
								<div class="splite-sm">
									<img src="public/front/dashboard/img/images.png" class="img-responsive" title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
								<div class="splite-sm">
									<img src="public/front/dashboard/img/images.png" class="img-responsive" title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
							</div>
							<div class="album-info">
								<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
								<P class="album-detail">Item Subheading</P>
							</div>
						</a>
					</div>	<?php				
				}
			}  ?>
			
		</div>
	</div>
</section>
<!--thumbnail end here-->
<!--/.album section end here-->
<section id="album-about-us" class="album-about-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<h3 class="txt-center albums-heading">About Me</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xm-12">
				<h3 class="txt-center albums-heading">Know Me</h3>
			</div>
			<div class="col-lg-9 col-sm-6 col-xm-12">
				<P><?php echo $photographerdata->description; ?></P>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xm-12" >
				<h3 class="txt-center albums-heading">Address</h3>
				<h3 class="txt-center albums-heading" style="margin-top:0px;">Contact</h3>
			</div>
			<div class="col-lg-4 col-sm-6 col-xm-12" style="border-right:solid 1px #ddd;">
				<address>
					<?php echo $photographerdata->location; ?>
				</address>
				<address>
					<strong>Email</strong><br>
					<a href="mailto:#" class="btn-link">mailto@ownrock.com</a>
				</address>
				<address style="margin-top:30px;">
					<abbr title="Phone">P:</abbr> <?php echo $photographerdata->location; ?>
				</address>
			</div>
			<div class="col-lg-5 col-sm-6 col-xm-12">
				<address>
					<strong>Please drop a message,<br/> I will get back to you soon </strong>
				</address>
				<a href="#contact" class="btn btn-success ">Contact Me</a>
			</div>
		</div>
	</div>
</section>
<!--/.about us  section end here-->
<section id="reviews" class="album-review">
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xm-12">
<h3 class="txt-center albums-heading">Reviews<a href="javascript:void(0)" class="btn btn-success pull-right">Review Me</a></h3>

</div>
</div>
<div class="row">
  <div class="col-md-12" data-wow-delay="0.2s">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">

          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center">

              <!-- Quote 1 -->
              <div class="item active">
                  <blockquote>
                      <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                              <small>Rahul Sharma</small>
                          </div>
                      </div>
                  </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                  <blockquote>
                      <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                              <small>Satyam Choudhary</small>
                          </div>
                      </div>
                  </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                  <blockquote>
                      <div class="row">
                          <div class="col-sm-8 col-sm-offset-2">

                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                              <small>Pooja </small>
                          </div>
                      </div>
                  </blockquote>
              </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
  </div>
</div>




</div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xm-12">
                <h3 class="txt-center albums-heading">Contact Me</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-centered">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row col-md-12">
                        <div class="form-group control-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                   </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                     <div class="row col-md-12 control-group">
                        <div class="form-group">
		                    <div id="success"></div>
		                    <button type="submit" class="btn btn-success pull-left">Send</button>
                      	</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="<?php echo $front_home_asset_path;?>js/jquery.easing.min.js"></script> 
 <!-- Custom Theme JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/contact_me.js"></script> 
  <!-- Contact Form JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/jqBootstrapValidation.js"></script> 
<script>

function filteralbum(tag_id)
{
	//alert(tag_id);
	var getalbums_url= site_url+'/user/photographer/filteredalbum';
	//alert(getalbums_url);
  	var success_url= site_url+'/user/photographer/profile';
    $.ajax({
        url: getalbums_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {tag_id: tag_id},
        beforeSend: function() {
            $('#loader').css('display','block');
        },
        success: function(data) { 
            $('#loader').css('display','none');
            if(data.response == 'success')
            {  
            	/*var album_data = JSON.parse(data.albumsdata);
            	alert(album_data);*/
            	var obj = data.albumsdata;
				console.log( obj);
				var html = '';
				for(var i = 0; i<obj.length; i++)
				{ 
					if(obj[i].image.length!=0)
					{ 
						if(obj[i].image.length >= 3)
						{ 
							html =html+ "<div class='col-lg-4 col-sm-6 col-xs-12'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[1].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[2].thumbname+"'></div></div><div class='album-info'><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>Item Subheading</p></div></a></div>";
						}
						else
						{
							html = html+ "<div class='col-lg-4 col-sm-6 col-xs-12'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div></div><div class='album-info'><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>Item Subheading</p></div></a></div>";	
						}
					}
					else
					{
						html = html+ "<div class='col-lg-4 col-sm-6 col-xs-12'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div></div><div class='album-info'><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>Item Subheading</p></div></a></div>";
					}
					//alert(html);
					$("#filterdata").html("");
					$("#filterdata").html(html);
				
				}
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
}
</script>


<script>
 window.onload = function(){
 	var pg_id = "<?php echo $pg_id; ?>";
    var ajax_url= site_url+'/user/photographer/incrementcounter';
     
    $.ajax({
        url: ajax_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {pg_id: pg_id},
        beforeSend: function() {
            //$('#loader_img').show();
        },
        success: function(data) { 
            /*$('#loader_img').hide();
            if(data.response == 'success')
            {
                alert('Incremented!');
                
            }
            else
            {
                alert('An error has occurred!');
            }*/
        },
        type: 'POST',
        dataType: 'json',
    });
};
</script>
<script>
	function shortlist()
	{
 		//alert("shortlist");
 		var pg_id = "<?php echo $pg_id; ?>";
 		var ajax_url= site_url+'/user/photographer/shortlist';
	 	$.ajax({
	        url: ajax_url,
	        error: function() {
	            $('#info').html('<p>An error has occurred</p>');
	        },
	        data: {pg_id: pg_id},
	        beforeSend: function() {
	            //$('#loader_img').show();
	        },
	        success: function(data) { 
	            /*$('#loader_img').hide();*/
	            if(data.response == 'success')
	            {
	                //$("#shortstatus i").removeClass("fa-heart-o");
	                //$("#shortstatus i").addClass( "fa-heart");
	                //$("#shortstatus a").attr("disabled","disabled");
	                unshortstatus
	                $("#shortstatus").css("display","none");
                	$("#unshortstatus").css("display","inline-block");

	            }
	            else
	            {
	                alert('An error has occurred!');
	            }
	        },
	        type: 'POST',
	        dataType: 'json',
	    });
	};
</script>
<script>
	function unshortlist()
	{
 		//alert("unshortlist");
 		var pg_id = "<?php echo $pg_id; ?>";
 		var ajax_url= site_url+'/user/photographer/unShortlist';
	 	$.ajax({
	        url: ajax_url,
	        error: function() {
	            $('#info').html('<p>An error has occurred</p>');
	        },
	        data: {pg_id: pg_id},
	        beforeSend: function() {
	            //$('#loader_img').show();
	        },
	        success: function(data) { 
	            /*$('#loader_img').hide();*/
	            if(data.response == 'success')
	            {

                	$("#unshortstatus").css("display","none");
                	$("#shortstatus").css("display","inline-block");
                	//$("#shortstatus a").html("<i class = 'fa fa-heart-o'></i> Short-List");
	            }
	            else
	            {
	                alert('An error has occurred!');
	            }
	        },
	        type: 'POST',
	        dataType: 'json',
	    });
	};
</script>


