<section class="edit-profile">
    <div class="container" style="z-index:1; position:relative;">
        <div class="row">
            <div class="col-lg-3 col-sm-5 col-xs-3">
                <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
                    <?php
                    if($photographerdata->profilepic=="")
                      {?>
                          <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } else {?>
                      <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } ?>
                </div>
                <a href="user/photographer/editprofile" class="btn btn-success pull-left " style="margin-left:20px;" >Edit Profile</a>
            </div>
            <div class="col-lg-5 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-left">
                    <div class="detail-box-first">
                        <h3><?php echo $_SESSION['user']->first_name;?></h3>
                        <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
                        <p class="desc-profile "><i class="fa fa-map-marker"></i> <?php echo $photographerdata->location; ?></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-right">
                    <div class="detail-box-first">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i> 5 Rated</a></li>
                            <!--<li><a href="javascript:void(0)"><i class="fa fa-heart-o"></i> Short List</a></li>-->
                        </ul>
                        <p>Rate: <?php echo $photographerdata->price; ?> INR/PNG</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
    		<div class="col-lg-12 col-sm-12 col-xs-12">
    			<h1 class="pt-main-heading">All Shortlisted <span style="color:#54ba4e;">Photographers :)</span></h1>
    		</div>
	   </div>
	<div class="row" style="margin:25px 0;">
        <?php 
        //echo '<pre>';print_r($photographerdata);exit;
        $percent = 0;
        $show_percent = 0;
        if($photographerdata->profile_progress==1)
        {
        $percent = $percent + 0.1;
        }
        if($photographerdata->total_albums>0)
        {
        $percent = $percent + (0.15 * $photographerdata->total_albums);
        }
        if($percent>=1.0)
        {
        $percent=1.0;
        }
        if($percent>0)
        {
        $show_percent = $percent*100;
        }
        ?>
		<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
</section>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Shortlisted Photographers</div>
                        <div class="panel-body">
                            <div class="row">
                                <?php if(!empty($dataarray))
                                {
                                    foreach($dataarray as $datarow)
                                    { 
                                        // echo '<pre>';print_r($datarow);exit;?>
                                        <div class="col-sm-4">
                                        <?php if(empty($datarow['coverimage']))
                                        {
                                        	echo "<div class='user-box'> <img width='351' height='270' src='/public/front/dashboard/img/profile.jpeg'>";
                                        }
                                        else
                                        {
                                        	$cover_img = $album_image_path.$datarow['coverimage'];?> 
                                        	<div class='user-box'> <img width='351' height='270' src='<?php echo $cover_img;?>'>

                                        <?php } ?>
                                           
                                                
                                                <div class="dev-info">
                                                    <?php //echo '<pre>'; print_r($_SESSION); exit;
							                        if($_SESSION['user']->profilepic=="")
							                        {
							                            $_SESSION['user']->profilepic='58345_pp_profile.jpg';
							                        }
							                        $img_src = $profile_img_path . str_replace('_pp_','_tn120x120_',$_SESSION['user']->profilepic);
								                    ?>
                                                    <img class="pro-pic img-circle" src="<?php echo $img_src;?>">
                                                    <h3><a href="user/photographer/profile/<?php echo $datarow['user_id'];?>"><?php echo $datarow['name'];?></a></h3>
                                                    <strong>Photographer</strong>
                                                    <p class="dipi"><span>Rate | <?php echo $datarow['price'];?></span> &nbsp; <span>Albums | <?php echo $photographerdata->total_albums;?></span>
                                                </div>
                                            </div>
                                        </div><?php
                                        } 
                                } 
                                else 
                                {
                                    echo "<h1 class='pt-main-heading'><span style='color:#ff0000;'>$dataarray_error</span></h1>";
                                    //echo $dataarray_error;
                                } ?>
                                
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 














