       <!--Page main section start-->
        <section id="min-wrapper">
            <div id="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Top header start-->
                            <h3 class="ls-top-header">List of Advertisers</h3>
                 
                            <!--Top header end -->

                            <!--Top breadcrumb start -->
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                 <a href="<?php echo $this->url('user/onlinemanager', array('action' => 'add'));
?>">&raquo; Add New Advertiser</a>
                            </ol>
                            <!--Top breadcrumb start -->
                        </div>
                    </div>
                    


                    <div class="row">
                        <div class="col-md-12">
                          
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <?=$this->partial('partial/common.phtml', array(
                                'action'=>$this->url('user/onlinemanager', array('action' => 'index')),
                            ));?>
                                    <h3 class="panel-title">Designers/Developers</h3>
                                </div>
                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Designer/Developer</th>
                                                <th>No. of Projects</th>
                                                <th class="text-center">Progress</th>
                                                <th>Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                 <?php 
                                                 $i = 1;
                                                 foreach ($this->paginator as $user) : ?>
                                                <td><?php echo $i;?></td>
                                                <td><?php echo $this->escapeHtml($user->name); ?></td>
                                                <td><?php echo $this->escapeHtml($user->profession); ?></td>
                                                <td><?php echo $this->escapeHtml($array_cnt[$user->name]); ?></td>
                                                <td class="ls-table-progress">
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                                             aria-valuetransitiongoal="20"></div>
                                                    </div>
                                                </td>
                                                <td><?php echo $this->escapeHtml(ucfirst($user->status)); ?></td>
                                                <td class="text-center">
                                                    <a href="<?php echo $this->url('user/projectmanager', array('action' => 'add', 'user_id' => $user->id,'user_name'=>str_replace(' ', '-', $user->name)));?>"><button class="btn btn-xs btn-success">Add Project</button></a>
                                                    <a href="<?php echo $this->url('user/onlinemanager', array('action' => 'edit', 'id' => str_replace(' ', '-', $user->name)));?>"><button class="btn btn-xs btn-info">Edit</button></a> 
                                                     
                                                    <a href="<?php echo $this->url('user/onlinemanager', array('action' => 'delete', 'id' => $user->id));?>"><button class="btn btn-xs btn-danger">Delete</button></a>
                                                        <select name="cms_<?php echo $user->id;?>" id="cms_<?php echo $user->id;?>" onchange="change_merchant_status('<?php echo $user->id; ?>')">
                                                            <option value="">--------------</option>
                                                            <option value="incomplete">Incomplete</option>
                                                            <option value="pending">Pending</option>
                                                            <option value="verified">Verified</option>
                                                            <option value="rejected">Rejected</option>
                                                        </select>
                                                </td>
                                            </tr>
                                            
                               <?php 
                               $i++; 
                               endforeach; ?>     

                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <!--Table Wrapper Finish-->
                                    <div class="text-center">
                                        <div class="ls-button-group demo-btn ls-table-pagination">
                                            <ul class="pagination ls-pagination">
                                             <?php
                     // add at the end of the file after the table
                                    echo $this->paginationControl(
                                            // the paginator object
                                            $this->paginator,
                                            // the scrolling style
                                            'sliding',
                                            // the partial to use to render the control
                                            'partial/paginator.phtml',
                                            // the route to link to when a user clicks a control link
                                            array(
                                        'route' => 'user/onlinemanager'
                                            )
                                    );
                                    ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="/zend/public/js/script.js"></script>
                 