/*
Theme Name: Soliloquy
Theme URI: http://nimbusthemes.com/free/soliloquy/
Description: The Soliloquy theme is a modern, responsive, WordPress business theme that adapts to your screen size using the Bootstrap front-end framework. Choose from right and left sidebar options and an amazing array of page and post layouts depending on your needs. The Soliloquy theme is typography rich and emphasizes imagery and photography with full-width featured image options on all posts and pages.  
Author: Nimbus Themes
Author URI: http://nimbusthemes.com/
Version: 1.0.9
Tags: black, white, blue, one-column, two-columns, left-sidebar, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-colors, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
License: GNU General Public License
License URI: license.txt
*/

/******************************************************************************************************
General
******************************************************************************************************/

body { -ms-word-wrap: break-word; word-wrap: break-word; position:relative; padding-bottom:40px; }
body > .container { margin-top:40px; }
.content_constrain { padding:0 20px; }
strong, b { font-weight: bold; }
cite, em, i { font-style: italic; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 1ex; }
sub { top: .5ex; }
address { margin: 1.5em 0; }


/******************************************************************************************************
Header
******************************************************************************************************/


header h1.text_logo { text-align:center; }
header h1.text_logo a:hover { text-decoration:none; }
header img.image_logo { display:block; margin:5px auto;  }
header .header_widget_right { text-align:right; }
header #menu_row { margin:0px; border:none; border-radius: 0px; margin-right: -15px; margin-left: -15px; }
header #menu_row .navbar-collapse { border:none; }
header #menu_row .navbar-collapse .navbar-nav  { text-align: center; }
header #menu_row .navbar-collapse .navbar-nav > li { display: inline-block; float: none; text-align:left; margin:0px; padding:0px; }
header #menu_row .navbar-collapse .navbar-nav > li > a { padding: 15px 15px; line-height:1em; text-shadow: none; position:relative; z-index:99; }
header #menu_row .navbar-collapse .navbar-nav > li li a { padding-top:14px; padding-bottom:14px; }
.dropdown-menu { padding:0px; border:none; border-radius: 0px; min-width: 190px; z-index:0; }
header #menu_row .navbar-collapse .navbar-nav > li li:last-child { border-bottom:none; }
header .fallback_cb > ul { list-style:none; padding:0 0 0 15px; margin:0px; text-align: center; }
header .fallback_cb > ul > li { display: inline-block; position:relative; padding:0px; margin:0px; }
header .fallback_cb > ul > li > a { padding:18px 15px; line-height:1em; text-shadow: none; display: inline-block; margin:0px; position:relative; z-index:99; }
header .fallback_cb > ul > li > a:hover { text-decoration:none; }
header .fallback_cb > ul > li > ul { position:absolute; top:-9999%; width:200px; padding:20px 15px 15px; margin:0px; list-style:none; z-index:0; }
header .fallback_cb > ul > li:hover ul { top:100%; }
header .fallback_cb > ul > li > ul li { padding:0px; margin:0px; text-align: left; width:100%; }
header .fallback_cb > ul > li > ul li a { display:block; width:100%; }
.navbar-brand { padding: 15px 35px; }


/******************************************************************************************************
Content 
******************************************************************************************************/

/*General Typography*/

div.content p { padding:0 0 15px 0; }

/* Titles */

div.content h1, div.content h2, div.content h3 { margin-top: 35px; margin-bottom: 20px; }
div.content h4, div.content h5, div.content h6 { margin-top: 20px; margin-bottom: 10px; }

/* HR */

div.content hr { margin:20px 0; border: none; height: 5px; background: url(images/hr_dots.png) repeat-x center top; }


/* BlockQuotes */

div.content blockquote { padding: 9px 0 2px 30px; margin:20px 0 20px 0;  }
div.content div.without_excerpt blockquote, div.content div.without_excerpt blockquote p { text-align:left; }

/* Definitions */

div.content dl { padding: 0 0 20px 0; }
div.content dt { float: left; clear: left; width: 150px; text-align: right; font-weight: bold;  }
div.content dt:after { /* content: ":"; */ }
div.content dd { margin: 0 0 0 160px; padding: 0 0 1em 0; }

/* Lists */

div.content ul { list-style:disc outside; }
div.content ol { list-style:decimal outside; }
div.content ul, div.content ol{ padding-left:25px; margin:0 0 20px 0; }
div.content ul ul, div.content ol ol{ padding-left:25px; margin:0 0 0 0; }
div.content ul li, div.content ol li{ margin-top:10px; }


/* Forms */

div.content input[type="text"], div.content input[type="email"] { font-size:14px; color:#454545; padding:4px; border:1px solid #b6b6b6; background:#ffffff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
div.content textarea { font-size:14px; color:#454545; padding:4px; border:1px solid #b6b6b6; background:#ffffff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
div.content fieldset { display: block; width: 89%; padding:5%; margin: 0 auto; border:1px solid #b6b6b6; }
div.content legend { padding: 4px 10px; border:1px solid #b6b6b6; background: #fff; text-transform: uppercase; margin-left: 0.5em; }
div.content select { padding: 4px; border:1px solid #b6b6b6; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
div.content .radio, div.content .checkbox { display: inline;  margin:10px 10px 0 20px;  margin-bottom: 12px; vertical-align: middle; }

/* Tables */

div.content table { width:100%; margin:10px auto 20px; border:1px solid #d8d8d8;   -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; background:#ffffff; border-collapse:separate; overflow:hidden; }
div.content table caption { width:90%; margin:0px auto; padding:10px 20px; border-bottom:none; text-align:center }
div.content table tr:nth-child(even) { background: #fff; }
div.content table tr:nth-child(odd) { background: #f6f6f6; }
div.content table th { padding:10px; border-bottom:1px solid #d8d8d8; background: #ebebeb; background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #f3f3f3 6%, #ebebeb 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(6%,#f3f3f3), color-stop(100%,#ebebeb)); background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); }
div.content table th:first-child { padding:10px 10px 10px 20px;}
div.content table th:first-last{ padding:10px 20px 10px 10px; }
div.content table tfoot th { border-bottom:none; }
div.content table td { padding:10px; }
div.content table td:first-child { padding:10px 10px 10px 20px; }
div.content table td:last-child { padding:10px 20px 10px 10px; }

/* Images */

div.content img { max-width: 100%; height:auto; }
div.content div.wp-caption { margin-bottom:0px; max-width:100%; }
div.content p.wp-caption-text { padding:10px 0 15px 0; font-size:11px; }

/* media */

div.content iframe { max-width:100%;  }


/* Gallery */

div.content .gallery { margin: 0 auto 18px; }
div.content .gallery dl.gallery-item { float: left; margin-top: 0; padding: 0px; text-align: center; width: 33%; }
div.content .gallery-columns-2 dl.gallery-item { width: 50%; }
div.content .gallery-columns-4 dl.gallery-item { width: 25%; }
div.content dt.gallery-icon { float: none; clear: both; width: auto; text-align: left; font-weight: normal;  }
div.content dt.gallery-icon:after { content: none; }
div.content .gallery img { padding: 4px; margin:0px auto; display:block; }
div.content .gallery img:hover { background: white; }
div.content .gallery-columns-2 .attachment-medium { max-width: 92%; height: auto; }
div.content .gallery-columns-4 .attachment-thumbnail { max-width: 84%; height: auto; }
div.content .gallery dd.gallery-caption { clear:both; margin: 0 0 12px; }
div.content .gallery dl, .gallery dt { margin: 0; }
div.content .gallery br+br { display: none; }

/*  Bootstrap Fixes  */

div.content .label { background:none; font-weight:normal; text-shadow:none;  }
div.content code { white-space:normal; }

/*  WordPress Classes  */

.sticky { /*No Style*/  }
.gallery-caption { font-size: 12px; }
.wp-caption .wp-caption-text { margin-bottom: 10px; padding: 10px 0 5px 40px;  }
.bypostauthor { /*No Style*/ }
.alignleft { float:left; margin:6px 20px 6px 0; }
.alignright { float:right; margin:6px 0 6px 20px; }
.aligncenter { clear: both; display: block; margin-left:6px auto; }


/******************************************************************************************************
Frontpage
******************************************************************************************************/

#slideshow .carousel-indicators{left:auto;right:15px;bottom:15px;width:auto;margin:0;}
#slideshow .carousel-indicators li{width:18px;height:18px;border:0;background:#fff;opacity:0.4;filter:alpha(opacity=40);float:left;margin-left:7px;}
#slideshow .carousel-indicators li.active{opacity:1;filter:alpha(opacity=100);}
.carousel-control { font-size: 30px; color: #fff; text-align: center; text-shadow: 0 1px 2px rgba(0,0,0,0.6); }
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left { position: absolute; top: 45%; left: 16%; z-index: 5; display: inline-block; }
.carousel-control .glyphicon-chevron-right { position: absolute; top: 45%; right: 10%; z-index: 5; display: inline-block; }
body > .container.frontpage_featured { background:transparent; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
body > .container.frontpage_featured .featured > div { background: #ffffff; -webkit-box-shadow: 0px 0px 5px 0px #333333; -moz-box-shadow: 0px 0px 5px 0px #333333; box-shadow: 0px 0px 5px 0px #333333; }
body > .container.frontpage_featured .featured#nimbus_left_featured { margin-left:0px; padding-left: 0px; padding-right: 30px; }
body > .container.frontpage_featured .featured#nimbus_right_featured { padding-right:0px; padding-left: 30px; }
body > .container.frontpage_featured .featured h3 { padding:0 20px 0 20px; margin:15px 0 5px 0; }
body > .container.frontpage_featured .featured p { padding:0 20px 20px 20px; margin:0 0 0 0; }


/******************************************************************************************************
Blog, Archive, Author, etc
******************************************************************************************************/

div.content div.date { text-align:center; padding:20px 0 9px 0; }
div.content h2.post_title { text-align:center; padding:0 0 20px 0; margin:0px; }
div.content h2.post_title a:hover { text-decoration:none; }
div.content div.author { text-align:center; padding: 0 0 20px 0; }
div.content div.col-sm-3 div.author { text-align:right; padding: 0 0 20px 0; }
div.content div.with_excerpt div.author { text-align:right; padding: 0 0 30px 0; }
div.content div.excerpt { text-align:right; }
div.content div.featured_image_caption { text-align:center; padding:20px 0; margin-bottom:30px; }
div.content div.without_excerpt p { text-align:center; }
div.content div.without_excerpt p.more_tag_wrap, div.content p.more_tag_wrap { text-align:right; padding:20px 0 0; }
div.content .tax_tags { padding:20px 20px; margin-top:30px; margin-right: -35px; margin-left: -35px; }
div.content .col-sm-9 .tax_tags { margin-right: 0px; margin-left: 0px; }
div.content .tax_tags .tags { text-align:right; }
.bio_wrap { padding:0 0px; margin:30px 0; }
.bio_wrap > div { padding:20px 0; margin:0 0; }
.bio_wrap > div h3 { margin-top: 0px; }

/******************************************************************************************************
Comments
******************************************************************************************************/

ol#comments { list-style:none; padding:0px; margin: 0px; }
ol#comments  ul{ list-style:none; padding:0px; margin: 0px; }
ol#comments li { width:100%;  margin:0px; }
ol#comments li.depth-1 { padding:0 0 60px 0; }
ol#comments li.depth-2 { padding:60px 0 0 0; }
ol#comments li.depth-3, ol#comments li.depth-4, ol#comments li.depth-5, ol#comments li.depth-6, ol#comments li.depth-7, ol#comments li.depth-8, ol#comments li.depth-9, ol#comments li.depth-10  { padding:60px 0 0 0; } 
ol#comments li:last-child { padding-bottom:0px; }
ol#comments li.depth-2 img.avatar  { margin:0 0 0 68px; }
ol#comments li.depth-3 img.avatar, ol#comments li.depth-4 img.avatar, ol#comments li.depth-5 img.avatar, ol#comments li.depth-6 img.avatar, ol#comments li.depth-7 img.avatar, ol#comments li.depth-8 img.avatar, ol#comments li.depth-9 img.avatar, ol#comments li.depth-10 img.avatar  { margin:0 0 0 136px; }
.comment-avatar { padding-right:30px; }


/******************************************************************************************************
Widgets
******************************************************************************************************/



/*General Typography*/

.widget { line-height:1.4em;}
.widget p { padding:0 0 15px 0; }

div.content .widget { margin-top:0px; padding-top:0px; padding-bottom:60px; }
div.content .widget  h3 { margin-top:0px; padding-top:0px; }

/* Titles */

.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 , h3.social_title { padding:0 0 10px 0; margin: 0 0 20px 0;  }
.header_widget_left h3, .header_widget_right h3 { margin-bottom:0px; }

/* HR */

.widget hr { margin:20px 0; border: none; height: 5px; background: url(images/hr_dots.png) repeat-x center top; }


/* BlockQuotes */

.widget blockquote { padding: 9px 0 2px 10px; margin:20px 0 20px 0; border-left:4px solid #1B74BB; font-size: 18px; line-height:1.4em; }

/* Definitions */

.widget dl { padding: 0 0 20px 0; }
.widget dt { float: left; clear: left; width: 150px; text-align: right; font-weight: bold;  }
.widget dt:after { content: ":"; }
.widget dd { margin: 0 0 0 160px; padding: 0 0 1em 0; }

/* Lists */

div.content .widget ul, .widget ul { list-style:none; }
div.content .widget ol, .widget ol  { list-style:none; }
div.content .widget ul, div.content  .widget ol, .widget ul, .widget ol{  margin:0px; padding:0px; }
.widget ul ul, .widget ol ol{ padding-left:25px; margin:0 0 0 0; }
.widget ul li, .widget ol li{ margin-top:5px; line-height:1em; }

/* Forms */

.widget input, .widget textarea { font-size:14px; color:#454545; padding:4px; border:1px solid #b6b6b6; background:#ffffff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
.widget fieldset { display: block; width: 89%; padding:5%; margin: 0 auto; border:1px solid #b6b6b6; }
.widget legend { padding: 4px 10px; border:1px solid #b6b6b6; background: #fff; text-transform: uppercase; margin-left: 0.5em; }
.widget select { padding: 4px; border:1px solid #b6b6b6; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
.widget button:hover, input[type=submit]:hover  { text-decoration:none;  } 
.widget input[type=image] { border:none; }

/* Tables */

.widget table { width:100%; margin:10px auto 20px; border:1px solid #d8d8d8;   background:#ffffff; border-collapse:separate; overflow:hidden; }
.widget table caption { width:90%; margin:0px auto; padding:10px 20px; border-bottom:none; text-align:center }
.widget table tr:nth-child(even) { background: #fff; }
.widget table tr:nth-child(odd) { background: #f6f6f6; }
.widget table th { padding:10px; border-bottom:1px solid #d8d8d8; background: #ebebeb; background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 3%, #f3f3f3 6%, #ebebeb 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#ffffff), color-stop(6%,#f3f3f3), color-stop(100%,#ebebeb)); background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); background: linear-gradient(top,  #ffffff 0%,#ffffff 3%,#f3f3f3 6%,#ebebeb 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); }
.widget table th:first-child { padding:10px 10px 10px 20px;}
.widget table th:first-last{ padding:10px 20px 10px 10px; }
.widget table tfoot th { border-bottom:none; }
.widget table tfoot td { border-bottom:none; }
.widget table td { padding:10px; }
.widget table td:first-child { padding:10px 10px 10px 20px; }
.widget table td:last-child { padding:10px 20px 10px 10px; }

div.widget  { width:100%; padding:20px 0;  }

/* Box Widget */

div.box_widget { width:100%; padding:20px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
div.box_widget input[type="text"] { width:75%; padding:9px 13px; margin:0 0 10px 20px; background:#fff; border:1px solid #b6b6b6; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:12px; }
div.box_widget p, div.box_widget h1, div.box_widget h2, div.box_widget h3, div.box_widget h4, div.box_widget h5, div.box_widget h6  { padding-left:20px; padding-right:20px; }

/* About Me Widget */

div.about_me_box img.avatar { float:left; margin:0 20px 5px 0px; }

/* Contact Widget */

.widget p.contact_widget_lastp { padding-bottom:0px; }

/* Popular posts */

ul.pop_posts { margin: 0px; }
ul.pop_posts li:first-child { margin-top: 0px; }
.comment_widget_num { font-size:11px; }

/* RSS */

.rss-date { font-size:11px; }
.rssSummary { font-size:11px; }
#sidebar cite { font-size:11px; font-style:normal; } 

/* Recent Comments */

div.sidebar_widget p.recent_comment_name a { font-weight:bold; }
div.sidebar_widget a.recent_comment_more{ font-size:11px; }

.widget_recent_entries.widget ul li { margin-top: 15px; }

/* Search Widget */

#searchform { position:relative; }
label.screen-reader-text { display:none;}
#s { border:none; height: auto; width: 100%; font-size:30px; padding: 2% 5%; background:#f2f2f2; font-weight:400; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; } 
#searchsubmit { position:absolute; top:8px; right:5px; background:transparent; }
#searchsubmit:active {  }

/* Calendar Widget */

#wp-calendar { margin:0px; }
#wp-calendar caption { font-size:16px; font-style:normal; font-weight:normal; padding-top:0px; border-bottom:none!important; }
#wp-calendar td , #wp-calendar th { text-align:center; }
#wp-calendar td:first-child , #wp-calendar th:first-child { padding: 10px 10px 10px 15px; }
#wp-calendar td#prev { text-align:left; }
#wp-calendar td#next { text-align:right; }
#wp-calendar tr:nth-child(odd) { background: #fff; }
#wp-calendar tr:nth-child(even) { background: #f6f6f6; }
#wp-calendar tfoot tr:nth-child(odd) { background: #f6f6f6; }


/******************************************************************************************************
Footer
******************************************************************************************************/

#footer_row { padding:50px 0 0 0; }
#footer_row > div > div.footer_widgets { padding-bottom:20px; }
.blog_pagination, .single_post_nav { padding:20px 20px 16px; }
#credit { text-align:right; }


/******************************************************************************************************
General Classes
******************************************************************************************************/

.center { margin-left:auto!important; margin-right:auto!important; }
.clear{ clear:both!important; }
.none { float:none!important; }
.clear5{ width:100%; height:5px; clear:both; }
.clear10{ width:100%; height:10px; clear:both; }
.clear15{ width:100%; height:15px; clear:both; }
.clear20{ width:100%; height:20px; clear:both; }
.clear25{ width:100%; height:25px; clear:both; }
.clear30{ width:100%; height:30px; clear:both; }
.clear35{ width:100%; height:35px; clear:both; }
.clear40{ width:100%; height:40px; clear:both; }
.hidden{ display: none; }
.left { float:left; }
.right { float:right }



/******************************************************************************************************
Responsive
******************************************************************************************************/




@media (min-width: 768px)  { 

    .navbar-nav { float: none!important; }
    .carousel-caption { right: 10%; left: 10%; }

}

@media (min-width: 1200px) {

    .nimbus_1170_640, div.content div.featured_image_caption, #frontpage_banner, #slideshow { width:1170px; height:auto; margin-left:-15px; }
    div.content img.nimbus_1170_640 { max-width: none; }
}

@media (min-width: 990px) and (max-width: 1199px) {

    .nimbus_1170_640, div.content div.featured_image_caption, #frontpage_banner, #slideshow { width:970px; height:auto; margin-left:-15px; }
    div.content img.nimbus_1170_640 { max-width: none; }
    

}

@media (min-width: 768px) and (max-width: 989px) {

    .nimbus_1170_640, div.content div.featured_image_caption, #frontpage_banner, #slideshow { width:750px; height:auto; margin-left:-15px; }
    div.content img.nimbus_1170_640 { max-width: none; }


}

@media (max-width: 979px) {


}

@media (max-width: 767px) {

    .nimbus_1170_640, #frontpage_banner { width:100%; height:auto; }
    header #menu_row { position:fixed; top:0px; right:0px; left:0px; }
    header #menu_row .navbar-collapse .navbar-nav > li { display: block; padding-left:30px; }
    header #menu_row .navbar-collapse .navbar-nav > li ul { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
    .navbar-header { border:none; }
    .fallback_cb, header img.image_logo , header .header_widget_right, header .header_widget_left { display:none; }
    #wpadminbar { position: fixed; }
    body > .container.frontpage_featured .featured#nimbus_left_featured, body > .container.frontpage_featured .featured#nimbus_center_featured, body > .container.frontpage_featured .featured#nimbus_right_featured { padding:0px; margin:0px; }
    body > .container.frontpage_featured .featured#nimbus_left_featured img, body > .container.frontpage_featured .featured#nimbus_center_featured img, body > .container.frontpage_featured .featured#nimbus_right_featured img { display:block; margin:0px auto; padding-top:20px; }
    body > .container.frontpage_featured .featured#nimbus_center_featured, body > .container.frontpage_featured .featured#nimbus_right_featured { margin-top:40px; }
    body > .container.frontpage_featured .featured#nimbus_left_featured p, body > .container.frontpage_featured .featured#nimbus_center_featured p, body > .container.frontpage_featured .featured#nimbus_right_featured p, body > .container.frontpage_featured .featured#nimbus_left_featured h3, body > .container.frontpage_featured .featured#nimbus_center_featured h3, body > .container.frontpage_featured .featured#nimbus_right_featured h3 { text-align:center; }
    header.container {  margin-top:0px; }
    .navbar-toggle { margin-right:30px;}
    #menu_row { -webkit-box-shadow: 0px 0px 9px 1px #555; -moz-box-shadow: 0px 0px 9px 1px #555555; box-shadow: 0px 0px 9px 1px #555; }
    .nimbus_375_225  { padding-left:2px; padding-right:2px; }
    ol#comments li.depth-2 img.avatar  { margin:0 0 0 0px; }
    .comment-avatar img { width:30px; height:auto; }

}
