<?php include "include/secondheader.phtml" ; 
$front_home_asset_path = '/public/front/dashboard/';?>
<script type="text/javascript"  src="<?php echo $front_home_asset_path;?>fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $front_home_asset_path;?>fancybox/jquery.fancybox.css" />


<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $albumsdata->album_name;?> </h3>
        <div class="row" style="margin:25px 0;">
            <?php 
                //echo '<pre>';print_r($albumsdata);exit;
                $percent = 0;
                $show_percent = 0;
                if($photographerdata->profile_progress==1)
                {
                $percent = $percent + 0.1;
                }
                if($photographerdata->total_albums>0)
                {
                $percent = $percent + (0.15 * $photographerdata->total_albums);
                }
                if($percent>=1.0)
                {
                $percent=1.0;
                }
                if($percent>0)
                {
                $show_percent = $percent*100;
                }
            ?>
            <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
         
        <div class="row" id = "album_description" style="margin:25px">
            <p><?php echo $albumsdata->description;?></p>
        </div> 
        <div class="row" style="margin:10px">
            <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                <ul class="list-inline skills-home">
                    <?php foreach($album_Tags as $tag) {?>
                        <li><a href="javascript:void(0);"><?php echo $tag['tag'] ?></a>
                        </li>
                    <?php } ?>
                </ul>
                <span id = "tags_error"></span>
            </div>
        </div>
        <?php 
        /*if($editable == 1)
        {?>
            <div class="row" id = "edit_album">
                <a href="user/photographer/editalbum/<?php echo $albumsdata->album_id;?>" class="btn btn-success pull-right" style="margin:0 25px 25px 0;" >Edit Album</a>
             </div> <?php 
        }*/
        if($album_editable == 1)
        {?>
              <div class="row" id = "edit_album">
                <a href="user/photographer/editalbum/<?php echo $albumsdata->album_id;?>" class="btn btn-success pull-right" style="margin:0 25px 25px 0;" >Edit Album</a>
             </div> <?php 
        }?>
        
          
                  
        <div class="row" id = "album_div">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Photo</div>
                        <div class="panel-body">
                            <div class="row">
                           
                                <?php foreach($albumsdata->image as $album_image) 
                                {
                                    //echo '<pre>'; print_r($album_image); 
                                    $unique_id = explode('.',$album_image['imagename'])?>
                                    <div id="img_<?php echo $unique_id[0]; ?>" class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="thumbnail">
                                            <a class="fancybox" href="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$album_image['thumbname']);?>" data-fancybox-group="gallery" title="<?php echo $album_image['description'];?>">
                                            <img id="sp_<?php echo $unique_id[0]; ?>" alt="<?php echo $albumsdata->album_name;?> Picture" class="img-responsive" src="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$album_image['thumbname']);?>">
                                            </a>
                                            <!--<textarea placeholder="Say somthing about this photo...." class="form-control" readonly><?php //echo $album_image['description']; ?></textarea>-->
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>



<script>
$(document).ready(function() {
    $('.fancybox').fancybox();
});
</script>













