<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<h1 class="pt-main-heading"><span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?></span>, Complete your profile in easy steps :)</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-xs-12">    
		<!-- Nav tabs -->
			<ul class="nav nav-pills profile-step">
				<li><a href="javascript:void(0)"><icon class="fa fa-user"></icon> Step 1 </a> </li>
				<li><a href="javascript:void(0)" ><i class="fa fa-user"></i> Step 2</a> </li>
				<li class="active"><a href="javascript:void(0)"><i class="fa fa-user"></i> Step 3</a></li>
			</ul>
		 </div>
	</div>
	<div class="row" style="margin:25px 0;">
		<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
		?>
	</div>
        <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
        <div class="container"> <h3 class="text-center">Invite your friends from google </h3> </div>
        <a href = "user/photographer/dashboard" class="btn btn-success pull-right">Finish</a>
</section>