<?php  
    $front_home_asset_path = '/public/front/dashboard/';
?>
<script src="<?php echo $front_home_asset_path;?>js/jquery.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/jquery.form.min.js"></script>

<section class="edit-profile">
    <div class="container" style="z-index:1; position:relative;">
        <div class="row">
            <div class="col-lg-3 col-sm-5 col-xs-3">
                <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
                     <?php
                    if($photographerdata->profilepic=="")
                      {?>
                          <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } else {?>
                      <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } ?>
                </div>
                <a href="user/photographer/editprofile" class="btn btn-success pull-left " style="margin-left:20px;" >Edit Profile</a>
            </div>
            <div class="col-lg-5 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-left">
                    <div class="detail-box-first">
                        <h3><?php echo $_SESSION['user']->first_name;?></h3>
                        <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
                        <p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-right">
                    <div class="detail-box-first">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i> 5 Rated</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-heart-o"></i> Short List</a></li>
                        </ul>
                        <p>Rate: 2000 INR/PNG</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
    	<div class="row" style="margin:25px 0;">
    		 <?php 
    		    //echo '<pre>';print_r($photographerdata);exit;
    		    $percent = 0;
    		    $show_percent = 0;
    		    if($photographerdata->profile_progress==1)
    		    {
    			$percent = $percent + 0.1;
    		    }
    		    if($photographerdata->total_albums>0)
    		    {
    			$percent = $percent + (0.15 * $photographerdata->total_albums);
    		    }
    		    if($percent>=1.0)
    		    {
    			$percent=1.0;
    		    }
    		    if($percent>0)
    		    {
    			$show_percent = $percent*100;
    		    }
    		?>
    		<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
    	</div>
        <form id="home_search" class="form-horizontal" method="POST" action="/user/photographer/addalbum" enctype="multipart/form-data">
            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Album Name</label>
                    <input class="form-control" placeholder="Album name goes here" name="album_name" id="album_name" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                    <span id = "name_error"></span>
                </div>
            </div>
  
            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Tags</label>
                    <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <?php foreach($album_Tags as $sk=>$sv) {?>
                            <option value="<?php echo $sk;?>"><?php echo $sv['tag'];?></option>
                        <?php } ?>
                    </select>
                    <div class="row">
                        <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                            <ul class="list-inline skills-home">
                                <?php foreach($album_Tags as $sk1=>$sv1) {?>
                                    <li><a href="javascript:select(<?php echo $sk1 ?>,'<?php echo $sv1['tag'] ?>');"><?php echo $sv1['tag'] ?></a>
                                    </li>
                                <?php } ?>
                            </ul>
                            <span id = "tags_error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Album Description</label>
                    <input class="form-control" name="images_name" id="images_name" style="display:none">
                    <textarea class="form-control" rows="3" placeholder="Describe your Album here..." name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"></textarea>
                    <span id = "description_error"></span>
                </div>
            </div>
            <div class="col-lg-12"> 
                <div class="form-group ">                        
                	<input id = "original_next_button" type="button" class="btn btn-success pull-right space-left" value="Next" onclick="valid_album();" style="display:none">
		<!--<a href = "user/photographer/invitefriends" class="btn btn-success pull-right">Skip</a>
                	<button type="reset" class="btn btn-default">Reset Button</button>-->
            	</div>
            </div>
        </form>

    	<div class="col-lg-12">
    		<div class="form-group ">
    			<div class="u-c--12o12 hide-in-mobile-app-v1-1" id="photos-uploader">
    				<div >
    					<div>
    						<div id="upload-wrapper">
    							<form enctype="multipart/form-data" name='imageform' role="form" id="imageform" method="post" action="user/photographer/uploadImg">
    								 <div class="form-group">
    									 <input class='file' multiple="multiple" type="file" class="form-control" name="images[]" id="images" placeholder="Please choose your image" style="display:none;">
    									<span class="help-block"></span>
    								</div>
    								<div id="loader1" style="display: none;">Please wait...</div>
    								<p class="text-center" style="margin:0 0 8px 0px;display:none" id="loader">
    								    <img src="public/images/loader.gif" alt=""/>
    								</p>
    								<input type="submit" value="Upload" name="image_upload" id="image_upload" class="btn" style="display:none;"/>
    							</form>
    						</div>
    					</div>                         
    			       </div>
    			</div>
    		</div>
    	</div>
        <span id = "images_error"></span>
        <div class="row" id = "album_div">
        	<div class="col-lg-12">
        		<div class="panel-group">
        			<div class="panel panel-default">
        				<div class="panel-heading">Photo<button id="add_more_photos"  class="btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i> Add more photos</button></div>
        				<div class="panel-body">
        					<div class="row">
        						<div id="uploaded_images" class="uploaded-images">
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <input id = "duplicate_next_button" type="button" class="btn btn-success pull-right space-left" value="Save">
    </div>
</section>

<script type="text/javascript">
function valid_album(){ 
	var isValid = true;
    //alert($("#album_name").val());
    $('#name_error').html("");
    $('#tags_error').html("");
    $('#description_error').html("");
    $('#images_error').html("");
    $("#album_name").css('border-color', '#dce4ec');
    $("#tags_error").css('border-color', '#dce4ec');
    $("#description").css('border-color', '#dce4ec');
	if($.trim($("#album_name").val())==''){		
		$("#album_name").css('border-color', '#FF0000');
        $("#name_error").css('color', '#FF0000');
        $('#name_error').html("Please enter album name.");
		isValid = false;
	}	
	
    if($('ul.select2-choices>li').length<=1){        
        $("#s2id_e2").css('border-color', '#FF0000');
        $("#tags_error").css('color', '#FF0000');
        $('#tags_error').html("Please select atleast one Tag.");
        isValid = false;
    }
	if($.trim($("#description").val())=='') {	
	//alert(parseInt($('#about').val().length));	
		$("#description").css('border-color', '#FF0000');
		$("#description_error").css('color', '#FF0000');
		$('#description_error').html("Description should not be blank.");
		isValid = false;
	}
	/*if($.trim($("#images_name").val())=='') {	
	//alert(parseInt($('#about').val().length));	
		$("#images_error").css('color', '#FF0000');
		$('#images_error').html("Please select image.");
		isValid = false;
	}
	else
	{
		var oldvalue = jQuery.trim( jQuery('#images_name').val() );
        var words = oldvalue.split(",");
        if(words.length < 5)
        {
        	$("#images_error").css('color', '#FF0000');
			$('#images_error').html("Please select atleast 5 images.");
			isValid = false;
        }
    }*/

	if(isValid==true){
		
		document.getElementById('home_search').submit();
	}
}
</script>

<script>
(function() {
    jQuery('#imageform').ajaxForm({
        beforeSubmit: function() {  
            var count = 0;
            var total_images = 0;
            var length = 0;
            $('#images_error').html("");
            var val = jQuery.trim( jQuery('#images').val() );
            //alert(val);
            var oldvalue = jQuery.trim( jQuery('#images_name').val() );
            //alert(value);
            if(oldvalue == "")
            {
            	length = 0;
            	//alert(length);
            }
            else
            {
            	var words = oldvalue.split(",");
            	var length = words.length;
            	//alert(length);
            }

    		var total_images = length + jQuery('#images').get(0).files.length;
    		//alert(total_images);
    		/*if(total_images < 5)
    		{
        		$("#images_error").css('color', '#FF0000');
				//$('#images_error').html("Please select atleast 5 images.");
				//return false;
    		}*/

    		if(total_images > 30)
    		{
        		$("#images_error").css('color', '#FF0000');
				$('#images_error').html("Please select atmost 30 images.");
				return false;
    		}
    		

    		

            console.log(val);
            
            if( val == '' ){
                count= 1;
                $("#images_error").css('color', '#FF0000');
				$('#images_error').html("Please select your images");
                jQuery( "#images" ).next('span').html( "Please select your images" );
            }
            
            if(count == 0){
                for (var i = 0; i < jQuery('#images').get(0).files.length; ++i) {
                    img = jQuery('#images').get(0).files[i].name;
                    var extension = img.split('.').pop().toUpperCase();
                    if(extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                        count= count+ 1
                    }
                }
                if( count> 0) 
                {
                		$("#images_error").css('color', '#FF0000');
						$('#images_error').html("Please select valid images");
            	} 
            }   
            
            if( count> 0){
                return false;
            } else {
                jQuery( "#images" ).next('span').html( "" );
            }                        
        },
        
        beforeSend:function(){
           	jQuery('#loader').show();
           	jQuery('#image_upload').hide();
           	
        },
        success: function(msg) {
        },
        complete: function(xhr) {
            var product_images= [];
            jQuery('#loader').hide();
            jQuery('#image_upload').show();
            
            jQuery('#images').val('');
            jQuery('#error_div').html('');
            result = xhr.responseText;
            result = jQuery.parseJSON(result);
            base_path = jQuery('#base_path').val();
            jQuery.each(result, function(index, value){
            	
            	/*if(oldvalue == "")
            	{	alert("if");
            		product_images.push(value.name);	
            		jQuery('#images_name').val(product_images);
            	}
            	else
            	{
            		//product_images.push(oldvalue+","+value.name);
            		oldvalue = jQuery.trim( jQuery('#images_name').val() );
            		alert(oldvalue);
            		product_images.push(oldvalue+","+value.name);
            		alert(product_images);
            		jQuery('#images_name').val('');
            		//jQuery('#images_name').val(product_images);
            		//alert(product);
            	}*/
            	product_images.push(value.name);
                
                //alert(value);

                if( value.success ){
                    name = 'public/images/photographer/uploads/'+value.success;               
                    html = '';
                    //html+= '<li style="float: left; padding: 2px; border: 1px dotted gray;"  id="sp_'+value.unique_id+'"><span><image src="'+name+'"><input type="hidden" value="'+value.unique_id+'" name="product_images[]" class="product_images"><br /><a href="javascript:void(0);" title="Delete image" onclick="deleteimg('+value.unique_id+')">[Delete]</a></span></li>';

                    html+='<div id="img_'+value.unique_id+'" class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail album-desc"><a class="pull-right btn-dismiss" title="Delete image" href="javascript:void(0)" onclick="delete_image('+value.unique_id+',\''+value.name+'\');">x</a><img id="sp_'+value.unique_id+'" alt="Photographer" title="Photographer" class="img-responsive" src="'+name+'"><textarea placeholder="Say somthing about this photo...." class="form-control"></textarea></div></div>';
                    jQuery('#uploaded_images').append( html );

                } else if( value.error ){
                    error = value.error
                    html = '';
                    html+='<p>'+error+'</p>';
                    jQuery('#uploaded_images #error_div').append(html);
                }               
            });
			
			oldvalue = jQuery.trim( jQuery('#images_name').val() );
			if(oldvalue == "")
        	{	
        		jQuery('#images_name').val(product_images);
        	}
        	else
        	{

				old_array = oldvalue.split(",");
				alert(old_array);
				alert(product_images);
				product_images = $.merge( $.merge( [], old_array ), product_images );
				//product_images = product_images.replace(/^,|,$/g,'');
	            jQuery('#images_name').val(product_images);
	            alert(product_images);
        	}
        }
    });     
})(); 
</script>

<script>
	$('#add_more_photos').click(function () {
		$("#images").replaceWith($("#images").clone());
		$('#images').click();
		
		$('#images').change(function () {
			$('#image_upload').click();
		});
	});

	$('#duplicate_next_button').click(function () {
	$('#original_next_button').click();
	});
</script>
<script>

/*function delete_image(id, name)
{	
	//alert(id+'==='+name); return false;
	jQuery("#img_"+id).remove();
	var oldvalue = $.trim( $('#images_name').val() );
	var newstring = $.trim(oldvalue.replace(name,""),',');
	newstring = newstring.replace(",,",",");
	$("#images_name").val("");
	$('#images_name').val(newstring);
    alert('delete');
}*/


function delete_image(id, name)
{	//alert(name);
	//jQuery("#img_"+id).remove();
	var reg_url= site_url+'/user/photographer/deleteImg';
    //var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
    $.ajax({
       url: reg_url,
       error: function() {
          $('#info').html('<p>An error has occurred</p>');
       },
       data: {id: id, name: name},
       beforeSend: function() {
            $('#loader').show();
       },
       success: function(data) {
			$('#loader').hide();
			
          if(data.response === 'failed'){
              alert('Image not deleted An error has occurred!');
          }else{
			var oldvalue = $.trim( $('#images_name').val() );
			var newstring = oldvalue.replace(name,"");
			newstring = newstring.replace(",,",",");
			newstring = newstring.replace(/^,|,$/g,'');
			$("#images_name").val("");
			$('#images_name').val(newstring);
              //alert('delete');
              jQuery("#img_"+id).remove();
          }
          
       },
       type: 'POST',
       dataType: 'json',
    });
}
</script>















