<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
	 <div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<h1 class="pt-main-heading"><span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?></span>, Complete your profile in easy steps :)</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-xs-12">    
		<!-- Nav tabs -->
			<ul class="nav nav-pills profile-step">
				<li class="active"><a href="javascript:void(0)"><icon class="fa fa-user"></icon> Step 1 </a> </li>
				<li><a href="javascript:void(0)" ><i class="fa fa-user"></i> Step 2</a> </li>
				<li><a href="javascript:void(0)"><i class="fa fa-user"></i> Step 3</a></li>
			</ul>
		 </div>
	</div>
	<div class="row" style="margin:25px 0;">
		<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
		?>
		  <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="user/photographer/createprofile" method="POST" name="PhotographerForm" id="PhotographerForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name is not editable" class="form-control" placeholder="Enter your name" name="name" type="text" value="<?php echo $_SESSION['user']->first_name;?>" readonly>
                     
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input id="email" title="Email is not editable" class="form-control" placeholder="Enter your email" type="text" value="<?php echo $_SESSION['user']->email;?>" id="email" name="email" readonly>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Occupation *</label>
                    <input id="occupation" class="form-control" placeholder="eg. Web Designer, Photographer etc" type="text" id="profession" name="occupation" value="<?php echo $result_merchant->profession;?>" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Telephone No. *</label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $result_merchant->phone;?>" id="phone" name="phone" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country" value="<?php echo $result_merchant->country;?>" id="full_country" placeholder="Select location from dropdown"/>
                    <input id="location"  name="location" type="hidden" value="<?php echo $result_merchant->country;?>">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>About Me *</label>
                    <textarea placeholder="Describe yourself here..." class="form-control" rows="3" name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"></textarea>
                </div>
            </div>
            
            <div class="col-lg-12">                         
                <input type="button" class="btn btn-success  pull-right space-left" value="Next" onclick="valid_profile();">
		<a href = "user/photographer/createalbum" class="btn btn-success  pull-right">Skip</a>
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>
