<?php 
    //$profile_img_path = '/public/images/photographer/profile/';
?>
  <div class="container text-center y-set-top">
    <div class="row">
      <div class="col-lg-12">
        <div class="avatar text-center"> 
         <?php
          if($photographerdata->profilepic=="")
          {
              ?>
              <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
          <?php } else {?>
        
          <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
          <?php } ?>
        </div>
        <div style="margin-top: 10px;">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> <i class="fa fa-pencil-square-o"></i> View or Edit your profile Image </button>
        </div>
        <div class="intro-text"> <span class="name"><?php echo $_SESSION['user']->first_name;?></span>
          <hr class="star-light">
          <span class="skills"><?php echo $photographerdata->occupation;?></span><br />
        </div>
      </div>
    </div>
  </div>

<section class="pro-section" style="padding: 38px 0px;">
<hr />  
    <div class="container">
   
	
	<div class="row">
		<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
		?>
		  <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
        <hr class="pro-hr">
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="user/photographer/editprofile" method="POST" name="PhotographerForm" id="PhotographerForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name is not editable" class="form-control" placeholder="Enter your name" name="name" type="text" value="<?php echo $_SESSION['user']->first_name;?>" readonly>
                     
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input id="email" title="Email is not editable" class="form-control" placeholder="Enter your email" type="text" value="<?php echo $_SESSION['user']->email;?>" id="email" name="email" readonly>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Occupation *</label>
                    <input id="occupation" class="form-control" placeholder="eg. Web Designer, Photographer etc" type="text" id="profession" name="occupation" value="<?php echo $photographerdata->occupation;?>" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Telephone No. *</label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $photographerdata->phone;?>" id="phone" name="phone" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country" value="<?php echo $photographerdata->location;?>" id="full_country" placeholder="Select location from dropdown"/>
                    <input id="location"  name="location" type="hidden" value="<?php echo $photographerdata->location;?>">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>About Me *</label>
                    <textarea placeholder="Describe yourself here..." class="form-control" rows="3" name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''" ><?php echo $photographerdata->description;?></textarea>
                </div>
            </div>
            
            <div class="col-lg-12">          
                <input type="hidden" name = "pg_id" class="control" value="<?php echo $photographerdata->pg_id;?>" />               
                <input type="button" class="btn btn-success" value="Update" onclick="valid_profile();">
                <a href = "user/photographer/dashboard" class="btn btn-success">Cancel</a>
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>
