<section class="profile-type">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h1 class="pt-main-heading">Welcome <span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?>:)</span></h1>
			</div>
		</div>
		<!--------page main heading end here------->
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/profile" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/one.jpg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">My Profile<My Profile/h3>
						<p><?php echo $photographerdata->description;?></p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/editprofile" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/two.jpg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">Album</h3>
						<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis.</p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/editprofile" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/zero.jpg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">Photos</h3>
						<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis.</p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
