<?php   
  $front_home_asset_path = '/public/front/dashboard/'; ?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Search Profile</title>
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Custom CSS -->
  <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="<?php echo $front_home_asset_path;?>css/main.css">
  
  <link href="<?php echo $front_home_asset_path;?>font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $front_home_asset_path;?>css/Montserrat.css" rel="stylesheet" type="text/css">
  <link href="<?php echo $front_home_asset_path;?>css/Lato.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  

</head>
<body id="page-top" class="index">
<!-- Navigation --> 

<!-- Header -->
<header >
  <div class="home-bg">
    <div class="container-full menuset-home">
      <div class="container" style="padding:0px">
      <nav class="navbar navbar-default y-set-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand y-brand" href="#">Own Rock</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user-profile.html">SIGN UP</a></li>
                <li><a href="about-me.html">LOG IN</a></li>
                <li><a href="add-ne- project.html">Contact</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      
       
      </div>
    </div>
  
</header>

<?php 
  //include "includes/header-layout.phtml";
  echo $this->content; 
  //include "includes/footer-layout.phtml";
?>

