 <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>3481 Melrose Place<br>
                Beverly Hills, CA 90210</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li> <a href="https://www.facebook.com/ownrockprivate" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a> </li>
                <li> <a href="https://plus.google.com/u/1/110906240436819437853/about" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a> </li>
                <li> <a href="https://twitter.com/rock_own" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a> </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About Us</h3>
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" id = "signin_close" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="myModalLabel" class="modal-title">Sign In Here</h4>
        </div>
        <div class="modal-body">
            <div id="login-block" class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Log in with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Log in with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                        
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="loginemail" placeholder="Email..." class="form-username form-control" id="loginemail">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="loginpassword" placeholder="Password..." class="form-password form-control" id="loginpassword">
            </div>
          <div class="form-group">
            <div class=" col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox"><font style="font-size:14px;">Remember me</font>
                  <span style="padding:0 0 0 30px;font-size:14px;"><a href="javascript:void(0);" onClick="$('#forgot-password').show();$('#login-block').hide();">Forgot Password?</a></span>
                </label>
                </div>
            </div>
          </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_login()" id="loginBtn">
              <span class="login">Log In</span>
            </button>
          </form>
        </div>
        <div id="forgot-password" class="row centered" style="display:none;">
          <span id="sent-msg" style="display:none;">Forgot password link has been sent to your email .. please check your email.</span>
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="forgetemail" placeholder="Email..." class="form-username form-control" id="forgetemail">
            </div>
            
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_email();" id="forgetBtn">
              <span class="login">Send</span>
            </button>
          </form>
        </div>
        </div>
      <div class="modal-footer">
        Don't have account ?<a data-toggle="modal" data-target="#myModal1" href="#myModal">&nbsp;Sign Up</a>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!-- Modal FOR SIGN uP -->
  <div class="modal fade" id="myModal1" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" data-dismiss="modal" id = "signup_close" class="close" type="button"><span aria-hidden="true">×</span></button>
          <h4 id="myModalLabel" class="modal-title">Sign Up Here</h4>
        </div>
        <div class="modal-body">
            <div class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Sign Up with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Sign up with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img_reg">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
          <form role="form" action="/user/home/register" method="post" class="register-form col-sm-12" name="reg-form" id="reg-form">
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <input type="text" name="name" placeholder="Enter Name..." class="form-username form-control" id="name">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-username">Email Address</label>
                <input type="text" name="email" placeholder="Enter Email..." class="form-username form-control" id="email">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Enter Password</label>
              <input type="password" name="password" placeholder="Enter Password..." class="form-password form-control" id="password">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Confirm Password</label>
              <input type="password" name="confirm_password" placeholder="Confirm Password..." class="form-password form-control" id="confirm_password">
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="tnc" id="tnc"><font style="font-size:14px;">By signing up, I agree to Ownrock's Terms of Service and Privacy Policy</font>
                </label>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_register()" id="regBtn"><span class="login">Sign Up</span></button>
          </form>
        
            </div>
        </div>
        <div class="modal-footer">
          Already an ownrock member ?<a data-toggle="modal" data-target="#myModal" href="#myModal" data-dismiss="modal">&nbsp;Sign In</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

<!-- Header -->

<!-- /.modal --> 
<!-- Bootstrap core JavaScript jQuery--> 
  
  
  <!-- Bootstrap Core JavaScript 
  <script src="<?php //echo $front_home_asset_path;?>js/bootstrap.min.js"></script>--> 

  <!-- Plugin JavaScript --> 

<script>
  window.fbAsyncInit = function() { 
FB.init({ appId: "1426095174376131", status: true, cookie: true, xfbml: true, oauth: true});
//FB.getLoginStatus(autocheck);
};    
(function() {
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol 
    + '//connect.facebook.net/en_US/all.js';
  document.getElementById('fb-root').appendChild(e);
}());
    
 (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1582850358637370";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));




/*  facebook login code*/
function FnIsFBuser(fbData) {
    var d;
    var fb_id = fbData.id;
    var fb_email = fbData.email;
    var fb_name = fbData.name;   
    jQuery.ajax({
        type: "POST",
        url: site_url + '/user/home/facebooklogin',
        async: false,
        data: 'fb_id=' + fb_id + '&fb_email=' + fb_email + '&fb_name=' + fb_name,
        success: function(data) {
            d = data;
        }
    })
    return d;
}

function FnFBRegister() {
    FB.login(function(response) {
        if (response.authResponse) {
            FB.api('/me', function(response) {
                var isFbUser = FnIsFBuser(response);
                var jObj = jQuery.parseJSON(isFbUser);
                //fillWithStatus(jObj.status, response);
            });
        }
    }, {
        scope: 'email,user_birthday'
    });
}

function fillWithStatus(s, fbdata) {  
  
  if (s == 1) {
        location.reload();
    } else if (s == 2) {
        alert("Your account is disabled by admin,Please contact admin!");
    } else {
        location.reload();
        jQuery("#email").val(fbdata.email).trigger('blur');
        jQuery("#fb_id").val(fbdata.id);
        /* jQuery("#username").val(fbdata.first_name).trigger('blur');
     if(fbdata.gender='male'){
      jQuery('#gender option[value="0"]').attr("selected", "selected").trigger('change').trigger('blur');
    }
    if(fbdata.gender='female'){
      jQuery('#gender option[value="1"]').attr("selected", "selected").trigger('change').trigger('blur')
    }
        jQuery("#birthdate").val(fbdata.birthday).trigger('blur');*/
    }
}

function FnFBLogout() {
    FB.logout(function(response) {
        alert("logout");
    });
}

function FnFBLogin() {
  FB.login(function(response) {
    if (response.authResponse) {
      FB.api('/me', function(response) {                
        console.log(response);
        var isFbUser = FnIsFBuser(response);
        var jObj = jQuery.parseJSON(isFbUser);
        goWithStatus(jObj.status, jObj.signup);
      });
    }
  }, 
  {
    scope: 'email, user_birthday',
    return_scopes: true
  });
}

function goWithStatus(status, signup) 
{ 
    if (status == 1) 
    {
      if (signup == 1)
      {
        window.location = site_url + "/user/home/selectprofile";
      }
      else
      {
        window.location = site_url + "/user/photographer/dashboard";
      }
    } 
    else if (status == 2) 
    {
      alert("Your account is disabled by admin,Please contact admin!");
    } 
    else if (status == 3) 
    {
      window.location = site_url + "/account-disabled";
    } 
    else if (status == 0) 
    {
      location.reload();
    } 
    else 
    {
      alert(status); return false;
    }
}
/* facebook login code end */
</script>

 <style>
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { background: white url("/public/images/loader.gif") right center no-repeat; }
</style> 
<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/function.js"></script>    

  <!--  City Auto Suggesstion -->
<script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script>



    



    






<!-- <script src="<?php  //echo $front_home_asset_path;?>js/custom.js"></script> -->

</body>
</html>




