<?php

 $title = 'Delete Campaign';
 $this->headTitle($title);
 ?>

 <h1><?php echo $this->escapeHtml($title); ?></h1>

 <p>Are you sure that you want to delete
     '<?php echo $this->escapeHtml($campaign->preview); ?>' Payout
     '<?php echo $this->escapeHtml($campaign->payout); ?>'?
 </p>
 
 <?php
 $url = $this->url('user/campaigns', array(
     'action' => 'delete',
     'id'     => $this->id,
 ));
 
 ?>

 <form action="<?php echo $url; ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo (int) $campaign->campaign_id; ?>" />
     <input type="submit" name="del" value="Yes" />
     <input type="submit" name="del" value="No" />
 </div>
 </form>