


<?php
$form = $this->form;
$form->prepare();

$form->SetAttribute('action',$this->url(NULL,array('controller' => 'register', 'action' => 'process')));
$form->setAttribute('method','post');
echo $this->form()->openTag($form);
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- iOS webapp metatags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon-precomposed" href="assets/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ios/fickle-logo-114.png" />

    <!-- TODO: Add a favicon -->
    <link rel="shortcut icon" href="assets/images/ico/fab.ico">

    <title> Registration</title>

    <!--Page loading plugin Start -->
    <link rel="stylesheet" href="assets/css/plugins/pace.css">
    <script src="assets/js/pace.min.js"></script>
    <!--Page loading plugin End   -->

    <!-- Plugin Css Put Here -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/zend/public/css/plugins/bootstrap-switch.min.css">
    <link rel="stylesheet" href="/zend/public/css/plugins/ladda-themeless.min.css">

    <link href="/zend/public/css/plugins/humane_themes/bigbox.css" rel="stylesheet">
    <link href="/zend/public/css/plugins/humane_themes/libnotify.css" rel="stylesheet">
    <link href="/zend/public/css/plugins/humane_themes/jackedup.css" rel="stylesheet">
    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
    <link href="/zend/public/css/style_fickle.css" rel="stylesheet">
    <!-- Custom styles Style End-->

    <!-- Responsive Style For-->
    <link href="/zend/public/css/responsive.css" rel="stylesheet">
    <!-- Responsive Style For-->

    <!-- Custom styles for this template -->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-screen">
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="login-box">
                    <div class="login-content">
                        <div class="login-user-icon">
                            <i class="glyphicon glyphicon-user"></i>
                            <!--<img src="images/login.png" alt="Logo"/>-->
                        </div>
                        <h3>Admit Yourself</h3>
                    </div>

                    <div class="login-form">

                        <form id="form-register" action="#" class="form-horizontal ls_form">
                            <div class="input-group ls-group-input">
                                <?php echo $this->formelement($form->get('name'));?>
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>

                            <div class="input-group ls-group-input">
                                <?php echo $this->formElement($form->get('email')); ?>
                                     <?php echo $this->formElement($form->get('user_type')); ?>
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>


                            <div class="input-group ls-group-input">
                                <?php echo $this->formElement($form->get('password')); ?>
                             
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="input-group ls-group-input">
                                <?php echo $this->formElement($form->get('confirm_password')); ?>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="input-group ls-group-input login-btn-box">
                                <?php echo $this->formElement($form->get('Submit')); ?>
                                    
                                </button>

                                <a class="" href="login">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copy-right big-screen hidden-xs hidden-sm">
        <span>&#169;</span> Cashvasool <span class="footer-year">2014</span>
    </p>
</section>
</body>
<script src="/zend/public/js/lib/jquery-2.1.1.min.js"></script>
<script src="/zend/public/js/lib/jquery.easing.js"></script>
<script src="/zend/public/js/bootstrap-switch.min.js"></script>

<!--Loading button script-->
<script src="/zend/public/js/loader/spin.js"></script>
<script src="/zend/public/js/loader/ladda.js"></script>
<!--Loading button script-->
<!--Notification Script-->
<script src="/zend/public/js/humane.min.js"></script>
<!--Notification Script-->


<!--Demo registration Script-->
<script src="/zend/public/js/pages/registration.js"></script>
</html>



