<?php  
       $front_home_asset_path = 'public/front/home/';
       $state = rand(1000000,99999999);
       $_SESSION['gstate'] = $state;
       $logged_in_email = '';
       if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
            $logged_in_email = $_SESSION['user']->email;
       }      
?>
<!DOCTYPE html>
<html lang="en">
  <script>
  var site_url = "<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/ownrock/'; ?>";
</script>
 
  <head>
    <base href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].'/ownrock/'; ?>">
    <!--<base href="<?php //echo 'http://'.$_SERVER['HTTP_HOST']; ?>">-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Ownrock | Home</title>
    <!-- Bootstrap core CSS -->
    <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
    <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">    
    
     <!-- Custom styles for this template -->
    <link href="<?php echo $front_home_asset_path;?>css/main.css" rel="stylesheet">    
  
    <link href="<?php echo $front_home_asset_path;?>css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    

  </head>
  <body id="page-top" class="index">
  <div id="fb-root"></div>
    
 <header >
  <div class="home-bg">
    <div class="container-full menuset-home">
      <div class="container" style="padding:0px">     
      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand y-brand" href="user/home">Own Rock</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <?php if(isset($logged_in_email) && $logged_in_email != ""){ ?>   
                <li class="dropdown">
                <a href="#" class="dropdown-toggle user-loged" data-toggle="dropdown" role="button" aria-expanded="false"><?php echo $_SESSION['user']->first_name; ?> 
                <?php 
                  if($_SERVER['HTTP_HOST']=="localhost")
                    $aimg_path = '/ownrock/public/images/advertiserimage/';
                  else
                    $aimg_path = '/zend/public/images/advertiserimage/';
                     
                  if($_SESSION['user']->profilepic=="")
                  {   
                    echo '<img width="400" height="400" src="/ownrock/public/images/advertiserimage/58345_tn120x120_profile.jpg" class="img-circle pull-left">';
                  }
                  else
                  {
                    $img_src = $aimg_path . str_replace('_pp_','_tn120x120_',$_SESSION['user']->profilepic);?>
                    <img class="img-circle pull-left" src="<?php echo $img_src;?>" width="400" height="400"> <span class="caret"></span><?php
                  }
                  
                ?>
                 </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">View Profile</a></li>
                  <li><a href="#">Edit Profile</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="<?php echo $this->url('user/home', array('action' => 'logout'))?>">Logout</a></li>
                </ul>
      </li>
                <li>
      
    </li>
    <?php } else {?>
      <li><a data-toggle="modal" data-target="#myModal1" href="#myModal">SIGN UP</a></li>
      <li><a data-toggle="modal" data-target="#myModal" href="#myModal" onClick="$('#forgot-password').hide();$('#login-block').show();">LOG IN</a></li>
      <li style="display:none;"><a id="reset" data-toggle="modal" data-target="#myModalreset" href="#myModalreset">Reset</a></li> 

    <?php } ?>  
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>     
      </div>
    </div>
   