<?php  
  $front_home_asset_path = '/public/front/dashboard/';
?>
<script src="<?php echo $front_home_asset_path;?>js/custom.js"></script>
<script src="<?php echo $front_home_asset_path;?>js/jquery.form.min.js"></script>
<script src="<?php echo $front_home_asset_path;?>js/jquery-ui.min.js"></script> 
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
    		<div class="col-lg-12 col-sm-12 col-xs-12">
    			<h1 class="pt-main-heading"><span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?></span>, Complete your profile in easy steps :)</h1>
    		</div>
        </div>
    	<div class="row">
    		<div class="col-lg-12 col-xs-12">    
    		<!-- Nav tabs -->
    			<ul class="nav nav-pills profile-step">
    				<li ><a href="javascript:void(0)"><icon class="fa fa-user"></icon> Step 1 </a> </li>
    				<li class="active"><a href="javascript:void(0)" ><i class="fa fa-user"></i> Step 2</a> </li>
    				<li><a href="javascript:void(0)"><i class="fa fa-user"></i> Step 3</a></li>
    			</ul>
    		 </div>
    	</div>
    	<div class="row" style="margin:25px 0;">
    		 <?php 
    		    //echo '<pre>';print_r($photographerdata);exit;
    		    $percent = 0;
    		    $show_percent = 0;
    		    if($photographerdata->profile_progress==1)
    		    {
    			$percent = $percent + 0.1;
    		    }
    		    if($photographerdata->total_albums>0)
    		    {
    			$percent = $percent + (0.15 * $photographerdata->total_albums);
    		    }
    		    if($percent>=1.0)
    		    {
    			$percent=1.0;
    		    }
    		    if($percent>0)
    		    {
    			$show_percent = $percent*100;
    		    }
    		?>
    		<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
    	</div>
       

        <form id="home_search" class="form-horizontal" method="POST" action="/user/photographer/createalbum" enctype="multipart/form-data">
            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Album Name</label>
                    <input class="form-control" placeholder="Album name goes here" name="album_name" id="album_name" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                    <span id = "name_error"></span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Tags</label>
                    <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor='#dce4ec'">
                        <?php foreach($album_Tags as $sk=>$sv) {?>
                            <option value="<?php echo $sk;?>"><?php echo $sv['tag'];?></option>
                        <?php } ?>
                    </select>
                    <div class="row">
                        <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                            <ul class="list-inline skills-home">
                                <?php foreach($album_Tags as $sk1=>$sv1) {?>
                                    <li><a href="javascript:select(<?php echo $sk1 ?>,'<?php echo $sv1['tag'] ?>');"><?php echo $sv1['tag'] ?></a>
                                    </li>
                                <?php } ?>
                            </ul>
                            <span id = "tags_error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group ">
                	<label>Album Description</label>
                    <input class="form-control" name="images_name" id="images_name" type = "hidden">
                    <input class="form-control" name="images_des" id="images_des" type = "hidden" >
                    <textarea class="form-control" rows="3" placeholder="Describe your Album here..." name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor='#dce4ec'"></textarea></textarea><span id = "textarea_error"></span><p class = "pull-right" >50 - 500 Words) Words Entered :  <span id ="characters">0</span></p>
                    <p id = "descriptionerr"></p>
                    
                </div>
            </div>
            <div class="col-lg-12"> 
                <div class="form-group ">                        
                	<input id = "original_next_button" type="button" class="btn btn-success pull-right space-left" value="Next" onclick="valid_album();" style="display:none">
            	</div>
            </div>
            
        </form>
          
		<div class="col-lg-12">
			<div class="form-group ">
				<div class="u-c--12o12 hide-in-mobile-app-v1-1" id="photos-uploader">
					<div >
						<div>
							<div id="upload-wrapper">
								<form enctype="multipart/form-data" name='imageform' role="form" id="imageform" method="post" action="user/photographer/uploadImg">
									 <div class="form-group">
										 <input class='file' multiple="multiple" type="file" class="form-control" name="images[]" id="images" placeholder="Please choose your image" style="display:none;">
										<span class="help-block"></span>
									</div>
									<div id="loader1" style="display: none;">Please wait...</div>
									<p class="text-center" style="margin:0 0 8px 0px;display:none" id="loader">
									    <img src="public/images/loader.gif" alt=""/>
									</p>
									<input type="submit" value="Upload" name="image_upload" id="image_upload" class="btn" style="display:none;"/>
								</form>
							</div>
						</div>                         
				       </div>
				</div>
			</div>
		</div>
				
		<span id = "images_error"></span>
		<div class="row" id = "album_div">
			<div class="col-lg-12">
				<div class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">Photo<button id="add_more_photos"  class="btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i> Add more photos</button></div>
						<div class="panel-body">
							<div class="row">
								<div id="uploaded_images" class="uploaded-images">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input id = "duplicate_next_button" type="button" class="btn btn-success pull-right space-left" value="Next">
		<a href = "user/photographer/invitefriends" class="btn btn-success pull-right">Skip</a>
    </div>
</section>



<script>
(function() {
    jQuery('#imageform').ajaxForm({
        beforeSubmit: function() {  
            var count = 0;
            var total_images = 0;
            var length = 0;
            $('#images_error').html("");
            var val = jQuery.trim( jQuery('#images').val() );
            //alert(val);
            var oldvalue = jQuery.trim( jQuery('#images_name').val() );
            //alert(value);
            if(oldvalue == "")
            {
            	length = 0;
            	//alert(length);
            }
            else
            {
            	var words = oldvalue.split(",");
            	var length = words.length;
            	//alert(length);
            }

    		var total_images = length + jQuery('#images').get(0).files.length;
    	

    		if(total_images > 30)
    		{
        		$("#images_error").css('color', '#FF0000');
				$('#images_error').html("Please select atmost 30 images.");
				return false;
    		}
    		

    		

            console.log(val);
            
            if( val == '' ){
                count= 1;
                $("#images_error").css('color', '#FF0000');
				$('#images_error').html("Please select your images");
                jQuery( "#images" ).next('span').html( "Please select your images" );
            }
            
            if(count == 0){
                for (var i = 0; i < jQuery('#images').get(0).files.length; ++i) {
                    img = jQuery('#images').get(0).files[i].name;
                    var extension = img.split('.').pop().toUpperCase();
                    if(extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                        count= count+ 1
                    }
                }
                if( count> 0) 
                {
            		$("#images_error").css('color', '#FF0000');
					$('#images_error').html("Please select valid images");
        	} 
            }   
            
            if( count> 0){
                return false;
            } else {
                jQuery( "#images" ).next('span').html( "" );
            }                        
        },
        
        beforeSend:function(){
           	jQuery('#loader').show();
           	//jQuery('#image_upload').hide();
           	
        },
        success: function(msg) {
        },
        complete: function(xhr) {
            var product_images= [];
            jQuery('#loader').hide();
            //jQuery('#image_upload').show();
            
            jQuery('#images').val('');
            jQuery('#error_div').html('');
            result = xhr.responseText;
            result = jQuery.parseJSON(result);
            base_path = jQuery('#base_path').val();
            jQuery.each(result, function(index, value)
            {
            	product_images.push(value.name);
                
                //alert(value);

                if( value.success ){
                    name = 'public/images/photographer/uploads/'+value.success;               
                    html = '';
                    //html+= '<li style="float: left; padding: 2px; border: 1px dotted gray;"  id="sp_'+value.unique_id+'"><span><image src="'+name+'"><input type="hidden" value="'+value.unique_id+'" name="product_images[]" class="product_images"><br /><a href="javascript:void(0);" title="Delete image" onclick="deleteimg('+value.unique_id+')">[Delete]</a></span></li>';

                    html+='<div id="img_'+value.unique_id+'" class="col-lg-4 col-sm-6 col-xs-12"><div class="thumbnail album-desc"><a class="pull-right btn-dismiss" title="Delete image" href="javascript:void(0)" onclick="delete_image('+value.unique_id+',\''+value.name+'\');">x</a><img id="sp_'+value.unique_id+'" alt="Photographer" title="Photographer" class="img-responsive" src="'+name+'"><textarea placeholder="Say somthing about this photo...." class="form-control" id="des_'+value.unique_id+'" ></textarea></div></div>';
                    jQuery('#uploaded_images').append( html );

                } else if( value.error ){
                    error = value.error
                    html = '';
                    html+='<p>'+error+'</p>';
                    jQuery('#uploaded_images #error_div').append(html);
                }               
            });
			
			oldvalue = jQuery.trim( jQuery('#images_name').val() );
			if(oldvalue == "")
        	{	
        		jQuery('#images_name').val(product_images);
        	}
        	else
        	{
                oldvalue = oldvalue.replace(/^,|,$/g,'');
				old_array = oldvalue.split(",");
				//alert(old_array);
				//alert(product_images);
				product_images = $.merge( $.merge( [], old_array ), product_images );
	            jQuery('#images_name').val(product_images);
	            //alert(product_images);
        	}
        }
    });     
})(); 
</script>

<script>
	$('#add_more_photos').click(function () {
		$("#images").replaceWith($("#images").clone());
		$('#images').click();
		
		$('#images').change(function () {
			$('#image_upload').click();
		});
	});

	$('#duplicate_next_button').click(function () {
	$('#original_next_button').click();
	});
</script>
<script>

/*function delete_image(id, name)
{	
	//alert(id+'==='+name); return false;
	jQuery("#img_"+id).remove();
	var oldvalue = $.trim( $('#images_name').val() );
	var newstring = $.trim(oldvalue.replace(name,""),',');
	newstring = newstring.replace(",,",",");
	$("#images_name").val("");
	$('#images_name').val(newstring);
    alert('delete');
}*/


function delete_image(id, name)
{	//alert(name);
	//jQuery("#img_"+id).remove();
	var reg_url= site_url+'/user/photographer/deleteImg';
    //var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
    $.ajax({
       url: reg_url,
       error: function() {
          $('#info').html('<p>An error has occurred</p>');
       },
       data: {id: id, name: name},
       beforeSend: function() {
            $('#loader').show();
       },
       success: function(data) {
			$('#loader').hide();
			
          if(data.response === 'failed'){
              alert('Image not deleted An error has occurred!');
          }else{
			var oldvalue = $.trim( $('#images_name').val() );
			var newstring = oldvalue.replace(name,"");
			newstring = newstring.replace(",,",",");
			newstring = newstring.replace(/^,|,$/g,'');
			$("#images_name").val("");
			$('#images_name').val(newstring);
              //alert('delete');
              jQuery("#img_"+id).remove();
          }
          
       },
       type: 'POST',
       dataType: 'json',
    });
}
</script>
<script>
    var length;
    if($('#description').val()=='')
    {
        length = 0;
    }
    else
    {
        string = $('#description').val();
        string = string.replace(/(^\s*)|(\s*$)/gi,"");
        string = string.replace(/[ ]{2,}/gi," ");
        string = string.replace(/\n /,"\n");
        length = string.split(' ').length;
    }
    $('#characters').html(length);
    $('#description').keyup(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        $('#characters').html(length);
        if(length>500)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("Album description can't be more than 500 words long.");
        }
        
    });

    $( "#description" ).blur(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        //$('#characters').html(length);
        if(length<50)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("Album description should be min 50 words long.");
        }
        else if(length>500)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("Album description can't be more than 500 words long.");
        }
        else
        {
          $('#textarea_error').html("");
        }    
    });
</script>















