

<!--Page main section start-->
<?php
$form = $this->form;
$form->SetAttribute('action', $this->url(NULL, array('controller' => 'campaigns', 'action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('campaign_id'));
$form->setAttribute('method', 'post');
?>

<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">Form Wizards</h3>
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Form Staffs</a></li>
                        <li class="active">Form Wizards</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Info</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form id="formid2" class="formular form-horizontal ls_form" method="post" action="">
                                        <div id="wizard" class="swMain">
                                            <ul>
                                                <li>
                                                    <a href="#step-Login">
                                                        <span class="stepNumber">1</span>
                                                        <span class="stepDesc">
                                                            Step 1<br/>
                                                            <small>Login info</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-user">
                                                        <span class="stepNumber">2</span>
                                                        <span class="stepDesc">
                                                            Step 2<br/>
                                                            <small>user info</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-bio">
                                                        <span class="stepNumber">3</span>
                                                        <span class="stepDesc">
                                                            Step 3<br/>
                                                            <small>User bio</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-loc">
                                                        <span class="stepNumber">4</span>
                                                        <span class="stepDesc">
                                                            Step 4<br/>
                                                            <small>User Location</small>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#step-Agreement">
                                                        <span class="stepNumber">5</span>
                                                        <span class="stepDesc">
                                                            Step 5<br/>
                                                            <small>Agreement</small>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div id="step-Login">
                                                <h2 class="StepTitle">Login Information</h2>

                                                <div class="container-fluid">
                                                    <div class="row ">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Username</label>

                                                            <div class="col-md-10">
                                                                <input class="form-control validate[required] text-input" 
                                                                <?php echo $this->formRow($form->get('MerchantName')); ?>         
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row ">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Password: </label>

                                                            <div class="col-md-10">
                                                                <input placeholder="write your password" value=""
                                                                       class="form-control validate[required] text-input"
                                                                       type="password" name="password" id="password1"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Confirm Password: </label>

                                                            <div class="col-md-10">
                                                                <input placeholder="same password in here" value=""
                                                                       class="form-control validate[required,equals[password]] text-input"
                                                                       type="password" name="password2" id="password12">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="step-user">
                                                <h2 class="StepTitle">User Information</h2>

                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Name:* </label>
                                                            <div class="col-md-10">
                                                                <input class="form-control validate[required] text-input" 
                                                                <?php echo $this->formRow($form->get('MerchantName')); ?>         
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Phone:* </label>

                                                        <div class="col-md-10">
                                                            <input class="validate[required,custom[phone]] form-control"
                                                            <?php echo $this->formRow($form->get('phonenumber')); ?>         

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Email:* </label>

                                                        <div class="col-md-10">
                                                            <input 
                                                                class="validate[required,custom[email]] form-control"
                                                                <?php echo $this->formRow($form->get('email')); ?>         

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="step-bio">


                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <h2 class="StepTitle">More Information</h2>
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Profile URL:* </label>

                                                            <div class="col-md-10">
                                                                <input 
                                                                    class="validate[required,custom[url]] form-control"
                                                                    <?php echo $this->formRow($form->get('websiteUrl')); ?>         

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Logo:* </label>

                                                        <div class="col-md-10">

                                                            <?php echo $this->formRow($form->get('preview')); ?>      
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Payout:* </label>

                                                        <div class="col-md-10">

                                                            <?php echo $this->formRow($form->get('payout')); ?>      
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Categories:* </label>

                                                        <div class="col-md-10">

                                                            <?php echo $this->formRow($form->get('categories')); ?>      
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">Description:* </label>

                                                        <div class="col-md-10">
                                                            <?php echo $this->formRow($form->get('description')); ?>  


<!--- <span class="help_text">Write something about your company</span> --->
                                                        </div>                                                                </div>
                                                </div>

                                            </div>



                                            <div id="step-loc">
                                                        <?php echo $this->render('user/campaigns/addaddress.phtml') ?>

                                                
                                            </div>

                                            <div id="step-Agreement">


                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h2 class="StepTitle">Agreement</h2>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                                commodo consequat.
                                                                Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                                cillum dolore eu fugiat nulla pariatur.
                                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                                officia deserunt mollit anim id est laborum.
                                                            </p>

                                                            <p>
                                                                <input type="checkbox" value="" name="agree"> I agree
                                                            </p>

                                                            <p>
                                                                <button type="submit" class="btn-primary btn">Create Profile
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End SmartWizard Content -->


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Main Content Element  End-->
