
.footer_grid ul li a{
	padding: 3% 0%;
	border-bottom: 1px solid #999;
	display: block;
	margin-left: 0px;
	padding-left: 0px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.mar_bootum{
	padding: 3% 0% 3% 0%;
	font-size: 18px;
	text-align: left;
}
.footer_grid ul li a:hover{
	color: #06C; 
	transition: all 0.5s ease 0s;
	border-bottom: none;
}