<?php $front_home_asset_path = "/public/front/dashboard/";  
//echo '<pre>';print_r($_POST);
//print_r($_POST['tags']) ;

 ?>
  <?php 
  foreach($skills as $value)
  {
    
    if(!empty($_POST['tags']))
    {
      $selected='';
      if (in_array($value['skillId'], $_POST['tags']))
      {
        $selected = "selected";
      }
    }
    $merchant_suggestion = $merchant_suggestion.'<option value="'.$value['skillId'].'" '.$selected.'>'.$value['skill'].'</option>';
  }
  foreach($tags as $value)
  {
    if(!empty($_POST['tags']))
    {
      $selected='';
      if (in_array($value['tag_id'], $_POST['tags']))
      {
        $selected = "selected";
      }
    }
    $pg_suggestion = $pg_suggestion.'<option value="'.$value['tag_id'].'" '.$selected.'>'.$value['tag'].'</option>';
  }
///echo '<pre>';print_r($skills);exit; 
?>

<script src="<?php echo $front_home_asset_path;?>js/jquery.tokenize.js"></script>
<link href="<?php echo $front_home_asset_path;?>css/jquery.tokenize.css" rel="stylesheet">

<script src="<?php echo $front_home_asset_path;?>js/jquery.raty.js"></script>
<script src="<?php echo $front_home_asset_path;?>js/jquery.tokenize.js"></script>
 <script>
  $.fn.raty.defaults.path = 'public/images/star_rating_images';
</script>

<div class="p-search-header">
  <section class="profile-type">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <h1 class="pt-main-heading">Find and <span class="color-mark">Hire</span></h1>
        </div>
      </div>
    <!--page main heading end here-->
    </div>

  </section>
  <!--========='Start Search Bar'===========-->
  <section id="search-bar">
    <div class="container">
      <div class="row">    
        <div class="col-centered col-lg-8">
          <div class="input-group">
            <div class="input-group-btn search-panel">
              <button type="button" id = 'filterval' class="btn btn-success dropdown-toggle" value="1" data-toggle="dropdown">
                <?php if($_POST['category'] !="")
                {

                  echo '<span id="filterby">'.$_POST["category"].'</span> <span class="caret"></span>';
                }
                else
                {
                  echo '<span id="filterby">Merchant</span> <span class="caret"></span>';
                }
                ?>
              </button>
              <ul class="dropdown-menu" role="menu">
              <li><a href="javascript:void(0)" onclick="filter(1,'Merchant');">Merchant</a></li>
               <li><a href="javascript:void(0)" onclick="filter(2,'Photographer');">Photographer</a></li>
              </ul>
            </div>
            


            <select id="tokenize_placeholder" multiple="multiple" class="tokenize-sample mr_tokenize" placeholder=" What skill are you looking at ?" style ="display:none; width:100%;" >
              <?php echo $merchant_suggestion; ?>
            </select>
            <select id="tokenize_placeholder" multiple="multiple" class="tokenize-sample pg_tokenize" placeholder=" What skill are you looking at ?" style ="display:none; width:100%;">
              <?php echo $pg_suggestion; ?>
            </select>
   
            <input type="hidden" id="search-keyword" name="keyword" class="original" style="width:100%";/>
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" onclick="search(0);">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="search-bar">
  <div class="container">
    <div class="row">
      <div class="left-filter col-lg-3 col-sm-3 col-xs-12">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Sort By</label>
            <div class="col-sm-8">
              <div class="dropdown">
                <button class="btn btn-sm btn-success  btn-block dropdown-toggle" value="0" type="button" id="search_sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onchange = "search();">Best Match <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" onclick="sort_record_by(0,'Best Match'); ">Best Match</a></li>
                  
                  <li><a href="javascript:void(0)" onclick="sort_record_by(1,'Most Expensive');">Most Expensive</a></li>
                  
                  <li><a href="javascript:void(0)" onclick="sort_record_by(2,'Least Expensive');">Least Expensive</a></li>
                  
                  <li><a href="javascript:void(0)" onclick="sort_record_by(3,'Recently Added');">Recently Added</a></li>     
                </ul>        
              </div>
            </div>
          </div>
          <div class="form-group range-slier">
            <label for="inputPassword3" class="col-sm-4 control-label" >Hourly</label>
            <div class="col-sm-8">
              <input id="slider4" type="text" onmouseup="search(0);">
            </div>
          </div>
          
          <!--<div class="form-group">
            <label class="col-lg-12 ">Type</label>
            <div class="col-lg-12">
              <label class="checkbox-inline">
                <input type="checkbox" name="inlineCheckbox1" value="0">Individual
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" name="inlineCheckbox1" value="1">Company
              </label>
            </div>
          </div>-->
          <div class="form-group">
            <label for="Location" class="col-sm-4 control-label">Location</label>
            <div class="col-sm-8">
            <?php if($_POST['full_country'] !="")
                {
                  echo '<input type="text" name="full_country" placeholder="Location" class="form-username ff_elem form-control" id="full_country" onchange="search(0);" value = "'.$_POST["full_country"].'" />
                  <input id="location"  name="location" type="hidden" value = "'.$_POST["full_country"].'" />';
                 
                }
                else
                {
                   echo '<input type="text" name="full_country" placeholder="Location" class="form-username ff_elem form-control" id="full_country" onchange="search(0);" /><input id="location"  name="location" type="hidden" value = "'.$_POST["full_country"].'" />';
                }
                ?>
            

              <input id="location"  name="location" type="hidden" ><p id = "locationerr" ></p>
            </div>
          </div>
        </form>
      </div>
      <!--=========' End left filter block'===========-->   
      <div class="col-lg-8 col-sm-9 col-xs-12 pull-right">
        <div id = "search-result" >
          <!--========='Start Profile block'===========--> 
            
        </div>
        <p class="text-center" style="margin:0 0 8px 0px; display:none;" id="loader">
              <img src="public/images/loader.gif" alt=""/>
            </p>
        <div id="loadmorebtn" class = "text-center">
          <input type= "hidden" value=0 id = "search-offset"/>
          <button class="btn btn-success" id="search" name="button" type="button" onclick="offset();"> Load More </button>
        </div>
      </div>
    </div>
  </div>


</section >


<!--=========' End left filter block'===========-->   

<link rel="stylesheet" href="/public/front/dashboard/css/star-rating.css">
<script type="text/javascript" src="/public/front/dashboard/js/star-rating.js"></script>

<script>   
 

function offset()
{
  var offset = parseInt($("#search-offset").val());
  offset = offset + 3;
  $("#search-offset").val(offset);
  search(offset);
}

function search(offset)
{
  var keyword = $("#search-keyword").val();
  var category = $("#filterval").val();
  //offset = parseInt($("#search-offset").val());
  //alert(keyword);
  var sortby = $("#search_sort").val();
  var fromrate = $(".xdsoft_range2dslider_runner0 span").html();
  var torate = $(".xdsoft_range2dslider_runner1 span").html();
  //var type = 0;
  var location = $("#location").val();
  
  if(offset == 0)
  {
    $("#search-result").html('');
  }
  
  //$("#search-result").html('');
  /*$('input:checkbox[name=inlineCheckbox1]:checked').each(function() 
    {
       type[$(this).val()] = $(this).val();
    });
  alert(type);*/
  

  var reg_url= site_url+'/user/home/searchuser';
  $.ajax({
     url: reg_url,
     error: function() {
        alert('<p>An error has occurred</p>');
     },
     //data: {keyword: keyword, location :location, fromrate :fromrate, torate :torate, sortby :sortby, type :type, offset :offset},
     data: {keyword:keyword, location:location, fromrate:fromrate, torate:torate, sortby:sortby, offset:offset, category:category},
     beforeSend: function() {
      $('#loader').show();
      $("#loadmorebtn").hide();
     },
     success: function(data) {
        $('#loader').hide();
               
        if(data.response == 'failed')
        {
          alert('Some error occured!');    
        }
        else
        {    
          //alert(data.total_count);
          if(parseInt(data.total_count) <= 3)
          {
            $("#loadmorebtn").hide();
          }
          else
          {
            $("#loadmorebtn").show();
          }     
          if(parseInt(data.total_count) >=  0)
          {
            $("#search-response-total").html("Total "+data.total_count+" records found!");
          }
          if(data.response != "")
          {
            $("#search-result").append(data.response);
          }
          else
          {
            $("#search-result").html("No Record Found");
          }
        }
     },
     type: 'POST',
     dataType: 'json',
  });
}



</script>
<script>
function filter(val, name)
{
  $("#filterval").val(val);
  $("#filterby").html(name );
  // alert(name);
  var searchby = $("#filterby").html();

  if(searchby == 'Merchant')
  {
    $('.mr_tokenize ').tokenize();
    $('.Placeholder').html('What skill are you looking at ?');
    $(".pg_tokenize.Tokenize").css('display','none');
    $(".mr_tokenize.Tokenize").css('display','inline-block');
  } 
  if(searchby == 'Photographer')
  {
    $('.pg_tokenize').tokenize();
    $('.Placeholder').html('What skill are you looking at ?');  
    $(".mr_tokenize.Tokenize").css('display','none');
    $(".pg_tokenize.Tokenize").css('display','inline-block');
  }
}

$(document).ready(function(){
  filter(2,'Photographer');
  search(0);
});

function sort_record_by(sort_by,sort_by_str)
{
  
  $("#search_sort").val(sort_by);
  $("#search_sort").html(sort_by_str +" "+" <span class='caret'></span>");
  search(0);
  //homeSearch(sort_by,sort_by_str);
}


</script>
<script>
$('select#tokenize2').tokenize({datas:"https://www.zellerda.com/projects/tokenize_json"});</script>
<link rel="stylesheet" href="/public/front/dashboard/css/jquery.range2dslider.css">
<script type="text/javascript" src="/public/front/dashboard/js/jquery.range2dslider.js"></script>
<script>
  $('#slider4').range2DSlider({
    template:'horizontal',
    value:[[0,0],[3000,0]],
    onlyGridPoint:true,
    round:true,
    axis:[[0,10000]]
  });
</script>
<script>

</script>
