<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Portfolio Template 2</title>
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="css/bootstrap.css" rel="stylesheet">
<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!-- Custom CSS -->
<link href="css/freelancer.css" rel="stylesheet">
<!-- Custom Fonts -->
<link rel="stylesheet" type="text/css" href="css/main.css">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<!-- Navigation --> 

<!-- Header -->
<header >
  <div class="home-bg">
    <div class="container-full menuset-home">
      <div class="container" style="padding:0px">
      
      
      <nav class="navbar navbar-default y-set-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand y-brand" href="#">Own Rock</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user-profile.html">SIGN UP</a></li>
                <li><a href="about-me.html">LOG IN</a></li>
                <li><a href="add-ne- project.html">Contact</a></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      
       
      </div>
    </div>
    <div class="container text-center y-set-top">
      <div class="row">
        <div class="col-lg-12">
          <div class="home-text search">
            <h1>Yaman Dhuliye</h1>
            </div>
        </div>
      </div>
    </div>
  
</header>

<section style="padding:0px">
<div class="user-folio">
<div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Item Subheading</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                
                <img class="img-responsive" src="img/profile-prort.jpg" width="750" height="500">
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    
                    <img class="img-responsive portfolio-item" src="img/profile-prort2.JPG" width="500" height="300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                      <img class="img-responsive portfolio-item" src="img/profile-prort2.JPG" width="500" height="300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                     <img class="img-responsive portfolio-item" src="img/profile-prort2.JPG" width="500" height="300">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                      <img class="img-responsive portfolio-item" src="img/profile-prort2.JPG" width="500" height="300">
                </a>
            </div>

        </div>
        <!-- /.row -->
        <hr>
        <div class="polo-section" >

     <div class="row">
                <div class="col-md-3 col-sm-3">
                                       
                    <div class="user-wrapper">
                       
                        <img src="img/user-img.jpg" class="img-responsive" width="620" height="400">
                    <div class="description">
                       <h4> Ramolin Leomarid</h4>
                        <h5> <strong> Website Designer </strong></h5>
                       
                        <p>
                            <strong>Cost:$2,500 - $5,000</strong>
                        </p>
                        <hr>
                        <h4>Think my work is awesome?</h4>
                        <a href="#" class="btn btn-danger btn-sm"> <i class="fa fa-user-plus"></i> Click Here to Hire Me </a> 
                    </div>
                     </div>
                </div>
                
                <div class="col-md-9 col-sm-9  user-wrapper">
                    <div class="description">
                         <h3> Role </h3>
                  
                     <p>Responsive eCommerce Website Design and Development!</p>
                         
                         <hr>  
                  
                  
                   <h3> Specialty</h3>
                    <p>Responsive Websites in Wordpress</p> 
                          <hr>  
                       <h3> Skills</h3>
                   <ul class="list-inline skill">
      <li>Logo Design</li>
      <li>HTML</li>
      <li>Graphic</li>
      <li>UI</li>
      <li>Responsive</li>
      <li>Web Development</li>
      <li>Mobile App</li>
      <li>WordPress</li>
      <li>CSS</li>
      <li>PHP</li>
      <li>Ecommerce</li>
      <li>Web Design</li>
</ul>
                    </div>
                 
                </div>
            </div>
</div>
    </div>
</div>
</section>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>3481 Melrose Place<br>
            Beverly Hills, CA 90210</p>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a> </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Us</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
      </div>
    </div>
  </div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Your image</h4>
      </div>
      <div class="modal-body"> <span class="btn btn-default btn-file y-file"> Browse
        <input type="file">
        </span> </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- /.modal --> 
<!-- Bootstrap core JavaScript
<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 

<!-- Plugin JavaScript --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
<script src="js/classie.js"></script> 
<script src="js/cbpAnimatedHeader.js"></script> 

<!-- Contact Form JavaScript --> 

<script src="js/contact_me.js"></script> 

<!-- Custom Theme JavaScript --> 
<script src="js/freelancer.js"></script>
</body>
</html>
