<?php
$title = 'Add new projects';
$this->headTitle($title);

$form->SetAttribute('action', $this->url(NULL, array('controller' => 'project', 'action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('project_id'));
?>
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <!--<h3 class="ls-top-header">Sample Form</h3>-->
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="<?php echo $this->url('user/projectmanager', array('action' => 'index'));?>">List of Projects</a></li>
                        <li class="active">Add</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add new project</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form">
                                <div class="form-group">
                                    <label>User Id</label>
                                    <?php echo $this->formRow($form->get('user_name')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <?php echo $this->formRow($form->get('project_name')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Project Shortcut</label>
                                    <?php echo $this->formRow($form->get('project_shortcut')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Write about your project</label>
                                    <?php echo $this->formRow($form->get('about')); ?>

                                </div>
                                <div class="form-group">
                                    <label>Website Url</label>
                                    <?php echo $this->formRow($form->get('website_url')); ?>

                                </div>
                                
                                 <div class="form-group">
                                    <label>Industry</label>
                                    <?php echo $this->formRow($form->get('industry')); ?>

                                </div>
                                
                                  <div class="form-group">
                                    <label>Role</label>
                                    <?php echo $this->formRow($form->get('role')); ?>

                                </div>
                                
                                 <div class="form-group">
                                    <label>Time</label>
                                    <?php echo $this->formRow($form->get('time')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>Cost</label>
                                    <?php echo $this->formRow($form->get('cost')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>Endorsement</label>
                                    <?php echo $this->formRow($form->get('endorsement')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>Stars</label>
                                    <?php echo $this->formRow($form->get('stars')); ?>

                                </div>
                                
                                  <div class="form-group">
                                    <label>Quality Stars</label>
                                    <?php echo $this->formRow($form->get('quality')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>Effective Cost Star</label>
                                    <?php echo $this->formRow($form->get('effective_cost')); ?>

                                </div>
                                <div class="form-group">
                                    <label>Time Star</label>
                                    <?php echo $this->formRow($form->get('effective_time')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Experience Star</label>
                                    <?php echo $this->formRow($form->get('experience')); ?>
                                </div>
                                
                                <div class="form-group">
                                    <label>Communication Star</label>
                                    <?php echo $this->formRow($form->get('communication')); ?>
                                </div>
                                
                                <?php /*
                                <div class="form-group">
                                    <label>Upload Pic <?php //echo $i;?></label>
                                    <?php echo $this->formRow($form->get("projectpic")); ?>
                                </div>*/?>
                                
                                <?php  for($i=1;$i<6;$i++){?>
                                    <div class="form-group">
                                        <label>Upload Pic <?php echo $i;?></label>
                                        <?php echo $this->formRow($form->get("projectpic$i")); ?>
                                    </div>
                                <?php } ?>
                                
                                <div class="form-group">
                                    <label></label>
                                    <?php echo $this->formRow($form->get('added_by')); ?>
                                </div>
                                
                                <div class="checkbox i-checks">
                                    <label>
                                        <input type="checkbox" name="check_out" checked="checked">
                                        <i></i> Check me out
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

