<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Cashvasool</title>
        <link rel="stylesheet" type="text/css" href="/zend/public/css/css/style.css"/>
        <link href="/zend/public/css/css/megaStyle.css" rel="stylesheet" type="text/css" />
        <!--back to top-->
        <link rel="stylesheet" media="screen,projection" href="/zend/public/css/css/ui.totop.css" />
        <!--end back to top-->
        <link rel="stylesheet" href="/zend/public/css/css/styles_dwonp.css"/>
        <link rel="stylesheet" href="/zend/public/css/css/extra/style.css"/>
        <script type='text/javascript' src="/zend/public/css/js/jquery.js"></script>
        <script type="text/javascript" src="/zend/public/css/js/plugins.js"></script>
        <link rel="stylesheet" type="text/css" href="/zend/public/css/css/style_slider.css"/>
        <link rel="icon" href="favicon.png" type="/zend/public/css/image/x-icon" />
        <link rel="stylesheet" href="/zend/public/css/css/jquery-ui.css"/>
        <link href="/zend/public/css/css/jquery.bxslider.css" rel="stylesheet" />
        <link rel="stylesheet" href="/zend/public/css/source/colorbox.css" />
        <link href="/zend/public/css/css/style_banner.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/zend/public/css/css/flexslider.css" type="text/css" media="screen" />
    </head>

    <body>

        <header class="fw fl"> 
            <div class="header">
                <div class="header_top">
                    <div class="Howtop_bar">
                        <div class="container">
                            <div class="top_menu">
                                <ul class="main_ul">
                                    <li><a href="how_cashvasool.html">How It Works</a></li>
                                    <li><a href="refer_friend.html">Refer friend</a></li>
                                    <li><a href="all_stores.html">All stores</a></li>
                                    <li><a href="testimonial.html">Testimonial</a></li>
                                    <li><a href="contactus.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="logo" style="margin-left:80px; margin-top:20px;">
                                <h2><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'index')); ?>"><img src="/zend/public/css/images/logo.png"  alt="logo" border="0" class="imgeffect"/></a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="container">
                    <!--PopupBox-->
                    <div style='display:none'>
                        <div class="PopupBox" id="popbox">
                            <div class="left_popbox">
                                <h2>Join India's No.1 Cashback & Coupon website</h2>
                                <div class="Joinlist">
                                    <ul>
                                        <li>Join Free in under 15 Seconds</li>
                                        <li>We pay you CASHBACK on top of Coupons, making us better than any other coupon site!</li>
                                        <li>Save money at Snapdeal, Myntra, Yebhi, Yatra & 500 more top brands</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>
                                <a class='iframe' href="popup2.html" >
                                    <div class="btn_sign">Signup- Start Earning</div>
                                </a> 
                                <br /> <br />
                            </div>
                            <div class="right_formbox">
                                <h2>Existing Members login</h2>
                                <p><img src="/zend/public/css/images/1.jpg" width="291" height="73" border="0" style="margin-top:10px;" />
                            </div>

                            <input type="text"   value="Email" onblur="if (this.value == '') {
                                        this.value = 'Email';
                                    }" onfocus="if (this.value == 'Email') {
                                                this.value = '';
                                            }" class="P_emailbox"/>

                            <input type="text"   value="Password" onblur="if (this.value == '') {
                                        this.value = 'Password';
                                    }" onfocus="if (this.value == 'Password') {
                                                this.value = '';
                                            }" class="P_emailbox"/><br />

                            <span class="forgotPassword">Forgot Password?</span><br />
                            <input name="check" type="checkbox" value="check" style="margin-left:40px; margin-top:10px;" />Keep me signed in
                            <a href="#"><div class="Signup_btn">Sign up </div></a>
                            <div class="clear"></div>
                            <hr / style="border-left: 1px solid #c1c1c1;">
                                <div class="clear"></div>
                                <div style=" font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#039; line-height:35px;">SAVE MONEY at 500+ brands - why pay more when you can pay less?</div>
                                <img src="images/logos11.jpg" width="784" height="56"  border="0"/></div>
                    </div>
                </div>
            </div>

            <div class="header_bottom">
                <div class="header_menubg">
                    <div class="container">
                        <ul class="mee">
                            <li style="border:none;"><a href="#">Browse Catagories</a> 
                                <div >
                                    <div class="radio_list_menu">
                                        <ul>
                                            <li><input name="radio" type="radio" value="radio" /> All offers </li>
                                            <li><input name="radio" type="radio" value="radio" /> Online offers </li>
                                        </ul>
                                    </div>
                                    <div class="mee-column">
                                        <h3>Electronics </h3>
                                        <ul>
                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>



                                    <div class="mee-column">

                                        <h3>Men</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>





                                    <div class="mee-column">

                                        <h3>Women</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>







                                    <div class="mee-column">

                                        <h3>Baby & Kids</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>



                                        </ul>

                                    </div>





                                    <div class="mee-column">

                                        <h3>Other Categories</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>



                                        </ul>

                                    </div>



                                </div>

                            </li>

                            <li><a href="#">Hot offers</a>

                                <div>

                                    <div class="mee-column">

                                        <h3>Top Cashback</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>



                                    <div class="mee-column">

                                        <h3>Top Coupon / Vouchers</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>

                                    <div class="mee-column">

                                        <h3>Top Sale Offers</h3>

                                        <ul>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">Brass Handle</a></li>

                                            <li><a href="productview.html">+All</a></li>

                                        </ul>

                                    </div>







                                </div>         

                            </li>





                            <li><a href="#">Stores</a>

                                <div style="width:60%;">



                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>

                                            <li><a href="#">Flipkart </a></li>

                                            <li><a href="#">Snapdeal </a></li>

                                            <li><a href="#">Bigrock </a></li>

                                            <li><a href="#"> Expedia </a></li>

                                            <li><a href="#">Yatra </a></li>


                                        </ul>

                                    </div>

                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>
                                            <li><a href="#"> Junglee </a></li>

                                            <li><a href="#">Myntra </a></li>

                                            <li><a href="#"> Redbus </a></li>

                                            <li><a href="#"> Amazon </a></li>

                                            <li><a href="#">Goibibo </a></li>

                                        </ul>

                                    </div>


                                    <div class="mee-column">
                                        <!-- <h3>In Mall</h3>-->
                                        <ul>
                                            <li><a href="#">Jabong </a></li>
                                            <li><a href="#">Godaddy </a></li>
                                            <li><a href="#"> Shopclues </a></li>
                                            <li><a href="#">Jet Airways </a></li>
                                            <li><a href="#">Fabfurnish </a></li>
                                        </ul>

                                    </div>




                                    <div class="mee-column">
                                        <!-- <h3>In Local Stores</h3>-->
                                        <ul>
                                            <li><a href="#">Zivame </a></li>
                                            <li><a href="#">Ebay </a></li>
                                            <li><a href="#">Makemytrip </a></li>
                                            <li><a href="#">Dominos </a></li>
                                            <li><a href="#">Homeshop18</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </li>

                            <div class="join_btnbox">
                                <ul>
                                    <li><a class='inline' href="#popbox">Sign in</a></li>
                                    <li><a href="joinus.html"> Join Us</a></li>
                                </ul>
                            </div>

                            <li><a href="#">Latest offers</a></li>
                            <!-- <li><a href="#">Popular Retailer</a></li>
                             <li><a href="#">Compare</a></li>-->

                        </ul>






                    </div>



                </div>

                <!-- Search-->
                <div class="container">  
                    <div style="width:100%; height:50px; margin-top:15px;"> 
                        <div style="text-align:left;">
                            <div class="col"><img src="images/c1.jpg"  border="0"/></div>
                            <input name="x" type="text" value="Search your favourite Stores or Category" onblur="if (this.value == '') {
                                        this.value = 'Search your favourite Stores or Category';
                                    }" onfocus="if (this.value == 'Search your favourite Stores or Category') {
                                                this.value = '';
                                            }" class="search_input"/> 
                            <input name="Search" type="button" value="Search" class="search_btn"/>
                            <a href="deals.html"><input name="Browse" type="button" value="Deals of the Day" class="Browse_btn"/></a>
                        </div>
                    </div>
                    <!-- end Search-->

                </div>
        </header>
        <div class="clear"></div>
        <a href="#" class="needhelp">Need Help?</a>
        <div class="container" > 
            <!--couponsbox-->
            <div class="couponsbox">
                <!--left_coupons-->
                <div class="left_coupons">
                    <!--Coupons_box-->
                    <?php foreach ($onlinecoupontable as $coupon) : ?>
                        <div class="Coupons_box">
                            <?php
                            $merchanttable = $merchantinfoTable->selectMerchantname($coupon->merchant);
                            foreach ($merchanttable as $table) : {
                             $element = $this->img('/zend/public/css/images/' . $table->logourl, array('width' => 170, 'height' => 78, 'border' => 0, 'style' => "float:left;",)); 
                                }
                            endforeach      
                            ?>
                            <div class="offer_logo"><a href="#"> <?php echo $this->formImage($element); ?> </a></div>
                            <div class="offer_textbox">
                                <h2><a href="#"><span>Offer</span>- <?php echo $this->escapeHtml($coupon->longdescription); ?></a></h2>
                                <div class="madiletext">
                                    <span><?php echo $this->escapeHtml($coupon->longdescription); ?></span> 
                                </div>
                                <h5><a class='inline11' href="#iframe"><img src="/zend/public/css/images/how.jpg" border="0" align="left"/>
                                        &nbsp; How to get this offer</a> 
                                    <span class="rr"> <img src="/zend/public/css/images/ex.jpg" border="0" align="absmiddle" style="margin-left:20px;"/> Expires in 4 days </span></h5>
                                <div style='display:none'>
                                    <div class="PopupBox1" id="iframe">
                                        <p><span>Step 1:</span> Join Cashvasool.com Free & login</p>
                                        <p><span>Step 2:</span> Click on the offer that you want. This will take you to Amazon's website. There is no coupon code needed for this offer</p>
                                        <p><span>Step 3:</span> Shop normally at Amazon. Pay as you normally do, including by Cash-on-delivery</p>
                                        <p><span>Step 4:</span> Your Cashback will track automatically & be added to your Cashvasool account within 48 hours</p>
                                    </div>
                                </div>
                                <div class="likebox"><img src="/zend/public/css/images/like.jpg" border="0" /></div>
                            </div>
                            <div class="offer_btnbox">
                                <h3><?php echo $this->escapeHtml($coupon->shortdescription); ?></h3>
                                <div class="Rating"><a href="#"><img src="/zend/public/css/images/link.jpg" border="0"align="left" class="imgeffect" /></a>
                                    <a href="#"><img src="/zend/public/css/images/link1.jpg" border="0"align="left" class="imgeffect" /></a> 
                                    Rating: <span>+152</span> (from 294 votes)</div>
                                <div class="dashed">Discount added automatically</div>
                                <a class='inline' href="#popbox"><span class="joinfree_btn">Join free or Sign-In to Get Cashback </span></a>
                            </div>
                        </div>
                        <!--end Coupons_box-->
                    <?php endforeach; ?>
                </div>
                <!--end left_coupons-->
                <!-- Right_coupons-->
                <div class="Right_coupons">
                    <div class="Stepsbox">
                        <h3>Steps To Earn Cashback</h3>
                        <ul>
                            <li><img src="/zend/public/css/images/s1.jpg" hspace="6" border="0" align="left" /> Step 1<br />
                                Join & Browse Cashvasool</li>
                            <li><img src="/zend/public/css/images/s2.jpg" border="0" align="left" />Step 2<br />
                                Click-through & Shop from your favourite store</li>
                            <li><img src="/zend/public/css/images/s3.jpg" border="0" align="left" />Step 3<br />
                                Cashback gets tracked<br />
                                Within 72 hours</li>
                            <li><img src="/zend/public/css/images/s4.jpg" border="0" align="left" />Step 4<br />
                                Cashback gets Confirmed<br />
                                Between 4-12 weeks</li>
                            <li><img src="/zend/public/css/images/s5.jpg" border="0" align="left" />Step 5<br />
                                Get Paid</li>
                        </ul>
                    </div>
                </div>  
                <!-- end  Right_coupons -->
            </div>
            <!--end couponsbox-->
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--  testimonials-->
        <div class="scroll_testimony">
            <div id="main" role="main">
                <section class="slider"  style="background-color:#eceaea; width:1000px; margin:0 auto;">
                    <div class="flexslider" >
                        <ul class="slides" >
                            <li>
                                <div style="width:470px; height:130px; float:left; margin-right:10px;">
                                    <img src="images/t1.png" alt="" class="grid_icon"/>
                                    It is excellent concept of cash back when you shop. Especially for women it's 
                                    exciting to know that you get more in return for shopping. 
                                    Also the level of accuracy, the response time and execution is excellent,
                                    Commendable job by the team.
                                    <h2>Poonam Joshi</h2>
                                    <h3>House Wife</h3>
                                </div>

                                <div style="width:470px; float:left; height:130px; margin-right:10px;">
                                    <img src="images/t2.png" alt="" class="grid_icon"/>
                                    This site is real and genuine.. I got cash back paid as promised.. no hassles, cheating or fraud. Join this site and start earning on your purchases.. !!! Thank you cashkaro for such a great initiative... :) :) :) :)
                                    <h2>Swapnil</h2>
                                    <h3>Web Designer</h3></div>
                            </li>

                            <li>
                                <div style="width:470px; height:130px; float:left; margin-right:10px;">
                                    <img src="images/t3.png" alt="" class="grid_icon"/>
                                    GREAT EXPERIENCE TO SHOP & SAVE...WOW ..THREE CHEERS FOR CASHVASOOL.COM. 
                                    <h2>Rahul Roy</h2>
                                    <h3>Doctor</h3>
                                </div>

                                <div style="width:470px; float:left; height:130px; margin-right:10px;">
                                    <img src="images/t4.png" alt="" class="grid_icon"/>
                                    Very good site ..AWESOME @@-- !!!.
                                    <h2>Anushka Aggarwal</h2>
                                    <h3>Student</h3></div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <!--end  testimonials-->
        <div class="clear"></div>
        <!--footer-->
        <div id="footer">
            <div class="innerfooter">
                <div class="Overview">
                    <h3>Cashvasool</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="aboutus.html">About Us</a></li>
                            <li><a href="faq.html">FAQ's</a></li>
                            <li><a href="whycashvasool.html">Why Cashvasool?</a></li>
                            <li><a href="cashback_options.html">Cashback Options</a></li>
                            <li><a href="sitemap.html">SiteMap</a></li>
                            <li><a href="terms.html">Terms and Conditions</a></li>
                            <li><a href="privacy_policy.html">Privacy Policy</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="contactus.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="Overview">
                    <h3>Links</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="how_cashvasool.html">How Cashvasool Works</a></li>

                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="internship.html">Internship</a></li>
                            <li><a href="partner.html">Become our Partner</a></li>
                            <li><a href="deals.html">Deals of the Day</a></li>
                            <li><a href="hotoffers.html">Hot Offers</a></li>
                            <li><a href="blog.html">Blog </a></li>

                        </ul>
                    </div>
                </div>
                <div class="Overview">
                    <h3>My Account</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a class='inline' href="#popbox">Sign In</a></li>
                            <li><a href="joinus.html">Join us</a></li>
                            <li><a href="refer_friend.html">Refer and Earn</a></li>
                            <li><a href="missing_cashBack.html">Missing CashBack</a></li>
                            <li><a href="cashvasool_wallet">Cashvasool Wallet</a></li>
                            <li><a href="payment.html">Payment</a></li>
                        </ul>
                    </div>
                </div>

                <div class="Overview">
                    <h3>My Categories</h3>
                    <div class="btm_list">
                        <ul>
                            <li><a href="all_stores.html">All Stores</a></li>
                            <li><a href="electronics.html">Electronics</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                            <li><a href="fashion.html">Fashion</a></li>
                            <li><a href="travel.html">Travel</a></li>
                            <li><a href="matrimonial.html">Matrimonial</a></li>
                        </ul>
                    </div>
                </div>

                <div class="Overview" style="border:none;">
                    <div class="social" style="float:left; margin:0px;">
                        <ul>
                            <li><a href="#" class="fb"></a></li>
                            <li><a href="#" class="twt"></a></li>
                            <li><a href="#" class="gplus"></a></li>
                            <li><a href="#" class="in"></a></li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <p>
                        <h3>Email Id</h3>
                        <span class="or_colour">support@cashvasool.com</span>
                        <span class="or_colour">care@cashvasool.com</span>
                        <span class="or_colour">info@cashvasool.com</span>

                    </p>
                </div>
            </div>
            <div class="bottom_bar">
                <div class="IN_bottom_bar"> &copy; 2014 <span class="or_colour">Cashvasool.</span> All Rights Reserved.
                    <div class="Powered">Powered By: <a href="http://shop.fireflysolutions.in/" target="_blank"><span class="or_colour">FireFly Solutions</span> </a></div>
                </div>
            </div>
        </div>
        <!--end footer-->
        </div>

        <script defer src="/zend/public/css/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
                                        $(function () {
                                            SyntaxHighlighter.all();
                                        });
                                        $(window).load(function () {
                                            $('.flexslider').flexslider({
                                                animation: "slide",
                                                start: function (slider) {
                                                    $('body').removeClass('loading');
                                                }
                                            });
                                        });
        </script>
    </body>
</html>

