<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center">Select Your Profile Type</h3>  
        <hr/>    
        <p class="text-center" style="margin:0 0 8px 0px;display:none" id="loader_img">
            <img src="public/images/loader.gif" alt=""/>
        </p>
        <div class="col-md-12">
            <div class="col-md-2 text-center" style="display:inline-block; cursor:pointer" onclick="set_profile(1);"> 
                <img width="150" alt="Merchant Picture" src="public/images/advertiserimage/58345_tn120x120_profile.jpg" style="border:1px solid #ddd;"  class="img-responsive">
                <p class="text-center">Merchant</p>
            </div>
            <div class="col-md-2 text-center" style="display:inline-block; cursor:pointer" onclick="set_profile(2);"> 
                <img width="150" alt="Photographer Picture" src="public/images/advertiserimage/58345_tn120x120_profile.jpg" style="border:1px solid #ddd;" class="img-responsive">
                <p class="text-center">Photographer</p>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

function set_profile(type)
{ 
    //alert(type); 
    var saveprofile_url= "<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'saveProfile'))?>";
     var success_url= site_url+'/user/photographer/profile';
    $.ajax({
        url: saveprofile_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {type: type},
        beforeSend: function() {
            $('#loader_img').show();
        },
        success: function(data) { 
            $('#loader_img').hide();
            if(data.response == 'success')
            {
                window.location = success_url;
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
} 

</script>