<?php 
    $aimg_path = '/zend/public/images/advertiserimage/';
?>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Update project </h2>
        <hr class="pro-hr">
        <!--<div class="alert alert-info"> You have not uploaded any project.Add a new Project. </div>-->
        <form id="home_search" class="form-horizontal" method="POST" action="/zend/public/user/home/editproject" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Project Name goes here" name="project_name" id="project_name" value="<?php echo $result_project->project_name;?>" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                    <input class="form-control" name="user_name" id="user_name" value="<?php echo $result_merchant->name;?>" type="hidden">
                    <input class="form-control" name="project_id" id="project_id" value="<?php echo $result_project->project_id;?>" type="hidden">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Shortcut</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Project Link goes here" name="project_shortcut" id="project_shortcut" value="<?php echo $result_project->project_shortcut;?>" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Website URL</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Website url goes here" name="website_url" id="website_url" value="<?php echo $result_project->website_url;?>" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Skills Used</label>
                <div class="col-sm-10">
                    <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <option value="113">CMS</option>
                        <option value="114">Server Administration</option>
                        <option value="115">Network Administration</option>
                        <option value="116">Web Security</option>
                        <option value="27">Logo Design</option>
                        <option value="55">HTML</option>
                        <option value="26">Graphic</option>
                        <option value="28">Brand Identity</option>
                        <option value="29">Video Production</option>
                        <option value="30">Animation</option>
                        <option value="31">Illustration</option>
                        <option value="32">Infographic</option>
                        <option value="33">Forum</option>
                        <option value="34">Email Template</option>
                        <option value="35">Banner Ad</option>
                        <option value="36">Icon</option>
                        <option value="37">Caricature</option>
                        <option value="38">Typography</option>
                        <option value="39">Type</option>
                        <option value="40">UX</option>
                        <option value="41">UI</option>
                        <option value="42">Book Cover</option>
                        <option value="43">Book Interior</option>
                        <option value="44">Sales Page</option>
                        <option value="45">3D Modeling &amp; CAD</option>
                        <option value="46">Engineering &amp; Technical</option>
                        <option value="50">Responsive</option>
                        <option value="51">Web Development</option>
                        <option value="52">Mobile App</option>
                        <option value="53">WordPress</option>
                        <option value="54">CSS</option>
                        <option value="56">PHP</option>
                        <option value="57">JavaScript</option>
                        <option value="58">AJAX</option>
                        <option value="59">Drupal</option>
                        <option value="60">Magento</option>
                        <option value="61">Joomla</option>
                        <option value="62">Umbraco</option>
                        <option value="63">Front-End</option>
                        <option value="64">Back-End</option>
                        <option value="65">iOS</option>
                        <option value="68">Bootstrap</option>
                        <option value="71">WordPress Theme</option>
                        <option value="72">WordPress Maintenance</option>
                        <option value="73">REST API</option>
                        <option value="74">Software</option>
                        <option value="75">Ecommerce</option>
                        <option value="76">Membership Website</option>
                        <option value="77">Web App</option>
                        <option value="78">Android</option>
                        <option value="79">iPhone</option>
                        <option value="80">BlackBerry</option>
                        <option value="81">Flash</option>
                        <option value="82">Java</option>
                        <option value="83">C++</option>
                        <option value="84">Ruby</option>
                        <option value="85">Rails</option>
                        <option value="86">Python</option>
                        <option value="87">Apache</option>
                        <option value="88">.NET</option>
                        <option value="89">XML</option>
                        <option value="90">jQuery</option>
                        <option value="91">Unix</option>
                        <option value="92">Linux</option>
                        <option value="93">RSS</option>
                        <option value="94">ActionScript</option>
                        <option value="95">WordPress Plugin</option>
                        <option value="96">MySQL</option>
                        <option value="97">C#</option>
                        <option value="98">WebSocket</option>
                        <option value="99">nodeJS</option>
                        <option value="100">OpenCart</option>
                        <option value="101">CodeIgniter</option>
                        <option value="102">J2EE</option>
                        <option value="103">CakePHP</option>
                        <option value="104">Visual Basic</option>
                        <option value="105">Oracle</option>
                        <option value="106">SysAdmin</option>
                        <option value="107">MongoDB</option>
                        <option value="108">Web Design</option>
                        <option value="109">Photoshop</option>
                        <option value="110">Illustrator</option>
                        <option value="111">InDesign</option>
                        <option value="112">After Effects</option>
                        <option value="117">Lettering</option>
                        <option value="118">Shopify</option>
                        <option value="120">Ghost</option>
                        <option value="121">Symfony2</option>
                        <option value="122">AngularJS</option>
                        <option value="123">DotNetNuke</option>
                        <option value="124">Infusionsoft</option>
                        <option value="125">WooCommerce</option>
                        <option value="126">Genesis Framework</option>
                        <option value="127">Sass</option>
                        <option value="129">ASP.NET</option>
                        <option value="130">Bigcommerce</option>
                        <option value="131">HubSpot</option>
                        <option value="132">OptimizePress</option>
                        <option value="133">Sensei</option>
                        <option value="134">BuddyPress</option>
                        <option value="135">AWeber</option>
                        <option value="136">MailChimp</option>
                        <option value="119">PrestaShop</option>
                        <option value="137">Thesis Theme</option>
                        <option value="138">Wix</option>
                        <option value="139">ExpressJS</option>
                        <option value="140">Landing Page</option>
                        <option value="141">SEO</option>
                        <option value="142">Vector</option>
                        <option value="143">PDF</option>
                        <option value="144">Speed Optimization</option>
                        <option value="145">Foundation</option>
                        <option value="146">nopCommerce</option>
                        <option value="147">Packaging</option>
                        <option value="148">X Theme</option>
                        <option value="149">Twilio</option>
                        <option value="150">Laravel</option>
                        <option value="151">ExpressionEngine</option>
                        <option value="152">CoffeeScript</option>
                        <option value="153">Nginx</option>
                        <option value="154">Pattern</option>
                        <option value="155">Avada</option>
                        <option value="156">Motion</option>
                        <option value="157">Interaction</option>
                        <option value="158">WatchKit</option>
                        <option value="159">Swift</option>
                        <option value="160">Django</option>
                        <option value="161">Flask</option>
                        <option value="162">Yii</option>
                        <option value="163">Jekyll</option>
                        <option value="164">Sketch</option>
                        <option value="165">KloudStores</option>
                        <option value="166">BackboneJS</option>
                        <option value="167">SharePoint</option>
                        <option value="168">SQL Server</option>
                        <option value="169">WCF</option>
                        <option value="170">WebAPI</option>
                        <option value="171">MVC</option>
                    </select>
                    <div class="row">
                      <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                            <ul class="list-inline skills-home">
                                <li><a href="javascript:select(108,%20'Web%20Design');" id="sk108">Web Design</a></li>
                                <li><a href="javascript:select(51,%20'Web%20Development');" id="sk51">Web Development</a></li>
                                <li><a href="javascript:select(53,%20'WordPress');">WordPress</a></li>
                                <li><a href="javascript:select(27,%20'Logo%20Design');">Logo Design</a></li>
                                <li><a href="javascript:select(50,%20'Responsive');">Responsive</a></li>
                                <li><a href="javascript:select(52,%20'Mobile%20App');">Mobile App</a></li>
                                <li><a href="javascript:select(77,%20'Web%20App');">Web App</a></li>
                                <li><a href="javascript:select(32,%20'Infographic');">Infographic</a></li>
                                <li><a href="javascript:select(38,%20'Typography');">Typography</a></li>
                                <li><a href="javascript:select(35,%20'Banner%20Ad');">Banner Ad</a></li>
                                <li><a href="javascript:select(44,%20'Sales%20Page');">Sales Page</a></li>
                                <li><a href="javascript:select(29,%20'Video%20Production');">Video Production</a></li>
                                <li><a href="javascript:select(75,%20'Ecommerce');">Ecommerce</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Industry</label>
                <div class="col-sm-10">
                    <?php 
                        $array_industry = array(
                            'web_designing'=>'Web Designing',
                            'graphic_designing'=>'Graphic Designing',
                            'software_developement'=>'Software Developement',
                            'photography'=>'Photography',
                            'fine_art'=>'Fine Art',
                            );
                    ?>
                    <select class="form-control" name="industry" id="industry">
                        <?php foreach($array_industry as $k=>$v){ ?>
                        <option value="<?php echo $k;?>" <?php if($k == $result_project->industry) {?> selected <?php } ?>><?php echo $v;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="about" id="about" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"><?php echo $result_project->about?></textarea>
                </div>
            </div>
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Project Responsibilities</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Approximate Cost</label>
                <div class="col-sm-10">
                    <?php 
                        $array_cost = array(
                            '2000-3000'=>'2000-3000',
                            '4000-6000'=>'4000-6000',
                            '7000_10000'=>'7000-10000',
                            '11000_20000'=>'11000-20000',
                            'above_21000'=>'21000 and above',
                            );
                    ?>
                    <select class="form-control" name="cost" id="cost">
                        <?php foreach($array_cost as $k1=>$v1){ ?>
                        <option value="<?php echo $k1;?>" <?php if($k1 == $result_project->cost) {?> selected <?php } ?>><?php echo $v1;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Approximate Time</label>
                <div class="col-sm-10">
                    <?php 
                        $array_time = array(
                            'less_than_2_months'=>'less than 2 months',
                            '4_to_6_months'=>'4 to 6 months',
                            '1_year'=>'1 year',
                            '2_years'=>'2 years',
                            '3_years'=>'3 years',
                            'above_3_years'=>'above 3 years',
                            );
                    ?>
                    <select class="form-control" name="time" id="time">
                        <?php foreach($array_time as $k2=>$v2){ ?>
                        <option value="<?php echo $k2;?>" <?php if($k2 == $result_project->time) {?> selected <?php } ?>><?php echo $v2;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <?php  
            
            for($i=1;$i<6;$i++){?>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Pic <?php echo $i;?></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" name="projectpic<?php echo $i;?>" id="projectpic<?php echo $i;?>">
                        <?php if(isset($image_result[$result_project->project_id][$i-1])) {?>
                        <img src="<?php echo $aimg_path.$image_result[$result_project->project_id][$i-1]['thumbnail']?>" />
                    <?php } ?>
                    </div>
                        
                </div>
            <?php } ?> 

            <input type="submit" class="btn btn-success" value="Update" onclick="submitFrm()">
            <button type="button" class="btn btn-danger" onclick="history.back(-1)">Cancel</button>
        </form>
    </div>
</section>

<?php 
    foreach($result_skill as $skillvalues){ 
        $idd = $skillvalues["skillId"];
        $nmm = $skillvalues["skill"];
        $ary[] = array($idd,$nmm);
    } 
?>

<script type="text/javascript">
window.setTimeout(function(){myTimer();}, 5000);
function myTimer() {
    var skills = <?php echo json_encode( $ary ) ?>;
    for (i = 0; i < skills.length; i++) { 
        select(skills[i][0],skills[i][1]);
    }   
}

function submitFrm(){
    document.getElementById('home_search').submit();
}
</script>