<?php  
  $front_home_asset_path = '/public/front/dashboard/';
  $aimg_path = '/public/images/advertiserimage/';
  $state = rand(1000000,99999999);
  $_SESSION['gstate'] = $state;
  $logged_in_email = '';
  if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
    $logged_in_email = $_SESSION['user']->email;
  }   
  $request = new \Zend\Http\PhpEnvironment\Request();
  $httpHost = $request->getServer('HTTP_HOST');   
?>
<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<?php echo $httpHost; ?>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ownrock | Dashboard</title>
  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Custom CSS -->
  <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="<?php echo $front_home_asset_path;?>css/main.css">
  <link href="<?php echo $front_home_asset_path;?>font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<!-- Navigation --> 
<div id="wrapper">
  <div class="overlay" ></div>
  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="">OWN ROCK</a>
      </li>
      <li><a href="/user/home/dashboard">Basic Information</a></li>
      <!--<li><a href="about-me.html">About Me</a></li>-->
      <li><a href="/user/home/addnewproject">Add New Project</a></li>
      <li><a href="/user/home/viewproject">View Projects</a></li>
      <li><a href="/user/home/enquiry">Enquiries</a></li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <!-- Header -->
    

    <header>
      <div class="container" style="padding:0px">
        <nav class="navbar navbar-default y-set-top">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"> </span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="container-fluid"> <a class="navbar-brand y-brand" href="">Own Rock</a>
            <div  class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
              <li><a href="<?php echo $this->url('user/home', array('action' => 'logout'))?>">Logout</a></li>
              </ul>
            </div>
          </div>
          <!----> </nav>
      </div>
      <div class="container text-center y-set-top">
        <div class="row">
          <div class="col-lg-12">
            <div class="avatar text-center"> 
             <?php
              if($val['profilepic']=="")
              {
                  ?>
                  <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $aimg_path;?>58345_tn120x120_profile.jpg" alt="Merchant Picture" width="150" style="border-radius: 50%;">
              <?php } else {?>
            
              <img class="img-responsive" style="border-radius: 50%;" src="<?php echo $aimg_path . str_replace("_pp_","_tn120x120_",$merchantinfo->profilepic);?>" alt="Merchant Picture" width="150" style="border-radius: 50%;">
              <?php } ?>
            </div>
            <div style="margin-top: 10px;">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> <i class="fa fa-pencil-square-o"></i> View or Edit your profile Image </button>
            </div>
            <div class="intro-text"> <span class="name"><?php echo $merchantinfo->name;?></span>
              <hr class="star-light">
              <span class="skills"><?php echo $merchantinfo->profession;?> | <?php echo $merchantinfo->rate?> INR</span><br />
            </div>
          </div>
        </div>
      </div>
    </header>



    <?php echo $this->content;?>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>3481 Melrose Place<br>
                Beverly Hills, CA 90210</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li> <a href="https://www.facebook.com/ownrockprivate" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a> </li>
                <li> <a href="https://plus.google.com/u/1/110906240436819437853/about" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a> </li>
                <li> <a href="https://twitter.com/rock_own" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a> </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About Us</h3>
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <form action="/user/home/editprofileimage" method="POST" enctype="multipart/form-data">
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Your image</h4>
          </div>
          <div class="modal-body"> 
          <span class="btn btn-default btn-file y-file"> 
          Browse
            <input type="file" name="profilepic">
            </span> 
         </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        </form>    
      </div>
    </div>
  </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

<!-- Header -->

<!-- /.modal --> 
<!-- Bootstrap core JavaScript jQuery--> 
<script src="<?php echo $front_home_asset_path;?>js/jquery.js"></script> 
<link href="<?php echo $front_home_asset_path;?>css/style.css" media="all" rel="stylesheet">
<script src="<?php echo $front_home_asset_path;?>js/custom.js"></script> 

<!-- Bootstrap Core JavaScript 
<script src="<?php //echo $front_home_asset_path;?>js/bootstrap.min.js"></script>--> 

<!-- Plugin JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/jquery.easing.min.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script> 


<!-- Contact Form JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/jqBootstrapValidation.js"></script> 
 
<!-- Custom Theme JavaScript
<script src="<?php echo $front_home_asset_path;?>js/contact_me.js"></script>  --> 
<script> 
/*function profile_percentage()
{
  var per=0;
  //per = $("#meter").val();
  var name          = $("#name").val();
  var email         = $("#email").val();
  var occupation    = $("#occupation").val();
  var phone         = $("#phone").val();
  var country       = $("#country").val();
  var city          = $("#city").val();
  var rate          = $("#rate").val();
  var availability  = $("#availability").val();
  var website       = $("#website_url").val();

  if(name!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(email!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(occupation!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(phone!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(country!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(city!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(rate!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(availability!="")
  {
    per = per + 0.1;
    $("#meter").val(per);
  }

  if(website!="")
  {
    per = per + 0.2;
    $("#meter").val(per);
  }

  $("#meter").val(per);
  var percentage=parseInt(per*100);
  $("#meter_per").html(percentage+'%');

}
$(document).ready(function(){
  profile_percentage();
});*/

function location_verify()
{
  var full_country     = $("#full_country").val();
  if(full_country=="")
  {
     $("#country").val("");
  }
}


</script>
<script>
  $('#myCarousel').carousel({
    interval: 4000
});

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
  var id_selector = $(this).attr("id");
  var id = id_selector.substr(id_selector.length -1);
  id = parseInt(id);
  $('#myCarousel').carousel(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel').on('slid', function (e) {
  var id = $('.item.active').data('slide-number');
  id = parseInt(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});
</script> 
<script>
  $('#myCarousel1').carousel({
    interval: 4000
});

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
  var id_selector = $(this).attr("id");
  var id = id_selector.substr(id_selector.length -1);
  id = parseInt(id);
  $('#myCarousel1').carousel(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel1').on('slid', function (e) {
  var id = $('.item.active').data('slide-number');
  id = parseInt(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});
</script> 

<script>

/*$(document).scroll(function(e){
  
  var now_top = $(".for-making-menu").offset().top - $(window).scrollTop();
  console.log(now_top);
    var scrollTop = $(document).scrollTop();
    if(now_top <0){
     
        $('.navbar').removeClass('navbar-static-top').addClass('navbar-fixed-top');
    } else {
        $('.navbar').removeClass('navbar-fixed-top').addClass('navbar-static-top');
    }
});*/

</script> 

<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
<script src="<?php echo $front_home_asset_path;?>js/freelancer.js"></script>

<!--  City Auto Suggesstion -->
<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style type="text/css">
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { background: white url("/public/images/loader.gif") right center no-repeat; }
</style>
 
<script type="text/javascript"> 
jQuery(function () 
 {
   jQuery("#full_country").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#full_country").val(selectedObj.value);
     jQuery("#country").val(selectedObj.value);    


    //getcitydetails(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#full_country").autocomplete("option", "delay", 100);
  });
</script> 
<!--  City Auto Suggesstion -->

</body>
</html>
