<?php  
  $front_home_asset_path = '/public/front/dashboard/';
  ?>
  <script src="<?php echo $front_home_asset_path;?>js/jquery.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/jquery.form.min.js"></script>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $_SESSION['user']->first_name;?>, Complete your profile in easy steps :) </h3> 
        <hr />
         <?php 
            //echo '<pre>';print_r($album_Tags);exit;
            /*$percent = 0;
            $show_percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }*/
        ?>
          <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <!--<?php if($result_merchant->total_projects<6)
        {?>-->
            <div class="col-lg-12">
                    <div class="form-group ">
                        <label>Photos</label>
                    <div class="u-c--12o12 hide-in-mobile-app-v1-1" id="photos-uploader">
                       <div >
                          <div>
                             <div class="upload-txt">
                                <strong>
                                Add some photos
                                </strong>
                             </div>
                            <div id="upload-wrapper">
                                <form enctype="multipart/form-data" name='imageform' role="form" id="imageform" method="post" action="user/photographer/uploadImg">
                                <div class="form-group">
                                <input class='file' multiple="multiple" type="file" class="form-control" name="images[]" id="images" placeholder="Please choose your image">
                                    <span class="help-block"></span>
                                </div>
                                <div id="loader" style="display: none;">
                                    Please wait...
                                </div>
                                <input type="submit" value="Upload" name="image_upload" id="image_upload" class="btn"/>
                            </form>
                        <div id="uploaded_images" class="uploaded-images">
                            <div id="error_div" style="color:red;">
                            </div>
                            <ul id="success_div" style="list-style-type: none;display: table-cell;">
                            </ul><br /><br />
                            </div>
                                </div>
                          </div>                         
                       </div>
                  </div>
                </div>
            </div>
            <form id="home_search" class="form-horizontal" method="POST" action="/user/photographer/album" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Album Name</label>
                        <input class="form-control" placeholder="Album name goes here" name="album_name" id="album_name" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <span id = "name_error"></span>
                    </div>
                </div>
  
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Tags</label>
                        <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                            <?php foreach($album_Tags as $sk=>$sv) {?>
                                <option value="<?php echo $sk;?>"><?php echo $sv['tag'];?></option>
                            <?php } ?>
                        </select>
                        <div class="row">
                            <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                                <ul class="list-inline skills-home">
                                    <?php foreach($album_Tags as $sk1=>$sv1) {?>
                                        <li><a href="javascript:select(<?php echo $sk1 ?>,'<?php echo $sv1['tag'] ?>');"><?php echo $sv1['tag'] ?></a>
                                        </li>
                                    <?php } ?>
                                </ul>
                                <span id = "tags_error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group ">
                    	<label>Album Description</label>
                        <textarea class="form-control" rows="3" placeholder="Describe your Album here..." name="description" id="description" onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''"></textarea>
                        <span id = "description_error"></span>
                    </div>
                </div>

                




                <div class="col-lg-12"> 
                    <div class="form-group ">                        
                    	<a href = "user/photographer/invitefriends" class="btn btn-success">Skip</a>
                    	<input type="button" class="btn btn-success" value="Next" onclick="valid_album();">
                    	<!--<button type="reset" class="btn btn-default">Reset Button</button>-->
                	</div>
                </div>
                
            </form>

            

            <!--<?php }
            //else
            {
                //echo "<h3 class='text-center'>Sorry </h3>";
                //echo "<h3 class='text-center'>You have reached the maximum limit to add new projects </h3>";
            }?>-->
    </div>
</section>

<script type="text/javascript">
function valid_album(){ 
	var isValid = true;
    $('#name_error').html("");
    $('#skills_error').html("");
    $('#textarea_error').html("");
    $("#album_name").css('border-color', '#dce4ec');
    $("#tags_error").css('border-color', '#dce4ec');
    $("#description").css('border-color', '#dce4ec');
	if($.trim($("#album_name").val())==''){		
		$("#album_name").css('border-color', '#FF0000');
        $("#name_error").css('color', '#FF0000');
        $('#name_error').html("Please enter album name.");
		isValid = false;
	}	
	
    if($('ul.select2-choices>li').length<=1){        
        $("#s2id_e2").css('border-color', '#FF0000');
        $("#tags_error").css('color', '#FF0000');
        $('#tags_error').html("Please select atleast one skill.");
        isValid = false;
    }
	if($.trim($("#description").val())=='') {	
	//alert(parseInt($('#about').val().length));	
		$("#description").css('border-color', '#FF0000');
		$("#description_error").css('color', '#FF0000');
		$('#description_error').html("Description should not be blank.");
		isValid = false;
	}
    /*if($("#dvPreview1").html()=="" && $("#dvPreview2").html()=="" && $("#dvPreview3").html()=="" && $("#dvPreview4").html()=="" && $("#dvPreview5").html()=="")
    {
        $("#image_error").css('color', '#FF0000');
        $('#image_error').html("Select atleast one image.");
        isValid = false;
    }*/
	if(isValid==true){
		
		document.getElementById('home_search').submit();
	}
}
</script>

<script>
(function() {
    jQuery('#imageform').ajaxForm({
        beforeSubmit: function() {  
            count = 0;
            val = jQuery.trim( jQuery('#images').val() );
            console.log(val);
            
            if( val == '' ){
                count= 1;
                jQuery( "#images" ).next('span').html( "Please select your images" );
            }
            
            if(count == 0){
                for (var i = 0; i < jQuery('#images').get(0).files.length; ++i) {
                    img = jQuery('#images').get(0).files[i].name;
                    var extension = img.split('.').pop().toUpperCase();
                    if(extension!="PNG" && extension!="JPG" && extension!="GIF" && extension!="JPEG"){
                        count= count+ 1
                    }
                }
                if( count> 0) jQuery( "#images" ).next('span').html( "Please select valid images" );
            }    
            
            if( count> 0){
                return false;
            } else {
                jQuery( "#images" ).next('span').html( "" );
            }                        
        },
        
        beforeSend:function(){
           jQuery('#loader').show();
           jQuery('#image_upload').hide();
        },
        success: function(msg) {
        },
        complete: function(xhr) {
            jQuery('#loader').hide();
            jQuery('#image_upload').show();
            
            jQuery('#images').val('');
            jQuery('#error_div').html('');
            result = xhr.responseText;
            result = jQuery.parseJSON(result);
            base_path = jQuery('#base_path').val();
            jQuery.each(result, function(index, value){
                if( value.success ){
                    name = 'uploads/products/'+value.success;               
                    html = '';
                    html+= '<li style="float: left; padding: 2px; border: 1px dotted gray;"  id="sp_'+value.unique_id+'"><span><image src="'+name+'"><input type="hidden" value="'+value.unique_id+'" name="product_images[]" class="product_images"><br /><a href="javascript:void(0);" title="Delete image" onclick="deleteimg('+value.unique_id+')">[Delete]</a></span></li>';
                    jQuery('#uploaded_images #success_div').append( html );

                } else if( value.error ){
                    error = value.error
                    html = '';
                    html+='<p>'+error+'</p>';
                    jQuery('#uploaded_images #error_div').append(html);
                }               
            });
        
        }
    });     
})(); 
</script>












