<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Welcome <?php echo $_SESSION['user']->first_name;?></h2>  
        <hr/>    
        <p class="text-center" style="margin:0 0 8px 0px;display:none" id="loader_img">
            <img src="public/images/loader.gif" alt=""/>
        </p>
        <div class="col-md-12">
            <div class="col-md-4 text-center" style="display:inline-block; cursor:pointer" onclick="set_profile(1);"> 
                <p class="text-center">Profile</p>
            </div>
            <div class="col-md-4 text-center" style="display:inline-block; cursor:pointer" onclick="set_profile(2);"> 
                <p class="text-center">Album</p>
            </div>
            <div class="col-md-4 text-center" style="display:inline-block; cursor:pointer" onclick="set_profile(2);"> 
               
                <p class="text-center">Photo</p>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

function set_profile(type)
{ 
    //alert(type); 
    var success_url= site_url+"/user/photographer/profile";
    window.location = success_url;
    
} 

</script>