<?php echo $this->headScript()->prependFile($this->basePath() . '/js/modules/javascript/ajax.js'); ?>
        <script src="assets/js/pace.min.js"></script>

<input type='text' name="tempData" id="tempData" value="" />
<a href="javascript:void(0);" onclick="return clickMe(this)" title="Click here">Click here</a>
&nbsp; | &nbsp;
<a href="javascript:void(0);" onclick="return getHtmlResponse(this)" title="Click here to get HTML response">Click here to get HTML response</a>
<div id="response"></div>