<?php $front_home_asset_path = '/public/front/dashboard/';
//echo '<pre>';print_r($_SESSION);

include "include/secondheader.phtml" ; 
if($_SESSION['user']->user_id == $photographerdata->user_id)
{?>
	<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
		<div class="row" style="margin:25px 0;">
			<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
			?>

			<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
		</div>
</section>
<?php } ?>



<div class="for-making-menu"></div>

<nav class="navbar navbar-default navbar-static-top" style="padding:0px;">
  	<div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header page-scroll">
      		<button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button"> 
	      		<span class="sr-only">Toggle navigation</span> 
	      		<span class="icon-bar"></span> 
	      		<span class="icon-bar"></span>
	      		<span class="icon-bar"></span> 
      		</button>
      		<a href="#page-top" class="navbar-brand">Own Rock</a> 
      	</div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      		<ul class="nav navbar-nav navbar-right sticky-header">
		        <li class="hidden"> <a href="#page-top"></a> </li>
		        <li class="page-scroll active"> <a href="#albums"><i class="fa fa-th-list"></i> Album</a> </li>
		        <li class="page-scroll"> <a href="#album-about-us"><i class="fa fa-user"></i> About Me</a> </li>
		        <li class="page-scroll"> <a href="#reviews"><i class="fa fa-star"></i> Review me</a> </li>
		        <li class="page-scroll"> <a href="<?php echo $currenturi; ?>#contact"><i class="fa fa-envelope-o"></i> Contact</a> </li>
      		</ul>
    	</div>
    <!-- /.navbar-collapse --> 
  	</div>
  <!-- /.container-fluid --> 
</nav>
<section id="albums" class="section-block ">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<?php 
				if($editable == 1)
				{?>
				    <a href="user/photographer/addalbum"  class="btn btn-success btn-sm pull-right"><i class="fa fa-plus space-right"></i>Add Album</a>
				<?php 
				}?>
			</div>
		</div>
	</div>
</section>
<section class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<h3 class="txt-center albums-heading">Albums</h3>
			 </div>
		 </div>
		<div class="row">
			<div class="col-lg-12 tag-list">
			<div id = "info"></div>
      <p style="margin:0 0 8px 0px;display:none"  class = "txt-center">
        <img id="loader" src="/public/images/loader.gif" alt=""/>
      </p>
      
			<?php
			if(!empty($album_Tags))
			{ ?>	
				<a role="button" href="javascript:void(0)" onclick = "filteralbum(0,<?php echo $photographerdata->user_id; ?>);" class="btn btn-default">All</a>
				<?php foreach($album_Tags as $row)
				{ //echo '<pre>'; print_r($row); exit;
				?>
					<a role="button" href="javascript:void(0)" onclick = "filteralbum(<?php echo $row['tag_id']; ?>, <?php echo $photographerdata->user_id; ?>);" class="btn btn-default"><?php echo $row['tag']; ?></a>
				<?php }
			}
			else
			{
				echo '<p class = "txt-center error">No album found !!</p>';
			} ?>
			</div>
		</div>
	</div>
 </section>
<section class="albums-block">
	<div class="container">
		<div class="row" id = "filterdata">
			<?php 
			foreach($albumsdata as $albumsdata_row)
			{ 
				if(!empty($albumsdata_row['image']))
				{
					$first_img_path = $album_image_path . "firstimage".$albumsdata_row['image'][0]['thumbname'];
					$second_img_path = $album_image_path . "secondimage".$albumsdata_row['image'][0]['thumbname'];
					$album_img_count = count($albumsdata_row['image']);
					if($album_img_count >= 3)
					{
						?>
						<div class="col-lg-4 col-sm-6 col-xs-12" id = "album<?php echo $albumsdata_row['album_id']; ?>">
							<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>/<?php echo $photographerdata->user_id; ?>" class="thumbnail album-thumb" id = "anchor<?php echo $albumsdata_row['album_id'];?>">
								<div class="splite-album">
									<div class="splite-lg">
										<img src="<?php echo $album_image_path ."firstimage".$albumsdata_row['image'][0]['thumbname'];?>"  title="firstimage<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $album_image_path . "secondimage" . $albumsdata_row['image'][1]['thumbname'];?>"  title="secondimage<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $album_image_path . "secondimage" . $albumsdata_row['image'][2]['thumbname'];?>"  title="secondimage<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
								</div>
								<div class="album-info">
									<p class="pull-right btn-dismiss" title="Delete album" onclick="delete_album(<?php echo $albumsdata_row['album_id']; ?>);">x</p>
									<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
									<P class="album-detail"><?php echo $album_img_count; ?> images</P>
								</div>
							</a>
						</div><?php 
					}
					else
					{?>
						<div class="col-lg-4 col-sm-6 col-xs-12" id = "album<?php echo $albumsdata_row['album_id']; ?>">
							<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>/<?php echo $photographerdata->user_id; ?>" class="thumbnail album-thumb" id = "anchor<?php echo $albumsdata_row['album_id'];?>">
								<div class="splite-album">
									<div class="splite-lg">
										<img src="<?php echo $first_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $second_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
									<div class="splite-sm">
										<img src="<?php echo $second_img_path;?>"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
									</div>
								</div>
								<div class="album-info">
									<p class="pull-right btn-dismiss" title="Delete album" onclick="delete_album(<?php echo $albumsdata_row['album_id']; ?>);">x</p>
									<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
									<P class="album-detail"><?php 
										if($album_img_count == 1)
										{
											echo $album_img_count." image";
										}
										else
										{
											echo $album_img_count." images";
										} ?>
									</P>
								</div>
							</a>
						</div><?php 
					}
				}
				else
				{?>
					<div class="col-lg-4 col-sm-6 col-xs-12" id = "album<?php echo $albumsdata_row['album_id']; ?>">
						<a href="user/photographer/albumdetail/<?php echo $albumsdata_row['album_id'];?>/<?php echo $photographerdata->user_id; ?>" class="thumbnail album-thumb" id = "anchor<?php echo $albumsdata_row['album_id'];?>">
							<div class="splite-album">
								<div class="splite-lg">
									<img src="public/front/dashboard/img/images.png"  title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
								<div class="splite-sm">
									<img src="public/front/dashboard/img/images.png" class="img-responsive" title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
								<div class="splite-sm">
									<img src="public/front/dashboard/img/images.png" class="img-responsive" title="<?php echo $albumsdata_row['album_id']; ?>" alt="Photographer">
								</div>
							</div>
							<div class="album-info">
								<p class="pull-right btn-dismiss" title="Delete album" onclick="delete_album(<?php echo $albumsdata_row['album_id']; ?>);">x</p>
								<h4 class="album-heading"><?php echo $albumsdata_row['album_name']; ?></h4>
								<P class="album-detail">No image</P>
							</div>
						</a>
					</div>	<?php				
				}
			}  ?>
			
		</div>
	</div>
</section>
<!--thumbnail end here-->
<!--/.album section end here-->
<section id="album-about-us" class="album-about-us">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<h3 class="txt-center albums-heading">About Me</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xm-12">
				<h3 class="txt-center albums-heading">Know Me</h3>
			</div>
			<div class="col-lg-9 col-sm-6 col-xm-12">
				<P><?php echo $photographerdata->description; ?></P>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-xm-12" >
				<h3 class="txt-center albums-heading">Address</h3>
				<h3 class="txt-center albums-heading" style="margin-top:0px;">Contact</h3>
			</div>
			<div class="col-lg-4 col-sm-6 col-xm-12" style="border-right:solid 1px #ddd;">
				<address>
					<?php echo $photographerdata->address; ?>
					<br />
					<?php echo $photographerdata->location; ?>
				</address>
				<address>
					<strong>Email</strong><br>
					<a href="mailto:#" class="btn-link"><?php echo $_SESSION['user']->email; ?></a>
				</address>
				<address style="margin-top:30px;">
					<i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?>
				</address>
			</div>
			<div class="col-lg-5 col-sm-6 col-xm-12">
				<address>
					<strong>Please drop a message,<br/> I will get back to you soon </strong>
				</address>
				<a href="<?php echo $currenturi; ?>#contact" class="btn btn-success ">Contact Me</a>
			</div>
		</div>
	</div>
</section>
<!--/.about us  section end here-->
<section id="reviews" class="album-review">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xm-12">
				<h3 class="txt-center albums-heading">Reviews
					<?php 
					if($editable == 0)
					{
					    echo "<a href='#myRateModal' data-target='#myRateModal' data-toggle='modal' class='btn btn-success pull-right'>Review Me</a>";
					}?>
				</h3>
			</div>
		</div>
		<div class="row">
			<?php 
			if(!empty($ratingandreview))
			{
  				echo '<div class="col-md-12" data-wow-delay="0.2s">
      					<div class="carousel slide" data-ride="carousel" id="quote-carousel">
							<div class="carousel-inner text-center">';
							$review_count = 0;
							foreach($ratingandreview as $row)
							{	$review_count++;
								
								if($review_count ==1)
								{
									echo '<div class="item active">';
								}
								else
								{
									echo '<div class="item">';
								}
								echo '<blockquote><div class="row"><div class="col-sm-8 col-sm-offset-2">';
								echo "<p>".$row['review']."</p>";
								echo "<small>".$row['name']."</small>"; 
								echo '</div></div></blockquote></div>';
							}
						
						
					echo '</div>
					<!-- Carousel Buttons Next/Prev -->
					<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
					<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
				</div>
			</div>';
			}
			else
			{
				echo '<p class = "text-center">"'.$photographerdata->name.'" has no review yet. Be the first one to review."</p>';
			}
			?>
		</div>
	</div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xm-12">
                <h3 class="txt-center albums-heading">Contact Me</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-centered">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row col-md-12">
                        <div class="form-group control-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                   </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row col-md-12 control-group">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                     <div class="row col-md-12 control-group">
                        <div class="form-group">
		                    <div id="success"></div>
		                    <button type="submit" class="btn btn-success pull-left">Send</button>
                      	</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="<?php echo $front_home_asset_path;?>js/jquery.easing.min.js"></script> 
 <!-- Custom Theme JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/contact_me.js"></script> 
  <!-- Contact Form JavaScript --> 
<script src="<?php echo $front_home_asset_path;?>js/jqBootstrapValidation.js"></script> 
<script>

function filteralbum(tag_id, user_id)
{
	// alert(user_id);
	var getalbums_url= site_url+'/user/photographer/filteredalbum';
	//alert(getalbums_url);
  	var success_url= site_url+'/user/photographer/profile';
    $.ajax({
        url: getalbums_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {tag_id: tag_id, user_id: user_id},
        beforeSend: function() {
            $('#loader').css('display','block');
        },
        success: function(data) { 
            $('#loader').css('display','none');
            if(data.response == 'success')
            {  
            	/*var album_data = JSON.parse(data.albumsdata);
            	alert(album_data);*/
            	var obj = data.albumsdata;
				console.log( obj);
				var html = '';
				for(var i = 0; i<obj.length; i++)
				{ 
					if(obj[i].image.length!=0)
					{ 
						if(obj[i].image.length >= 3)
						{ 
							html =html+ "<div class='col-lg-4 col-sm-6 col-xs-12' id = 'album"+obj[i].album_id+"'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"' id = 'anchor"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[1].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[2].thumbname+"'></div></div><div class='album-info'><p class='pull-right btn-dismiss' title='Delete album' onclick=delete_album("+obj[i].album_id+");>x</p><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>"+obj[i].image.length+" images</p></div></a></div>";
						}
						else
						{
							if(obj[i].image.length == 1)
							{
							html = html+ "<div class='col-lg-4 col-sm-6 col-xs-12' id = 'album"+obj[i].album_id+"'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"' id = 'anchor"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div></div><div class='album-info'><p class='pull-right btn-dismiss' title='Delete album' onclick=delete_album("+obj[i].album_id+");>x</p><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>"+obj[i].image.length+" image</p></div></a></div>";	
							}
							else
							{
							html = html+"<div class='col-lg-4 col-sm-6 col-xs-12' id = 'album"+obj[i].album_id+"'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"' id = 'anchor"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/images/photographer/uploads/"+obj[i].image[0].thumbname+"'></div></div><div class='album-info'><p class='pull-right btn-dismiss' title='Delete album' onclick=delete_album("+obj[i].album_id+");>x</p><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>"+obj[i].image.length+" images</p></div></a></div>";	
							}
						}
					}
					else
					{
						html = html+ "<div class='col-lg-4 col-sm-6 col-xs-12' id = 'album"+obj[i].album_id+"'><a class='thumbnail album-thumb' href='user/photographer/albumdetail/"+obj[i].album_id+"' id = 'anchor"+obj[i].album_id+"'><div class='splite-album'><div class='splite-lg'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div><div class='splite-sm'><img alt='Photographer' title='"+obj[i].album_id+"' src='public/front/dashboard/img/images.png'></div></div><div class='album-info'><p class='pull-right btn-dismiss' title='Delete album' onclick=delete_album("+obj[i].album_id+");>x</p><h4 class='album-heading'>"+obj[i].album_name+"</h4><p class='album-detail'>No image</p></div></a></div>";
					}
					//alert(html);
					$("#filterdata").html("");
					$("#filterdata").html(html);
				
				}
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
}
</script>


<script>
 window.onload = function(){
 	var pg_id = "<?php echo $pg_id; ?>";
    var ajax_url= site_url+'/user/photographer/incrementcounter';
     
    $.ajax({
        url: ajax_url,
       
        data: {pg_id: pg_id},
        beforeSend: function() {
            //$('#loader_img').show();
        },
        success: function(data) { 
            /*$('#loader_img').hide();
            if(data.response == 'success')
            {
                alert('Incremented!');
                
            }
            else
            {
                alert('An error has occurred!');
            }*/
        },
        type: 'POST',
        dataType: 'json',
    });
};
</script>


<script>
function delete_album(album_id)
{ 	
	$('#anchor'+album_id).click(function() { return false; });
	$("#anchor"+album_id).css('pointer-events','none');
	//alert(album_id);
  	
  	var reg_url= site_url+'/user/photographer/deleteAlbum';
    //var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
    $.ajax({
       url: reg_url,
       error: function() {
          $('#info').html('<p>An error has occurred</p>');
       },
       data: {album_id: album_id},
       success: function(data) {
          if(data.response === 'failed'){
              alert('Album not deleted An error has occurred!');
          }else{
          	//alert("delete");
              jQuery("#album"+album_id).remove();
              //alert("delete");
          }
          
       },
       type: 'POST',
       dataType: 'json',
    });
}


$(document).scroll(function(e){
 var now_top = $(".for-making-menu").offset().top - $(window).scrollTop();
 //console.log(now_top);
    var scrollTop = $(document).scrollTop();
    if(now_top <0)
    {
	    $('.navbar').removeClass('navbar-static-top').addClass('navbar-fixed-top');
	  	$('#top-header').css({'display':'none'});
    } 
    else 
    {
	    $('.navbar').removeClass('navbar-fixed-top').addClass('navbar-static-top');
	  	$('#top-header').css({'display':'block'});
    }
});

$( ".sticky-header li " ).click(function() {
 $('.albums-heading').css({'margin-top':'43px'});
});
</script>



