
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">List of Projects</h3>

                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <a href="<?php echo $this->url('user/projectmanager', array('action' => 'add'));
?>">&raquo; Add New Project</a>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <?=$this->partial('partial/common.phtml', array(
                                'action'=>$this->url('user/projectmanager', array('action' => 'index')),
                            ));?>
                            <h3 class="panel-title">Projects</h3>
                        </div>
                        <div class="panel-body">
                            <!--Table Wrapper Start-->
                            <div class="table-responsive ls-table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Industry</th>
                                            <th>Role</th>
                                            <th>Skill</th>
                                            <!--<th class="text-center">Progress</th>-->
                                            <!--<th>Report</th>-->
                                            <th>Added By</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <?php 
                                            $i = 1;
                                            foreach ($this->paginator as $project) : ?>
                                                <td><?php echo $i;?></td>
                                                <td><?php echo $this->escapeHtml($project->project_name); ?></td>
                                                <td><?php echo $this->escapeHtml(ucfirst($project->industry)); ?></td>
                                                <td><?php echo $this->escapeHtml(ucfirst($project->role)); ?></td>
<!--                                                <td>
                                                    <span class="label label-default">Wordpress</span>
                                                    <span class="label label-info">Portfolio</span>
                                                    <span class="label label-success">Corporate</span>
                                                </td>-->
                                                <td>
                                                      <a href="<?php echo $this->url('user/projectskill', array('action' => 'view','project_id' => $project->project_id,'project_shortcut'=>$project->project_shortcut)); ?>"><button class="btn btn-xs btn-warning">View & Edit</button></a>
                                                </td>
<!--                                                <td class="ls-table-progress">
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                                             aria-valuetransitiongoal="20"></div>
                                                    </div>
                                                </td>-->
                                                <td><?php echo $this->escapeHtml(ucfirst($project->added_by)); ?></td>
                                                <!--<td>Pending</td>-->
                                                <td class="text-center">
                                                    <a href="<?php echo $this->url('user/projectmanager', array('action' => 'addprojectskill', 'user_id'=>'0','user_name'=> str_replace(' ','-',$project->user_name),'project_id'=>$project->project_id,'project_shortcut'=>$project->project_shortcut)); ?>"><button class="btn btn-xs btn-success">Add Skills</button></a>
                                                    <a href="<?php echo $this->url('user/projectmanager', array('action' => 'edit', 'user_id'=>'0','user_name'=> str_replace(' ','-',$project->user_name),'project_id' => $project->project_id)); ?>"><button class="btn btn-xs btn-info">Edit</button></a> 
                                                    <a href="<?php echo $this->url('user/projectmanager', array('action' => 'delete','user_id'=>'0','user_name'=> str_replace(' ','-',$project->user_name),'project_id' => $project->project_id,'project_shortcut'=>$project->project_shortcut)); ?>"><button class="btn btn-xs btn-danger">Delete</button></a>
                                                    <!--<button class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>-->
                                                </td>
                                            </tr>

                                        <?php 
                                        $i++;
                                        endforeach; ?>     

                                    </tbody>
                                </table>
                            </div>

                            <!--Table Wrapper Finish-->
                            <div class="text-center">
                                <div class="ls-button-group demo-btn ls-table-pagination">
                                    <ul class="pagination ls-pagination">
                                        <?php
                                        // add at the end of the file after the table
                                        echo $this->paginationControl(
                                                // the paginator object
                                                $this->paginator,
                                                // the scrolling style
                                                'sliding',
                                                // the partial to use to render the control
                                                'partial/paginator.phtml',
                                                // the route to link to when a user clicks a control link
                                                array(
                                            'route' => 'user/projectmanager'
                                                )
                                        );
                                        ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>