<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Basic Information</h2>
        <hr />
        <?php 
            //echo '<pre>';print_r($result_merchant);exit;
            $percent = 0;
            $show_percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }
        ?>
          <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="<?php echo $this->url('user/home',array('action'=>'dashboard'))?>" method="POST" name="MerchanteditForm" id="MerchanteditForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name is not editable" class="form-control" placeholder="Enter your name" name="name" type="text" value="<?php echo $result_merchant->name;?>" readonly>
                     
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input id="email" title="Email is not editable" class="form-control" placeholder="Enter your email" type="text" value="<?php echo $result_merchant->email;?>" id="email" name="email" readonly>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Occupation *</label>
                    <input id="occupation" class="form-control" placeholder="eg. Web Designer, Photographer etc" type="text" id="profession" name="profession" value="<?php echo $result_merchant->profession;?>" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Telephone No. *</label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $result_merchant->phone;?>" id="phone" name="phone" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country" value="<?php echo $result_merchant->country;?>" id="full_country" placeholder="Select location from dropdown"/>
                    <input id="country"  name="country" type="hidden" value="<?php echo $result_merchant->country;?>">
                </div>
            </div>
            

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Approximate Cost *</label>
                    <input id="rate" class="form-control" placeholder="Enter your rate" type="text" value="<?php echo $result_merchant->rate;?>" name="rate" id="rate">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Availability *</label>
                    <input id="availability" class="form-control" placeholder="your availability" type="text" value="<?php echo $result_merchant->availability;?>" name="availability" id="availability">
                </div>
            </div>
            <div class="col-lg-12"><label>Website URL</label></div>
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">http://</span>
                    <input id="website_url" class="form-control" name= "website_url" placeholder="http://example.com/" aria-describedby="basic-addon1" type="text" value="<?php echo $result_merchant->website_url;?>">
                </div>
            </div>
            <div class="col-lg-12">	&nbsp;</div>
            <div class="col-lg-12">							
                <input type="hidden" name="id" id="id" value="<?php echo $result_merchant->id;?>">
                <input type="hidden" name="status" id="status" value="<?php echo $result_merchant->status;?>">
                <input type="hidden" name="profilepic" id="profilepic" value="<?php echo $result_merchant->profilepic;?>">
                <input type="button" class="btn btn-success" value="Update Profile" onclick="valid_dashboard();">
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>

