/* Fonts 
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
/* Main Styles */
/*@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('RobotoCondensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
}*/

/*sens pro*/
$default-font-family: 'Source Sans Pro';
/*
Light
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/sourcesanspro-light-webfont.eot');
  src: url('#{$sansSourceProPath}/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$sansSourceProPath}/sourcesanspro-light-webfont.woff') format('woff'),
  url('#{$sansSourceProPath}/sourcesanspro-light-webfont.ttf') format('truetype'),
  url('#{$sansSourceProPath}/sourcesanspro-light-webfont.svg#sourcesanspro-light') format('svg'); // EDITED
  font-weight: 300; // EDITED
  font-style: normal;
}

/*
Regular
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/sourcesanspro-regular-webfont.eot');
  src: url('#{$sansSourceProPath}/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$sansSourceProPath}/sourcesanspro-regular-webfont.woff') format('woff'),
  url('#{$sansSourceProPath}/sourcesanspro-regular-webfont.ttf'), format('truetype'),
  url('#{$sansSourceProPath}/sourcesanspro-regular-webfont.svg#sourcesanspro-regular') format('svg'); // EDITED
  font-weight: 400; // EDITED
  font-style: normal;
}

/*
Bold
*/
@font-face {
  font-family: #{$default-font-family};
  src: url('#{$sansSourceProPath}/sourcesanspro-bold-webfont.eot');
  src: url('#{$sansSourceProPath}/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$sansSourceProPath}/sourcesanspro-bold-webfont.woff') format('woff'),
  url('#{$sansSourceProPath}/sourcesanspro-bold-webfont.ttf') format('truetype'),
  url('#{$sansSourceProPath}/sourcesanspro-bold-webfont.svg#sourcesanspro-bold') format('svg'); // EDITED
  font-weight: 700; // EDITED
  font-style: normal;
}
/*sens pro*/

::selection {
	background-color: #3c3c3c;
	color: #fff;
}
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	font-family: 'Source Sans Pro';
	-webkit-font-smoothing: antialiased;
	padding: 50px 0 0 !important;
}
/*@font-face {
	font-family: 'quates';
	src: url("../font-face/quates-fonts/icons.eot");
	src: url("../font-face/quates-fonts/icons.eot?#iefix") format('embedded-opentype'), url("../font-face/quates-fonts/icons.woff") format('woff'), url("../font-face/quates-fonts/icons.ttf") format('truetype'), url("../font-face/quates-fonts/icons.svg#icons") format('svg');
	font-weight: normal;
	font-style: normal;
}*/
p {
	letter-spacing: 0.03em !important;
}
a, a:hover, a:active, a:focus {
	color: #333;
	text-decoration: none;
	outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	margin: auto;
	text-transform: capitalize;
	/*text-shadow: 0px 2px 1px rgba(255,255,255,1);*/
	line-height: 100%;
}
p {
	margin: 0 0 5px;
	color: #111;
	font-weight: 0;
}
.txt-justify {
	text-align: justify !important;
	margin: 15px 0px 0px -30px
}
.txt-right {
	text-align: right !important;
}
.txt-left {
	text-align: left !important;
}
.clear {
	clear: both;
}
ol, ul {
	list-style: none;
	padding: 0;
}
.inline-list {
	margin-bottom: 0;
	list-style: none;
}
.inline-list li {
	display: inline-block;
	float: left;
	margin-left: 10px;
	padding: 0 5px
}
.inline-list li a:hover {
	color: #056ab2;
	text-decoration: underline;
}
/* Page Animated item Styles */

.animated {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
/*home page sections*/
#about-home {
	background-color: #f5f5f5;
	min-height: 500px;
	padding: 30px 0;
	border-top: solid 1px #333;
	border-bottom: solid 4px rgba(0,0,0,0.04);
}
#portfolio-home {
	background-color: #fff;
	min-height: 500px;
	padding: 30px 0 0 0;
	border-bottom: solid 4px rgba(0,0,0,0.1);
}
#testimonial-home {
	background-color: #f1f1f1;
	min-height: 185px;
	padding: 30px 0;
	border-bottom: solid 4px rgba(0,0,0,0.1);
}
#contact-home {
	background-color:;
	min-height: 500px;
	padding: 30px 0 0 0;
}
#bac_color{
	background-color: #f4f4f4;
	
}
.map-home {
	width: 100%;
	height: 300px;
	margin: 10px 0;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 20px 0;
}
.map-home img {
	max-width: none !important;
}
.testimonial-thumb-group {
	margin: 10px 0;
	display: table;
	width: 100%;
}
.border {
	display: inline-block
}
.shadow {
	display: block;
	position: relative;
}
.shadow img {
	display: inline;
}
.shadow::before {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	moz-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 0px 5px rgba(0,0,0,0.3);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
.border:hover .shadow::before {
	-moz-box-shadow: inset 0px 0px 100px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 0px 100px 5px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 100px 5px rgba(0,0,0,0.3);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.top-fixed {
	position: fixed !important;
	top: 0px;
}
.bottom-fixed {
	position: fixed;
	top: 0px;
}
.top-social-block {
	border-bottom: solid 1px rgba(0,0,0,0.2);
	height: 28px;
	background-color: #eeeeee;
}
/* Page Loading */

#pageloader {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #131313;
	z-index: 999999;
}
.loader-item {
	position: absolute;
	width: auto;
	height: height;
	margin: -25px 0 0 -25px;
	top: 50%;
	left: 50%;
	text-align: center;
}
.loader-item h2 {
	color: #ccc;
	margin: 0 auto;
	font-size: 20px;
}
/* Containers */

.contain {
	width: 100%;
	position: relative;
	height: auto;
}
.inner {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
	/*padding:150px 0 0 0;*/
	position: relative;
	z-index: 2;
}
.contain-logo {
	margin: auto;
	width: 64px;
	height: 64px;
	background: white;
	border: 1px solid #bcbcbc;
	padding: 18px 0;
	text-align: center;
	position: relative;
	top: -32px;
	border-radius: 100px;
}
.contain-logo i {
	font-size: 30px;
	color: #bcbcbc;
	font-weight: light;
}
/* Page Headers */
.page-heading {
	text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
	-moz-text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
	-ms-text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
	-o-text-shadow: 1px 1px 2px rgba(255,255,255,255.4);
	-webkit-text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
	max-width: 860px;
	margin: auto;
	text-align: center;
}
.page-heading h3 {
	font-size: 28px;
	font-weight: 400;
	line-height: 100%;
	text-transform: capitalize;
	color: #056AB2;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}
.page-heading h4 {
	margin: 8px auto 8px auto;
	padding: 0 0 10px 0;
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	background: url(../images/common-img/center-style.png) center bottom no-repeat;
}
.page-heading P {
	font-size: 18px;
}
.header {
	margin: auto;
	font-size: 28px;
	font-weight: 400;
	text-transform: capitalize;
	width: 100%;
	text-align: center;
	color: #056AB2;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}
.header-sub-desc {
	margin: 8px auto 8px auto;
	padding: 0 0 10px 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	width: 100%;
	max-width: 860px;
	text-align: center;
	background: url(../images/common-img/common-img/center-style.png) center bottom no-repeat;
}
/*small heading*/
.heading-a, .heading-l {
	font-size: 20px;
	font-weight: 500;
	color: #333;
}
.heading-l {
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
	text-align: left;
	line-height: 20px;
}
.heading-l-desc {
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	background: url(../img/common-img/blog-title-b.png) left bottom no-repeat;
}
.border-theme-l {
	line-height: 45px !important;
	background: url(../img/common-img/blog-title-b.png) left bottom no-repeat;
	margin-bottom: 10px;
}
.heading-b {
	margin: auto;
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
	width: 100%;
	text-align: left;
	padding-bottom: 10px;
	background: url(../images/common-img/left-border-style.png) left bottom no-repeat;
	text-shadow: 0px 2px 1px rgba(255,255,255,1);
	line-height: 100%;
}
.ic-check {
	margin: 0;
	padding: 10px 0;
	display: table;
}
.ic-check li {
	float: left;
	padding: 5px 30px 5px 0;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	transition: all 0.7s;
}
.ic-check li a {
}
.ic-check li a i {
	padding-right: 10px;
	color: #056ab2;
}
.ic-check li a:hover {
	color: #056ab2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.dark {
	color: #3c3c3c;
}
.white {
	color: white;
}
/* End Main Styles */

/* Home */

#home {
	width: 100%;
	height: auto;
	position: relative;
}
/* Super Slides */

#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .slides-container div, #slides .slides-container img {
	width: 100%;
	height: 100%;
}
.home-pattern {
	background: black;
	opacity: 0.4;
}
.pattern:after {
	background: url(../images/pattern.png);
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	content: "";
}
.home-pattern-style {
	background: url(../images/home-pattern.jpg) repeat;
	width: 100%;
	height: 100%;
}
#slides .slides-container .image1 {
	background: url(../images/1.jpg) center fixed;
}
#slides .slides-container .image2 {
	background: url(../images/2.jpg) center fixed;
}
#slides .slides-container .image3 {
	background: url(../images/3.jpg) center fixed;
}
#slides .slides-container .image4 {
	background: url(../images/4.jpg) center fixed;
}
#slides .slides-container .image5 {
	background: url(../images/5.jpg) center fixed;
}
#slides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
/* Super Slides Navigation */

.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 45%;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
	width: 74px;
	height: 74px;
	background: url(../images/arrows.png);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.slides-navigation a.prev {
	left: 1%;
	background-position: bottom center;
}
.slides-navigation a.next {
	right: 1%;
	background-position: top center;
}
#home:hover .slides-navigation a {
	opacity: 0.3;
}
.slides-navigation a:hover {
	opacity: 1 !important;
}
/* Super Slides Pager */

.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.slides-pagination a {
	border: 2px solid #222;
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
	zoom: 1;
 *display: inline;
	margin: 2px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
	background: #222;
}
/* Main Home Texts - With Flexslider */

.main {
	position: absolute;
	width: 100%;
	top: 50%;
	margin: 0 auto;
	z-index: 2;
	background: transparent;
	height: auto;
	min-height: 300px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}
.main ul {
	height: auto;
	min-height: 160px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.main ul li {
	list-style: none;
	font-size: 110px;
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
.main ul li span {
	color: #f02d2d;
}
/* Home Description */

.home-desc {
	width: 100%;
	max-width: 670px;
	margin: 35px auto;
	position: relative;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
/* Home Get Started Button */

.home-button {
	width: 170px;
	height: auto;
	padding: 10px 23px;
	border: 1px solid white;
	background: rgba(43,43,43,0.1);
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	cursor: pointer;
	margin: 35px auto;
	display: block;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.home-button:hover {
	background: white;
	color: #3c3c3c;
	text-decoration: none;
}
/* Page Top (only Rev Slider Version) */

#pagetop {
	background: #232323;
	padding: 12px 0;
}
.pagetop {
	padding: 0;
	color: #222;
	/*font-weight: 300;*/
	line-height: 1.8em;
	letter-spacing: 0.5px
}
.pagetop .left {
	text-align: left;
	padding: 0;
}
.pagetop .right {
	text-align: right;
	padding: 0;
}
.pagetop ul {
	margin: 0;
	padding: 0;
	/* [disabled]list-style:none;
*/
}
.pagetop li {
	float: left;
	border-left: solid 1px rgba(0,0,0,0.2);
	line-height: 1.8em;
	padding: 2px 7px 1px;
	cursor: pointer;
	text-shadow: 0px 1px 1px rgba(218,218,218,1);
	-moz-text-shadow: 0px 1px 1px rgba(218,218,218,1);
	-ms-text-shadow: 0px 1px 1px rgba(218,218,218,1);
	-o-text-shadow: 0px 1px 1px rgba(218,218,218,1);
	-webkit-text-shadow: 0px 1px 1px rgba(218,218,218,1);
}
.pagetop li:last-child {
	border-right: solid 1px rgba(0,0,0,0.2);
}
.pagetop li a {
	color: #505050;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 14px;
}
.pagetop li:hover {
	color: #000;
	background-color: #e1e1e1;
}
.pagetop .social-icon li {
	min-width: 16px;
	text-align: center;
}
/* Navigation */

#navigation {
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	position: absolute;
	z-index: 9999;
	background: #fff;
	height: 112px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
#navigation .navigation {
	padding: 0;
	height: 100%;
}
.shadow {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
/* Logo */

.navigation .logo {
	float: left;
	position: absolute;
	z-index: 999;
}
.navigation .logo a {
	width: auto;
	display: block;
	margin: 20px 0 0;
}

/* Nav Menu */

.nav-menu {
	width: auto;
	float: right;
	height: 82px;
	text-align: right;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	
}
/*.nav-menu ul {
	padding: 0;
	margin: 0;
}
.nav-menu ul li {
	height: 82px;
	width: auto;
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav-menu ul li a {
	padding: 32px 10px;
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #4444;
	text-decoration: none !important;
	/*text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-moz-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-o-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-webkit-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-ms-text-shadow:0px 0px 2px rgba(0,0,0,0.2)
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-left: 1%;
	margin-right: 1%;}*/

.nav-menu .navigate_menu {
	padding: 0;
	margin: 0;
}
.nav-menu .navigate_menu .navigation_menu {
	height: 82px;
	width: auto;
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0px;
}
.nav-menu .navigate_menu .navigation_menu .navi_menu {
	padding: 32px 8px;
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	color: #333;
	text-decoration: none !important;
	/*text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-moz-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-o-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-webkit-text-shadow:0px 0px 2px rgba(0,0,0,0.2);
	-ms-text-shadow:0px 0px 2px rgba(0,0,0,0.2)
	font-weight: 300;*/
	letter-spacing: 0.03em;
	margin-left: 0;
	margin-right: 0;
	}
	
	
.nav-menu .navigate_menu .navigation_menu .navi_menu:hover {
	background-color: #056ab2;
	color: #FFF;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	/*text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-moz-text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-o-text-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	-webkit-text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	-ms-text-shadow: 0px 0px 2px rgba(0,0,0,0.5);*/
}
.nav-menu .navigate_menu .navigation_menu .navi_menu.active {
	background-color: #056ab2;
	color: #FFF;
}
/*.nav-menu ul li:first-child a{
	padding-left:0;
}

.nav-menu ul li:last-child a{
	padding-right:0;
}*/

.nav-menu .navi_menu:hover {
	color: #056ab2;
}
.nav-menu .navi_menu.active {
	color: #056ab2;
}
.main-nav > li > a:hover, .main-nav > li > a:focus {
	background: none;
}
.main-nav li.active a {
	background-color: #056ab2;
	color: #FFF;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
}
/* Mini Navigation For Mobile */

.mobile-drop {
	height: 100%;
	width: 100%;
	display: none;
}

a.mobile-menu:hover {
	background-color: #1f84cc;
	border-color: #1f84cc;
	color: #fff;
	transition: all 0.3s ease 0s;
}
.mobile-drop ul.fullwidth {
	width: 93%;
	position: relative;
	margin: auto;
}
.mobile-drop ul.fullwidth li {
	width: 100%;
	height: auto;
	margin: 0;
}
.mobile-drop ul.fullwidth li a {
	padding: 10px;
	margin: 0;
	height: auto;
	text-align: left;
	text-transform: uppercase;
	border-bottom: 1px solid #ededed;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-drop ul.fullwidth li.active a {
	background-color: #383838;
	color: white;
}
/* Rev Slider Section */

.revslide .stext {
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}
/* Slide 1 */

.revslide .p1 {
	font-size: 35px;
	color: #262626;
}
.revslide .h1 {
	font-size: 55px;
	color: #262626;
	margin: 5px 0;
}
.revslide span {
	color: #e70000;
}
.revslide .h2 {
	font-size: 20px;
	color: #262626;
}
.revslide .h3 {
	font-size: 20px;
	color: #262626;
	padding: 9px 0;
}
/* Slide 2 */

.revslide .h4 {
	font-size: 85px;
	text-align: center;
	color: white;
	padding: 0;
}
.revslide .h5 {
	font-size: 30px;
	text-align: center;
	color: white;
	padding: 0;
	font-weight: 300;
}
/* Slide 3 */

.revslide .h6 {
	font-size: 50px;
	color: #726c64;
	padding: 0;
}
.revslide .p5 {
	font-size: 25px;
	color: #726c64;
	padding: 0;
}
.revslide .p6 {
	font-size: 15px;
	color: #726c64;
	padding: 0;
	text-transform: none;
	font-weight: 300;
}
/* Text Area */

#text-area {
	background: #3c3c3c;
}
.text-area {
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 30px 0;
}
.text-area h1 {
	margin: 0;
	font-size: 35px;
}
.text-area h1 span {
	font-weight: 500;
}
.text-area a {
	display: inline-block;
	margin: 20px 7px 5px;
	padding: 6px 18px;
	border: 1px solid white;
	background: transparent;
	font-size: 20px;
	color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.text-area a:hover {
	color: #3c3c3c;
	background: white;
}
/* About Section */
.page-section {
	padding: 20px 0;
	border-bottom: solid 4px rgba(0,0,0,0.04);
}
#about .about-content {
	width: 25%;
	height: auto;
	min-height: 276px;
	background: #fff;
	float: left;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#about .about-content .icon {
	text-align: center;
	margin: 19px auto 16px;
}
#about .about-content .top {
	width: 70px;
	height: 70px;
	background: transparent;
	border: 2px solid #464646;
	border-radius: 100px;
	padding: 20px 0;
	position: relative;
}
#about .about-content .top:after {
	position: absolute;
	background: transparent;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 500px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
#about .about-content .top i {
	font-size: 30px;
}
#about .about-content .bottom i {
	width: 31px;
	height: 31px;
	padding-top: 6px;
	font-size: 20px;
	color: #929292;
	background: transparent;
	border: 1px solid #464646;
	border-radius: 100px;
}
#about .about-content .text {
	width: 95%;
	text-align: center;
	margin: auto;
}
#about .about-content .content-header {
	text-transform: uppercase;
	font-size: 20px;
}
#about .about-content .content-desc {
	font-size: 15px;
	color: #717171;
	margin-top: 10px;
	font-weight: 100;
}
/* About Content Hover Styles */

#about .about-content:hover {
	background: #3c3c3c;
	color: #fff;
}
#about .about-content:hover .top {
	border: 2px solid #464646;
	background: #fff;/*
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	*/
}
#about .about-content:hover .top:after {
	border: 2px solid white;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
#about .about-content:hover .top i {
	color: #464646;
}
#about .about-content:hover .content-desc {
	color: #fff;
}
#about .about-content:hover .bottom i {
	border: 1px solid #fff;
	color: #fff;
}
/* Features */

#features {
	background: url(../images/i1.jpg)top center repeat-x;
	height: 962x;
	margin-top: 20px;
}
.f-iphone {
	width: 100%;
	height: 606px;
	margin: 50px auto 0;
	max-width: 1030px;
	background: url(../images/f-iphone.png) center center no-repeat;
}
/* Features Boxes */

.f-box {
	float: left;
	text-align: right;
	width: 360px;
	position: relative;
	margin: 25px 0;
	padding: 0 50px 0 0;
	color: #747474;
	font-weight: 300;
}
.f-box:after {
	content: '';
	width: 108px;
	height: 124px;
	right: -85px;
	top: 35px;
	position: absolute;
}
.f-box:nth-of-type(2n) {
	float: right;
	text-align: left;
	padding: 0 0 0 50px;
}
.f-box:nth-of-type(2n):after {
	left: -85px;
}
.f-box:nth-of-type(2n) .f-box-logo {
	margin-left: 0;
}
/* Features Box inners */

.f-box .f-box-logo {
	width: 70px;
	height: 70px;
	background: transparent;
	border: 1px solid #666666;
	border-radius: 200px;
	text-align: center;
	padding-top: 21px;
	margin-left: 240px;
}
.f-box .f-box-logo i {
	font-size: 30px;
}
.f-box .f-box-head {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
	margin: 10px 0 0;
}
.f-box .f-box-desc {
	font-size: 14px;
}
/* Features Box Strips */

.f1:after {
	background: url(../images/f1.png) no-repeat;
}
.f2:after {
	background: url(../images/f2.png) no-repeat;
}
.f3:after {
	background: url(../images/f3.png) no-repeat;
}
.f4:after {
	background: url(../images/f4.png) no-repeat;
}
/* Tabs & Skills */

#skills {
	margin-top: 30px;
}
.skills {
	border-top: 1px solid #bcbcbc;
}
/* Top Icon Style */

.br {
	top: -72px;
}
/* Tabs */

.tabs {
	width: 58%;
	float: left;
}
/* Tabs Navigations */

.nav-tabs {
	border: none;
}
.nav-tabs li a {
	font-size: 16px;
	color: #727373;
	font-weight: 300;
	padding: 12px 30px;
	text-transform: uppercase;
	border-radius: 0;
}
.nav-tabs li.active a {
	border-top: 2px solid #e70000;
}
.nav-tabs li.active a:hover {
	border-top: 2px solid #e70000;
}
/* Tabs panes */

.tab-pane {
	padding: 30px 0px;
	border: 1px solid #eeeeee;
	font-size: 15px;
	font-weight: 300;
	color: #8f8f8f;
}
.tab-pane .tab-icon {
	padding: 0 15px;
	float: left;
	width: 28%;
}
.tab-pane .tab-desc {
	padding: 0 20px;
	float: left;
	width: 72%;
	text-align: justify;
}
.tab-pane .only {
	width: 100%;
}
/* Progress */

.Progress-bars {
	float: right;
	width: 40%;
	height: auto;
}
.Progress-bars .head {
	font-size: 30px;
	color: #8f8f8f;
	text-transform: uppercase;
	font-weight: 300;
}
.Progress-content {
	margin: 6px 0;
	padding: 18px;
	border: 1px solid #ededed;
}
.progress {
	margin-bottom: 8px;
}
/* Progress Texts */

.progress-texts span {
	display: block;
	padding: 5px 0;
	color: #acacac;
	font-size: 15px;
}
.progress-texts .progress-name {
	float: left;
	text-transform: uppercase;
}
.progress-texts .progress-value {
	float: right;
}
/* History */

#history {
	margin: 60px auto 0;
	min-height: 1000px;
	background: url(../images/i2.jpg) top center repeat fixed;
}
/* Timeline */

ul.timeline {
	margin: 40px auto 0;
	width: 100%;
	background: url(../images/timeline-bg.jpg) center center repeat-y;
	height: auto;
	position: relative;
	padding: 0 0 80px;
}
/* Year icon */

.timeline .year {
	width: 75px;
	height: 75px;
	border: 3px solid #919191;
	border-radius: 300px;
	background: white;
	clear: both;
	padding: 21px 0;
	text-align: center;
	font-weight: 300;
	color: #3c3d3d;
	font-size: 20px;
	margin: 31px auto;
}
/* Notes */

.timeline .note {
	float: left;
	padding: 20px;
	width: 47.5%;
	background: rgba(242,242,242,0.1);
	border-radius: 12px;
	margin: 10px 0;
	cursor: pointer;
	position: relative;
	z-index: 550;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.timeline .year + .note {
	margin-top: -20px;
}
/* Start Icon */

.timeline .start {
	width: 64px;
	height: 64px;
	border: 3px solid #919191;
	border-radius: 300px;
	background: white;
	position: absolute;
	clear: both;
	padding: 19px 0;
	text-align: center;
	color: #868586;
	font-size: 24px;
	bottom: 0px;
	left: 50%;
	margin-left: -32px;
}
/* Note inners */

.timeline .note h4 {
	font-size: 19px;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
	color: #999999;
	margin: 5px 0;
}
.timeline .note p {
	font-size: 14px;
	color: #767676;
	margin: 8px 0;
}
.timeline .note span.date {
	font-size: 14px;
	text-transform: uppercase;
	color: #a5a5a5;
	line-height: 12px;
}
.timeline .note .arrow {
	color: rgba(242,242,242,0.1);
	position: absolute;
	right: -1.6%;
	left: auto;
	top: 20px;
	font-size: 12px;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.timeline .note:after {
	content: '';
	position: absolute;
	right: -6.8%;
	display: block;
	width: 18px;
	height: 18px;
	background: #343434;
	border: 2px solid #d6d6d6;
	border-radius: 100px;
	top: 18px;
	z-index: 20;
}
.timeline .note:nth-of-type(2n) {
	float: right;
	clear: right;
}
.timeline .note:nth-of-type(2n):after {
	left: -6.8%;
}
.timeline .note:nth-of-type(2n) .arrow {
	left: -1.6%;
	right: auto;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* Notes Rollover */

.timeline .note:hover {
	background: #f2f2f2;
}
.timeline .note:hover h4 {
	color: #707070;
}
.timeline .note:hover p {
	color: #767676;
}
.timeline .note:hover:after {
	background: #f02d2d;
	border: 2px solid #f02d2d;
}
.timeline .note:hover .arrow {
	color: #f2f2f2;
}
/* Our Team */

#team {
	padding: 60px 0 0;
}
.team-items {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 30px auto;
	position: relative;
}
.owl-wrapper-outer {
	text-align: center;
}
/* Our Team item */

.owl-item .item {
	height: auto;
	font-weight: 300;
	margin: 60px 0 0;
	padding: 15px;
	cursor: pointer;
	border-bottom: 4px solid #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.owl-item .item img {
	border: 4px solid #f4f4f4;
}
.owl-item .item h3 {
	font-size: 20px;
	color: #4e4e4e;
	text-transform: uppercase;
	margin: 0px;
}
.owl-item .item h4 {
	font-size: 16px;
	color: #a2a2a2;
	text-transform: uppercase;
	line-height: 15px;
	margin: 5px auto 15px;
}
.owl-item .item p {
	font-size: 15px;
	color: #a2a2a2;
}
/* Our Team Socials */

.socials {
	width: 100%;
	text-align: center;
}
.socials a {
	padding: 6px 3px;
	text-align: center;
	color: #656565;
	font-size: 17px;
	cursor: pointer;
}
/* Our Team Control Buttons */

.owl-buttons {
	position: absolute;
	top: 0;
	width: 80px;
	left: 50%;
	margin-left: -40px;
}
.owl-buttons>div {
	width: 35px;
	height: 35px;
	background-image: url(../images/team/controls.png);
	color: black;
	cursor: pointer;
}
.owl-prev {
	float: left;
	background-position: left top;
}
.owl-next {
	float: right;
	background-position: right top;
}
/* Our Team Rollovers */

.owl-prev:hover {
	background-position: left bottom;
}
.owl-next:hover {
	background-position: right bottom;
}
.owl-item .item:hover {
	background: #3c3c3c;
	border-bottom: 4px solid #e70000;
}
.owl-item .item:hover h3 {
	color: #e4e4e4;
}
.owl-item .item:hover h4 {
	color: #e4e4e4;
}
.owl-item .item:hover p {
	color: #e4e4e4;
}
.socials a i.fa-facebook:hover {
	color: #305fa5;
}
.socials a i.fa-instagram:hover {
	color: #ae997d;
}
.socials a i.fa-pinterest:hover {
	color: #cc2127;
}
.socials a i.fa-twitter:hover {
	color: #2daae2;
}
.socials a i.fa-google-plus:hover {
	color: #da2713;
}
/* Why Wisten */

#why-wisten {
	margin: 50px auto 0;
	background: url(../images/i3.jpg) center fixed;
	padding: 0 0 30px;
}
/* iphone image */

.w-iphone {
	float: left;
	margin: 30px auto 20px;
	margin-left: -40px;
	width: 49%;
}
.w-iphone img {
	width: 100%;
}
/* accordion menu */

.accordion {
	float: right;
	text-align: left;
	width: 49%;
	font-weight: 300;
	font-size: 15px;
	color: #2a2a2a;
}
.accordion .accordion-head {
	font-size: 40px;
	color: #565656;
	text-transform: uppercase;
}
.accordion .accordion-head span {
	color: #f02d2d;
}
.accordion .panel {
	width: 100%;
	border-bottom: 1px solid #b5b5b5;
	padding: 20px 0 0;
	background: transparent;
	margin-bottom: 0;
}
.accordion-heading {
	width: 100%;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.accordion-inner {
	padding: 0 15px 15px;
	display: block;
}
/* Our Works */


.works {
	position: relative;
	height: auto;
}
/* Filter Menu */

.filter-menu {
	position: relative;
	z-index: 999999;
}
.filters {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 40px auto 35px;
}
.inline {
	font-size: 0px;
}
.filters li {
	text-align: center;
	display: inline-block;
	font-size: 15px;
}
.filters li a {
	padding: 13px 20px;
	color: #7a7a7a;
	border: none;
	text-transform: uppercase;
	background: #e9e9e9;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.filters li a.selected {
	color: white;
	background: #3c3c3c;
	cursor: default;
}
.filters li:last-child a {
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	padding-right: 25px;
}
.filters li:first-child a {
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	padding-left: 25px;
}
.filters li:hover a {
	background: #3c3c3c;
	color: white;
}
/* Portfolio items */

.items {
	position: relative;
	height: auto;
}
.work {
	margin: 9px 0;
	padding: 0 9px;
	height: auto;
	color: #aaaaaa;
	cursor: pointer;
	overflow: hidden;
}
.work-inner {
	border: 1px solid #ebebeb;
}
.work-img {
	width: 100%;
	background: black;
	position: relative;
	overflow: hidden;
}
.work-img img {
	width: 100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.work-desc {
	width: 100%;
	background: white;
	margin: 0;
	text-align: center;
	padding: 15px 5px;
}
.work-desc h4 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
}
.work-desc p {
	font-size: 15px;
	margin: 0;
}
.work-img .button {
	width: 42px;
	height: 42px;
	display: block;
	border-radius: 100px;
	background: white;
	position: absolute;
	text-align: center;
	padding: 11px 0 0;
	font-size: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.work-img .button:hover {
	background: #e70000;
	color: white;
}
.work-img .zoom {
	left: 37%;
	top: 20%;
	opacity: 0;
}
.work-img .detail {
	right: 37%;
	bottom: 20%;
	opacity: 0;
}
.work:hover .work-img img {
	opacity: 0.2;
}
.work:hover .work-img .zoom {
	top: 50%;
	opacity: 1;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.work:hover .work-img .detail {
	bottom: 50%;
	opacity: 1;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	transform: translateY(50%);
}
/* isotope styles */

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* Services */

#services {
	margin: 100px auto;
}
#services .bg {
	background: url(../images/i4.jpg) top center fixed;
}
.service-contents {
	margin: 40px auto;
}
/* Service items*/

.service {
	display: block;
	float: left;
	margin: 0 20px;
}
.box {
	position: relative;
	z-index: 10;
}
.service a.service-logo {
	display: block;
	width: 100px;
	height: 100px;
	border: 1px solid #494949;
	border-radius: 500px;
	margin: 15px auto;
	padding: 42px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.box a:after {
	border: 1px solid #494949;
	content: '';
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	border-radius: 500px;
	position: absolute;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.service a.service-logo i {
	font-size: 20px;
	color: #494949;
}
.service h3 {
	margin: 5px auto 15px;
	padding: 0;
	text-transform: uppercase;
}
.service p {
	font-size: 14px;
}
/* Service Control Buttons*/

.service-contents .owl-buttons {
	width: 107%;
	left: 0;
	top: 45%;
	display: none;
}
/* Service Hovers*/

.box:hover a.service-logo {
	background: #494949;
}
.box:hover a.service-logo i {
	color: white;
}
.box:hover a:after {
	left: -1px;
	top: -1px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}
/* Services Bottom*/

#services .bottom-bg {
	background: url(../images/ipad.png) bottom center no-repeat;
	min-height: 240px;
	margin: 80px auto;
}
.service-bottom-text {
	text-align: center;
	font-size: 45px;
	font-weight: 100;
	text-transform: uppercase;
	color: #494949;
}
.service-bottom-text span {
	/* Background Styles */
	background: rgb(46,55,63); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(46,55,63)), color-stop(100%, rgb(85,106,132))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(46,55,63) 0%, rgb(85,106,132) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e373f', endColorstr='#556a84', GradientType=0 ); /* IE6-8 */
	border-radius: 12px;
	padding: 5px 20px;
	position: relative;
	color: white;
}
.service-bottom-text span:after {
	position: absolute;
	content: '';
	width: 170px;
	height: 100px;
	top: 68px;
	left: -34px;
	background: url(../images/spanbg2.png) center center no-repeat;
}
.slide-s {
	width: 75%;
	margin: 0 auto 30px;
}
.service-text .item {
	height: 180px;
}
/* Controls */

.carousel .s-controls {
	background-image: url(../images/service-icons.png);
	width: 30px;
	height: 30px;
	margin: 20px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.carousel a.right {
	background-position: right top;
}
.carousel a.left {
	background-position: left top;
}
.bottom-bg:hover .s-controls {
	opacity: 1;
}
.carousel a.left:hover {
	background-position: left bottom;
}
.carousel a.right:hover {
	background-position: right bottom;
}
/* video */

#video {
	height: 765px;
	margin: 0;
	position: relative;
}
.video-logo {
	position: relative;
	z-index: 5;
}
.video-pattern {
	background: url(../images/pattern.png);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 75px 0;
	position: absolute;
	text-align: center;
}
.video-text {
	background: url(../images/video-text.png) center center no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
	z-index: 1;
}
/* Pricing Tables */

#prices {
}
.packages {
	margin: 40px auto;
}
.packages .package {
	border: 1px solid #e1e1e1;
	height: auto;
	width: 23%;
	margin: 0 15px;
	float: left;
	background: url(../images/price-top-bg.jpg) top center repeat-x, white;
	text-align: center;
	cursor: default;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.first {
	margin-left: 0 !important;
}
.last {
	margin-right: 0 !important;
}
/* Pricing Table Header */

.package h1 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 25px;
	font-weight: 300;
	margin: 36px auto 27px;
}
/* Pricing Table Circle */

.package .circle {
	width: 100px;
	height: 100px;
	background: white;
	border: 1px solid #e7e7e7;
	border-radius: 150px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	text-align: center;
	color: #434343;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.package .circle:after {
	width: 114px;
	height: 114px;
	position: absolute;
	content: '';
	left: -8px;
	top: -8px;
	border-radius: 150px;
	background: transparent;
	border: 8px solid white;
	z-index: 2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.package .circle h2 {
	margin: 2px auto 0;
	font-size: 30px;
}
.package .circle h2 span {
	font-size: 20px;
}
.package .circle p {
	font-weight: 300;
	color: #a8a8a8;
	margin: 0 auto;
}
/* Pricing Table list */

.package ol {
	text-align: center;
	margin: 20px auto;
	font-weight: 300;
}
.package ol li {
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
	text-transform: uppercase;
	font-size: 18px;
	color: #8a8a8a;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.package ol li span {
	font-weight: 700;
}
.package ol li:nth-of-type(2n) {
	background: #fbfbfb;
}
.package a.p-btn {
	display: inline-block;
	background: #3d3d3d;
	padding: 8px 34px;
	color: white;
	margin: 0 auto 20px;
	text-transform: uppercase;
	border: 1px solid #b2b2b2;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Table Active Styles */

.packages .active {
	background: url(../images/price-top-bg.jpg) top center repeat-x, #3d3d3d;
}
.packages .active ol li {
	color: #c5c5c5;
}
.packages .active ol li:nth-of-type(2n) {
	background: #383838;
}
.packages .active .circle {
	background: #f02d2d;
	color: white;
	border: 1px solid #db1d1d;
}
.packages .active .circle:after {
	border: 7px solid #f02d2d;
}
.packages .active .circle p {
	color: white;
}
a.p-btn:hover {
	background: #f02d2d;
	border: 1px solid #f02d2d;
}
/* Subscribe */

#subscribe {
	border-top: 1px solid #f1f1f1;
}
.subscribe {
	padding: 17px 0;
}
.subscribe .subs {
	position: relative;
}
.subscribe .left {
	text-align: left;
}
.subscribe .right {
	text-align: right;
	top: 25px;
}
/* Left Subscribe icon */

.left a.left-icon {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: #3d3d3d;
	position: relative;
	text-align: center;
	padding: 35px 0;
	float: left;
}
.left a.left-icon:after {
	content: "";
	position: absolute;
	left: 97%;
	top: 50%;
	border-left: 11px solid black;
	border-left-color: #3d3d3d;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.left a.left-icon i {
	color: white;
	font-size: 30px;
}
/* Subscribe Text */

.subs .text {
	float: left;
	margin: 0 17px;
}
.subs .text h1 {
	margin: 20px auto 10px;
	text-transform: uppercase;
	font-size: 27px;
	color: #484541;
	font-weight: 400;
}
.subs .text h1 span {
	color: #e70000;
}
.subs .text p {
	font-size: 15px;
	color: #484541;
	font-weight: 300;
	text-transform: uppercase;
}
/* Subscribe right */

.subscribe-mail {
	outline: none;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	color: #d0d0d0;
	width: 250px;
	padding: 12px 10px;
	font-weight: 300;
	font-size: 15px;
	margin-right: 6px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.subscribe-btn {
	outline: none;
	border: 1px solid #e7e7e7;
	border-radius: 8px;
	color: white;
	text-transform: uppercase;
	padding: 8px 15px;
	font-weight: 400;
	top: 2px;
	font-size: 20px;
	background: #313131;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.subscribe-mail:hover {
	border: 1px solid #bcbcbc;
}
.subscribe-mail:focus {
	border: 1px solid #313131;
}
.subscribe-btn:hover {
	background: #e70000;
}
.subscribe-btn:active {
	background: #313131;
}
/* Contact */

#contact {
	padding: 0;
	height: auto;
	min-height: 567px;
}
.contact-logo {
	position: absolute;
	z-index: 22;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.contact-logo i {
	color: #444444;
}
#map {
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.contact {
	margin: 0 auto;
	padding: 0;
}
/* Contact Form */

.contact-form {
	width: 400px;
	height: auto;
	min-height: 567px;
	background: rgba(0,0,0,0.7);
	position: relative;
	top: 0;
	padding: 45px 50px;
	z-index: 5;
	left: 50%;
	-webkit-transform: translateX(-585px);
	-moz-transform: translateX(-585px);
	transform: translateX(-585px);
}
.contact-form h1 {
	font-size: 35px;
	text-transform: uppercase;
	color: #9c9c9c;
}
/* Form Inputs */

form#contact-us {
	min-height: 400px;
}
.form {
	outline: none;
	border: 1px solid #2b2b2b;
	color: #9c9c9c;
	width: 100%;
	padding: 14px 10px;
	font-weight: 300;
	font-size: 15px;
	margin: 10px auto;
	background: #080808;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.textarea {
	height: 100px;
	max-width: 100%;
	max-height: 100px;
}
.form-btn {
	outline: none;
	border: 1px solid #2b2b2b;
	color: black;
	text-transform: uppercase;
	padding: 8px 0;
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-weight: 400;
	top: 2px;
	font-size: 20px;
	background: #313131;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.form:hover {
	border: 1px solid #4e4e4e;
}
.form:focus {
	border: 1px solid #e70000;
}
.form-btn:hover {
	background: #e70000;
}
.form-btn:active {
	background: #313131;
}
/* Mail Sent Message */

.mail-message {
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	top: 185px;
	position: relative;
}
.mail-message p.mail-head {
	color: #e70000;
	font-size: 35px;
}
/* Footer */

#footer {
}
.footer {
	padding: 12px 0;
	line-height: 1.7em;
	background: #FbFbFb;
}
.footer a {
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Footer Links */

.footer-links {
	display: inline-block;
	border: 1px solid #494949;
	border-radius: 100px;
	margin: 0 3px;
}
.footer-links i {
	font-size: 25px;
	color: #494949;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 38px;
}
.footer-text {
	margin: 10px 0 0 0;
	color: #868686;
	font-size: 15px;
	font-weight: 300;
}
.footer-text span {
	margin: 0 5px;
}
.copyright {
	text-transform: uppercase;
	margin: 4px 0 0;
}
/* Blog */

#blog {
	margin: 30px auto;
}
/* Post */

.post {
	margin: 100px 0;
	width: 100%;
	position: relative;
}
.last-post {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 0;
	padding-bottom: 20px;
}
.post-icon {
	position: absolute;
	left: 50%;
	z-index: 5;
	padding: 8px;
	color: ##444444;
	text-transform: uppercase;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
/* Post Image */

.post .post-img {
	width: 100%;
	background: black;
	position: relative;
}
.post-img .zoom-button {
	width: 52px;
	height: 52px;
	display: block;
	border-radius: 100px;
	background: white;
	position: absolute;
	text-align: center;
	padding: 16px 0 0;
	font-size: 15px;
	opacity: 0;
	top: 60%;
	left: 50%;
	cursor: pointer;
	z-index: 6;
	color: black;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.post-img img {
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.post-img:hover img {
	opacity: 0.3;
}
.post-img:hover .zoom-button {
	opacity: 1;
	top: 50%;
}
.post-img .zoom-button:hover {
	background: #e70000;
	color: white;
}
.post-icon p {
	margin: 0;
	padding: 0;
}
.post-icon p.day {
	font-size: 25px;
}
.post-icon p.month {
	font-size: 13px;
	line-height: 0;
}
/* Post Heads and Texts */

.post-texts {
	position: relative;
	color: #6a6969;
	font-weight: 300;
	margin: 25px 0;
}
/* Post Header */

.post-texts .post-head {
	font-size: 30px;
	text-transform: uppercase;
	margin: 20px 0 10px;
}
/* Post Tags */

.post-texts .post-tags {
	margin: 10px 0;
}
.post a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.post-tags .tags {
	margin-right: 15px;
	cursor: pointer;
}
.post-tags .tags i {
	margin-right: 5px;
}
.post-texts .tags:hover {
	color: #e70000;
}
/* Post Messages */

.post-texts p {
	margin: 10px 0;
}
/* Post Button */

.btn-post {
	color: white;
	font-weight: 300;
	border-radius: 6px;
	margin: 5px 0;
	padding: 8px 15px;
	text-transform: uppercase;
	/* Gradient Background */
	background: rgb(116,116,116); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(116,116,116)), color-stop(100%, rgb(90,90,90))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(116,116,116) 0%, rgb(90,90,90) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#5a5a5a', GradientType=0 ); /* IE6-8 */
}
.btn-post:hover {
	color: white;
	/* Gradient Background */
	background: rgb(224,36,36); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(224,36,36)), color-stop(100%, rgb(190,25,25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(224,36,36) 0%, rgb(190,25,25) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02424', endColorstr='#be1919', GradientType=0 ); /* IE6-8 */
}
/* Post Slide */

.post-slide {
	height: auto;
	position: relative;
}
.post-slides .item img {
	width: 100%;
}
/* Blog Pager */

.blog .right {
	float: right;
}
.pagination li.active-page a {
	background-color: #5b5b5b;
	border-color: #5b5b5b;
	color: white;
}
.post-texts .post-head {
	font-size: 25px;
	margin: 0;
}
/*top page position*/
.top-clear {
	height: 80px;
	clear: both;
	background-color: #0CF;
}
.theme-bg-w {
	background-color: #fff;
}
.theme-bg-gray {
	background-color: #fbfbfb;
}
.color-mark, .contact_info h4 {
	color: #056ab2;
}
.margin-null {
	margin: 0 !important;
}
.skill .row {
	margin-bottom: 20px;
}
.contact_info {
	margin-top: 10px;
}
.contact_info .span3 {
	width: 257px;
}
.contact_info h4 {
	font-size: 18px;
	line-height: 1.7em;
	font-weight: 500;
	border-bottom: solid 1px rgba(0,0,0,0.3);
}
.stay-touch {
	margin: 20px 0;
	padding: 0;
}
.stay-touch li {
	float: left;
}
.stay-touch li a {
	font-size: 16px;
	padding: 5px 10px;
	border: solid 1px #ccc;
}
.stay-touch li a:hover {
	background-color: #e6e6e6;
	color: #000;
}
/*sent message home page..
.........................................................................................*/

.home-slider {
	/* background-color:#707f8c;*/
	background: url(../images/common-img/message-bg.jpg) no-repeat scroll left top;
	position: relative;
	background-size: cover;
}
.home-slider:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
	content: "";
	height: 400px;
	left: 0;
	position: absolute;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	width: 100%;
}
.send-message-bg, .send-message-bg2 {
	height: 360px;
	background: url(../images/common-img/message-bg.jpg) top left no-repeat;
	position: relative;
	background-size: cover;
	margin-top: 0.5%;
}
.send-message-bg:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	width: 100%;
	z-index: 100;
}
.send-message-bg2:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	width: 100%;
	z-index: 100;
}
.send-message-bg .container, .send-message-bg2 .container {
	position: relative;
	z-index: 200;
}
#send-magssage .row {
	margin-bottom: 10px;
}
.send-message input {
	height: 43px !important;
	color: #fff !important;
	font-size: 14px;
	font-weight: bold;
	opacity: 1;
	text-shadow: 1px 1px 1px #333;
	-webkit-text-shadow: 1px 1px 1px #333;
	-o-text-shadow: 1px 1px 1px #333;
	-moz-text-shadow: 1px 1px 1px #333;
	-ms-text-shadow: 1px 1px 1px #333;
}
.send-message input, .custome-textarea {
	border-radius: 0 !important;
	border: solid 2px #fff;
	background-color: transparent;
	-webkit-text-shadow: 1px 1px 1px #333;
	-o-text-shadow: 1px 1px 1px #333;
	-moz-text-shadow: 1px 1px 1px #333;
	-ms-text-shadow: 1px 1px 1px #333;
	font-size: 14px;
	font-weight: bold;
	color: #FFF !important;
}
.custome-textarea {
	resize: none;
}
.send-message input:focus, .custome-textarea:focus {
	background-color: rgba(255,255,255,0.3);
	box-shadow: none !important;
}
.map-frame {
	width: 100%;
	height: 100%;
	position: relative;
}
.map-content {
	z-index: 10;
	position: absolute;
	left: 50px;
	width: 390px;
	background-color: black;
	color: #FFF;
}
/*default style...
---------------------------------------------------------------*/
.page-heading .theme-txt-w {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	-moz-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	-ms-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	-o-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	-webkit-text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.shadow-block {
	background-color: #fff;
	border: solid 1px rgba(0,0,0,0.09);
	padding: 10px;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-moz-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-ms-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-o-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-webkit-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
}
.theme-txt-w {
	color: #fff !important;
}
/*page cover style...*/
.page-cover {
	height: 160px;
}
.page-cover:before {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	content: "";
	height: 160px;
	left: 0;
	position: absolute;
	transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
	width: 100%;
}
.page-cover .page-heading {
	z-index: 300 !important;
	padding: 30px 0;
	position: relative;
}
.page-cover .page-heading h3, .page-cover .page-heading h4, .page-cover .page-heading p {
	color: #fff;
	text-shadow: 0 1px 1px #000;
	-moz-text-shadow: 0 1px 1px #000;
	-ms-text-shadow: 0 1px 1px #000;
	-o-text-shadow: 0 1px 1px #000;
	-webkit-text-shadow: 0 1px 1px #000;
}
.portfolio-cover-img {
	background: url(../img/common-img/portfolio-cover-img.jpg) left top no-repeat scroll;
	background-size: cover;
}
.blog-cover-img {
	background: url(../img/common-img/blog-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.career-cover-img {
	background: url(../images/common-img/career-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.testimonial-cover-img {
	background: url(../images/common-img/testimonail-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.contact-cover-img {
	background: url(../images/common-img/contact-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.About-cover-img {
	background: url(../images/common-img/about-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.services-cover-img {
	background: url(../images/common-img/services-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.solutions-cover-img {
	background: url(../images/common-img/solution-cover-img.jpg)left top no-repeat;
	background-size: cover;
}
.portfolio-thumb .span6 {
	width: 550px !important;
}
.portfolio-thumb .view {
	height: 300px !important;
}
.portfolio-thumb li {
	margin-bottom: 40px !important;
}
.portfolio-thumb li:nth-child(even) {
	margin-right: 0px !important;
}
.portfolio-thumb li:nth-child(odd) {
	margin-right: 20px !important;
}
.portfolio-type {
	text-align: center;
	font-size: 18px;
}
.portfolio-type .nav-pills > li > a {
	border-radius: 0px;
	line-height: 2.3em;
}
.portfolio-type .nav-tabs > li > a, .portfolio-type .nav-pills > li > a {
	margin-right: 0px;
}
/* blog styel...*/

.blog-thumb-bg {
	background-color: #f7f7f7;
	border: solid 1px rgba(0,0,0,0.09);
	display: inline-block;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-moz-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-ms-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-o-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
	-webkit-box-shadow: 5px 5px 0 rgba(0,0,0,0.06);
}
.blog-thumb-bg img:hover {
	opacity: 0.8;
}
.blog-thumb-bg h4 {
	line-height: 1.4em;
	padding: 10px 0;
	background: url(../images/common-img/blog-title-b.png) left bottom no-repeat;
}
.blog-thumb-bg p {
	text-align: justify;
	margin-top: 5px;
}
.blog-thumb-date {
	position: absolute;
	right: 5px;
	top: 10px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5) !important;
	padding: 5px 15px;
	color: #fff;
	background-color: rgba(255,255,255,0.4);
	text-align: left;
	z-index: 1000;
}
.blog-thumb-date h2 {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5) !important;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 25px !important;
}
.blog-thumb-date p {
	margin: 0 auto;
	padding-top: 0;
	color: #000;
}
.testimonia-thumb {
	width: 200px;
}
/*career page style..*/
#career .row-fluid h3 {
	margin-bottom: 10px;
}
#career .row-fluid p {
	text-align: justify;
}
#career .row-fluid .border {
	margin-bottom: 15px;
}
.spacer {
	width: 100%;
	height: 50px;
	background-color: #fff;
}
.spacer-mini {
	width: 100%;
	height: 30px;
}
.spacer-mini2 {
	width: 100%;
	height: 20px;
}
.img-hint .hind-block {
	width: auto;
	height: auto;
	display: inline-block;
	padding: 3px;
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 1000;
}
.hind-block i {
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
	opacity: 0.5;
}
.hind-block i:hover {
	opacity: 1;
}
.cat-title {
	margin-top: 0 !important;
}
.cat-list, .r-post-list, .c-news-list {
	margin: 0;
	padding: 0;
}
.cat-list li, .r-post-list, .c-news-list {
	float: none;
}
.cat-list li a {
	width: 100%;
	display: block;
	padding: 12px 0;
	border-bottom: solid 1px rgba(0,0,0,0.15);
	margin-right: 10px;
}
.cat-list li a i {
	margin-right: 10px;
}
.cat-list li a i, .cat-list li a, .r-post-list li a, #related-p .carousel-control:hover, #related-p .thumbnail:hover .rp-dec, .c-news-list li a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.cat-list li a:hover {
	color: #056ab2;
	padding-left: 2%;
}
.cat-list li a:hover, .r-post-list li a:hover, #related-p .thumbnail .rp-dec, .c-news-list li a:hover {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}


.hide {
    display: none;
}

.cat-list li.active {
    background-color: #444;
}
.r-post-list li a, .c-news-list li a {
	width: 100%;
	min-height: 30px;
	display: block;
	padding: 7px 0;
	border-bottom: solid 1px rgba(0,0,0,0.15);
}
.r-post-list li a p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 300;
	color: #333;
}
.r-post-list li a small {
	color: #666;
}
.r-post-list li a:hover {
	color: #056ab2;
	background-color: #e9e9e9;
}
.c-news-list li a img {
	width: 80px;
	margin: 0 15px 0px 0;
	border: 4px solid rgba(0, 0, 0, 0.3);
}
.c-news-list li a h4 {
	color: #333;
	font-weight: 400;
	margin-bottom: 5px;
}
.c-news-list li a h3 {
	margin-bottom: 0 !important;
}
.c-news-list li a h3, .c-news-list li a span {
	font-weight: 400 !important;
	margin: 0;
	line-height: 20px;
	color: #056ab2;
}
.c-news-list li a:hover {
	background-color: #f1f1f1;
}
.c-news-list li a:hover img {
	border: 4px solid rgba(0, 0, 0,0.1);
	opacity: 0.8;
}
/*list style...*/
@media (min-width:768px) {
#related-p .carousel-control {
	position: absolute;
	top: -55px;
	width: 30px;
	height: 30px;
	margin-top: -20px;
	font-size: 15px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #333;
	opacity: 0.8;
	right: 40px;
	left: auto;
}
}
#related-p .carousel-control:hover {
	background-color: #056ab2;
	border: solid 1px #056ab2;
}
#related-p .carousel-control.right {
	right: 0;
	left: auto;
}
#related-p .thumbnail .rp-dec {
	text-align: center;
	font-size: 16px;
	color: #fff;
	position: absolute;
	z-index: 1000;
	padding: 10px 0;
	min-height: 30px;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	opacity: 0.8;
}
#related-p .thumbnail:hover .rp-dec {
	background-color: rgba(0,0,0,0.8);
	opacity: 0.9;
	font-size: 18px;
	padding: 20px 0;
}
/*cureent opportunity style here...*/
#curent_oppt .span6 {
	text-align: justify;
}
#curent_oppt .span6 img {
	width: 130px;
}
#curent_oppt .span6 h3 {
	margin-top: 0;
	padding-top: 0;
	line-height: 15px;
	color: #056ab2;
	font-size: 20px;
	font-weight: 400;
}
#curent_oppt .span6 h4 {
	color: #000;
	font-size: 16px;
}
#curent_oppt .span6 p {
	text-align: justify;
}
/* testimonial style..
--------------------------------------------------------*/
#testimonial {
	text-align: justify;
}
#testimonial .t-thumb {
	width: 200px;
	border: solid 6px rgba(0,0,0,0.2);
}
#testimonial h3 {
	margin-top: 0;
	color: #333;
}
#testimonial p {
	text-align: justify;
}
/*blockquates  style here...*/
.qautes {
	line-height: 1.45;
	position: relative;
	color: #383838;
	width: 50px;
	height: 30px;
	float: left;
}
.qautes:before {
	font-family: 'quates';
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 0px;
	top: -20px;
	color: #666;
}
/* services block style....*/
#services-block {
}
#services-block .span4 {
	border: 1px solid rgba(0, 0, 0, 0.15);/*#056ab2;*/
	font-size: 18px;
	font-weight: 300;
	min-height: 293px;
	padding: 30px 10px 0px;
	text-align: center;
	
}
#services-block .span4:hover{
	border-color: #056AB2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#services-block i {
	display: inline-block;
	padding: 25px;
	background-color: #fff;
	border-radius: 50%;
	font-size: 24px;
	text-shadow: 0 1px 2px rgba(255,255,255,0.2);
	-moz-text-shadow: 0 1px 2px rgba(255,255,255,0.2);
	-o-text-shadow: 0 1px 2px rgba(255,255,255,0.2);
	-ms-text-shadow: 0 1px 2px rgba(255,255,255,0.2);
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 5px rgba(0, 0, 0, 0.15);
	color: #000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#services-block h4 {
	color: #000;
	font-weight: 500;
	margin: 15px 0;
}
/*#services-block .span4:hover i {
	background-color: #359AE2;
	color: #fff;
	text-shadow: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}*/
#services-block .span4:hover i {
	border-color: #056AB2;
	color: #fff;
	text-shadow: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#services-block .span4:hover h4 {
	color: #056ab2;
}
.single-thumb h4 {
	font-weight: 400;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 10px;
}
.single-thumb p {
	letter-spacing: 0.09em;
	text-align: justify
}
.single-thumb img:hover {
	opacity: 0.7;
}
.thumb-left {
	margin-left: 20px !important;
	margin-bottom: 20px !important;
}
.thumb-right {
	margin-right: 30px !important;
	margin-bottom: 20px !important;
}
/*scroll up page...
-------------------------------------------------------------------------------------------------*/
.scrollup {
	text-align: center;
	z-index: 9999999999999999;
	position: fixed !important;
	bottom: 30px;
	right: 8px;
	color: #333;
	font-size: 20px;
	display: inline;
	padding: 8px;
	background-color: #fff;
	border: solid 3px rgba(0,0,0,0.35);
	display: none;
}
.scrollup:hover {
	background-color: #056ab2;
	color: #fff;
}
.hailight {
	background-color: #1DC7EA;
}
.hailight:hover {
	background-color: #0cb6d9 !important;
}
#call-to-action 
{
  color:#FFF;
}
.pad_bootum {
	padding: 10px 0px 0px 0px;
}
.np ul {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.np ul li a {
	display: inline-block;
	padding: 25px 0px 15px 0px;
}
.next_postion {
	float: right;
	margin-right: 0px;
}
.next_postion a:hover {
	color: #09F;
}
.prev_postion a:hover {
	color: #09F;
}
.bttn-light {
	color: #FFF;
	background-color: #06C;
	padding: 5px;
}
.bttn-light a:hover {
	color: #FFF;
}
.log_foooter {
	width: auto !important;
}
.prev_next ul {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.prev_next ul li {
	display: inline-block;
	color: #000;
}
.next_float {
	float: right;
}
.prev_next ul li a:hover {
	color: #0091D7	;
	padding: 20px 0px 20px 0px;
}
.bac_color {
	background-color: #F4F4F4;
	margin: 10px 0px 10px 0px;
}
.mar_hide {
	padding-top: 13px;
}
.algin_verti_middile {
	margin-bottom: 3px;
}
.doc_dimand {
	padding-bottom: 20px;
	font-size: 30px;
	color: #333;
}
.colo_url {
	color: #0073E6;
}
/*----------------------------carusel bootstrap css start----------------------------*/
.navbar-nav {
	float: right;
}
.navbar {
	margin-bottom: 0;
	margin-left: 25px;
	margin-right: 25px;
	padding: 15px;
}
.nav li a {
	color: #000;
}
.nav li a:hover {
	background: none;
}
.navbar-brand {
	position: relative;
}
.full_divider {
	background: url(/static/img/line_gradient.jpg) repeat-x top center;
	min-height: 5px;
}
.blue_line {
	border-bottom: 1px solid #03518d;
	margin: 50px auto;
}
footer {
	padding-top: 50px;
	background-color: #011a2f;
	min-height: 300px;
}
footer p {
	color: #fff;
}
footer p a {
	color: #fff;
}
footer p a:hover {
	text-decoration: underline;
	color: #fff;
}
/* HOMEPAGE */

/* Sections */
section h1 {
	color: #03518d;
}
/* Carousels */
.carousel-control.right, .carousel-control.left {
	background: none;
	color: #888;
}
#featuredCarousel {
	margin-bottom: 25px;
}
#featuredCarousel .carousel {
	height: 500px;
}
#featuredCarousel .carousel .item {
	height: 500px;
}
#testimonialCarousel .carousel {
	height: 175px;
}
#testimonialCarousel .item {
	margin: 0 auto;
	width: 100%;
}
/* About */
section#about h1 {
	margin-bottom: 25px;
}
section#about p {
	margin: 10px auto;
	width: 50%;
}
/* Employees */
section#employees {
}
#employee_list h2 {
	color: #03518d;
	font-size: 14px;
}
#employee_list h2 small {
	font-size: 14px;
	color: #000;
	display: block;
	padding-top: 5px;
}
.employee_bio {
	padding-top: 40px;
	margin-top: -5px;
	padding-bottom: 20px;
}
.employee_bio p {
	font-size: 14px;
}
.employee_bio h3 {
	font-size: 21px;
	color: #03518d;
	padding-bottom: 20px;
}
.employee_bio h3 span {
	color: #000;
}
#employee_list li a img {
	border: none;
	opacity: .5;
	filter: alpha(opacity = 50);
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
}
#employee_list li a:hover img, #employee_list li a img.active {
	opacity: 1;
	filter: alpha(opacity = 1); /* for IE */
}
.top_margin {
	margin-top: 8px;
	color: #056ab2;
}
.coo_otr {
	background-color: #fbfbfb;
}
.clo_chage {
	background-color: #FFF;
}
.bac_color_career {
	background-color: #F4F4F4;
}
.bor_fade {
	border: 4px solid #D7D7D7;
	opacity: 0.9;
}
.bor_fade:hover {
	border: 4px solid #E6E6E6;
	opacity: 1;
}
.col_white {
	background-color: #FFF;
}
.border_gray {
	border-top: solid 4px rgba(0,0,0,0.1);
	border-bottom: solid 4px rgba(0,0,0,0.1);
}
.cuto_mize {
	background-color: #A8D3FF;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 4px;
	line-height: 17px;
	text-shadow: 1px 0px 1px #CCCCCC;
	border: none;
}
.skepe_margin {
	margin: 0px 5px 3px 0px;
}
.doc_diman {
	font-size: 30px;
}
.doc_diman:hover {
	color: #009FEC;
}
.popup_padding {
	border-radius: 2px;
	border: 1px solid #008FD5;
	width: 630px;
	min-height: 360px;
	background-color: #FCFCFC;
	display: none;
}
.modal.fade.in {
	top: 20%;
}
.padd_top_action {
	padding-top: 5.6%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
	color: #9D9D9D;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 4px 6px;
	vertical-align: middle;
}
.color_back_button {
	background-color: #FFF;
}
.color_back_button:active {
	background-color: #056ab2;
}
.cutumize_close {
	margin: 6px 10px 0px 0px
}
.no_resize {
	resize: none;
}
.change_Dropdown {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	list-style: outside none none;
	min-width: 160px;
	position: absolute;
	top: 100%;
	z-index: 1000;
}
.check_ic {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 18px;
	letter-spacing: 0.03em;
}
.process_grid ul li a {
	padding: 1.2% 0%;
	line-height: 30px;
}
.menu_left {
	float: left;
}
.margin_sub{
	margin-right: 5.5%;
}
.mar_top {
	margin-top: 5%;
}
.mar_bottom {
	padding-bottom: 2%;
}
.process_grid ul li a:hover {
	color: #056ab2;
}
.check_ic i {
	color: #056ab2;
}
.process_prg{
	line-height: 25px;
	letter-spacing: 2px;
}
.bullet_process{
	margin-left: 0px;
	margin-right: 0px;
	padding: 5px 0px 10px 0px;
	
}
.bullet_process li{
	line-height: 30px;
	letter-spacing: 1px;
	/*font-size: 16px;*/
	color: #333;
}

.bullet_detail li{
	line-height: 1.5em;
	letter-spacing: 1px;
	color: #333;
}
.webdesin_prg {
	color: #333;	
}
.send-message .manifestform {
	max-width: 560px;
}
.margin_left{
	margin-left: 0px;
}
/*01-04-2015*/
.line_hori{
	border-bottom: solid 1px #E2E2E2 ;
	padding-top: 10px;
}
.line_hori_for{
	border-bottom: solid 4px #E2E2E2 ;
}
/*-------testmonial-------******/
.rou_images {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	clear: both;
}
/*01-04-2015*/
.span4.margin_minus{
	margin-left: 0px;
}
/*06-04-2015*/
.line_hagiht{
	line-height: 28px;
}
.butt_left{
	padding-bottom: 30px;
}
.box_round{
	border-raduis: 20%
}
/*06-04-2015*/

/*07-04-2015*/
.justify {
	text-align: justify !important;
	padding-top: 10px;
	font-size: 18px;
	color: #222;
	font-weight: 300;
	line-height: 1.6em;
 }
.margin_sub_services{
	margin-top: -10px !important;
}
.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0  3px 3px -1px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.1);
	transform: scale(1.05);
}
.padding_top_img{
	padding-top: 15px;
}
/*07-04-15*/

/*08-04-15*/
.border_raduis_tumb{
	webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	border: 4px solid rgba(0, 0, 0, 0.2);
	opacity: 0.9;
}
.border_raduis_tumb{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.border_raduis_tumb:hover, .border_raduis_tumb:focus, .border_raduis_tumb:active {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1.0;
}
.border_img_span{
	border: 4px solid #999;
}
.click_m{
	cursor: pointer;
}
/*14-4-2015*/
.social-fb{
	color: #3A5795;
}
.social-in{
	color: #226298;
}
.social-fb:hover {
	color: #0058B0;	
}
.social-in:hover {
	color: #0077B5;
}
#social:hover {
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1); 
	-o-transform:scale(1.1); 
}
#social {
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	-o-transform:scale(0.8); 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}     
.center-block{
	padding-bottom: 20px;
}
.page-desc {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 25px;
	margin: 0px auto 20px;
	max-width: 100%;
	width: 100%;
	padding-top: 20px;
}
/*14-4-2015*/
.check_right { list-style:none; }
.li_cheak{ margin-bottom:0px; }
.li_cheak:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -22px;
	color: #056ab2;
}
.Desktop_button {
	border: 2px solid #ef9356;
	color: #ca7d40;
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 0;
	padding: 10px 20px;
}
/*.Desktop_button {
	background-color: #FFA366;
	border: 2px solid #FFA366;
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 1px;
	margin-left: 0;
	padding: 10px 20px;
}*/
.Desktop_button:hover{
	background: #FFF;
	color: #ea1b3c;
	border: 2px solid #ea1b3c;
	transition: all 0.3s linear 0s;
}
.Desktop_button:focus {
	color: #ea1b3c;
	border-color:#ea1b3c;
}

.Desktop_button1 {
  	border: 2px solid #9ebade;
	color: #587498;
	font-size: 20px;
	margin-left: 0;
	padding: 10px;
}
/*.Desktop_button1{
	background-color: #587498;
	border: 2px solid #587498;
	color: #ffffff;
	font-size: 20px;
	margin-left: 0;
	padding: 10px 10px;
}*/
.Desktop_button1:hover{
	background: #FFF;
	color: #ea1b3c;
	border: 2px solid #ea1b3c;
	transition: all 0.3s linear 0s;
}
.Desktop_button1:active{
	background: #FFF;
	color: #ea1b3c;
	border: 2px solid #ea1b3c;
	box-shadow: 0 0 10px #ea1b3c;
	transition: all 0.3s linear 0s;
}
.Desktop_button1:focus {
	color: #ea1b3c;
	border-color:#ea1b3c;
}
#mobile_hide .btn:focus {
  background-color: #FFF;
}
.bs-example {
  	float: right;
	margin-right: 6.3%;
	margin-top: 1.65%;
  
}
.btn_two {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.btn_two li {
	display: inline-block;
	padding:0 15px;

}
.row-fluid [class*="span"] {
  box-sizing: border-box;
  display: block;
  float: left;
  /*margin-left: 1.8%;*/
  min-height: 30px;
  margin-bottom: 10px;
}
.logo {
	margin-top: 7px;
}
a.mobile-menu {
	
	/*border: 2px solid #056ab2;
	color: #eee;
	font-size: 35px;
	padding: 21px;
	position: absolute;
	right: 5px;
	top: 0%;
	background: none repeat scroll 0 0 #ea1b3c;*/
	background: none repeat scroll 0 0 #056ab2;
	
	border: 2px solid #056ab2;
	color: #eee;
	font-size: 35px;
	left: auto;
	padding: 21px 25px;
	position: absolute;
	top: 0;
}
.bgcolor_jo{
	color: #FFF;
	background-color: #D1D1D1;
	text-align: center;
}
.border_box{
	padding: 10px 10px 5px 10px;
	box-shadow: 6px 6px 0px #E4E4E4;
	background-color: #FFF;
}
.dropdown-menu_scroll {
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
	
}
.open > .dropdown-menu_scroll {
  	/*display: block;
	list-style: outside none none;
	margin-bottom: 20px;
	margin-left: 37.2%;*/
	display: block;
	list-style: outside none;
	margin-bottom: 20px;
	-webkit-margin-start: 37.7%;
	-moz-margin-start: 37.3%;
 }
 .dropdown-menu_scroll  > li > a{
  clear: both;
  font-weight: normal;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #F4F4F4;
}
.dropdown-menu_scroll li{
	display: inline-block;
	float: left !important;
}
.dropdown-menu_scroll li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #056AB2;
}
.nav.dropdown-menu_scroll li .scroll.active {
	background-color: #056AB2;
	color: #FFF;
}
.bottom{
	text-align: center;	
}
.bottom1{
	text-align: center;
	padding: 0px 0px 10px 0px;
}
.font_change{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5em;
	text-align: justify;
}
