<?php
use ZfcDatagrid\Column;
$title = 'My Campaigns';
$this->headTitle($title);

?>


<h1> <?php echo $this->escapeHtml($title); ?> </h1>
<p><a href="<?php echo $this->url('user/campaigns', array('action' => 'add')); ?>">Add new campaigns </a> </p>
  <?php  
       echo $grid->getResponse();

      die;
      
      
?>
<table class="table">
    <tr>
        <th> Campaign Id </sth>
        <th> Preview </th>
        <th> Payout </th>
        <th> Categories </th>
    </tr>   
<?php foreach ($campaigns as $campaign): ?>
        <tr>
            <td>  <?php echo $this->escapeHtml($campaign->campaign_id); ?> </td>
            <td>  <?php echo $this->escapeHtml($campaign->preview); ?> </td>
            <td>  <?php echo $this->escapeHtml($campaign->payout); ?> </td>
            <td>  <?php echo $this->escapeHtml($campaign->categories); ?> </td>
            <td>

                <a href=" <?php
                echo $this->url('user/campaigns', array('action' => 'edit', 'id' => $campaign->campaign_id));
                ?>">Edit</a>

            </td>
            <td>
                <a href=" <?php
            echo $this->url('user/campaigns', array('action' => 'delete', 'id' => $campaign->campaign_id));
            ?>">Delete</a>
            </td>
        </tr>
               <?php endforeach; ?>
</table>