<section class="edit-profile">
    <div class="container" style="z-index:1; position:relative;">
        <div class="row">
            <div class="col-lg-3 col-sm-5 col-xs-3">
                <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
                    <?php
                    if($photographerdata->profilepic=="")
                      {?>
                          <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } else {?>
                      <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
                      <?php } ?>
                </div>
                <?php 
                if($editable == 1)
                {?>
                    <a href="user/photographer/editprofile" class="btn btn-success pull-left " style="margin-left:20px;" >Edit Profile</a><?php
                }?>
            </div>
            <div class="col-lg-5 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-left">
                    <div class="detail-box-first">
                        <h3><?php echo $_SESSION['user']->first_name;?></h3>
                        <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
                        <p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-12">
                <div class="profile-detail-box pull-right">
                    <div class="detail-box-first">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i> 5 Rated</a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-heart-o"></i> Short List</a></li>
                        </ul>
                        <p>Rate: 2000 INR/PNG</p>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h3 class="text-center"><?php echo $albumsdata->album_name;?> </h3>
        <div class="row" style="margin:25px 0;">
            <?php 
                //echo '<pre>';print_r($photographerdata);exit;
                $percent = 0;
                $show_percent = 0;
                if($photographerdata->profile_progress==1)
                {
                $percent = $percent + 0.1;
                }
                if($photographerdata->total_albums>0)
                {
                $percent = $percent + (0.15 * $photographerdata->total_albums);
                }
                if($percent>=1.0)
                {
                $percent=1.0;
                }
                if($percent>0)
                {
                $show_percent = $percent*100;
                }
            ?>
            <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
         
        <div class="row" id = "album_description" style="margin:25px">
            <p><?php echo $albumsdata->description;?></p>
        </div> 
        <?php 
        /*if($editable == 1)
        {?>
            <div class="row" id = "edit_album">
                <a href="user/photographer/editalbum/<?php echo $albumsdata->album_id;?>" class="btn btn-success pull-right" style="margin:0 25px 25px 0;" >Edit Album</a>
             </div> <?php 
        }*/?>

        <div class="row" id = "edit_album">
            <a href="user/photographer/editalbum/<?php echo $albumsdata->album_id;?>" class="btn btn-success pull-right" style="margin:0 25px 25px 0;" >Edit Album</a>
         </div>
          
                  
        <div class="row" id = "album_div">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Photo</div>
                        <div class="panel-body">
                            <div class="row">
                                <?php foreach($albumsdata->image as $album_image) 
                                {
                                    //echo '<pre>'; print_r($album_image); ?>
                                    <div id="img_'+value.unique_id+'" class="col-lg-4 col-sm-6 col-xs-12">
                                        <div class="thumbnail album-desc">
                                            <a class="pull-right btn-dismiss" title="Delete image" href="javascript:void(0)" onclick="delete_image('+value.unique_id+',\''+value.name+'\');">x</a>
                                            <img id="sp_'+value.unique_id+'" alt="Photographer" alt="<?php echo $albumsdata->album_name;?> Picture" class="img-responsive" src="<?php echo $album_image_path . str_replace("_pp_","_tn120x120_",$album_image['thumbname']);?>">
                                            <textarea placeholder="Say somthing about this photo...." class="form-control"></textarea>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>















