 <link rel="stylesheet" type="text/css" href="bootstrap-theme.min_fickle.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="bootstrap.min_1.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="ladda-themeless.min_fickle.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="bigbox.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="jackedup.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="jackedup.css" media="screen" />
 <link rel="stylesheet" type="text/css" href="libnotify.css" media="screen" />
 
 <div class="login-form">
                                <form id="form-login" action="#" class="form-horizontal ls_form">
                                    <div class="input-group ls-group-input">
                                        <input class="form-control" type="text" placeholder="Username">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>


                                    <div class="input-group ls-group-input">

                                        <input type="password" placeholder="Password" name="password"
                                               class="form-control" value="">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    </div>

                                    <div class="remember-me">
                                        <input class="switchCheckBox" type="checkbox" checked data-size="mini"
                                               data-on-text="<i class='fa fa-check'><i>"
                                               data-off-text="<i class='fa fa-times'><i>">
                                        <span>Remember me</span>
                                    </div>
                                    <div class="input-group ls-group-input login-btn-box">
                                        <button class="btn ls-dark-btn ladda-button col-md-12 col-sm-12 col-xs-12" data-style="slide-down">
                                            <span class="ladda-label"><i class="fa fa-key"></i></span>
                                        </button>

                                        <a class="forgot-password" href="javascript:void(0)">Forgot password</a>
                                    </div>
                                </form>
                            </div>