<h1> Composite Zend Form Elements </h1>
<?php $this->form; ?>
<?php
$form = $this->form;
$form->prepare();

$form->SetAttribute('action', $this->url(NULL, array('controller' => 'login', 'action' => 'ajax')));
$form->setAttribute('method', 'post');
echo $this->form()->openTag($form);?>
<?php echo $this->formElement($form->get('email')); ?>
<?php echo $this->formElement($form->get('password')); ?>

<?php echo $this->formElement($form->get('Login'));?>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

<script type="text/javascript">
$(function()
{
    $("input").blur(function()
    {
       var formElementId = ($(this).get(0).name);
       dovalidation(formElementId);
    });
});

function doValidation(id)
{
    var url = '/login/validateform'
     var data = {};
       $("input").each(function()
       {
           //console.log($(this).attr("name"));
          data[$(this).attr("name")] = $(this).val();
         
       });
      // console.log($data);
      $.post(url,data,function(resp))
      {
          $("#"+id).parent().append(getErrorHtml(resp[id], id));
        console.log(resp);
      }, 'json');
}

function getErrorHtml(formErrors , id)
{
    var o = '<ul id="errors-'+id+'" class="errors">';
    for(errorKey in formErrors)
    {
        o += '<li>' + formErrors[errorKey] + '</li>';
    }
    o += '</ul>';
    return o;
}
</script>

<?php echo $this->form()->closeTag($form);?>