
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">List of Project Skills</h3>

                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <a href="<?php echo $this->url('user/projectmanager', array('action' => 'index'));
?>">&raquo; Project List</a>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <h3 class="panel-title">Project Skills -&gt;&gt; [<?php echo $result_project->project_name;?>] [<?php echo $result_project->project_shortcut;?>]</h3>
                        </div>
                        <div class="panel-body">
                            <!--Table Wrapper Start-->
                            <div class="table-responsive ls-table">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                                <td colspan="3" class="text-right">
                                                    <a href="<?php echo $this->url('user/projectskill', array('action' => 'delete','project_id'=>$this->project_id)); ?>"><button class="btn btn-xs btn-danger">Delete All</button></a>
                                                </td>
                                        </tr>
                                        <tr>
                                            <th>#</th>
                                            <th>Skill</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <?php $i=1;
                                            foreach ($this->result as $skill) : 
                                                
                                                ?>
                                                <td><?php echo $i;?></td>
                                                <td><?php echo $this->escapeHtml($skills_result[$skill->skill]['skill']); ?></td>
<!--                                                <td>
                                                    <span class="label label-default">Wordpress</span>
                                                    <span class="label label-info">Portfolio</span>
                                                    <span class="label label-success">Corporate</span>
                                                </td>-->
                                                <td colspan="2" class="text-right">
                                                    <a href="<?php echo $this->url('user/projectskill', array('action' => 'edit', 'project_id'=>$skill->id)); ?>"><button class="btn btn-xs btn-info">Edit</button></a> 
                                                    <a href="<?php echo $this->url('user/projectskill', array('action' => 'deletes','project_id'=>$skill->id)); ?>"><button class="btn btn-xs btn-danger">Delete</button></a>
                                                </td>
                                            </tr>

                                        <?php 
                                        $i++;
                                        endforeach; ?>     

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>