/*
	Todd Motto Labs
	URL: www.toddmotto.com
*/

/*------------------------------------*\
    Responsive Navigation
\*------------------------------------*/
body {
	background:#ECF0F1;
}
a,
a:hover {
	text-decoration:none;
}
ul,
ol {
	list-style:none;
}
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
.main {
	/*width:100%;*/
	text-align:center;
	float: right;
}
.content {
	text-align:left;
	/*margin:25px 0;*/
}
.content-text {
	margin:0 0 15px;
}
/* Navigation styling */
.nav {
	position:relative;
	display:inline-block;
	font-size:14px;
	font-weight:900;
}
.nav-list {
	
}
.nav-item {
	/*float:left;*/
	*display:inline;
	zoom:1;
}
.nav-item a {
	display:block;
	/*padding:15px 20px;*/
	color:#FFF;
	background:;
}
.nav-item:first-child a {
	/*border-radius:5px 0 0 5px;*/
}
.nav-item:last-child a {
	/*border-radius:0 5px 5px 0;*/
}
.nav-item a:hover {
	background:#2C3E50;
}
/* Mobile Navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	background:#ffaf2d url(../img/nav.png) no-repeat center center;
	height:40px;
	width:40px;
	/*border-radius:5px;*/
	/*-webkit-border-radius:5px;*/
	-moz-border-radius:5px;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 220px) and (max-width: 1024px) {
	.nav-mobile {
		display:block;
		margin-top: 10px;
	}
	.nav {
		width:100%;
		padding:45px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
	}
	.nav-item a {
		background:#ffffff;
		padding:10px;
	}
	.nav-item:first-child a {
		border-radius:5px 0 0;
	}
	.nav-item:last-child a {
		/*border-radius:0 0 5px 5px;*/
	}
	.nav-active {
		display:block;
	}
	.nav-mobile-open {
		/*border-radius:5px 5px 0 0;*/
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
}