 <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>3481 Melrose Place<br>
                Beverly Hills, CA 90210</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li> <a href="https://www.facebook.com/ownrockprivate" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a> </li>
                <li> <a href="https://plus.google.com/u/1/110906240436819437853/about" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a> </li>
                <li> <a href="https://twitter.com/rock_own" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a> </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About Us</h3>
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div id="login-block" class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Log in with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Log in with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                        
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="loginemail" placeholder="Email..." class="form-username form-control" id="loginemail">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="loginpassword" placeholder="Password..." class="form-password form-control" id="loginpassword">
            </div>
          <div class="form-group">
            <div class=" col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox"><font style="font-size:14px;">Remember me</font>
                  <span style="padding:0 0 0 30px;font-size:14px;"><a href="javascript:void(0);" onClick="$('#forgot-password').show();$('#login-block').hide();">Forgot Password?</a></span>
                </label>
                </div>
            </div>
          </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_login()" id="loginBtn">
              <span class="login">Log In</span>
            </button>
          </form>
        </div>
        <div id="forgot-password" class="row centered" style="display:none;">
          <span id="sent-msg" style="display:none;">Forgot password link has been sent to your email .. please check your email.</span>
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="forgetemail" placeholder="Email..." class="form-username form-control" id="forgetemail">
            </div>
            
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_email();" id="forgetBtn">
              <span class="login">Send</span>
            </button>
          </form>
        </div>
        </div>
      <div class="modal-footer">
        Don't have account ?<a data-toggle="modal" data-target="#myModal1" href="#myModal">&nbsp;Sign Up</a>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!-- Modal FOR SIGN uP -->
  <div class="modal fade" id="myModal1" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Sign Up with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Sign up with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img_reg">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
          <form role="form" action="/user/home/register" method="post" class="register-form col-sm-12" name="reg-form" id="reg-form">
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <input type="text" name="name" placeholder="Enter Name..." class="form-username form-control" id="name">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-username">Email Address</label>
                <input type="text" name="email" placeholder="Enter Email..." class="form-username form-control" id="email">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Enter Password</label>
              <input type="password" name="password" placeholder="Enter Password..." class="form-password form-control" id="password">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Confirm Password</label>
              <input type="password" name="confirm_password" placeholder="Confirm Password..." class="form-password form-control" id="confirm_password">
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="tnc" id="tnc"><font style="font-size:14px;">By signing up, I agree to Ownrock's Terms of Service and Privacy Policy</font>
                </label>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_register()" id="regBtn"><span class="login">Sign Up</span></button>
          </form>
        
            </div>
        </div>
        <div class="modal-footer">
          Already an ownrock member ?<a data-toggle="modal" data-target="#myModal" href="#myModal" data-dismiss="modal">&nbsp;Sign In</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

<!-- Header -->

<!-- /.modal --> 
<!-- Bootstrap core JavaScript jQuery--> 
  
  
  <!-- Bootstrap Core JavaScript 
  <script src="<?php //echo $front_home_asset_path;?>js/bootstrap.min.js"></script>--> 

  <!-- Plugin JavaScript --> 
  
<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script>    
  <!--  City Auto Suggesstion -->
<script src="<?php echo $front_home_asset_path;?>js/freelancer.js"></script> 

    





<script> 
function valid_profile()
{
  //alert("hii");
  var name            = $("#name").val();
  var location        = $("#location").val();
  var phone           = $("#phone").val();
  var full_country    = $("#full_country").val();
  var price           = $("#price").val();
  var description     = $("#description").val();
  var valid = true;

  $("#nameerr").html("");
  $("#phoneerr").html("");
  $("#locationerr").html("");
  $("#priceerr").html("");
  $("#descriptionerr").html("");
  var string = $('#description').val();
    string = string.replace(/(^\s*)|(\s*$)/gi,"");
    string = string.replace(/[ ]{2,}/gi," ");
    string = string.replace(/\n /,"\n");
  var length = string.split(' ').length;
  //alert(phone.length);
  if(full_country=="")
  {
     $("#location").val("");
  }

  if(name=="")
  {
    //alert("Please fill all the required fields.");
    $("#nameerr").html("Name should not be blank.");
    $("#name").css("border", "2px solid red");
    $("#nameerr").css("color", "red");
    valid = false;
  }
  if(location=="")
  {
    $("#locationerr").html("Location should not be blank.");
    $("#location").css("border", "2px solid red");
    $("#locationerr").css("color", "red");
    valid = false;
  }
  if(price=="")
  {
    $("#priceerr").html("Price should not be blank.");
    $("#price").css("border", "2px solid red");
    $("#priceerr").css("color", "red");
    valid = false;
  }

  if($.trim($("#description").val())=='' || parseInt(length) < 50) { 
  //alert(parseInt($('#about').val().length)); 
  $('#descriptionerr').html(""); 
  $("#description").css('border-color', '#FF0000');
  $("#descriptionerr").css('color', '#FF0000');
  $('#descriptionerr').html("About me should be min 50 words long.");
    valid = false;
  }
  if(parseInt(length) > 500) { 
     //alert(parseInt($('#about').val().length)); 
    $('#textarea_error').html(""); 
    $("#description").css('border-color', '#FF0000');
    $("#textarea_error").css('color', '#FF0000');
        $('#textarea_error').html("About me  can't be more than 500 words long.");
    valid = false;
  }

    
  if(phone.length!=10)
  {
    $("#phoneerr").html("Telephone no. should not be less than 10 digits.");
    $("#phone").css("border", "2px solid red");
    $("#phoneerr").css("color", "red");
    valid = false;
  }

  else if(isNaN(phone))
  {
    $("#phoneerr").html("Telephone no. should be numeric.");
    $("#phone").css("border", "2px solid red");
    $("#phoneerr").css("color", "red");
    valid = false;
  }

  if(isNaN(price))
  {
    $("#priceerr").html("Price should be Numeric .");
    $("#price").css("border", "2px solid red");
    $("#priceerr").css("color", "red");
    valid = false;
  }
  if(valid == true)
  {
    $("#PhotographerForm").submit();
  }
}
</script>





<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>

<style>
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { background: white url("/public/images/loader.gif") right center no-repeat; }
</style>
 
<script type="text/javascript"> 
jQuery(function () 
 {
   jQuery("#full_country").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#full_country").val(selectedObj.value);
     jQuery("#location").val(selectedObj.value);    


    //getcitydetails(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#full_country").autocomplete("option", "delay", 100);
  });
</script> 
<!--  City Auto Suggesstion -->

<!--  login and signup code -->
<script type="text/javascript">
        
  function validate_register()
  {
      /*var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/; */
      var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
      var name = $("#name").val();
      var email = $("#email").val();
      var password = $("#password").val();
      var confirm_password = $("#confirm_password").val();

       if(name == "" ){
         //$("#email").attr( "border-color", "red");
         $("#name").attr("placeholder", "Name cant be empty");
         $("#name").css("border", "2px solid red");
         return false;
       }else if(email == "" ){
         //$("#email").attr( "border-color", "red");
         $("#email").attr("placeholder", "Email cant be empty");
         $("#email").css("border", "2px solid red");
         return false;
       }else if(!emailRegex.test(email)){
         $("#email").val("");
         $("#email").attr("placeholder", "Email is not valid");
         $("#email").css( "border", "2px solid red");
         return false;
       }else if(password == ""){
         //$("#password").focus();
         $("#password").attr("placeholder", "Password cant be empty");
         $("#password").css( "border", "2px solid red");
         return false;
       }else if(confirm_password == ""){
         $("#confirm_password").attr("placeholder", "Confirm password cant be empty");
         $("#confirm_password").css( "border", "2px solid red");
         return false;
       }else if(password !== confirm_password){
         $("#confirm_password").val("");
         $("#confirm_password").attr("placeholder", "Password does not match");
         $("#confirm_password").css( "border", "2px solid red");
         return false;
       }else if($('input[name=tnc]:checked').length<=0){
         alert('Please accept terms and condition');
         return false;
       //}else if($(email != '' && password != '' && confirm_password != '')){
       }else if(email != '' && password != '' && confirm_password != '' && name != ''){    
            //$("#reg-form").submit();
            
          var reg_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'register'))?>";
          var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
          $.ajax({
             url: reg_url,
             error: function() {
                $('#info').html('<p>An error has occurred</p>');
             },
             data: {email: email, password: password, name: name},
             beforeSend: function() {
                  $('#loader_img_reg').show();
                  $('#regBtn').attr('disabled',true);
             },
             success: function(data) {
                $('#loader_img_reg').hide();
                $('#regBtn').removeAttr('disabled');
                    $("#name").val("");
                    $("#email").val("");
                    $("#password").val("");
                    $("#confirm_password").val("");
                $('#tnc').attr('checked', false);
                if(data.response === 'failed'){
                    alert('Email already registered!');
                    $( "#email" ).focus();
                }else{
                    alert('Registration Success ! Kindly check your email for further instructions!');
                    //window.location = success_url;
                }
                
             },
             type: 'POST',
             dataType: 'json',
          });
            
      }
  }

  function validate_login()
  {
      //var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
      var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
      var loginemail = $("#loginemail").val();
      var loginpassword = $("#loginpassword").val();

       if(loginemail == "" ){
          $("#loginemail").css("border", "2px solid red");
         return false;
       }else if(!emailRegex.test(loginemail)){
          $("#loginemail").val("");
          $("#loginemail").attr("placeholder", "Email is not valid");
          $("#loginemail").css( "border", "2px solid red");
         return false;
       }else if(loginpassword == ""){
          $("#loginpassword").attr("placeholder", "Password is required");
         $("#loginpassword").css( "border", "2px solid red");
         return false;
       }else if(loginemail != '' && loginpassword != ''){
          //$("#logn-form").submit();
                  var login_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'login'))?>";
                  $.ajax({
                     url: login_url,
                     error: function() {
                        $('#info').html('<p>An error has occurred</p>');
                     },
                     data: {loginemail: loginemail, loginpassword: loginpassword},
                     beforeSend: function() {
                          $('#loader_img').show();
                          $('#loginBtn').attr('disabled',true);
                     },
                     success: function(data) {
                        $('#loader_img').hide();
                        $('#loginBtn').removeAttr('disabled');
                        if(data.response === 'failed'){
                            alert('Invalid credentials ! Please try again.');
                            $("#loginemail").val("");
                            $("#loginpassword").val("");
                            $( "#loginemail" ).focus();
                        }else{
                            if(data.user_type == 1) {
                              window.location = "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
                            }else {
                               window.location = "<?php echo 'http://'.$httpHost.$this->url('user/photographer', array('action' => 'dashboard'))?>";
                            }
                        }
                     },
                     type: 'POST',
                     dataType: 'json',
                  });
      }
  }

  
  function validate_email()
  { 
    //var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
    var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
    var forgetemail = $("#forgetemail").val();
    if(forgetemail == "" )
    {
      $("#forgetemail").css("border", "2px solid red");
     return false;
    }
    else if(!emailRegex.test(forgetemail))
    {
      $("#forgetemail").val("");
      $("#forgetemail").attr("placeholder", "Email is not valid");
      $("#forgetemail").css( "border", "2px solid red");
     return false;
    }
    else if(forgetemail != '')
    {
      var forget_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'forgot'))?>";
      $.ajax({
         url: forget_url,
         error: function() {
            $('#info').html('<p>An error has occurred</p>');
         },
         data: {forgetemail: forgetemail},
         beforeSend: function() 
         {
            $('#loader_img').show();
            $('#forgetBtn').attr('disabled',true);
         },
        success: function(data) 
        { 
          $('#loader_img').hide();
          $('#forgetBtn').removeAttr('disabled');
          if(data.response === 'failed')
          {
              alert('This email does not exist on our site!');
              $( "#forgetemail" ).focus();
          }
          else
          {
            $( "#sent-msg" ).html("Please check your email! We have sent you reset password link!").show();
            setTimeout(function(){$(".fade").click(); $("#forgetemail").val('');
            $("#sent-msg").html('');}, 1000);
          }
        },
        type: 'POST',
        dataType: 'json',
      });
    }
  }





/*  facebook login code*/
function FnIsFBuser(fbData) {
    var d;
    var fb_id = fbData.id;
    var fb_email = fbData.email;
    var fb_name = fbData.name;   
    jQuery.ajax({
        type: "POST",
        url: site_url + 'user/home/facebooklogin',
        async: false,
        data: 'fb_id=' + fb_id + '&fb_email=' + fb_email + '&fb_name=' + fb_name,
        success: function(data) {
            d = data;
        }
    })
    return d;
}

function FnFBRegister() {
    FB.login(function(response) {
        if (response.authResponse) {
            FB.api('/me', function(response) {
                var isFbUser = FnIsFBuser(response);
                var jObj = jQuery.parseJSON(isFbUser);
                //fillWithStatus(jObj.status, response);
            });
        }
    }, {
        scope: 'email,user_birthday'
    });
}

function fillWithStatus(s, fbdata) {  
  
  if (s == 1) {
        location.reload();
    } else if (s == 2) {
        alert("Your account is disabled by admin,Please contact admin!");
    } else {
        location.reload();
        jQuery("#email").val(fbdata.email).trigger('blur');
        jQuery("#fb_id").val(fbdata.id);
        /* jQuery("#username").val(fbdata.first_name).trigger('blur');
     if(fbdata.gender='male'){
      jQuery('#gender option[value="0"]').attr("selected", "selected").trigger('change').trigger('blur');
    }
    if(fbdata.gender='female'){
      jQuery('#gender option[value="1"]').attr("selected", "selected").trigger('change').trigger('blur')
    }
        jQuery("#birthdate").val(fbdata.birthday).trigger('blur');*/
    }
}

function FnFBLogout() {
    FB.logout(function(response) {
        alert("logout");
    });
}

function FnFBLogin() {
  FB.login(function(response) {
    if (response.authResponse) {
      FB.api('/me', function(response) {                
        console.log(response);
        var isFbUser = FnIsFBuser(response);
        var jObj = jQuery.parseJSON(isFbUser);
        goWithStatus(jObj.status, jObj.signup);
      });
    }
  }, 
  {
    scope: 'email, user_birthday',
    return_scopes: true
  });
}

function goWithStatus(status, signup) 
{ 
    if (status == 1) 
    {
      if (signup == 1)
      {
        window.location = site_url + "user/home/selectprofile";
      }
      else
      {
        window.location = site_url + "user/photographer/dashboard";
      }
    } 
    else if (status == 2) 
    {
      alert("Your account is disabled by admin,Please contact admin!");
    } 
    else if (status == 3) 
    {
      window.location = site_url + "account-disabled";
    } 
    else if (status == 0) 
    {
      location.reload();
    } 
    else 
    {
      alert(status); return false;
    }
}



function valid_album(){ 
  var isValid = true;
  //alert($('ul.select2-choices>li').length);
  $('#name_error').html("");
  $('#tags_error').html("");
  $('#textarea_error').html("");
  $('#tags_error').html("Please select atleast one Tag.");
  $('#images_error').html("");
  $("#album_name").css('border-color', '#dce4ec');
  $("#tags_error").css('border-color', '#dce4ec');
  $("#description").css('border-color', '#dce4ec');
  var total_image = $("#album_div").find('img').length;
  
  var des_id_array = [];
  var des_array =[];
  var des_id = $('#images_name').val();
      des_id = des_id.replace(/^,|,$/g,'');
      des_id_array = des_id.split(',');
      
  for(var i=0; i<des_id_array.length; i++)
  {
    var unique_id = des_id_array[i].split('.');
    //alert(unique_id);
    if($('#des_'+unique_id[0]).val() == '')
    {
      des_array[i] = '0';
    }
    else
    {
      des_array[i] = $('#des_'+unique_id[0]).val();
    }
  }
  $('#images_des').val(des_array);

  
  //alert(des_array);
  var string = $('#description').val();
      string = string.replace(/(^\s*)|(\s*$)/gi,"");
      string = string.replace(/[ ]{2,}/gi," ");
      string = string.replace(/\n /,"\n");
  var length = string.split(' ').length;
  if(total_image >30)
  {   
      $("#images_error").css('color', '#FF0000');
      $('#images_error').html("Photos can't be more than 30.");
      isValid = false;
  } 

  if($.trim($("#album_name").val())=='')
  {   
    $("#album_name").css('border-color', '#FF0000');
      $("#name_error").css('color', '#FF0000');
      $('#name_error').html("Please enter album name.");
      isValid = false;
  } 

  if($('ul.select2-choices>li').length<=1){        
    $("#s2id_e2").css('border-color', '#FF0000');
    $("#tags_error").css('color', '#FF0000');
    $('#tags_error').html("Please select atleast one Tag.");
    isValid = false;
  }
  else
  {
    $("#s2id_e2").css('border-color', '');
    $('#tags_error').html("");
    //isValid = true;
  }
  if($.trim($("#description").val())==''  || parseInt(length) < 50) { 
     //alert(parseInt($('#about').val().length)); 
    $('#textarea_error').html(""); 
    $("#description").css('border-color', '#FF0000');
    $("#textarea_error").css('color', '#FF0000');
        $('#textarea_error').html("Album description should be min 50 words long.");
    isValid = false;
  }
  if(parseInt(length) > 500) { 
     //alert(parseInt($('#about').val().length)); 
    $('#textarea_error').html(""); 
    $("#description").css('border-color', '#FF0000');
    $("#textarea_error").css('color', '#FF0000');
        $('#textarea_error').html("Album description can't be more than 500 words long.");
    isValid = false;
  }


  if(isValid==true){
    document.getElementById('home_search').submit();
  }
}


function delete_image(id, name)
{ //alert(name);
  //jQuery("#img_"+id).remove();
  var reg_url= site_url+'/user/photographer/deleteImg';
    //var success_url= "<?php echo 'http://'.$httpHost.$this->url('user/home', array('action' => 'dashboard'))?>";
    $.ajax({
       url: reg_url,
       error: function() {
          $('#info').html('<p>An error has occurred</p>');
       },
       data: {id: id, name: name},
       beforeSend: function() {
            $('#loader').show();
       },
       success: function(data) {
      $('#loader').hide();
      
          if(data.response === 'failed'){
              alert('Image not deleted An error has occurred!');
          }else{
      var oldvalue = $.trim( $('#images_name').val() );
      var newstring = oldvalue.replace(name,"");
      newstring = newstring.replace(",,",",");
      newstring = newstring.replace(/^,|,$/g,'');
      $("#images_name").val("");
      $('#images_name').val(newstring);
              //alert('delete');
              jQuery("#img_"+id).remove();
          }
          
       },
       type: 'POST',
       dataType: 'json',
    });
}

 // make first char uppercase by jquery 
(function($) {

    $.ucfirst = function(str) {

        var text = str;


        var parts = text.split(' '),
            len = parts.length,
            i, words = [];
        for (i = 0; i < len; i++) {
            var part = parts[i];
            var first = part[0].toUpperCase();
            var rest = part.substring(1, part.length);
            var word = first + rest;
            words.push(word);

        }

        return words.join(' ');
    };

})(jQuery);


function shortlist(pg_id)
{
  //alert(pg_id);
  var ajax_url= site_url+'/user/photographer/shortlist';
  $.ajax({
        url: ajax_url,
        data: {pg_id: pg_id},
        success: function(data) { 
            if(data.response == 'success')
            {
              $("#shortstatus").css("display","none");
              $("#unshortstatus").css("display","inline-block");
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
};

function unshortlist(pg_id)
{
  //alert(pg_id);
  var ajax_url= site_url+'/user/photographer/unShortlist';
  $.ajax({
        url: ajax_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {pg_id: pg_id},
        beforeSend: function() {
            //$('#loader_img').show();
        },
        success: function(data) { 
            /*$('#loader_img').hide();*/
            if(data.response == 'success')
            {

              $("#unshortstatus").css("display","none");
              $("#shortstatus").css("display","inline-block");
              //$("#shortstatus a").html("<i class = 'fa fa-heart-o'></i> Short-List");
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
};
</script>

<!-- <script src="<?php  echo $front_home_asset_path;?>js/custom.js"></script> -->

</body>
</html>




