
<?php    //echo '<pre>'; print_r($photographer_data);exit; ?> 
<div class="p-search-header margin-null fullscreen background parallax" style="background-image:url('public/front/home/img/home_banner.jpg');" data-img-width="1920" data-img-height="1080" data-diff="100">
	<div class="background-overlay-bg"></div>
		<section class="profile-type">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <h1 class="pt-main-heading">Find and <span class="color-mark">Hire</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-centered txt-center col-sm-7 col-xs-12">
            <div class="header-user">
              <h3><a href="javascript:void(0);" onclick="filter(1,'Merchant');"> Designer & Developer</a> 
              <a href="javascript:void(0);" onclick="filter(2,'Photographer');">Photographer</a></h3>
            </div>
          </div>
        </div>
        <!--page main heading end here-->
      </div>
    </section>
    <!--========='Start Search Bar'===========-->
    <section class="layout-block home_slider_fnd search-form">
      <div class="container">
        <div class="row"> 
          <form action = "user/search" method ="POST" id= "home_search">
            <div class="col-lg-2 col-sm-2 col-xs-12">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle btn-block" type="button" value = "2" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Photographer <span class="caret"></span>
                </button><input type="hidden" class="form-control" placeholder="" id = "category" name = "category" />
                <ul class="dropdown-menu  btn-block" aria-labelledby="dropdownMenu1">
                  <li><a href="javascript:void(0);" onclick="filter(1,'Merchant');">Merchant</a></li>
                  <li><a href="javascript:void(0);" onclick="filter(2,'Photographer');">Photographer</a></li>
                  <li><a href="javascript:void(0);"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" placeholder="Select Skill" name="skill">
            </div>
            <div class="form-group">
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <input type="text" name="full_country" placeholder="Location" class="form-username ff_elem form-control" id="full_country" onchange="search(0);">
                <input id="location"  name="location" type="hidden" ><p id = "locationerr" ></p>
              </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-12">
              <button class="btn btn btn-success btn-block" onclick = "submitFrm()">Find</button>
            </div>
          </form>
      	</div>
      </div>
    </section>
  </div>
<!--========='End Search Bar'===========-->
<!--========='Start left filter Layour'===========-->

<!--========='Start online Merchant hire layout'===========-->
<section class="layout-block bg-theme-dark hire_designer_bg">
  <div class="container hire_profile"> 
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h1 class="pt-main-heading">Hire <span class="color-mark">Designer & Developer</span> Online</h1>
      </div>
    </div>
    <div class="col-md-12">         
      <div class="well"> 
        <div id="myCarousel" class="carousel slide"> 
          <!-- Carousel items -->
          <div class="carousel-inner">
            
              <?php 
              if(count($merchant_data) < 3)
              {
                echo '<div class="item active"><div class="row">';
                for($i=0;$i<count($merchant_data); $i++)
                {
                  $mer_img_src = $aimg_path . str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="/public/images/advertiserimage/'.$merchant_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <img class="pro-pic img-circle" src="/public/images/advertiserimage/'.$mer_img_src.'">
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } 
              else
              {
                echo '<div class="item active"><div class="row">';
                $default_img = "/public/front/dashboard/img/profile2.jpeg";
                for($i=0;$i<3; $i++)
                {
                  $mer_img_src = $aimg_path . str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  //if($merchant_data[$i]['profilepic'])
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="/public/images/advertiserimage/'.$merchant_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <img class="pro-pic img-circle" src="/public/images/advertiserimage/'.$mer_img_src.'">
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
                echo '<div class="item"><div class="row">';
                for($i=4;$i<count($merchant_data); $i++)
                {
                  $mer_img_src = $aimg_path . str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="/public/images/advertiserimage//'.$merchant_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                     <img class="pro-pic img-circle" src="/public/images/advertiserimage/'.$mer_img_src.'">
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } ?>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
    </div>
  </div>
</section>
<!--========='End online Merchant hire layout'===========-->


<!--========='Start online Photographer hire layout'===========-->
<section class="layout-block bg-theme-dark hire_designer_bg">
  <div class="container hire_profile"> 
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h1 class="pt-main-heading">Hire <span class="color-mark">Designer & Developer</span> Online</h1>
      </div>
    </div>
    <div class="col-md-12">         
      <div class="well"> 
        <div id="myCarousel2" class="carousel slide"> 
          <!-- Carousel items -->
          <div class="carousel-inner">
            <?php 
              if(count($photographer_data) < 3)
              {
                echo '<div class="item active"><div class="row">';
                for($i=0;$i<count($photographer_data); $i++)
                {
                  $pg_img_src = $aimg_path . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="public/images/photographer/uploads/'.$photographer_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <img class="pro-pic img-circle" src="public/images/photographer/profile/thumb/'.$pg_img_src.'">
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } 
              else
              {
                echo '<div class="item active"><div class="row">';
                
                for($i=0;$i<3; $i++)
                {
                  $pg_img_src = $aimg_path . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="public/images/photographer/uploads/'.$photographer_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <img class="pro-pic img-circle" src="public/images/photographer/profile/thumb/'.$pg_img_src.'">
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';

                echo '<div class="item"><div class="row">';
                for($i=4;$i<count($merchant_data); $i++)
                {
                  $pg_img_src = $aimg_path . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="public/images/photographer/uploads/'.$photographer_data[$i]['cover_image'].'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <img class="pro-pic img-circle" src="public/images/photographer/profile/thumb/'.$pg_img_src.'">
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } ?>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
      <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
    </div>
  </div>
</section>
<!--========='End online Photographer hire layout'===========-->


<!--========='Start online hire layout'===========-->
<section class="layout-block project-store bg-theme-aqua">
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<h1 class="pt-main-heading" style="margin-bottom:40px;">Get your <span class="color-mark">Projects</span> Stored</h1>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/webdevelop.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website developmet starting from 25000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-desktop fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/webdesign.JPG"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website design starting from 100 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/mobile-app.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<!--<i class="fa fa-mobile fa-4x"></i>-->
<div class="thumb-info">
<p>Mobile app starting from 5000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-edit fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/logo-design.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Logo Design  starting from 500 INR only</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-camera fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/wedding-photo.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Weeding photographer starting from 10000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-edit fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/logo-design.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Logo Design  starting from 500 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-desktop fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/webdesign.JPG"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website design starting from 100 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/mobile-app.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<!--<i class="fa fa-mobile fa-4x"></i>-->
<div class="thumb-info">
<p>Mobile app starting from 5000 INR only</p>
</div>
</div>
</div>
</div>
</section>
<!--========='End online hire layout'===========-->


<!--========='Start  heading'===========-->
<section class="layout-block">
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<h1 class="pt-main-heading">You are <span class="color-mark">Website Designer</span> or <span class="color-mark">Developer</span> or <span class="color-mark">Photographer</span></h1>
</div>
</div>
</div>
</section>
<!--========='End heading'===========-->
<!--========='Start online hire layout'===========-->
<section class="layout-block">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-6 col-xs-12">
<ul class="list-inline hired-list" >
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor.</a></li>
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor. Aenean massa.</a></li>
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor. Aenean massa.</a></li>
</ul>
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
<button type="button" class="btn btn-success btn-lg hire-button">Get Hire Today</button>
</div>
</div>
</div>
</section>
<!--========='End online hire layout'===========-->
<section style="padding:0;">
    <div class="our-user background-bg our-user-bg fullscreen background parallax" data-img-width="1600" data-img-height="1110" data-diff="100"> 
      <div class="overlay-section section-padding">
        <div class="container">
          <div class="row">
            
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="number">
                  1000
                </div>
                <div class="user-count">
                  User Online
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-code"></i>
                </div>
                <div class="number">
                  20,000
                </div>
                <div class="user-count">
                Designers & Developers
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-camera"></i>
                </div>
                <div class="number">
                  31,000
                </div>
                <div class="user-count">
                  Register Photographers
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
      </div><!-- /.overlay -->
    </div><!-- /.success-stories -->
  </section>

  <link href="<?php echo $front_home_asset_path;?>css/jquery-ui.css" rel="stylesheet">
  <link href="<?php echo $front_home_asset_path;?>css/inputosaurus.css" rel="stylesheet">
  <script src="<?php echo $front_home_asset_path;?>js/inputosaurus.js"></script>

  <script>
  function filter(val, name)
  {
    $("#dropdownMenu1").val(val);
    $("#dropdownMenu1").html(name+' <span class="caret"></span>');
  }
 </script>
  <script> 
function submitFrm()
{ 
    var category = $('#dropdownMenu1').html();
    $('#category').val(category);
    document.getElementById('home_search').submit();
}
</script>