<?php  //echo '<pre>';print_r($photographerdata);exit;
    //$profile_img_path = '/public/images/photographer/profile/';
?>
  <div class="container text-center y-set-top">
    <div class="row">
      <div class="col-lg-12">
        <div class="avatar text-center"> 
         <?php
          if($photographerdata->profilepic=="")
          {
              ?>
              <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
          <?php } else {?>
        
          <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
          <?php } ?>
        </div>
        <div style="margin-top: 10px;">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> <i class="fa fa-pencil-square-o"></i> Edit your profile image </button>
        </div>
        <div class="intro-text"> <span class="name"><?php echo $_SESSION['user']->first_name;?></span>
          <hr class="star-light">
          <span class="skills"><?php echo $photographerdata->tagline;?></span><br />
        </div>
      </div>
    </div>
  </div>

<section class="pro-section" style="padding: 38px 0px;">
<hr />  
    <div class="container">
   
	
	<div class="row">
		<?php 
		    //echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
		?>
		  <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
        <hr class="pro-hr">
        <div class="text-center" ><h5 style="color:#FF0000;" id = "error"><?php echo $merchantinfo->error; ?></h5></div>
        <form action="user/photographer/editprofile" method="POST" name="PhotographerForm" id="PhotographerForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name *</label>
                    <input id="name" title="Name" class="form-control" placeholder="Enter your name" name="name" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';" type="text" value="<?php echo $photographerdata->name;?>" ><p id = "nameerr"></p>
                     
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Telephone No. </label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $photographerdata->phone;?>" id="phone" name="phone"  value="<?php echo $photographerdata->phone;?>"><p id = "phoneerr"></p>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Address </label>
                    <textarea placeholder="Enter your address here..." class="form-control" rows="3" name="address" id="address"><?php echo $photographerdata->address;?></textarea>
                </div>
            </div>
            
           <div class="col-lg-12">
                <div class="form-group">
                    <label>Location *</label>
                    <input class="ff_elem form-control" type="text" name="full_country" onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';" required value="<?php echo $photographerdata->location;?>" id="full_country" placeholder="Select location from dropdown"/>
                    <input id="location"  name="location" type="hidden" value="<?php echo $photographerdata->location;?>"><p id = "locationerr"></p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Price *</label>
                    <input id="price" class="form-control" placeholder="Price" type="text" id="price" name="price" value="<?php echo $photographerdata->price;?>" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec';" >
                    <p id = "priceerr"></p>
                </div>
            </div>
             
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Tag Line </label>
                    <input id="tagline" class="form-control" placeholder="Tag Line" type="text" id="tagline" name="tagline"  value="<?php echo $photographerdata->tagline;?>">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>About Me *</label>
                    <textarea placeholder="Describe yourself here..." class="form-control" rows="3" name="description" id="description" required onfocus="this.style.borderColor='#FF0000';" onblur="if(this.value != null)this.style.borderColor='#dce4ec'" maxlength="500" minlength="50" ><?php echo $photographerdata->description;?></textarea><span id = "descriptionerr"></span><p class = "pull-right" >(50 - 500 Words) Words Entered :  <span id ="characters">0</span></p>
                    
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Equipment</label>
                
                    <?php 
                        $array_Equipment = array();
                        $array_Equipment[0] = '-- Equipment --';
                        foreach($equipmentdata as $equipmentdatarow)
                        {
                            $array_Equipment[$equipmentdatarow['id']] = $equipmentdatarow['equipment'];
                        }
                    ?>
                    <select class="form-control" name="equipment" id="equipment">
                        <?php foreach($array_Equipment as $k1=>$v1){ ?>
                        <option value="<?php echo $k1;?>" <?php if($k1 == $photographerdata->equipment) {?> selected <?php } ?>><?php echo $v1;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                <label>Product & Services</label>
              
                    <?php 
                        $array_pands = array();
                        $array_pands[0] = '-- Product & Services --';
                        foreach($productandservicedata as $productandservicedatarow)
                        {
                            $array_pands[$productandservicedatarow['id']] = $productandservicedatarow['productandservices'];
                        }
                    ?>
                    <select class="form-control" name="product_and_services" id="product_and_services">
                        <?php foreach($array_pands as $k2=>$v2){ ?>
                        <option value="<?php echo $k2;?>" <?php if($k2 == $photographerdata->product_and_services) {?> selected <?php } ?>><?php echo $v2;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="col-lg-12">          
                              
               
                <input type="hidden" name = "pg_id" class="control" value="<?php echo $photographerdata->pg_id;?>" /> 
                <a href = "user/photographer/profile/<?php echo $_SESSION['user']->user_id; ?>" class="btn btn-success pull-right space-left">Cancel</a>
                 <input type="button" class="btn btn-success pull-right " value="Update" onclick="valid_profile();">
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <form action="/user/photographer/editprofileimage" method="POST" enctype="multipart/form-data">
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Your image</h4>
          </div>
          <div class="modal-body"> 
          <span class="btn btn-default btn-file y-file"> 
          Browse
            <input type="file" name="profilepic">
            </span> 
         </div>
         
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        </form>    
      </div>
    </div>


<script>
    var length;
    if($('#description').val()=='')
    {
        length = 0;
    }
    else
    {
        string = $('#description').val();
        string = string.replace(/(^\s*)|(\s*$)/gi,"");
        string = string.replace(/[ ]{2,}/gi," ");
        string = string.replace(/\n /,"\n");
        length = string.split(' ').length;
    }
    $('#characters').html(length);
    $('#description').keyup(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        $('#characters').html(length);
        
    });

    $( "#description" ).blur(function() {
        if($('#description').val()=='')
        {
            length = 0;
        }
        else
        {
            string = $('#description').val();
            string = string.replace(/(^\s*)|(\s*$)/gi,"");
            string = string.replace(/[ ]{2,}/gi," ");
            string = string.replace(/\n /,"\n");
            length = string.split(' ').length;
        }
        //$('#characters').html(length);
        if(length<50)
        {
            $("#description").css('border-color', '#FF0000');
            $("#textarea_error").css('color', '#FF0000');
            $('#textarea_error').html("Album description should be min 50 words long.");
        }
        else
        {
          $('#textarea_error').html("");
        }    
    });
</script>

