<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ownrock Emailer</title>
</head>

<body style="background: rgb(225, 242, 249);">
<h1 style="text-align: center;
  font-family: cursive;
  color: rgb(83,87,101);
  font-style: italic;
  font-size: 35px;">Ownrock</h1>
    <table align="center" width="50%" style="background: #fff;
  padding: 10px 15px 10px 15px;">
    	<tr>
        	<td>
            <h3 style="display: block;
              font-family: Helvetica,Arial;
              font-style: normal;
              font-weight: bold;
              letter-spacing: normal;
              text-align: left;
              margin: 0px 0px 10px;
              color: rgb(55,58,67)!important;
              line-height: 140%!important;
              font-size: 24px!important;">We're happy you're part of Ownrock!
            </h3>
            <p style="color: rgb(83,87,101);
              font-family:Arial;
              text-align: left;
              font-size: 16px!important;
              line-height: 30px;">
              You can confirm your account email through the link below:
            </p>

<a href="<?php echo $this->url('user/home',array('action' => 'verifyaccount','param1'=>$this->vericode))?>" style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
color:rgb(65,164,205);
  font-size: 16px!important;">Confirm my account</a>
            
            </td>
            </tr>
            <tr>
            <td>
           <p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;

  font-size: 16px!important;line-height: 30px;"> If you need help getting started or have any questions, you can always contact us on +91 9867896463.</p>
            </td>
            </tr>
            <tr>
            <td>
          <p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
 
  font-size: 16px!important;line-height: 30px;">You can also find us on <a href="#" style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
color:rgb(65,164,205);
  font-size: 16px!important;">Twitter</a>, <a href="#" style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
color:rgb(65,164,205);
  font-size: 16px!important;">Facebook</a>, <a href="#" style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
color:rgb(65,164,205);
  font-size: 16px!important;">Pinterest</a>, and <a href="#" style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
color:rgb(65,164,205);
  font-size: 16px!important;">Google+</a>..</p>
            </td>
            </tr>
            <tr>
            <td>
          <p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;
 
  font-size: 16px!important;line-height: 30px;">Cheers,<br />
Ownrock Team</p>
            </td>
            </tr>
             
    </table>
    <div style="margin: 0 auto;
  width: 50%;
  padding: 0 0 0px 30px;">
        <p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;

  font-size: 16px!important;line-height: 30px;"> You are receiving this email because you signed up for Ownrock on April 26, 2015.</p>

<p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;

  font-size: 16px!important;line-height: 30px;">Visit Account Settings to manage your email settings.</p>

<p style="color: rgb(83,87,101);
  font-family: Arial;
  text-align: left;

  font-size: 16px!important;line-height: 30px;">© 2015 Ownrock Ltd.</p>
   </div>        
    
</body>
</html>