

<?php
$title = 'Add new designer/developer';
$this->headTitle($title);
?>
<?php
$form->SetAttribute('action', $this->url(NULL, array('controller' => 'onlinemanager', 'action' => 'add')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('name'));
?>
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">Add new designer/developer</h3>
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="<?php echo $this->url('user/onlinemanager', array('action' => 'index'));?>">List of Users</a></li>
                        <li class="active">Add User</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add new user</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form">
                                <div class="form-group">
                                    <label>Name</label>
                                    <?php echo $this->formRow($form->get('name')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Developer/Designer</label>
                                    <?php echo $this->formRow($form->get('profession')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Country</label>
                                    <?php echo $this->formRow($form->get('country')); ?>
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <?php echo $this->formRow($form->get('city')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Rate/hr</label>
                                    <?php echo $this->formRow($form->get('rate')); ?>

                                </div>

                                 <div class="form-group">
                                    <label>Enter Availability</label>
                                    <?php echo $this->formRow($form->get('availability')); ?>
                                </div>
                                
                                  <div class="form-group">
                                    <label>Enter small description</label>
                                    <?php echo $this->formRow($form->get('smalldescription')); ?>

                                </div>
                                
                                 <div class="form-group">
                                    <label>Enter long description</label>
                                    <?php echo $this->formRow($form->get('longdescription')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>Profile Pic</label>
                                    <?php echo $this->formRow($form->get('profilepic')); ?>

                                </div>
                                
                                <div class="form-group">
                                    <label>email</label>
                                    <?php echo $this->formRow($form->get('email')); ?>

                                </div>

                                <div class="form-group">
                                    <label>Phone</label>
                                    <?php echo $this->formRow($form->get('phone')); ?>
                                </div>
                                
                                <div class="form-group">
                                    <label>Status</label>
                                    <!--<br>-->
                                    <?php echo $this->formRow($form->get('status')); ?>
                                </div>

                                <div class="checkbox i-checks">
                                    <label>
                                        <input type="checkbox" name="check_out" checked="checked">
                                        <i></i> Check me out
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

