<?php  $front_home_asset_path = '/public/front/dashboard/'; ?>

<div class="p-search-header">
    <section class="profile-type">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h1 class="pt-main-heading">Find and 
                        <span class="color-mark">Hire</span>
                    </h1>
                </div>
            </div>
            <!--page main heading end here-->
        </div>
    </section>
    <!--========='Start Search Bar'===========-->
    <section id="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-centered col-lg-8">
                    <div class="input-group">
                        <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Filter by</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#contains">Merchant</a>
                                </li>
                                <li>
                                    <a href="#its_equal">Photographer</a>
                                </li>
                            </ul>
                        </div>
                        
                         <input type="text" class="form-control" id="searchbox" name="searchbox" placeholder=" What skill are you looking at ?" style="width:100%"; />     
                        <input type="hidden" id="search-keyword" name="keyword" class="original" style="width:100%";/>
                        <!--<input type="hidden" name="search_param" value="all" id="search_param" />
                        <input type="text" class="form-control" name="x" placeholder="Search term..." />-->
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--========='End Search Bar'===========-->
</div>
        <!--========='Start left filter Layour'===========-->
<section id="search-bar">
    <div class="container">
        <div class="row">
            <div class="left-filter col-lg-3 col-sm-3 col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Short By</label>
                        <div class="col-sm-8">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-success  btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Best Match
                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#">Name</a>
                                    </li>
                                    <li>
                                        <a href="#">Date</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group range-slier">
                        <label for="inputPassword3" class="col-sm-4 control-label">Hourly</label>
                        <div class="col-sm-8">
                            <input id="slider4" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-12 ">Type</label>
                        <div class="col-lg-12">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1">Individual
                            </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1">Company
              </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Location</label>
                        <div class="col-sm-8">
                            <div class="dropdown">
                              <button class="btn btn-sm btn-success  btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Location
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenu1">
                                  <li>
                                      <a href="#">Indore MP, India </a>
                                  </li>
                                  <li>
                                      <a href="#">Indore MP, India</a>
                                  </li>
                                  <li>
                                      <a href="#">Indore MP, India</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
                        <!--=========' End left filter block'===========-->
            <div class="col-lg-8 col-sm-9 col-xs-12 pull-right">
                <!--========='Start Profile block'===========-->
                <div class="row profile-block">
                    <div class="col-sm-6 col-md-4">
                        <img src="img/designer.jpeg" alt="" class="img-responsive" />
                        <div class="dev-info">
                            <img class="pro-pic img-circle" src="img/designer.jpeg">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4><strong>Neelesh Chouksey</strong></h4>
                                <small>
                                    <cite title="San Francisco, USA">
                                        <i class="fa fa-map-marker space-right"></i>Inodre M.P., India
                                    </cite>
                                </small>
                                <p>
                                    <i class="fa fa-phone space-right"></i>+91-9907766677
                                    <br />
                                    <i class="fa fa-envelope-o space-right"></i>example@gmail.com
                                    <br />
                                    <i class="fa fa-gift space-right"></i>June 02, 1988
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <div class="rating">
                                    <span id="5" class="fa fa-star-o"></span>
                                    <span id="4" class="fa fa-star-o"></span>
                                    <span id="3" class="fa fa-star-o"></span>
                                    <span id="2" class="fa fa-star-o"></span>
                                    <span id="1" class="fa fa-star-o"></span>
                                </div>
                                <a href="#" class="like-profile">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline skill">
                                    <li>Logo Design</li>
                                    <li>HTML</li>
                                    <li>Graphic</li>
                                    <li>UI</li>
                                    <li>Responsive</li>
                                    <li>Web Development</li>
                                    <li>Mobile App</li>
                                    <li>WordPress</li>
                                    <li>CSS</li>
                                    <li>PHP</li>
                                    <li>Ecommerce</li>
                                    <li>Web Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline profile-rate">
                                    <li>My Rates 2000 INR </li>
                                    <li>Album 25</li>
                                    <li>
                                        <button type="button" class="btn btn-success btn-sm">View my profile</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--========='End Profile block'===========-->
                <!--========='Start Profile block'===========-->
                <div class="row profile-block" style="margin-top:0;">
                    <div class="col-sm-6 col-md-4">
                        <img src="img/designer.jpeg" alt="" class="img-responsive" />
                        <div class="dev-info">
                            <img class="pro-pic img-circle" src="img/designer.jpeg">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4>
                                    <strong>Neelesh Chouksey</strong>
                                </h4>
                                <small>
                                    <cite title="San Francisco, USA">
                                        <i class="fa fa-map-marker space-right"></i>Inodre M.P., India
                                    </cite>
                                </small>
                                <p>
                                    <i class="fa fa-phone space-right"></i>+91-9907766677
              
                                    <br />
                                    <i class="fa fa-envelope-o space-right"></i>example@gmail.com
              
                                    <br />
                                    <i class="fa fa-gift space-right"></i>June 02, 1988
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <div class="rating">
                                    <span id="5" class="fa fa-star-o"></span>
                                    <span id="4" class="fa fa-star-o"></span>
                                    <span id="3" class="fa fa-star-o"></span>
                                    <span id="2" class="fa fa-star-o"></span>
                                    <span id="1" class="fa fa-star-o"></span>
                                </div>
                                <a href="#" class="like-profile">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline skill">
                                    <li>Logo Design</li>
                                    <li>HTML</li>
                                    <li>Graphic</li>
                                    <li>UI</li>
                                    <li>Responsive</li>
                                    <li>Web Development</li>
                                    <li>Mobile App</li>
                                    <li>WordPress</li>
                                    <li>CSS</li>
                                    <li>PHP</li>
                                    <li>Ecommerce</li>
                                    <li>Web Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline profile-rate">
                                    <li>My Rates 2000 INR </li>
                                    <li>Album 25</li>
                                    <li>
                                        <button type="button" class="btn btn-success btn-sm">View my profile</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--========='End Profile block'===========-->
                <!--========='Start Profile block'===========-->
                <div class="row profile-block" style="margin-top:0;">
                    <div class="col-sm-6 col-md-4">
                        <img src="img/designer.jpeg" alt="" class="img-responsive" />
                        <div class="dev-info">
                            <img class="pro-pic img-circle" src="img/designer.jpeg">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4>
                                    <strong>Neelesh Chouksey</strong>
                                </h4>
                                <small>
                                    <cite title="San Francisco, USA">
                                        <i class="fa fa-map-marker space-right"></i>Inodre M.P., India
                                    </cite>
                                </small>
                                <p>
                                    <i class="fa fa-phone space-right"></i>+91-9907766677
            
                                    <br />
                                    <i class="fa fa-envelope-o space-right"></i>example@gmail.com
            
                                    <br />
                                    <i class="fa fa-gift space-right"></i>June 02, 1988
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <div class="rating">
                                    <span id="5" class="fa fa-star-o"></span>
                                    <span id="4" class="fa fa-star-o"></span>
                                    <span id="3" class="fa fa-star-o"></span>
                                    <span id="2" class="fa fa-star-o"></span>
                                    <span id="1" class="fa fa-star-o"></span>
                                </div>
                                <a href="#" class="like-profile">
                                    <i class="fa fa-heart-o"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline skill">
                                    <li>Logo Design</li>
                                    <li>HTML</li>
                                    <li>Graphic</li>
                                    <li>UI</li>
                                    <li>Responsive</li>
                                    <li>Web Development</li>
                                    <li>Mobile App</li>
                                    <li>WordPress</li>
                                    <li>CSS</li>
                                    <li>PHP</li>
                                    <li>Ecommerce</li>
                                    <li>Web Design</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-inline profile-rate">
                                    <li>My Rates 2000 INR </li>
                                    <li>Album 25</li>
                                    <li>
                                        <button type="button" class="btn btn-success btn-sm">View my profile</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section >
<!--========='End Profile View Layout'===========-->


<script src="<?php echo $front_home_asset_path;?>js/jquery.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/bootstrap.min.js"></script> 
<link href="<?php echo $front_home_asset_path;?>css/jquery.range2dslider.css" rel="stylesheet" >
<script src="<?php echo $front_home_asset_path;?>js/jquery.range2dslider.js">
<script>
  $('#slider4').range2DSlider({
    template:'horizontal',
    value:[[100,0],[500,0]],
    onlyGridPoint:true,
    round:true,
    axis:[[0,1000]]
  });
  </script>
<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/cupertino/jquery-ui.css" rel="stylesheet">
<link href="<?php// echo $front_home_asset_path;?>css/inputosaurus.css" rel="stylesheet">
<script src="<?php// echo $front_home_asset_path;?>js/inputosaurus.js"></script>
<script>    
$('#searchbox').inputosaurus({
  autoCompleteSource : [ <?php //echo $skills; ?>],
  activateFinalResult : true,
  change : function(ev){
    $('#search-keyword').val(ev.target.value);
  }
});

</script>-->

