/*!----------------------------------------------------------------------
 * DubLi.com Mall
 *
 * @name        platform.css
 * @author      Daniel Kulbe <dkulbe@dublicorp.com>
 * @version     2.5.0
 *
 * ----------------------------------------------------------------------
 *
 * @based-on Bootstrap v2.3.2
 *           Copyright 2012 Twitter, Inc
 *           Licensed under the Apache License v2.0
 *           http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo
 * and @fat.
 *
 * ----------------------------------------------------------------------
 * @copyright   (c) 2014, DUBLICOM Ltd. All rights reserved.
 * ---------------------------------------------------------------------- */
h2.title {
	margin-top:0;
	padding-bottom:10px;
	border-bottom:1px dotted silver;
	line-height:30px
}
a.rss {
	display:block;
	float:right;
	width:30px;
	height:30px
}
div.sort {
	position:absolute;
	right:19px;
	top:19px;
	line-height:30px;
	z-index:100
}
.coupon-info {
	display:inline-block;
*display:inline;
*zoom:1;
	margin:0;
	font-weight:600;
	color:#8daed7
}
.coupon-info [class^=icon-] {
margin:-5px 2px -5px 0
}
.tabbable {
*zoom:1
}
.tabbable:after, .tabbable:before {
	display:table;
	line-height:0;
	content:""
}
.tabbable:after {
	clear:both
}
.tab-content {
	overflow:auto
}
.tab-content>.tab-pane {
	display:none;
	position:relative
}
.tab-content>.active {
	display:block
}
.pagination {
	margin-bottom:20px
}
.pagination h4 {
	margin-bottom:7px;
	font-size:13px;
	color:#454545
}
.pagination ul {
	margin:0;
	padding:0;
	list-style:none;
*zoom:1
}
.pagination ul:after, .pagination ul:before {
	display:table;
	content:"";
	line-height:0
}
.pagination ul:after {
	clear:both
}
.pagination li {
	display:block;
	float:left
}
.pagination li+li {
	border-left:1px solid #dfdfdf
}
.pagination a {
	display:block;
	width:19px;
	height:16px;
	font-size:11px;
	line-height:16px;
	text-align:center;
	color:#8a8a8a
}
.pagination a:focus, .pagination a:hover {
	color:#454545;
	text-decoration:none
}
.pagination a.active, .pagination a.active:focus, .pagination a.active:hover {
	color:#454545;
	font-weight:700;
	text-decoration:underline
}
.spotlight {
	margin-bottom:20px;
	padding:14px;
	background-color:#f7f7f7;
	background-image:-moz-linear-gradient(top, #fff, #f3f3f3);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
	background-image:-webkit-linear-gradient(top, #fff, #f3f3f3);
	background-image:-o-linear-gradient(top, #fff, #f3f3f3);
	background-image:linear-gradient(to bottom, #fff, #f3f3f3);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff3f3f3', GradientType=0);
	border:1px solid #dfdfdf;
	-webkit-box-shadow:1px 1px 4px #efefef;
	-moz-box-shadow:1px 1px 4px #efefef;
	box-shadow:1px 1px 4px #efefef;
*zoom:1
}
.spotlight:after, .spotlight:before {
	display:table;
	content:"";
	line-height:0
}
.spotlight:after {
	clear:both
}
.spotlight .image {
	float:left;
	width:280px;
	height:160px;
	background-color:transparent;
	background-image:url(../images/no_image_available_big.jpg);
	background-position:50% 50%;
*background-position:0 0;
	background-repeat:no-repeat
}
.spotlight .details {
	float:left;
	width:370px;
	margin-left:30px
}
.spotlight h3 {
	margin-top:0;
	font-size:20px;
	line-height:24px
}
.spotlight h3 .boomark {
	display:inline-block;
*display:inline;
*zoom:1;
	float:right;
	color:#8a8a8a
}
.spotlight .details>p {
	min-height:60px
}
.spotlight h3 .boomark:focus, .spotlight h3 .boomark:hover {
	text-decoration:none;
	color:#454545
}
.spotlight .coupon-info {
	float:left;
	font-size:14px;
	font-weight:700;
	line-height:34px
}
.spotlight .coupon-info [class^=icon] {
margin:2px 5px 2px 0
}
.spotlight .btn {
	min-width:160px;
	margin-bottom:0
}
.grid {
*zoom:1;
	margin-left:-15px;
	margin-bottom:5px
}
.grid:after, .grid:before {
	display:table;
	content:"";
	line-height:0
}
.grid:after {
	clear:both
}
.grid .item {
	position:relative;
	display:block;
	float:left;
	width:136px;
	height:198px;
	margin-left:15px;
	margin-bottom:15px;
	padding:14px;
	background-color:#fff;
	border:1px solid #dfdfdf;
	text-align:center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:1px 1px 4px #efefef;
	-moz-box-shadow:1px 1px 4px #efefef;
	box-shadow:1px 1px 4px #efefef;
	cursor:pointer
}
.grid>h4 {
	margin-left:15px
}
.grid .item.image {
	width:auto;
	height:auto;
	padding:0;
	overflow:hidden
}
.grid .item:hover {
	border-color:#5481d9;
	text-decoration:none;
	-webkit-box-shadow:1px 1px 4px #779eeb;
	-moz-box-shadow:1px 1px 4px #779eeb;
	box-shadow:1px 1px 4px #779eeb
}
.grid .item.weekly-deal {
	float:right
}
.grid .item .badge {
	position:absolute;
	right:-30px;
	top:-7px;
	width:79px;
	height:83px;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	z-index:5
}
.grid .item .name {
	position:absolute!important;
	width:120px;
	height:60px;
	margin:0;
	clip:rect(1px 1px 1px 1px);
	clip:rect(1px,1px,1px,1px)
}
.grid .item.promotion .name {
	position:relative!important;
	display:inline-block;
*display:inline;
*zoom:1;
	vertical-align:middle;
	height:36px;
	margin-bottom:8px;
	overflow:hidden;
	font-size:14px;
	font-weight:700;
	line-height:18px;
	color:#658695;
	clip:inherit
}
.grid .item .image {
	display:inline-block;
*display:inline;
*zoom:1;
	width:120px;
	height:60px;
	margin:0 0 5px;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	-ms-behavior:url(backgroundsize.min.htc)
}
.grid .item.image img {
	display:block;
	width:auto;
	height:auto;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px
}
.grid .item .cat, .grid .item .info {
	display:inline-block;
*display:inline;
*zoom:1;
	width:120px;
	overflow:hidden;
	color:#8a8a8a;
	line-height:14px
}
.grid .item .cat {
	height:28px;
	margin:0;
	font-size:10px;
	font-weight:600
}
.grid .item .info {
	height:42px;
	margin:0 0 14px;
	font-size:11px
}
.grid .item .cat+.info {
	height:28px;
	margin:0
}
.grid .item .coupon-info {
	width:120px
}
.grid .item .cashback {
	position:absolute;
	left:0;
	bottom:0;
	width:164px;
	height:49px;
	background-color:#e6f4d1;
	border-top:1px solid #dfdfdf;
	font-size:14px;
	font-weight:700;
	line-height:24px;
	color:#719e00;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
*zoom:1
}
.grid .item .cashback.tip {
	height:45px;
	padding-top:4px
}
.grid .item .cashback>small {
	display:block;
	font-size:10px;
	line-height:16px;
	font-weight:400;
	color:#5481d9
}
.grid .item .cashback>small:hover {
	text-decoration:underline
}
.grid .item .cashback:after, .grid .item .cashback:before {
	display:table;
	content:"";
	line-height:0
}
.grid .item .cashback:after {
	clear:both
}
.grid .item .cashback .sub {
	float:left;
	width:54px;
	height:49px;
	line-height:20px
}
.grid .item .cashback .sub.free {
	background-color:#f6ffe8;
	-webkit-border-radius:0 0 0 2px;
	-moz-border-radius:0 0 0 2px;
	border-radius:0 0 0 2px
}
.grid .item .cashback .sub.premium {
	background-color:#f0fbdb
}
.grid .item .cashback .sub.vip {
	-webkit-border-radius:0 0 2px;
	-moz-border-radius:0 0 2px;
	border-radius:0 0 2px
}
.grid .item .cashback .sub.premium, .grid .item .cashback .sub.vip {
	border-left:1px solid #dfdfdf
}
.grid .item .cashback .sub.same {
	width:164px
}
.grid .item .cashback .sub small {
	display:block;
	font-size:10px;
	font-weight:400;
	color:#8a8a8a
}
.grid .item .cashback .sub .value {
	vertical-align:middle
}
.grid .item .expire {
	position:absolute;
	left:0;
	bottom:0;
	width:164px;
	height:49px;
	background-color:#edf8fc;
	border-top:1px solid #dfdfdf;
	font-size:14px;
	font-weight:700;
	line-height:24px;
	color:#658695;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px;
*zoom:1
}
.grid .item .expire small {
	display:block;
	font-size:10px;
	line-height:18px;
	font-weight:400;
	color:#8a8a8a
}
.grid .tooltip-inner {
	width:130px
}
.grid .showmore {
	float:left;
	width:709px;
	height:30px;
	margin:5px 0 0 15px;
	font-size:30px;
	line-height:1;
	text-align:center;
	color:#dfdfdf
}
.grid .showmore img {
	margin-right:10px
}
.grid+.actions {
	margin-top:0;
	margin-bottom:20px
}
.table-cashback-categories {
	width:600px;
	font-size:14px
}
.table-cashback-categories td.cashback, .table-cashback-categories th.cashback {
	width:50px;
	text-align:center
}
.table-cashback-categories th.cashback {
	font-size:10px;
	color:#8a8a8a
}
.table-cashback-categories td.cashback {
	font-weight:700;
	color:#719e00
}
.table-cashback-categories td.free, .table-cashback-categories th.free {
	background-color:#f6ffe8
}
.table-cashback-categories td.premium, .table-cashback-categories th.premium {
	background-color:#f0fbdb
}
.table-cashback-categories td.vip, .table-cashback-categories th.vip {
	background-color:#e6f4d1
}
.gridlist {
	margin-bottom:5px
}
.gridlist .item {
	position:relative;
	min-height:120px;
	padding:14px;
	border:1px solid #dfdfdf;
	-webkit-box-shadow:1px 1px 4px #efefef;
	-moz-box-shadow:1px 1px 4px #efefef;
	box-shadow:1px 1px 4px #efefef;
*zoom:1
}
.gridlist .item:after, .gridlist .item:before {
	display:table;
	content:"";
	line-height:0
}
.gridlist .item:after {
	clear:both
}
.gridlist .item+.item {
	margin-top:10px
}
.gridlist .item .flag {
	position:absolute;
	left:-13px;
	top:5px;
	z-index:2
}
.gridlist .item .action, .gridlist .item .description, .gridlist .item .image {
	float:left;
	z-index:1
}
.gridlist .item .image {
	display:block;
	width:120px;
	height:60px;
	margin:30px 25px 30px 0;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	-ms-behavior:url(backgroundsize.min.htc)
}
.gridlist .item .description {
	overflow:hidden;
	width:300px;
	height:100%;
	margin-right:25px
}
.gridlist .item .description h3 {
	margin:0 0 10px;
	font-size:16px;
	line-height:24px;
	color:#3c71a7
}
.gridlist .item .description h3 a {
	font-size:16px;
	line-height:24px;
	color:#3c71a7
}
.gridlist .item .action {
	width:200px;
	height:100%
}
.gridlist .item .action .help-block {
	font-size:11px;
	line-height:30px
}
.gridlist .item .action .help-block:after, .gridlist .item .action .help-block:before {
	display:table;
	content:"";
	line-height:0
}
.gridlist .item .action .help-block:after {
	clear:both
}
.gridlist .item .action .help-block .boomark {
	display:inline-block;
*display:inline;
*zoom:1;
	float:right;
	color:#8a8a8a
}
.gridlist .item .action .help-block .boomark:focus, .gridlist .item .action .help-block .boomark:hover {
	text-decoration:none;
	color:#454545
}
.gridlist .item+.showmore {
	float:left;
	width:709px;
	height:30px;
	margin:14px 0 0;
	font-size:30px;
	line-height:1;
	text-align:center;
	color:#dfdfdf
}
.gridlist .item+.showmore img {
	margin-right:10px
}
.gridlist.detail .item .description {
	width:415px;
	margin-left:40px
}
.couponpop {
	height:auto!important
}
.couponpop h2 {
	margin-top:5px
}
.couponpop input[readonly] {
	width:472px;
	height:20px;
	margin:0 0 20px;
	padding:10px 12px;
	background-color:#edf8fc;
	border:2px solid #bed1d5;
	font-size:14px;
	text-align:center;
	color:#658695;
	cursor:default
}
.couponpop .gridlist {
	width:487px;
	margin-bottom:0;
	padding-left:13px
}
.couponpop .gridlist .item .description {
	width:312px;
	margin-right:0
}
.couponpop .gridlist .item .expire {
	position:absolute;
	left:14px;
	bottom:14px;
	font-size:11px;
	line-height:15px;
	color:#8a8a8a
}
.information {
	margin-bottom:20px;
*zoom:1
}
.information:after, .information:before {
	display:table;
	content:"";
	line-height:0
}
.information:after {
	clear:both
}
.information .description {
	float:left;
	width:370px
}
.information .txt {
	position:relative;
	height:60px;
	margin-bottom:0;
	overflow:hidden;
-webkit-transition:height .4s linear;
-moz-transition:height .4s linear;
transition:height .4s linear
}
.information .txt.expand {
	height:200px
}
.information .txt .ell {
	position:absolute;
	right:0;
	bottom:0;
	display:inline-block;
*display:inline;
*zoom:1;
	background-color:#fff;
	border-left:6px solid #fff
}
.information .txt.expand .ell {
	display:none
}
.information .txt-expand {
	display:block;
	text-align:right
}
.information .txt-expand .expanded {
	display:none
}
.information .txt-expand .collapsed, .information .txt-expand.expand .expanded {
	display:inline
}
.information .txt-expand.expand .collapsed {
	display:none
}
.information .show-terms {
	display:block;
	margin-bottom:20px;
	font-weight:600
}
.information .txt+.show-terms {
	margin-top:20px
}
.termspop {
	width:700px;
	height:340px;
	overflow:hidden
}
.termspop>div {
	overflow:hidden!important
}
.termspop h2 {
	margin:0 0 8px;
	padding-bottom:3px;
	border-bottom:1px dotted silver;
	text-transform:uppercase
}
.termspop .terms {
	width:680px;
	height:300px;
	padding-right:20px;
	overflow-x:hidden;
	overflow-y:scroll
}
.termspop ul {
	list-style:disc;
	margin:0 0 20px 25px
}
.termspop .terms :last-child {
	margin-bottom:0
}
.information .table-cashback-categories {
	width:370px;
	margin-top:20px
}
.information .show-terms+.table-cashback-categories {
	margin-top:0
}
.information .table-cashback-categories tr>td:first-child, .information .table-cashback-categories tr>th:first-child {
	font-size:12px
}
.information .btn {
	margin-bottom:0
}
.information .screenshot {
	position:relative;
	float:left;
	width:290px;
	height:270px;
	margin-left:40px;
	background-color:#fff;
	background-image:url(../images/emptyscreen.jpg);
	background-position:2px 0;
	background-repeat:no-repeat;
	font-size:10px;
	line-height:15px;
	text-align:center;
	color:#fff
}
.information .screenshot .shot {
	position:absolute;
	left:14px;
	top:15px;
	width:259px;
	height:144px;
	background-color:transparent;
	background-position:50% 0;
	background-repeat:no-repeat;
	background-size:cover;
	-ms-behavior:url(backgroundsize.min.htc)
}
.information .screenshot .logo {
	position:absolute;
	left:84px;
	top:57px;
	width:120px;
	height:60px;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	-ms-behavior:url(backgroundsize.min.htc)
}
.socl {
	height:20px;
	margin-bottom:20px;
	overflow:hidden
}
.socl>* {
	vertical-align:top
}
.socl h5 {
	display:inline-block;
	margin:0 20px 0 0;
	font-size:15px;
	font-weight:300;
	line-height:20px
}
.socl>div, .socl>iframe, .socl>span {
	width:130px!important;
	height:20px!important;
	text-align:left!important
}
h3.cross-selling {
	font-size:16px;
	margin:0 0 20px
}
.sidebar .cashback {
	height:114px
}
.sidebar .christmas, .sidebar .events, .sidebar .mothersday, .sidebar .toolbar, .sidebar .valentine {
	height:163px
}
.sidebar .cashback .background, .sidebar .christmas .background, .sidebar .events .background, .sidebar .mothersday .background, .sidebar .toolbar .background, .sidebar .valentine .background {
	position:absolute;
	max-width:none;
	z-index:0
}
.sidebar .cashback .background {
	left:-27px;
	top:-33px
}
.sidebar .toolbar .background {
	left:-1px;
	top:-1px
}
.sidebar .events .background {
	left:-1px;
	top:-52px
}
.sidebar .christmas .background, .sidebar .mothersday .background, .sidebar .valentine .background {
	left:0;
	top:0
}
.sidebar .christmas h3, .sidebar .christmas h3 small, .sidebar .events .countdown, .sidebar .events h3, .sidebar .events h3 small, .sidebar .valentine p {
	position:relative;
	z-index:1;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .35);
	color:#fff
}
.sidebar .events h3 {
	margin-top:85px;
	font-size:34px
}
.sidebar .christmas h3 {
	margin-top:12px;
	font-size:34px
}
.sidebar .valentine h3 {
	position:relative;
	margin:0;
	z-index:1;
	font-size:24px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(0, 0, 0, .35);
	color:#9c0107
}
:lang(ru) .sidebar .valentine h3 {
font-size:16px
}
.sidebar .valentine p {
	margin-bottom:16px;
	font-size:13px
}
:lang(ru) .sidebar .valentine p {
font-size:11px
}
.sidebar .mothersday h3 {
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	padding:0;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
.sidebar .mothersday p {
	position:relative;
	margin:0;
	padding:77px 13px 0;
	z-index:1;
	font-size:24px;
	line-height:1;
	font-weight:700;
	text-align:center;
	color:#454545
}
.sidebar .events h3 small {
	display:block;
	font-weight:700;
	font-size:15px;
	line-height:11px
}
.sidebar .christmas h3 small {
	display:block;
	font-size:20px
}
.sidebar .events .countdown {
	font-size:22px;
	line-height:1
}
.sidebar .cashback .btn, .sidebar .christmas .btn, .sidebar .mothersday .btn, .sidebar .toolbar .btn, .sidebar .valentine .btn {
	position:absolute;
	margin-bottom:0;
	z-index:1
}
.sidebar .cashback .btn {
	right:19px;
	bottom:10px
}
.sidebar .toolbar .btn {
	left:19px;
	bottom:14px
}
.sidebar .christmas .btn-link, .sidebar .mothersday .btn-link, .sidebar .valentine .btn-link {
	left:23px;
	bottom:11px;
	right:23px;
	color:#fff;
	text-shadow:0 1px 1px rgba(0, 0, 0, .35)
}
:lang(kk) .sidebar .mothersday .btn-link, :lang(kk) .sidebar .valentine .btn-link {
font-size:13px
}
.sidebar .christmas .btn-link:focus, .sidebar .christmas .btn-link:hover, .sidebar .mothersday .btn-link:focus, .sidebar .mothersday .btn-link:hover, .sidebar .valentine .btn-link:focus, .sidebar .valentine .btn-link:hover {
	color:#f3f3f3;
	text-decoration:none
}
.sidebar .events .btn {
	margin-bottom:0
}
aside.search {
	padding-bottom:0
}
aside.search p {
	margin-bottom:10px
}
aside.search form.search {
	position:relative;
	margin:0 -14px;
	padding:4px 14px 14px;
	background:#f7f7f7;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	border-radius:0 0 2px 2px
}
aside.search input[type=text] {
	position:relative;
	float:left;
	width:125px;
	height:34px;
	margin:0;
	padding:5px 15px;
	background-color:#fff;
	background-image:none;
	border-color:silver;
	font-size:13px;
	line-height:34px
}
aside.search .btn {
	float:right;
	height:30px;
	width:30px;
	margin:0;
	padding:7px 10px 7px 7px;
	overflow:hidden;
	line-height:45px
}
.sidebar>nav {
	display:block;
	position:relative;
	padding:14px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
*zoom:1
}
.sidebar>nav:after, .sidebar>nav:before {
	display:table;
	content:"";
	line-height:0
}
.sidebar>nav:after {
	clear:both
}
.sidebar>aside+nav, .sidebar>nav+aside, .sidebar>nav+nav {
	margin-top:10px
}
.sidebar>nav>h3 {
	margin-top:0;
	font-size:16px;
	line-height:30px
}
.sidebar>nav>hr {
	margin:10px 0
}
.sidebar .categories a {
	display:block;
	font-size:13px;
	line-height:30px;
	color:#8a8a8a
}
.sidebar .categories a:focus, .sidebar .categories a:hover {
	text-decoration:none;
	color:#454545
}
.sidebar .categories a.active {
	font-weight:600;
	color:#454545
}
.sidebar .categories ul {
	margin:0 0 0 12px;
	padding:0;
	list-style:none
}
.sidebar .categories ul li a {
	font-size:12px
}
.sidebar .categories ul li a:focus, .sidebar .categories ul li a:hover {
	text-indent:5px
}
.sidebar .categories ul li a.active {
	font-weight:400;
	text-indent:5px
}
.sweepstakes .item>.col {
	float:right;
	width:65px
}
.sweepstakes .item>.col+.col {
	width:135px;
	margin-left:0;
	margin-right:10px
}
.sweepstakes .ribbon {
	display:block;
	width:31px;
	height:44px;
	position:absolute;
	right:0;
	bottom:0;
	z-index:2
}
.sweepstakes .col>p {
	margin-bottom:0
}
.forward {
	height:100%;
	width:100%;
	min-width:800px;
	min-height:320px;
	background-color:#edf8fc
}
.forward .container {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:auto;
	margin:0;
	z-index:2
}
.loginpopup, .loginpopup>div {
	overflow:visible!important
}
.popcontent {
	position:relative;
	background-color:#fff
}
.forward .popcontent {
	position:absolute;
	left:50%;
	top:50%;
	width:720px;
	height:260px;
	margin:-145px 0 0 -375px;
	padding:14px;
	border:1px solid #dfdfdf;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px
}
.popcontent h2 {
	margin-top:0;
	height:48px
}
.popcontent .action {
	width:720px;
	height:30px;
	margin:0 -14px -14px;
	padding:8px 14px 9px;
	background-color:#efefef;
	vertical-align:middle;
	border-top:1px dotted silver;
	line-height:30px;
	-webkit-border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px
}
.popcontent .action span {
	display:inline-block;
*display:inline;
*zoom:1;
	line-height:15px;
	vertical-align:middle
}
.popcontent small {
	display:block;
	font-size:11px;
	line-height:16px;
	text-align:left;
	color:#8a8a8a
}
.popcontent form {
	height:144px
}
.popcontent fieldset.fields {
	width:235px
}
.popcontent fieldset.sub {
	width:195px;
	padding-top:75px
}
.popcontent.shopping .dubot {
	position:relative;
	right:-30px;
	top:-30px;
	float:right;
	width:266px;
	height:277px;
	background-color:transparent;
	background-position:100% 0;
	background-repeat:no-repeat;
	background-image:url(../images/dubotwithcash_usd.png)
}
.mall-de .popcontent.shopping .dubot.de, .mall-dk .popcontent.shopping .dubot.dk, .mall-es .popcontent.shopping .dubot.es {
	background-image:url(../images/dubotwithcash_eur.png)
}
.mall-au .popcontent.shopping .dubot.au {
	background-image:url(../images/dubotwithcash_aus.png)
}
.popcontent.travel .dubot {
	position:relative;
	right:19px;
	top:-53px;
	float:right;
	width:160px;
	height:280px;
	background-color:transparent;
	background-image:url(../images/dubotsafari.png);
	background-position:100% 0;
	background-repeat:no-repeat
}
.popcontent.forwarding {
	height:190px;
	margin-top:-110px;
	text-align:center
}
.popcontent.forwarding h2 {
	height:24px;
	margin-bottom:5px
}
.popcontent .blue {
	color:#5481d9
}
.popcontent #timer {
	position:absolute;
	top:14px;
	right:14px;
	width:42px;
	height:42px;
	padding-top:45px;
	background:transparent url(../images/fancybox-loader.gif) top center no-repeat;
	font-size:16px;
	font-weight:700;
	text-align:center
}
.popcontent .image {
	display:inline-block;
*display:inline;
*zoom:1;
	width:120px;
	height:60px;
	margin-bottom:21px;
	background-color:transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:contain;
	-ms-behavior:url(backgroundsize.min.htc)
}
.popcontent .info {
	font-size:14px;
	font-weight:600
}
.popcontent .outside {
	position:absolute;
	left:0;
	right:0;
	bottom:-25px;
	margin:0;
	font-size:11px;
	line-height:15px;
	color:#8a8a8a
}
.ota-list {
	position:relative;
	width:1000px;
	margin:10px auto 25px;
	padding:6px 6px 0;
	line-height:1;
	overflow:hidden;
*zoom:1
}
.ota-list:after, .ota-list:before {
	display:table;
	content:"";
	line-height:0
}
.ota-list:after {
	clear:both
}
.ota-list>.item {
	position:relative;
	float:left;
	width:326px;
	height:160px;
	padding-bottom:20px;
	background-color:transparent;
	background-image:url(../images/travel/shadow.png);
	background-size:contain;
	-ms-behavior:url(backgroundsize.min.htc);
	background-position:50% 100%;
	background-repeat:no-repeat
}
.ota-list>.item+.item {
	margin-left:11px
}
.ota-list>.item>.image {
	width:300px;
	height:134px;
	border:13px solid #fff;
	background-color:#efefef;
	background-image:url(../images/no_image_available_big.jpg);
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	-ms-behavior:url(backgroundsize.min.htc);
	line-height:1;
	-webkit-box-shadow:0 0 0 1px #dfdfdf;
	-moz-box-shadow:0 0 0 1px #dfdfdf;
	box-shadow:0 0 0 1px #dfdfdf
}
.ota-list>.item:hover>.image {
	-webkit-box-shadow:0 0 10px 1px rgba(6, 96, 181, .4);
	-moz-box-shadow:0 0 10px 1px rgba(6, 96, 181, .4);
	box-shadow:0 0 10px 1px rgba(6, 96, 181, .4)
}
.ota-list .item-caption {
	position:absolute;
	right:13px;
	bottom:33px;
	left:13px;
	padding:5px 15px;
	background:#333;
	background:rgba(0, 0, 0, .75);
	font-size:14px;
	font-weight:700;
	line-height:20px;
	text-align:right;
	color:#fff
}
.ota-list.count4>.item {
	width:241px;
	height:137px
}
.ota-list.count4>.item+.item {
	margin-left:12px
}
.ota-list.count4>.item>.image {
	width:221px;
	height:117px;
	border-width:10px
}
.ota-list.count4 .item-caption {
	right:10px;
	bottom:30px;
	left:10px
}
#content .sidebar>aside.featured {
	background-color:#f3f3f3
}
.featured .store .image {
	display:inline-block;
*display:inline;
*zoom:1;
	width:208px;
	height:118px;
	margin-bottom:5px;
	background-color:#fff;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	-ms-behavior:url(backgroundsize.min.htc);
	border:1px solid #e3e3e3;
	text-align:center;
	line-height:118px
}
.featured .store h4 {
	margin:0 0 5px;
	font-size:14px;
	line-height:20px
}
.featured .actions {
	margin-top:4px;
	padding-top:10px;
	border-top:1px dotted silver;
	text-align:left
}
