<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Basic Information</h2>
        <hr />

        <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="0" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"></span></div>
        <hr class="pro-hr"/>
        
        <form action="<?php echo $this->url('user/home',array('action'=>'dashboard'))?>" method="POST" name="MerchanteditForm">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name</label>
                    <input id="name" class="form-control" placeholder="Enter your name" name="name" type="text" value="<?php echo $result_merchant->name;?>">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" class="form-control" placeholder="Enter your email" type="text" value="<?php echo $result_merchant->email;?>" id="email" name="email">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Occupation</label>
                    <input id="occupation" class="form-control" placeholder="eg. Web Designer, Photographer etc" type="text" id="profession" name="profession" value="<?php echo $result_merchant->profession;?>">
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Telephone No.</label>
                    <input id="phone" class="form-control" placeholder="Telephone No." type="text" value="<?php echo $result_merchant->phone;?>" id="phone" name="phone">
                </div>
            </div>
            <div class="col-lg-12"><label>Location</label></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <select id="country" class="form-control" name="country" id="country">
                        <option value="<?php echo $result_merchant->country;?>">India</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <?php 
                    $arr = array('MUM'=>'Mumbai','JAI'=>'Jaipur','LKO'=>'Lucknow','THA'=>'Thane');
                ?>
                <div class="form-group">
                    <select id="city" class="form-control" name="city" id="city">
                        <?php foreach($arr as $k=>$v){ ?>
                            <option value="<?php echo $k;?>" <?php if($result_merchant->country){?> selected <?php } ?>><?php echo $v;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <label>Approximate Cost</label>
                    <input id="rate" class="form-control" placeholder="Enter your rate" type="text" value="<?php echo $result_merchant->rate;?>" name="rate" id="rate">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Availability</label>
                    <input id="availability" class="form-control" placeholder="your availability" type="text" value="<?php echo $result_merchant->availability;?>" name="availability" id="availability">
                </div>
            </div>
            <div class="col-lg-12"><label>Website URL</label></div>
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">http://</span>
                    <input id="website_url" class="form-control" name= "website_url" placeholder="http://example.com/" aria-describedby="basic-addon1" type="text" value="<?php echo $result_merchant->website_url;?>">
                </div>
            </div>
            <div class="col-lg-12">	&nbsp;</div>
            <div class="col-lg-12">							
                <input type="hidden" name="id" id="id" value="<?php echo $result_merchant->id;?>">
                <input type="hidden" name="status" id="status" value="<?php echo $result_merchant->status;?>">
                <input type="hidden" name="profilepic" id="profilepic" value="<?php echo $result_merchant->profilepic;?>">
                <input type="submit" class="btn btn-success" value="Update Profile">
                <!--<button type="reset" class="btn btn-default">Reset Button</button>-->
            </div>
        </form>


    </div>
</section>