<section class="profile-type">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h1 class="pt-main-heading">Select your profile type</h1>
			</div>
		</div>

<!--page main heading end here-->
<p class="text-center" style="margin:0 0 8px 0px;display:none" id="loader_img">
            <img src="public/images/loader.gif" alt=""/>
        </p>
<div class="row">
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<a href="javascript:void(0)" class="thumbnail pt-thumb" onclick="set_profile(1);">
			<img src="public/images/advertiserimage/profile-user.jpg" class="img-responsive" title="Merchant" alt="Merchant">
			<h4 class="pt-heading">Web-Developer/Designer</h4>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<a href="javascript:void(0)" class="thumbnail pt-thumb" onclick="set_profile(2);">
			<img src="public/images/advertiserimage/profile-user.jpg" class="img-responsive" title="Photographer" alt="Photographer">
			<h4 class="pt-heading">Photographer</h4>
		</a>
	</div>
	<!--<div class="col-lg-3 col-sm-6 col-xs-12">
		<a href="javascript:void(0)" class="thumbnail pt-thumb">
			<img src="public/images/advertiserimage/profile-user.jpg" class="img-responsive" title="Web Designer" alt="Web Designer">
			<h4 class="pt-heading">Web Designer</h4>
			<P class="pt-detail">Item Subheading</P>
		</a>
	</div>
	<div class="col-lg-3 col-sm-6 col-xs-12">
		<a href="#" class="thumbnail pt-thumb">
			<img src="public/images/advertiserimage/profile-user.jpg" class="img-responsive" title="Fashion Designer" alt="Fashion Designer">
			<h4 class="pt-heading">Fashion Designer</h4>
			<P class="pt-detail">Item Subheading</P>
		</a>
	</div>-->
</div>

<!--thumbnail end here-->
</div>
</section>








<script type="text/javascript">

function set_profile(type)
{ 
    //alert(type); 
    
    var user_id = "<?php echo $_SESSION['user']->user_id; ?>";
    //alert(user_id); 
    var saveprofile_url= "<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'saveProfile'))?>";
    if(type == 1)
    	var success_url= site_url+'/user/home/dashboard';
    else
     var success_url= site_url+'/user/photographer/createprofile';
     
    $.ajax({
        url: saveprofile_url,
        error: function() {
            $('#info').html('<p>An error has occurred</p>');
        },
        data: {type: type},
        beforeSend: function() {
            $('#loader_img').show();
        },
        success: function(data) { 
            $('#loader_img').hide();
            if(data.response == 'success')
            {
                window.location = success_url;
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
} 

</script>