
text/x-generic edit.phtml 
PHP script text
<?php
$aimg_path = '/zend/public/images/advertiserimage/';
$title = 'Add new projects';
$this->headTitle($title);
?>
<?php
$form->SetAttribute('action', $this->url(NULL, array('controller' => 'project', 'action' => 'process')));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('project_id'));
?>
<!--Page main section start-->
<section id="min-wrapper">
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    <h3 class="ls-top-header">Edit Project Info</h3>
                    <!--Top header end -->

                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="<?php echo $this->url('user/projectmanager', array('action' => 'index'));?>">List of Projects</a></li>
                        <li class="active">Update</li>
                    </ol>
                    <!--Top breadcrumb start -->
                </div>
            </div>
            <!-- Main Content Element  Start-->
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add Endorsments</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" class="ls_form">
                                <div class="form-group">
                                    <label>Client Name</label>
                                    <?php echo $this->formRow($form->get('clientname')); ?>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <?php echo $this->formRow($form->get('project_id')); ?>
                                </div>
                                <div class="form-group">
                                    <label></label>
                                    <?php echo $this->formRow($form->get('project_shortcut')); ?>
                                </div>
                                <div class="form-group">
                                    <label>Write about the freelancer</label>
                                    <?php echo $this->formRow($form->get('endorsetext')); ?>

                                </div>

                             

                                <div class="checkbox i-checks">
                                    <label>
                                        <input type="checkbox" name="check_out" checked="checked">
                                        <i></i> Check me out
                                    </label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-default" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
