<?php include "include/secondheader.phtml" ; ?>

<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
    		<div class="col-lg-12 col-sm-12 col-xs-12">
    			<h1 class="pt-main-heading">All Available <span style="color:#54ba4e;">Photographers :)</span></h1>
    		</div>
	   </div>
	<div class="row" style="margin:25px 0;">
        <?php 
        //echo '<pre>';print_r($photographerdata);exit;
        $percent = 0;
        $show_percent = 0;
        if($photographerdata->profile_progress==1)
        {
            $percent = $percent + 0.1;
        }
        if($photographerdata->total_albums>0)
        {
            $percent = $percent + (0.15 * $photographerdata->total_albums);
        }
        if($percent>=1.0)
        {
            $percent=1.0;
        }
        if($percent>0)
        {
            $show_percent = $percent*100;
        }
        ?>
		<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
	</div>
</section>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Photographers</div>
                        <div class="panel-body">
                            <div class="row">
                                <?php //echo '<pre>';print_r($dataarray);exit;
                                foreach($dataarray as $datarow)
                                { 
                                    // echo '<pre>';print_r($datarow);exit;?>
                                    <a href="user/photographer/profile/<?php echo $datarow['user_id'];?>">
                                        <div class="col-lg-4 col-sm-6 col-xs-12" >
                                            <div class="thumbnail album-desc" style = "border:1px solid #ccc;">
                                                <p style="margin:0 25px;"><?php echo $datarow['name'];?></p>
                                                <!--<p style="margin:0 25px;"><?php //echo $datarow['occupation']; ?></p>-->
                                            </div>
                                        </div>
                                    </a>
                                <?php } ?>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>        














