

<section class="register-confirm">
    
<h2>Login Successful!!</h2>

<p> Welcome!  <?php echo $this->escapehtml($user->name); ?> </p>

<a href="<?php echo $this->url('user/login', array('action' =>'logout')) ?>"><?php echo $this->translate('Logout') ?>
</section>

