

/*header, nav, section, aside, footer {

	display:block

}

*/

.fw {

	width:100%;

}

.fl {

	float:left;

}

.fr {

	float:right;

}

/*.clear {

	clear:both

}

.clearfix {

	display:table

}

.mt {

	margin-top:30px

}

.mb {

	margin-bottom:30px

}

.pr {

	padding-right:20px

}

.pl {

	padding-left:20px

}

.pt {

	padding-top:20px

}

.pb {

	padding-bottom:20px

}

.divider {

	margin:0 auto;

	width:980px;

	display:table

}

.block {

	background:#eee;

	padding:5px;

-webkit-transition:background .2s ease-out 0s;

-moz-transition:background .2s ease-out 0s;

-ms-transition:background .2s ease-out 0s;

-o-transition:background .2s ease-out 0s;

transition:background .2s ease-out 0s

}

.block:hover {

	background:#e5f1fa

}

.block_inner {

	border:1px solid #dedede;

	background:#fff

}

input[type="submit"], input[type="button"] {

	border:0

}

select, input[type="submit"], input[type="button"] {

	cursor:pointer

}

input[type="text"], input[type="password"] {

	font-size:13px;

	background:#fff;

	border:1px solid #979797;

	height:29px;

	line-height:29px;

	text-indent:10px

}

textarea {

	font-size:13px;

	background:#fff;

	border:1px solid #979797;

	line-height:18px;

	padding:5px 10px;

	overflow-x:hidden;

	overflow-y:auto

}

select {

	border:1px solid #a6a6a6;

	padding:3px;

	height:29px

}

body {

	background:url(../img/body_bg.png) repeat 0 0;

	overflow-x:hidden

}

textarea, label, input[type="text"], input[type="password"], select, h1, h2, h3, h4, h5, h6, li, div {

	font-weight:normal;

	color:#444

}

h2 {

	font-size:24px;

	line-height:80px

}

h3 {

	font-size:20px;

	line-height:60px

}

p {

	font-size:14px;

	color:#444;

	line-height:18px

}

.button {

	font-size:16px;

	color:#fff;

	background:#2066a1;

	line-height:30px;

	padding:0 18px;

	display:inline-block

}

.blue_divider_1 {

	background:#0b3151;

	padding:5px 0 20px 0

}

.blue_divider_2 {

	background:#2066a1;

	padding:20px 0

}

.white_divider {

	background:#fff

}

.txt {

	font-size:12px;

	color:#444

}

img.store {

	width:120px;

	height:60px

}

input[type="text"], input[type="password"], select, .category li, .cat_module, .store_module, .restaurants_module, .testmonial_module, .press_module, .search_rest li a.active:after, .search_rest .search_rest_d, .make_reser .make_reser_d, .prodect_category a, .search_rest input[type="text"], .find_rest, .restaurant_module, label, .myaccount section, textarea, .contact, .join .join_d, .join .join_d label .button, #colorbox, #cboxContent, .p_sign, .p_sign div, .voucher_p .block_inner, .faq div, .miss_accordion .c_result, .static, .fb_acc, .c_disable, .how_w, .how_w section, .banner_main, .ticket_submit ul, .product_feed li {

	-webkit-box-sizing:border-box;

	-moz-box-sizing:border-box;

	box-sizing:border-box

}

.link:hover, .header_top a:hover, .category_down_menu a:hover, .hotoffer_down_menu a:hover, .top_brands a:hover, footer a:hover, .store_h a, .category_down_menu strong a, .home_join li a, .also_like li strong a:hover, .store_module p a:hover, .store_module p.other_offer a:hover, .store_module p.other_offer a:hover strong, .restaurants_module h2 a, .prodect_category a:hover h2, .v_works li strong {

	text-decoration:underline

}

a, header .logo:hover, .store_module li a, .home_join li a:hover, .top_nav .j_but:hover, .top_nav .lo_but:hover, .top_nav .my_but:hover {

	text-decoration:none

}

.block, .block_inner, input[type="text"], input[type="password"], select, textarea, .button, .search a, .jsonSuggestResults, .pick_day ul li a.f:hover:after, .pick_day ul li a.t:hover:after, .pick_day ul li a.g:hover:after, .pick_day ul li a.r:hover:after, .blue_inner, .orange_inner, .find_rest a, .join .join_d, .testimonial_p, .testimonial_p>div, .restaurant_r_p, .restaurant_r_p>div, .make_reser_p ul li a, .booking, .faq a, .miss_accordion a, .top_offer li span span, .product_list {

	border-radius:3px

}

@font-face {

font-family:'webrupeebook';

src:url('../fonts/webrupee.eot');

src:url('../fonts/webrupee.eot?#iefix') format('embedded-opentype'), url('../fonts/webrupee.woff') format('woff'), url('../fonts/webrupee.ttf') format('truetype'), url('../fonts/webrupee.svg#webrupeebook') format('svg');

font-weight:normal;

font-style:normal

}

.dn {

	display:none

}

.pos {

	position:relative

}

.indianRs {

	font-family:'webrupeebook'!important

}

.line_hd {

	text-align:center

}

.line_hd hr {

	border:0;

	border-top:1px solid #666;

	position:absolute;

	top:30px;

	left:0

}

.line_hd h3 {

	font-size:18px;

	font-weight:bold;

	color:#666;

	line-height:61px;

	display:inline-block;

	background:#fff;

	padding:0 10px

}*/



.pos {

	position:relative;

	width:200px;

	margin-top:1px;

}

.topFix {

	position:fixed;

	top:0;

	left:0;

	z-index:7

}

.topFix .header_top {

	display:none

}

.topFix .header_bottom {

	background:rgba(251, 250, 255, 0.9);

	font-size:14px;

	box-shadow:0 0 6px #bfbfbf

}

.topFix .category ul {

	border-right:1px solid #4478a2;

	border-left:1px solid #073b66

}

.topFix .category li {

	border-right:1px solid #073b66;

	border-left:1px solid #4478a2

}

.topFix .category li a {

	padding:12px 0

}

.topFix .search a {

	display:block

}

.topFix .search input {

	height:30px

}

.topFix .search input[type="text"] {

	width:365px;

	padding-left:10px;

	line-height:30px

}

.topFix .search input[type="submit"] {

	width:24px;

	background:url(../img/header_footer_v1.png) no-repeat -196px -76px #900;

}

.topFix .jsonSuggestResults {

	top:31px!important

}



header .logo {

	margin-top:0px;

	margin-left:78px

}

.header_top {

	height:0px;

	font-size:13px

}

/*.header_top a {

	color:#666;

	font-size:11px

}*/







/*.top_nav .j_but, .top_nav .my_but {

	border-radius:2px;

	color:#fff;

	padding:5px 10px

}

.top_nav .j_but {

	background:#ffa100

}

.top_nav .my_but {

	background:#1e6098

}

.top_nav .my_but.active {

	padding:5px 10px 12px 10px

}

.top_nav .my_but_d {

	position:absolute;

	top:44px;

	left:10px;

	border:1px solid #1e6098;

	width:155px;

	z-index:8;

	line-height:26px;

	padding:5px 0 5px 10px

}

.top_nav .my_but_d a {

	font-size:14px;

	color:#444

}

.header_top .divider .top_nav:first-child li {

	padding:18px 0 0 35px

}

.header_top .divider .top_nav:first-child+a+.top_nav li {

	padding:18px 0 0 10px

}

.header_top a.refer_ico:after, .header_top a.how_ico:after, .header_top a.sign_ico:after {

	position:absolute;

	content:"";

	width:19px;

	height:16px;

	background:url(../img/header_footer_v1.png) no-repeat 0 0

}

.header_top a.refer_ico:after {

	top:-3px;

	left:-24px

}

.header_top a.how_ico:after {

	top:-3px;

	left:-24px;

	background-position:-19px 0

}

.header_top a.sign_ico:after {

	top:-4px;

	left:-20px;

	background-position:-38px 0

}

.header_bottom {

	font-size:14px;

	line-height:18px;

	background:-webkit-linear-gradient(#2983bc 0, #2066a1 100%);

	background:-mox-linear-gradient(#2983bc 0, #2066a1 100%);

	background:-ms-linear-gradient(#2983bc 0, #2066a1 100%);

	background:-o-linear-gradient(#2983bc 0, #2066a1 100%);

	background:linear-gradient(#2983bc 0, #2066a1 100%)

}

.category {

	width:40%

}

.category ul {

	border-right:1px solid #38aad1;

	border-left:1px solid #0e2b6d

}

.category li {

	width:25%;

	float:left;

	text-align:center;

	border-right:1px solid #0e2b6d;

	border-left:1px solid #38aad1

}

.category a {

	color:#fff;

	display:block;

	padding:18px 0 14px 0;

	border-bottom:4px solid #2066a1;

-webkit-transition:all .2s ease-out 0s;

-moz-transition:all .2s ease-out 0s;

-ms-transition:all .2s ease-out 0s;

-o-transition:all .2s ease-out 0s;

transition:all .2s ease-out 0s

}

.category a:hover, .category a.active {

	border-bottom:4px solid #ffa100;

	padding:18px 0 14px 0

}*/

.search {

	width:60%;

	margin-top:0px;

	position:relative

}

.search li {

	margin-left:8px

}

.search a.active {

	padding:6px 8px 14px 8px;

	position:relative;

	z-index:8

}

.search .my_but_d {

	position:absolute;

	top:34px;

	right:0;

	/*border:1px solid #03b0f1;*/

	width:155px;

	z-index:8;

	line-height:26px;

	padding:5px 0 5px 10px

}

.search .my_but_d a {

	font-size:14px;

	color:#444;

	background:0;

	padding:0;

	line-height:26px

}

.search a {

	display:none;

	/*background:#03b0f1;*/

	padding:6px 8px;

	/*border-right:1px solid #03b0f1;*/

	font-family: 'swis721_cn_btroman';

	color:#4e4e4e;

	font-size: 14PX;

}

.search input {

	border:0;

	height:40px

}

.search input[type="text"] {

	border-radius:3px 0 0 3px;

	background:#fff;

	width:200px;

	padding-left:10px;

	line-height:40px;

	text-indent:0;

	

}

.search input[type="submit"] {

	border-radius:0 3px 3px 0;

	width:34px;

	background:url(../img/header_footer_v1.png) no-repeat -162px -76px #ffa100

}

.jsonSuggestResults {

	width:200px!important;

	background:#fff;

	border:1px solid #dedede;

	position:absolute;

	top:41px!important;

	right:0!important;

	z-index:7;

	box-shadow:0 0 2px #c8c8c8

}

.resultItem {

	float:left;

	cursor:pointer;

	padding:4px 10px;

	width:200px

}

.resultItem .text {

	float:left;

	font-size:14px;

	color:#444;

	width:290px;

	line-height:20px

}

.resultItem .extra {

	float:right;

	font-size:12px;

	color:#444;

	width:200px;

	text-align:right

}

.resultItem.hover {

	background:#f3f3f3

}

.resultItem.hover .extra {

	color:#ffa100

}

.category_down_menu {

	display:none;

	border-bottom:1px solid #c8c8c8;

	box-shadow:0 1px 2px #dfdfdf

}

.category_tab_title {

	border-bottom:1px solid #fab349

}

.category_tab_title li {

	line-height:36px;

	padding-left:20px

}

.category_tab {

	display:none

}

.category_tab.last {

	display:block

}

.category_tab ul {

	width:140px;

	float:left;

	padding-bottom:15px;

	min-height:182px;

	padding:0 20px;

	min-height:220px

}

.category_tab ul.nav_gray {

	background:#f8f8f8;

	border:1px solid #f2f2f2;

	border-top:0;

	border-bottom:0

}

.category_tab ul ul ul {

	margin-left:10px

}

.category_tab ul li {

	line-height:21px

}

.category_tab a strong {

	line-height:30px

}

.category_tab a strong {

	color:#20639c

}

.category_tab a {

	font-size:12px;

	color:#666

}

.category_tab a.v_all {

	color:#20639c

}

.hotoffer_down_menu {

	display:none;

	border-bottom:1px solid #c8c8c8;

	box-shadow:0 1px 2px #dfdfdf

}

.hotoffer_down_menu a {

	padding-left:30px;

	margin-right:30px

}

.hotoffer_down_menu a:after {

	content:"";

	position:absolute;

	top:0;

	left:0;

	width:24px;

	height:17px;

	background:url(../img/header_footer_v1.png) no-repeat 0 0

}

.hotoffer_down_menu ul li:first-child a:after {

	background-position:-220px -72px

}

.hotoffer_down_menu ul li:first-child+li a:after {

	background-position:-220px -89px

}

.hotoffer_down_menu ul li:first-child+li+li a:after {

	background-position:-220px -106px

}

.contentFix {

	padding-top:127px

}

.site_heading {

	font-size:30px;

	color:#fff;

	text-align:center;

	line-height:68px

}

.site_heading_1 {

	font-size:35px;

	color:#2066a1;

	text-align:center;

	line-height:80px

}

.site_heading_2 {

	font-size:30px;

	color:#2066a1;

	line-height:70px

}

.site_heading_3 {

	font-size:27px;

	color:#333;

	text-align:center;

	line-height:32px;

	margin-bottom:15px

}

/*.banner_main {

	padding:15px;

	background:#244663

}

.banner {

	background:url(../img/banner_load.gif) no-repeat scroll 50% 50%;

	height:297px;

	position:relative;

	width:575px

}

.banner a.nivo-imageLink {

	display:none;

	height:100%;

	left:0;

	position:absolute;

	top:0;

	width:100%;

	z-index:6

}

.banner img {

	display:none;

	left:0;

	position:absolute;

	top:0

}*/





/*.nivo-slice {

	display:block;

	position:absolute;

	z-index:5;

	height:100%;

	top:0

}

.nivo-box {

	display:block;

	position:absolute;

	z-index:5;

	overflow:hidden

}

.nivo-box img {

	display:block

}

.banner:hover .nivo-directionNav a {

	display:block

}

.nivo-directionNav a {

	background-image:url(../img/header_footer_v1.png);

	display:none;

	height:56px;

	width:30px;

	cursor:pointer;

	position:absolute;

	top:45%;

	z-index:6

}

.nivo-directionNav .nivo-prevNav {

	left:15px;

	background-position:-210px -16px

}

.nivo-directionNav .nivo-nextNav {

	right:15px;

	background-position:-240px -16px

}

.home_join, .home_login {

	width:325px;

	padding:0 25px;

	height:297px

}

.home_join {

	background:#13558d

}

.home_join h2 {

	color:#fff;

	font-size:20px;

	padding:15px 0;

	line-height:normal

}

.home_join h2 strong {

	font-size:30px

}

.home_join p {

	line-height:47px;

	font-size:16px;

	color:#fff

}

.home_join p:after {

	background:url(../img/index.png) no-repeat 0 0;

	position:absolute;

	top:0;

	width:47px;

	height:47px;

	content:""

}

.home_join h2:first-child+p:after {

	background-position:-243px -370px;

	left:0

}

.home_join h2:first-child+p+p:after {

	background-position:-218px -419px;

	left:25px

}

.home_join h2:first-child+p+p+p:after {

	background-position:-203px -470px;

	left:50px

}

.home_join h2:first-child+p {

	text-indent:57px

}

.home_join h2:first-child+p+p {

	text-indent:82px

}

.home_join h2:first-child+p+p+p {

	text-indent:117px;

	margin-bottom:15px

}

.home_join a.join {

	background:#ffa100

}

.home_join .fb_icon {

	border-left:1px solid #094275;

	margin-left:10px;

	height:25px;

	margin-top:2px

}

.home_join .fb_icon span {

	display:inline-block;

	width:6px;

	height:16px;

	background:url(../img/header_footer_v1.png) no-repeat -185px 0;

	margin-left:10px;

	margin-top:4px

}

.home_login li:first-child {

	font-size:20px;

	line-height:50px

}

.home_login li:first-child+li+li+li+li+li {

	padding-top:20px

}

.home_login li {

	line-height:22px;

	color:#666

}

.home_login li>span:first-child {

	float:left;

	width:222px

}

.home_login li, .home_join li a {

	font-size:13px

}

.v_works h3 span {

	display:inline-block;

	margin-top:5px;

	font-size:30px

}

.v_works li {

	font-size:13px;

	color:#333;

	line-height:24px;

	padding:0 0 12px 60px

}

.v_works li:first-child {

	margin-top:12px

}

.v_works li strong {

	color:#9c9c9c;

	font-style:italic;

	text-transform:uppercase;

	font-weight:normal

}

.v_works li:after {

	content:"";

	position:absolute;

	top:0;

	left:5px;

	width:40px;

	height:40px;

	background:url(../img/sidebar.png) no-repeat 0 0

}

.v_works .ico_1:after {

	background-position:0 -273px

}

.v_works .ico_2:after {

	background-position:-40px -273px

}

.v_works .ico_3:after {

	background-position:-80px -273px

}

.v_works .ico_4:after {

	background-position:-120px -273px

}

.v_works .ico_5:after {

	background-position:-160px -273px

}

.v_works .ico_6:after {

	background-position:0 -313px

}

.v_works .ico_7:after {

	background-position:-40px -313px

}

.v_works .ico_8:after {

	background-position:-80px -313px

}

.v_works .ico_9:after {

	background-position:-120px -313px

}

.v_works .ico_10:after {

	background-position:-160px -313px

}

.top_offer_main {

	width:893px;

	margin-left:44px

}

.bx-wrapper {

	position:relative;

	z-index:6

}

.bx-controls-direction a {

	position:absolute;

	top:0;

	width:29px;

	height:446px;

	text-indent:-9999px;

	z-index:5

}

.bx-prev {

	left:-35px;

	background:url(../img/index.png) no-repeat 0 0

}

.bx-next {

	right:-35px;

	background:url(../img/index.png) no-repeat -29px 0

}

.bx-loading {

	min-height:50px;

	background:url(../img/loading.gif) center center no-repeat #fff;

	height:100%;

	width:100%;

	position:absolute;

	top:0;

	left:0;

	z-index:6

}

.top_offer {

	width:873px

}

.top_offer li {

	margin:0 20px 20px 0;

	width:196px;

	height:133px;

	border:1px solid #d2d2d2;

	text-align:center

}

.top_offer li a {

	width:196px;

	height:133px;

	display:block

}

.top_offer li img {

	margin-top:15px

}

.top_offer li p {

	margin-top:6px;

	color:#1e6098

}

.top_offer li i {

	background:rgba(23, 59, 89, 0.9);

	width:100%;

	height:100%;

	position:absolute;

	top:0;

	left:0;

	font-style:normal

}

.top_offer li i i {

	background:#ff7800;

	display:block;

	width:96px;

	height:31px;

	border:3px solid #955924;

	position:absolute;

	top:51px;

	left:51px;

	line-height:31px;

	text-align:center;

	font-size:12px;

	color:#fff

}

.top_offer li a i {

	display:none

}

.top_offer li a:hover i {

	display:block

}

.india_large li {

	width:14.2%;

	text-align:center

}

.india_large i {

	width:114px;

	height:114px;

	display:inline-block;

	border:4px solid #d2d2d2;

	border-radius:50%

}

.india_large i:after {

	position:absolute;

	content:"";

	background:url(../img/index.png) no-repeat 0 0

}

.india_large h2 {

	font-size:12px;

	color:#333;

	line-height:18px

}

.india_large .ico_1 i:after {

	width:71px;

	height:59px;

	left:19px;

	top:24px;

	background-position:-218px 0

}

.india_large .ico_2 i:after {

	width:53px;

	height:60px;

	left:31px;

	top:21px;

	background-position:-218px -104px

}

.india_large .ico_3 i:after {

	width:48px;

	height:71px;

	left:32px;

	top:23px;

	background-position:-218px -172px

}

.india_large .ico_4 i:after {

	width:73px;

	height:45px;

	left:23px;

	top:38px;

	background-position:-218px -59px

}

.india_large .ico_5 i:after {

	width:60px;

	height:60px;

	left:27px;

	top:27px;

	background-position:-218px -243px

}

.india_large .ico_6 i:after {

	width:54px;

	height:67px;

	left:31px;

	top:23px;

	background-position:-218px -303px

}

.india_large .ico_7 i:after {

	width:25px;

	height:49px;

	left:43px;

	top:32px;

	background-position:-218px -370px

}

.happy_user {

	padding:0 25px 20px 25px

}

.happy_user li {

	width:48%

}

.other_sites_links {

	padding:35px 0

}

.other_sites_links * {

	margin-right:20px

}

.other_sites_links p {

	line-height:38px;

	font-size:16px;

	margin-left:86px

}

.other_sites_links a {

	display:block;

	width:203px;

	height:38px;

	background-image:url(../img/index.png)

}

.other_sites_links .site_1 {

	background-position:0 -470px

}

.other_sites_links .site_2 {

	background-position:0 -508px

}

.press_logo li {

	float:left;

	padding-right:4.5%;

	width:16.3%;

	padding-bottom:10px

}

.press_logo li.last {

	padding-right:0

}

.press_logo li a {

	display:block;

	width:160px;

	height:47px;

	background:url(../img/index.png) no-repeat 0 0

}

.press_logo li a.press_1 {

	background-position:-58px 0

}

.press_logo li a.press_2 {

	background-position:-58px -47px

}

.press_logo li a.press_3 {

	background-position:-58px -94px

}

.press_logo li a.press_4 {

	background-position:-58px -141px

}

.press_logo li a.press_5 {

	background-position:-58px -188px

}

.press_logo li a.press_6 {

	background-position:-58px -235px

}

.press_logo li a.press_7 {

	background-position:-58px -282px

}

.press_logo li a.press_8 {

	background-position:-58px -329px

}

.press_logo li a.press_9 {

	background-position:-58px -376px

}

.press_logo li a.press_10 {

	background-position:-58px -423px

}

.subscribe {

	position:relative

}

.subscribe:after {

	position:absolute;

	top:6px;

	left:12px;

	width:53px;

	height:33px;

	content:"";

	background:url(../img/header_footer_v1.png) no-repeat -157px -43px

}

.subscribe h2 {

	font-size:24px;

	color:#fff;

	margin-left:75px;

	line-height:normal

}

.subscribe p {

	font-size:18px;

	color:#fff;

	margin-left:75px;

	margin-top:7px

}

.subscribe input[type="text"] {

	background:#fff;

	height:40px;

	line-height:40px;

	border:0;

	border-radius:3px 0 0 3px;

	width:275px;

	float:left;

	margin-top:7px

}

.subscribe a {

	background:#ffa100;

	color:#fff;

	font-size:16px;

	line-height:40px;

	display:inline-block;

	height:40px;

	border-radius:0 3px 3px 0;

	float:left;

	padding:0 20px;

	margin-top:7px

}

.top_brands {

	padding-bottom:20px

}

.top_brands ul {

	width:18%;

	float:left;

	line-height:27px;

	padding-left:2%

}

footer {

	background:#444;

	padding:30px 0

}

footer h4 {

	font-size:14px;

	color:#2cbcf0;

	line-height:20px;

	font-weight:bold

}

footer a {

	color:#fff;

	font-size:13px

}

footer p {

	text-align:center;

	color:#fff;

	font-size:13px

}

.footer_wrapper {

	padding-bottom:20px

}

.footer_wrapper ul {

	width:18%;

	float:left;

	line-height:21px;

	padding-left:2%

}

.footer_wrapper .no_hd {

	margin-top:20px

}

.footer_icons {

	padding:15px 0 20px 0;

	margin-bottom:20px

}

.footer_icons {

	border:1px solid #666;

	border-left:0;

	border-right:0

}

.footer_icons li {

	width:20%;

	text-align:center

}

.footer_icons li i {

	background:url(../img/header_footer_v1.png) no-repeat 0 0;

	display:inline-block

}

.footer_icons li.partners i {

	width:37px;

	height:53px;

	background-position:-110px -76px

}

.footer_icons li.coupons i {

	width:64px;

	height:41px;

	background-position:-46px -42px;

	margin:1px 0 11px 0

}

.footer_icons li.offer i {

	width:47px;

	height:33px;

	background-position:-110px -43px;

	margin:9px 0 11px 0

}

.footer_icons li.fans i {

	width:36px;

	height:35px;

	background-position:-46px -83px;

	margin:2px 0 16px 0

}

.footer_icons li.paying i {

	width:46px;

	height:44px;

	background-position:0 -42px;

	margin:1px 0 8px 0

}

.needhelp {

	font-size:14px;

	color:#fff;

	background:#ffa800;

	line-height:23px;

	height:23px;

	text-align:center;

	width:105px;

	border:2px solid #fff;

	border-bottom:0;

	box-shadow:0 0 2px #ddd;

	border-radius:3px 3px 0 0;

	position:fixed;

	top:340px;

	right:-43px;

	transform:rotate(-90deg);

	-webkit-transform:rotate(-90deg);

	display:block;

	z-index:8;

-webkit-transition:background .2s ease-out 0s;

-moz-transition:background .2s ease-out 0s;

-ms-transition:background .2s ease-out 0s;

-o-transition:background .2s ease-out 0s;

transition:background .2s ease-out 0s

}

.needhelp:hover {

	background:#26bdef

}

.back_to_top {

	font-size:10px;

	color:#ffa100;

	position:fixed;

	bottom:50px;

	right:10px;

	cursor:pointer;

	padding-top:45px;

	display:none;

	z-index:8

}

.back_to_top:after {

	position:absolute;

	top:0;

	left:14px;

	background:url(../img/header_footer_v1.png) no-repeat 0 -86px;

	width:43px;

	height:43px;

	content:""

}

.breadcrumb {

	font-size:12px;

	color:#999;

	line-height:30px

}

.breadcrumb div {

	display:inline-block

}

.breadcrumb a {

	color:#999;

	font-size:12px

}

.breadcrumb .active {

	color:#000;

	font-weight:bold

}

.inner_page, .inner_page_2, .store_question, .store_dynamic, .category_seo {

	width:68.8%

}

.inner_page_d {

	width:97.8%

}

.inner_page_1_d {

	width:98.5%

}

.inner_page h1, .inner_page_1 h1, .category_seo .category_hd_seo {

	font-size:24px;

	color:#fff;

	line-height:26px;

	background:#ffa100;

	padding:15px 0 15px 20px;

	position:relative

}

.inner_page h1:after, .inner_page_1 h1:after, .category_seo .category_hd_seo:after {

	content:"";

	position:absolute;

	bottom:-15px;

	right:0;

	width:15px;

	height:15px;

	background:url(../img/header_footer_v1.png) no-repeat -191px 0

}

.inner_page_2 h2 {

	font-size:18px;

	color:#fff;

	line-height:20px;

	background:#ffa100;

	position:relative;

	text-transform:uppercase;

	font-weight:bold;

	padding:18px 0 18px 20px

}

.category_seo .category_hd_seo {

	-webkit-box-sizing:border-box;

	-moz-box-sizing:border-box;

	box-sizing:border-box

}

.category_seo .category_hd_seo h1 {

	display:inline-block;

	color:#fff;

	font-size:24px

}

.remarketingcode {

	height:0;

	width:0

}

.sitemap h2 {

	line-height:54px;

	border-bottom:1px solid #eee

}

.sitemap ul {

	width:24%;

	margin-top:15px;

	line-height:24px;

	min-height:200px

}

.sidebar {

	width:29.3%;

	margin-bottom:10px

}

.sidebar h3, .sidebar h2 {

	line-height:24px;

	padding:8px 0;

	color:#666;

	border-bottom:1px dashed #d8d8d8;

	text-transform:uppercase;

	font-size:18px

}

.sidebar .block {

	margin-bottom:20px

}

.pick_day, .v_works, .about_store, .also_like, .scb, .shop_by, .side_charities {

	padding:0 10px 10px 10px

}

.pick_day ul {

	position:absolute;

	top:12px;

	right:10px

}

.pick_day ul li {

	float:left;

	padding-left:5px

}

.pick_day ul li a {

	display:block;

	width:16px;

	height:16px;

	background:url(../img/header_footer_v1.png) no-repeat 0 0;

	position:relative

}

.pick_day ul li a.f {

	background-position:-73px 0

}

.pick_day ul li a.f:hover {

	background-position:-57px 0

}

.pick_day ul li a.t {

	background-position:-105px 0

}

.pick_day ul li a.t:hover {

	background-position:-89px 0

}

.pick_day ul li a.g {

	background-position:-137px 0

}

.pick_day ul li a.g:hover {

	background-position:-121px 0

}

.pick_day ul li a.r {

	background-position:-169px 0

}

.pick_day ul li a.r:hover {

	background-position:-153px 0

}

.pick_day ul li a.f:hover:after, .pick_day ul li a.t:hover:after, .pick_day ul li a.g:hover:after, .pick_day ul li a.r:hover:after {

	content:attr(data-tool);

	color:#fff;

	position:absolute;

	top:-25px;

	left:-32px;

	font-size:12px;

	padding:2px 4px;

	width:72px;

	text-align:center

}

.pick_day ul li a.f:hover:after {

	background:#3b5998

}

.pick_day ul li a.t:hover:after {

	background:#00c3f8

}

.pick_day ul li a.g:hover:after {

	background:#db4a37

}

.pick_day ul li a.r:hover:after {

	background:#2066a1

}

.pick_day p {

	margin-top:10px

}

.blue_inner {

	border:1px solid #0b3f6b;

	background:url(../img/blue_inner.png) no-repeat 0 0 #2066a1;

	height:176px;

	text-align:center;

-webkit-transition:background .2s ease-in 0s;

-moz-transition:background .2s ease-in 0s;

-ms-transition:background .2s ease-in 0s;

-o-transition:background .2s ease-in 0s;

transition:background .2s ease-in 0s

}

.blue_inner:hover {

	background:url(../img/blue_inner.png) no-repeat 0 -20px #2066a1

}

.blue_inner i {

	display:inline-block;

	width:95px;

	height:95px;

	background:url(../img/sidebar.png) no-repeat 0 0;

	margin-top:10px

}

.blue_inner i.faq {

	background-position:-95px 0

}

.blue_inner p {

	font-size:22px;

	line-height:24px;

	color:#fff

}

.blue_inner a {

	display:block;

	width:100%;

	height:100%

}

.orange_inner {

	border:1px solid #db8a00;

	background:#ffa100

}

.orange_inner a {

	display:block;

	margin:0 auto;

	width:254px;

	height:118px;

	font-size:22px;

	line-height:24px;

	color:#ffa100;

	background:url(../img/sidebar.png) no-repeat 0 -95px;

	text-align:center;

	padding-top:60px

}

.store_short_des {

	margin-top:10px

}

#shortdescr a.plus, #fulldescr a.minus {

	width:16px;

	height:16px;

	background:url(../img/header_footer_v1.png) no-repeat 0 0;

	display:inline-block;

	margin-bottom:-4px

}

#shortdescr a.plus {

	background-position:-266px 0

}

#fulldescr a.minus {

	background-position:-250px 0

}

.also_like li {

	margin-top:5px

}

.also_like li strong {

	color:#ffa100;

	font-size:12px

}

.also_like li strong a {

	color:#ffa100;

	padding:5px 2px 5px 0;

	font-size:12px

}

.store_share {

	padding:10px

}

.store_share ul {

	padding-bottom:20px

}

.store_share li:first-child {

	padding:0;

	margin-left:17px

}

.store_share li {

	float:left;

	padding-left:36px

}

.store_share a {

	display:block;

	width:50px;

	height:50px;

	background:url(../img/sidebar.png) no-repeat 0 0

}

.store_share a.facebook {

	background-position:0 -353px

}

.store_share a.twitter {

	background-position:-50px -353px

}

.store_share a.google {

	background-position:-100px -353px

}

.store_share p {

	min-height:75px

}

p#twitter_text, p#google_text {

	display:none

}

.scb h2 {

	text-align:center;

	font-size:20px

}

.scb h2 i {

	font-size:12px;

	line-height:18px;

	display:inline-block

}

.scb p {

	border-top:1px solid #dedede;

	margin-top:10px;

	padding-top:10px

}

.scb p.no_ca {

	text-align:center;

	padding:0;

	line-height:24px

}

.scb p i {

	display:inline-block;

	width:13px;

	height:13px;

	background:url(../img/header_footer_v1.png) no-repeat -244px -104px;

	cursor:pointer

}

.scb strong {

	color:#ffa100;

	font-size:20px

}

.scb span.fl {

	color:#ffa100;

	font-size:12px

}

.scb span.hasCountdown {

	margin-bottom:8px

}

.scb span.hasCountdown span {

	float:left

}

.scb h2:first-child+p {

	border-top:0

}

.scb a {

	padding:0 13px;

	margin-top:10px

}

.shop_bt_show {

	margin-top:10px

}

.shop_by .expand_ico {

	position:absolute;

	width:16px;

	height:16px;

	display:block;

	top:10px;

	right:10px;

	background:url(../img/header_footer_v1.png) no-repeat -244px -88px

}

.shop_by .expand_ico.col {

	background-position:-244px -72px

}

.shop_by .shop_by_d {

	height:125px;

	overflow-x:hidden;

	overflow-y:auto

}

.shop_by .shop_by_d input[type="text"] {

	margin-bottom:5px

}

.shop_by ul ul {

	margin-left:12px

}

.shop_by ul li {

	line-height:24px

}

.shop_by label {

	line-height:24px;

	font-size:14px;

	color:#2066a1

}

.shop_by input[type="checkbox"] {

	float:left;

	margin:5px 5px 0 0

}

.shop_by .price_d {

	margin-bottom:20px

}

.shop_by .price_d input[type="text"] {

	width:75px;

	margin:0 6px

}

.shop_by .price_d input[type="text"]:first-child {

	margin-left:0

}

.shop_by .price_d input[type="submit"] {

	height:29px;

	padding:0 6px

}

.shop_by .slider_p p {

	margin-top:10px;

	text-align:center

}

.side_charities {

	text-align:center

}

.side_charities select {

	margin-top:15px

}

.side_charities img {

	border:1px solid #ebebeb

}

.side_charities a {

	margin-top:15px

}

.side_charities p {

	font-size:14px;

	color:#000

}

.pagination {

	line-height:27px;

	padding:15px 0;

	width:100%

}

.pagination select {

	width:115px

}

.pagination span {

	font-size:15px;

	color:#444;

	margin-left:20px

}

.cat_module, .store_module, .restaurants_module, .restaurant_module, .testmonial_module, .press_module {

	padding:0 5% 0 0;

	width:100%;

	border-left:5px solid #dcdcdc;

	border-right:2px solid #fff;

	margin-bottom:9px;

-webkit-transition:border-left .2s ease-out 0s, border-right .2s ease-out 0s;

-moz-transition:border-left .2s ease-out 0s, border-right .2s ease-out 0s;

-ms-transition:border-left .2s ease-out 0s, border-right .2s ease-out 0s;

-o-transition:border-left .2s ease-out 0s, border-right .2s ease-out 0s;

transition:border-left .2s ease-out 0s, border-right .2s ease-out 0s

}

.cat_module:hover, .cat_module.active, .store_module:hover, .store_module.active, .restaurants_module:hover, .restaurants_module.active, .restaurant_module:hover, .testmonial_module:hover, .press_module:hover {

	border-left:5px solid #ffa100;

	border-right:2px solid #ffa100

}

.store_module {

	border-right:2px solid #dcdcdc

}

.module_d {

	border-top:1px solid #dcdcdc;

	padding:20px 0 0 3%

}

.cat_module .module_d>a:first-child, .featured_offer .module_d>h4:first-child+a {

	margin:0 15px 10px 0

}

.cat_module p {

	margin-top:5px

}

.cat_module p strong {

	color:#ffa100

}

.cat_module .expand {

	padding-left:20px;

	position:relative;

	display:inline-block;

	width:110px;

	margin-top:10px

}

.cat_module .expand:after {

	position:absolute;

	top:0;

	left:0;

	width:16px;

	height:16px;

	content:"";

	background:url(../img/header_footer_v1.png) no-repeat -266px 0

}

.cat_module .collapse:after {

	background:url(../img/header_footer_v1.png) no-repeat -250px 0

}

.cat_module ul {

	display:none

}

.cat_module li:first-child {

	font-size:15px;

	line-height:30px;

	border-bottom:1px solid #eee;

	padding:0

}

.cat_module li:first-child a {

	color:#2066a1

}

.cat_module li {

	line-height:20px;

	padding:2px 0 15px 0

}

.cat_module li p {

	margin:0

}

.cat_module li span strong {

	color:#ffa100

}

.featured_offer {

	border-left:5px solid #2066a1;

	border-right:2px solid #2066a1

}

.featured_offer .module_d {

	padding-top:0

}

.featured_offer h4 {

	font-size:14px;

	line-height:36px;

	color:#2066a1

}

.store_module:first-child .module_d, .press_module:first-child .module_d {

	border-top:0

}

.store_h .store_logo {

	border-right:1px solid #d6d6d6;

	padding-right:12px;

	margin-right:15px

}

.store_h .s_logo {

	margin-left:277px

}

.store_h .store_hd {

	font-size:28px;

	line-height:35px;

	text-align:center;

	color:#000;

	padding-bottom:25px

}

.store_h .store_hd h1 {

	display:inline-block;

	font-weight:normal;

	font-size:28px;

	line-height:35px;

	color:#000

}

.store_h .store_hd span {

	color:#fe8b03

}

.store_h .product_store_hd {

	font-size:28px;

	line-height:35px;

	color:#000

}

.store_h .product_store_hd h1 {

	display:inline-block;

	font-weight:normal;

	font-size:28px;

	line-height:35px;

	color:#000

}

.store_h .product_store_hd p {

	margin:0

}

.store_h p.about_product {

	width:100%

}

.store_h p {

	font-size:15px;

	line-height:22px;

	margin:10px 0;

	width:75%

}

.store_h a {

	font-size:12px

}

.store_h .about_store {

	padding:0;

	width:400px

}

.store_h .store_short_des {

	margin:0

}

.store_h .about_store p {

	margin:0;

	font-size:12px;

	width:100%

}

.store_h .product_detail {

	width:71.5%

}

.store_h .product_detail span {

	color:#ffa100

}

.store_h .product_detail .price {

	line-height:28px

}

.store_h .product_detail .price span.cut_rate {

	text-decoration:line-through;

	color:#979797

}

.store_h .product_detail .price span.rate {

	font-size:20px

}

.store_h .product_detail a {

	font-size:16px;

	text-decoration:none

}

.store_h .product_detail .rating a {

	margin-top:7px

}

.store_h .rest_pic {

	margin-right:15px

}

.store_h h1 {

	font-size:24px;

	color:#242424;

	line-height:30px;

	font-weight:bold

}

.product_share {

	width:230px;

	overflow:hidden

}

.product_share li {

	float:left;

	padding-left:5px;

	width:50px

}

.product_share li.t {

	width:60px

}

.product_share li .refer_ico {

	display:block;

	width:50px;

	height:60px;

	background:url(../img/sidebar.png) no-repeat -190px 0

}

.store_module_d_1 {

	width:85%

}

.store_module p {

	color:#7b7979;

	width:100%;

	margin-bottom:15px

}

.store_module p.cash {

	width:75%;

	padding-right:25%

}

.store_module p.offer_hd {

	font-size:20px;

	line-height:20px;

	color:#000;

	margin:0;

	display:block;

	height:0

}

.store_module p.offer_hd strong {

	font-weight:normal

}

.store_module .expires {

	font-size:12px;

	color:#ff1a35;

	padding-left:16px

}

.store_module .expires:before {

	content:"";

	position:absolute;

	top:4px;

	left:0;

	width:12px;

	height:12px;

	background:url(../img/header_footer_v1.png) no-repeat -244px -117px

}

.store_module .expires_hot {

	font-size:12px;

	color:#ff1a35;

	line-height:36px;

	padding-left:16px

}

.store_module .expires_hot:before {

	content:"";

	position:absolute;

	top:12px;

	left:0;

	width:12px;

	height:12px;

	background:url(../img/header_footer_v1.png) no-repeat -244px -117px

}

.store_module .c_code, .store_module .coupon_code {

	font-size:12px;

	line-height:28px;

	margin-left:10px;

	border:1px dashed #ffa100;

	display:inline-block;

	width:215px;

	text-align:center

}

.store_module .c_code {

	color:#ffa100

}

.store_module .coupon_code {

	color:#000;

	display:none

}

.store_module .button {

	padding:0 10px

}

.store_module p a {

	color:#444;

	font-size:15px;

	line-height:20px

}

.store_module p.other_offer a {

	font-size:12px

}

.store_module p.other_offer a strong {

	color:#ffa100

}

.store_module li {

	float:left;

	line-height:36px;

	color:#7b7979;

	font-size:11px;

	padding:0 10px 0 0;

	position:relative

}

.store_module li a {

	color:#7b7979;

	font-size:11px;

	line-height:18px;

	position:relative

}

.store_module li a.store_tool_tip {

	padding-left:22px

}

.store_module li a.terms_tool_tip {

	padding-left:20px

}

.store_module li a.store_tool_tip:before, .store_module li a.terms_tool_tip:before {

	content:"";

	position:absolute;

	left:0

}

.store_module li a.store_tool_tip:before {

	top:-2px;

	background:url(../img/header_footer_v1.png) no-repeat -19px 0;

	width:19px;

	height:16px

}

.store_module li a.terms_tool_tip:before {

	top:0;

	background:url(../img/header_footer_v1.png) no-repeat -244px -104px;

	width:13px;

	height:13px

}

.store_module .exclusive {

	width:17px;

	background:#ffa100;

	color:#fff;

	font-size:10px;

	height:100%;

	position:absolute;

	top:0;

	right:-2px

}

.store_module .exclusive span {

	display:inline-block;

	left:-41px;

	position:absolute;

	top:45px;

	height:17px;

	width:100px;

	line-height:17px;

	-webkit-transform:rotate(90deg);

	-moz-transform:rotate(90deg);

	-ms-transform:rotate(90deg);

	-o-transform:rotate(90deg);

	transform:rotate(90deg)

}

.store_module li .terms_down, .terms_up {

	padding-right:15px

}

.store_module li .terms_down:after, .store_module li .terms_up:after {

	position:absolute;

	top:4px;

	right:0;

	content:"";

	width:8px;

	height:5px;

	background:url(../img/header_footer_v1.png) no-repeat 0 0

}

.store_module li .terms_down:after {

	background-position:-104px -32px

}

.store_module li .terms_up:after {

	background-position:-104px -27px

}

.store_module ul.store_trems {

	padding-bottom:10px;

	display:none

}

.store_module ul.store_trems li {

	float:left;

	width:100%;

	padding:0;

	line-height:20px

}

.store_module ul.store_trems li:first-child {

	font-size:15px;

	line-height:34px

}

.store_question h3 {

	font-size:18px;

	color:#666;

	font-weight:bold;

	line-height:50px

}

.store_question ul {

	padding:0 18px 0 18px

}

.store_question li {

	list-style:square;

	line-height:20px;

	padding-bottom:10px

}

.store_question li strong {

	font-size:13px;

	color:#000

.store_tool {

	background:#fff;

	display:none;

	padding-bottom:10px;

	position:absolute;

	width:290px;

	z-index:6;

	border:1px solid #ffa100;

	border-radius:3px;

	min-height:100px

}

.store_tool:after, .store_tool:before {

	content:"";

	height:0;

	width:0;

	position:absolute;

	border:8px solid;

	top:78px

}

.store_tool:before {

	border-color:rgba(255, 255, 255, 0);

	border-right-color:#ffa100;

	left:-17px

}

.store_tool:after {

	border-color:rgba(255, 255, 255, 0);

	border-right-color:#fff;

	left:-16px

}

.store_tool .store_tool_close {

	display:inline-block;

	width:16px;

	height:16px;

	position:absolute;

	top:10px;

	right:10px;

	background:url(../img/header_footer_v1.png) no-repeat -206px 0;

	text-indent:-9999px

}

.store_tool p {

	padding:10px;

	font-size:12px;

	color:#999

}

.store_tool ul {

	padding:10px 10px 0 10px

}

.store_tool ul li {

	padding-bottom:10px;

	font-size:12px;

	line-height:18px;

	color:#999;

	list-style:disc;

	margin-left:10px

}

.store_tool ul li:first-child {

	margin-left:0;

	list-style:none

}

.cashback_tool {

	background:#fff;

	display:none;

	padding-bottom:10px;

	position:absolute;

	width:290px;

	z-index:6;

	border:1px solid #ffa100;

	border-radius:3px;

	min-height:100px

}

.cashback_tool:after, .cashback_tool:before {

	content:"";

	height:0;

	width:0;

	position:absolute;

	border:8px solid;

	top:80px

}

.cashback_tool:before {

	border-color:rgba(255, 255, 255, 0);

	border-left-color:#ffa100;

	right:-17px

}

.cashback_tool:after {

	border-color:rgba(255, 255, 255, 0);

	border-left-color:#fff;

	right:-16px

}

.cashback_tool .store_tool_close {

	display:inline-block;

	width:16px;

	height:16px;

	position:absolute;

	top:10px;

	right:10px;

	background:url(../img/header_footer_v1.png) no-repeat -206px 0;

	text-indent:-9999px

}

.cashback_tool ul {

	padding:10px 10px 0 10px

}

.cashback_tool ul li {

	padding-bottom:10px;

	font-size:12px;

	line-height:18px;

	color:#999;

	list-style:disc;

	margin-left:10px

}

.cashback_tool ul li:first-child {

	margin-left:0;

	list-style:none

}

.restaurant_h {

	margin:23px 0

}

.restaurant_h span {

	background:#ffa100;

	width:60px;

	height:60px;

	display:inline-block;

	margin-right:10px;

	position:relative

}

.restaurant_h span:after {

	background:url(../img/sidebar.png) no-repeat -190px -60px;

	width:47px;

	height:33px;

	position:absolute;

	top:14px;

	left:6px;

	content:""

}

.restaurant_h h1 {

	font-size:30px;

	color:#2066a1;

	line-height:60px

}

.restaurant_h p {

	font-size:16px;

	line-height:20px;

	margin-top:10px

}

.search_rest, .make_reser {

	background:#2066a1;

	padding:0 15px 15px

}

.search_rest h2, .make_reser h2 {

	line-height:56px;

	font-size:24px;

	color:#fff;

	position:relative

}

.search_rest h2:before {

	content:attr(data-powered);

	font-size:12px;

	font-style:italic;

	position:absolute;

	top:4px;

	right:0

}

.search_rest h2:after {

	background:url(../img/sidebar.png) no-repeat -200px -273px;

	content:"";

	position:absolute;

	top:47px;

	right:0;

	width:45px;

	height:18px

}

.search_rest li {

	float:left;

	padding-right:5px

}

.search_rest li a {

	background:#2cbcf0;

	border:1px solid #0ab2f0;

	border-radius:3px 3px 0 0;

	line-height:30px;

	float:left;

	color:#fff;

	padding:0 10px

}

.search_rest li a.active {

	background:#fff;

	border:1px solid #0b3f6b;

	color:#2066a1;

	position:relative;

	z-index:1

}

.search_rest li a.active:after {

	content:"";

	border-bottom:2px solid #fff;

	position:absolute;

	bottom:-2px;

	width:100%;

	left:0

}

.search_rest .search_rest_d {

	background:#fff;

	padding:10px;

	border:1px solid #0b3f6b;

	border-radius:0 0 3px 3px;

	display:none;

	height:103px

}

.search_rest .search_rest_d .jsonSuggestResults {

	left:11px!important;

	top:46px!important;

	width:610px!important;

	height:auto!important

}

.search_rest .search_rest_d .resultItem {

	width:590px

}

.search_rest form div:first-child select {

	margin-left:0

}

.search_rest select {

	width:184px;

	margin-left:30px;

	float:left

}

.search_rest input[type="button"], .search_rest input[type="submit"] {

	line-height:35px;

	float:right;

	width:184px;

	height:35px;

	margin-top:10px

}

.search_rest input[type="text"] {

	height:35px;

	line-height:35px

}

.search_rest img {

	margin:4px 99px 0 99px;

	float:left

}

.make_reser .make_reser_d {

	background:#fff;

	padding:10px;

	border:1px solid #0b3f6b;

	border-radius:0 0 3px 3px;

	height:103px

}

.make_reser input[type="submit"] {

	line-height:35px;

	width:169px;

	height:35px;

	margin-top:10px

}

.make_reser a {

	line-height:35px;

	width:169px;

	height:35px;

	margin-top:10px;

	padding:0;

	text-align:center

}

.make_reser input[type="text"] {

	width:90px

}

.make_reser select {

	width:170px

}

.make_reser_d span:first-child {

	margin-left:0

}

.make_reser span {

	padding-left:40px;

	position:relative;

	margin-left:31px

}

.make_reser span:after {

	content:"";

	position:absolute;

	top:0;

	left:0;

	width:26px;

	height:27px;

	background-image:url(../img/header_footer_v1.png)

}

.make_reser .date:after {

	background-position:-131px -16px

}

.make_reser .time:after {

	background-position:-157px -16px

}

.make_reser .person:after {

	background-position:-183px -16px

}

.find_rest {

	padding:10px 0 10px 3%

}

.find_rest a {

	width:80px;

	height:28px;

	border:1px solid #cbcbcb;

	color:#444;

	line-height:28px;

	text-align:center;

	display:inline-block;

	margin-right:10px

}

.find_rest a.active {

	color:#fff;

	background:#2066a1;

	border:1px solid #2066a1;

	position:relative

}

.find_rest a.active:after {

	background:url(../img/header_footer_v1.png) no-repeat -104px -37px;

	content:"";

	position:absolute;

	top:-1px;

	left:36px;

	width:10px;

	height:4px

}

.restaurants_module {

	position:relative

}

img.rest {

	border:3px solid #eee

}

.restaurants_module img:first-child {

	margin-right:15px

}

.rating a {

	background:url(../img/header_footer_v1.png) no-repeat -236px 0;

	display:block;

	float:left;

	width:14px;

	height:14px;

	margin:10px 1px 0 0

}

.rating a.active {

	background:url(../img/header_footer_v1.png) no-repeat -222px 0

}

.rating span {

	font-size:12px;

	color:#2066a1;

	margin-top:5px

}

.restaurants_module_d_1 {

	width:22.2%

}

.restaurants_module_d_2 {

	width:77.8%

}

.restaurants_module h2 {

	color:#2066a1;

	line-height:24px

}

.restaurants_module h2 a {

	font-size:15px

}

.restaurants_module li {

	font-size:15px;

	color:#444;

	line-height:20px;

	padding-bottom:5px

}

.restaurants_module li a {

	color:#444;

	font-size:14px;

	position:relative;

	padding-right:15px

}

.restaurants_module li a:after {

	content:"";

	position:absolute;

	top:6px;

	right:0;

	width:8px;

	height:5px;

	background:url(../img/header_footer_v1.png) no-repeat -183px -176px

}

.restaurants_module li a.active:after {

	background:url(../img/header_footer_v1.png) no-repeat -110px -170px

}

.restaurants_module li p {

	font-style:italic;

	display:none

}

.restaurant_d {

	display:none

}

.restaurant_module p {

	line-height:24px;

	margin-bottom:6px

}

.rest_menu {

	width:92%;

	margin:20px 0 20px 3%

}

.rest_menu li {

	font-size:14px;

	border-top:1px solid #dedede;

	padding:6px 0;

	line-height:20px

}

.rest_menu li:first-child {

	background:#2066a1;

	color:#fff;

	text-align:center;

	line-height:30px;

	font-size:15px;

	padding:0;

	border-top:0

}

.rest_menu li span:first-child {

	width:5%;

	text-align:center

}

.rest_menu li span:first-child+span {

	width:83%

}

.rest_menu li span:first-child+span+span {

	width:12%

}

.r_pagination {

	width:94%;

	padding:20px 0 20px 3%

}

.r_pagination p {

	line-height:30px

}

.restaurant_d h2 {

	font-size:15px;

	line-height:18px;

	color:#2066a1;

	margin-bottom:6px

}

.restaurant_d h2 span {

	font-size:12px;

	color:#666

}

.tab li {

	padding-right:3px

}

.tab li a {

	font-size:15px;

	color:#fff;

	height:38px;

	line-height:38px;

	padding:0 10px;

	background:#2066a1;

	border-radius:3px 3px 0 0;

	border:1px solid #2066a1

}

.tab li a.active {

	background:#fff;

	color:#2066a1;

	border:1px solid #dcdcdc;

	position:relative

}

.tab li a.active:after {

	content:"";

	position:absolute;

	left:0;

	bottom:-2px;

	border-bottom:2px solid #fff;

	width:100%

}

.hotdeal {

	width:90px

}

.frm label:first-child {

	margin-top:0

}

.frm label, .frm .expiry_date {

	font-size:14px;

	line-height:30px;

	padding-left:250px;

	position:relative;

	margin-top:17px

}

.frm label:before, .frm .expiry_date:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:0

}

.frm label .ifcs {

	position:absolute;

	left:0;

	top:19px;

	font-size:12px

}

.frm .expiry_date select {

	width:168px

}

.frm .check_box:before {

	left:270px

}

.frm .check_box {

	margin-top:0

}

.frm label.txt {

	line-height:18px;

	font-size:12px

}

.frm label.txt a {

	font-size:12px

}

.frm label strong {

	color:#2066a1

}

.frm label.line {

	border-top:1px solid #dedede;

	padding-top:17px

}

.frm label.line:before {

	top:17px

}

.frm input[type="text"], .frm input[type="password"], .frm select, .frm textarea, select[name="store"] {

	width:348px

}

.frm textarea {

	height:75px

}

.frm .ch_mes {

	color:#9e3023;

	font-size:12px;

	line-height:18px

}

.total_earn {

	width:35%;

	margin-top:15px

}

.total_earn p {

	font-size:14px;

	color:#444;

	line-height:24px;

	padding:10px

}

.myaccount h1 {

	font-size:30px;

	color:#2066a1;

	line-height:110px

}

.myaccount h4 {

	font-size:24px;

	color:#2066a1;

	line-height:60px

}

.settings_right {

	width:73%

}

.settings_left {

	width:27%;

	margin-top:122px

}

.settings_left li:first-child a {

	border-top:1px solid #dcdcdc

}

.settings_left a {

	font-size:16px;

	color:#444;

	line-height:47px;

	border-bottom:1px solid #dcdcdc;

	width:185px;

	display:block;

	border-left:5px solid #fff;

	text-indent:13px;

	position:relative

}

.settings_left a:hover {

	border-left:5px solid #f3ba10

}

.settings_left a.active {

	border-left:5px solid #dcdcdc;

	color:#2066a1

}

.settings_left a.active:after {

	background-position:-104px -16px

}

.settings_left a:after {

	content:"";

	position:absolute;

	top:18px;

	right:0;

	width:9px;

	height:11px;

	background:url(../img/header_footer_v1.png) no-repeat -113px -16px

}

.sign_sidebar {

	width:25.5%;

	margin-top:20px

}

.sign_sidebar .block {

	margin-bottom:20px

}

.sign_sidebar .block_inner {

	padding:10px

}

.sign_sidebar h2 {

	font-size:18px;

	line-height:22px

}

.sign_sidebar li {

	display:table;

	margin-top:15px

}

.sign_sidebar li span:first-child {

	width:130px

}

.sign_sidebar p {

	border-bottom:1px solid #dedede;

	padding:10px 0

}

.sign_sidebar p a {

	font-size:12px

}

.sign_sidebar p.first {

	padding-top:0

}

.sign_sidebar p.last {

	border-bottom:0

}

.sign_sidebar p strong {

	font-size:13px

}

.myaccount_d {

	width:74.5%

}

.rice_ticket {

	margin-left:15px

}

.myaccount_d>ul {

	margin-bottom:10px

}

.myaccount_d>ul>li:first-child {

	background:#f3f3f3

}

.myaccount_d>ul>li:first-child a {

	line-height:30px;

	font-size:14px;

	font-weight:bold;

	color:#444;

	margin-left:10px;

	position:relative

}

.myaccount_d>ul>li:first-child a:after {

	position:absolute;

	top:6px;

	right:-15px;

	content:"";

	background:url(../img/header_footer_v1.png) no-repeat -122px -16px;

	width:9px;

	height:4px

}

.myaccount_d>ul>li:first-child a.collapse:after {

	background-position:-122px -20px

}

.tooltip {

	margin-left:3px

}

.info {

	background:#fff;

	display:none;

	padding-bottom:10px;

	position:absolute;

	width:400px;

	z-index:9;

	border:1px solid #ffa100;

	border-radius:3px

}

.info:after, .info:before {

	content:"";

	height:0;

	width:0;

	position:absolute;

	border:8px solid;

	top:17px

}

.info:before {

	border-color:rgba(255, 255, 255, 0);

	border-left-color:#ffa100;

	right:-17px

}

.info:after {

	border-color:rgba(255, 255, 255, 0);

	border-left-color:#fff;

	right:-16px

}

.info p {

	padding:10px 10px 0;

	font-size:13px

}

.no_ticket li {

	width:100%!important

}

.no_ticket li p {

	padding:5px 0

}

.my_earnings ul, .refer_earnings ul, .cashback_ticket ul, .maiising_ticket ul, .referral_network ul {

	border-top:1px solid #dedede

}

.my_earnings li, .refer_earnings li, .cashback_ticket li, .maiising_ticket li, .referral_network li {

	float:left;

	font-size:13px;

	line-height:30px

}

.my_earnings li:first-child {

	width:16%;

	text-indent:10px

}

.my_earnings li:first-child+li {

	width:25%

}

.my_earnings li:first-child+li+li {

	width:15%

}

.my_earnings li:first-child+li+li+li {

	width:14%

}

.my_earnings li:first-child+li+li+li+li {

	width:30%

}

.refer_earnings li:first-child {

	width:16%;

	text-indent:10px

}

.refer_earnings li:first-child+li {

	width:40%

}

.refer_earnings li:first-child+li+li {

	width:25%

}

.refer_earnings li:first-child+li+li+li {

	width:19%

}

.cashback_ticket ul:first-child, .maiising_ticket ul:first-child, .referral_network ul:first-child {

	background:#f3f3f3;

	border-top:0

}

.cashback_ticket li:first-child {

	width:17%;

	text-indent:10px

}

.cashback_ticket li:first-child+li {

	width:33%

}

.cashback_ticket li:first-child+li+li {

	width:26%

}

.cashback_ticket li:first-child+li+li+li {

	width:14%

}

.cashback_ticket li:first-child+li+li+li+li {

	width:10%

}

.miss_accordion a.acco_hd {

	background:#2066a1;

	color:#fff;

	cursor:pointer;

	line-height:30px;

	text-indent:25px;

	position:relative;

	margin-top:5px

}

.miss_accordion a.acco_hd:before {

	position:absolute;

	content:"";

	top:10px;

	left:10px;

	background:url(../img/header_footer_v1.png) no-repeat -124px -27px;

	width:4px;

	height:8px

}

.miss_accordion a.active:before {

	top:12px;

	left:8px;

	background:url(../img/header_footer_v1.png) no-repeat -114px -36px;

	width:8px;

	height:4px

}

.miss_accordion div.c_result {

	padding:10px;

	display:none

}

.miss_accordion div.c_result p {

	margin:10px 0 0 0

}

.miss_accordion p {

	margin:0 0 15px 0

}

.maiising_ticket ul {

	padding:5px 0

}

.maiising_ticket li {

	line-height:20px;

	text-align:center

}

.maiising_ticket li:first-child {

	width:17%

}

.maiising_ticket li:first-child+li {

	width:24%

}

.maiising_ticket li:first-child+li+li {

	width:14%

}

.maiising_ticket li:first-child+li+li+li {

	width:14%

}

.maiising_ticket li:first-child+li+li+li+li {

	width:16%

}

.maiising_ticket li:first-child+li+li+li+li+li {

	width:15%

}

.maiising_ticket a {

	font-size:12px

}

.ticket_submit label input[type="text"], textarea.detail {

	width:140px

}

.ticket_submit label:after {

	content:attr(data-info);

	font-size:12px;

	line-height:18px;

	position:absolute;

	top:8px;

	left:400px;

	padding-left:25px;

	background:url(../img/warning.png) no-repeat 0 0;

	width:209px

}

.ticket_submit textarea {

	height:108px

}

.ticket_submit input[type=file] {

	border:1px solid #979797;

	border-radius:3px;

	height:29px;

	background:#fff

}

.ticket_submit .button {

	padding:4px 18px;

	margin-top:20px

}

.ticket_submit ul {

	padding:18px 18px 0 11px

}

.ticket_submit li {

	list-style:square;

	line-height:20px;

	padding-bottom:10px

}

.i_declare {

	margin-top:5px

}

.i_declare span {

	margin-top:2px

}

.miss_accordion .c_result .i_declare p {

	margin:0 0 0 18px

}

.referral_network li:first-child {

	width:20%;

	text-indent:10px

}

.referral_network li:first-child+li {

	width:50%

}

.referral_network li:first-child+li+li {

	width:30%

}

.refer p {

	width:72%;

	position:relative

}

.refer p:after {

	position:absolute;

	top:-39px;

	right:-224px;

	content:"";

	width:174px;

	height:141px;

	background:url(../img/refer.png) no-repeat -198px -51px

}

.refer h2 {

	color:#2066a1;

	font-size:20px;

	line-height:55px

}

.r_link input {

	margin:12px 0 12px 20px;

	width:330px

}

.r_link h2:first-child {

	padding-left:15px

}

.r_link h2:first-child+h2 {

	border-left:1px solid #c7c7c7

}

.invit {

	width:48.5%

}

.invit .block_inner {

	padding:0 15px 15px 15px

}

.invit .block_inner:first-child+.block_inner {

	margin-top:5px

}

.invit input[type="text"], .invit textarea {

	width:100%;

	margin-bottom:18px

}

.invit textarea {

	height:180px

}

.r_gmail, .r_yahoo, .r_hot {

	display:block;

	width:128px;

	height:51px;

	background:url(../img/refer.png) no-repeat 0 0

}

.r_yahoo {

	background-position:-128px 0;

	margin-left:143px

}

.r_hot {

	background-position:-256px 0;

	display:none

}

.r_facebook, .r_twiter, .r_google {

	display:block;

	width:198px;

	height:55px;

	background:url(../img/refer.png) no-repeat 0 0;

	margin:15px 0 0 107px

}

.r_facebook {

	background-position:0 -51px;

	margin-top:0

}

.r_twiter {

	background-position:0 -106px

}

.r_google {

	background-position:0 -161px

}

.contact label {

	font-size:14px;

	line-height:30px;

	padding-left:140px;

	position:relative;

	margin-top:17px

}

.contact label:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:0

}

.contact label.robot:before {

	width:140px;

	line-height:18px

}

.contact label.robot span {

	color:#0085ba;

	font-size:24px;

	margin-right:10px;

	line-height:36px

}

.contact label.robot input {

	width:100px

}

.contact input[type="text"] {

	width:298px

}

.contact select {

	width:298px

}

.contact textarea {

	width:298px;

	height:120px

}

.join .join_d .fb_join, .p_sign div:first-child+div .fb_join, .fb_acc .fb_join {

	display:block;

	margin:10px auto 50px auto;

	position:relative

}

.join .join_d .fb_join:before, .p_sign div:first-child+div .fb_join:before, .fb_acc .fb_join:before {

	content:"";

	position:absolute;

	background:#2066a1

}

.join .join_d .fb_join:after, .p_sign div:first-child+div .fb_join:after, .fb_acc .fb_join:after {

	background:#fff;

	font-size:18px;

	color:#2066a1;

	content:"OR";

	height:30px;

	line-height:30px;

	position:absolute;

	text-align:center

}

.join .join_d .fb_join {

	width:285px;

	height:42px;

	background:url(../img/join_v1.png) no-repeat -72px -34px

}

.join .join_d .fb_join:before {

	width:177px;

	height:1px;

	left:54px;

	bottom:-26px;

	background:#fff

}

.join .join_d .fb_join:after {

	background:#2066a1;

	color:#fff;

	left:120px;

	bottom:-40px;

	width:45px

}

.p_sign div:first-child+div .fb_join {

	width:289px;

	height:34px;

	background:url(../img/join_v1.png) no-repeat -72px -0px

}

.p_sign div:first-child+div .fb_join:before {

	width:257px;

	height:1px;

	left:16px;

	bottom:-26px

}

.p_sign div:first-child+div .fb_join:after {

	font-size:14px;

	left:122px;

	bottom:-40px;

	width:45px

}

.fb_acc .fb_join {

	width:289px;

	height:34px;

	background:url(../img/join_v1.png) no-repeat -72px -0px;

	margin-top:0

}

.fb_acc .fb_join:before {

	width:1px;

	height:290px;

	left:-87px;

	top:-150px

}

.fb_acc .fb_join:after {

	left:-110px;

	top:-40px;

	width:45px

}

.join aside {

	width:53%

}

.join aside h2 {

	font-size:24px;

	color:#2066a1;

	font-weight:bold;

	line-height:27px;

	padding-bottom:10px;

	border-bottom:1px solid #c7c7c7

}

.join .join_d {

	width:400px;

	background:#2066a1;

	border:1px solid #164b78;

	padding:0 20px 4px 20px

}

.join .join_d h2 {

	line-height:55px;

	font-size:24px;

	color:#fff;

	font-weight:bold;

	text-align:center

}

.join .join_d label {

	margin:30px 0 16px 0;

	position:relative

}

.join .join_d label:before {

	font-size:14px;

	color:#fff;

	line-height:26px;

	content:attr(data-name);

	position:absolute;

	top:-26px;

	left:0

}

.join .join_d label.robot span {

	font-size:24px;

	color:#0085ba;

	margin:0 10px 0 0;

	line-height:36px

}

.join .join_d label.robot input {

	width:110px;

	margin-top:2px

}

.join .join_d input[type="text"], .join .join_d input[type="password"] {

	border:1px solid #ccc;

	width:100%

}

.join .join_d .i_agree {

	color:#fff

}

.join .join_d .i_agree a {

	font-size:12px;

	color:#fff

}

.join .join_d .i_agree input[type="checkbox"] {

	margin:1px 5px 0 0

}

.join .join_d label .button {

	background:#ffa100;

	text-align:center;

	line-height:43px

}

.j_h_works {

	padding:15px 0

}

.j_h_works li {

	width:30%;

	text-align:center

}

.j_h_works li:first-child+li {

	width:40%

}

.j_h_works li:before {

	font-size:20px;

	color:#ffa100;

	position:absolute;

	top:0;

	left:16px;

	content:attr(data-number)

}

.j_h_works li:first-child+li:before {

	left:40px

}

.j_h_works li:after {

	content:"";

	width:24px;

	height:18px;

	position:absolute;

	left:0;

	top:21px;

	background:url(../img/join_v1.png) no-repeat -36px -83px

}

.j_h_works li:first-child:after {

	background:0

}

.j_h_works li:first-child+li+li:after {

	left:-22px

}

.j_h_works li i {

	width:52px;

	height:52px;

	display:inline-block;

	border:4px solid #d2d2d2;

	border-radius:50%

}

.j_h_works li i:after {

	content:"";

	position:absolute;

	background:url(../img/join_v1.png) no-repeat 0 0

}

.j_h_works li i.join:after {

	width:32px;

	height:31px;

	left:10px;

	top:12px;

	background-position:-75px -76px

}

.j_h_works li i.shop:after {

	width:36px;

	height:27px;

	left:8px;

	top:13px;

	background-position:-107px -76px

}

.j_h_works li i.get:after {

	width:35px;

	height:28px;

	left:8px;

	top:11px;

	background-position:-143px -76px

}

.j_reason li {

	font-size:20px;

	color:#444;

	line-height:36px;

	text-indent:48px;

	position:relative;

	margin-top:20px

}

.j_reason li:before {

	background:url(../img/join_v1.png) no-repeat 0 0;

	position:absolute;

	top:0;

	left:0;

	width:36px;

	height:36px;

	content:""

}

.j_reason li:first-child:before {

	background-position:0 0

}

.j_reason li:first-child+li:before {

	background-position:-36px 0

}

.j_reason li:first-child+li+li:before {

	background-position:0 -36px

}

.j_reason li:first-child+li+li+li:before {

	background-position:-36px -36px

}

.j_reason li:first-child+li+li+li+li:before {

	background-position:0 -72px

}

.brand_save li {

	width:110px;

	height:45px;

	display:block;

	background:url(../img/join_v1.png) no-repeat 0 0;

	margin:11px 15px 0 0

}

.brand_save li:first-child {

	background-position:-361px 0

}

.brand_save li:first-child+li {

	background-position:-471px 0

}

.brand_save li:first-child+li+li {

	background-position:-581px 0

}

.brand_save li:first-child+li+li+li {

	background-position:-691px 0

}

.brand_save li:first-child+li+li+li+li {

	background-position:-361px -45px

}

.brand_save li:first-child+li+li+li+li+li {

	background-position:-471px -45px

}

.brand_save li:first-child+li+li+li+li+li+li {

	background-position:-581px -45px

}

.brand_save li:first-child+li+li+li+li+li+li+li {

	background-position:-691px -45px

}

#colorbox, #cboxOverlay, #cboxWrapper {

	position:absolute;

	top:0;

	left:0;

	z-index:9999;

	overflow:hidden

}

#cboxWrapper {

	max-width:none

}

#cboxOverlay {

	position:fixed;

	width:100%;

	height:100%

}

#cboxMiddleLeft, #cboxBottomLeft {

	clear:left

}

#cboxContent {

	position:relative

}

#cboxLoadingOverlay, #cboxLoadingGraphic {

	position:absolute;

	top:0;

	left:0;

	width:100%;

	height:100%

}

.cboxIframe {

	width:100%;

	height:100%;

	display:block;

	border:0;

	background:#fff

}

#cboxOverlay {

	background:url(../img/overlay.png) repeat 0 0

}

#cboxTopLeft {

	width:25px;

	height:25px;

	background:url(../img/border1.png) no-repeat 0 0

}

#cboxTopCenter {

	height:25px;

	background:url(../img/border1.png) repeat-x 0 -50px

}

#cboxTopRight {

	width:25px;

	height:25px;

	background:url(../img/border1.png) no-repeat -25px 0

}

#cboxBottomLeft {

	width:25px;

	height:25px;

	background:url(../img/border1.png) no-repeat 0 -25px

}

#cboxBottomCenter {

	height:25px;

	background:url(../img/border1.png) repeat-x 0 -75px

}

#cboxBottomRight {

	width:25px;

	height:25px;

	background:url(../img/border1.png) no-repeat -25px -25px

}

#cboxMiddleLeft {

	width:25px;

	background:url(../img/border2.png) repeat-y 0 0

}

#cboxMiddleRight {

	width:25px;

	background:url(../img/border2.png) repeat-y -25px 0

}

#cboxContent {

	background:#fff;

	overflow:hidden

}

#cboxError {

	padding:50px;

	border:1px solid #ccc

}

#cboxTitle {

	position:absolute;

	bottom:0;

	left:0;

	text-align:center;

	width:100%;

	color:#999

}

#cboxCurrent {

	position:absolute;

	bottom:0;

	left:100px;

	color:#999

}

#cboxLoadingOverlay {

	background:#fff url(../img/loading.gif) no-repeat center center

}

#cboxClose {

	display:inline-block;

	width:16px;

	height:16px;

	position:absolute;

	top:0;

	right:0;

	background:url(../img/header_footer_v1.png) no-repeat -206px 0;

	text-indent:-9999px

}

.p_sign {

	width:786px;

	padding:10px

}

.p_sign h1, .p_sign h2 {

	color:#2066a1;

	font-size:24px;

	line-height:30px

}

.p_sign h2 {

	font-size:20px;

	position:relative;

	line-height:59px;

	margin-bottom:36px

}

.p_sign h2 span {

	color:#444

}

.p_sign h2:before {

	position:absolute;

	top:59px;

	left:0;

	content:"";

	width:766px;

	height:33px;

	background:url(../img/join_v1.png) no-repeat 0 -108px

}

.p_sign div:first-child {

	width:396px

}

.p_sign div:first-child .button {

	background:#ffa100;

	padding:0 50px

}

.p_sign div:first-child+div {

	width:369px;

	padding:0 30px 20px 50px;

	border-left:1px solid #c1c1c1;

	min-height:335px

}

.p_sign div:first-child+div .button {

	padding:4px 27px

}

.p_sign div:first-child+div div {

	margin:10px 0 12px 0

}

.p_sign div:first-child+div div span {

	font-size:14px;

	padding-top:7px

}

.p_sign div:first-child+div+div {

	border-top:1px solid #c1c1c1

}

.p_sign input[type="text"], .p_sign input[type="password"] {

	width:100%;

	margin-bottom:10px

}

.p_sign input[type="checkbox"] {

	margin:2px 3px 0 0

}

.p_sign li {

	font-size:16px;

	line-height:19px;

	padding:0 0 0 40px;

	position:relative

}

.p_sign li:before {

	position:absolute;

	top:4px;

	left:0;

	content:"";

	width:19px;

	height:11px;

	background:url(../img/join_v1.png) no-repeat -36px -72px

}

.popup {

	padding:10px

}

.popup .header {

	border-bottom:1px solid #e6e6e6;

	padding-bottom:10px

}

.popup h2, .make_reser_p h2 {

	font-size:20px;

	color:#2066a1;

	line-height:50px

}

.popup .button {

	margin-top:10px

}

.popup .message {

	margin-top:15px

}

.forgot_ps {

	width:350px

}

.forgot_ps input {

	margin-top:10px

}

.f_pass_e h2, .f_pass_e p {

	color:#9e3023

}

.f_pass_s h2, .f_pass_s p {

	color:#4f8924

}

.voucher_p p {

	margin-top:15px

}

.voucher_p .block_inner {

	padding:0 20px 5px 20px

}

.voucher_p input[type="text"] {

	color:#2066a1;

	border:1px solid #2066a1;

	text-align:center;

	font-size:17px;

	font-weight:bold

}

.voucher_p .block_inner p {

	font-size:16px;

	color:#2066a1;

	margin:15px 0

}

.voucher_p .block_inner p span {

	color:#444;

	font-size:14px

}

.recommend label {

	font-size:14px;

	line-height:30px;

	padding-left:140px;

	position:relative;

	margin-top:13px

}

.recommend label.last {

	margin-top:0

}

.recommend label:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:0

}

.recommend label textarea {

	height:130px

}

.view_ticket {

	height:425px;

	overflow-x:hidden;

	overflow-y:auto;

	padding-right:10px

}

.view_ticket label {

	font-size:12px;

	line-height:30px;

	padding-left:170px;

	position:relative;

	border-top:1px solid #e6e6e6

}

.view_ticket label:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:0

}

.view_ticket label textarea {

	height:100px;

	margin-top:7px

}

.view_ticket label span {

	padding:7px 0;

	line-height:18px

}

.testimonial_p {

	background:#2066a1;

	padding:0 10px 10px;

	width:380px;

	height:331px;

	margin-top:10px

}

.testimonial_p h3 {

	line-height:40px;

	font-size:20px;

	color:#fff

}

.testimonial_p>div, .restaurant_r_p>div {

	background:#fff;

	padding:10px

}

.testimonial_p .recent {

	height:271px;

	overflow-x:hidden;

	overflow-y:auto

}

.testimonial_p .recent p {

	border-bottom:1px solid #e6e6e6;

	padding:10px 0

}

.testimonial_p .recent span {

	text-align:right;

	color:#2066a1

}

.testimonial_p textarea {

	height:70px

}

.restaurant_r_p {

	background:#2066a1;

	padding:0 10px 10px;

	width:380px;

	height:198px

}

.restaurant_r_p h3 {

	line-height:40px;

	font-size:20px;

	color:#fff

}

.restaurant_r_p textarea {

	height:137px

}

.rate input {

	margin-top:2px

}

.rate .txt {

	display:inline-block;

	width:160px;

	line-height:18px;

	text-indent:10px

}

.rate label:first-child {

	margin:0

}

.rate label {

	margin-top:10px

}

.rate a {

	background:url(../img/header_footer_v1.png) no-repeat -236px 0;

	display:inline-block;

	width:14px;

	height:14px;

	margin-right:2px

}

.rate a.active {

	background:url(../img/header_footer_v1.png) no-repeat -222px 0

}

.make_reser_p {

	padding:20px 0 0 10px;

	position:relative;

	height:525px

}

.make_reser_p h2 {

	margin-top:-15px

}

.make_reser_p .make_reser {

	background:0;

	padding:0 10px 0 0;

	height:475px;

	overflow-y:auto;

	overflow-x:hidden

}

.make_reser_p .make_reser_d {

	border:0;

	padding:10px 0 0 0;

	height:auto

}

.make_reser_p .make_reser select {

	width:155px

}

.make_reser_f p:first-child+label+label {

	margin-left:14px

}

.make_reser_p label {

	font-size:14px;

	line-height:30px;

	position:relative;

	width:185px;

	margin-top:40px

}

.make_reser_p label:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:-30px

}

.make_reser_p label input[type="text"] {

	width:185px;

	padding:0

}

.make_reser_p input[type="submit"] {

	width:auto

}

.make_reser_p li p {

	font-size:18px;

	color:#383839;

	font-weight:bold;

	margin:10px 0

}

.make_reser_p li a {

	color:#000;

	font-size:12px;

	background:#ffa100;

	border:1px solid #ffa100;

	width:90px;

	line-height:28px;

	text-align:center;

	display:block;

	margin:5px 5px 0 0;

	height:28px

}

.make_reser_p li a:hover, .make_reser_p li a.active {

	background:#fff

}

i.p_do {

	background:#000;

	height:38px;

	position:absolute;

	bottom:0;

	left:0;

	width:620px

}

i.p_do:before {

	position:absolute;

	font-size:12px;

	font-weight:bold;

	color:#fff;

	content:attr(data-name);

	top:5px;

	right:83px;

	font-style:normal;

	line-height:38px

}

i.p_do:after {

	position:absolute;

	content:"";

	top:10px;

	right:30px;

	background:url(../img/sidebar.png) no-repeat -200px -273px;

	width:45px;

	height:18px

}

.verification {

	position:relative;

	height:180px

}

.verification i.p_do {

	margin-top:30px

}

.booking {

	border:1px solid #979797;

	padding:7px 15px 8px;

	margin:10px 40px 0 0

}

.faq h2 {

	line-height:54px;

	color:#444;

	font-size:20px

}

.faq li {

	font-size:14px;

	color:#444;

	line-height:18px

}

.faq a {

	background:#2066a1;

	color:#fff;

	cursor:pointer;

	line-height:30px;

	text-indent:25px;

	position:relative;

	margin-top:5px

}

.faq a:before {

	position:absolute;

	content:"";

	top:10px;

	left:10px;

	background:url(../img/header_footer_v1.png) no-repeat -124px -27px;

	width:4px;

	height:8px

}

.faq a.active:before {

	top:12px;

	left:8px;

	background:url(../img/header_footer_v1.png) no-repeat -114px -36px;

	width:8px;

	height:4px

}

.faq div {

	padding:10px;

	display:none

}

.testimonial .button {

	margin-top:20px

}

.testmonial_module .rate {

	margin-top:7px

}

.testmonial_module h2 {

	font-size:16px;

	color:#2066a1;

	line-height:35px

}

.testmonial_module p {

	padding-bottom:20px

}

.press_module p {

	width:80%;

	font-size:12px;

	line-height:18px;

	padding-bottom:7px

}

.press_module p strong {

	font-size:14px

}

.press_module p a {

	font-size:12px

}

.intermediary {

	margin-top:100px;

	text-align:center

}

.intermediary h1 {

	font-size:26px;

	font-weight:bold;

	line-height:80px

}

.intermediary h2 {

	font-size:21px;

	line-height:26px

}

.inter_h {

	margin:30px auto 0;

	text-align:left

}

.inter_h img {

	margin-right:25px

}

.inter_h img:first-child {

	margin-top:18px

}

.inter_h img:first-child+img {

	margin-top:23px

}

.inter_h img:first-child+img+img {

	margin-right:0

}

.inter_h span {

	line-height:60px;

	float:left

}

.fb_acc h2 {

	line-height:45px;

	margin-bottom:5px;

	color:#2066a1

}

.fb_acc div {

	width:50%

}

.fb_acc .fb_conflict {

	width:100%

}

.fb_acc p {

	margin-bottom:10px

}

.fb_acc label {

	margin-bottom:13px

}

.fb_acc input {

	width:300px

}

.fb_acc .button {

	margin-top:13px;

	padding:4px 0

}

.fb_acc div:first-child+div {

	text-align:center;

	margin-top:114px;

	width:40%

}

.c_disable h2 {

	font-size:18px;

	line-height:24px

}

.c_disable p, .c_disable li, .c_disable a {

	font-size:13px

}

.c_disable p {

	margin:20px 0

}

.c_disable .m_a {

	display:none

}

.c_disable li {

	line-height:20px;

	margin-bottom:13px;

	padding-left:60px;

	position:relative

}

.m_q:after {

	position:absolute;

	top:0;

	left:16px;

	content:"";

	width:26px;

	height:26px;

	background-image:url(../img/header_footer_v1.png)

}

.b_c:after {

	background-position:0 -16px

}

.b_f:after {

	background-position:-26px -16px

}

.b_i:after {

	background-position:-52px -16px

}

.b_s:after {

	background-position:-78px -16px

}

.c_enable a, .save_b a {

	display:block;

	width:120px;

	height:60px

}

.c_enable a {

	background-image:url(../img/cookie_enable.png);

	margin:12px 14px 0 0

}

.c_enable .l_1, .save_b .l_1 {

	background-position:0 0

}

.c_enable .l_2, .save_b .l_2 {

	background-position:-120px 0

}

.c_enable .l_3, .save_b .l_3 {

	background-position:-240px 0

}

.c_enable .l_4, .save_b .l_4 {

	background-position:-360px 0

}

.c_enable .l_5, .save_b .l_5 {

	background-position:-480px 0

}

.c_enable .l_6, .save_b .l_6 {

	background-position:-600px 0

}

.c_enable .l_7, .save_b .l_7 {

	background-position:-720px 0

}

.c_enable .l_8 {

	background-position:0 -60px

}

.c_enable .l_9 {

	background-position:-120px -60px

}

.c_enable .l_10 {

	background-position:-240px -60px

}

.c_enable .l_11 {

	background-position:-360px -60px

}

.c_enable .l_12 {

	background-position:-480px -60px

}

.c_enable .l_13 {

	background-position:-600px -60px

}

.c_enable .l_14 {

	background-position:-720px -60px

}

.how_w h2 {

	font-size:22px;

	line-height:24px

}

.how_w h3 {

	font-size:24px;

	line-height:24px;

	color:#2066a1;

	padding-top:20px

}

.how_w h4 {

	font-size:20px;

	font-weight:bold

}

.how_w aside {

	width:25.5%

}

.how_w aside a {

	background:#f4f4f4;

	border-bottom:1px solid #fff;

	color:#444;

	line-height:44px;

	display:block;

	text-indent:10px

}

.how_w aside a span {

	display:inline-block;

	position:absolute;

	top:0;

	right:0;

	width:49px;

	height:44px;

	background:#fff

}

.how_w aside a.active {

	background:#828282;

	color:#fff

}

.how_w aside a.active span {

	background:url(../img/how_it_works_v1.png) no-repeat -300px -120px #828282

}

.save_b a {

	background:url(../img/how_it_works_v1.png);

	margin-right:14px

}

.how_w section {

	width:74.5%;

	display:none;

	padding:0 10px

}

.how_w section li {

	position:relative;

	padding:30px 0 30px 70px;

	border-top:1px solid #dedede

}

.how_w section li:first-child {

	border-top:0

}

.how_w section li:before {

	position:absolute;

	top:20px;

	left:4px;

	font-size:54px;

	color:#9ec649;

	content:attr(data-number)

}

.how_w section li:after {

	position:absolute;

	top:20px;

	right:0;

	content:"";

	width:60px;

	height:60px;

	background:url(../img/how_it_works_v1.png) no-repeat 0 0

}

.how_w section li.ico_1:after {

	background-position:0 -60px

}

.how_w section li.ico_2:after {

	background-position:-60px -60px

}

.how_w section li.ico_3:after {

	background-position:-120px -60px

}

.how_w section li.ico_4:after {

	background-position:-180px -60px

}

.how_w section li.ico_5:after {

	background-position:-240px -60px

}

.how_w section li.ico_6:after {

	background-position:-300px -60px

}

.how_w section li.ico_7:after {

	background-position:-360px -60px

}

.how_w section li.ico_8:after {

	background-position:-420px -60px

}

.how_w section li.ico_9:after {

	background-position:-480px -60px

}

.how_w section li.ico_10:after {

	background-position:-540px -60px

}

.how_w section li.ico_11:after {

	background-position:-600px -60px

}

.how_w section li.ico_12:after {

	background-position:-660px -60px

}

.how_w section li.ico_13:after {

	background-position:-720px -60px

}

.how_w section li.ico_14:after {

	background-position:-780px -60px

}

.how_w section li.ico_15:after {

	background-position:0 -120px

}

.how_w section li.ico_16:after {

	background-position:-60px -120px

}

.how_w section li.ico_17:after {

	background-position:-120px -120px

}

.how_w section li.ico_18:after {

	background-position:-180px -120px

}

.how_w section li.ico_19:after {

	background-position:-240px -120px

}

.how_w section li p {

	color:#666;

	font-size:16px;

	line-height:22px;

	margin-top:4px

}

.how_w section li i {

	font-size:13px;

	line-height:18px

}

ul.minical {

	position:absolute;

	display:none;

	color:#444;

	background:#fff;

	border:1px solid #dedede;

	width:198px;

	box-shadow:0 0 10px rgba(0, 0, 0, 0.2);

	z-index:9;

	font-size:14px

}

ul.minical li {

	padding:1px;

	float:left

}

ul.minical li article {

	float:left;

	width:100%

}

ul.minical li header, ul.minical li section {

	width:100%

}

ul.minical li header {

	background:#f3ba10;

	color:#fff;

	border:1px solid #e0ac12;

	position:relative;

	height:30px

}

ul.minical li header h1 {

	color:#fff;

	font-size:14px;

	font-weight:bold;

	line-height:30px;

	text-align:center

}

ul.minical li header a {

	width:20px;

	height:20px;

	position:relative;

	display:block;

	position:absolute;

	top:5px;

	left:5px

}

ul.minical li header a:after {

	position:absolute;

	background:url(../img/header_footer_v1.png) no-repeat -112px -27px;

	top:6px;

	left:7px;

	width:6px;

	height:9px;

	content:""

}

ul.minical li header a.minical_next {

	left:auto;

	right:5px

}

ul.minical li header a.minical_next:after {

	background-position:-118px -27px

}

ul.minical li section table {

	width:100%;

	color:#444;

	font-size:12px;

	border-collapse:collapse

}

ul.minical li section thead th {

	padding:5px

}

ul.minical li section tbody td {

	padding:1px;

	text-align:right

}

ul.minical li section tbody td a {

	display:block;

	border:1px solid #dedede;

	color:#444;

	padding:1px 4px

}

ul.minical td.minical_highlighted a {

	border-color:#f3ba10;

	background:#f3ba10;

	color:#fff

}

ul.minical td.minical_selected a {

	border-color:#f3ba10;

	background:#f3ba10;

	color:#fff

}

ul.minical td.minical_today a {

	border-color:#2066a1;

	background:#2066a1;

	color:#fff

}

ul.minical td.minical_past_month a, ul.minical td.minical_future_month a {

	color:#b1b5b7

}

.inviter form>ul {

	margin-top:10px

}

.inviter ul li:first-child {

	width:30px

}

.inviter ul li:first-child+li {

	width:226px

}

.inviter ul li:first-child+li+li {

	width:290px

}

.inviter ul li {

	line-height:24px

}

.inviter div.mails_list {

	height:240px;

	overflow-x:hidden;

	overflow-y:auto

}

.inviter input[type="checkbox"] {

	margin-top:4px

}

.inviter input[type="text"] {

	width:100px

}

.inviter input[type="submit"] {

	padding:4px 25px

}

.inviter label {

	font-size:14px;

	line-height:33px;

	padding-left:230px;

	position:relative;

	margin-top:17px

}

.inviter label:before {

	content:attr(data-name);

	position:absolute;

	left:0;

	top:0;

	line-height:31px

}

.inviter label span {

	color:#0085ba;

	font-size:24px;

	margin-right:10px;

	line-height:36px

}

.error_b {

	border:1px solid #dd4b39!important

}

em {

	font-size:12px;

	font-style:normal;

	line-height:18px

}

.hint {

	color:#2066a1

}

.correct {

	color:#529b1b

}

.error {

	color:#b00

}

.success {

	color:#529b1b;

	padding:5px;

	font-size:14px;

	line-height:20px;

	background:#eaf9df;

	border:1px solid #529b1b

}

.failed {

	color:#b00;

	padding:5px;

	font-size:14px;

	line-height:20px;

	background:#fce7e7;

	border:1px solid #b00

}

.contact em {

	position:absolute;

	top:7px;

	left:445px

}

.contact .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px

}

.contact .correct {

	width:10px;

	height:9px;

	background:url(../img/correct.png) no-repeat 0 0;

	top:11px

}

.contact .success {

	margin:10px 0 0 0

}

.contact .failed {

	margin:10px 0 0 0

}

.join em {

	position:absolute;

	top:33px;

	left:0

}

.join em.error {

	color:#f04f4f

}

.join .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px

}

.join .correct {

	width:10px;

	height:9px;

	background:url(../img/correct.png) no-repeat 0 0;

	top:10px;

	left:362px

}

.join .i_agree em {

	left:0;

	top:23px;

	width:300px

}

.join_d .failed {

	top:100px;

	left:17px

}

.join .hint {

	color:#ffa100

}

.p_sign .hint {

	margin:10px 0;

	color:#2066a1;

	display:none

}

.p_sign .error {

	margin-bottom:10px;

	display:none

}

.testimonial_popup em {

	margin-top:10px

}

.invit em {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	margin-bottom:10px

}

.view_ticket em {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	margin-top:10px

}

.settings_right .success, .settings_right .failed {

	margin:10px 0;

	width:586px

}

.settings_right .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	float:left;

	margin-top:5px;

	width:333px

}

.settings_right .hint {

	float:left;

	margin-top:5px;

	width:333px

}

.settings_right .correct {

	width:10px;

	height:9px;

	background:url(../img/correct.png) no-repeat 0 0;

	position:absolute;

	top:11px;

	left:607px

}

#paymentform .failed {

	margin:10px 0;

	width:551px

}

#paymentform .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	float:left;

	margin-top:5px;

	width:333px

}

#paymentform .hint {

	float:left;

	margin-top:5px;

	width:333px

}

#paymentform .correct {

	width:10px;

	height:9px;

	background:url(../img/correct.png) no-repeat 0 0;

	position:absolute;

	top:11px;

	left:607px

}

.restaurant_r_popup em {

	margin-bottom:10px

}

#restaurant_booking_form .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	float:left;

	width:500px

}

.inviter .success, .inviter .failed {

	margin-top:3px;

	width:550px

}

.inviter .error_d {

	margin:10px 0

}

.inviter .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px;

	width:550px;

	margin:10px 0 0

}

.fb_acc .error {

	background:url(../img/error.png) no-repeat 0 4px;

	padding-left:15px

}

.fb_acc em {

	width:400px

}

.feature_tv {

	font-size:24px;

	line-height:80px

}

.product_feed ul {

	width:679px;

	margin-top:10px

}

.product_feed li {

	width:33.3%;

	padding:0 5px 5px 0

}

.product_list {

	border:1px solid #dedede;

	padding:10px;

	background:#fff;

	margin-bottom:1px;

-webkit-transition:all .3s ease-in 0s;

-moz-transition:all .3s ease-in 0s;

-ms-transition:all .3s ease-in 0s;

-o-transition:all .3s ease-in 0s;

transition:all .3s ease-in 0s

}

.product_list:hover {

	border:1px solid #aeaeae;

	box-shadow:0 0 2px #aeaeae

}

.product_list .cut_off {

	text-decoration:line-through

}

.product_list .off {

	color:#ffa100

}

.product_list .amt {

	color:#ffa100

}

.product_list p {

	margin-top:6px

}

.noUi-target, .noUi-target * {

	-webkit-touch-callout:none;

	-webkit-user-select:none;

	-ms-touch-action:none;

	-ms-user-select:none;

	-moz-user-select:none;

	-moz-box-sizing:border-box;

	box-sizing:border-box

}

.noUi-base {

	width:100%;

	height:100%;

	position:relative

}

.noUi-origin {

	position:absolute;

	right:0;

	top:0;

	left:0;

	bottom:0

}

.noUi-handle {

	position:relative;

	z-index:1

}

.noUi-stacking .noUi-handle {

	z-index:10

}

.noUi-state-tap .noUi-origin {

-webkit-transition:left .3s, top .3s;

transition:left .3s, top .3s

}

.noUi-state-drag * {

	cursor:inherit!important

}

.noUi-horizontal {

	height:15px

}

.noUi-horizontal .noUi-handle {

	width:25px;

	height:25px;

	left:-17px;

	top:-6px

}

.noUi-horizontal.noUi-extended {

	padding:0 15px

}

.noUi-horizontal.noUi-extended .noUi-origin {

	right:-15px

}

.noUi-vertical {

	width:18px

}

.noUi-vertical .noUi-handle {

	width:28px;

	height:34px;

	left:-6px;

	top:-17px

}

.noUi-vertical.noUi-extended {

	padding:15px 0

}

.noUi-vertical.noUi-extended .noUi-origin {

	bottom:-15px

}

.noUi-background {

	background:#fafafa;

	box-shadow:inset 0 1px 1px #f0f0f0

}

.noUi-connect {

	background:#3fb8af;

	box-shadow:inset 0 0 3px rgba(51, 51, 51, 0.45);

	-webkit-transition:background 450ms;

	transition:background 450ms

}

.noUi-origin {

	border-radius:2px

}

.noUi-target {

	border-radius:4px;

	border:1px solid #d3d3d3;

	box-shadow:inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #BBB

}

.noUi-target.noUi-connect {

	box-shadow:inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB

}

.noUi-dragable {

	cursor:w-resize

}

.noUi-vertical .noUi-dragable {

	cursor:n-resize

}

.noUi-handle {

	border:1px solid #2066a1;

	border-radius:3px;

	background:#2066a1;

	cursor:pointer

}

.noUi-active {

	background:#ffa100;

	border:1px solid #ffa100

}

.noUi-handle:before, .noUi-handle:after {

	content:"";

	display:block;

	position:absolute;

	height:14px;

	width:1px;

	background:#e8e7e6;

	left:9px;

	top:4px

}

.noUi-handle:after {

	left:12px

}

.noUi-vertical .noUi-handle:before, .noUi-vertical .noUi-handle:after {

	width:14px;

	height:1px;

	left:6px;

	top:14px

}

.noUi-vertical .noUi-handle:after {

	top:17px

}

.f_slider {

	padding:0 0 30px 0

}

.flex-viewport {

	max-height:2000px;

	-webkit-transition:all 1s ease;

	-moz-transition:all 1s ease;

	transition:all 1s ease

}

.flex-viewport li {

	margin-right:5px

}

.loading .flex-viewport {

	max-height:300px

}

.flex-direction-nav a {

	background-image:url(../img/header_footer_v1.png);

	display:block;

	height:56px;

	width:30px;

	cursor:pointer;

	position:absolute;

	top:45%;

	z-index:6;

	text-indent:-9999px

}

.flex-direction-nav .flex-next {

	right:-50px;

	background-position:-240px -16px

}

.flex-direction-nav .flex-prev {

	left:-50px;

	background-position:-210px -16px

}

.s_left {

	width:141px;

	height:400px;

	position:absolute;

	bottom:-400px;

	left:-180px;

	background:url(../img/cashkaro_1_turns.png) no-repeat 0 0;

	display:block

}

.s_right {

	width:141px;

	height:400px;

	position:absolute;

	bottom:-400px;

	right:-180px;

	background:url(../img/cashkaro_1_turns.png) no-repeat 0 0;

	display:block

}

.charities_d {

	margin-top:20px

}

.charities h3 {

	line-height:38px

}

.charities .orange {

	background:#ffa100;

	margin-left:10px

}

.charities .charity_logo {

	width:152px

}

.charities .charity_dedail {

	width:502px

}

.charities p {

	margin-bottom:20px;

	font-size:13px;

	color:#9c9c9c

}

.charities article {

	border-bottom:1px solid #dedede;

	padding:15px 0 30px 0

}

.charities article img {

	border:1px solid #dedede

}

.charity {

	width:68.8%

}

.charity h1 {

	line-height:50px;

	font-size:20px;

	border-bottom:1px solid #ebebeb

}

.charity .orange {

	background:#ffa100;

	margin-top:10px

}

.charity p {

	font-size:13px;

	color:#9c9c9c

}

.all_stores p {

	border-bottom:1px solid #e4e4e4

}

.all_stores p a {

	font-size:15px;

	font-weight:bold;

	margin-right:20px;

	line-height:30px

}

.all_stores div {

	border-bottom:1px dashed #666;

	padding:30px 0

}

.all_stores div ul:first-child {

	width:50px

}

.all_stores div ul:first-child li {

	font-size:22px

}

.all_stores div ul:first-child+ul {

	width:930px

}

.all_stores div ul:first-child+ul li {

	width:33.3%;

	line-height:22px

}

.prodect_category ul:first-child {

	margin-left:0

}

.prodect_category ul:first-child+ul+ul+ul {

	float:right

}

.prodect_category ul {

	float:left;

	width:24.3%;

	margin-left:6px

}

.prodect_category li {

	float:left;

	padding:0 0 6px 0;

	width:100%

}

.prodect_category img {

	width:152px;

	height:137px

}

#page_loading {

	height:40px;

	background:url(../img/a_loader.gif) no-repeat center center

}

.prodect_category a {

	border:1px solid #cbcbcb;

	border-radius:4px 4px 4px 4px;

	display:block;

	float:left;

	padding:5px;

	width:100%;

	background:#fff

}

.prodect_category a, .prodect_category h2 {

-webkit-transition:all .3s ease-in 0s;

-moz-transition:all .3s ease-in 0s;

-ms-transition:all .3s ease-in 0s;

-o-transition:all .3s ease-in 0s;

transition:all .3s ease-in 0s

}

.prodect_category a:hover {

	border:1px solid #aeaeae;

	box-shadow:0 0 2px #aeaeae

}

.prodect_category h2 {

	font-size:14px;

	line-height:18px;

	margin:8px 0

}

.prodect_category a:hover h2 {

	color:#2066a1

}

.pagination.pro_pagination {

	width:100%

}

.pagination.pro_pagination span {

	margin-left:0

}*/

