
<?php    //echo '<pre>'; print_r($photographer_data);
//echo count($photographer_data);exit; ?> 
<?php $front_home_asset_path = "/public/front/dashboard/";  
  foreach($skills as $value)
  {
    $merchant_suggestion = $merchant_suggestion.'<option value="'.$value['skillId'].'">'.$value['skill'].'</option>';
  }
  foreach($tags as $value)
  {
    $pg_suggestion = $pg_suggestion.'<option value="'.$value['tag_id'].'">'.$value['tag'].'</option>';
  }
///echo '<pre>';print_r($skills);exit; 
?>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="<?php echo $front_home_asset_path;?>js/jquery.tokenize.js"></script>
<link href="<?php echo $front_home_asset_path;?>css/jquery.tokenize.css" rel="stylesheet">

<div class="p-search-header margin-null fullscreen background parallax" style="background-image:url('public/front/home/img/home_banner.jpg');" data-img-width="1920" data-img-height="1080" data-diff="100">
	<div class="background-overlay-bg"></div>
		<section class="profile-type">
			<div class="container">
				<div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <h1 class="pt-main-heading">Find and <span class="color-mark">Hire</span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-centered txt-center col-sm-7 col-xs-12">
            <div class="header-user">
              <h3><a href="javascript:void(0);" onclick="filter(1,'Merchant');"> Designer & Developer</a> 
              <a href="javascript:void(0);" onclick="filter(2,'Photographer');">Photographer</a></h3>
            </div>
          </div>
        </div>
        <!--page main heading end here-->
      </div>
    </section>
    <!--========='Start Search Bar'===========-->
    <section class="layout-block home_slider_fnd search-form">
      <div class="container">
        <div class="row"> 
          <form action = "user/search" method ="POST" id= "home_search">
            <div class="col-lg-2 col-sm-2 col-xs-12">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle btn-block" type="button" value = "2" id="filterval" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="filterby">Photographer</span> <span class="caret"></span>
                </button>
                <input type="hidden" class="form-control" placeholder="" id = "category_val" name = "category_val" />
                <input type="hidden" class="form-control" placeholder="" id = "category_name" name = "category_name" />
                <ul class="dropdown-menu  btn-block" aria-labelledby="filterval">
                  <li><a href="javascript:void(0);" onclick="filter('1','Merchant');">Merchant</a></li>
                  <li><a href="javascript:void(0);" onclick="filter('2','Photographer');">Photographer</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
            <input type="text" class="form-control" placeholder="What skill are you looking at ?" id="dummysearch">
             
              <select id="tokenize_placeholder" multiple="multiple" class="tokenize-sample mr_tokenize" name = 'skills[]' placeholder=" What skill are you looking at ?" style ="display:none; width:100%;" >
                <?php echo $merchant_suggestion; ?>
              </select>
              <select id="tokenize_placeholder" multiple="multiple" class="tokenize-sample pg_tokenize" name = 'tags[]' placeholder=" What skill are you looking at ?" style ="display:none; width:100%;" >
                <?php echo $pg_suggestion; ?>
              </select>
             </div>

            <div class="form-group">
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <input type="text" name="full_country" placeholder="Location" class="form-username ff_elem form-control" id="full_country" onchange="search(0);">
                <input id="location"  name="location" type="hidden" ><p id = "locationerr" ></p>
              </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-12">
              <button class="btn btn btn-success btn-block" onclick = "submitFrm()">
              <span class="glyphicon glyphicon-search space-right"></span>Find</button>
            </div>
          </form>
      	</div>
      </div>
    </section>
  </div>
<!--========='End Search Bar'===========-->
<!--========='Start left filter Layour'===========-->

<!--========='Start online Merchant hire layout'===========-->
<section class="layout-block bg-theme-dark hire_designer_bg">
  <div class="container hire_profile"> 
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h1 class="pt-main-heading">Hire <span class="color-mark">Designer & Developer</span> Online</h1>
      </div>
    </div>
    <div class="col-md-12">         
      <div class="well"> 
        <div id="myCarousel" class="carousel slide"> 
          <!-- Carousel items -->
          <div class="carousel-inner">
            
              <?php 
              if(count($merchant_data) < 3)
              {
                echo '<div class="item active"><div class="row">';

                for($i=0;$i<count($merchant_data); $i++)
                {
                  if($merchant_data[$i]['cover_image'] == '')
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/defaultcover.png";
                  }
                  else
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/".$merchant_data[$i]['cover_image'];
                  }
                  if($merchant_data[$i]['profilepic'] == '')
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/' . str_replace('_pp_','_tn120x120_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/'.str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  }
                  
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="'.$mr_cover_img_src.'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'"><img class="pro-pic img-circle" src="'.$mr_profile_img_src.'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } 
              else
              {

                echo '<div class="item active"><div class="row">';
                $default_img = "/public/front/dashboard/img/profile2.jpeg";
                for($i=0;$i<3; $i++)
                {
                  if($merchant_data[$i]['cover_image'] == '')
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/defaultcover.png";
                  }
                  else
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/".$merchant_data[$i]['cover_image'];
                  }
                  if($merchant_data[$i]['profilepic'] == '')
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/' . str_replace('_pp_','_tn120x120_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/'.str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  }
                  $mer_profile_img_src = '/public/images/advertiserimage/'.str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  //if($merchant_data[$i]['profilepic'])
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="'.$mr_cover_img_src.'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'"><img class="pro-pic img-circle" src="'.$mr_profile_img_src.'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
                echo '<div class="item"><div class="row">';
                for($i=3;$i<count($merchant_data); $i++)
                {
                  if($merchant_data[$i]['cover_image'] == '')
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/defaultcover.png";
                  }
                  else
                  {
                    $mr_cover_img_src = "/public/images/advertiserimage/".$merchant_data[$i]['cover_image'];
                  }
                  if($merchant_data[$i]['profilepic'] == '')
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/' . str_replace('_pp_','_tn120x120_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $mr_profile_img_src = '/public/images/advertiserimage/'.str_replace('_pp_','_tn120x120_',$merchant_data[$i]['profilepic']);
                  }
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="'.$mr_cover_img_src.'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      
                      <h3><a href="/user/frontportfolio/'.$merchant_data[$i]['id'].'/'.$merchant_data[$i]['name'].'"><img class="pro-pic img-circle" src="'.$mr_profile_img_src.'">'.$merchant_data[$i]['name'].'</a></h3>
                      <strong>'.$merchant_data[$i]['profession'].'</strong>
                      <p class="dipi"><span>Rate|'.$merchant_data[$i]['rate'].'$</span> &nbsp; <span>Projects|'.$merchant_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } ?>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
    </div>
  </div>
</section>
<!--========='End online Merchant hire layout'===========-->


<!--========='Start online Photographer hire layout'===========-->
<section class="layout-block bg-theme-dark hire_designer_bg">
  <div class="container hire_profile"> 
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h1 class="pt-main-heading">Hire <span class="color-mark">Designer & Developer</span> Online</h1>
      </div>
    </div>
    <div class="col-md-12">         
      <div class="well"> 
        <div id="myCarousel2" class="carousel slide"> 
          <!-- Carousel items -->
          <div class="carousel-inner">
            <?php 
              $default_cover_img = "/public/front/dashboard/img/profile2.jpeg";
              //$default_profile_img = "/public/front/dashboard/img/profile2.jpeg";
              if(count($photographer_data) < 3)
              {
                echo '<div class="item active"><div class="row">';
                for($i=0;$i<count($photographer_data); $i++)
                {
                  if($photographer_data[$i]['cover_image'] == '')
                  {
                    $pg_cover_img_src = $default_cover_img;
                  }
                  else
                  {
                    $pg_cover_img_src = "public/images/photographer/uploads/".$photographer_data[$i]['cover_image'];
                  }
                  if($photographer_data[$i]['profilepic'] == '')
                  {
                    
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  }
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src='.$pg_cover_img_src.' alt="" class="img-responsive" />
                    <div class="dev-info">
                      
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'"><img class="pro-pic img-circle" src="'.$pg_profile_img_src.'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } 
              else
              {
                echo '<div class="item active"><div class="row">';
                
                for($i=0;$i<3; $i++)
                {
                  if($photographer_data[$i]['cover_image'] == '')
                  {
                    $pg_cover_img_src = $default_cover_img;
                  }
                  else
                  {
                    $pg_cover_img_src = "public/images/photographer/uploads/".$photographer_data[$i]['cover_image'];
                  }
                  if($photographer_data[$i]['profilepic'] == '')
                  {
                    
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  }
                 
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="'.$pg_cover_img_src.'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'"><img class="pro-pic img-circle" src="'.$pg_profile_img_src.'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';

                echo '<div class="item"><div class="row">';
                for($i=3;$i<count($photographer_data); $i++)
                {
                  
                  if($photographer_data[$i]['cover_image'] == '')
                  {
                    $pg_cover_img_src = $default_cover_img;
                  }
                  else
                  {
                    $pg_cover_img_src = "public/images/photographer/uploads/".$photographer_data[$i]['cover_image'];
                  }
                  if($photographer_data[$i]['profilepic'] == '')
                  {
                    
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_','58345_pp_profile.jpg');
                  }
                  else
                  {
                    $pg_profile_img_src = 'public/images/photographer/profile/thumb/' . str_replace('_pp_','_tn50x50_',$photographer_data[$i]['profilepic']);
                  }
                  echo '<div class="col-lg-4 col-sm-4 col-xs-4">
                    <img src="'.$pg_cover_img_src.'" alt="" class="img-responsive" />
                    <div class="dev-info">
                      
                      <h3><a href="/user/photographer/profile/'.$photographer_data[$i]['user_id'].'"><img class="pro-pic img-circle" src="'.$pg_profile_img_src.'">'.$photographer_data[$i]['name'].'</a></h3>
                      <strong>Photographer</strong>
                      <p class="dipi"><span>Rate|'.$photographer_data[$i]['price'].'$</span> &nbsp; <span>Projects|'.$photographer_data[$i]['total_project'].'</span> </p>
                    </div>
                  </div>';
                }
                echo '</div></div>';
              } ?>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
      <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i class="fa fa-chevron-circle-right fa-2x"></i></a>
    </div>
  </div>
</section>
<!--========='End online Photographer hire layout'===========-->


<!--========='Start online hire layout'===========-->
<section class="layout-block project-store bg-theme-aqua">
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<h1 class="pt-main-heading" style="margin-bottom:40px;">Get your <span class="color-mark">Projects</span> Stored</h1>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/webdevelop.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website developmet starting from 25000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-desktop fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/webdesign.JPG"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website design starting from 100 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/mobile-app.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<!--<i class="fa fa-mobile fa-4x"></i>-->
<div class="thumb-info">
<p>Mobile app starting from 5000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-edit fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/logo-design.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Logo Design  starting from 500 INR only</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-camera fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/wedding-photo.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Weeding photographer starting from 10000 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-edit fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/logo-design.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Logo Design  starting from 500 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<!--<i class="fa fa-desktop fa-3x"></i>-->
<div class="thumb-block">
<img src="public/front/home/img/webdesign.JPG"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<div class="thumb-info">
<p>Website design starting from 100 INR only</p>
</div>
</div>
<div class="col-lg-3 col-sm-6 col-xs-12">
<div class="thumb-block">
<img src="public/front/home/img/mobile-app.jpg"/>
<!--<i class="fa  fa-code fa-3x"></i>-->
</div>
<!--<i class="fa fa-mobile fa-4x"></i>-->
<div class="thumb-info">
<p>Mobile app starting from 5000 INR only</p>
</div>
</div>
</div>
</div>
</section>
<!--========='End online hire layout'===========-->


<!--========='Start  heading'===========-->
<section class="layout-block">
<div class="container">
<div class="row">
<div class="col-lg-12 col-sm-12 col-xs-12">
<h1 class="pt-main-heading">You are <span class="color-mark">Website Designer</span> or <span class="color-mark">Developer</span> or <span class="color-mark">Photographer</span></h1>
</div>
</div>
</div>
</section>
<!--========='End heading'===========-->
<!--========='Start online hire layout'===========-->
<section class="layout-block">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-6 col-xs-12">
<ul class="list-inline hired-list" >
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor.</a></li>
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor. Aenean massa.</a></li>
<li><a href="#"><i class="fa fa-check-circle-o space-right"></i>Aenean commodo ligula eget dolor. Aenean massa.</a></li>
</ul>
</div>
<div class="col-lg-6 col-sm-6 col-xs-12">
<button type="button" class="btn btn-success btn-lg hire-button">Get Hire Today</button>
</div>
</div>
</div>
</section>
<!--========='End online hire layout'===========-->
<section style="padding:0;">
    <div class="our-user background-bg our-user-bg fullscreen background parallax" data-img-width="1600" data-img-height="1110" data-diff="100"> 
      <div class="overlay-section section-padding">
        <div class="container">
          <div class="row">
            
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <div class="number">
                  1000
                </div>
                <div class="user-count">
                  User Online
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-code"></i>
                </div>
                <div class="number">
                  20,000
                </div>
                <div class="user-count">
                Designers & Developers
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="user-box">
                <div class="icon">
                  <i class="fa fa-camera"></i>
                </div>
                <div class="number">
                  31,000
                </div>
                <div class="user-count">
                  Register Photographers
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
      </div><!-- /.overlay -->
    </div><!-- /.success-stories -->
  </section>

  

  
<script> 
  //change skills on change category start
  var $j = jQuery.noConflict();
    function filter(val, name)
    {
      $j("#filterval").val(val);
      $j("#filterby").html(name );
      // alert(name);
      var searchby = $("#filterby").html();
      if(searchby == 'Merchant')
      {
        $j('.mr_tokenize').tokenize();
        $j('.Placeholder').html('What skill are you looking at ?');
        
        $j(".pg_tokenize.Tokenize").css('display','none');
        $j("#dummysearch").css('display','none');
        $j(".mr_tokenize.Tokenize").css('display','inline-block');
      } 
      if(searchby == 'Photographer')
      {
        $j('.pg_tokenize').tokenize();
        $j('.Placeholder').html('What skill are you looking at ?');
        $j(".mr_tokenize.Tokenize").css('display','none');
        $j("#dummysearch").css('display','none');
        
        $j(".pg_tokenize.Tokenize").css('display','inline-block');
      }
    }

    $j(document).ready(function(){
      var category = $('#filterby').html();
      var val = $('#filterval').val();
      filter(val,category);
    });

    //setTimeout(function(){filter('1','Merchant');},2000);
  //change skills on change category end

  // to sumbit form
function submitFrm()
{ 
    var category = $('#filterby').html();
    var val = $('#filterval').val();
    $('#category_name').val(category);
    $('#category_val').val(val);
    document.getElementById('home_search').submit();
}

//Locatin autosuggestion start
jQuery(function () 
{
   jQuery("#full_country").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#full_country").val(selectedObj.value);
     jQuery("#location").val(selectedObj.value);    


    //getcitydetails(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#full_country").autocomplete("option", "delay", 100);
  });

//Locatin autosuggestion end
</script>
