


        <!--Page main section start-->
        <?php if ($this->error): ?>
    <p class="error">
        There were one or more issues with your submission. Please correct them as indicated below
    </p>
    <?php endif; ?>
    
    <?php $form = $this->form;
          $form->prepare();
          $form->setAttribute('action', $this->url(NULL, array(
              'controller' => 'Uploadmanager', 
              'action' => 'processUpload'
          )));
          $form->setAttribute('method', 'post');
          echo $this->form()->openTag($form);
    ?>
      
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                             
                                <div class="panel-body">
                                    <form action="" class="form-horizontal ls_form" enctype="multipart/form-data">
                                       
                                        <div class="row ls_divider last">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Upload Files</label>

                                                <div class="col-md-10 ls-group-input">
                                                   
                                                    <?php echo $this->formElement($form->get('fileupload'));?>
                                                     <?php echo $this->formElementErrors($form->get('fileupload'));?>

                                                </div>
                                                <div class="col-md-10  col-md-offset-2 ls-group-input">

                                           <?php echo $this->formElement($form->get('label'));?>
                                            <?php echo $this->formElementErrors($form->get('label'));?>

                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main Content Element  End-->

             
        <!--Page main section end -->
      