
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}
. .bg-warning {
background-color:#fcf8e3
}
a.bg-warning:hover {
	background-color: #f7ecb5
}
.bg-danger {
	background-color: #f2dede
}
a.bg-danger:hover {
	background-color: #e4b9b9
}
.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee
}
ol, ul {
	margin-top: 0;
	margin-bottom: 10px
}
ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0
}
.list-unstyled {
	padding-left: 0;
	list-style: none
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px
}
.list-inline>li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}
dl {
	margin-top: 0;
	margin-bottom: 20px
}
dd, dt {
	line-height: 1.42857143
}
dt {
	font-weight: 700
}
dd {
	margin-left: 0
}
@media (min-width:768px) {
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.dl-horizontal dd {
	margin-left: 180px
}
}
abbr[data-original-title], abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #777
}
.initialism {
	font-size: 90%;
	text-transform: uppercase
}
blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child {
	margin-bottom: 0
}
blockquote .small, blockquote footer, blockquote small {
	display: block;
	font-size: 80%;
	line-height: 1.42857143;
	color: #777
}
blockquote legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px
}
input[type=search] {
	box-sizing: border-box
}
input[type=checkbox], input[type=radio] {
	margin: 4px 0 0;
	line-height: normal
}
input[type=file] {
	display: block
}
input[type=range] {
	display: block;
	width: 100%
}
select[multiple], select[size] {
	height: auto
}
input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}
output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555
}
-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.pagination>li {
	display: inline
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #428bca;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px
}
.pagination>li:first-child>a, .select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
	padding-left: 80px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
	padding-left: 100px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
	padding-left: 110px
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label {
	padding-left: 120px
}
.select2-results li {
	list-style: none;
	display: list-item;
	background-image: none
}
.select2-results li.select2-result-with-children>.select2-result-label {
	font-weight: 700
}
.select2-results .select2-result-label {
	padding: 3px 7px 4px;
	margin: 0;
	cursor: pointer;
	min-height: 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.select2-results .select2-highlighted {
	background: #3875d7;
	color: #fff
}
.select2-results li em {
	background: #feffde;
	font-style: normal
}
.select2-results .select2-highlighted em {
	background: 0 0
}
.select2-results .select2-highlighted ul {
	background: #fff;
	color: #000
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
	display: list-item
}
.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	display: list-item;
	cursor: default
}
.select2-results .select2-disabled {
	display: list-item;
	cursor: default
}
.select2-results .select2-selected {
	display: none
}
.select2-more-results.select2-active {
	background: url(//d1q7h0w9c0hiav.cloudfront.net/assets/select2-spinner-d812beeb7a5b4fed16853a2010ce6bed.gif) no-repeat 100% #f4f4f4
}
.select2-more-results {
	display: list-item
}
.select2-container.select2-container-disabled .select2-choice {
	background-image: none;
	border: 1px solid #ddd;
	cursor: default
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
	background-image: none;
	border-left: 0
}
.select2-container.select2-container-disabled .select2-choice abbr {
	display: none
}
.select2-container-multi .select2-choices {
	height: auto!important;
	height: 1%;
	margin: 0;
	position: relative;
	cursor: text;
	overflow: hidden
}
.select2-locked {
	padding: 3px 5px!important
}
.select2-container-multi .select2-choices {
	min-height: 26px
}
.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #5897fb;
	outline: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.3)
}
.select2-container-multi .select2-choices li {
	float: left;
	list-style: none
}
.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding: 10px;
	margin: 1px 0;
	font-size: 100%;
	color: #666;
	outline: 0;
	box-shadow: none;
	background: 0 0!important
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
	background: url(//d1q7h0w9c0hiav.cloudfront.net/assets/select2-spinner-d812beeb7a5b4fed16853a2010ce6bed.gif) no-repeat 100% #fff!important
}
.select2-default {
	color: #999!important
}
.select2-container-multi .select2-choices .select2-search-choice {
	padding: 5px 5px 5px 18px;
	margin: 10px 0 10px 10px;
	position: relative;
	line-height: 13px;
	cursor: default;
	border: 1px solid #aaa;
	border-radius: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
	cursor: default
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4
}
.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 4px;
	font-size: 1px;
	outline: 0;
	background-image:url(../img/cross.PNG);
	background-repeat:no-repeat;
	background-position:left center;
}
.select2-container-multi .select2-search-choice-close {
	left: 3px
}

.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
	background: 0 0
}
.select2-container-multi.invalid {
	border: 1px solid #E84C3D!important;
	background: #FDEEED;
	position: relative
}
.select2-container-multi.invalid::after {
	content: "\f071";
	position: absolute;
	font-family: FontAwesome;
	top: 17px;
	right: 20px;
	font-size: 1.3rem;
	color: #E84C3D
}
.select2-container-multi .select2-choices {
	background: 0 0
}
.select2-container-multi.invalid .select2-input {
	color: #E84C3D!important
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
	text-decoration: underline
}
.select2-offscreen, .select2-offscreen:focus {
	clip: rect(0 0 0 0)!important;
	width: 1px!important;
	height: 1px!important;
	border: 0!important;
	margin: 0!important;
	padding: 0!important;
	overflow: hidden!important;
	position: absolute!important;
	outline: 0!important;
	left: 0!important;
	top: 0!important
}
.select2-display-none {
	display: none
}
.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi) {
.select2-container .select2-choice .select2-arrow b, .select2-container .select2-choice abbr, .select2-search input, .select2-search-choice-close {
	background-repeat: no-repeat!important;
	background-size: 60px 40px!important
}
.select2-search input {
	background-position: 100% -21px!important
}
}
 @media only screen and (min-width:990px) and (max-width:1200px) {
.specialties-item .request-service, .specialties-item .see-example {
	width: 100%
}
}
.metrics {
	overflow: hidden;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #dbe3e7
}
.metric {
	float: left;
	width: 50%;
	padding-left: 21px;
	border: none
}
.metric:nth-child(even) {
	border-left: 1px solid #dbe3e7;
	padding-left: 21px
}
.metric .name {
	margin: 15px 0 3px;
	font-size: 12px;
	text-transform: uppercase;
	color: #B0B4BF
}
.metric .value {
	font-size: 14px;
	font-weight: 600
}
.specialties-item .metrics {
	border: 1px solid #dbe3e7;
	border-bottom: 2px solid #dbe3e7;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px
}
.specialties-item .metric:nth-child(even) {
	background: #f7f9fb
}
.crud-actions {
	margin-top: 10px
}
.crud-actions a {
	color: #555;
	text-decoration: none
}
#specialites-preview-holder {
	display: none
}
@media only screen and (min-width:990px) {
#specialites-preview-holder {
	display: block
}
}
.panel-heading.with-pull-right {
	overflow: hidden
}
.panel-heading .pull-right {
	color: #46a5cb;
	font-size: 65%;
	margin-top: 7px
}
@media only screen and (max-width:990px) {
.panel-heading.with-pull-right small {
	display: none
}
}
.input-search2 {
	margin: 0 0 12px;
	width: 100%
}
.label-home {
	color: #D2D4DA;
	margin-right: 6px;
	font-size: 14px;
	padding-top: 3px
}
ul.skills-home {
	margin-left: 0!important
}
.skills-home li {
	margin: 0 0 3px;
	padding: 0!important
}
.skills-home li a {
	background: #535765;
	border-radius: 3px;
	color: #B0B4BF;
	font-size: 16px;
	margin: 0 0 5px 1px;
	padding: 1px 6px
}
.skills-home li a:focus, .skills-home li a:hover {
	background: #6E7387;
	color: #fff;
	cursor: pointer;
	text-underline: none
}
.skills-home li a:active {
	background: #494D5A;
	cursor: pointer
}
.round_avatar {
	border-radius: 75%
}
.btn-home {
	margin: 0 0 12px;
	height: 60px;
	font-size: 22px;
	width: 100%
}
.btn-home .fa {
	margin-left: 9px
}
@media screen and (min-width:768px) {
.input-search2 {
	border-radius: 0 3px 3px 0;
	width: 84%;
	float: left
}
.btn-home {
	border-radius: 0 3px 3px 0;
	width: 16%;
	float: left
}
.btn-home .fa {
	display: none
}
}
@media screen and (min-width:991px) {
.btn-home .fa {
	display: inline
}
}
.select2-container {
	border-radius: 3px 0 0 3px!important;
	width: 100%;
	padding: 0px;
	height: auto;
	font-size: 15px;
}
.panel-dashboard .form-horizontal .select2-container {
	min-height: 156px!important
}
.panel-project .form-horizontal .select2-container {
	min-height: 104px!important
}
.select2-container-multi .select2-choices {
	padding: 0px !important;
}
.select2-container-multi .select2-choices, .select2-container-multi .select2-choices .select2-search-field input, .select2-container-multi .select2-choices:focus {
	border: 0!important;
	font-family: proxima-nova-n3, proxima-nova, san-serif!important
}
.select2-container-multi .select2-choices .select2-search-choice {
	background: #B0B4BF!important;
	border-color: #B0B4BF!important;
	box-shadow: #FFF 0 0 0!important;
	color: #fff;
	font-size: 16px
}
.select2-container-multi .select2-choices .select2-search-choice, .select2-search-choice-close {
	color: #fff!important
}
.panel-listing {
	margin-bottom: 21px!important
}
.panel-listing .
