<section class="pro-section" style="padding: 38px 0px;">
  <div class="container">
    <h2 class="text-center">Reset Password </h2>
    <hr class="pro-hr">
   
    <div class="row">
<div class="col-sm-6 col-sm-offset-3 reste">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<span id="error"></span>
<div id="resp"></div>
<form role="form" action="/public/user/home/login" method="post" class="login-form" id="reset-form" name="reset-form">
<input type="password" class="input-lg form-control" name="rpassword" id="rpassword" placeholder="New Password" autocomplete="off">

<input type="password" class="input-lg form-control" name="confirmrpassword" id="confirmrpassword" placeholder="Repeat Password" autocomplete="off">

<input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." data-target="#change" value="Change Password" onclick="javascript:validate_reset()" id="resetpassBtn">
</form>
</div><!--/col-sm-6-->
</div>
  </div>
  
  
  
</section>