<?php  
       
       $front_home_asset_path = 'public/front/home/';
       $state = rand(1000000,99999999);
       $_SESSION['gstate'] = $state;
       $logged_in_email = '';
       if(isset($_SESSION['user']) && $_SESSION['user'] != ""){
            $logged_in_email = $_SESSION['user']->email;
       }      
?>
<!DOCTYPE html>
<html lang="en">
  <script>
	var site_url = "http://ownrock.com/";
</script>
  <head>
    <base href="http://localhost/ownrock/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Ownrock | Reset Password</title>
    <!-- Bootstrap core CSS -->
    <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
    <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">    
    
     <!-- Custom styles for this template -->
    <link href="<?php echo $front_home_asset_path;?>css/main.css" rel="stylesheet">    
	
    <link href="<?php echo $front_home_asset_path;?>css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  
  
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" class="index">
  <div id="fb-root"></div>
    
 <header >
  <div class="home-bg">
    <div class="container-full menuset-home">
      <div class="container" style="padding:0px">     
      
      <nav class="navbar navbar-default y-set-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand y-brand" href="#">Own Rock</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <?php if(isset($logged_in_email) && $logged_in_email != ""){ ?>		
                <li class="dropdown">
                <a href="#" class="dropdown-toggle user-loged" data-toggle="dropdown" role="button" aria-expanded="false"><?php echo $_SESSION['user']->first_name; ?> 
                 <img class="img-circle pull-left" src="public/front/home/img/designer.jpeg" width="400" height="400"> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">View Profile</a></li>
                  <li><a href="#">Edit Profile</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="<?php echo $this->url('user/home', array('action' => 'logout'))?>">Logout</a></li>
                </ul>
		</li>
                <li>
			
		</li>
		<?php } else {?>
			<li><a data-toggle="modal" data-target="#myModal1" href="#myModal">SIGN UP</a></li>
			<li><a data-toggle="modal" data-target="#myModal" href="#myModal">LOG IN</a></li>
		<?php } ?>	
              </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      
       
      </div>
    </div>
   
   
  </div>
</header>
    
 
<section class="pro-section" style="padding: 38px 0px;">
  <div class="container">
    <h2 class="text-center">Reset Password </h2>
    <hr class="pro-hr">
   
    <div class="row">
<div class="col-sm-6 col-sm-offset-3 reste">
<p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
<span id="error"></span>
<div id="resp"></div>
<form role="form" action="/public/user/home/login" method="post" class="login-form" id="reset-form" name="reset-form">
<input type="password" class="input-lg form-control" name="rpassword" id="rpassword" placeholder="New Password" autocomplete="off">

<input type="password" class="input-lg form-control" name="confirmrpassword" id="confirmrpassword" placeholder="Repeat Password" autocomplete="off">

<input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." data-target="#change" value="Change Password" onclick="javascript:validate_reset()" id="resetpassBtn">
</form>
</div><!--/col-sm-6-->
</div>
  </div>
  
  
  
</section>


    
<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Quick Links</h3>
          <ul class="iinks">
         <li><a href="module/User/view/layout/about-layout.phtml">About Us</a></li>
         <li><a href="module/User/view/layout/contact-layout.phtml"">Contact Us</a></li>
         <li><a href="">Blog</a></li>
         </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a> </li>
            <li> <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a> </li>
          </ul>
        </div>
        <div class="footer-col col-md-4">
          <h3>About Us</h3>
          <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> Copyright &copy; OwnRock 2015 </div>
      </div>
    </div>
  </div>
</footer>    
  
   
<script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
<script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script> 
   
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="<?php echo $front_home_asset_path;?>js/bootstrap.min.js"></script>
    <!-- Contact Form JavaScript --> 
 
    
    <script type="text/javascript">
        
      function validate_reset()
        {
            
	     $("#error").html('');
	    var rpassword = $("#rpassword").val();
	    var confirmrpassword = $("#confirmrpassword").val();
	    var token = $("#token").val();
            
	    
	    if(rpassword == ""){
               $("#rpassword").attr("placeholder", "Password is required");
               $("#rpassword").css( "border", "2px solid red");
               $("#error").html('Password is required');
	       return false;
            }else if(confirmrpassword == ""){
                $("#confirmrpassword").attr("placeholder", "Confirm Password is required");
               $("#confirmrpassword").css( "border", "2px solid red");
                $("#error").html('Confirm Password is required');
	       return false;
            }else if(confirmrpassword != rpassword){
               $("#confirmrpassword").attr("placeholder", "Password and confirm password does not match");
               $("#confirmrpassword").css( "border", "2px solid red");
                 $("#error").html('Password and confirm password does not match');
	       return false;
            }else if(confirmrpassword != '' && confirmrpassword == rpassword){
		 
		 var success_url= '<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'index'))?>';  
		 var login_url= '<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'reset'))?>';                    
		$.ajax({
		   url: login_url,
		   error: function() {
		      $('#info').html('<p>An error has occurred</p>');
		   },
		   data: {rpassword: rpassword, confirmrpassword: confirmrpassword, token: token},
		   beforeSend: function() {
			$('#loader_img').show();
			$('#resetpassBtn').attr('disabled',true);
		   },
		   success: function(data) {
		      $('#loader_img').hide();
		      $('#resetpassBtn').removeAttr('disabled');
		      if(data.response === 'failed'){
			  alert('Invalid credentials ! Please try again.');			
		      }else{
			  $("#resp").html("Password reset successfully");			  
			  setTimeout(function(){
			  window.location = success_url;
			  },1000);
		      }
		   },
		   type: 'POST',
		   dataType: 'json',
		});
            }
        }
    
    
    
    </script>

<?php
if($_GET['token']){
?>
<input type="hidden" id="token" value="<?php echo $_GET['token']; ?>">
<script>
/*function checkToken()
{
	var tokenavailabel = "<?php echo $_GET['token']; ?>";
	var url= '<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url('user/home', array('action' => 'reset'))?>';
	jQuery.ajax({
		type: "POST",
		url: url,
		async: false,
		data: 'tokenavailabel=' + tokenavailabel,
		success: function(data) {
		  if(data.success){
		  }
		}
	    });
}
//checkToken();
//$("#reset").trigger('click');</script>*/
<?php	
}
?>
  </body>
</html>