.error-page {
    min-height: 450px;
    padding: 200px 0 0;
	 background-color: #f5f5f5;
	 border-bottom: 4px solid rgba(0, 0, 0, 0.1);
	 border-top: 1px solid #333;
}
.error-page {
    text-align: center;
}
.error-page p {
  color: #012231;
  font-family: "Roboto",sans-serif;
  font-size: 4em;
  text-shadow: -2px 3px 4px #9b9b9b;
}
.error-page h3 {
  color: #056ab2;
  font-family: "Roboto",sans-serif;
  font-size: 10em;
  text-shadow: -2px 3px 4px #9b9b9b;
}
.successmsg
{
	background-color: #00cc00;
	color: #fff;
	margin-top: 1%;
	text-align: center;
}
.zls-lftbtn .zlsblue-btn .zls-chtmn, .zls-rhtbtn .zlsblue-btn .zls-chtmn {
  background-color: #056ab2 !important;
}

.zls-lftbtn .zlsblue-btn .zlslrgbtn-on-tit1, .zls-rhtbtn .zlsblue-btn .zlslrgbtn-on-tit1, .zlsblue-btn {
  background-color: #359ae2 !important;
}

.pagetop .social-icon li .fb-like{
 line-height:1.5em;
}

#curent_oppt p
{
  letter-spacing: 0 !important;
}


#myCarousel ul,ol li
{
	cursor:pointer;
}
