

#banner {
	width:100%;		   
	height: 400px;		  
	position: relative;
	left:0%;    
	overflow: hidden;	
	
}         
.mainSlider {
	width: 500px;  		 
	position: relative;          
	float: left;     
}   
.mainSlider .sliderItem{ position:absolute;}

.mainSlider .sliderItem h3{
	font-size: 42px;
	padding: 160px 54px 0 0px;    
	/*text-shadow: 0px 2px 4px #999999;*/	
	color: #FFF;
	line-height:26px;
	font-weight:bold;
	letter-spacing:-1px;
	
}
.mainSlider .sliderItem p{
	font-size: 12px;
	padding: 12px 54px 0 0px;
	/*text-shadow: 0px 2px 4px #999999;*/		
	color: #FFF;	
}

.mainSlider .sliderItem .monitor{  
	margin: 60px 0 0 50px;
}  

.mainSlider .sliderItem .fsw{  
	margin: 40px 0 0 600px;
	right:0;
	
}     

/* the Vimeo video player */
.mainSlider .sliderItem .vimeo{  
	margin: 40px 0 0 56px;
	width: 540px;
	height: 320px;
	background: #000;
	
} 

/* the Youtube video player */
.mainSlider .sliderItem .youtube{  
	margin: 40px 0 0 0px;
	width: 550px;
	height: 315px;
	background: #000;
} 

.subSlider {         
	position: relative;
	left:45%;
}  

.subSlider .sliderItem{  	
	min-height:200px;   
	width:550px;
	position: absolute;
	float:right;
 
}  

.subSlider .sliderItem .subImage{  	
	margin: 48px 24px 0 20px;
}  

.subSlider .sliderItem p{   
font-size: 20px;
color: #FFF;
margin: 180px 0px 0 80px;  
/*text-shadow: 0 2px 1px #585858;*/}    


.subSlider .sliderItem h3{  
font-size:42px;
color: #FFF;       
/*text-shadow: 0 2px 1px #585858;clear: left;*/
float: left;   
line-height:26px;
font-weight:500;
padding-bottom:15px;

}      

.subSlider .sliderItem p{       
color: #FFF;
/*text-shadow: 0 2px 1px #585858;*/   
clear: left;
float: left; 
padding-bottom:15px; 	
	
}

.subSlider .sliderItem .envatoHeader{  
  	
	margin: 120px 12px 0 0px;  
}         

.subSlider .sliderItem .envatoText{   
	margin: 6px 12px 0 0px;  

}                             
                          

.subSlider .sliderItem .vimeoHeader{  
	
	margin: 100px 12px 0 140px;  
}
.subSlider .sliderItem .vimeoText{   
	margin: 6px 12px 0 140px;  
		
}

.subSlider .sliderItem .youtubeHeader{  
		
	margin: 120px 12px 0 160px;  
}
.subSlider .sliderItem .youtubeText{   
	margin: 6px 12px 0 160px;  
		
}   

.subSlider .sliderItem .lycheeHeader{   
	margin: 80px 12px 0 -320px;  
         	
}  

.subSlider .sliderItem .lycheeText{   
	margin: 6px 12px 0 -320px;  
          
} 

.subSlider .sliderItem .fswHeader{   
	margin: 120px 12px 0 -408px;  
	
}  

.subSlider .sliderItem .fswText{   
	margin: 6px 12px 0 -410px; 
	width:450px; 
               
	
}