
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* OVERALL ASPECT */



/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #54ba4e;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: #FFFFFF;
	border-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #FFFFFF
	color:#000;
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	/*background: url(../img/header-bg.jpg) no-repeat center top;*/
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-weight: 700;
}

/* Light Grey */
#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-weight: 700;
}


/* Red Wrap */
#r {
	background: #ff7878;
	padding-top: 35px;
	padding-bottom: 35px;
}

#r h4 {
	color: white;
	font-weight: 700;
}

#r p {
	color: white;
}

/* Blue Wrap */

#blue {
	background: #3498db;
	padding-top: 35px;
	padding-bottom: 35px;
}

#blue h4 {
	color: white;
	font-weight: 700;
}

#blue p {
	color: white;
}



/* Footer Wrap */
#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 30px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}

/****** SECTIONS *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #ff7878;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
	border-radius: 0px;

}

.modal-header {
	background: #bdbdbd;
	color: white;
}

.modal-header h4 {
	font-weight: 700;
}

.modal-body {
	background: #fff;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
	padding: 20px;
}

.modal-footer {
	background: #fff;
	margin-top: 0px; 
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   
.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #ff7878;
}
.btn-facebook {
    background-color: #3b5998 !important;
    border-color: #3b5998 #3b5998 #263a63 !important;
    color: #fff !important;
}
.icon-container-fb{
padding: 0 30px 0 0px;
}

.icon-container-g{
padding: 0px 30px 0 0px;
color:red;
}
.icon-container-mail{
padding: 0 46px 0 0;
}
.text{
color:grey;
}
.login{
padding:0 80px 0 80px;
}
.search-box
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    position: absolute;
    right: 0;
	}
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        border-radius: 3px;
    font-size: 18px;
    margin-bottom: 0;
    padding: 0 0 0 30px;
    }
 
    #custom-search-input button {
        border: 0;
        padding: 13% 26% 13% 31%;
        position: relative;
        left: -60px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#ffffff;
		font-size:18px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

.btn-lg {
    padding: 10px 25px !important;
    font-size: 18px !important;
    line-height: 1.33 !important;
    border-radius:3px ;
}

.modal-body p{ text-align:center !important;}

.modal-body .btn-google{ background:none !important ;  border-color: rgb(195, 199, 203) !important;}

.y-form-control{ width: 81% !important; border: 1px solid #DCE4EC !important; margin:auto !important;}


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
border: 0px none;
padding: 16% 26% 16% 31%;
position: relative;
left: -60px;
margin-bottom: 2px;
border-radius: 0px !important;
color: #FFF;
font-size: 18px;
z-index: 999;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

.y-search-box{background-color: rgba(0, 0, 0, 0.43);
padding: 23px 15px 21px 42px;}


/*..............profile type page style start here.........................*/
.trans-main,
.pt-thumb,
.profile-step > li > a,
.btn-dismiss,
.welcome-profile-panel,
.album-thumb.album-info{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.trans-hovr,
.pt-thumb:hover,
.profile-step > li > a:hover,
.profile-step > li > a:focus,
.profile-step > li > a:active,
.btn-dismiss:hover,
.welcome-profile-panel:hover,
.album-thumb:hover .album-info{
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.profile-type{
	padding:0;
	margin:20px 0;
}
.pt-main-heading{
	font-size: 32px;
	font-weight: 400;
	margin-bottom:60px;
}
.pt-thumb:hover{background:rgba(0,255,0,0.4);}
.pt-thumb:hover img{opacity:0.65;}
.pt-detail,
.pt-heading,
.pt-main-heading{
	text-align:center;
}
.pt-heading{
	font-size:20px;
	padding:0;
	margin:10px 0 0;
	color:#2c3e50;
}
.pt-detail{
	font-size:14px;
	color:#666;
}
.album-desc{ border-radius:0; padding:0;}
.album-desc textarea 
{
 border-width:1px;
 border-radius:0;
 padding:5px !important;	
}

/*..............profile complete style start here.........................*/
.profile-step {

width:600px;
margin:0 auto;
}

.profile-step > li > a {
    display: block;
    padding: 10px 20px ;
    position: relative;
	background:#fff;
	border-radius:0;
	border:solid 2px #54ba4e;
	color:#555;
	width: 200px;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.profile-step > li > a:hover,
.profile-step > li > a:focus,
.profile-step > li > a:active{
	background:#74da6e;
	color:#fff;
}
.profile-step > li.active > a, .profile-step > li.active > a:hover, .profile-step > li.active > a:focus {
    background-color: #54ba4e;
    color: #ffffff;
}
.profile-step > li + li {
    margin-left:0;
}
.profile-step > li + li a {
	border-left:none;
}
.profile-bar-heading{
	font-size:16px;
	text-align:center;
	margin-bottom:20px;
}

.progress-step {
    border-radius: 0 !important;
    height: 10px;
    padding: 2px;
}
.progress-step {
    background-color: #ecf0f1;
    border: 1px solid;
    border-radius:0;

}
.space-right{ margin-right:10px;}
.space-left{ margin-left:10px;}
.btn-dismiss{ 
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 20px;
  line-height: 17px;
  margin-left: 83%;
  margin-top:5px;
  position: absolute;
  text-align: center;
  width: 20px;
  border-radius:50%;
}
.btn-dismiss:hover,
.btn-dismiss:active,
.btn-dismiss:focus{
 background: rgba(0, 255, 0, 0.5);	
 color:#fff;
}
/*..............dashboard style start here.........................*/
.welcome-profile-panel{
border-radius:0;
text-align:center;
background:#fff;
border:solid 2px #2c3e50;
}
.profile-icon{
font-size:28px;
color:#6b7d8f;
}
.profile-icon i{
  background:rgba(0,0,0,0.2);
  border-radius:50%;
  padding:20px;
  height:72px;
  width:72px;
  line-height:36px;
  
}
.welcome-title{ 
font-size:32px;
color:#54ba4e;
margin:30px 0 0;
}
.welcome-profile-panel:hover
{
	background:#2c3e50;
	color:#fff;
}

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
    }
  
.user-profile
{
	  background:url(../img/one.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;	
	  height:280px;
	  position:relative;
	  padding:0;
	  overflow:hidden;
}
.user-profile:after{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:33%;
	background:rgba(0,0,0,0.5);
}


.card {
    padding-top: 20px;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 40px;
    overflow: hidden;
    text-align: center;
	z-index:1;
}

.card.hovercard .cardheader {
    background: url(../img/two.jpg);
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar-circle{
    position: relative;

}

.card.hovercard .avatar-circle img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}
.card.hovercard .info .title a{color: #fff;}

.card.hovercard .info .desc-profile {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #eee;
    text-overflow: ellipsis;
	border-top:solid 2px #fff;
	display:inline-block;
	margin-top:10px;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.social-btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }
/*..............album style start here.........................*/

.edit-profile
{
	  background:url(../img/one.jpg) no-repeat center center; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;	
	  height:250px;
	  position:relative;
	  padding:0;
	  overflow:hidden;
	  color:#fff;
}
.edit-profile:after{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(0,0,0,0.5);
}

.edit-profile:before{
	content:"";
	width:100%;
	height:60px;
	position:absolute;
	left:0;
	bottom:0;
	background:rgba(255,255,255,0.5);
}
.profile-action-bar{
	
background:rgba(255,255,255,.2);
padding: 3px 0;
}
.edit-profile-pic{
  margin-top: 12px;
  width: 60%;

}
.edit-profile-pic .img-circle{ border: 13px solid rgba(248, 248, 248, 0.14);}
.profile-detail-box{display:block; padding:10px 0;}
.detail-box-first{height:189px;}
.profile-detail-box h3,
.profile-detail-box p,
.profile-detail-box a{ color:#fff;}
.profile-detail-box h3,
.profile-detail-box p{
  padding-top:0;
  margin-top:0;
  margin-bottom:5px;
  padding-bottom:0;
	
}
.section-block{ padding:0; margin:0;}
.profile-nanbar{ border-bottom:solid 1px #ddd; width:100%; margin-bottom:20px; padding:10px 0;}
@media (max-width: 767px) {
.edit-profile{ height:500px;} 
.detail-box-first {height:auto;}
.profile-detail-box ,
.edit-profile .pull-left,
.edit-profile .pull-right,
.edit-profile p,
.edit-profile .edit-profile-pic,
.edit-profile .col-lg-3{ float:none !important; clear:both; text-align:center !important; margin:5px auto;}
.edit-profile:before{ display:none;}
#quote-carousel .carousel-control.left {
    left:-60px !important;
}
.edit-profile-pic{
  margin-top: 12px;
  width: 100%;

}
.edit-profile-pic .img-circle{ border: 6px solid rgba(248, 248, 248, 0.14);}
#quote-carousel .carousel-control.right {
    right:-60px !important;
}
}

@media (max-width: 1200px) {

.profile-step {
width:450px;
margin:0 auto;
}
.profile-step > li > a {
	width: 150px;
}
}
@media (max-width: 480px) {
.profile-step {
width:auto;
margin:0 auto;
}
.profile-step > li,
.profile-step > li > a {
	width:100%;
	display:block;
}
.profile-step > li + li a {
	border: 2px solid #54ba4e;
}
.edit-profile-pic{
  margin-top: 12px;
  width: 150%;

}
.btn-dismiss {
 margin-left: 75%;
}
	
}

.txt-center{ text-align:center !important;}
.albums-heading{ margin:0 0 30px 0;} 
.album-about-us{ border-top:solid 1px #ddd;}
.albums-block,
.album-about-us,
.album-review{ padding:0; margin:0;}
.album-review .carousel-control.left{ left:-100px ;}
.album-review .carousel-control.right{ right:-100px;}

.albums-block .album-thumb{ border-radius:0;  height:229px;}
.album-thumb .splite-album{ }
.splite-album .splite-lg{
	width:60%;
	overflow:hidden;
	float:left;
	border-right: solid 3px #fff;
	overflow:hidden;
	height:219px;
}
.splite-album .splite-lg img{height:100%; width:auto;}
.splite-album .splite-sm img{height:108px; width:100%;}
.splite-album .splite-sm{
	border-bottom: solid 3px #fff;
	width:40%;
	float:right;
	overflow:hidden;
}
.splite-album .splite-sm:last-child{border-bottom:0;}
.album-info{ 
position:absolute;
width:80%;
height:75%;
background:rgba(0,0,0,0.5);
display:none;
margin:auto;
margin:15px;
}
.album-thumb:hover .splite-album{ opacity:.5;}
.album-thumb:hover {background:rgba(0,0,0,.7);}
.album-thumb:hover .album-info,
.album-heading,
.album-detail{
	display:block;
	color:#fff;
	text-align:center;
	padding:0;
	
	
}
/*--------album about style start here---------*/
.album-about-us{padding:20px 0; margin-bottom:50px;}


/*--------Review Carousel style start here---------*/
.album-review{ padding:30px; margin-bottom:30px; background:#ebebec ;}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -100px;
}
#quote-carousel .carousel-control.right {
    right: -100px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #54ba4e;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 150px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.album-contact{ padding:30px; margin-bottom:30px;}
.dashboard-thumb{
  padding:0;
  border-radius:0;
  background:#fafafb;
}
.profile-detail{
	text-align:center;
	padding:10px;
	
}
.profile-detail .welcome-title,
.profile-detail p{
  margin-top:10px; 
  margin-bottom:0;
  text-align:center;
  color:#333;
  
}
.profile-detail .welcome-title{ color:#54ba4e;}
.dashboard-thumb .btn{ margin-top:20px;}
.tag-list a{ margin-bottom:5px;}
.col-centered{
float: none;
margin: 0 auto;
}
.color-mark{
color:#54ba4e;
}
.p-search-header{
background:#333;
padding:30px 0; 
width:100%; 
display:block; 
clear:both;
margin-bottom:40px;
}

.p-search-header .pt-main-heading{
	font-size: 32px;
	font-weight: 400;
	margin-bottom:20px;
	margin-top:0;
	color:#fff;
}
#search-bar{
margin-bottom:20px;
display:block;
padding:0!important ;
}
#search-bar .form-control{

border-color:#54ba4e;
background:#2a2a2a;
background:rgba(255,255,255,0.2);
color:#fff;
line-height:1.32857;
height:auto !important;





}
/* rating style*/


.profile-block{
padding:10px 10px 10px 0;
border:solid 1px #ddd;
margin-bottom:20px;


}

.rating {
    float: left;
}
.rating span {
    font-size: 25px;
    cursor: pointer;
    float: right;
	margin-right:5px;
}

.rating span:hover, .rating span:hover ~ span,
.like-profile:hover,
.like-profile:active,
.like-profile:focus{
    color:#54ba4e;
}

.like-profile{  
font-size: 25px;
line-height:1em;
margin-left:5px;
color:#2c3e50;
}
.profile-rate{
border-top:solid 1px #ddd;
margin-bottom:0;


}
.profile-rate li{
padding:10px 20px;
font-weight:bold;
text-align:center;
}
.profile-rate li:first-child{border-right:solid 1px #ddd; padding-left:0;}
.left-filter >.form-horizontal .control-label{ 
text-align:left;
}
.left-filter {
border:solid 1px #ddd;
background:#eee;
}
.left-filter .form-group {
margin-bottom:30px;
}
.left-filter .form-group .dropdown{
margin-top:10px !important;
}
.profile-block .dev-info{ 
width: 89%;
}
@media (max-width:1024px) {
.p-search-header{background: rgba(0, 0, 0, 0) url("../img/home_banner.jpg") no-repeat scroll center top / 100% auto;}
}
@media (max-width: 767px) {
.profile-block .dev-info{ 
width:98%;
}
.layout-block .row >.col-xs-12{
 margin-bottom:20px;
}
.p-search-header {
    background:#222;
    clear: both;
    display: block;
    padding: 30px 0;
    width: 100%;
}
.search-form .col-xs-12{ margin-bottom: 15px;}
}
/*range slider*/
.xdsoft_custom .xdsoft_range2dslider_runner{
  border-radius:1px;
  margin:0px 0px -4px -8px !important;
  background:rgba(0,0,127,0.5);
  border:1px outset #ddd;
}
.xdsoft_custom .xdsoft_range2dslider_box{
  min-height:5px;
  background:rgba(127,127,127,0.5);
  border-radius:1px;
  border-style:solid;
  margin-bottom:5px;
}
.xdsoft_custom .xdsoft_slider_label{
  background:#54ba4e;
  color: #fff;
  bottom: 22px !important;
}
.xdsoft_custom .xdsoft_slider_label.xdsoft_slider_label_top:after{
  border-top-color:#54ba4e;
}


/*new home style*/
.layout-block{
	padding:30px 0;
	margin:0;
	width:100%;
}
/*.layout-block .pt-main-heading {margin: 20px;}*/
.margin-null{ margin:0;}

.bg-theme-dark{
background:#dadaf1;
}
.bg-theme-black
{
background:#1e1e1e;
color:#fff;
}
.project-store .col-lg-3 i{
width:130px;
margin:10px auto; float:none;
line-height:124px; border-radius:100%;
 border:1px solid #aaa; height:130px; text-align: center; position:relative; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;
}

.project-store .col-lg-3{
text-align:center;	 
}
.project-store .col-lg-3:hover i{
background:#191919;
cursor:pointer; border:1px solid #191919;
}
.project-store .col-lg-3 .thumb-info{
  margin-top:10px;
  text-align: center !important;

}
.project-store .col-lg-3 .thumb-info h3{ 
  color:#fff;
}
.project-store .col-lg-3 .thumb-info p{ 
  line-height:26px;
  color: #999999;
  line-height: 20px;
  text-align: center !important;
}

.hired-list{
padding:0;
margin:0;
list-style:none;
}
.hired-list li{ display:block; padding:0;}
.hired-list li a{
  line-height:26px;
  color:#222;
  font-size:16px;
  display:block;
  padding:5px 0;
}

.hire-button{
margin:30px auto 0 auto;
display:table;
}
.user-count h3{
font-size:36px;
font-weight:bold;
color:#54ba4e;
}
.user-count { color:#333; font-size:20px; padding-bottom:0; margin-bottom:0;}
.user-count i{ font-size:32px; margin-bottom:10px; color:#333;}
.user-count p,
.user-count h3,
.user-count i,
.user-count,
.header-us{
text-align:center;
}
.header-user i,
.header-user h3{ color:#fff;}
.header-user h3 a{ 

padding:5px 10px;
border:solid 1px rgba(255,0255,255,0.3);
margin-bottom: 10px;
display: inline-block;
background: rgba(0,0,0,0.3);
border-radius: 3px;
}


.hire_profile .img-responsive{ height:270px; width:100%; }

.bg-theme-black .pt-main-heading{ color:#fff;}

/* news style for home*/

.our-user-bg {
    background-image: url("../img//success-stories-bg.jpg"); 
}
.background-bg {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
}
.background-bg .overlay-section {
    background-color: rgba(255, 255, 255, 0.6);
}

.section-padding {
    padding-bottom: 100px;
    padding-top: 100px;
}
.our-user .user-box .number {
    font-size: 4.5em;
    font-weight: 800;
    line-height: 75px;
}
.our-user .user-box .icon {
    font-size: 4.5em;
}
.our-user .user-box {
    color: #48B45F;
}

/*light-aqua-theme*/
.bg-theme-aqua{
  background:#f0f4f4 ;
  color:#333;
	}
.project-store .col-lg-3{ 
background:#fff;
 border:solid 1px rgba(0,0,0,0.1);
  box-sizing: border-box;
 
 }
  .project-store .col-lg-3{padding:0 !important;}
 .project-store .col-lg-3 .thumb-block { 
	width:100%;
	height:170px;
	background:#fafafa; 
	overflow:hidden;
 }
 .project-store .col-lg-3 .thumb-block img{ max-width:100%; opacity:0.75; min-height:170px}
.project-store .col-lg-3 i{
	width:130px;
	margin:10px auto; float:none;
	line-height:124px; border-radius:100%;
	border:1px solid #fff; height:130px; text-align: center; position:relative; transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;
	background:#fff;
	color:#48B45F;
  }

.project-store .col-lg-3{
text-align:center;	 
}
.project-store .col-lg-3:hover i{
background:#191919;
cursor:pointer; border:1px solid #191919;
}
.project-store .col-lg-3 .thumb-info{
  margin-top:10px;
  text-align: center !important;
  padding:10px;
  height:120px;
  overflow:hidden;

}
.project-store .col-lg-3 .thumb-info h3{ 
  color:#fff;
}
.project-store .col-lg-3 .thumb-info p{ 
  line-height:26px;
  color: #333;
  line-height: 20px;
  text-align: center !important;
}



/*---------shiv--------*/
.home_slider_fnd .form-control{ background:none; border:1px solid #54ba4e; color:#fff;}
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;  min-height:400px; position:relative; overflow:hidden;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}


.not-fullscreen {
    height:50%;
}

.background-overlay-bg {
    background-color: rgba(0, 0, 0, 0.8); position:absolute; top:0; right:0; left:0; bottom:0;
}

.hire_profile .well{ background:none; padding:0;}
.carousel-control {
  padding-top:10%; opacity:0.6; 
  width:5%;
}
.left.carousel-control{ left: -7%;}
.right.carousel-control{ right: -7%;}
.hire_profile .carousel-control i.fa{ color:#54BA4E; }

.hire_designer_bg{ background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #d5d5d5;}
