<form action="<?php echo $action?>" method="POST">    
    <div style="float:right;margin-top:-5px;">
        <input type="text" name="search" id="search"/><input type="submit" value="Search"/>
    </div>
</form>    
