<?php  
  $front_home_asset_path = '/public/front/dashboard/';
  //$profile_img_path = '/public/images/photographer/profile';
  $state = rand(1000000,99999999);
  $_SESSION['gstate'] = $state;
  $logged_in_email = '';
  if(isset($_SESSION['user']) && $_SESSION['user'] != "") {
    $logged_in_email = $_SESSION['user']->email;
  }   
  

  $request = new \Zend\Http\PhpEnvironment\Request();
  $httpHost = $request->getServer('HTTP_HOST');   
?>
<!DOCTYPE html>
<html lang="en">
<head>
<script>
    var site_url = "<?php echo 'http://'.$httpHost;?>";
  </script>
  <base href="<?php echo "http://".$httpHost; ?>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Ownrock | Dashboard</title>
  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="<?php echo $front_home_asset_path;?>css/bootstrap.css" rel="stylesheet">
  <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  <!-- Custom CSS -->
  <link href="<?php echo $front_home_asset_path;?>css/freelancer.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" href="<?php echo $front_home_asset_path;?>css/main.css">
  <link href="<?php echo $front_home_asset_path;?>css/main_photographer.css" rel="stylesheet">
  <link href="<?php echo $front_home_asset_path;?>font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="<?php echo $front_home_asset_path;?>css/style.css" media="all" rel="stylesheet">

  <script src="<?php echo $front_home_asset_path;?>js/custom.js"></script> 
  
  <!-- Bootstrap Core JavaScript 
  <script src="<?php //echo $front_home_asset_path;?>js/bootstrap.min.js"></script>--> 

  <!-- Plugin JavaScript --> 
  <script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/jquery.easing.min.js"></script> 

 
 



<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
<!-- Navigation --> 
<div id="wrapper">
  <div class="overlay" ></div>
  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-brand">
        <a href="">OWN ROCK </a>
      </li>
      <li><a href="/user/photographer/dashboard">Dashboard</a></li>
      <li><a href="/user/photographer/profile">Profile</a></li>
      <li><a href="/user/photographer/editprofile">Edit Profile</a></li>
      <li><a href="/user/photographer/addalbum">Create Album</a></li>
      <li><a href="/user/photographer/profile">View Albums</a></li>
      <li><a href="/user/photographer/allprofiles">Other Photogrophers</a></li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <!-- Header -->
    

    <header>
      <div class="container-full menuset-home">
        <div class="container" style="padding:0px">
          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"> </span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="container-fluid"> <a class="navbar-brand y-brand" href="">Own Rock</a>
              <div  class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <?php if(isset($logged_in_email) && $logged_in_email != ""){ ?>   
                    <li class="dropdown">
                      <a href="/user/home/dashboard" class="dropdown-toggle user-loged" data-toggle="dropdown" role="button" aria-expanded="false"><?php echo $_SESSION['user']->first_name; ?> 
                        <?php 
                          if($httpHost=="localhost")
                            $profile_img_path = '/ownrock/public/images/photographer/profile/';
                          else
                            $profile_img_path = '/public/images/photographer/profile/';
                          if($_SESSION['user']->profilepic=="")
                          {
                              $_SESSION['user']->profilepic='58345_pp_profile.jpg';
                          }
                          $img_src = $profile_img_path . str_replace('_pp_','_tn120x120_',$_SESSION['user']->profilepic);
                        ?>
                        <img class="img-circle pull-left" src="<?php echo $img_src;?>" width="400" height="400"> <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/user/photographer/dashboard">View Profile</a></li>
                        <li><a href="/user/photographer/profile">Edit Profile</a></li>
                        <li><a href="<?php echo $this->url('user/home', array('action' => 'logout'))?>">Logout</a></li>
                      </ul>
                    </li>
                    <li>
                    </li>
                  <?php } else {?>
                    <li><a data-toggle="modal" data-target="#myModal1" href="#myModal">SIGN UP</a></li>
                    <li><a data-toggle="modal" data-target="#myModal" href="#myModal" onClick="$('#forgot-password').hide();$('#login-block').show();">LOG IN</a></li>
                    <li style="display:none;"><a id="reset" data-toggle="modal" data-target="#myModalreset" href="#myModalreset">Reset</a></li> 
                  <?php } ?>  
                </ul>
              </div>
            </div>
            <!----> </nav>
        </div>
      </div>
      <!--<div class="container text-center y-set-top">
        <div class="row">
          <div class="col-lg-12">
            <div class="avatar text-center"> 
             <?php
              if($merchantinfo->profilepic=="")
              {
                  ?>
                  <img class="img-responsive" style="border-radius: 50%;" src="<?php //echo $aimg_path;?>58345_tn120x120_profile.jpg" alt="Merchant Picture" width="150" style="border-radius: 50%;">
              <?php } else {?>
            
              <img class="img-responsive" style="border-radius: 50%;" src="<?php //echo $aimg_path . str_replace("_pp_","_tn120x120_",$merchantinfo->profilepic);?>" alt="Merchant Picture" width="150" style="border-radius: 50%;">
              <?php } ?>
            </div>
            <div style="margin-top: 10px;">
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> <i class="fa fa-pencil-square-o"></i> View or Edit your profile Image </button>
            </div>
            <div class="intro-text"> <span class="name"><?php //echo $merchantinfo->name;?></span>
              <hr class="star-light">
              <span class="skills"><?php //echo $merchantinfo->profession;?> | <?php //echo $merchantinfo->rate?> INR</span><br />
            </div>
          </div>
        </div>
      </div>-->
    </header>
