 @import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");
/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
	overflow-x: hidden;
}
p {
	font-size: 16px;
	text-align: justify;
}
p.small {
	font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #54ba4e;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Lato", arial, sans-serif;
	font-weight: 600;
}
hr.star-light, hr.star-primary {
	margin: 25px auto 30px;
	padding: 0;
	max-width: 250px;
	border: 0;
	border-top: solid 5px;
	text-align: center;
}
hr.star-light:after, hr.star-primary:after {
	content: "\f005";
	display: inline-block;
	position: relative;
	top: -.8em;
	padding: 0 .25em;
	font-family: FontAwesome;
	font-size: 2em;
}
hr.star-light {
	border-color: #fff;
}
hr.star-light:after {
	color: #fff;
	background-color: rgba(186, 179, 160, 0.19);
}
hr.star-primary {
	border-color: #2c3e50;
}
hr.star-primary:after {
	color: #2c3e50;
	background-color: #fff;
}
.img-centered {
	margin: 0 auto;
}
header {
	text-align: center;
	color: #fff;
	background: #54ba4e;
	background: url(../img/hero-bg.png) no-repeat scroll;
	background-size: cover;
}
header .container {
	padding-top: 70px;
	padding-bottom: 30px;
}
header img {
	display: block;/*margin: 0 auto 20px;*/
}
header .intro-text .name {
	display: block;
	text-transform: uppercase;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Lato", arial, sans-serif;
	font-size: 2em;
	font-weight: 700;
}
.dropcap {
	font-size: 3em;
}
header .intro-text .skills {
	font-size: 1.25em;
	font-weight: 300;
}
.extra {
	border-bottom: #E7E7E7 thick solid;
}
.selected img {
	opacity: 0.5;
}
 @media(min-width:768px) {
header .container {
	padding-top: 100px;
	padding-bottom: 100px;
}
header .intro-text .name {
	font-size: 4.75em;
}
header .intro-text .skills {
	font-size: 1.75em;
}
}
 @media(min-width:768px) {
.navbar-fixed-top {
	padding: 8px 0;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
}
.navbar-fixed-top .navbar-brand {
	font-size: 2em;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.navbar-fixed-top.navbar-shrink {
	padding: 10px 0;
}
.navbar-fixed-top.navbar-shrink .navbar-brand {
	font-size: 1.5em;
}
}
.navbar {
	text-transform: uppercase;
	/*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-family: "Lato", arial, sans-serif;
	font-weight: 700;
}
.navbar a:focus {
	outline: 0;
}
.navbar .navbar-nav {
	letter-spacing: 1px;
}
.navbar .navbar-nav li a:focus {
	outline: 0;
}
.navbar-default, .navbar-inverse {
	border: 0;
	background: #000;
}
section {
	padding: 100px 0;
}
section h2 {
	margin: 0;
	font-size: 3em;
}
section.success {
	color: #2C3E50;
	/*background: #18bc9c;*/
	background: #FFE9C8;
}
 @media(max-width:767px) {
section {
	padding: 75px 0;
}
section.first {
	padding-top: 75px;
}
}
#portfolio .portfolio-item {
	right: 0;
	margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	/* background: rgba(24,188,156,.9);*/
	background: rgba(26, 36, 47, 0.90);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3, #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 0;
}
#portfolio * {
	z-index: 2;
}
 @media(min-width:767px) {
#portfolio .portfolio-item {
	margin: 0 0 30px;
}
}
.btn-outline {
	margin-top: 15px;
	border: solid 2px #B73A3A;
	font-size: 20px;
	color: #B73A3A;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
	border: solid 2px #fff;
	color: #54ba4e;
	background: #fff;
}
.btn-outline1 {
	margin-top: 15px;
	border: solid 2px #000;
	font-size: 20px;
	color: #000;
	background: 0 0;
	transition: all .3s ease-in-out;
}
.btn-outline1:hover, .btn-outline1:focus, .btn-outline1:active, .btn-outline1.active {
	border: solid 2px #000;
	color: #54ba4e;
	background: #000;
}
.floating-label-form-group {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #eee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	font-size: 1.5em;
	background: 0 0;
	box-shadow: none!important;
	resize: none;
}
.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: .85em;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease;
}
 .floating-label-form-group::not(:first-child) {
 padding-left: 14px;
 border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1;
}
.floating-label-form-group-with-focus label {
	color: #54ba4e;
}
form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee;
}
footer {
	color: #fff;
}
footer h3 {
	margin-bottom: 30px;
	color: #fff;
	text-align: left;
}
footer .footer-above {
	padding-top: 50px;
	background-color: #2c3e50;
}
footer .footer-col {
	margin-bottom: 50px;
}
footer .footer-below {
	padding: 25px 0;
	background-color: #233140;
}
.btn-social {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}
.btn:focus, .btn:active, .btn.active {
	outline: 0;
}
.scroll-top {
	z-index: 1049;
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
}
.scroll-top .btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 28px;
}
.scroll-top .btn:focus {
	outline: 0;
}
.portfolio-modal .modal-content {
	padding: 100px 0;
	min-height: 100%;
	border: 0;
	border-radius: 0;
	/*text-align: center;*/
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.portfolio-modal .modal-content h2 {
	margin: 0;
	font-size: 3em;
}
.portfolio-modal .modal-content img {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
	margin: 30px 0;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}
.portfolio-modal .close-modal:hover {
	opacity: .3;
}
.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #2c3e50;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #2c3e50;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;
}
/****************yaman css start************************/

.location {
	margin-top: 25px;
	margin-bottom: 25px;
}
.tran-black {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.31);
	font-size: 20px;
	margin: 0px 7px;
	padding: 5px 7px;
	border: 1px solid rgba(209, 209, 209, 0.33);
	font-weight: normal;
	color: #CECECE;
}
.location a:hover {
	cursor: pointer
}
.down-arrow-circle {
	margin: auto;
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	z-index: 11;
	width: 60px;
	height: 60px;
	left: 0px;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.6);
	transition: border-color 200ms ease-in-out 0s;
}
.down-arow {
	position: absolute;
	margin: auto;
	color: #FFF;
	bottom: 8px;
	top: 11px;
	left: 0px;
	right: 0px;
	height: 10px;
	font-size: 28px !important;
}
.animated {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
 @-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
-webkit-transform: translateY(0);
}
 40% {
-webkit-transform: translateY(-20px);
}
 60% {
-webkit-transform: translateY(-10px);
}
}
 @keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
}
 40% {
transform: translateY(-20px);
}
 60% {
transform: translateY(-10px);
}
}
.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}
.y-set-top {
	background: none !important;
	display: block !important;
}
.rate {
	margin-top: 30px;
	margin-bottom: 18px;
}
.avatar {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: 13px solid rgba(248, 248, 248, 0.14);
}
.y-btn {
	color: #FFF;
	background-color: #798D8F;
	border-color: #74898A;
}
.y-brand {
	font-size: 37px;
	text-shadow: 1px 1px #080707;
}
/****************************Set Profile css*****************************************/

.y-set-top {
	padding-top: 0px !important;
	padding-bottom: 20px !important;
}
.pro-section {
	padding: 38px 0px;
}
.pro-hr {
	max-width: 450px;
	margin: 38px auto;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.y-file {
	background-color: #2385CE;
	width: 100%;
}
/****************************Set Profile css*****************************************/






/****************************Set home css*****************************************/


.home-bg {
	text-align: center;
	color: #fff;
	background: #54ba4e;
	background: url(../img/home-bg.jpg) no-repeat scroll;
	background-size: cover;
}
.home-text p {
	text-align: center !important;
	font-size: 29px;
	line-height: 37px;
	font-family: "Raleway";
	font-weight: 300;
}
.home-text {
	background-color: rgba(0, 0, 0, 0.48);
	padding: 36px;
	margin: 100px 0px;
	border: 1px solid #AAA;
}
.home-text h1 {
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 60px;
}
.menuset-home {
	background-color: #000;
}
.menuset-home .navbar {
	margin-bottom: 0px;
}
.btn-plain-alt {
	min-width: 140px;
	padding: 15px 25px;
	box-shadow: none;
	background-color: transparent !important;
	background-image: none !important;
	color: #FFF !important;
	text-shadow: 0px -1px transparent !important;
	font-weight: bold !important;
	font-size: 22px !important;
	border-radius: 5px !important;
	display: inline-block;
	border: medium none;
	line-height: 18px;
	cursor: pointer;
	text-align: center;
	background-clip: border-box;
	border: 2px solid #FFF;
	margin: 0px 8px;
}
.set-serach {
	background-color: #E9E9E9;
	border-bottom: 1px solid #DBD6D6;
	border-top: 1px solid #DBD6D6;
}
.set-serach .container {
	padding-top: 23px;
	padding-bottom: 23px;
}
.y-home-form .form-control {
	height: 53px;
}
.form-inline .form-group {
	margin-right: -5px;
}
.btn-red {
	background-color: #798D8F;
	border-color: #74898A;
	border-width: 0px 0px 1px !important;
	border-style: none none solid !important;
	box-shadow: 0px -1px #278C96 inset;
	color: #FFF !important;
	font-weight: 700 !important;
	text-shadow: 0px 1px #798D8F;
	height: 48px !important;
	padding: 0px 45px;
}
.y-h2-home {
	color: #C3C3C3;
}
.dev-info {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.64);
	bottom: 0px;
	width: 92.5%;
	color: rgb(255, 255, 255);
	margin: 0px;
	display: block;
	padding: 0px 11px
}
.dev-info h3 {
	color: #fff;
	margin: 8px 0px;
}
.dipi {
	margin-bottom: 0px;
	margin-left: 5px;
}
.dipi span {
	position: relative;
	right: 5px
}
.pro-pic {
	width: 70px;
	height: 70px;
	float: right;
	margin-top: -23px;
	border: 1px solid #999898;
}
.dev-info strong {
	background-color: rgba(138, 138, 138, 0.69);
	padding: 3px;
}
.marj-row {
	margin-bottom: 30px;
}
.y-lg {
	width: 75%;
	height: 50px;
	color: #C6C6C6;
	background-color: #FFF;
	border-color: #E0E0E0;
}
.y-group {
	width: 100%;
	height: 50px;
}
.y-lg2 {
	height: 50px;
	color: #C6C6C6;
	background-color: #FFF;
	border-color: #E0E0E0;
}
.user-loged img {
	width: 50px !important;
	height: 50px !important;
	position: relative;
	margin-right: 5px;
	margin-top: -12px;
}
.search {
	background-color: rgba(0, 0, 0, 0.48);
	padding: 4px 0px 8px !important;
	margin: 22px 0px 11px;
	border: 1px solid #AAA;
}
.about {
	text-align: center;
	color: #FFF;
	background: transparent url("../img/about.jpg") no-repeat scroll 0% 0% / cover;
	min-height: 496px;
	margin-bottom: 22px;
}
.about h1 {
	font-size: 44px;
	margin-top: 78px;
	color: #5A5A5A;
}
.about p {
	color: #5A5A5A;
}
.delight h2 {
	font-size: 44px;
	margin-top: 20px;
}
.team {
	background: transparent url("../img/teams.jpg") no-repeat scroll 0% 0% / cover;
	min-height: 500px;
	margin-top: 74px;
	margin-bottom: 48px;
}
.team {
	padding: 20px 0px
}
.team h2 {
	color: #fff;
	font-size: 60px;
}

.team p{ text-align:center; color:#fff;}



.team  strong{color: rgb(255, 255, 255);
font-size: 22px;}


.testi h2{font-size: 44px;}

.contact{background: transparent url("../img/contact.jpg") no-repeat scroll 0% 0% / cover;
	min-height: 230px;}


.con-inner{
background-color: rgba(0, 0, 0, 0.48);
padding: 36px;
margin: 20px 0px;
border: 1px solid #AAA;}

.con-inner h1 {
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 60px;
}


.conti p{ text-align:center; margin-bottom:0px;}


.iinks{ text-align:left; list-style-position: outside;
padding-left: 0px;}

.iinks li{ list-style:none; margin-bottom:10px}


.iinks li a{ color:#fff;}

.reste input[type=password]{ margin-bottom:32px}

.reste{ min-height:335px;}

.inputosaurus-container{width: 100% !important; border: 0px !important;}
/****************************Set home css*****************************************/
