 <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>3481 Melrose Place<br>
                Beverly Hills, CA 90210</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li> <a href="https://www.facebook.com/ownrockprivate" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-facebook"></i></a> </li>
                <li> <a href="https://plus.google.com/u/1/110906240436819437853/about" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a> </li>
                <li> <a href="https://twitter.com/rock_own" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-twitter"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a> </li>
                <li> <a href="#" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a> </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About Us</h3>
              <p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"> Copyright &copy; Your Website 2014 </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div id="login-block" class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Log in with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Log in with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                        
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="loginemail" placeholder="Email..." class="form-username form-control" id="loginemail">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-password">Password</label>
              <input type="password" name="loginpassword" placeholder="Password..." class="form-password form-control" id="loginpassword">
            </div>
          <div class="form-group">
            <div class=" col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox"><font style="font-size:14px;">Remember me</font>
                  <span style="padding:0 0 0 30px;font-size:14px;"><a href="javascript:void(0);" onClick="$('#forgot-password').show();$('#login-block').hide();">Forgot Password?</a></span>
                </label>
                </div>
            </div>
          </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_login()" id="loginBtn">
              <span class="login">Log In</span>
            </button>
          </form>
        </div>
        <div id="forgot-password" class="row centered" style="display:none;">
          <span id="sent-msg" style="display:none;">Forgot password link has been sent to your email .. please check your email.</span>
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="forgetemail" placeholder="Email..." class="form-username form-control" id="forgetemail">
            </div>
            
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_email();" id="forgetBtn">
              <span class="login">Send</span>
            </button>
          </form>
        </div>
        </div>
      <div class="modal-footer">
        Don't have account ?<a data-toggle="modal" data-target="#myModal1" href="#myModal">&nbsp;Sign Up</a>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!-- Modal FOR SIGN uP -->
  <div class="modal fade" id="myModal1" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row centered">
          <p style="margin:4px 2px 30px 0;">
            <a class="btn btn-primary btn-lg btn-facebook" href="javascript:void(0);" onclick="FnFBLogin();"  role="button">
              <span class="icon-container-fb"><i class="fa fa-facebook fa-lg"></i></span>
                Sign Up with Facebook
            </a>
          </p>
          <p style="margin:-15px 0 10px 0;">
            <a class="btn btn-primary btn-lg" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email&state=<?php echo $state?>&redirect_uri=http://<?php echo $httpHost;?>/user/home/googlelogin&response_type=code&client_id=94792287589-1alpa58iju7ol8qhamgj3fnupg5u8s1l.apps.googleusercontent.com&access_type=offline" target="_blank" role="button">
              <span class="icon-container-g"><i class="fa fa-google-plus fa-lg"></i></span>
              <span class="text">Sign up with Google+</span>
            </a>
          </p>
          <p style="margin:0 0 8px 0px">Or</p>
          <p style="margin:0 0 8px 0px;display:none" id="loader_img_reg">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
          <form role="form" action="/user/home/register" method="post" class="register-form col-sm-12" name="reg-form" id="reg-form">
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <input type="text" name="name" placeholder="Enter Name..." class="form-username form-control" id="name">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-username">Email Address</label>
                <input type="text" name="email" placeholder="Enter Email..." class="form-username form-control" id="email">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Enter Password</label>
              <input type="password" name="password" placeholder="Enter Password..." class="form-password form-control" id="password">
            </div>
            <div class="form-group">
              <label class="sr-only " for="form-password">Confirm Password</label>
              <input type="password" name="confirm_password" placeholder="Confirm Password..." class="form-password form-control" id="confirm_password">
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="tnc" id="tnc"><font style="font-size:14px;">By signing up, I agree to Ownrock's Terms of Service and Privacy Policy</font>
                </label>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_register()" id="regBtn"><span class="login">Sign Up</span></button>
          </form>
        
            </div>
        </div>
        <div class="modal-footer">
          Already an ownrock member ?<a data-toggle="modal" data-target="#myModal" href="#myModal" data-dismiss="modal">&nbsp;Sign In</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

<!-- Header -->

<!-- /.modal --> 
<!-- Bootstrap core JavaScript jQuery--> 
  
  
  <!-- Bootstrap Core JavaScript 
  <script src="<?php //echo $front_home_asset_path;?>js/bootstrap.min.js"></script>--> 

  <!-- Plugin JavaScript --> 
  <script src="<?php echo $front_home_asset_path;?>js/classie.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/cbpAnimatedHeader.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/jquery.easing.min.js"></script> 
  <script src="<?php echo $front_home_asset_path;?>js/custom.js"></script> 

    





<script> 
function valid_profile()
{
  //alert("hii");
  var name          = $("#name").val();
  var phone         = $("#phone").val();
  var address    = $("#address").val();
  var location       = $("#location").val();
  var full_country  = $("#full_country").val();
  var price         = $("#price").val();
  var tagline         = $("#tagline").val();
  var description       = $("#description").val();
  var equipment       = $("#equipment").val();
  var product_and_services   = $("#product_and_services").val();
  
  //alert(phone.length);
  if(full_country=="")
  {
     $("#location").val("");
  }

  if(name=="" || phone=="" || address=="" || location=="" || price=="" ||tagline =="" || equipment=="" ||product_and_services =="" || description=="")
  {
    //alert("Please fill all the required fields.");
    $("#error").html("Please fill all the required fields.");
    return false;
  }
  else
  {
    if(phone.length!=10 || isNaN(phone))
    {
      $("#error").html("Telephone no. is invalid.");
      return false;
    }

    if(isNaN(price))
    {
      $("#error").html("Price should be Numeric .");
      return false;
    }
    
    $("#PhotographerForm").submit();
  }
}
</script>
<script src="<?php echo $front_home_asset_path;?>js/freelancer.js"></script> 
<script>
  $('#myCarousel').carousel({
    interval: 4000
});

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
  var id_selector = $(this).attr("id");
  var id = id_selector.substr(id_selector.length -1);
  id = parseInt(id);
  $('#myCarousel').carousel(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel').on('slid', function (e) {
  var id = $('.item.active').data('slide-number');
  id = parseInt(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});
</script> 
<script>

// handles the carousel thumbnails
$('[id^=carousel-selector-]').click( function(){
  var id_selector = $(this).attr("id");
  var id = id_selector.substr(id_selector.length -1);
  id = parseInt(id);
  $('#myCarousel1').carousel(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $(this).addClass('selected');
});

// when the carousel slides, auto update
$('#myCarousel1').on('slid', function (e) {
  var id = $('.item.active').data('slide-number');
  id = parseInt(id);
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});
</script> 

<script>

/*$(document).scroll(function(e){
  
  var now_top = $(".for-making-menu").offset().top - $(window).scrollTop();
  console.log(now_top);
    var scrollTop = $(document).scrollTop();
    if(now_top <0){
     
        $('.navbar').removeClass('navbar-static-top').addClass('navbar-fixed-top');
    } else {
        $('.navbar').removeClass('navbar-fixed-top').addClass('navbar-static-top');
    }
});*/

</script> 

<script>
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
<script src="<?php echo $front_home_asset_path;?>js/freelancer.js"></script>

<!--  City Auto Suggesstion -->
<link href="<?php echo $front_home_asset_path;?>css/jquery-ui.css" media="all" rel="stylesheet">
<script src="<?php echo $front_home_asset_path;?>js/jquery-ui.min.js"></script>
<style type="text/css">
.ui-menu .ui-menu-item a,.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
  text-align:left;
  font-size:14px;
  }
.ui-autocomplete-loading { background: white url("/public/images/loader.gif") right center no-repeat; }
</style>
 
<script type="text/javascript"> 
jQuery(function () 
 {
   jQuery("#full_country").autocomplete({
    source: function (request, response) {
     jQuery.getJSON(
      "http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
      function (data) {
       response(data);
      }
     );
    },
    minLength: 3,
    select: function (event, ui) {
     var selectedObj = ui.item;
     jQuery("#full_country").val(selectedObj.value);
     jQuery("#location").val(selectedObj.value);    


    //getcitydetails(selectedObj.value);
     return false;
    },
    open: function () {
     jQuery(this).removeClass("ui-corner-all").addClass("ui-corner-top");
    },
    close: function () {
     jQuery(this).removeClass("ui-corner-top").addClass("ui-corner-all");
    }
   });
   jQuery("#full_country").autocomplete("option", "delay", 100);
  });
</script> 
<!--  City Auto Suggesstion -->

<!--  Multiple image upload for photographer -->


<!--  Multiple image upload for photographer -->
</body>
</html>




