<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">Add new project </h2>
        <hr />
         <?php 
            //echo '<pre>';print_r($result_merchant);exit;
            $percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }
        ?>
          <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <form id="home_search" class="form-horizontal" method="POST" action="/zend/public/user/home/addnewproject" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Project Name goes here" name="project_name" id="project_name" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                    <input class="form-control" name="user_name" id="user_name" value="<?php echo $result_merchant->name;?>" type="hidden">
                    <input class="form-control" placeholder="Project Name goes here" name="uif" id="uif" type="hidden" value="fr">
                </div>
            </div>
<!--            <div class="form-group">
                <label class="col-sm-2 control-label">Project Shortcut</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Project Link goes here" name="project_shortcut" id="project_shortcut" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">Website URL</label>
                <div class="col-sm-10">
                    <input class="form-control" placeholder="Website url goes here" name="website_url" id="website_url" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Skills Used</label>
                <div class="col-sm-10">
                    <select  class="input-lg tagsinput form-control input-search2 select2-offscreen" name="e2[]" id="e2" multiple="multiple" placeholder="What skills are you looking for?" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <?php foreach($result_skills as $sk=>$sv) {?>
                            <option value="<?php echo $sk;?>"><?php echo $sv['skill'];?></option>
                        <?php } ?>
                    </select>
                    <div class="row">
                      <div class="col-xs-12"> <!--<span class="pull-left label-home">I'm looking for:</span>-->
                            <ul class="list-inline skills-home">
                               <?php foreach($result_skills as $sk1=>$sv1) {?>
                                    <li><a href="javascript:select(<?php echo $sk1 ?>,'<?php echo $sv1['skill'] ?>');"><?php echo $sv1['skill'] ?></a></li>
                                <?php } ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Industry</label>
                <div class="col-sm-10">
                    <?php 
                        $array_industry = array(
                            'web_designing'=>'Web Designing',
                            'graphic_designing'=>'Graphic Designing',
                            'software_developement'=>'Software Developement',
                            'photography'=>'Photography',
                            'fine_art'=>'Fine Art',
                            );
                    ?>
                    <select class="form-control" name="industry" id="industry" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''">
                        <?php foreach($array_industry as $k=>$v){ ?>
                        <option value="<?php echo $k;?>"><?php echo $v;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Project Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="about" id="about" required onfocus="this.style.borderColor='#FF0000';" onchange="if(this.value != null)this.style.borderColor=''" maxlength="700" minlength="200"></textarea>
                    <p class = "pull-right" >(Min 200 to Max 700) Text Entered :  <span id = "characters">0</span></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Approximate Cost</label>
                <div class="col-sm-10">
                    <?php 
                        $array_cost = array(
                            '2000-3000'=>'2000-3000',
                            '4000-6000'=>'4000-6000',
                            '7000_10000'=>'7000-10000',
                            '11000_20000'=>'11000-20000',
                            'above_21000'=>'21000 and above',
                            );
                    ?>
                    <select class="form-control" name="cost" id="cost">
                        <?php foreach($array_cost as $k1=>$v1){ ?>
                        <option value="<?php echo $k1;?>"><?php echo $v1;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Approximate Time</label>
                <div class="col-sm-10">
                    <?php 
                        $array_time = array(
                            'less_than_2_months'=>'less than 2 months',
                            '4_to_6_months'=>'4 to 6 months',
                            '1_year'=>'1 year',
                            '2_years'=>'2 years',
                            '3_years'=>'3 years',
                            'above_3_years'=>'above 3 years',
                            );
                    ?>
                    <select class="form-control" name="time" id="time">
                        <?php foreach($array_time as $k2=>$v2){ ?>
                        <option value="<?php echo $k2;?>"><?php echo $v2;?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <?php for($i=1;$i<6;$i++){?>
              <div class="form-group">
                <label class="col-sm-2 control-label">Upload Pic <?php echo $i?></label>
                <div class="col-sm-10">
                  <input id="fileupload<?php echo $i?>" type="file" name="fileupload<?php echo $i?>"/>
                </div>
                </div>
                <div class="form-group" id="pr_<?php echo $i?>" style="display:none">
                <label class="col-sm-2 control-label">Preview</label>
                <div class="col-sm-10">
                    <div id="dvPreview<?php echo $i?>"></div>
                </div>
              </div>
            <?php } ?>
            
            <div class="form-group text-center">
                <input type="submit" class="btn btn-success" value="Add" onclick="submitFrm()">
            <button type="button" class="btn btn-danger" onclick="history.back(-1)">Cancel</button>
            </div>
            
        </form>
    </div>
</section>

<script type="text/javascript">
function submitFrm(){
    document.getElementById('home_search').submit();
}
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script language="javascript" type="text/javascript">
        $(function () {
    
        var imagePreview = "height:100px;width: 100px";
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
        $("#fileupload1").change(function () {
            $("#dvPreview1").html("");
            if (regex.test($(this).val().toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                        $("#dvPreview1").show();
                        $("#dvPreview1").append("<img />");
                        var reader1 = new FileReader();
                        reader1.onload = function (e) {
                            $("#dvPreview1 img").attr("src", e.target.result);
                            $("#dvPreview1 img").attr("style", imagePreview);
                            }
                        reader1.readAsDataURL($(this)[0].files[0]);
                        $('#pr_1').show();
                        } else {
                        alert("This browser does not support FileReader.");
                        }
            } else {
                alert("Please upload a valid image file.");
            }
                    });
        $("#fileupload2").change(function () {
            $("#dvPreview2").html("");
            if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview2").show();
                        $("#dvPreview2").append("<img />");
                        var reader2 = new FileReader();
                        reader2.onload = function (e) {
                            $("#dvPreview2 img").attr("src", e.target.result);
                            $("#dvPreview2 img").attr("style", imagePreview);
                        }
                        reader2.readAsDataURL($(this)[0].files[0]);
                        $('#pr_2').show();
                } else {
                        alert("This browser does not support FileReader.");
                }
            } else {
                alert("Please upload a valid image file.");
            }
            });
        $("#fileupload3").change(function () {
            $("#dvPreview3").html("");
            if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview3").show();
                        $("#dvPreview3").append("<img />");
                        var reader3 = new FileReader();
                        reader3.onload = function (e) {
                            $("#dvPreview3 img").attr("src", e.target.result);
                            $("#dvPreview3 img").attr("style", imagePreview);
                        }
                        reader3.readAsDataURL($(this)[0].files[0]);
                        $('#pr_3').show();
                    } else {
                        alert("This browser does not support FileReader.");
                    }
            } else {
                alert("Please upload a valid image file.");
            }
        });
        $("#fileupload4").change(function () {
            $("#dvPreview4").html("");
            if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview4").show();
                        $("#dvPreview4").append("<img />");
                        var reader4 = new FileReader();
                        reader4.onload = function (e) {
                            $("#dvPreview4 img").attr("src", e.target.result);
                            $("#dvPreview4 img").attr("style", imagePreview);
                        }
                        reader4.readAsDataURL($(this)[0].files[0]);
                        $('#pr_4').show();
                    } else {
                        alert("This browser does not support FileReader.");
                    }
            } else {
                alert("Please upload a valid image file.");
            }
        });
        $("#fileupload5").change(function () {
            $("#dvPreview5").html("");
            if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview5").show();
                        $("#dvPreview5").append("<img />");
                        var reader5 = new FileReader();
                        reader5.onload = function (e) {
                            $("#dvPreview5 img").attr("src", e.target.result);
                            $("#dvPreview5 img").attr("style", imagePreview);
                        }
                        reader5.readAsDataURL($(this)[0].files[0]);
                        $('#pr_5').show();
                    } else {
                        alert("This browser does not support FileReader.");
                    }
            } else {
                alert("Please upload a valid image file.");
            }
        });
        
});
</script>

<!--Description text area -->
<script>
$('#about').keyup(function() {
    var cs = $(this).val().length;
    $('#characters').html(cs);
});
</script>