<?php 
    $aimg_path = '/zend/public/images/advertiserimage/';
?>
<section class="pro-section" style="padding: 38px 0px;">
    <div class="container">
        <h2 class="text-center">View / Edit Existing Project </h2>
        <hr />
        <?php 
            //echo '<pre>';print_r($result_merchant);exit;
            $percent = 0;
            if($result_merchant->profile_progress==1)
            {
                $percent = $percent + 0.1;
            }
            if($result_merchant->total_projects>0)
            {
                $percent = $percent + (0.15 * $result_merchant->total_projects);
            }
            if($percent>=1.0)
            {
                $percent=1.0;
            }
            if($percent>0)
            {
                $show_percent = $percent*100;
            }
        ?>
        <div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>

        <hr class="pro-hr">
        <span class="btn btn-default btn-file y-file" style="width:auto;"> 
            <a href="/zend/public/user/home/addnewproject" style="color:#ffffff">Add New Projects</a>
            <!--<input type="file">-->
        </span>

        <br><br>
        <?php 
        if($total_projects > 0) {?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Projects<small> Drag and Drop to re order your projects</small></h4>
            </div>
            <style>
  #sortable { list-style-type: none;}
  #sortable li { margin: 3px 3px 3px 0; padding: 0px 25px 5px 0px ; float: left; text-align: center; width:33%}
  </style>
            
            <div class="panel-body">
                <form action="/zend/public/user/home/updateprojectorder" method="POST">
                    <input type="hidden" name="mid" value="<?php echo $result_merchant->name;?>"/>
                    <input type="submit" style="float:right;margin-top:-80px;" class="btn btn-success" value="Update Order">
                <ul id="sortable">
                    <?php foreach($project_result as $row){ ?>
                        <li class="ui-state-default">
                            <input type="hidden" name="project[]" value="<?php echo $row->project_id?>"/>
                            <!--<div class="col-lg-4">-->
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <?php echo $row->project_name; ?>
                                    </div>
                                    <div class="panel-body">
                                        <?php 
                                        $add_image_link=false;
                                        if(isset($image_result[$row->project_id][0]['filename']) && $image_result[$row->project_id][0]['filename'] != "") {?>
                                        <a href="<?php echo $this->url('user/home', array('action' => 'projectdetail','param1' => $row->project_id,'param2' => str_replace(' ', '-', $row->user_name)));?>">
                                        <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.$image_result[$row->project_id][0]['filename'];?>" alt="" class="img-responsive" style="height:250px; width=320px; border:1px solid #000;"/></a>
                                        <?php } else{
                                            $add_image_link = true;
                                            ?>
                                            <img src="<?php echo 'http://'. $_SERVER['SERVER_NAME'].$aimg_path.'noimage.gif'?>" class="img-responsive" style="height:250px; width=320px; border:1px solid #000;"/>
                                        <?php } ?>
                                    </div>
                                    <div class="panel-footer">
                                        
                                        <a href="<?php echo $this->url('user/home', array('action' => 'editproject','param1' => $row->project_id,'param2' => str_replace(' ', '-', $row->user_name)));?>" class="btn btn-xs btn-success">Edit</a>
                                        <a href="<?php echo $this->url('user/home', array('action' => 'deleteproject','param1' => $row->project_id,'param2' => str_replace(' ', '-', $row->user_name)));?>" class="btn btn-xs btn-danger" onclick="return confirm('Confirm delete?')">Delete</a>
                                    </div>
                                </div>
                            <!--</div>-->
                        </li>    
                <?php } ?>
                </ul>
                </form>    
            </div>
        </div>
        <?php } else {?>
                <div class="alert alert-info"> You have not uploaded any project.</div>
        <?php } ?>
    </div>
</section>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $(document).ready(function(){
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
  });
</script>