<?php $currenturi = $this->serverUrl(true); 
//echo '<pre>'; print_r($_SERVER); exit;
//echo $user_session->user_id; exit;
?>

<section class="edit-profile">
  <div class="container" style="z-index:1; position:relative;">
    <div class="row">
      <div class="col-lg-3 col-sm-5 col-xs-3">
        <div class="thumbnail edit-profile-pic" style="background:none; border:none; margin-bottom:30px;">
           <?php
          if($photographerdata->profilepic=="")
            {?>
                <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path;?>58345_tn120x120_profile.jpg" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } else {?>
            <img class="img-responsive img-circle" style="border-radius: 50%;" src="<?php echo $profile_img_path . str_replace("_pp_","_tn120x120_",$photographerdata->profilepic);?>" alt="Photographer Picture" width="150" style="border-radius: 50%;">
            <?php } ?>
        </div>
        <?php
        if($_SESSION['user']->user_id == $photographerdata->user_id)
        {

            echo "<a href='user/photographer/editprofile' class='btn btn-success pull-left' style='margin-left:20px;'>Edit Profile</a>";
        }
        ?>
        
          
      </div>
      <div class="col-lg-5 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-left">
          <div class="detail-box-first">
            <h3><?php echo $photographerdata->name; ?></h3>
            <p class="desc-profile "><?php echo $photographerdata->tagline; ?></p>
            <p class="desc-profile "><i class="fa fa-phone"></i> <?php echo $photographerdata->phone; ?></p>
            <p class="desc-profile "><i class="fa fa-map-marker"></i><?php echo $photographerdata->location; ?></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3 col-xs-12">
        <div class="profile-detail-box pull-right">
          <div class="detail-box-first">
            <ul class="list-inline">
              <li><a data-toggle="modal" data-target="#myRateModal" href="#myRateModal" ><i class="fa fa-star"></i> 5 Rated</a></li>
             
              
              <?php 
              if($_SESSION['user']->user_id != $photographerdata->user_id)
              {
                if(!empty($_COOKIE['user']))
                {
                  if(in_array($pg_id,$_COOKIE['user']))
                  {
                    echo "<li id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                    echo "<li id = 'shortstatus' style='display:none;' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  } 
                  else 
                  {
                    echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                    echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                  } 
                }
                else 
                {
                  echo "<li id = 'shortstatus' onclick='shortlist();'><a href='javascript:void(0);'><i class='fa fa-heart-o'></i> Short List</a></li>";
                  echo "<li style='display:none;' id = 'unshortstatus' onclick='unshortlist();'><a href='javascript:void(0);'><i class='fa fa-heart'></i> Short Listed</a></li>";
                } 
              } ?>
              
            </ul>
            <p>Rate: <?php echo $photographerdata->price; ?> INR/PNG</p>
          </div>
          <a href="<?php echo $currenturi; ?>#contact" class="btn btn-success pull-right"><i class="fa fa-send-o space-right"></i>Send Message</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="rate-block" class="row centered">
          <p style="margin:0 0 8px 0px;display:none" id="loader_img">
              <img src="/public/images/loader.gif" alt=""/>
          </p>
                                      
          <form role="form" action="/user/home/login" method="post" class="login-form col-sm-12" id="logn-form" name="logn-form">
            <div class="form-group">
              <label class="sr-only" for="form-username">Name</label>
              <input type="text" name="ratename" placeholder="Name" class="form-username form-control" id="ratename">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-username">Email</label>
              <input type="text" name="rateemail" placeholder="Email" class="form-username form-control" id="rateemail">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-phone">Phone</label>
              <input type="text" name="ratephone" placeholder="Phone" class="form-password form-control" id="ratephone">
            </div>
            <div class="form-group">
              <label class="sr-only" for="form-review">Review</label>
              <textarea  name="ratereview" placeholder="Your Review Here" class="form-password form-control" id="ratereview"></textarea>
            </div>
            <p class="btn btn-danger btn btn-primary btn-lg" onclick="javascript:validate_rating()" id="otpBtn">Send OTP </p>
            <p class="btn-success" id="otpmsg"></p>
            
            <div style ="display:none;" id = "otpsection">
              <div class="modal-footer" >
                <div class="form-group">
                  <label class="sr-only" for="form-username">OTP</label>
                  <input type="text" name="rateotp" placeholder="OTP" class="form-username form-control" id="rateotp">
                </div>
              </div>
              <button type="button" class="btn btn-danger btn btn-primary btn-lg centered" onclick="javascript:validate_otp()" id="submitbtn">Submit</button>
            </div>
          </form>
        </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
function validate_rating()
{
  /*var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/; */
  var emailRegex= /[-0-9a-zA-Z.+]+@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}/;
  var name = $("#ratename").val();
  var email = $("#rateemail").val();
  var phone = $("#ratephone").val();
  var review = $("#ratereview").html();
  alert(review.length);
  alert(review);


  if(name == "" )
  {
   $("#ratename").attr("placeholder", "Name cant be empty");
   $("#ratename").css("border", "2px solid red");
   return false;
  }
  else if(email == "" )
  {
   $("#rateemail").attr("placeholder", "Email cant be empty");
   $("#rateemail").css("border", "2px solid red");
   return false;
  }
  else if(!emailRegex.test(email))
  {
   $("#rateemail").val("");
   $("#rateemail").attr("placeholder", "Email is not valid");
   $("#rateemail").css( "border", "2px solid red");
   return false;
  }
  else if(phone == "" || phone.length!=10)
  {
   //$("#password").focus();
   $("#ratephone").attr("placeholder", "Phone cant be less than 10 digits.");
   $("#ratephone").css( "border", "2px solid red");
   return false;
  }
  else if(isNaN(phone))
  {
    $("#ratephone").attr("placeholder","Phone should be numeric.");
    $("#ratephone").css("border", "2px solid red");
    return false;
  }
  else if(review.length== 0)
  {
   $("#ratereview").attr("placeholder", "Review cant be empty");
   $("#ratereview").css( "border", "2px solid red");
   return false;
  }
  else if(email != '' && review.length != 0 && phone != '' && name != '')
  {    
    
      $("#otpBtn").hide();
      $("#otpmsg").html("Please enter OTP");
      $("#otpsection").css('display','block');
  }
}
</script>

