#search-bar .inputosaurus-container {
	min-height :44px;
	border:4px solid #54ba4b;
	padding-top:2px;
	margin-right:0px;
}

.error
{
	color:#ff0000;
}

.size
{
	max-width:229px !important;
	height:237px !important;
}