

<section class="profile-type">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h1 class="pt-main-heading">Welcome <span style="color:#54ba4e;"><?php echo $_SESSION['user']->first_name;?>:)</span></h1>
			</div>
		</div>
		<div class="row" style="margin:0px 0 40px 0;">
			<?php 
		   	// echo '<pre>';print_r($photographerdata);exit;
		    $percent = 0;
		    $show_percent = 0;
		    if($photographerdata->profile_progress==1)
		    {
			$percent = $percent + 0.1;
		    }
		    if($photographerdata->total_albums>0)
		    {
			$percent = $percent + (0.15 * $photographerdata->total_albums);
		    }
		    if($percent>=1.0)
		    {
			$percent=1.0;
		    }
		    if($percent>0)
		    {
			$show_percent = $percent*100;
		    }
			?>

			<div class="text-center"><h6 > Your Profile Completeness </h6><meter class="text-center" id="meter" value="<?php echo $percent;?>" style="width:35%; height:20px; margin-right:10px;"></meter><span id = "meter_per"><?php echo $show_percent."%";?></span></div>
		</div>
		<p class = "pull-right"> No. of Views : <?php echo $photographerdata->visit; ?> </p>
	</div>
</section>
<section class="profile-type">
	<div class="container">
		<!--page main heading end here-->
		<div class="row">
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/profile/<?php echo $_SESSION['user']->user_id;?>" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/profile.jpeg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">My Profile</h3>
						<!--<p><?php //echo $photographerdata->description;?></p>-->
						<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis.</p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/editprofile" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/profile.jpeg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">Album</h3>
						<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis.</p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="/user/photographer/editprofile" class="thumbnail dashboard-thumb">
					<img src="public/front/dashboard/img/profile.jpeg" class="img-responsive"/>
					<div class="profile-detail">
						<h3 class="welcome-title">Photos</h3>
						<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis.</p>
						<button class="btn btn-success btn-block">View Detail</button>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="profile-type">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">

			<?php 
			//$photographerdata->total_albums = 0 ;
			//echo '<pre>';print_r($photographerdata);exit;
			if($photographerdata->total_albums ==0)
			{?>
				<h4><span style="color:#ff0000;">Add atleast one album to publish yous profile. </span><span><a href="user/photographer/addalbum" class="btn btn-success btn-sm "><i class="fa fa-plus space-right"></i>Add Album</a></span></h4><?php
			}
			elseif($photographerdata->status == 0)
			{?>
				<h4 id="successmsg"><span  style="color:#54ba4e;">Congratulations!!, </span>now you can submit your profile for approval. <span><p id="submit" class="btn btn-success btn-sm" onclick = "submitprofile();">Submit Profile</p></span></h4>
				<?php
			}
			elseif($photographerdata->status == 1)
			{?>
				<h4><span style="color:#54ba4e;">Congratulations!!, </span>Your profile is successfully submitted and is pending review. Once your website is approved it would go live on Ownrock!! </h4>
				<?php
			}
			elseif($photographerdata->status == 2)
			{?>
				<h4><span style="color:#54ba4e;">Great!!, </span>Your profile is now live, up and ticking!!. </h4>
				<?php
			}
			elseif($photographerdata->status == 3)
			{?>
				<h4><span style="color:#ff0000;">Sorry!!, </span>your portfolio was not approved. Please check your mail for the suggestions on improving your portfolio. you can also call/whtsapp us on '9867896463'.</h4>
				<?php
			}?>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
function submitprofile()
{
	var user_id = "<?php echo $_SESSION['user']->user_id;?>";
    var ajax_url= site_url+'/user/photographer/submitprofile';
     
    $.ajax({
        url: ajax_url,
        data: {user_id: user_id},
        success: function(data) { 
            if(data.response == 'success')
            {
                $("#submit").html("Pending...");
                //$("#status").html("Pending...");
                $("#successmsg").html("Your profile is successfully submitted and is pending review. Once your website is approved it would go live on Ownrock!!");
            }
            else
            {
                alert('An error has occurred!');
            }
        },
        type: 'POST',
        dataType: 'json',
    });
}
</script>