<?php echo $this->doctype(); ?>
<!DOCTYPE html>

<?php
$form = $this->form;
$form->prepare();

$form->SetAttribute('action', $this->url(NULL, array('controller' => 'login', 'action' => 'process')));
$form->setAttribute('method', 'post');
echo $this->form()->openTag($form);?>
<html lang="en">
    <head>
        
         <?php
        $b =  $this->basePath();
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min_fickle.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap-switch.min_fickle')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min_1.css')
                ->prependStylesheet($this->basePath() . '/css/ladda-themeless.min_fickle.css')
                ->prependStylesheet($this->basePath() . '/css/humane_themes/bigbox.css')
                ->prependStylesheet($this->basePath() . '/css/humane_themes/jackedup.css')
                ->prependStylesheet($this->basePath() . '/css/humane_themes/libnotify.css')
        ?>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Viewport metatags -->
        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- iOS webapp metatags -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- iOS webapp icons -->
        <link rel="apple-touch-icon-precomposed" href="assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ios/fickle-logo-72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ios/fickle-logo-114.png" />

        <!-- TODO: Add a favicon -->
        <link rel="shortcut icon" href="assets/images/ico/fab.ico">

        <title>Login</title>

       
        <link rel="stylesheet" href="/zend/public/css/style_fickle.css">
        <link rel="stylesheet" href="/zend/public/css/pace.css">
        <link rel="stylesheet" href="/zend/public/css/responsive.css">
		
        <script src="/zend/public/js/pace.min.js"></script>
        <!--Page loading plugin End   -->

        <!-- Plugin Css Put Here -->

       

    </head>
    <body class="login-screen">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-box">
                            <div class="login-content">
                                <div class="login-user-icon">
                                    <i class="glyphicon glyphicon-user"></i>

                                </div>
                                <h3>Identify Yourself</h3>
                                <div class="social-btn-login">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fa fa-bitbucket"></i></a></li>
                                    </ul>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-facebook"></i></button>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-twitter"></i></button>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-linkedin"></i></button>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-google-plus"></i></button>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-github"></i></button>
                                    <button class="btn ls-dark-btn rounded"><i class="fa fa-bitbucket"></i></button>
                                </div>
                            </div>
                             <div class="login-form">
                                <form id="form-login" class="form-horizontal ls_form">
                                    <div class="input-group ls-group-input">
                                      <?php echo $this->formElement($form->get('email'));?>
                                       <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                    <div class="input-group ls-group-input">
                                        <?php echo $this->formElement($form->get('password'));?>     
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <div class="remember-me">
                                        <?php echo $this->formElement($form->get('rememberme'));?>
                                        <span>Remember me</span>
                                    </div>
                                    <div class="input-group ls-group-input login-btn-box">
                                        <button class="btn ls-dark-btn ladda-button col-md-12 col-sm-12 col-xs-12" data-style="slide-down">
                                        <?php echo $this->formElement($form->get('Login'));?>
                                        <span class="ladda-label"><i class="fa fa-key"></i></span>
                                        </button>
                                        <a class="forgot-password" href="javascript:void(0)">Forgot password</a>
                                    </div>
                                </form>
                            </div>
                            <div class="forgot-pass-box">
                                <form action="#" class="form-horizontal ls_form">
                                    <div class="input-group ls-group-input">
                                        <input class="form-control" type="text" placeholder="someone@mail.com">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <div class="input-group ls-group-input login-btn-box">
                                        <button class="btn ls-dark-btn col-md-12 col-sm-12 col-xs-12">
                                            <i class="fa fa-rocket"></i> Send
                                        </button>
                                        <a class="login-view" href="javascript:void(0)">Login</a> & <a class="" href="registration.html">Registration</a>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <p class="copy-right big-screen hidden-xs hidden-sm">
                <span>&#169;</span>  <span class="footer-year">2014</span>
            </p>
        </section>

    </body>
   
    <?php
    echo $this->headScript()
            ->prependFile($this->basePath() . '/js/lib/jquery-2.1.1.min.js')
            ->prependFile($this->basePath() . '/js/lib/jquery.easing.js')
            ->prependFile($this->basePath() . '/js/bootstrap-switch.min.js')
            ->prependFile($this->basePath() . '/js/loader/spin.js')
            ->prependFile($this->basePath() . '/js/loader/ladda.js')
            ->prependFile($this->basePath() . '/js/loader/humane.min.js')
            ->prependFile($this->basePath() . '/js/loader/login.js')
            ->prependFile($this->basePath() . '/js/loader/pace.min.js')
             ->prependFile($this->basePath() . '/js/script.js')

              ;
    ?>
</html>
<?php echo $this->form()->closeTag($form);?>





