

        <!--Page main section start-->
        <section id="min-wrapper">
            <div id="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!--Top header start-->
                            <h3 class="ls-top-header">List of Advertisers</h3>
                 
                            <!--Top header end -->

                            <!--Top breadcrumb start -->
                            <ol class="breadcrumb">
                                <li><a href="#"><i class="fa fa-home"></i></a></li>
                                 <a href="<?php echo $this->url('user/usermanager', array('action' => 'add'));
?>">&raquo; Add New Advertiser</a>
                            </ol>
                            <!--Top breadcrumb start -->
                        </div>
                    </div>
                    


                    <div class="row">
                        <div class="col-md-12">
                          
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    
                                    <h3 class="panel-title">Advertisers</h3>
                                </div>
                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email id</th>
                                                <th>User Type</th>
                                                <th>Registration Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                 <?php foreach ($this->paginator as $user) : ?>
                                                <td>1</td>
                                                <td><?php echo $this->escapeHtml($user->name); ?></td>
                                                <td><?php echo $this->escapeHtml($user->email); ?></td>
                                                <td>
                                                    <?php echo $this->escapeHtml($user->user_type); ?>
                                                </td>
                                                <td>
                                                  <?php echo $this->escapeHtml($user->registration_date); ?>
                                                </td>
                                                
                                                <td class="text-center">
                                                    <button class="btn btn-xs btn-success"><a href="<?php echo $this->url('user/usermanager', array('action' => 'edit', 'id' => $user->id));?>">Edit</a><i class="fa fa-eye"></i></button> 
                                                    <button class="btn btn-xs btn-warning"><a href="<?php echo $this->url('user/usermanager', array('action' => 'delete', 'id' => $user->id));?>">Delete<i class="fa fa-pencil-square-o"></i></button>
                                                    <button class="btn btn-xs btn-danger"><i class="fa fa-minus"></i></button>
                                                </td>
                                            </tr>
                                            
                               <?php endforeach; ?>     

                                            </tbody>
                                        </table>
                                    </div>
                                    
                                    <!--Table Wrapper Finish-->
                                    <div class="text-center">
                                        <div class="ls-button-group demo-btn ls-table-pagination">
                                            <ul class="pagination ls-pagination">
                                             <?php
                     // add at the end of the file after the table
                                    echo $this->paginationControl(
                                            // the paginator object
                                            $this->paginator,
                                            // the scrolling style
                                            'sliding',
                                            // the partial to use to render the control
                                            'partial/paginator.phtml',
                                            // the route to link to when a user clicks a control link
                                            array(
                                        'route' => 'user/usermanager'
                                            )
                                    );
                                    ?>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  